<nz-tabset>
    <nz-tab nzTitle="Thông tin chung">
        <!-- <one-portal-overview></one-portal-overview> -->
        Đang cập nhật ...

    </nz-tab>
    <nz-tab nzTitle="Quản lý Database">
        <ng-template nz-tab>
            <one-portal-mngt-database></one-portal-mngt-database>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Quản lý tài khoản">
        <ng-template nz-tab>
            <one-portal-user-role></one-portal-user-role>
        </ng-template>
        
    </nz-tab>
    <nz-tab nzTitle="Back up">
        Đang cập nhật ...
    </nz-tab>
    <nz-tab nzTitle="Ghi nhật ký">
        <!-- <ng-template nz-tab>
            <one-portal-logging></one-portal-logging>
        </ng-template> -->
        Đang cập nhật ...
        
    </nz-tab>
    <nz-tab nzTitle="Giám sát">
        Đang cập nhật ...
    </nz-tab>

  </nz-tabset>