<page-header
  [breadcrumb]="breadcrumb"
  [title]="'app.payment-detail.title' | i18n"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="iconTemplate">
      <nz-breadcrumb-item>
        <a [routerLink]="['/']" class="link_breadcrumb">{{
          'app.breadcrumb.home' | i18n
        }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a
          [routerLink]="['/app-smart-cloud/billing/payments']"
          class="link_breadcrumb"
          >Billing
        </a>
      </nz-breadcrumb-item>
      <!-- <nz-breadcrumb-item> <a [routerLink]="['/app-smart-cloud/billing/payments']">Billing</a> </nz-breadcrumb-item> -->
      <nz-breadcrumb-item>
        <a
          [routerLink]="['/app-smart-cloud/billing/payments']"
          class="link_breadcrumb"
          >{{ 'app.payment.payment' | i18n }}</a
        >
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.payment-detail.title' | i18n }}
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #iconTemplate
      ><one-portal-svg-icon [icon]="'icon_breadcrumb'"></one-portal-svg-icon
    ></ng-template>
  </ng-template>
</page-header>

<nz-spin [nzSpinning]="isLoading">
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="16">
      <nz-card style="border-radius: 8px">
        <nz-row class="customRow">
          <nz-col style="width: 80%; display: flex; gap: 5px">
            <span style="font-weight: 600; font-size: 20px"
              >{{ 'app.payment.paymentCode' | i18n }}
              {{ payment?.paymentNumber }}</span
            >
            <span
              class="paidField"
              *ngIf="payment?.paymentLatestStatus == 'PAID'"
              >{{ 'app.payment.status.paid' | i18n }}</span
            >
            <span
              class="initField"
              *ngIf="payment?.paymentLatestStatus == 'INIT'"
              >{{ 'app.payment.status.init' | i18n }}</span
            >
            <span
              class="failedField"
              *ngIf="payment?.paymentLatestStatus == 'FAILED'"
              >{{ 'app.payment.status.cancel' | i18n }}</span
            >
          </nz-col>
        </nz-row>
        <nz-row nzGutter="16" style="padding-top: 50px; padding-bottom: 20px">
          <div nz-col nzSpan="12">
            <nz-row class="label-fontsize mb-6">
              <span nz-col nzSpan="8" class="fw-400" style="width: 40%"
                >{{ 'app.payment-detail.customerName' | i18n }}:</span
              >
              <span nz-col nzSpan="16" class="fw-600">{{
                (userModel$ | async)?.fullName === ''
                  ? '-'
                  : (userModel$ | async)?.fullName
              }}</span>
            </nz-row>
            <nz-row class="label-fontsize mb-6">
              <span nz-col nzSpan="8" class="fw-400" style="width: 40%"
                >{{ 'app.payment-detail.phone' | i18n }}:</span
              >
              <span nz-col nzSpan="16" class="fw-600">{{
                (userModel$ | async)?.phoneNumber === ''
                  ? '-'
                  : (userModel$ | async)?.phoneNumber
              }}</span>
            </nz-row>
            <nz-row class="label-fontsize mb-6">
              <span nz-col nzSpan="8" class="fw-400" style="width: 40%"
                >{{ 'app.payment-detail.customerName' | i18n }}:</span
              >
              <span nz-col nzSpan="16" class="fw-600">
                {{
                  (userModel$ | async)?.email === ''
                    ? '-'
                    : (userModel$ | async)?.email
                }}</span
              >
            </nz-row>
            <nz-row class="label-fontsize">
              <span nz-col nzSpan="8" class="fw-400" style="width: 40%"
                >{{ 'app.payment-detail.address' | i18n }}:</span
              >
              <span
                nz-col
                nzSpan="16"
                class="fw-600"
                style="word-break: break-all"
                >{{
                  (userModel$ | async)?.address === ''
                    ? '-'
                    : (userModel$ | async)?.address
                }}</span
              >
            </nz-row>
          </div>
          <div nz-col nzSpan="12">
            <nz-row class="label-fontsize mb-6">
              <span class="fw-400" style="width: 40%"
                >{{ 'app.payment-detail.createDate' | i18n }}:</span
              >
              <span class="fw-600"
                >{{ payment?.createdDate | date : 'HH:mm:ss dd/MM/yyyy' }}
              </span>
            </nz-row>
            <nz-row class="label-fontsize mb-6">
              <span class="fw-400" style="width: 40%"
                >{{ 'app.payment-detail.paymentMethod' | i18n }}:</span
              >
              <span class="fw-600"> {{ payment?.paymentMethod }} </span>
            </nz-row>
            <nz-row class="label-fontsize mb-6">
              <span class="fw-400" style="width: 40%"
                >{{ 'app.payment-detail.orderCode' | i18n }}:</span
              >
              <span
                class="fw-600"
                style="color: #248fcc; cursor: pointer"
                [routerLink]="['/app-smart-cloud/order/detail/', orderNumber]"
                >{{ payment?.orderNumber }}</span
              >
            </nz-row>
            <nz-row class="label-fontsize">
              <span class="fw-400" style="width: 40%"
                >{{ 'app.payment.invoiceNumber' | i18n }}:</span
              >
              <span
                (click)="
                  payment?.eInvoiceCode !== null &&
                    printInvoice(payment?.eInvoiceCode)
                "
                [ngStyle]="
                  payment?.eInvoiceCode !== null && { cursor: 'pointer' }
                "
                class="fw-600"
                style="color: #248fcc"
                >{{
                  payment?.eInvoiceCode === null
                    ? '-'
                    : payment?.eInvoiceCodePadded
                }}</span
              >
            </nz-row>
          </div>
        </nz-row>
        <div
          class="d-flex justify-content-center"
          *ngIf="payment?.paymentLatestStatus == 'INIT'"
        >
          <button
            nz-button
            [nzType]="'primary'"
            (click)="payNow()"
            style="
              background-color: #e58200;
              border: none;
              outline: none;
              padding: 0 50px;
              display: flex;
              align-items: center;
              gap: 5px;
            "
          >
            <img src="assets/imgs/wallet.svg" alt="" />
            <span>{{ 'app.payment.pay.now' | i18n }}</span>
          </button>
        </div>
      </nz-card>
      <nz-card style="border-radius: 8px">
        <nz-row
          style="
            border-bottom: 1px solid #f2f2f2;
            padding-left: 2%;
            padding-bottom: 2%;
            padding-left: 0px;
          "
        >
          <span style="font-weight: 600; font-size: 20px">{{
            'app.payment-detail.serviceInformation' | i18n
          }}</span>
          <br />
        </nz-row>
        <nz-table [nzData]="data?.orderItems" nzHideOnSinglePage="true" nzTableLayout="fixed">
          <thead>
            <tr>
              <th style="width: 200px;">{{ 'app.payment-detail.serviceName' | i18n }}</th>
              <th>{{ 'app.payment.service.type' | i18n }}</th>
              <th>{{(this.priceType == PriceType.PerMonth ? 'app.payment-detail.price'  : 'app.payment-detail.price.year') | i18n }}</th>
              <th>{{(this.priceType == PriceType.PerMonth ? 'app.payment-detail.remain'  : 'app.payment-detail.remain.year')  | i18n }}</th>
              <th>{{ 'app.payment-detail.quantity' | i18n }}</th>
              <th>{{ 'app.payment-detail.totalPrice' | i18n }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data?.orderItems">
              <td class="text-left text-hidden" title="{{ item?.serviceName }}">{{ item.serviceName }}</td>
              <td class="text-left">{{ item.serviceType }}</td>
              <td class="text-right">
                {{ item.unitPrice.amount | number : '1.0-0' }}
              </td>
              <td class="text-right">{{ item.duration }}</td>
              <td class="text-right">{{ item.quantity }}</td>
              <td class="text-right">
                {{ item.totalAmount.amount | number : '1.0-0' }}
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-card>
    </div>
    <div nz-col nzSpan="8">
        <nz-card style="border-radius: 8px; border-color: #b2deff">
          <div style="margin-bottom: 20px">
            <span class="text-card-header">{{
              'app.payment-detail.paymentInformation' | i18n
            }}</span>
          </div>
          <div>
            <nz-table>
              <tr style="margin-bottom: 5px" class="label-fontsize">
                <td>{{ 'app.payment-detail.totalAmount' | i18n }}</td>
                <td style="text-align: right">
                  <span class="price"
                    >{{ payment?.amount | number : '1.0-0' }} VND</span
                  >
                </td>
              </tr>
              <tr>
                <td style="border-bottom: 1px solid rgba(0, 0, 0, 0.06)"></td>
                <td style="border-bottom: 1px solid rgba(0, 0, 0, 0.06)"></td>
              </tr>
              <tr style="height: 10px">
                <td></td>
                <td></td>
              </tr>
              <tr style="margin-bottom: 5px" class="label-fontsize">
                <td>VAT(10%)</td>
                <td style="text-align: right">
                  <span class="price"
                    >{{ payment?.vat | number : '1.0-1' }} VND</span
                  >
                </td>
              </tr>
              <tr>
                <td style="border-bottom: 1px solid rgba(0, 0, 0, 0.06)"></td>
                <td style="border-bottom: 1px solid rgba(0, 0, 0, 0.06)"></td>
              </tr>
              <tr style="height: 20px">
                <td></td>
                <td></td>
              </tr>
              <tr style="background-color: #cce9ff" class="label-fontsize">
                <td style="padding: 10px; border-radius: 8px 0 0 8px">
                  <span
                    style="display: block; font-size: 16px; font-weight: 600"
                    >{{ 'app.payment-detail.totalPayment' | i18n }}</span
                  >
                  <span>({{ 'app.payment-detail.vat' | i18n }})</span>
                </td>
                <td
                  style="
                    text-align: right;
                    color: #ea3829;
                    font-weight: 600;
                    padding: 10px;
                    border-radius: 0 8px 8px 0;
                  "
                >
                  {{ payment?.totalAmount | number : '1.0-0' }}
                  VND
                </td>
              </tr>
            </nz-table>
            <div
              (click)="download(payment?.eInvoiceCode)"
              *ngIf="
                payment?.paymentLatestStatus == 'PAID' &&
                payment?.eInvoiceCode !== null
              "
              style="
                margin-top: 20px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <span style="border: none" nz-button
                ><one-portal-svg-icon
                  [icon]="'icon_download_pdf'"
                  class="icon-padding-right"
                ></one-portal-svg-icon>
              </span>
              <span class="text-label" style="color: #0066b0">{{
                'app.payment-detail.downloadPdf' | i18n
              }}</span>
            </div>
          </div>
        </nz-card>

    </div>
  </div>
</nz-spin>
