<page-header [breadcrumb]="breadcrumb" [action]="action"
             [title]="'app.backup.vm.restore'|i18n">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home'|i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ 'app.breadcrumb.infrastructure.service'|i18n }}</nz-breadcrumb-item>
      <nz-breadcrumb-item [routerLink]="'/app-smart-cloud/backup-vm'">Backup VM</nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ 'app.backup.vm.restore'|i18n }}</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>

  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               (userChanged)="userChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <form nz-form [formGroup]="validateForm" nzLayout="vertical">
    <nz-row nzGutter="24">
      <nz-col nzSpan="16">
        <nz-card style="border-radius: 8px;">
          <span class="text-card-header">{{ 'app.backup.vm.ìnformation'|i18n }}</span>
          <nz-row nzGutter="24" style="margin-top: 25px;">
            <nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>
                  <span>{{ 'app.table.backup.vm.name'|i18n }}</span>
                </nz-form-label>
                <nz-form-control>
                  <input nz-input class="input-custom" [value]="backupVmModel?.name" [disabled]="true" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label>
                  <span>{{ 'app.instances.OS'|i18n }}</span>
                </nz-form-label>
                <nz-form-control>
                  <input nz-input class="input-custom" [value]="backupVmModel?.systemInfoBackups[0].osName"
                         [disabled]="true" />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>
                  <span>{{ 'app.info.backup.vm.vm.root'|i18n }}</span>
                </nz-form-label>
                <nz-form-control>
                  <input nz-input class="input-custom" [value]="backupVmModel?.instanceName" [disabled]="true" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label>
                  <span>{{ 'app.backup.package.storage'|i18n }}</span>
                </nz-form-label>
                <nz-form-control>
                  <nz-input-group [nzAddOnAfter]="'GB'" style="width: 100%;">
                    <input nz-input class="input-custom" [value]="backupPackage?.sizeInGB" [disabled]="true" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
        </nz-card>
        <nz-card style="border-radius: 8px;">
          <span class="text-card-header">{{ 'app.info.backup.vm.restore.information'|i18n }}</span>
          <nz-radio-group [(ngModel)]="selectedOption"
                          [ngModelOptions]="{standalone: true}"
                          (ngModelChange)="onSelectionChange()" style="margin-top: 25px; display: grid;">
            <label nz-radio nzValue="current">
              {{ 'app.backup.vm.restore.current'|i18n }}</label>
            <label nz-radio nzValue="new" style="margin-top: 10px;">
              {{ 'app.backup.vm.restore.new'|i18n }}</label>
          </nz-radio-group>
          <div *ngIf="selectedOption == 'current'" formGroupName="formCurrent">
            <nz-row nzGutter="24" style="margin-top: 20px;">
              <nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>
                    <span>{{ 'app.backup.vm.restore.instance.name'|i18n }}</span>
                  </nz-form-label>
                  <nz-form-control>
                    <input nz-input class="input-custom" [value]="backupVmModel?.instanceName" [disabled]="true" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label>
                    <span>{{ 'app.backup.vm.restore.storage.os'|i18n }}</span>
                  </nz-form-label>
                  <nz-form-control>
                    <nz-input-group [nzAddOnAfter]="'GB'" style="width: 100%;">
                      <input nz-input class="input-custom" [value]="backupVmModel?.systemInfoBackups[0].osName"
                             [disabled]="true" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label>
                    <span *ngIf="typeVpc == 0" style="color: #FF0000">{{ 'app.service.expiration-date'|i18n }}
                      : {{ backupPackage?.expirationDate | date: 'dd/MM/yyyy' }}</span>
                    <span *ngIf="typeVpc == 1" style="color: #FF0000">{{ 'app.service.expiration-date'|i18n }}
                      : {{ projectDetail?.expirationDate | date: 'dd/MM/yyyy' }}</span>
                  </nz-form-label>
                </nz-form-item>
              </nz-col>
              <nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>
                    <span>Security Group</span>
                  </nz-form-label>
                  <nz-form-control>
                    <input nz-input class="input-custom" [value]="nameSecurityGroupTextUnique" [disabled]="true" />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label>
                    <span>{{ 'app.info.backup.vm.external.volume'|i18n }}</span>
                  </nz-form-label>
                  <nz-form-control>
                    <input nz-input class="input-custom" [value]="nameVolumeBackupAttachNameUnique" [disabled]="true" />
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
            </nz-row>
          </div>
          <div *ngIf="selectedOption == 'new'" formGroupName="formNew">
            <nz-row nzGutter="24" style="margin-top: 25px;">
              <nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>
                    <span>{{ 'app.instances.name'|i18n }} (<span style="color: #FF0000;">*</span>)</span>
                    <img style="margin-left: 10px" nz-popover
                         [nzPopoverPlacement]="'bottom'"
                         [nzPopoverContent]="'app.tooltip.instance.name' | i18n"
                         src="assets/imgs/pajamas_question.svg" alt="" />
                  </nz-form-label>
                  <nz-form-control nzDisableAutoTips [nzErrorTip]="nameErrorTpl">
                    <input appAutofocus class="input-custom" nz-input formControlName="instanceName"
                           [placeholder]="'app.input.name' | i18n"
                           [maxlength]="50" />
                    <ng-template #nameErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">{{ 'validation.info.required' | i18n }}
                      </ng-container>
                      <ng-container *ngIf="control.hasError('pattern')">{{ 'validation.name.pattern' | i18n }}
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label>
                    <span>{{ 'app.choose.ip.public' | i18n }} (<span style="color: #FF0000">*</span>)</span>
                    <img style="margin-left: 10px"
                         nz-popover
                         [nzPopoverContent]="contentTemplateIPPublic"
                         src="assets/imgs/pajamas_question.svg" alt="" />
                    <ng-template #contentTemplateIPPublic>
                      <span [innerHTML]="'app.tooltip.instance.ip.public' | i18n"></span>
                      <a
                        [routerLink]="['/app-smart-cloud/networks/ip-floating/list']">{{ 'app.ip.floating' | i18n }}</a>
                    </ng-template>
                  </nz-form-label>
                  <nz-form-control>
                    <nz-form-control>
                      <nz-select
                        [nzPlaceHolder]="'menu.dashboard.v1' | i18n"
                        [nzShowSearch]="true"
                        formControlName="ipPublic"
                        nzSize="large">
                        <nz-option [nzLabel]="'menu.dashboard.v1' | i18n"
                                   [nzValue]="0" />
                        <nz-option *ngFor="let i of listIPPublic"
                                   [nzLabel]="i.ipAddress || i.networkId"
                                   [nzValue]="i.id" />
                      </nz-select>
                    </nz-form-control>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item *ngIf="!hidePort">
                  <nz-form-label>
                    <span>{{ 'app.choose.port' | i18n }} (<span class="text-red">*</span>)</span>
                  </nz-form-label>
                  <nz-form-control>
                    <nz-select [nzShowSearch]="true"
                               [(ngModel)]="port"
                               [ngModelOptions]="{ standalone: true }"
                               nzSize="large">
                      <nz-option *ngFor="let i of listPort"
                                 [nzLabel]="i.fixedIPs[0]"
                                 [nzValue]="i.id" />
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
              <nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>
                    <span>{{ 'app.choose.security.group' | i18n }}</span>
                    <img style="margin-left: 10px" nz-popover
                         [nzPopoverPlacement]="'bottom'"
                         [nzPopoverContent]="'app.choose.security.group' | i18n"
                         src="assets/imgs/pajamas_question.svg" alt="" />
                  </nz-form-label>
                  <nz-form-control>
                    <nz-select nzMode="multiple"
                               nzSize="large"
                               formControlName="securityGroupIds"
                               [nzPlaceHolder]="'app.choose.security.group' | i18n">
                      <nz-option *ngFor="let index of backupVmModel?.securityGroupBackups"
                                 [nzValue]="index.id">{{ index.sgName }}
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label>
                    <span>{{ 'app.choose.vlan.instance' | i18n }} (<span style="color: #FF0000">*</span>)</span>
                  </nz-form-label>
                  <nz-form-control>
                    <nz-select
                      [nzShowSearch]="true"
                      formControlName="vlan"
                      (ngModelChange)="getListPort()"
                      nzSize="large">
                      <nz-option [nzLabel]="'Không sử dụng'" [nzValue]="''" />
                      <nz-option
                        *ngFor="let i of listVlanNetwork"
                        [nzLabel]="i.name"
                        [nzValue]="i.cloudId"
                      />
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
            </nz-row>
          </div>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-card style="border-radius: 8px;">
          <span class="text-card-header">{{ 'app.config.parameters'|i18n }}</span>
          <div *ngIf="selectedOption == 'current'" style="margin-top: 25px;">
            <div style="margin-top: 10px" class="text-value">{{ 'app.instances.name'|i18n }}</div>
            <div style="margin-top: 10px" class="text-label">{{ backupVmModel?.instanceName }}</div>
            <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
            <div style="margin-top: 10px" class="text-value">{{ 'app.instances.OS'|i18n }}</div>
            <div style="margin-top: 10px" class="text-label">{{ backupVmModel?.systemInfoBackups[0].osName }}</div>
            <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
            <div style="margin-top: 10px" class="text-value">{{ 'app.info.backup.vm.external.volume'|i18n }}</div>
            <!--            <div style="margin-top: 10px" class="text-label" *ngFor="let data of volumeAttachSelected">{{data?.name}} - {{data?.sizeInGB}} GB</div>-->
            <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
            <nz-row>
              <nz-col style="width: 100%">
                <button style="width: 100%" nz-button nzSize="large" nzType="primary" [nzLoading]="isLoadingCurrent"
                        [disabled]="validateForm.get('formCurrent').invalid" (click)="submitFormCurrent()">
                  <img src="assets/imgs/restore2.svg" style="margin-right: 5px; padding-bottom: 5px;" alt="" />
                  <span [style.color]="validateForm.get('formCurrent').invalid ? 'gray' : 'white'">Khôi phục</span>
                </button>
              </nz-col>
            </nz-row>
          </div>
          <div *ngIf="selectedOption == 'new'" style="margin-top: 25px;">

          </div>
        </nz-card>
      </nz-col>
    </nz-row>
  </form>

</nz-content>
