<page-header
  [breadcrumb]="breadcrumb"
  [title]="'Gia hạn WAF'"
  [action]="action"
>
<ng-template #breadcrumb>
  <nz-breadcrumb [nzSeparator]="iconTemplate">
    <nz-breadcrumb-item
      ><a [routerLink]="['/']">{{
        'app.breadcrumb.home' | i18n
      }}</a></nz-breadcrumb-item
    >
    <nz-breadcrumb-item> {{ 'app.breadcrumb.infrastructure.service' | i18n }} </nz-breadcrumb-item>
    <nz-breadcrumb-item>Web Application Firewall</nz-breadcrumb-item>
    <nz-breadcrumb-item><a [routerLink]="['/app-smart-cloud/waf']">WAF</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>Gia hạn WAF</nz-breadcrumb-item>
  </nz-breadcrumb>
  <ng-template #iconTemplate
    ><one-portal-svg-icon [icon]="'icon_breadcrumb'"></one-portal-svg-icon
  ></ng-template>
</ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
    </div>
  </ng-template>
</page-header>

<form nz-form [nzLayout]="'vertical'">
  <nz-row nzGutter="24">
    <nz-col nzSpan="16">
      <div style="margin-bottom: 20px">
        <nz-card>
          <span class="text-card-header">Thông tin WAF</span>
          <div nz-row [nzGutter]="24" class="info-project">
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
              <div>
                <div nz-row [nzGutter]="24" class="row-white-bg content-items-center">
                  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
                    <span class="label-fontsize">Tên WAF:</span>
                  </div>
                  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
                    <span class="label-fontsize font-bold ">{{WAFDetail?.name}}</span>
                  </div>
                </div>
                <div class="text-hidden" nz-row [nzGutter]="24" class="row-gray-bg content-items-center">
                  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
                    <span class="label-fontsize">Domain:</span>
                  </div>
                  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
                    <span class="label-fontsize font-bold" *ngFor="let domain of domains">
                      {{ domain }}<span *ngIf="!isLastDomain(domain)">, </span>
                    </span>
                  </div>
                </div>
                <div nz-row [nzGutter]="24" class="row-white-bg content-items-center">
                  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
                    <span class="label-fontsize">Trạng thái dịch vụ:</span>
                  </div>
                  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
                    <ng-container *ngIf="WAFDetail?.status | ServiceStatusPipe as statusModel">
                    <span class="label-fontsize font-bold" [ngStyle]="{color: statusModel.color}">{{statusModel.status}}</span>
                  </ng-container>
                  </div>
                </div>
              </div>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
              <div class="" style="margin-left:20px">
                <div nz-row [nzGutter]="24" class="row-white-bg content-items-center">
                  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
                    <span class="label-fontsize">Gói dịch vụ:</span>
                  </div>
                  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
                    <span class="label-fontsize font-bold">{{offerItem?.offerName}}</span>
                  </div>
                </div>
                <div class="text-hidden" nz-row [nzGutter]="24" class="row-gray-bg content-items-center">
                  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
                    <span class="label-fontsize">IP Public:</span>
                  </div>
                  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
                    <span class="label-fontsize font-bold" *ngFor="let ipPublic of ipPublics">
                      {{ ipPublic }}<span *ngIf="!isLastIpPublic(ipPublic)">, </span>
                    </span>
                  </div>
                </div>
                
              </div>
            </div>
          </div>         
        </nz-card>

      </div>
      <one-portal-service-time-extend
        [createDate]="WAFDetail?.createdDate"
        [expiredDate]="WAFDetail?.expiredDate"
        (valueChanged)="onChangeTime($event)"
        [newExpiredDate]="newExpiredDate"
      />
    </nz-col>
    <nz-col nzSpan="8">
      <nz-affix nzOffsetTop="72">
        <nz-card style="border-radius: 8px" class="card-border">
          <div style="margin-bottom: 20px">
            <span class="text-card-header">{{
              'app.estimated.cost' | i18n
            }}</span>
          </div>
          <div style="margin-bottom: 10px">
            <span class="text-value"> Tên WAF </span><br />
            <span class="text-label">{{WAFDetail?.name}}</span>
          </div>
          <div style="margin-bottom: 10px">
            <span class="text-value">Gói dịch vụ {{offerItem?.offerName}}</span><br />
            <span class="text-label" [innerHTML]="offerItem?.description"></span>
          </div>
          <div style="margin-bottom: 10px">
            <span class="text-value">Tên miền</span><br />
            <span class="text-label" *ngFor="let domain of domains">
              {{ domain }}<span *ngIf="!isLastDomain(domain)">, </span>
            </span>
          </div>
          <div style="margin-bottom: 10px">
            <span class="text-value">Policy</span><br />
            <span class="text-label"><span class="label-fontsize font-bold ">{{WAFDetail?.policyName === null ? '-' : WAFDetail?.policyName}}</span></span>
          </div>
          <nz-row
            style="
              margin-bottom: 10px;
              padding-top: 10px;
            "
            nzGutter="16"
          >
            <nz-col nzSpan="16">
              <span class="text-value">
                <span class="text-value">{{
                  'app.cost.n.month' | i18n : { numberMonth: numberMonth }
                }}</span>
              </span>
            </nz-col>
            <nz-col class="text-right" nzSpan="8">
              <span class="text-value" style="color: #0066b3" nzAlign="right">
                {{ totalAmount | number }} VND
              </span>
            </nz-col>
          </nz-row>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <nz-row style="margin-bottom: 10px" nzGutter="16">
            <nz-col nzSpan="16">
              <span class="text-value">{{ 'app.cost.vat' | i18n }}</span>
            </nz-col>
            <nz-col class="text-right" nzSpan="8">
              <span
                class="text-value"
                style="color: #0066b3"
                nzAlign="right"
                *ngIf="orderObject == null"
                >0 VND</span
              >
              <span
                class="text-value"
                style="color: #0066b3"
                nzAlign="right"
                *ngIf="orderObject != undefined"
              >
                {{ orderObject?.totalVAT?.amount | number }}
                {{ orderObject?.totalVAT?.currency }}
              </span>
            </nz-col>
          </nz-row>
          <nz-row
            style="
              margin-bottom: 20px;
              background-color: #cce9ff;
              padding: 16px 0 16px 0;
              border-radius: 8px;
            "
            nzGutter="16"
          >
            <nz-col nzSpan="16">
              <span class="text-label">{{ 'app.total.payment' | i18n }}</span
              ><br />
              <span class="text-note-italicized"
                >({{ 'app.include.vat' | i18n : { vat: '10' } }})</span
              >
            </nz-col>
            <nz-col class="text-right" nzSpan="8">
              <span class="text-value" style="color: #ea3829" nzAlign="right">
                {{ totalincludesVAT | number }}
                VND
              </span>
            </nz-col>
          </nz-row>
          <nz-row>
            <nz-col style="width: 100%" class="text-right">
              <button
                style="width: 100%"
                nz-button
                nzSize="large"
                nzType="primary"
                [disabled]="invalid"
                (click)="extend()"
              >
                <img
                  src="assets/imgs/wallet.svg"
                  style="margin-right: 5px; padding-bottom: 5px"
                />
                {{ 'app.button.extend' | i18n }}
              </button>
            </nz-col>
          </nz-row>
        </nz-card>
      </nz-affix>
    </nz-col>
  </nz-row>
</form>
<one-portal-popup-list-error
  [isVisible]="isVisiblePopupError"
  [errorList]="errorList"
  (onCancel)="closePopupError()"
/>
