<page-header
  [breadcrumb]="breadcrumb"
  [action]="action"
  [title]="'app.backup.vm.restore' | i18n"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="iconTemplate">
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>{{
        'app.breadcrumb.infrastructure.service' | i18n
      }}</nz-breadcrumb-item>
      <nz-breadcrumb-item [routerLink]="'/app-smart-cloud/backup-vm'"
        >Backup VM</nz-breadcrumb-item
      >
      <nz-breadcrumb-item>{{
        'app.backup.vm.restore' | i18n
      }}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #iconTemplate
      ><one-portal-svg-icon [icon]="'icon_breadcrumb'"></one-portal-svg-icon
    ></ng-template>
  </ng-template>

  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown
        (regionChange)="onRegionChanged($event)"
        (valueChanged)="regionChanged($event)"
      ></region-select-dropdown>
      <project-select-dropdown
        (valueChanged)="projectChanged($event)"
        (userChanged)="userChanged($event)"
        [regionId]="region"
      ></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<div nz-row [nzGutter]="24">
  <div nz-col [nzSpan]="16" style="display: flex">
    <form
      style="width: 100%"
      nz-form
      [formGroup]="validateForm"
      nzLayout="vertical"
    >
      <nz-card style="border-radius: 8px">
        <span class="text-card-header">{{
          'app.backup.vm.ìnformation' | i18n
        }}</span>
        <nz-row nzGutter="24" style="margin-top: 20px">
          <nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>
                <span>{{ 'app.table.backup.vm.name' | i18n }}</span>
              </nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  class="input-custom"
                  [value]="backupVmModel?.name"
                  [disabled]="true"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>
                <span>{{ 'app.instances.OS' | i18n }}</span>
              </nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  class="input-custom"
                  [value]="backupVmModel?.systemInfoBackups[0].osName"
                  [disabled]="true"
                />
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>
                <span>{{ 'app.instances' | i18n }}</span>
              </nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  class="input-custom"
                  [value]="backupVmModel?.instanceName"
                  [disabled]="true"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>
                <span>{{ 'app.backup.size' | i18n }}</span>
              </nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  class="input-custom"
                  [value]="backupSize + ' GB'"
                  [disabled]="true"
                />
              </nz-form-control>
            </nz-form-item>
          </nz-col>
        </nz-row>
        <nz-form-item>
          <nz-form-label>
            <span style="color: #ff0000"
              >{{ 'app.service.expiration-date' | i18n }} :
              {{ backupVmModel?.expirationDate | date : 'dd/MM/yyyy' }}</span
            >
          </nz-form-label>
        </nz-form-item>
      </nz-card>
      <nz-card style="border-radius: 8px">
        <span class="text-card-header">{{
          'app.info.backup.vm.restore.information' | i18n
        }}</span>
        <nz-radio-group
          [(ngModel)]="selectedOption"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="onSelectionChange()"
          style="margin-top: 20px; display: grid"
        >
          <label nz-radio nzValue="current">
            {{ 'app.backup.vm.restore.current' | i18n }}</label
          >
          <label nz-radio nzValue="new" style="margin-top: 10px">
            {{ 'app.backup.vm.restore.new' | i18n }}</label
          >
        </nz-radio-group>
        <div *ngIf="selectedOption == 'current'" formGroupName="formCurrent">
          <nz-row nzGutter="24" style="margin-top: 20px">
            <nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>
                  <span>{{ 'app.backup.vm.restore.storage.os' | i18n }}</span>
                </nz-form-label>
                <nz-form-control>
                  <input
                    nz-input
                    class="input-custom"
                    [value]="backupVmModel?.size + ' GB'"
                    [disabled]="true"
                  />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>
                  <span>Security Group</span>
                </nz-form-label>
                <nz-form-control>
                  <nz-select
                    nzMode="multiple"
                    [nzPlaceHolder]="'app.choose.security.group' | i18n"
                    [nzShowSearch]="true"
                    [(ngModel)]="selectedSecurityGroup"
                    [ngModelOptions]="{ standalone: true }"
                    nzSize="large"
                  >
                    <nz-option
                      *ngFor="let sg of listSecurityGroupBackups"
                      [nzLabel]="sg.sgName"
                      [nzValue]="sg.sgName"
                      [nzDisabled]="sg.sgName.toUpperCase() === 'DEFAULT'"
                    />
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
        </div>
        <div
          style="margin-bottom: 20px"
          *ngIf="selectedOption == 'new'"
          formGroupName="formNew"
        >
          <div>
            <nz-tabset
              [(nzSelectedIndex)]="selectedIndextab"
              nzCentered
              nzSize="large"
              (keydown)="handleKeyboardEvent($event)"
            >
              <nz-tab
                [nzTitle]="'app.custom.configuration' | i18n"
                (nzClick)="onClickCustomConfig()"
              >
                <div class="ant-table">
                  <table>
                    <thead class="ant-table-thead">
                      <tr>
                        <th style="width: 80%">{{ 'app.resource' | i18n }}</th>
                        <th>{{ 'app.amount' | i18n }}</th>
                      </tr>
                    </thead>
                    <tbody class="ant-table-tbody">
                      <tr>
                        <td style="width: 50%">
                          <nz-form-label style="margin-left: -12px"
                            >{{ 'app.capacity' | i18n }} (<span class="text-red"
                              >*</span
                            >) - GB</nz-form-label
                          >
                          <nz-slider
                            [nzMin]="minCapacity"
                            [nzMax]="remainingVolume"
                            [nzStep]="stepCapacity"
                            [(ngModel)]="restoreInstanceBackup.volumeSize"
                            (ngModelChange)="changeCapacity($event)"
                            [ngModelOptions]="{ standalone: true }"
                          ></nz-slider>
                          <div
                            *ngIf="remainingVolume == 0"
                            style="font-size: 14px; color: #ff4d4f"
                          >
                            {{ 'app.alert.quota.vpc' | i18n }}
                            <a
                              [routerLink]="[
                                '/app-smart-cloud/project/update',
                                projectId
                              ]"
                              >{{ 'app.this' | i18n }}</a
                            >
                            {{ 'app.alert.quota.vpc.next' | i18n }}
                          </div>
                        </td>
                        <td>
                          <nz-input-number
                            [nzMin]="minCapacity"
                            [nzMax]="maxCapacity"
                            [nzStep]="stepCapacity"
                            [(ngModel)]="restoreInstanceBackup.volumeSize"
                            (ngModelChange)="changeCapacity($event)"
                            (keydown)="onKeyDown($event)"
                            [ngModelOptions]="{ standalone: true }"
                            nzSize="large"
                          ></nz-input-number>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <nz-form-label style="margin-left: -12px"
                            >RAM (<span class="text-red">*</span>) -
                            GB</nz-form-label
                          >
                          <nz-slider
                            [nzMin]="0"
                            [nzMax]="remainingRAM"
                            [(ngModel)]="restoreInstanceBackup.ram"
                            (ngModelChange)="checkValidConfig()"
                            [ngModelOptions]="{ standalone: true }"
                          ></nz-slider>
                          <div
                            *ngIf="remainingRAM == 0"
                            style="font-size: 14px; color: #ff4d4f"
                          >
                            {{ 'app.alert.quota.vpc' | i18n }}
                            <a
                              [routerLink]="[
                                '/app-smart-cloud/project/update',
                                projectId
                              ]"
                              >{{ 'app.this' | i18n }}</a
                            >
                            {{ 'app.alert.quota.vpc.next' | i18n }}
                          </div>
                        </td>
                        <td>
                          <nz-input-number
                            [nzMin]="0"
                            [nzMax]="remainingRAM"
                            [(ngModel)]="restoreInstanceBackup.ram"
                            (ngModelChange)="checkValidConfig()"
                            (keydown)="onKeyDown($event)"
                            [ngModelOptions]="{ standalone: true }"
                            nzSize="large"
                          ></nz-input-number>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <nz-form-label style="margin-left: -12px"
                            >CPU (<span class="text-red">*</span>) -
                            vCPU</nz-form-label
                          >
                          <nz-slider
                            [nzMin]="0"
                            [nzMax]="remainingVCPU"
                            [(ngModel)]="restoreInstanceBackup.cpu"
                            (ngModelChange)="checkValidConfig()"
                            [ngModelOptions]="{ standalone: true }"
                          ></nz-slider>
                          <div
                            *ngIf="remainingVCPU == 0"
                            style="font-size: 14px; color: #ff4d4f"
                          >
                            {{ 'app.alert.quota.vpc' | i18n }}
                            <a
                              [routerLink]="[
                                '/app-smart-cloud/project/update',
                                projectId
                              ]"
                              >{{ 'app.this' | i18n }}</a
                            >
                            {{ 'app.alert.quota.vpc.next' | i18n }}
                          </div>
                        </td>
                        <td>
                          <nz-input-number
                            [nzMin]="0"
                            [nzMax]="remainingVCPU"
                            [(ngModel)]="restoreInstanceBackup.cpu"
                            (ngModelChange)="checkValidConfig()"
                            (keydown)="onKeyDown($event)"
                            [ngModelOptions]="{ standalone: true }"
                            nzSize="large"
                          ></nz-input-number>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </nz-tab>
              <nz-tab
                [nzTitle]="'app.gpu.configuration' | i18n"
                (nzClick)="onClickGpuConfig()"
              >
                <div class="ant-table">
                  <table>
                    <thead class="ant-table-thead">
                      <tr>
                        <th style="width: 80%">{{ 'app.resource' | i18n }}</th>
                        <th>{{ 'app.amount' | i18n }}</th>
                      </tr>
                    </thead>
                    <tbody class="ant-table-tbody">
                      <tr>
                        <td style="width: 50%">
                          <nz-form-label style="margin-left: -12px"
                            >{{ 'app.ssd.capacity' | i18n }} (<span
                              class="text-red"
                              >*</span
                            >) - GB</nz-form-label
                          >
                          <nz-slider
                            [nzMin]="minCapacity"
                            [nzMax]="remainingVolume"
                            [nzStep]="stepCapacity"
                            [(ngModel)]="restoreInstanceBackup.volumeSize"
                            (ngModelChange)="checkValidConfig()"
                            [ngModelOptions]="{ standalone: true }"
                          ></nz-slider>
                          <div
                            *ngIf="remainingVolume == 0"
                            style="font-size: 14px; color: #ff4d4f"
                          >
                            {{ 'app.alert.quota.vpc' | i18n }}
                            <a
                              [routerLink]="[
                                '/app-smart-cloud/project/update',
                                projectId
                              ]"
                              >{{ 'app.this' | i18n }}</a
                            >
                            {{ 'app.alert.quota.vpc.next' | i18n }}
                          </div>
                        </td>
                        <td>
                          <nz-input-number
                            [nzMin]="minCapacity"
                            [nzMax]="remainingVolume"
                            [nzStep]="stepCapacity"
                            [(ngModel)]="restoreInstanceBackup.volumeSize"
                            (ngModelChange)="checkValidConfig()"
                            (keydown)="onKeyDown($event)"
                            [ngModelOptions]="{ standalone: true }"
                            nzSize="large"
                          ></nz-input-number>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <nz-form-label style="margin-left: -12px"
                            >RAM (<span class="text-red">*</span>) -
                            GB</nz-form-label
                          >
                          <nz-slider
                            [nzMin]="0"
                            [nzMax]="remainingRAM"
                            [(ngModel)]="restoreInstanceBackup.ram"
                            (ngModelChange)="checkValidConfig()"
                            [ngModelOptions]="{ standalone: true }"
                          ></nz-slider>
                          <div
                            *ngIf="remainingRAM == 0"
                            style="font-size: 14px; color: #ff4d4f"
                          >
                            {{ 'app.alert.quota.vpc' | i18n }}
                            <a
                              [routerLink]="[
                                '/app-smart-cloud/project/update',
                                projectId
                              ]"
                              >{{ 'app.this' | i18n }}</a
                            >
                            {{ 'app.alert.quota.vpc.next' | i18n }}
                          </div>
                        </td>
                        <td>
                          <nz-input-number
                            [nzMin]="0"
                            [nzMax]="remainingRAM"
                            [(ngModel)]="restoreInstanceBackup.ram"
                            (ngModelChange)="checkValidConfig()"
                            (keydown)="onKeyDown($event)"
                            [ngModelOptions]="{ standalone: true }"
                            nzSize="large"
                          ></nz-input-number>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <nz-form-label style="margin-left: -12px"
                            >CPU (<span class="text-red">*</span>) -
                            vCPU</nz-form-label
                          >
                          <nz-slider
                            [nzMin]="0"
                            [nzMax]="remainingVCPU"
                            [(ngModel)]="restoreInstanceBackup.cpu"
                            (ngModelChange)="checkValidConfig()"
                            [ngModelOptions]="{ standalone: true }"
                          ></nz-slider>
                          <div
                            *ngIf="remainingVCPU == 0"
                            style="font-size: 14px; color: #ff4d4f"
                          >
                            {{ 'app.alert.quota.vpc' | i18n }}
                            <a
                              [routerLink]="[
                                '/app-smart-cloud/project/update',
                                projectId
                              ]"
                              >{{ 'app.this' | i18n }}</a
                            >
                            {{ 'app.alert.quota.vpc.next' | i18n }}
                          </div>
                        </td>
                        <td>
                          <nz-input-number
                            [nzMin]="0"
                            [nzMax]="remainingVCPU"
                            [(ngModel)]="restoreInstanceBackup.cpu"
                            (ngModelChange)="checkValidConfig()"
                            (keydown)="onKeyDown($event)"
                            [ngModelOptions]="{ standalone: true }"
                            nzSize="large"
                          ></nz-input-number>
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 50%">
                          <nz-form-label style="margin-left: -12px"
                            >{{ 'app.choose.gpu.type' | i18n }} (<span
                              class="text-red"
                              >*</span
                            >)</nz-form-label
                          >
                          <style>
                            ::ng-deep nz-form-control {
                              padding-left: 0px !important;
                              padding-right: 0px !important;
                            }
                          </style>
                          <nz-form-control>
                            <nz-select
                              [nzPlaceHolder]="
                                '-- ' + ('app.choose.gpu.type' | i18n) + ' --'
                              "
                              [nzShowSearch]="true"
                              [(ngModel)]="restoreInstanceBackup.gpuTypeOfferId"
                              (ngModelChange)="changeGpuType($event)"
                              [ngModelOptions]="{ standalone: true }"
                              nzSize="large"
                            >
                              <nz-option
                                *ngFor="let i of purchasedListGPUType"
                                [nzLabel]="i.offerName"
                                [nzValue]="i.id"
                              />
                            </nz-select>
                          </nz-form-control>
                          <div
                            *ngIf="remainingGpu == 0"
                            style="font-size: 14px; color: #ff4d4f"
                          >
                            {{ 'app.alert.quota.vpc' | i18n }}
                            <a
                              [routerLink]="[
                                '/app-smart-cloud/project/update',
                                projectId
                              ]"
                              >{{ 'app.this' | i18n }}</a
                            >
                            {{ 'app.alert.quota.vpc.next' | i18n }}
                          </div>
                        </td>
                        <td>
                          <nz-form-label></nz-form-label>
                          <nz-form-control
                            ><nz-select
                              style="margin-left: 8px; width: 90px"
                              [nzShowSearch]="true"
                              [(ngModel)]="restoreInstanceBackup.gpuCount"
                              (ngModelChange)="checkValidConfig(); changeGpu()"
                              [ngModelOptions]="{ standalone: true }"
                              nzSize="large"
                            >
                              <nz-option
                                *ngFor="let i of listOptionGpuValue"
                                [nzLabel]="i"
                                [nzValue]="i"
                              /> </nz-select
                          ></nz-form-control>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <nz-alert
                    *ngIf="configRecommend"
                    style="margin-top: 20px"
                    nzType="warning"
                    [nzDescription]="
                      'app.alert.config.gpu.recommend'
                        | i18n
                          : {
                              type: gpuTypeName,
                              gpu: configRecommend.gpuCount,
                              ssd: configRecommend.ssd,
                              ram: configRecommend.ram,
                              cpu: configRecommend.cpu
                            }
                    "
                    nzShowIcon
                  ></nz-alert>
                </div>
              </nz-tab>
            </nz-tabset>
            <label
              *ngIf="isSupportEncryption"
              style="margin-top: 20px"
              nz-checkbox
              [(ngModel)]="restoreInstanceBackup.encryption"
              [ngModelOptions]="{ standalone: true }"
              [disabled]="isSnapshot"
              >{{ 'volume.info.type.encrypt' | i18n }}
              <img
                [nz-tooltip]="'volume.tooltip.type.encrypt' | i18n"
                src="assets/imgs/pajamas_question.svg"
                alt=""
                [nzPopoverOverlayStyle]="{ width: '320px' }"
              />
            </label>
            <nz-row style="margin-top: 20px" nzGutter="16">
              <nz-col nzLg="12" nzMd="12" nzSm="24">
                <nz-form-item>
                  <nz-form-label>
                    <span
                      >{{ 'app.instances.name' | i18n }} (<span
                        style="color: #ff0000"
                        >*</span
                      >)</span
                    >
                    <img
                      style="margin-left: 10px"
                      nz-popover
                      [nzPopoverPlacement]="'bottom'"
                      [nzPopoverContent]="'app.tooltip.instance.name' | i18n"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
                  </nz-form-label>
                  <nz-form-control
                    nzDisableAutoTips
                    [nzErrorTip]="nameErrorTpl"
                  >
                    <input
                      #nameInput
                      class="input-custom"
                      nz-input
                      formControlName="name"
                      [(ngModel)]="restoreInstanceBackup.serviceName"
                      (ngModelChange)="changeName($event)"
                      [placeholder]="'app.input.name' | i18n"
                      [maxlength]="50"
                    />
                    <ng-template #nameErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')"
                        >{{ 'validation.info.required' | i18n }}
                      </ng-container>
                      <ng-container *ngIf="control.hasError('pattern')"
                        >{{ 'validation.name.pattern' | i18n }}
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
              <nz-col nzLg="12" nzMd="12" nzSm="24">
                <nz-form-item>
                  <nz-form-label>{{
                    'app.choose.security.group' | i18n
                  }}</nz-form-label>
                  <nz-form-control>
                    <nz-select
                      nzMode="multiple"
                      [ngModelOptions]="{ standalone: true }"
                      [(ngModel)]="selectedSecurityGroup"
                      [nzShowSearch]="true"
                      nzSize="large"
                    >
                      <nz-option
                        *ngFor="let i of listSecurityGroup"
                        [nzLabel]="i.name"
                        [nzValue]="i.name"
                        [nzDisabled]="i.name.toUpperCase() === 'DEFAULT'"
                      />
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
            </nz-row>
            <nz-row nzGutter="16">
              <nz-col nzLg="12" nzMd="12" nzSm="24">
                <nz-form-item
                  ><nz-form-label
                    >{{ 'app.choose.ip.public' | i18n }} (<span class="text-red"
                      >*</span
                    >)<img
                      style="margin-left: 10px"
                      nz-popover
                      [nzPopoverContent]="contentTemplateIPPublic"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    /><ng-template #contentTemplateIPPublic>
                      <span
                        [innerHTML]="'app.tooltip.instance.ip.public' | i18n"
                      ></span>
                      <a
                        [routerLink]="[
                          '/app-smart-cloud/networks/ip-floating/list'
                        ]"
                        >{{ 'app.ip.floating' | i18n }}</a
                      >
                    </ng-template></nz-form-label
                  >
                  <nz-form-control>
                    <nz-select
                      [nzShowSearch]="true"
                      [(ngModel)]="ipPublicValue"
                      [ngModelOptions]="{ standalone: true }"
                      nzSize="large"
                    >
                      <nz-option
                        [nzLabel]="'app.do.not.use' | i18n"
                        [nzValue]="0"
                      />
                      <nz-option
                        *ngFor="let i of listIPPublic"
                        [nzLabel]="i.ipAddress || i.networkId"
                        [nzValue]="i.id"
                      />
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
              <nz-col nzLg="12" nzMd="12" nzSm="24">
                <nz-form-item>
                  <nz-form-label
                    >{{ 'app.choose.vlan.instance' | i18n }} (<span
                      class="text-red"
                      >*</span
                    >)</nz-form-label
                  >
                  <nz-form-control>
                    <nz-select
                      [nzShowSearch]="true"
                      [(ngModel)]="vlanNetwork"
                      (ngModelChange)="getListPort()"
                      [ngModelOptions]="{ standalone: true }"
                      nzSize="large"
                    >
                      <nz-option
                        *ngFor="let i of listVlanNetwork"
                        [nzLabel]="i.name"
                        [nzValue]="i.cloudId"
                      />
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
            </nz-row>
            <nz-row *ngIf="!hidePort" nzGutter="24">
              <nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label
                    >{{ 'app.choose.port' | i18n }} (<span class="text-red"
                      >*</span
                    >)</nz-form-label
                  >
                  <nz-form-control>
                    <nz-select
                      [nzShowSearch]="true"
                      [(ngModel)]="port"
                      [ngModelOptions]="{ standalone: true }"
                      nzSize="large"
                    >
                      <nz-option
                        *ngFor="let i of listPort"
                        [nzLabel]="i.fixedIPs[0]"
                        [nzValue]="i.id"
                      />
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
            </nz-row>
            <nz-row>
              <nz-form-label nzFor="name"
                >{{ 'app.access.method.instance' | i18n }} (<span
                  class="text-red"
                  >*</span
                >)<img
                  style="margin-left: 10px"
                  [nz-tooltip]="'app.tooltip.access.method.instance' | i18n"
                  src="assets/imgs/pajamas_question.svg"
                  alt=""
              /></nz-form-label>
            </nz-row>
            <nz-row nzGutter="16">
              <nz-radio-group
                style="width: 100%; display: inline-flex"
                name="selectedPasswordOrSSHkey"
              >
                <nz-col nzXs="24" nzMd="12" nzLg="12">
                  <nz-card
                    style="border-radius: 4px"
                    [ngStyle]="{
                      border: activeBlockPassword
                        ? '1px solid #0066B3'
                        : '1px solid #DADADA'
                    }"
                  >
                    <nz-card-meta
                      [nzAvatar]="nzAvatarselectedPasswordOrSSHkey1"
                      [nzTitle]="nzTitleselectedPasswordOrSSHkey1"
                      [nzDescription]="nzDescriptionselectedPasswordOrSSHkey1"
                    >
                      <ng-template #nzAvatarselectedPasswordOrSSHkey1>
                        <label
                          [tabIndex]="0"
                          nz-radio
                          [ngModel]="activeBlockPassword"
                          [ngModelOptions]="{ standalone: true }"
                          (click)="initPassword()"
                          (keyup.enter)="initPassword()"
                        ></label>
                      </ng-template>
                      <ng-template #nzTitleselectedPasswordOrSSHkey1>
                        <b>{{ 'app.password' | i18n }} </b>
                      </ng-template>
                      <ng-template #nzDescriptionselectedPasswordOrSSHkey1>
                        <ellipsis class="text-custom">
                          {{ 'app.password.intro.text' | i18n }}</ellipsis
                        >
                      </ng-template>
                    </nz-card-meta>
                  </nz-card>
                </nz-col>
                <nz-col nzXs="24" nzMd="12" nzLg="12">
                  <nz-card
                    style="border-radius: 4px"
                    [ngStyle]="{
                      border: activeBlockSSHKey
                        ? '1px solid #0066B3'
                        : '1px solid #DADADA'
                    }"
                  >
                    <nz-card-meta
                      [nzAvatar]="nzAvatarselectedPasswordOrSSHkey2"
                      [nzTitle]="nzTitleselectedPasswordOrSSHkey2"
                      [nzDescription]="nzDescriptionselectedPasswordOrSSHkey2"
                    >
                      <ng-template #nzAvatarselectedPasswordOrSSHkey2>
                        <label
                          [tabIndex]="0"
                          nz-radio
                          [ngModel]="activeBlockSSHKey"
                          [ngModelOptions]="{ standalone: true }"
                          (click)="initSSHkey()"
                          (keyup.enter)="initSSHkey()"
                          [disabled]="disableKeypair"
                        ></label>
                      </ng-template>
                      <ng-template #nzTitleselectedPasswordOrSSHkey2>
                        <b>Keypair</b>
                      </ng-template>
                      <ng-template #nzDescriptionselectedPasswordOrSSHkey2>
                        <ellipsis class="text-custom">
                          {{ 'app.keypair.intro.text' | i18n }}</ellipsis
                        >
                      </ng-template>
                    </nz-card-meta>
                  </nz-card>
                </nz-col>
              </nz-radio-group>
              <div *ngIf="activeBlockPassword" style="width: 100%">
                <nz-col nzSpan="24">
                  <nz-form-item>
                    <nz-form-label nzFor="name"
                      >{{ 'app.label.instance.password' | i18n }} (<span
                        class="text-red"
                        >*</span
                      >)</nz-form-label
                    >
                    <nz-form-control [nzErrorTip]="passwordErrorTpl">
                      <nz-input-group
                        [nzSuffix]="suffixTemplate"
                        style="width: 100%"
                      >
                        <input
                          class="input-custom"
                          [type]="passwordVisible ? 'text' : 'password'"
                          nz-input
                          [placeholder]="'app.input.password' | i18n"
                          formControlName="passOrKeyFormControl"
                          [(ngModel)]="password"
                        />
                      </nz-input-group>
                      <ng-template #suffixTemplate>
                        <img
                          style="margin-top: -4px"
                          [src]="
                            passwordVisible
                              ? 'assets/imgs/eye-close.svg'
                              : 'assets/imgs/eye1.svg'
                          "
                          alt=""
                          (click)="passwordVisible = !passwordVisible"
                        />
                      </ng-template>
                    </nz-form-control>
                    <ng-template #passwordErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">{{
                        'validation.instance.password.required' | i18n
                      }}</ng-container>
                      <ng-container *ngIf="control.hasError('pattern')">{{
                        'validation.password.pattern' | i18n
                      }}</ng-container>
                    </ng-template>
                  </nz-form-item>
                </nz-col>

                <nz-col nzSpan="24">
                  <nz-alert
                    nzType="warning"
                    [nzDescription]="nzDescriptionWarning06"
                    nzShowIcon
                  ></nz-alert>
                  <ng-template #nzDescriptionWarning06>
                    <div>
                      {{ 'app.alert.password' | i18n }}
                    </div>
                  </ng-template>
                </nz-col>
              </div>
              <div *ngIf="activeBlockSSHKey" style="width: 100%">
                <nz-col nzSpan="24">
                  <nz-form-item>
                    <nz-form-label
                      >{{ 'app.choose.keypair' | i18n }} (<span class="text-red"
                        >*</span
                      >)</nz-form-label
                    >
                    <nz-form-control [nzErrorTip]="keypairErrorTpl">
                      <nz-select
                        *ngIf="activeBlockSSHKey"
                        [nzPlaceHolder]="
                          '-- ' + ('app.choose.keypair' | i18n) + ' --'
                        "
                        [nzShowSearch]="true"
                        formControlName="passOrKeyFormControl"
                        [(ngModel)]="selectedSSHKeyName"
                        nzSize="large"
                      >
                        <nz-option
                          *ngFor="let i of listSSHKey"
                          [nzLabel]="i.displayName"
                          [nzValue]="i.displayName"
                        />
                      </nz-select>
                    </nz-form-control>
                    <ng-template #keypairErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">{{
                        'validation.choose.required'
                          | i18n : { name: 'keypair' }
                      }}</ng-container>
                    </ng-template>
                  </nz-form-item>
                </nz-col>
                <nz-form-label style="margin-bottom: 20px">
                  {{ 'app.instances.keypair.label' | i18n }}&nbsp;
                  <a [routerLink]="['/app-smart-cloud/keypair']">{{
                    'app.label.create' | i18n
                  }}</a>
                </nz-form-label>
                <nz-col nzSpan="24">
                  <nz-alert
                    nzType="warning"
                    [nzDescription]="nzDescriptionWarning07"
                    nzShowIcon
                  ></nz-alert>
                  <ng-template #nzDescriptionWarning07>
                    <div>
                      {{ 'app.alert.keypair' | i18n }}
                      <a
                        href="https://docs.smartcloud.vn/index.php/knowledge-base/su-dung-keypair/"
                        target="_blank"
                        >{{ 'app.here' | i18n }}
                      </a>
                      <br />
                      {{ 'app.alert.keypair.next' | i18n }}
                    </div>
                  </ng-template>
                </nz-col>
              </div>
            </nz-row>
          </div>
        </div>
        <nz-row nzGutter="24">
          <nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label>
                <span>{{ 'app.info.backup.vm.external.volume' | i18n }}</span>
              </nz-form-label>
              <nz-form-control>
                <nz-select
                  nzMode="multiple"
                  [nzPlaceHolder]="
                    'app.choose.backup.vm.external.volume' | i18n
                  "
                  [nzShowSearch]="true"
                  [(ngModel)]="listIDAttachVolume"
                  (ngModelChange)="changeAttachVolume()"
                  [ngModelOptions]="{ standalone: true }"
                  nzSize="large"
                >
                  <nz-option
                    *ngFor="let e of listExternalAttachVolume"
                    [nzLabel]="e.name"
                    [nzValue]="e.id"
                  />
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
        </nz-row>
        <div class="text-center" style="margin-bottom: 20px">
          <span class="text-header-attach-volume"
            >{{ 'app.backup.config.vm.attach' | i18n }}
          </span>
        </div>
        <div>
          <div class="ant-table">
            <table>
              <thead class="ant-table-thead">
                <tr>
                  <th>{{ 'app.volume.name' | i18n }}</th>
                  <th>{{ 'app.volume.type' | i18n }}</th>
                  <th>{{ 'app.capacity' | i18n }} (GB)</th>
                  <th *ngIf="isSupportEncryption">
                    {{ 'app.encrypt' | i18n }}
                  </th>
                  <th *ngIf="isSupportMultiAttachment">Multi Attach</th>
                </tr>
              </thead>
              <tbody class="ant-table-tbody">
                <tr *ngFor="let data of listOfDataBlockStorage; let i = index">
                  <td>
                    <input
                      class="input-custom"
                      type="text"
                      [ngModelOptions]="{ standalone: true }"
                      nz-input
                      [(ngModel)]="data.name"
                      [id]="'name_' + data.id"
                    />
                  </td>
                  <td>
                    <input
                      class="input-custom"
                      type="text"
                      [ngModelOptions]="{ standalone: true }"
                      nz-input
                      [(ngModel)]="data.type"
                      [disabled]="true"
                    />
                  </td>
                  <td>
                    <input
                      class="input-custom"
                      type="text"
                      [ngModelOptions]="{ standalone: true }"
                      nz-input
                      [(ngModel)]="data.capacity"
                      [disabled]="true"
                    />
                  </td>
                  <td nzAlign="center">
                    <label
                      *ngIf="isSupportEncryption"
                      nz-checkbox
                      [ngModel]="data.isEncryption"
                      [ngModelOptions]="{ standalone: true }"
                      [disabled]="true"
                    ></label>
                  </td>
                  <td nzAlign="center">
                    <label
                      *ngIf="isSupportMultiAttachment"
                      nz-checkbox
                      [ngModel]="data.isMultiAttach"
                      [ngModelOptions]="{ standalone: true }"
                      [disabled]="true"
                    ></label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </nz-card>
    </form>
  </div>
  <div nz-col [nzSpan]="8" style="display: flex">
    <div style="width: 100%">
      <nz-affix [nzOffsetTop]="72">
        <nz-card
          *ngIf="selectedOption == 'new'"
          class="card-border"
          style="border-radius: 8px; width: 100%"
        >
          <div style="margin-bottom: 20px">
            <span class="text-card-header">{{
              'app.estimated.cost' | i18n
            }}</span>
          </div>
          <div class="text-value">{{ 'app.instances.name' | i18n }}</div>
          <div style="margin-top: 10px" class="text-label">
            {{ restoreInstanceBackup.serviceName }}
          </div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <div class="text-value">{{ 'app.instances.OS' | i18n }}</div>
          <div style="margin-top: 10px" class="text-label">
            {{ backupVmModel?.systemInfoBackups[0].osName }}
          </div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <div class="text-value">{{ 'app.text.package' | i18n }}</div>
          <div style="margin-top: 10px" class="text-label">
            {{ restoreInstanceBackup.cpu }} vCPU
          </div>
          <div style="margin-top: 10px" class="text-label">
            {{ restoreInstanceBackup.ram }} GB RAM
          </div>
          <div style="margin-top: 10px" class="text-label">
            {{ restoreInstanceBackup.volumeSize }} GB Root Disk (<span>{{
              activeBlockHDD ? 'HDD' : 'SSD'
            }}</span
            >)
          </div>
          <div *ngIf="isGpuConfig" style="margin-top: 10px" class="text-label">
            {{ restoreInstanceBackup.gpuCount }} GPU ({{ gpuTypeName }})
          </div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <div class="text-value">
            {{ 'app.info.backup.vm.external.volume' | i18n }}
          </div>
          <div *ngFor="let v of listOfDataBlockStorage; let last = last">
            <div style="margin-top: 10px" class="text-label">
              {{ v.capacity }} GB {{ v.name }} ({{ v.type }})
            </div>
          </div>
          <nz-row style="margin-top: 20px">
            <nz-col style="width: 100%">
              <button
                style="width: 100%"
                nz-button
                nzSize="large"
                nzType="primary"
                [nzLoading]="isLoading"
                (click)="restore()"
                [disabled]="
                  formNew.invalid || isExistName || totalincludesVAT == 0
                "
              >
                <span nz-icon nzType="wallet" nzTheme="outline"></span>
                <span [style.color]="formCurrent.invalid ? 'gray' : 'white'">{{
                  'app.restore' | i18n
                }}</span>
              </button>
            </nz-col>
          </nz-row>
        </nz-card>
        <nz-card
          *ngIf="selectedOption == 'current'"
          class="card-border"
          style="border-radius: 8px; width: 100%"
        >
          <div style="margin-bottom: 20px">
            <span class="text-card-header">{{
              'app.config.parameters' | i18n
            }}</span>
          </div>
          <div class="text-value">{{ 'app.instances.name' | i18n }}</div>
          <div style="margin-top: 10px" class="text-label">
            {{ backupVmModel?.instanceName }}
          </div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <div class="text-value">{{ 'app.instances.OS' | i18n }}</div>
          <div style="margin-top: 10px" class="text-label">
            {{ backupVmModel?.systemInfoBackups[0].osName }}
          </div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <div class="text-value">Security Group</div>
          <div style="margin-top: 10px" class="text-label">
            {{ selectedSecurityGroup.join(', ') }}
          </div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <div class="text-value">
            {{ 'app.info.backup.vm.external.volume' | i18n }}
          </div>
          <div *ngFor="let v of listOfDataBlockStorage; let last = last">
            <div style="margin-top: 10px" class="text-label">
              {{ v.capacity }} GB {{ v.name }} ({{ v.type }})
            </div>
          </div>
          <nz-row style="margin-top: 20px">
            <nz-col style="width: 100%">
              <button
                style="width: 100%"
                nz-button
                nzSize="large"
                nzType="primary"
              >
                <span nz-icon nzType="wallet" nzTheme="outline"></span>
                <span>{{ 'app.restore' | i18n }}</span>
              </button>
            </nz-col>
          </nz-row>
        </nz-card>
      </nz-affix>
    </div>
  </div>
</div>
