<page-header
  [breadcrumb]="breadcrumb"
  [title]="'app.object.storage.extend' | i18n"
  [action]="action"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="separatorTemplate">
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item
        ><a (click)="navigateToBucketList()"
          >Object Storage</a
        ></nz-breadcrumb-item
      >
      <nz-breadcrumb-item>{{
        'app.object.storage.extend' | i18n
      }}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #separatorTemplate
      ><img src="assets/imgs/arrow-square-right.svg" alt="" />
    </ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown
        (valueChanged)="onRegionChange($event)"
        (regionChange)="onRegionChanged($event)"
      ></region-select-dropdown>
    </div>
  </ng-template>
</page-header>

<form nz-form [nzLayout]="'vertical'">
  <nz-row nzGutter="24">
    <nz-col nzSpan="16">
      <nz-card style="border-radius: 8px" [nzBordered]="false">
        <div style="margin-bottom: 20px">
          <span class="text-card-header">{{
            'app.object.storage.info' | i18n
          }}</span>
        </div>
        <nz-form-item>
          <nz-form-label nzFor="name"
            >{{ 'app.capacity' | i18n }} - GB (<span class="text-red">*</span
            >)</nz-form-label
          >
          <nz-form-control>
            <nz-input-number
              [(ngModel)]="objectStorage.quota"
              style="width: 100%; margin-left: 0px"
              [ngModelOptions]="{ standalone: true }"
              [disabled]="true"
              nzSize="large"
            ></nz-input-number>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item style="margin-bottom: -10px">
          <nz-form-label nzFor="name">{{ 'app.note' | i18n }}</nz-form-label>
          <nz-form-control>
            <nz-textarea-count [nzMaxCharacterCount]="250">
              <textarea
                rows="4"
                maxlength="250"
                [(ngModel)]="objectStorage.note"
                [ngModelOptions]="{ standalone: true }"
                [disabled]="true"
                nz-input
              ></textarea>
            </nz-textarea-count>
          </nz-form-control>
        </nz-form-item>
      </nz-card>
      <one-portal-service-time-extend
        [createDate]="objectStorage?.createdDate"
        [expiredDate]="objectStorage?.expiredDate"
        (valueChanged)="onChangeTime($event)"
        [newExpiredDate]="newExpiredDate"
      />
    </nz-col>
    <nz-col nzSpan="8">
      <nz-affix nzOffsetTop="72">
        <nz-card style="border-radius: 8px" class="card-border">
          <div style="margin-bottom: 20px">
            <span class="text-card-header">{{
              'app.estimated.cost' | i18n
            }}</span>
          </div>
          <div style="margin-bottom: 10px">
            <span class="text-value"> {{ 'app.capacity' | i18n }} </span><br />
            <span class="text-label">{{ objectStorage.quota }} GB</span>
          </div>
          <nz-row
            style="
              margin-bottom: 10px;
              border-top: 2px solid #f0f0f0;
              padding-top: 10px;
            "
            nzGutter="16"
          >
            <nz-col nzSpan="16">
              <span class="text-value">
                <span class="text-value">{{
                  'app.cost.n.month' | i18n : { numberMonth: numberMonth }
                }}</span>
              </span>
            </nz-col>
            <nz-col class="text-right" nzSpan="8">
              <span class="text-value" style="color: #0066b3" nzAlign="right">
                {{ totalAmount | number }} VND
              </span>
            </nz-col>
          </nz-row>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <nz-row style="margin-bottom: 10px" nzGutter="16">
            <nz-col nzSpan="16">
              <span class="text-value">{{ 'app.cost.vat' | i18n }}</span>
            </nz-col>
            <nz-col class="text-right" nzSpan="8">
              <span
                class="text-value"
                style="color: #0066b3"
                nzAlign="right"
                *ngIf="orderObject == null"
                >0 VND</span
              >
              <span
                class="text-value"
                style="color: #0066b3"
                nzAlign="right"
                *ngIf="orderObject != undefined"
              >
                {{ orderObject?.totalVAT?.amount | number }}
                {{ orderObject?.totalVAT?.currency }}
              </span>
            </nz-col>
          </nz-row>
          <nz-row
            style="
              margin-bottom: 20px;
              background-color: #cce9ff;
              padding: 16px 0 16px 0;
              border-radius: 8px;
            "
            nzGutter="16"
          >
            <nz-col nzSpan="16">
              <span class="text-label">{{ 'app.total.payment' | i18n }}</span
              ><br />
              <span class="text-note-italicized"
                >({{ 'app.include.vat' | i18n : { vat: '10' } }})</span
              >
            </nz-col>
            <nz-col class="text-right" nzSpan="8">
              <span class="text-value" style="color: #ea3829" nzAlign="right">
                {{ totalincludesVAT | number }}
                VND
              </span>
            </nz-col>
          </nz-row>
          <nz-row>
            <nz-col style="width: 100%" class="text-right">
              <button
                style="width: 100%"
                nz-button
                nzSize="large"
                nzType="primary"
                [disabled]="invalid"
                (click)="extend()"
              >
                <img
                  src="assets/imgs/wallet.svg"
                  style="margin-right: 5px; padding-bottom: 5px"
                />
                {{ 'app.button.extend' | i18n }}
              </button>
            </nz-col>
          </nz-row>
        </nz-card>
      </nz-affix>
    </nz-col>
  </nz-row>
</form>
<one-portal-popup-list-error
  [isVisible]="isVisiblePopupError"
  [errorList]="errorList"
  (onCancel)="closePopupError()"
/>
