<button nz-button nz-dropdown [nzDropdownMenu]="opMenu">
  <span style="margin-right: 4px">{{ 'menu.more' | i18n }}</span
  ><img src="assets/imgs/arrow-down.svg" alt="" />
</button>
<nz-dropdown-menu #opMenu="nzDropdownMenu">
  <ul *ngIf="instancesModel" nz-menu>
    <li nz-menu-item (click)="continue()">{{ 'app.button.extend' | i18n }}</li>
    <li
      *ngIf="
        instancesModel.status.toUpperCase() == 'KHOITAO' &&
        instancesModel.taskState.toUpperCase() != 'REBUILDING' &&
        !instancesModel.taskState.toUpperCase().includes('RESIZING') &&
        instancesModel.taskState.toUpperCase() != 'ERROR' &&
        instancesModel.taskState.toUpperCase() != 'SHUTOFF' &&
        instancesModel.taskState.toUpperCase() != 'POWERING-OFF' &&
        instancesModel.taskState.toUpperCase() != 'RESCUE'
      "
      nz-menu-item
      (click)="openConsole()"
    >
      {{ 'app.access' | i18n }}
    </li>
    <li
      *ngIf="
        instancesModel.status.toUpperCase() == 'KHOITAO' &&
        instancesModel.taskState.toUpperCase() != 'REBUILDING' &&
        !instancesModel.taskState.toUpperCase().includes('RESIZING') &&
        instancesModel.taskState.toUpperCase() != 'ERROR' &&
        instancesModel.taskState.toUpperCase() != 'SHUTOFF' &&
        instancesModel.taskState.toUpperCase() != 'POWERING-OFF'
      "
      nz-menu-item
      (click)="showModalRestart()"
    >
      {{ 'app.reboot' | i18n }}
    </li>
    <li
      *ngIf="
        instancesModel.status.toUpperCase() == 'KHOITAO' &&
        instancesModel.taskState.toUpperCase() != 'REBUILDING' &&
        !instancesModel.taskState.toUpperCase().includes('RESIZING') &&
        instancesModel.taskState.toUpperCase() != 'ERROR' &&
        instancesModel.taskState.toUpperCase() != 'SHUTOFF' &&
        instancesModel.taskState.toUpperCase() != 'POWERING-OFF'
      "
      nz-menu-item
      (click)="showModalShutdown()"
    >
      {{ 'app.shutdown' | i18n }}
    </li>
    <li
      *ngIf="
        instancesModel.status.toUpperCase() == 'KHOITAO' &&
        instancesModel.taskState.toUpperCase() == 'SHUTOFF'
      "
      nz-menu-item
      (click)="showModalStart()"
    >
      {{ 'app.start' | i18n }}
    </li>
    <li
      *ngIf="
        instancesModel.status.toUpperCase() == 'KHOITAO' &&
        instancesModel.taskState.toUpperCase() != 'REBUILDING' &&
        !instancesModel.taskState.toUpperCase().includes('RESIZING') &&
        instancesModel.taskState.toUpperCase() != 'ERROR' &&
        instancesModel.imageName.toUpperCase().includes('CIRROS')
      "
      nz-menu-item
      [nzDisabled]="true"
    >
      {{ 'menu.account.reset.password' | i18n }}
    </li>
    <li
      *ngIf="
        instancesModel.status.toUpperCase() == 'KHOITAO' &&
        instancesModel.taskState.toUpperCase() != 'REBUILDING' &&
        !instancesModel.taskState.toUpperCase().includes('RESIZING') &&
        instancesModel.taskState.toUpperCase() != 'ERROR' &&
        !instancesModel.imageName.toUpperCase().includes('CIRROS')
      "
      nz-menu-item
      (click)="modalResetPassword()"
    >
      {{ 'menu.account.reset.password' | i18n }}
    </li>
    <li nz-menu-item style="color: red" (click)="showModalDelete()">Xóa</li>
  </ul>
</nz-dropdown-menu>
<nz-modal
  [(nzVisible)]="isVisibleDelete"
  [nzTitle]="titleDeleteInstance"
  (nzOnCancel)="handleCancelDelete()"
>
  <div *nzModalContent>
    <nz-alert
      style="margin-bottom: 20px"
      nzType="warning"
      [nzDescription]="customTemplateMessageDelete"
      nzShowIcon
    ></nz-alert>
    <span
      class="text-label"
      [innerHTML]="
        'app.alert.delete.instance' | i18n : { name: instancesModel.name }
      "
    ></span>
    <nz-form-item style="margin-top: 5px; margin-bottom: -10px"
      ><nz-form-control>
        <input
          class="input-custom"
          nz-input
          [(ngModel)]="inputConfirm"
          [ngModelOptions]="{ standalone: true }"
          (keyup.enter)="handleOkDelete()"
        />
        <div *ngIf="checkInputConfirm" style="color: #ff4d4f">
          {{ 'validation.correct.instance.name' | i18n }}
        </div>
        <div *ngIf="checkInputEmpty" style="color: #ff4d4f">
          {{ 'validation.instance.name.required' | i18n }}
        </div>
      </nz-form-control></nz-form-item
    >
  </div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelDelete()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />{{ 'app.button.cancel' | i18n }}
    </button>
    <button nz-button nzType="primary" (click)="handleOkDelete()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />{{ 'app.button.confirm' | i18n }}
    </button>
  </div>
</nz-modal>
<ng-template #customTemplateMessageDelete>
  <div>
    {{ 'app.alert.delete.instance.warn' | i18n }}
    <b>{{ 'app.alert.delete.instance.warn.next' | i18n }}</b>
  </div>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisibleRestart"
  [nzTitle]="'app.reboot.instance' | i18n"
  (nzOnCancel)="handleCancelRestart()"
>
  <div *nzModalContent>
    {{ 'app.alert.reboot.instance' | i18n }}
  </div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelRestart()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />{{ 'app.button.cancel' | i18n }}
    </button>
    <button nz-button nzType="primary" (click)="handleOkRestart()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />{{ 'app.button.confirm' | i18n }}
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleShutdown"
  [nzTitle]="'app.shutdown.instance' | i18n"
  (nzOnCancel)="handleCancelShutdown()"
>
  <div *nzModalContent>{{ 'app.alert.shutdown.instance' | i18n }}</div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelShutdown()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />{{ 'app.button.cancel' | i18n }}
    </button>
    <button nz-button nzType="primary" (click)="handleOkShutdown()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />{{ 'app.button.confirm' | i18n }}
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleResetPass"
  [nzTitle]="'app.instances.reset.password' | i18n"
  (nzOnCancel)="handleCancelResetPassword()"
>
  <div *nzModalContent>
    <form nz-form [formGroup]="formPass" [nzLayout]="'vertical'">
      <nz-alert
        nzType="warning"
        [nzDescription]="customTemplateMessageResetPassword"
        nzShowIcon
      ></nz-alert>
      <ng-template #customTemplateMessageResetPassword>
        <div>
          {{ 'app.alert.reset.instance.password' | i18n }}
        </div>
      </ng-template>
      <nz-form-item>
        <label
          class="text-label"
          style="margin-top: 16px"
          nz-checkbox
          [(ngModel)]="autoCreate"
          (ngModelChange)="changeAutoCreate()"
          [ngModelOptions]="{ standalone: true }"
          >{{ 'app.auto.generated' | i18n }}</label
        >
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="newpassErrorTpl">
          <nz-form-label>{{ 'app.password.new' | i18n }}</nz-form-label>
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input
              class="input-custom"
              [type]="passwordVisible ? 'text' : 'password'"
              nz-input
              formControlName="newpass"
              placeholder=""
              [(ngModel)]="resetPassword"
              (input)="onInputChange($event)"
            />
          </nz-input-group>
          <ng-template #newpassErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')"
              >{{ 'validation.password.new.required' | i18n }}
            </ng-container>
            <ng-container *ngIf="control.hasError('pattern')">{{
              'validation.password.new.pattern' | i18n
            }}</ng-container>
          </ng-template>
          <ng-template #suffixTemplate>
            <img
              style="margin-top: -4px"
              [src]="
                passwordVisible
                  ? 'assets/imgs/eye-close.svg'
                  : 'assets/imgs/eye1.svg'
              "
              alt=""
              (click)="passwordVisible = !passwordVisible"
            />
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item style="margin-bottom: 0px">
        <nz-form-control [nzErrorTip]="passRepeatErrorTpl">
          <nz-form-label>{{ 'app.password.confirm' | i18n }}</nz-form-label>
          <nz-input-group [nzSuffix]="suffixTemplateRepeat">
            <input
              class="input-custom"
              [type]="passwordRepeatVisible ? 'text' : 'password'"
              nz-input
              formControlName="passRepeat"
              placeholder=""
              [(ngModel)]="resetPasswordRepeat"
              (input)="onInputChange($event)"
              [attr.disabled]="autoCreate"
            />
          </nz-input-group>
          <ng-template #suffixTemplateRepeat>
            <img
              style="margin-top: -4px"
              [src]="
                passwordRepeatVisible
                  ? 'assets/imgs/eye-close.svg'
                  : 'assets/imgs/eye1.svg'
              "
              alt=""
              (click)="passwordRepeatVisible = !passwordRepeatVisible"
            />
          </ng-template>
          <div *ngIf="!check">
            <span style="color: rgba(252, 16, 16, 1)">{{
              'validation.password.confirm' | i18n
            }}</span>
          </div>
        </nz-form-control>
        <ng-template #passRepeatErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">{{
            'validation.password.confirm.required' | i18n
          }}</ng-container>
        </ng-template></nz-form-item
      >
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelResetPassword()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />{{ 'app.button.cancel' | i18n }}
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="handleOkResetPassword()"
      [disabled]="autoCreate ? false : formPass.invalid || !check"
    >
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />{{ 'app.button.confirm' | i18n }}
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleStart"
  [nzTitle]="'app.start.instance' | i18n"
  (nzOnCancel)="handleCancelStart()"
>
  <div *nzModalContent>{{ 'app.alert.start.instance' | i18n }}</div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelStart()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />{{ 'app.button.cancel' | i18n }}
    </button>
    <button nz-button nzType="primary" (click)="handleOkStart()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />{{ 'app.button.confirm' | i18n }}
    </button>
  </div>
</nz-modal>
