<button nz-button nz-dropdown [nzDropdownMenu]="opMenu">
  <span style="margin-right: 4px">Thêm</span
  ><img src="assets/imgs/arrow-down.svg" alt="" />
</button>
<nz-dropdown-menu #opMenu="nzDropdownMenu">
  <ul *ngIf="instancesModel" nz-menu>
    <li nz-menu-item (click)="continue()">Gia hạn</li>
    <li
      *ngIf="
        instancesModel.status.toUpperCase() == 'KHOITAO' &&
        instancesModel.taskState.toUpperCase() != 'REBUILDING' &&
        !instancesModel.taskState.toUpperCase().includes('RESIZE') &&
        instancesModel.taskState.toUpperCase() != 'ERROR' &&
        instancesModel.taskState.toUpperCase() != 'SHUTOFF' &&
        instancesModel.taskState.toUpperCase() != 'POWERING-OFF' &&
        instancesModel.taskState.toUpperCase() != 'RESCUE'
      "
      nz-menu-item
      (click)="openConsole()"
    >
      Truy cập
    </li>
    <li
      *ngIf="
        instancesModel.status.toUpperCase() == 'KHOITAO' &&
        instancesModel.taskState.toUpperCase() != 'REBUILDING' &&
        !instancesModel.taskState.toUpperCase().includes('RESIZE') &&
        instancesModel.taskState.toUpperCase() != 'ERROR' &&
        instancesModel.taskState.toUpperCase() != 'SHUTOFF' &&
        instancesModel.taskState.toUpperCase() != 'POWERING-OFF'
      "
      nz-menu-item
      (click)="showModalRestart()"
    >
      Khởi động lại
    </li>
    <li
      *ngIf="
        instancesModel.status.toUpperCase() == 'KHOITAO' &&
        instancesModel.taskState.toUpperCase() != 'REBUILDING' &&
        !instancesModel.taskState.toUpperCase().includes('RESIZE') &&
        instancesModel.taskState.toUpperCase() != 'ERROR' &&
        instancesModel.taskState.toUpperCase() != 'SHUTOFF' &&
        instancesModel.taskState.toUpperCase() != 'POWERING-OFF'
      "
      nz-menu-item
      (click)="showModalShutdown()"
    >
      Tắt
    </li>
    <li
      *ngIf="
        instancesModel.status.toUpperCase() == 'KHOITAO' &&
        (instancesModel.taskState.toUpperCase() == 'SHUTOFF' ||
          instancesModel.taskState.toUpperCase() == 'POWERING-OFF')
      "
      nz-menu-item
      (click)="showModalStart()"
    >
      Bật
    </li>
    <li
      *ngIf="
        instancesModel.status.toUpperCase() == 'KHOITAO' &&
        instancesModel.taskState.toUpperCase() != 'REBUILDING' &&
        !instancesModel.taskState.toUpperCase().includes('RESIZE') &&
        instancesModel.taskState.toUpperCase() != 'ERROR'
      "
      nz-menu-item
      (click)="modalResetPassword()"
    >
      Reset Password
    </li>
    <li nz-menu-item style="color: red" (click)="showModalDelete()">Xóa</li>
  </ul>
</nz-dropdown-menu>
<nz-modal
  [(nzVisible)]="isVisibleDelete"
  [nzTitle]="titleDeleteInstance"
  (nzOnCancel)="handleCancelDelete()"
>
  <div *nzModalContent>
    <nz-alert
      style="margin-bottom: 20px"
      nzType="warning"
      [nzDescription]="customTemplateMessageDelete"
      nzShowIcon
    ></nz-alert>
    <span class="text-label">
      Để thực hiện xóa máy ảo {{ instancesModel.name }}, vui lòng nhập tên máy
      ảo để xác nhận.
    </span>
    <nz-form-item style="margin-top: 5px; margin-bottom: -10px"
      ><nz-form-control>
        <input
          class="input-custom"
          nz-input
          [(ngModel)]="inputConfirm"
          [ngModelOptions]="{ standalone: true }"
          (keyup.enter)="handleOkDelete()"
        />
        <div *ngIf="checkInputConfirm" style="color: #ff4d4f">
          Vui lòng nhập đúng tên máy ảo
        </div>
        <div *ngIf="checkInputEmpty" style="color: #ff4d4f">
          Vui lòng nhập tên máy ảo
        </div>
      </nz-form-control></nz-form-item
    >
  </div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelDelete()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />Hủy
    </button>
    <button nz-button nzType="primary" (click)="handleOkDelete()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />Xác nhận
    </button>
  </div>
</nz-modal>
<ng-template #customTemplateMessageDelete>
  <div>
    Thao tác này sẽ xóa vĩnh viễn dữ liệu trên hệ thống và
    <b>KHÔNG THỂ KHÔI PHỤC LẠI</b>.
  </div>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisibleRestart"
  nzTitle="Khởi động lại máy ảo"
  (nzOnCancel)="handleCancelRestart()"
>
  <div *nzModalContent>
    Quý khách chắc chắn muốn thực hiện khởi động lại máy ảo?
  </div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelRestart()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />Hủy
    </button>
    <button nz-button nzType="primary" (click)="handleOkRestart()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />Xác nhận
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleShutdown"
  nzTitle="Tắt máy ảo"
  (nzOnCancel)="handleCancelShutdown()"
>
  <div *nzModalContent>Quý khách chắn chắn muốn thực hiện tắt máy ảo?</div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelShutdown()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />Hủy
    </button>
    <button nz-button nzType="primary" (click)="handleOkShutdown()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />Xác nhận
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleResetPass"
  nzTitle="Reset mật khẩu máy ảo"
  (nzOnCancel)="handleCancelResetPassword()"
>
  <div *nzModalContent>
    <form nz-form [formGroup]="formPass" [nzLayout]="'vertical'">
      <nz-alert
        nzType="warning"
        [nzDescription]="customTemplateMessageResetPassword"
        nzShowIcon
      ></nz-alert>
      <ng-template #customTemplateMessageResetPassword>
        <div>
          Nếu HĐH là Linux, hệ thống sẽ đặt lại mật khẩu cho tài khoản root Nếu
          HĐH là Windows, hệ thống sẽ đặt lại mật khẩu cho tài khoản
          Administrator
        </div>
      </ng-template>
      <nz-form-item>
        <label
          class="text-label"
          style="margin-top: 16px"
          nz-checkbox
          [(ngModel)]="autoCreate"
          [ngModelOptions]="{ standalone: true }"
          >Tự sinh</label
        >
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="newpassErrorTpl">
          <nz-form-label>Mật khẩu mới</nz-form-label>
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input
              class="input-custom"
              [type]="passwordVisible ? 'text' : 'password'"
              nz-input
              formControlName="newpass"
              placeholder=""
              [(ngModel)]="resetPassword"
              (input)="onInputChange($event)"
              [disabled]="autoCreate"
            />
          </nz-input-group>
          <ng-template #newpassErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')"
              >Vui lòng nhập trường mật khẩu mới
            </ng-container>
            <ng-container *ngIf="control.hasError('pattern')"
              >Mật khẩu phải chứa tối thiểu 12 ký tự, bao gồm các chữ số, chữ
              hoa, chữ thường và ký hiệu đặc biệt</ng-container
            >
          </ng-template>
          <ng-template #suffixTemplate>
            <i
              nz-icon
              [nzType]="'eye'"
              (click)="passwordVisible = !passwordVisible"
            ></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item style="margin-bottom: 0px">
        <nz-form-control [nzErrorTip]="passRepeatErrorTpl">
          <nz-form-label>Xác nhận mật khẩu</nz-form-label>
          <nz-input-group [nzSuffix]="suffixTemplateRepeat">
            <input
              class="input-custom"
              [type]="passwordRepeatVisible ? 'text' : 'password'"
              nz-input
              formControlName="passRepeat"
              placeholder=""
              [(ngModel)]="resetPasswordRepeat"
              (input)="onInputChange($event)"
              [disabled]="autoCreate"
            />
          </nz-input-group>
          <ng-template #suffixTemplateRepeat>
            <i
              nz-icon
              [nzType]="'eye'"
              (click)="passwordRepeatVisible = !passwordRepeatVisible"
            ></i>
          </ng-template>
          <div *ngIf="!check">
            <span style="color: rgba(252, 16, 16, 1)"
              >Mật khẩu không khớp nhau, vui lòng nhập lại</span
            >
          </div>
        </nz-form-control>
        <ng-template #passRepeatErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
            >Vui lòng nhập trường xác nhận mật khẩu</ng-container
          >
        </ng-template></nz-form-item
      >
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelResetPassword()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />Hủy
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="handleOkResetPassword()"
      [disabled]="autoCreate ? false : formPass.invalid || !check"
    >
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />Xác nhận
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleStart"
  nzTitle="Bật máy ảo"
  (nzOnCancel)="handleCancelStart()"
>
  <div *nzModalContent>Quý khách chắn chắn muốn thực hiện bật máy ảo?</div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelStart()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />Hủy
    </button>
    <button nz-button nzType="primary" (click)="handleOkStart()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />Xác nhận
    </button>
  </div>
</nz-modal>
