<div nz-row nzGutter="16" class="general">
    <ng-container *ngIf="isHealth === clusterHealth; else otherHealth">
        <div nz-col nzXs="24" nzSm="12" nzMd="4" class="mb-md">
            <div nz-row nzType="flex" nzAlign="middle" class="div-check p-md">
                <label class="text-check">HEALTH</label>
                <span class="text-health">Cluster</span>
            </div>
        </div>
    </ng-container>
    <ng-template #otherHealth>
        <ng-container *ngIf="isHealth === clusterUnHealth; else warningHealth">
            <div nz-col nzXs="24" nzSm="12" nzMd="4" class="mb-md">
                <div nz-row nzType="flex" nzAlign="middle" class="div-unhealth p-md" nz-tooltip
                    [nzTooltipTitle]="isHealthMsg" [nzTooltipColor]="'#ef5350'" nzTooltipPlacement="bottom"
                    nzTooltipOverlayClassName="tooltip-health">
                    <label class="text-check">UNHEALTH</label>
                    <span class="text-health">Cluster</span>
                </div>
            </div>
        </ng-container>

    </ng-template>
    <ng-template #warningHealth>
        <div nz-col nzXs="24" nzSm="12" nzMd="4" class="mb-md">
            <div nz-row nzType="flex" nzAlign="middle" class="div-warning p-md" nz-tooltip
                [nzTooltipTitle]="isHealthMsg" [nzTooltipColor]="'#ffa31a'" nzTooltipPlacement="bottom"
                nzTooltipOverlayClassName="tooltip-health">
                <label class="text-check">WARNING</label>
                <span class="text-health">Cluster</span>
            </div>
        </div>
    </ng-template>

    <div nz-col nzXs="24" nzSm="12" nzMd="5" class="mb-md">
        <div nz-row nzType="flex" nzAlign="middle" class="sum-info p-md">
            <div class="sum-value">1000</div>
            <label class="text-nowrap mb0 sum-lbl">Tổng số topic</label>
        </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="5" class="mb-md">
        <div nz-row nzType="flex" nzAlign="middle" class="sum-info p-md">
            <div class="sum-value">234</div>
            <p class="text-nowrap mb0 sum-lbl">Tổng số partition</p>
        </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="5" class="mb-md">
        <div nz-row nzType="flex" nzAlign="middle" class="sum-info p-md">
            <div class="sum-value">3000</div>
            <p class="text-nowrap mb0 sum-lbl">Tổng số message</p>
        </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="5" class="mb-md">
        <div nz-row nzType="flex" nzAlign="middle" class="sum-info p-md">
            <div class="sum-value">0</div>
            <p class="text-nowrap mb0 sum-lbl">Tổng số partition offline</p>
        </div>
    </div>
</div>

<div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzMd="24">
        <nz-card [nzTitle]="healthCheck" [nzBordered]="false">
            <ng-template #healthCheck>
                Health check
            </ng-template>
            <div id="health-chart">
                <apx-chart *ngIf="chartHealthCheck && chartHealthCheck.series" [series]="chartHealthCheck.series"
                    [chart]="chartHealthCheck.chart" [xaxis]="chartHealthCheck.xaxis" [yaxis]="chartHealthCheck.yaxis"
                    [dataLabels]="chartHealthCheck.dataLabels" [grid]="chartHealthCheck.grid"
                    [colors]="chartHealthCheck.colors" [legend]="chartHealthCheck.legend"
                    [tooltip]="chartHealthCheck.tooltip">
                </apx-chart>
            </div>
        </nz-card>
    </div>
</div>

<div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzMd="12">
        <nz-card [nzTitle]="producerTitle" [nzBordered]="false">
            <ng-template #producerTitle>
                <span>Giám sát Producers</span>
            </ng-template>
            <div id="chart-producers">
                <apx-chart *ngIf="chartProducers && chartProducers.series" [series]="chartProducers.series"
                    [chart]="chartProducers.chart" [xaxis]="chartProducers.xaxis" [yaxis]="chartProducers.yaxis"
                    [dataLabels]="chartProducers.dataLabels" [fill]="chartProducers.fill" [grid]="chartProducers.grid"
                    [stroke]="chartProducers.stroke" [tooltip]="chartProducers.tooltip">
                </apx-chart>
            </div>
        </nz-card>
    </div>
    <div nz-col nzXs="24" nzMd="12">
        <nz-card [nzTitle]="consumerTitle" [nzBordered]="false">
            <ng-template #consumerTitle>
                <span>Giám sát Consumers</span>
                <div style="float: right">
                    <button nz-button nzType="default" style="margin-right: 15px;" (click)="getInfo4Chart()">
                        Refresh
                    </button>
                    <nz-select id="range-time" [(ngModel)]="previousTimeMins" (ngModelChange)="onChangeTime()">
                        <nz-option *ngFor="let time of listRangeTime" [nzLabel]="time.label" [nzValue]="time.value"></nz-option>
                    </nz-select>
                </div>
            </ng-template>
            <div id="chart-consumers">
                <apx-chart *ngIf="chartConsumers && chartConsumers.series" [series]="chartConsumers.series"
                    [chart]="chartConsumers.chart" [xaxis]="chartConsumers.xaxis" [yaxis]="chartConsumers.yaxis"
                    [dataLabels]="chartConsumers.dataLabels" [fill]="chartConsumers.fill" [grid]="chartConsumers.grid"
                    [stroke]="chartConsumers.stroke" [tooltip]="chartConsumers.tooltip">
                </apx-chart>
            </div>
        </nz-card>
    </div>
</div>

<div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzMd="12">
        <nz-card [nzTitle]="messageTitle" [nzBordered]="false">
            <ng-template #messageTitle>
                <span>Giám sát Messages</span>
            </ng-template>
            <div id="chart-message">
                <apx-chart *ngIf="chartMessage && chartMessage.series" [series]="chartMessage.series"
                    [chart]="chartMessage.chart" [xaxis]="chartMessage.xaxis" [yaxis]="chartMessage.yaxis"
                    [dataLabels]="chartMessage.dataLabels" [fill]="chartMessage.fill" [grid]="chartMessage.grid"
                    [stroke]="chartMessage.stroke" [tooltip]="chartMessage.tooltip">
                </apx-chart>
            </div>
        </nz-card>
    </div>
    <div nz-col nzXs="24" nzMd="12">
        <nz-card [nzTitle]="storageTitle" [nzBordered]="false">
            <ng-template #storageTitle>
                <span>Giám sát Storage</span>
                <div style="float: right;">
                    <nz-select id="cbx-unit" [(ngModel)]="unitStorage" (ngModelChange)="onChangeUnitStorage()">
                        <nz-option *ngFor="let unit of listUnit" [nzLabel]="unit.label" [nzValue]="unit.value"></nz-option>
                    </nz-select>
                </div>
            </ng-template>
            <div id="chart-storage">
                <apx-chart *ngIf="chartStorage && chartStorage.series" [series]="chartStorage.series"
                    [chart]="chartStorage.chart" [xaxis]="chartStorage.xaxis" [yaxis]="chartStorage.yaxis"
                    [dataLabels]="chartStorage.dataLabels" [fill]="chartStorage.fill" [grid]="chartStorage.grid"
                    [stroke]="chartStorage.stroke" [tooltip]="chartStorage.tooltip">
                </apx-chart>
            </div>
        </nz-card>
    </div>
</div>