<div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
        <div nz-row nzType="flex" nzAlign="middle" class="bg-primary rounded-md">
            <div nz-col nzSpan="12" class="p-md text-white">
                <div class="h2 mt0">1000</div>
                <p class="text-nowrap mb0">Tổng số topic</p>
            </div>
        </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
        <div nz-row nzType="flex" nzAlign="middle" class="bg-success rounded-md">
            <div nz-col nzSpan="12" class="p-md text-white">
                <div class="h2 mt0">234</div>
                <p class="text-nowrap mb0">Tổng số partition</p>
            </div>
        </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
        <div nz-row nzType="flex" nzAlign="middle" class="bg-orange rounded-md">
            <div nz-col nzSpan="12" class="p-md text-white">
                <div class="h2 mt0">3</div>
                <p class="text-nowrap mb0">Tổng số message</p>
            </div>
        </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
        <div nz-row nzType="flex" nzAlign="middle" class="bg-magenta rounded-md">
            <div nz-col nzSpan="12" class="p-md text-white">
                <div class="h2 mt0">456</div>
                <p class="text-nowrap mb0">Tổng số partition offline</p>
            </div>
        </div>
    </div>
</div>

<div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzMd="24">
        <nz-card [nzTitle]="healthCheck" [nzBordered]="false">
            <ng-template #healthCheck>
                Health check
            </ng-template>
            <div id="health-chart">
                <apx-chart *ngIf="chartHealthCheck && chartHealthCheck.series"
                    [series]="chartHealthCheck.series"
                    [chart]="chartHealthCheck.chart"
                    [xaxis]="chartHealthCheck.xaxis"
                    [yaxis]="chartHealthCheck.yaxis"
                    [dataLabels]="chartHealthCheck.dataLabels"
                    [grid]="chartHealthCheck.grid"
                    [colors]="chartHealthCheck.colors"
                    [legend]="chartHealthCheck.legend"
                    [tooltip]="chartHealthCheck.tooltip">
                </apx-chart>
            </div>
        </nz-card>
    </div>
</div>

<div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzMd="12">
        <nz-card [nzBordered]="false">
            <div id="chart-producers">
                <apx-chart *ngIf="chartProducers && chartProducers.series"
                    [series]="chartProducers.series"
                    [chart]="chartProducers.chart"
                    [xaxis]="chartProducers.xaxis"
                    [yaxis]="chartProducers.yaxis"
                    [dataLabels]="chartProducers.dataLabels"
                    [fill]="chartProducers.fill"
                    [grid]="chartProducers.grid"
                    [stroke]="chartProducers.stroke"
                    [title]="chartProducers.title"
                    [tooltip]="chartProducers.tooltip">
                </apx-chart>
            </div>
        </nz-card>
    </div>
    <div nz-col nzXs="24" nzMd="12">
        <nz-card [nzBordered]="false">
            <div id="chart-consumers">
                <apx-chart *ngIf="chartConsumers && chartConsumers.series"
                    [series]="chartConsumers.series"
                    [chart]="chartConsumers.chart"
                    [xaxis]="chartConsumers.xaxis"
                    [yaxis]="chartConsumers.yaxis"
                    [dataLabels]="chartConsumers.dataLabels"
                    [fill]="chartConsumers.fill"
                    [grid]="chartConsumers.grid"
                    [stroke]="chartConsumers.stroke"
                    [title]="chartConsumers.title"
                    [tooltip]="chartConsumers.tooltip">
                </apx-chart>
            </div>
        </nz-card>
    </div>
</div>

<div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzMd="12">
        <nz-card [nzBordered]="false">
            <div id="chart-message">
                <apx-chart *ngIf="chartMessage && chartMessage.series"
                    [series]="chartMessage.series"
                    [chart]="chartMessage.chart"
                    [xaxis]="chartMessage.xaxis"
                    [yaxis]="chartMessage.yaxis"
                    [dataLabels]="chartMessage.dataLabels"
                    [fill]="chartMessage.fill"
                    [grid]="chartMessage.grid"
                    [stroke]="chartMessage.stroke"
                    [title]="chartMessage.title"
                    [tooltip]="chartMessage.tooltip">
                </apx-chart>
            </div>
        </nz-card>
    </div>
    <div nz-col nzXs="24" nzMd="12">
        <nz-card [nzBordered]="false">
            <div id="chart-storage">
                <apx-chart *ngIf="chartStorage && chartStorage.series"
                    [series]="chartStorage.series"
                    [chart]="chartStorage.chart"
                    [xaxis]="chartStorage.xaxis"
                    [yaxis]="chartStorage.yaxis"
                    [dataLabels]="chartStorage.dataLabels"
                    [fill]="chartStorage.fill"
                    [grid]="chartStorage.grid"
                    [stroke]="chartStorage.stroke"
                    [title]="chartStorage.title"
                    [tooltip]="chartStorage.tooltip">
                </apx-chart>
            </div>
        </nz-card>
    </div>
</div>
