<page-header [breadcrumb]="breadcrumb" [content]="content" [action]="action" [title]="'Chi tiết cluster'">
  <!-- breadcrumb -->
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Trang chủ</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Cluster
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-kubernetes']">Danh sách cluster</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Chi tiết cluster</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>

  <!-- action -->
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown
        (valueChanged)="onRegionChange($event)"
      ></region-select-dropdown>
      <project-select-dropdown
        [regionId]="regionId"
        (valueChanged)="onProjectChange($event)"
      ></project-select-dropdown>
    </div>
  </ng-template>

  <ng-template #content>
    <div>
      <button nz-button nzType="primary" (click)="handleExtension()">
        <span nz-icon nzType="calendar" nzTheme="outline"></span>
        Gia hạn
      </button>

      <button nz-button nzType="default" (click)="handleEditCluster()">
        <span nz-icon nzType="edit" nzTheme="outline"></span>
        Điều chỉnh
      </button>
    </div>
  </ng-template>
</page-header>

<ng-container *ngIf="detailCluster; else loadingTpl">
  <!-- Thông tin chung -->
  <nz-card class="border-card">
    <h3>Thông tin chung</h3>
    <div nz-row>
      <div nz-col [nzSpan]="24" class="detailtable">
        <nz-table [nzTemplateMode]="true" nzBordered>
          <tbody>
            <tr>
              <td class="w-50"><row-data [value]="detailCluster.clusterName" [label]="'Tên cluster'"></row-data></td>
              <td class="w-50">
                <div nz-row>
                  <div nz-col [nzSpan]="8">
                    Phiên bản Kubernetes
                  </div>
                  <div nz-col [nzSpan]="16" class="description-info">
                    {{detailCluster.currentVersion}}
                    <button nz-button nzType="text" (click)="handleShowModalUpgradeVersion()" class="action-icon borderless"
                      nzTooltipTitle="Nâng cấp" nzTooltipPlacement="top" nz-tooltip>
                      <span nz-icon nzType="setting" nzTheme="outline"></span>
                    </button>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td class="w-50"><row-data [value]="detailCluster.apiEndpoint" [label]="'API Endpoint'"></row-data></td>
              <td class="w-50"><row-data [value]="detailCluster.serviceOrderCode" [label]="'Mã đơn hàng'"></row-data></td>
            </tr>

            <tr>
              <td class="w-50"><row-data [value]="detailCluster.autoScaling == true ? 'Kích hoạt' : 'Không kích hoạt'"
                [label]="'Auto scale'"></row-data></td>

              <td class="w-50"><row-data [value]="detailCluster.autoHealing == true ? 'Kích hoạt' : 'Không kích hoạt'"
                [label]="'Auto healing'"></row-data></td>
            </tr>

            <tr>
              <td class="w-50"><row-data [value]="detailCluster.createdDate | date: 'dd/MM/yyyy'" [label]="'Ngày khởi tạo'"></row-data></td>
              <td class="w-50"><row-data [value]="detailCluster.createdDate | date: 'dd/MM/yyyy'" [label]="'Ngày hết hạn'" [type]="'danger'"></row-data></td>
            </tr>

            <tr>
              <td class="w-50">
                <div nz-row>
                  <div nz-col [nzSpan]="8">Trạng thái</div>
                  <div nz-col [nzSpan]="16">
                    <ng-container *ngIf="detailCluster.serviceStatus | status2ColorPipe as status">
                      <span [ngStyle]="{color: status.color, 'font-weight': 600}">{{status.status}}</span>
                    </ng-container>
                  </div>
                </div>
              </td>
              <td class="w-50"><row-data [value]="detailCluster.description" [label]="'Mô tả'"></row-data></td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-card>

  <!-- Thông tin worker group -->
  <nz-card class="border-card">
    <h3>Thông tin worker group</h3>
    <ng-container *ngIf="detailCluster.workerGroups.length > 0; else workerlessTpl">
      <ng-container *ngFor="let item of detailCluster.workerGroups; let i=index;">
        <div nz-row>
          <div nz-col [nzSpan]="24" class="detailtable">
            <nz-table [nzTemplateMode]="true" nzBordered>
              <tbody>
                <tr>
                  <td class="w-50"><row-data [value]="item.workerGroupName" [label]="'Tên worker group'"></row-data></td>
                  <td class="w-50"><row-data [value]="item.minimumNode" [label]="'Tổng số node'"></row-data></td>
                </tr>

                <tr>
                  <td class="w-50"><row-data value="{{item.cpu}} vCPU/{{item.ram}} GiB" [label]="'Cấu hình'"></row-data></td>
                  <td class="w-50"><row-data [value]="item.volumeSize" [label]="'Ổ cứng (GiB)'"></row-data></td>
                </tr>

                <ng-container *ngIf="detailCluster.autoScale">
                  <tr>
                    <td class="w-50">
                      <div nz-row>
                        <div nz-col [nzSpan]="8">Auto scale</div>
                        <div nz-col [nzSpan]="16" class="description-info">
                          Min Node: {{item.minimumNode}} - Max Node: {{item.maximumNode}}
                          <button nz-button nzType="text" (click)="handleChangeScaleNode(item)" class="action-icon borderless"
                            nzTooltipTitle="Chỉnh sửa" nzTooltipPlacement="top" nz-tooltip>
                            <span nz-icon nzType="edit" nzTheme="outline"></span>
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </nz-table>
          </div>
          <ng-container *ngIf="i != (detailCluster.workerGroups.length - 1)">
            <nz-divider nzDashed></nz-divider>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #workerlessTpl>
      <nz-empty [nzNotFoundContent]="contentTpl">
        <ng-template #contentTpl>
          Không có thông tin nhóm worker
        </ng-template>
      </nz-empty>
    </ng-template>
  </nz-card>

  <!-- Thông tin network -->
  <nz-card class="border-card">
    <h3>Thông tin network</h3>
    <div nz-row>
      <div nz-col [nzSpan]="24" class="detailtable">
        <nz-table [nzTemplateMode]="true" nzBordered>
          <tbody>
            <tr>
              <td class="w-50"><row-data [value]="detailCluster.networkType | network2label" [label]="'Loại network'"></row-data></td>
              <td class="w-50"><row-data [value]="detailCluster.cidr" [label]="'CIDR'"></row-data></td>
            </tr>

            <tr>
              <td class="w-50"><row-data [value]="detailCluster.networkType | network2label" [label]="'Mạng VPC'"></row-data></td>
              <td class="w-50"><row-data [value]="detailCluster.subnet" [label]="'Subnet'"></row-data></td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-card>

</ng-container>

<ng-template #loadingTpl>
  loading ...
</ng-template>

<!-- modal upgrade -->
<nz-modal [(nzVisible)]="showModalUpgradeVersion" nzTitle="Nâng cấp phiên bản" (nzOnCancel)="handleCancelShowModalUpgrade()">
  <div *nzModalContent>
    Bạn có muốn nâng cấp cluster lên phiên bản <b>{{detailCluster.upgradeVersion}}</b> không?
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancelShowModalUpgrade()">Hủy bỏ</button>
    <button nz-button nzType="primary" (click)="handleUpgadeVersionCluster()" [nzLoading]="isUpgradingVersion">Xác nhận</button>
  </div>
</nz-modal>
