.ant-table-tbody > tr > td {
  font-size: 16px;
}

h3 {
  font-size: 20px;
}

.label-col {
  width: 30%;
}

.border-right-none {
  border-right: none;
}

.detailtable nz-table tr:nth-child(odd) {
  background-color: #f0f1f4;
}

.description-info {
  font-weight: 600;
}

.danger-color {
  color: #ea3829;
}

.upgrade-icon {
  position: relative;
  float: right;
  height: fit-content;
}

::ng-deep .ant-card-head {
  min-height: 48px;
  margin-bottom: -1px;
  padding: 0 24px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border-radius: 2px 2px 0 0;
  border: none;
}

::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 4px;
}

input,
textarea,
.border-card,
.border-button {
  border-radius: 4px;
}
