<page-header
  [breadcrumb]="breadcrumb"
  [action]="action"
  [title]="'Chỉnh sửa thông tin máy ảo'"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-smart-cloud/instances']">{{
          'app.instances' | i18n
        }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Chỉnh sửa thông tin máy ảo</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown
        (valueChanged)="onRegionChange($event)"
      ></region-select-dropdown>
      <project-select-dropdown
        [regionId]="region"
        (userChanged)="onProjectChange($event)"
      ></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-card [nzBordered]="false" *ngIf="currentImage">
  <div style="margin-bottom: 20px">
    <span class="text-card-header">Thay đổi hệ điều hành</span>
  </div>
  <span class="text-label">Hệ điều hành hiện tại: {{ currentImage.name }}</span>
  <br />
  <br />
  <span class="text-label"
    >Lựa chọn hệ điều hành mới (<span class="text-red">*</span>)</span
  >
  <ngu-carousel
    #myCarouselImage
    [inputs]="carouselTileConfig"
    [dataSource]="listImageTypes"
    style="width: 100%; margin-left: -10px"
  >
    <ngu-tile
      *nguCarouselDef="let data; index as i; let ani = animate"
      [@slider]="ani"
    >
      <div
        class="images-body"
        [id]="'images_' + data.id"
        [ngClass]="{
          'images-body-active': data.id === selectedImageTypeId,
          bgGray: !data.id === selectedImageTypeId
        }"
      >
        <nz-row>
          <nz-col class="text-center" style="width: 100%">
            <img
              *ngIf="data.name == 'Linux'"
              src="assets/imgs/ubuntu.png"
              alt=""
            />
            <img
              *ngIf="data.name == 'Windows'"
              src="assets/imgs/window.png"
              alt=""
            />
          </nz-col>
        </nz-row>
        <nz-row>
          <nz-col class="text-center" style="width: 100%">
            <div style="margin-top: 15px; margin-bottom: 15px">
              <nz-select
                nzShowSearch
                [id]="'hdh_' + data.id"
                [(ngModel)]="listSelectedImage[i]"
                (ngModelChange)="onInputHDH($event, i, data.id)"
                nzPlaceHolder="Chọn phiên bản"
                [ngModelOptions]="{ standalone: true }"
                style="text-align: center; width: 150px"
              >
                <nz-option
                  *ngFor="let p of listOfImageByImageType.get(data.id)"
                  [nzValue]="p.id"
                  [nzLabel]="p.name"
                ></nz-option>
              </nz-select>
            </div>
          </nz-col>
        </nz-row>
      </div>
    </ngu-tile>

    <ul class="myPoint" NguCarouselPoint>
      <li
        *ngFor="let i of myCarouselImage.pointNumbers"
        [class.active]="i === myCarouselImage.activePoint"
        (click)="myCarouselImage.moveTo(i)"
      ></li>
    </ul>
  </ngu-carousel>
  <br />
  <nz-alert
    nzType="warning"
    [nzDescription]="nzDescriptionWarning06"
    nzShowIcon
  ></nz-alert>
  <ng-template #nzDescriptionWarning06>
    <div>
      Các phiên bản hệ điều hành Windows Server là bản dùng thử.Quý khách hàng
      vui lòng kích hoạt bản quyền trước khi sử dụng.
    </div>
  </ng-template>
  <nz-alert
    style="margin-top: 2%; margin-bottom: 2%"
    nzType="warning"
    [nzDescription]="nzDescriptionWarning02"
    nzShowIcon
  ></nz-alert>
  <ng-template #nzDescriptionWarning02>
    <div>
      <b> Quý khách lưu ý:</b><br />
      <b style="color: #ea3829">
        - Dữ liệu nằm trong volume cài đặt hệ điều hành cũ (dung lượng
        <span>{{ instancesModel.storage }}</span> GB) sẽ bị xóa và không thể
        khôi phục lại.</b
      >
      <br />- Dữ liệu nằm trên volume gắn ngoài sẽ không bị ảnh hưởng. <br />-
      Sau khi điều chỉnh thành công, mật khẩu đăng nhập mới sẽ được gửi vào
      email <b>{{ email }}</b
      >. <br />- Quá trình điều chỉnh hệ điều hành sẽ mất khoảng 15 đến 20 phút
      tùy dung lượng của volume root của máy ảo. <br />- Cấu hình máy ảo (<span
        >{{ instancesModel.flavorName | slice : 3 }}</span
      >), ip (<span>{{ listIPStr }}</span
      >), security group (<span
        *ngIf="instancesModel.securityGroupStr !== null; else defaultValue"
        >{{ securityGroupStr }}</span
      >
      <ng-template #defaultValue>default</ng-template>) sẽ được giữ nguyên.
    </div>
  </ng-template>
  <nz-row nzGutter="16" style="display: inline">
    <div style="float: right">
      <button nz-button (click)="returnPage()">
        <img
          style="padding-right: 10px; margin-top: -4px"
          src="assets/imgs/cancel.svg"
          alt=""
        />Hủy
      </button>
      <button
        nz-button
        nzType="primary"
        (click)="showModalUpdate()"
        [disabled]="!isSelected"
      >
        <img
          style="padding-right: 10px; margin-top: -4px"
          src="assets/imgs/confirm.svg"
          alt=""
        />
        Cập nhật
      </button>
    </div>
  </nz-row>
</nz-card>

<nz-modal
  [(nzVisible)]="isVisibleUpdate"
  nzTitle="Xác nhận thay đổi hệ điều hành"
  (nzOnCancel)="handleCancelUpdate()"
>
  <div class="text-value" *nzModalContent>
    Quý khách chắn chắn muốn thực hiện thay đổi hệ điều hành máy ảo?
  </div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelUpdate()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />Hủy
    </button>
    <button nz-button nzType="primary" (click)="handleOkUpdate()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />Xác nhận
    </button>
  </div>
</nz-modal>
