<page-header
  [breadcrumb]="breadcrumb"
  [action]="action"
  [title]="'app.edit.instance' | i18n"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="separatorTemplate">
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.breadcrumb.infrastructure.service' | i18n }}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-smart-cloud/instances']">{{
          'app.instances' | i18n
        }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ 'app.edit.instance' | i18n }}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #separatorTemplate
      ><img src="assets/imgs/arrow-square-right.svg" alt="" />
    </ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown
        (valueChanged)="onRegionChange($event)"
      ></region-select-dropdown>
      <project-select-dropdown
        [regionId]="region"
        (userChanged)="onProjectChange($event)"
      ></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-card [nzBordered]="false" *ngIf="currentImage">
  <div style="margin-bottom: 20px">
    <span class="text-card-header">{{ 'app.instances.OS.change' | i18n }}</span>
  </div>
  <span class="text-label"
    >{{ 'app.current.instances.OS' | i18n }}: {{ currentImage.name }}</span
  >
  <br />
  <br />
  <span class="text-label"
    >{{ 'app.choose.new.instances.OS' | i18n }} (<span class="text-red">*</span
    >)</span
  >
  <ngu-carousel
    #myCarouselImage
    [inputs]="carouselTileConfig"
    [dataSource]="listImageTypes"
    style="width: 100%; margin-left: -10px"
  >
    <ngu-tile
      *nguCarouselDef="let data; index as i; let ani = animate"
      [@slider]="ani"
    >
      <div
        class="images-body"
        [id]="'images_' + data.id"
        [ngClass]="{
          'images-body-active': data.id === selectedImageTypeId,
          bgGray: !data.id === selectedImageTypeId
        }"
      >
        <nz-row>
          <nz-col class="text-center" style="width: 100%">
            <img
              *ngIf="data.name == 'Linux'"
              src="assets/imgs/ubuntu.png"
              alt=""
            />
            <img
              *ngIf="data.name == 'Windows'"
              src="assets/imgs/window.png"
              alt=""
            />
          </nz-col>
        </nz-row>
        <nz-row>
          <nz-col class="text-center" style="width: 100%">
            <div style="margin-top: 15px; margin-bottom: 15px">
              <nz-select
                nzShowSearch
                [id]="'hdh_' + data.id"
                [(ngModel)]="listSelectedImage[i]"
                (ngModelChange)="onInputHDH($event, i, data.id)"
                [nzPlaceHolder]="'app.button.choose.version' | i18n"
                [ngModelOptions]="{ standalone: true }"
                style="text-align: center; width: 150px"
              >
                <nz-option
                  *ngFor="let p of listOfImageByImageType.get(data.id)"
                  [nzValue]="p.id"
                  [nzLabel]="p.name"
                ></nz-option>
              </nz-select>
            </div>
          </nz-col>
        </nz-row>
      </div>
    </ngu-tile>

    <ul class="myPoint" NguCarouselPoint>
      <li
        *ngFor="let i of myCarouselImage.pointNumbers"
        [class.active]="i === myCarouselImage.activePoint"
        (click)="myCarouselImage.moveTo(i)"
      ></li>
    </ul>
  </ngu-carousel>
  <br />
  <nz-alert
    nzType="warning"
    [nzDescription]="nzDescriptionWarning06"
    nzShowIcon
  ></nz-alert>
  <ng-template #nzDescriptionWarning06>
    <div>
      {{ 'app.alert.change.instances.OS' | i18n }}
    </div>
  </ng-template>
  <nz-alert
    style="margin-top: 2%; margin-bottom: 2%"
    nzType="warning"
    [nzDescription]="nzDescriptionWarning02"
    nzShowIcon
  ></nz-alert>
  <ng-template #nzDescriptionWarning02>
    <div>
      <b> {{ 'app.please.note' | i18n }}:</b><br />
      <b style="color: #ea3829">
        {{
          'app.instances.OS.des' | i18n : { num: instancesModel.storage }
        }} </b
      ><br />{{ 'app.instances.OS.des1' | i18n }}<br />{{
        'app.instances.OS.des2' | i18n
      }}
      <b>{{ email }}</b
      >. <br />{{ 'app.instances.OS.des3' | i18n }} <br />{{
        'app.instances.OS.des4' | i18n
      }}
      (<span>{{ instancesModel.flavorName | slice : 3 }}</span
      >), ip (<span>{{ listIPStr }}</span
      >), security group (<span
        *ngIf="instancesModel.securityGroupStr !== null; else defaultValue"
        >{{ securityGroupStr }}</span
      >
      <ng-template #defaultValue>default</ng-template>)
      {{ 'app.instances.OS.des5' | i18n }}
    </div>
  </ng-template>
  <nz-row nzGutter="16" style="display: inline">
    <div style="float: right">
      <button nz-button (click)="returnPage()">
        <img
          style="padding-right: 10px; margin-top: -4px"
          src="assets/imgs/cancel.svg"
          alt=""
        />{{ 'app.button.cancel' | i18n }}
      </button>
      <button
        nz-button
        nzType="primary"
        (click)="showModalUpdate()"
        [disabled]="!isSelected"
      >
        <img
          style="padding-right: 10px; margin-top: -4px"
          src="assets/imgs/confirm.svg"
          alt=""
        />
        {{ 'app.button.update' | i18n }}
      </button>
    </div>
  </nz-row>
</nz-card>

<nz-modal
  [(nzVisible)]="isVisibleUpdate"
  [nzTitle]="'app.instances.OS.change.title.confirm' | i18n"
  (nzOnCancel)="handleCancelUpdate()"
>
  <div class="text-value" *nzModalContent>
    {{ 'app.alert.change.instances.OS.next' | i18n }}
  </div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelUpdate()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />{{ 'app.button.cancel' | i18n }}
    </button>
    <button nz-button nzType="primary" (click)="handleOkUpdate()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />{{ 'app.button.confirm' | i18n }}
    </button>
  </div>
</nz-modal>
