.align-item {
  text-align: center;
}

.borderless {
  border: none;
}

.add-btn {
  position: relative;
  float: right;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.lock-rule {
  cursor: no-drop;
  text-align: center;
}

[data-theme='dark'] :host ::ng-deep .content-table {
  color: #DDDDDD;
}

[data-theme='compact'] :host ::ng-deep .content {
  font-size: 14px;
}

[data-theme='compact'] :host ::ng-deep .header-table {
  font-weight: 600;
  background-color: #E2EEFC;
}
