<div class="add-btn mb-5">
  <one-portal-create-outbound
    nz-tooltip
    [nzTooltipTitle]="'app.cluster.new-outbound' | i18n"
    nzTooltipPlacement="bottom"
    [disabled]="!securityGroupId"
    [condition]="{
              userId: condition.userId,
              regionId: condition.regionId,
              projectId: condition.projectId,
              securityGroupId: securityGroupId
            }"
    (onOk)="getRuleOutbound()" />
</div>
<nz-table #ruleTable [nzData]="listOfOutbound" nzShowSizeChanger
  [nzFrontPagination]="false" [nzTotal]="total"
  [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)" [nzLoading]="isLoadingOutbound">
  <thead>
    <tr>
      <th>{{ 'app.order.ordinalNumber' | i18n }}</th>
      <th>IP Version</th>
      <th>Protocol</th>
      <th>Port Range</th>
      <th>Remote IP Prefix</th>
      <th>Remote Security Group</th>
      <th>{{ 'app.text.operation' | i18n }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of ruleTable.data; let i = index;">
      <tr>
        <td class="right-align content-table">{{ i + 1 }}</td>
        <td class="content-table">{{item.etherType}}</td>
        <td class="content-table">{{item.protocol | protocol2label}}</td>
        <td class="content-table">{{item.portRange}}</td>
        <td class="content-table">{{item.remoteIpPrefix}}</td>
        <td class="content-table">{{item.remoteGroupName}}</td>
        <td class="content-table">
          <ng-container *ngIf="item | canDelRule; else cannotDelRuleTpl">
            <div class="center-align">
              <one-portal-delete-outbound
                nz-tooltip
                [nzTooltipTitle]="'app.cluster.delete-outbound' | i18n"
                nzTooltipPlacement="top"
                [idOutbound]="item.id"
                [nameRule]="item.remoteIp"
                [region]="regionId"
                [project]="projectId"
                (onOk)="handleOkDeleteOutbound($event)" />
            </div>
          </ng-container>
          <ng-template #cannotDelRuleTpl>
            <div [nz-tooltip]="'app.cluster.lock-rule' | i18n" class="lock-rule">
              <img src="assets/imgs/trash1.svg" alt="" style="margin-top: 0; width: fit-content;" />
            </div>
          </ng-template>
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
