

nz-header {
  background: #fff;
  display: flex;
  align-items: center;
  height: 106px;
  padding: 0 24px;
  margin: 0 -24px;
  line-height: 22px;
}

nz-header h4 {
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  padding-top: 10px;
}

nz-content {
  padding-top: 0;
  padding-bottom: 24px;
  letter-spacing: 0;
  line-height: 22px;
}

.title {
  margin-bottom: 16px;
}
//.custom-input{
//  height: 40px;
//}

.custom-select .ant-select-selection-overflow {
  max-height: 200px; /* Set a max height for the dropdown */
  overflow-y: auto; /* Add scroll if the height exceeds max-height */
}


:host ::ng-deep .ant-select-show-search.ant-select:not(.ant-select-customize-input)
.ant-select-selector {
  cursor: text;
  //border-radius: 8px;
  height: auto !important;
  font-size: 16px;
}
