<nz-card>
  <nz-row nzJustify="space-between" style="margin-bottom: 16px">
    <nz-col>
      <div style="font-size: 20px; font-weight: 600">Thêm User vào Group (Optional) ({{listOfSelected?.length}}/{{filteredUsers?.length}})</div>
    </nz-col>
    <nz-col>
      <nz-space>
        <nz-input-group
          *nzSpaceItem
          style="width: 300px;"
          [nzPrefix]="prefixIconSearch"
          nzSize="large"
          [(ngModel)]="value"
          (input)="onInputChange($event.target['value'])"
        >
          <input
            name="name"
            nz-input
            placeholder="Tìm kiếm tên, thời gian tạo ..."
          />
        </nz-input-group>
        <ng-template #prefixIconSearch>
          <img
            src="assets/imgs/search.svg"
            alt=""
            style="cursor: pointer"
            nz-tooltip="Tìm kiếm"
          />
        </ng-template>
        <button
          *nzSpaceItem
          style="border: none;"
          nz-button
          nzSize="large"
          nz-tooltip nzTooltipTitle="Làm mới" nzTooltipPlacement="bottom"
          (click)="reload()"
        >
          <img style="margin-top: -4px" src="assets/imgs/refresh.svg" alt=""/>
        </button>
      </nz-space>
    </nz-col>
  </nz-row>
  <nz-table
          #rowSelectionTable
          nzShowSizeChanger
          [nzFrontPagination]="false"
          [nzData]="filteredUsers"
          (nzQueryParams)="onQueryParamsChange($event)"
          [nzLoading]="loading"
          [nzTotal]="response?.totalCount"
          [nzPageSize]="5"
          [nzPageIndex]="response?.currentPage">
    <thead>
    <tr>
      <th [nzChecked]="checked"
          [nzIndeterminate]="indeterminate"
          nzLabel="Select all"
          (nzCheckedChange)="onAllChecked($event)"></th>
      <th>Name</th>
      <th>Groups</th>
      <th>Thời gian tạo</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td
        [nzChecked]="setOfCheckedId.has(data?.userName)"
        (nzCheckedChange)="onItemChecked(data?.userName, $event)"
      ></td>
      <td>
        <a [routerLink]="">{{ data?.userName }}</a>
      </td>
      <td>{{ data?.userGroups }}</td>
      <td>{{ data?.createdDate | date: 'dd/MM/yyyy - HH:mm:ss' }}</td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
