<nz-list nzItemLayout="horizontal">
  <nz-list-item [nzActions]="[passwordOp]">
    <ng-template #passwordOp>
      <a class="operate-text">Modification</a>
    </ng-template>
    <nz-list-item-meta nzTitle="Account Password" [nzDescription]="passwordDesc">
      <ng-template #passwordDesc>
        Current password strength:
        <span class="text-green">Strong</span>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[phoneOp]">
    <ng-template #phoneOp>
      <a class="operate-text">Modification</a>
    </ng-template>
    <nz-list-item-meta nzTitle="Secret Phone" [nzDescription]="phoneDesc">
      <ng-template #phoneDesc>Bound mobile phone:159****2231</ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[questionOp]">
    <ng-template #questionOp>
      <a class="operate-text">Modification</a>
    </ng-template>
    <nz-list-item-meta nzTitle="Secret Security Question" [nzDescription]="questionDesc">
      <ng-template #questionDesc>No password security question is set, which can effectively protect account security</ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[emailOp]">
    <ng-template #emailOp>
      <a class="operate-text">Modification</a>
    </ng-template>
    <nz-list-item-meta nzTitle="Alternate Email" [nzDescription]="emailDesc">
      <ng-template #emailDesc>Bound email address:cip*****.com</ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[mfaOp]">
    <ng-template #mfaOp>
      <a class="operate-text">Modification</a>
    </ng-template>
    <nz-list-item-meta nzTitle="MFA Devices" [nzDescription]="mfaDesc">
      <ng-template #mfaDesc>Unbound MFA device, after binding, you can make a second confirmation</ng-template>
    </nz-list-item-meta>
  </nz-list-item>
</nz-list>
