<nz-modal [(nzVisible)]="isVisibleCreate" nzTitle="Tạo mới"
          (nzOnCancel)="handleCancel()" nzCentered [nzWidth]="560" >
    <div *nzModalTitle>
        <h5 class="text-h5"><b>Tạo mới Allowed Address Pair</b></h5>
    </div>
    <div *nzModalContent>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <div nz-row>
                <nz-form-item>
                    <nz-form-label nzFor="ipAddress">
                        <div class="name-ip-address">
                            <span>IP Address/ CIDR</span>
                            <span style="color: rgba(252, 16, 16, 1); "> *</span>
                        </div>
                    </nz-form-label>
                    <nz-form-control nzErrorTip="Không được để trống!">
                        <input nz-input formControlName="ipAddress" id="ipAddress"/>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-row>
                <nz-form-item>
                    <nz-form-label nzFor="macAddress">
                        <div class="name-ip-address">
                            <span>MAC Address</span>
                        </div>
                    </nz-form-label>
                    <input nz-input formControlName="macAddress" id="macAddress"/>
                </nz-form-item>
            </div>
        </form>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()" class="button-cancel-popup">Hủy
        </button>
        <button nz-button nzType="primary" (click)="handleCreate()" class="button-create-popup">Tạo mới
        </button>
    </div>
</nz-modal>
