<page-header [breadcrumb]="breadcrumb" [action]="action" [title]="'Tạo mới Endpoint Group'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Trang chủ</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-smart-cloud/schedule/snapshot/list']">Dịch vụ hạ tầng</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/app-smart-cloud/vpn-site-to-site/manage']">VPN site to
          site</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>Tạo mới Endpoint Group</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="onRegionChange($event)"></region-select-dropdown>
      <project-select-dropdown [regionId]="region" (valueChanged)="onProjectChange($event)"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>

<div nz-row [nzGutter]="16">
  <div nz-col [nzSpan]="17" class="gutter-row">
    <nz-card style="border-radius: 8px;">
      <h2 class="custom-title">Thông tin Endpoint Group</h2>
      <form [formGroup]="form" nz-form [nzLayout]="'vertical'">
        <nz-form-item>
          <nz-form-control [nzErrorTip]="nameErrorTpl">
            <nz-form-label nzFor="name">
              <div>
                <span>Name</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <span nz-icon nzType="question-circle" nzTheme="outline" nz-popover
                  [nzPopoverContent]="'Tên của Endpoint, các ký tự chữ thường a-z, chữ hoa A-Z, số 0-9, dấu gạch ngang (-) và dấu gạch dưới (_), có thể có khoảng trắng, tối thiểu 1 ký tự và tối đa 255 ký tự.'"
                  nzPopoverPlacement="bottom"></span>
              </div>
            </nz-form-label>
            <input nz-input type="text" required placeholder="Nhập tên" formControlName="name" />
            <ng-template #nameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">Tên Endpoint Group không được để
                trống</ng-container>
              <ng-container *ngIf="control.hasError('pattern')">Tên Endpoint Group chỉ chứa kí tự viết thường, viết
                hoa, số, dấu ngạch ngang (-), dấu gạch dưới (_)</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <nz-form-label nzFor="name">
              <div>
                <span>Type</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <span nz-icon nzType="question-circle" nzTheme="outline" nz-popover
                  [nzPopoverContent]="'IPsec Connection yêu cầu Local Endpoints là Subnet và peer endpoints là CIDR.'"
                  nzPopoverPlacement="bottom"></span>
              </div>
            </nz-form-label>
            <nz-select nzShowSearch nzAllowClear [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}">
              <nz-option *ngFor="let data of type" [nzLabel]="data.label"
                [nzValue]="data.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <nz-form-label nzFor="name">
              <div>
                <span>Type</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <span nz-icon nzType="question-circle" nzTheme="outline" nz-popover
                  [nzPopoverContent]="'IPsec Connection yêu cầu Local Endpoints là Subnet và peer endpoints là CIDR.'"
                  nzPopoverPlacement="bottom"></span>
              </div>
            </nz-form-label>
            <nz-select nzShowSearch nzAllowClear [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}">
              <nz-option *ngFor="let data of type" [nzLabel]="data.label"
                [nzValue]="data.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="7" class="gutter-row">
    <nz-card style="border-radius: 8px;">
      <h2 class="custom-title">Thông số cấu hình</h2>
      <div style="overflow: auto; height: 358px; margin-bottom: 16px;">
        <div style="margin-bottom: 12px">
          <h3 class="custom-subtitle">Name</h3>
          <span>{{form.value.name}}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Type</h3>
          <span>{{selectedType}}</span>
        </div>
      </div>
      <button (click)="handleCreate()" nz-button nzType="primary"
        style="border: none; width: 100%; display: flex; align-items: center; gap: 5px; justify-content: center;"
        nzSize="large" [disabled]="form.invalid">
        <img src="assets/imgs/wallet.svg" alt="" />
        <span class="button-text-primary">Khởi tạo</span>
      </button>

    </nz-card>
  </div>
</div>

<div class="text-right" style="
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  ">
</div>