<!-- [nzVisible]="visibleFrom" -->
<!-- [nzTitle]="isEdit ? 'Cập nhật tài khoản' : 'Thêm tài khoản'" -->
<!-- <nz-drawer
  nzSize="large"
  (nzOnClose)="closeForm()"
>
*nzDrawerContent -->
<nz-alert
    nzType="warning"
    [nzDescription]="formType === 'create'?'Tạo tài khoản để cấp cho người dùng quyền truy cập vào database và collection trong cluster của bạn. Kiểm soát truy cập chi tiết có thể được cấu hình với các quyền cụ thể hoặc quyền tùy chỉnh.':'Cập nhật tài khoản để cấp cho người dùng quyền truy cập vào database và collection trong cluster của bạn. Kiểm soát truy cập chi tiết có thể được cấu hình với các quyền mặc định hoặc quyền tùy chỉnh.'"
    nzShowIcon
  ></nz-alert>
<nz-divider></nz-divider>
<form nz-form nzLabelAlign="left" nzLayout="vertical" [formGroup]="userDbForm" nzNoColon>
  <nz-form-item>
    <nz-form-label>
      <b>Thông tin xác thực</b>
    </nz-form-label>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzSpan="6" nzFor="username" >Tài khoản (<span class="text-red">*</span>)</nz-form-label>
    <nz-form-control nzHasFeedback nzSpan="24" [nzErrorTip]="usernameErrorTpl">
      <input nzSize="large" nz-input formControlName="username" id="username" placeholder="Nhập tên tài khoản"
        (ngModelChange)="validateUsername()" />
      <ng-template #usernameErrorTpl let-control>
        <ng-container *ngIf="control.invalid">
          {{ usernameError }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <div *ngIf="formType === 'create'">
    <nz-form-item>
      <nz-form-label nzSpan="6" nzFor="password">{{
        pwdTplString
        }} (<span class="text-red">*</span>)</nz-form-label>
      <nz-form-control nzHasFeedback nzSpan="24" [nzErrorTip]="passwordErrorTpl">
        <nz-input-group nzSize="large" [nzSuffix]="suffixTemplate">
          <input nz-input formControlName="password" id="password" [type]="passwordVisible ? 'text' : 'password'"
            placeholder="Nhập {{ pwdTplString | lowercase }}" (ngModelChange)="validatePassword()" />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <!-- cuongtd - code eye invisible -->
          <!-- <span
          nz-icon
          (click)="passwordVisible = !passwordVisible"
          [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        ></span> -->

          <!-- HuyNguyen - code eye invisible  -->
          <ng-container *ngIf="passwordVisible; else eyeViewTpl">
            <span nz-icon (click)="passwordVisible = !passwordVisible">
              <svg viewBox="64 64 896 896" focusable="false">
                <path
                  d="M942.2 486.2Q889.47 375.11 816.7 305l-50.88 50.88C807.31 395.53 843.45 447.4 874.7 512 791.5 684.2 673.4 766 512 766q-72.67 0-133.87-22.38L323 798.75Q408 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 000-51.5zm-63.57-320.64L836 122.88a8 8 0 00-11.32 0L715.31 232.2Q624.86 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 000 51.5q56.69 119.4 136.5 191.41L112.48 835a8 8 0 000 11.31L155.17 889a8 8 0 0011.31 0l712.15-712.12a8 8 0 000-11.32zM149.3 512C232.6 339.8 350.7 258 512 258c54.54 0 104.13 9.36 149.12 28.39l-70.3 70.3a176 176 0 00-238.13 238.13l-83.42 83.42C223.1 637.49 183.3 582.28 149.3 512zm246.7 0a112.11 112.11 0 01146.2-106.69L401.31 546.2A112 112 0 01396 512z" />
                <path
                  d="M508 624c-3.46 0-6.87-.16-10.25-.47l-52.82 52.82a176.09 176.09 0 00227.42-227.42l-52.82 52.82c.31 3.38.47 6.79.47 10.25a111.94 111.94 0 01-112 112z" />
              </svg>
            </span>
          </ng-container>
          <ng-template #eyeViewTpl>
            <span nz-icon (click)="passwordVisible = !passwordVisible">
              <svg viewBox="64 64 896 896" focusable="false">
                <path
                  d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z" />
              </svg>
            </span>
          </ng-template>
        </ng-template>
        <ng-template #passwordErrorTpl let-control>
          <ng-container *ngIf="control.invalid">
            {{ passwordError }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzSpan="8" nzFor="checkPassword">Xác nhận mật khẩu (<span class="text-red">*</span>)</nz-form-label>
      <nz-form-control nzHasFeedback nzSpan="24" [nzErrorTip]="oldPwdErrorTpl">
        <nz-input-group nzSize="large" [nzSuffix]="suffixPwdTpl">
          <input  nz-input [type]="checkPassVisible ? 'text' : 'password'" id="checkPassword"
            formControlName="checkPassword" placeholder="Xác nhận mật khẩu" (ngModelChange)="validateCheckPassword()" />
          <ng-template #suffixPwdTpl>
            <ng-container *ngIf="checkPassVisible; else eyeViewTpl">
              <span nz-icon (click)="checkPassVisible = !checkPassVisible">
                <svg viewBox="64 64 896 896" focusable="false">
                  <path
                    d="M942.2 486.2Q889.47 375.11 816.7 305l-50.88 50.88C807.31 395.53 843.45 447.4 874.7 512 791.5 684.2 673.4 766 512 766q-72.67 0-133.87-22.38L323 798.75Q408 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 000-51.5zm-63.57-320.64L836 122.88a8 8 0 00-11.32 0L715.31 232.2Q624.86 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 000 51.5q56.69 119.4 136.5 191.41L112.48 835a8 8 0 000 11.31L155.17 889a8 8 0 0011.31 0l712.15-712.12a8 8 0 000-11.32zM149.3 512C232.6 339.8 350.7 258 512 258c54.54 0 104.13 9.36 149.12 28.39l-70.3 70.3a176 176 0 00-238.13 238.13l-83.42 83.42C223.1 637.49 183.3 582.28 149.3 512zm246.7 0a112.11 112.11 0 01146.2-106.69L401.31 546.2A112 112 0 01396 512z" />
                  <path
                    d="M508 624c-3.46 0-6.87-.16-10.25-.47l-52.82 52.82a176.09 176.09 0 00227.42-227.42l-52.82 52.82c.31 3.38.47 6.79.47 10.25a111.94 111.94 0 01-112 112z" />
                </svg>
              </span>
            </ng-container>
            <ng-template #eyeViewTpl>
              <span nz-icon (click)="checkPassVisible = !checkPassVisible">
                <svg viewBox="64 64 896 896" focusable="false">
                  <path
                    d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z" />
                </svg>
              </span>
            </ng-template>
          </ng-template>
        </nz-input-group>

        <ng-template #oldPwdErrorTpl let-control>
          <p *ngIf="control.invalid">
            {{ checkPasswordError }}
          </p>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </div>

  <nz-divider></nz-divider>

  <nz-form-item>
    <nz-form-label>
      <b>Quyền truy cập của người dùng</b>
    </nz-form-label>
    <nz-alert
      style="width: 100%;"
      nzType="warning"
      nzDescription="Quý khách vui lòng chọn ít nhất một quyền tùy chỉnh hoặc quyền cụ thể."
      nzShowIcon
  ></nz-alert>
  </nz-form-item>

  <div class="lbl-form">
    <div style="display: flex;align-items: center;">
      Quyền tuỳ chỉnh

      <img style="margin-left: 10px"
          [nzTooltipTitle]="'Sử dụng quyền tuỳ chỉnh của người dùng'" nz-tooltip
          src="assets/imgs/pajamas_question.svg"
          alt=""
      />

    </div>
    <div class="selected-role-count" [ngClass]="{ 'selected-role': (listSelectdCustomRole && listSelectdCustomRole.length>0)?true:false }">Đã chọn
      {{listSelectdCustomRole? listSelectdCustomRole.length:0}}
    </div>
  </div>

  <nz-form-item>
    <nz-form-control nzSpan="24">
      <nz-select nzSize="large" id="customRole" [nzMaxTagCount]="5" [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="multiple"
        nzPlaceHolder="Chọn quyền tuỳ chỉnh" nzAllowClear formControlName="customRole" [(ngModel)]="listSelectdCustomRole">
        <nz-option *ngFor="let item of listOfCustomRole" [nzLabel]="item.role" [nzValue]="item.role" [nzHide]="isSelected(listBuildInRoleStr ,item.role)"></nz-option>
      </nz-select>
      <ng-template #tagPlaceHolder let-selectedList>+ {{ selectedList.length }} roles</ng-template>
    </nz-form-control>
  </nz-form-item>
    <div class="lbl-form">
      <div style="display: flex;align-items: center;">
        Quyền mặc định
        <img style="margin-left: 10px"
          [nzTooltipTitle]="'Sử dụng quyền mặc định của hệ thống'" nz-tooltip
          src="assets/imgs/pajamas_question.svg"
          alt=""
      />
      </div>
      <div class="selected-role-count" [ngClass]="{ 'selected-role': (buildInRoleItems.length > 0)}">Đã chọn
        {{buildInRoleItems.length}}/2
      </div>
    </div>

  <nz-form-item formArrayName="buildInRoleItems" *ngFor="let control of userDbForm.get('buildInRoleItems')['controls']; let i = index">
    <div nz-row style="height: 50px;align-items: center;">
      <nz-form-control nz-col [formGroupName]="i" nzSpan="6">
        <nz-select nzSize="large" nzPlaceHolder="Chọn quyền" nzAllowClear id="buildInRole" formControlName="buildInRole">
          <nz-option *ngFor="let item of listBuildInRoleStr" [nzHide]="checkHide(item)" [nzLabel]="item" [nzValue]="item"></nz-option>
        </nz-select>
      </nz-form-control>
      <span nz-col class="email-sign">&#64;</span>
      <nz-form-control nz-col [formGroupName]="i" nzSpan="14">
        <nz-select nzSize="large" class="passenger-input" [nzMaxTagCount]="3" nzMode="multiple" nzPlaceHolder="Chọn database" nzAllowClear
          formControlName="listDb">
          <nz-option *ngFor="let item of listOfDatabase " [nzLabel]="item.db" [nzValue]="item.db"></nz-option>
        </nz-select>
      </nz-form-control>
      <img class="ml-2" (click)="deleteBuildInRole(i)" src="assets/imgs/trash1.svg" alt="" style="cursor: pointer;"/>
    </div>
  </nz-form-item>

  <nz-form-item *ngIf="buildInRoleItems.length < 2">
    <nz-form-control nzSpan="10">
      <button  nzSize="large" nz-button nzGhost nzType="primary" class="add-button" (click)="addBuildInRole()">
        <span nz-icon nzType="plus"></span>
        Thêm mới mặc định
      </button>
    </nz-form-control>
  </nz-form-item>

  <nz-divider></nz-divider>

  <nz-form-item style="margin-bottom: 0 !important;">
    <nz-form-label>
      <b>Giới hạn đăng nhập theo địa chỉ</b>
      <img style="margin-left: 10px"
          [nzTooltipTitle]="'Giới hạn các địa chỉ IP cho phép truy cập. Nhập 0.0.0.0/0 để cho phép tất cả các địa chỉ IP. Mỗi mục nhập phải là một địa chỉ IP duy nhất hoặc một dải địa chỉ có ký hiệu CIDR.'" nz-tooltip
          src="assets/imgs/pajamas_question.svg"
          alt=""
      />
    </nz-form-label>
  </nz-form-item>

  <nz-form-item formArrayName="ipItems" *ngFor="let item of userDbForm.get('ipItems')['controls']; let i = index" >
    <div style="display: flex;align-items: center;">
      <nz-form-control nzSpan="21" [formGroupName]="i" [nzErrorTip]="ipErrorTip">
        <input nzSize="large" type="text" nz-input (ngModelChange)="onValidateIP()" formControlName="host" placeholder="Nhập địa chỉ client" />
      </nz-form-control>
      <img class="ml-2" (click)="deleteIpItem(i)" src="assets/imgs/trash1.svg" alt="" style="cursor: pointer;"/>
    </div>
  </nz-form-item>

  <ng-template #ipErrorTip let-control>
    <ng-container *ngIf="control.hasError('required')">
      <div class="mb-3">Địa chỉ IP không được để trống</div>
    </ng-container>
    <ng-container *ngIf="control.hasError('pattern') ">
      <div class="mb-3">Sai định dạng IP|CIDR</div>
    </ng-container>
    <ng-container *ngIf="control.hasError('duplicate')">
      <div class="mb-3">Địa chỉ IP không được phép trùng nhau</div>
    </ng-container>
  </ng-template>

  <nz-form-item>
    <nz-form-control nzSpan="10">
      <button nzSize="large" nz-button nzType="primary" nzGhost class="add-button" (click)="addIpItem()">
        <span nz-icon nzType="plus"></span>
        Thêm địa chỉ
      </button>
    </nz-form-control>
  </nz-form-item>

  <bottom-bar>
    <nz-form-item style="margin-bottom: 0px !important;" nz-row>
      <nz-form-control class="create-area">
        <button nz-button (click)="closeForm()" style="margin-right: 16px">
          <span nz-icon nzType="close" nzTheme="outline"></span>Hủy bỏ
        </button>
        <button nz-button (click)="submitForm()" nzType="primary" [disabled]="!userDbForm.valid">
          <span nz-icon nzType="check" nzTheme="outline"></span>{{formType === 'create'?'Thêm mới':'Cập nhật'}}
        </button>
      </nz-form-control>
    </nz-form-item> 
  </bottom-bar>
</form>
<!-- </nz-drawer> -->