<page-header [breadcrumb]="breadcrumb" [title]="'Tạo mới Bucket'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item
        ><a [routerLink]="['/']">Trang chủ</a></nz-breadcrumb-item
      >
      <nz-breadcrumb-item> Bucket </nz-breadcrumb-item>
      <nz-breadcrumb-item> Cấu hình Bucket </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>
<nz-card style="border-radius: 4px" [nzBordered]="false">
  <div>
    <span class="text-card-header">Thông tin Bucket</span>
  </div>
  <nz-tabset nzSize="large">
    <nz-tab nzTitle="Access Control List">
      <span class="titlecard-custom">Thiết lập Access Control List</span>
      <nz-row nzGutter="24" style="margin-top: 10px"
        ><nz-col nzSpan="12">
          <input
            style="cursor: pointer"
            type="radio"
            [checked]="activePrivate"
            (click)="initPrivate()"
          />
          <span class="text-value" style="margin-left: 5px">Private</span>
        </nz-col>
        <nz-col nzSpan="12">
          <input
            type="radio"
            style="cursor: pointer"
            [checked]="activePublic"
            (click)="initPublic()"
          />
          <span class="text-value" style="margin-left: 5px"
            >Public</span
          ></nz-col
        ></nz-row
      >
      <div style="margin-top: 20px" class="text-label">
        <span>Cấu hình quyền truy cập cho Bucket:</span><br />
        <nz-row style="padding-left: 10px"
          >• Public: Tất cả mọi người đều có thể truy cập thông tin của bucket,
          không ảnh hưởng đến quyền của object. Bucket public nhưng nếu object
          private thì cũng không truy cập được từ bên ngoài.</nz-row
        >
        <nz-row style="padding-left: 10px"
          >• Private: Giới hạn truy cập chỉ cho phép người dùng có AccessKey và
          SecretKey.</nz-row
        >
      </div>
    </nz-tab>
  </nz-tabset>
</nz-card>
