<page-header [breadcrumb]="breadcrumb"
             [title]="title">
    <ng-template #breadcrumb>
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <a [routerLink]="['/']">Home</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a [routerLink]="['/']">Dịch vụ</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a [routerLink]="'/app-smart-cloud/volumes'">
            Volume
          </a></nz-breadcrumb-item>
      </nz-breadcrumb>
          <div class="alain-custom-action text-right">
            <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
            <project-select-dropdown (valueChanged)="projectChanged($event)"
                                     [regionId]="region"></project-select-dropdown>
          </div>
    </ng-template>
    <ng-template #title>
      <nz-row>
        <nz-col nzSpan="12">
          <div>
          <span nz-icon
                nzType="arrow-left"
                nzTheme="outline"
                [routerLink]="'/app-smart-cloud/volumes'"
                style="margin-right: 10px;"></span>
            Chi tiết Volume
          </div>
        </nz-col>
        <nz-col>
          <div style="float: right;">
            <button class="button-fee" style="width: 160px; height: 40px;" (click)="openPopupExtend()" nz-button
                    nzType="primary">
              <i nz-icon [nzType]="'stockIcon'"></i>Gia hạn
            </button>
            <button class="button-edit" style="width: 160px; height: 40px; background-color: #061178"
                    (click)="navigateEditVolume(volumeInfo.id)"
                    nz-button nzType="primary">
              <i nz-icon [nzType]="'edit'"></i>Chỉnh sửa
            </button>
          </div>
        </nz-col>
      </nz-row>
    </ng-template>
</page-header>
  <!--<page-header [breadcrumb]="breadcrumb"-->
<!--             [action]="action"-->
<!--             [title]="title">-->
<!--  <ng-template #title style="width: 100%;">-->
<!--         <span nz-icon-->
<!--               nzType="arrow-left"-->
<!--               nzTheme="outline"-->
<!--               [routerLink]="'/app-smart-cloud/volumes'"-->
<!--               style="margin-right: 10px;"></span>-->
<!--        Chi tiết Volume-->
<!--    <nz-space style="float: right">-->
<!--      <button class="button-fee" style="width: 160px; height: 40px;" (click)="openPopupExtend()" nz-button-->
<!--              nzType="primary">-->
<!--        <i nz-icon [nzType]="'stockIcon'"></i>Gia hạn-->
<!--      </button>-->
<!--      <button class="button-edit" style="width: 160px; height: 40px; background-color: #061178"-->
<!--              (click)="navigateEditVolume(volumeInfo.id)"-->
<!--              nz-button nzType="primary">-->
<!--        <i nz-icon [nzType]="'edit'"></i>Chỉnh sửa-->
<!--      </button>-->
<!--    </nz-space>-->
<!--  </ng-template>-->
<!--  <ng-template #breadcrumb>-->
<!--    <nz-breadcrumb>-->
<!--      <nz-breadcrumb-item>-->
<!--        <a [routerLink]="['/']">Home</a>-->
<!--      </nz-breadcrumb-item>-->
<!--      <nz-breadcrumb-item>-->
<!--        <a [routerLink]="['/']">Dịch vụ</a>-->
<!--      </nz-breadcrumb-item>-->
<!--      <nz-breadcrumb-item>-->
<!--        <a [routerLink]="'/app-smart-cloud/volumes'">-->
<!--          Volume-->
<!--        </a></nz-breadcrumb-item>-->
<!--    </nz-breadcrumb>-->
<!--  </ng-template>-->
<!--  <ng-template #action>-->
<!--    <div class="alain-custom-action text-right">-->
<!--      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>-->
<!--      <project-select-dropdown (valueChanged)="projectChanged($event)"-->
<!--                               [regionId]="region"></project-select-dropdown>-->
<!--    </div>-->
<!--  </ng-template>-->
<!--</page-header>-->

<nz-spin [nzSpinning]="isLoading" nzSize="large">

  <nz-card  nzTitle="Chi tiết dịch vụ">
    <nz-table [nzTemplateMode]="true" style="border: none;">
      <tbody>
      <tr>
        <td style="border-bottom: none; ">
          <div style="display: flex; padding-left: 10%;">
            <div style="width: 100px; height: 100px;">
              <img nz-image
                   width="100%"
                   height="100%"
                   nzSrc="assets/imgs/icon_cycle.png"
                   alt=""
              />
            </div>
            <div style="padding-left: 20px;">
              <b>Chu kỳ thanh toán</b>
              <br>
              <p>1 tháng</p>
              <p>Chu kỳ hiện tại: 1</p>
            </div>
          </div>

        </td>
        <td style="border-bottom: none; ">
          <div style=" display: flex;  padding-left: 40%">
            <div style="width: 100px; height: 100px;">
              <img nz-image
                   width="100%"
                   height="100%"
                   nzSrc="assets/imgs/icon_money.png"
                   alt=""
              />
            </div>
            <div style="padding-left: 20px;">
              <b>Thông tin thanh toán kỳ tới</b>
              <br>
              <p>số tiền: 1.210.000VNĐ (từ 10/10/2023 đến 20/11/2023)</p>
              <p>Ngày thanh toán: 20/10/2023</p>
            </div>
          </div>

        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
  <nz-card  nzTitle="Thông tin Volume">
    <nz-table [nzTemplateMode]="true" style="border: none;">
      <tbody>

      <td style="border-bottom: none; ">
        <p>
          <b>Tên Volume: </b>
          {{volumeInfo.name}}
        </p>
      </td>
      <td style="border-bottom: none; ">
        <p>
          <b>Loại Volume: </b>
          {{volumeInfo.volumeType}}
        </p>
      </td>
      </tbody>
    </nz-table>
    <nz-table [nzTemplateMode]="true">
      <thead>
      <tr>
        <th>Dung lượng(GB)</th>
        <th>IOPS</th>
        <th>Trạng thái Volume</th>
        <th>Máy ảo</th>
        <th>Kiểu Volume</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="this.attachedDto.length > 1">
        <td>{{ volumeInfo.sizeInGB }}</td>
        <td>{{ volumeInfo.iops }}</td>
        <td *ngIf="volumeInfo.status === 'KHOITAO'"
            style="color: #6abe39">{{ volumeStatus.get(volumeInfo.status)}}</td>
        <td *ngIf="volumeInfo.status === 'ERROR'" style="color: red">{{ volumeStatus.get(volumeInfo.status)}}</td>
        <td *ngIf="volumeInfo.status === 'SUSPENDED'" style="color: red">{{ volumeStatus.get(volumeInfo.status)}}</td>
        <td>
          <pre>{{this.listVMs}}</pre>
        </td>
        <td>{{ volumeInfo.bootable ? 'VOLUME ROOT' : 'VOLUME GẮN THÊM' }}</td>
      </tr>

      <tr *ngIf="this.attachedDto.length <= 1">
        <td>{{ volumeInfo.sizeInGB }}</td>
        <td>{{ volumeInfo.iops }}</td>
        <td *ngIf="volumeInfo.status === 'KHOITAO'"
            style="color: #6abe39">{{ volumeStatus.get(volumeInfo.status)}}</td>
        <td *ngIf="volumeInfo.status === 'ERROR'" style="color: red">{{ volumeStatus.get(volumeInfo.status)}}</td>
        <td *ngIf="volumeInfo.status === 'SUSPENDED'" style="color: red">{{ volumeStatus.get(volumeInfo.status)}}</td>
        <td>{{this.attachedDto.length == 1 ? this.attachedDto[0].instanceName : 'Không có máy ảo'}} </td>
        <td>{{ volumeInfo.bootable ? 'VOLUME ROOT' : 'VOLUME GẮN THÊM' }}</td>
      </tr>

      </tbody>
    </nz-table>
    <div>
      <label nz-checkbox [nzChecked]="volumeInfo.isEncryption" nzDisabled >Mã hóa Volume</label>
    </div>
    <div>
      <label nz-checkbox [nzChecked]="volumeInfo.isMultiAttach" nzDisabled>Gắn nhiều máy ảo</label>
    </div>
    <div>
      <p>
        <strong>
          Thời gian khởi tạo:
        </strong>
        <span>{{ volumeInfo.creationDate | date:'dd/MM/yyyy' }}</span>
      </p>
    </div>
    <div>
      <p>
        <strong>
          Ngày hết hạn:
        </strong>
        <span>{{ volumeInfo.expirationDate | date:'dd/MM/yyyy' }}</span>
      </p>
    </div>
  </nz-card>
  <nz-card nzTitle="Thành tiền" [nzExtra]="extraTemplate">
    <nz-table>
      <tr>
        <td>Chi phí volume (1 tháng)</td>
        <td nzAlign="right">1.100.000</td>
      </tr>
      <tr>
        <td>Thành tiền (Đã bao gồm 10% VAT)</td>
        <td nzAlign="right">1.100.000</td>
      </tr>
    </nz-table>
  </nz-card>
  <ng-template #extraTemplate>
    <a>More</a>
  </ng-template>
</nz-spin>
