<page-header [breadcrumb]="breadcrumb" [action]="action"
             [title]="title">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Home</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Dịch vụ hạ tầng
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Block Storage
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/volumes">Quản lý Volume</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Chi tiết Volume</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               (userChanged)="userChangeProject($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>

  </ng-template>
  <ng-template #title>
    <nz-row>
      <nz-col nzSpan="8">
        <!--          <span nz-icon-->
        <!--                nzType="arrow-left"-->
        <!--                nzTheme="outline"-->
        <!--                [routerLink]="'/app-smart-cloud/volumes'"-->
        <!--                style="margin-right: 10px;"></span>-->
        Chi tiết Volume
      </nz-col>
    </nz-row>
    <div *ngIf="!volumeInfo?.bootable">
      <div *ngIf="typeVPC == 0" style="display: flex">
        <div style="margin-right: 8px;">
          <div nz-col nzSpan="4">
            <button class="button-fee" (click)="navigateToRenew(volumeInfo.id)"
                    nz-button
                    nzType="primary">
              <span nz-icon nzType="schedule" nzTheme="outline"></span>Gia hạn
            </button>
          </div>
        </div>
        <div nz-col nzSpan="4">
          <button class="button-cancel"
                  (click)="navigateEditVolume(volumeInfo.id)"
                  nz-button nzType="default">
            <i nz-icon [nzType]="'edit'"></i>Điều chỉnh
          </button>
        </div>
      </div>
      <div *ngIf="typeVPC == 1" style="display: flex">
        <div nz-col nzSpan="4">
          <button class="button-cancel"
                  (click)="navigateToResizeVPC(volumeInfo.id)"
                  nz-button nzType="default">
            <i nz-icon [nzType]="'edit'"></i>Điều chỉnh
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <nz-card [nzLoading]="isLoading">
    <span class="text-card-header">Thông tin Volume</span>
    <nz-descriptions [nzColumn]="2" nzBordered style="margin-top: 20px;">
      <nz-descriptions-item [nzTitle]="titleName"><b>{{ volumeInfo?.name }}</b></nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="titleType">
        <b>
          <span *ngIf="volumeInfo?.volumeType === 'hdd'">HDD</span>
          <span *ngIf="volumeInfo?.volumeType === 'ssd'">SSD</span>
        </b>
      </nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="titleStorage"><b>{{ volumeInfo?.sizeInGB }} GB</b></nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="titleIOPS"><b>{{ volumeInfo?.iops }}</b></nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="titleStatus">
        <span *ngIf="volumeInfo.status === 'KHOITAO'"
              style="color: #0066B3"><b>{{ volumeStatus.get(volumeInfo.status) }}</b></span>
        <span *ngIf="volumeInfo.status === 'ERROR'"
              style="color: #FF3333"><b>{{ volumeStatus.get(volumeInfo.status) }}</b></span>
        <span *ngIf="volumeInfo.status === 'SUSPENDED'"
              style="color: #FF7C33"><b>{{ volumeStatus.get(volumeInfo.status) }}</b></span>
      </nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="titleAttachInstance">
        <span *ngIf="listVMs.length > 0" style="color: #0074CC;"><b>{{ listVMs }}</b></span>
        <span *ngIf="listVMs.length <= 0" style="color: #0074CC;"><b>Không có máy ảo</b></span>
      </nz-descriptions-item>

    </nz-descriptions>
    <ng-template #titleName>
      <span>Tên Volume:</span>
    </ng-template>
    <ng-template #titleType>
      <span>Loại Volume:</span>
    </ng-template>
    <ng-template #titleStorage>
      <span>Dung lượng:</span>
    </ng-template>
    <ng-template #titleIOPS>
      <span>IOPS:</span>
    </ng-template>
    <ng-template #titleStatus>
      <span>Trạng thái Volume:</span>
    </ng-template>
    <ng-template #titleAttachInstance>
      <span>Gắn vào máy ảo:</span>
    </ng-template>
    <ng-template #titleVolumeType>
      <span>Kiểu Volume:</span>
    </ng-template>
    <div style="margin-top: 15px;">
      <b>Kiểu Volume: {{ volumeInfo.bootable ? 'Volume root' : 'Volume gắn thêm' }}</b>
    </div>
    <div style="display: flex; margin-bottom: 15px;">
      <div style="margin-top: 15px;">
        <label nz-checkbox [nzChecked]="volumeInfo?.isEncryption" nzDisabled >Mã hóa Volume</label>
      </div>
      <div style="margin-top: 15px; margin-left: 15px;">
        <label nz-checkbox [nzChecked]="volumeInfo?.isMultiAttach" nzDisabled >Gắn nhiều máy ảo</label>
      </div>
    </div>
    <ng-template #titleDescription>
      <span>Mô tả:</span>
    </ng-template>
    <nz-descriptions>
      <nz-descriptions-item [nzTitle]="titleDescription">
        <b>{{ volumeInfo?.description }}</b>
      </nz-descriptions-item>
    </nz-descriptions>
    <nz-descriptions [nzColumn]="2" *ngIf="typeVPC == 0">
      <nz-descriptions-item [nzTitle]="titleCreateDate"><b>{{ volumeInfo?.creationDate | date:'dd/MM/yyyy' }}</b></nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="titleExpireDate">
        <span style="color: rgba(235, 20, 20, 0.85)"><b>{{ volumeInfo?.expirationDate | date:'dd/MM/yyyy' }}</b></span>
      </nz-descriptions-item>
      <ng-template #titleCreateDate>
        <span>Ngày khởi tạo:</span>
      </ng-template>
      <ng-template #titleExpireDate>
        <span style="color: rgba(235, 20, 20, 0.85)" >Ngày hết hạn:</span>
      </ng-template>

    </nz-descriptions>
  </nz-card>
</nz-content>
