<li nz-menu-item (click)="openModal()">{{'Xóa domain'}}</li>
<nz-modal
[(nzVisible)]="isVisible"
[nzTitle]="modalTitle"
[nzContent]="modalContent"
[nzFooter]="null"
(nzOnCancel)="handleCancelDeleteDomain()"
>
<ng-template #modalTitle>
  <h4>
    <b>Xóa domain {{domainData?.domain}}</b>
  </h4>
</ng-template>
<ng-template #modalContent>
    <nz-form-item>
      <div class="text-label">
        <span
          >Để thực hiện xóa domain {{domainData?.domain}}, vui lòng nhập domain để xác nhận</span>
      </div>
      <nz-form-control
        style="margin-top: 10px; margin-bottom: 10px;"
      >
        <input
          class="input-custom"
          appTrim
          nz-input
          placeholder="vnpt.it.vn"
          [ngModel]="inputConfirm"
          [ngModelOptions]="{ standalone: true }"
          (keyup.enter)="handleOkDelete()"
          (ngModelChange)="onInputChange($event)"
        />
        <div *ngIf="checkInputConfirm" style="color: #ff4d4f">
          {{ 'validation.correct.instance.name' | i18n }}
        </div>
        <div *ngIf="checkInputEmpty" style="color: #ff4d4f">
          {{ 'validation.instance.name.required' | i18n }}
        </div>
      </nz-form-control>
    </nz-form-item>
    <div class="d-flex justify-content-end">
      <button nz-button (click)="handleCancelDeleteDomain()">
        <img
          style="padding-right: 10px; margin-top: -4px"
          src="assets/imgs/cancel.svg"
          alt=""
        />{{ 'app.button.cancel' | i18n }}
      </button>
      <button
        nz-button
        nzType="primary"
        (click)="handleOkDelete()"
      >
        <img
          style="padding-right: 10px; margin-top: -4px"
          src="assets/imgs/confirm.svg"
          alt=""
        />
        {{ 'app.button.confirm' | i18n }}
      </button>
    </div>
</ng-template>
</nz-modal>