<page-header
  [breadcrumb]="breadcrumb"
  [action]="action"
  [title]="'app.vpn.connection-edit' |i18n"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="separatorTemplate">
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.breadcrumb.infrastructure.service' | i18n }}   
      </nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/app-smart-cloud/vpn-site-to-site']"
        >VPN site to site</a
      ></nz-breadcrumb-item>
      <nz-breadcrumb-item>{{'app.vpn.connection-edit' |i18n}}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #separatorTemplate
      ><img src="assets/imgs/arrow-square-right.svg" alt="" />
    </ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown
      (regionChange)="onRegionChanged($event)"
      (valueChanged)="onRegionChange($event)"
    ></region-select-dropdown>
    <project-select-dropdown #projectCombobox
      [regionId]="region"
      (valueChanged)="onProjectChange($event)"
      (userChanged)="userChangeProject($event)"
    ></project-select-dropdown>
    </div>
  </ng-template>
</page-header>

<div nz-row [nzGutter]="16">
  <div nz-col [nzSpan]="17" class="gutter-row">
    <nz-card style="border-radius: 8px;">
      <h2 class="custom-title">{{'app.information' |i18n}} VPN Connection</h2>
      <form [formGroup]="form" nz-form [nzLayout]="'vertical'">
        <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control [nzErrorTip]="nameErrorTpl">
            <nz-form-label nzFor="name">
              <div style="margin-top: 15px;">
                <span>{{'form.account.name' |i18n}}</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img
                nz-popover
                [nzPopoverContent]="
                  'app.vpn.connection-create.name.tooltip' |i18n
                "
                nzPopoverPlacement="bottom"
                style="margin-left: 5px"
                src="assets/imgs/pajamas_question.svg"
                alt=""
              />
              </div>
            </nz-form-label>
            <input
              nz-input
              type="text"
              [value]="vpnConnection.name"
              [disabled]="true"
              appTrim
              maxlength="50"
              formControlName="name"
              class="input-custom"
            />
            <ng-template #nameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')"
                >{{'app.vpn.connection-create.name.alert' |i18n}}</ng-container
              >
              <ng-container *ngIf="control.hasError('pattern')"
                >{{'app.vpn.connection-create.name.tooltip' |i18n}}</ng-container
              >
            </ng-template>
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control>
            <nz-form-label nzFor="name">
              <div style="margin-top: 15px;">
                <span>IPsec Policy</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img
                nz-popover
                [nzPopoverContent]="
                  'app.vpn.connection-create.ipsec.tooltip' |i18n
                "
                nzPopoverPlacement="bottom"
                style="margin-left: 5px"
                src="assets/imgs/pajamas_question.svg"
                alt=""
              />
              </div>
            </nz-form-label>
            <input
              nz-input
              type="text"
              [value]="vpnConnection.ipSecPolicy"
              [disabled]="true"
              class="input-custom"
            />
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control>
            <nz-form-label nzFor="name">
              <div>
                <span>VPN Service</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img
                      nz-popover
                      [nzPopoverContent]="
                        'app.vpn.connection-create.vpnservice.tooltip' |i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
              </div>
            </nz-form-label>
            <input
              nz-input
              type="text"
              [value]="vpnConnection.vpnService" 
              [disabled]="true"
              class="input-custom"
            />
            
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control [nzErrorTip]="peerRemoteIdErrorTpl">
            <nz-form-label nzFor="name">
              <div>
                <span>Peer Remote IP VPN Gateway</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img
                      nz-popover
                      [nzPopoverContent]="
                        'app.vpn.connection-create.peerIP.tooltip' |i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
              </div>
            </nz-form-label>
            <input
              nz-input
              type="text"
              required
              [value]="vpnConnection.peerRemoteIp"
              formControlName="peerRemoteIp"
              class="input-custom"
            />
            <ng-template #peerRemoteIdErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">{{'app.vpn.connection-create.peerIP.alert1' |i18n}}</ng-container>
              <ng-container *ngIf="control.hasError('pattern')">{{'app.vpn.connection-create.peerIP.alert2' |i18n}}</ng-container>
            </ng-template> 
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control>
            <nz-form-label nzFor="name">
              <div>
                <span>Local System Subnet</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img
                      nz-popover
                      [nzPopoverContent]="
                        'app.vpn.connection-create.local.tooltip' |i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
              </div>
            </nz-form-label>
            <input
              nz-input
              type="text"
              [value]="vpnConnection.localEndpointGroup"
              [disabled]="true"
              class="input-custom"
            />
            
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control  [nzErrorTip]="peerIdErrorTpl">
            <nz-form-label nzFor="name">
              <div>
                <span>Peer ID VPN Connections</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img
                      nz-popover
                      [nzPopoverContent]="
                        'app.vpn.connection-create.peerId.tooltip' |i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
              </div>
            </nz-form-label>
            <input
              nz-input
              type="text"
              required
              [value]="vpnConnection.peerId"
              class="input-custom"
              formControlName="peerId"
            />
            <ng-template #peerIdErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">{{'app.vpn.connection-create.peerId.alert1' |i18n}}</ng-container>
              <ng-container *ngIf="control.hasError('pattern')">{{'app.vpn.connection-create.peerId.alert2' |i18n}}</ng-container>
            </ng-template> 
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control>
            <nz-form-label nzFor="name">
              <div>
                <span>IKE Policy</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img
                      nz-popover
                      [nzPopoverContent]="
                        'app.vpn.connection-create.ike.tooltip' |i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
              </div>
            </nz-form-label>
            <input
              nz-input
              type="text"
              [value]="vpnConnection.ikepolicy"
              [disabled]="true"
              class="input-custom"
            />
            
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control>
            <nz-form-label nzFor="name">
              <div>
                <span>Remote Local Subnet</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img
                      nz-popover
                      [nzPopoverContent]="
                        'app.vpn.connection-create.remote.tooltip' |i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
              </div>
            </nz-form-label>
            <input
              nz-input
              type="text"
              [value]="vpnConnection.remoteEnpointGroup"
              [disabled]="true"
              class="input-custom"
            />
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item>
            <nz-form-control [nzErrorTip]="preShareKeyErrorTpl">
            <nz-form-label nzFor="name">
              <div>
                <span>Pre - Shared Key (PSK) string</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img
                nz-popover
                [nzPopoverContent]="
                   'app.vpn.connection-create.prekey.tooltip' |i18n
                "
                nzPopoverPlacement="bottom"
                style="margin-left: 5px"
                src="assets/imgs/pajamas_question.svg"
                alt=""
              />
              </div>
            </nz-form-label>
            <nz-input-group style="width: 100%; border-radius: 4px;" nzSearch [nzSuffix]="suffixTemplate">
              <input
                nz-input
                [type]="preSharedKeyVisible ? 'text' : 'password'"
                style="height: 30px;"
                required
                appTrim
                [value]="vpnConnection.preSharedKey"
                formControlName="preSharedKey"
                class="input-custom"
              />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <span
                nz-icon
                [nzType]="preSharedKeyVisible ? 'eye-invisible' : 'eye'"
                (click)="preSharedKeyVisible = !preSharedKeyVisible"
                style="cursor: pointer;"
              ></span>
            </ng-template>
            <ng-template #preShareKeyErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">{{'app.vpn.connection-create.prekey.alert' |i18n}}</ng-container>
            </ng-template>
          </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      </form>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="7" class="gutter-row">
    <nz-card style="border-radius: 8px;" class="card-border">
      <h2 class="custom-title">{{'app.config.parameters' |i18n}}</h2>
      <div>
        <div style="margin-bottom: 12px">
          <h3 class="custom-subtitle">{{'form.account.name' |i18n}}</h3>
          <span class="text-break">{{vpnConnection.name}}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">IKE Policy</h3>
          <span class="text-break">{{vpnConnection.ikepolicy}}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">IPsec Policy</h3>
          <span class="text-break">{{vpnConnection.ipSecPolicy}}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">VPN Service</h3>
          <span class="text-break">{{vpnConnection.vpnService}}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Peer Remote IP VPN Gateway</h3>
          <span>{{form.value.peerRemoteIp}}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Peer ID VPN Connections</h3>
          <span>{{form.value.peerId}}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Local System Subnet</h3>
          <span>{{vpnConnection.localEndpointGroup}}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Remote Local Subnet</h3>
          <span>{{vpnConnection.remoteEnpointGroup}}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Pre - Shared Key (PSK) string</h3>
          <span class="text-break">{{form.value.preSharedKey}}</span>
        </div>
      </div>
      <button
        (click)="handleEdit()"
        nz-button
        nzType="primary" 
        [nzLoading]="isLoading"
        style="
          border: none;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        "
        nzSize="large"
      >
        <span
          nz-icon
          nzType="edit"
        ></span>
        <span class="button-text-primary">{{'app.text.edit' |i18n}}</span>
      </button>
      
    </nz-card>
  </div>
</div>
<div
  class="text-right"
  style="
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  "
>
</div>
