<page-header
  [breadcrumb]="breadcrumb"
  [action]="action"
  [title]="'Chỉnh sửa VPN Connection'"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="separatorTemplate">
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Trang chủ</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
          Dịch vụ hạ tầng
        >
      </nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/app-smart-cloud/vpn-site-to-site/manage']"
        >VPN site to site</a
      ></nz-breadcrumb-item>
      <nz-breadcrumb-item>Chỉnh sửa VPN Connection</nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #separatorTemplate
      ><img src="assets/imgs/arrow-square-right.svg" alt="" />
    </ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown
      (valueChanged)="onRegionChange($event)"
    ></region-select-dropdown>
    <project-select-dropdown
      [regionId]="region"
      (valueChanged)="onProjectChange($event)"
      (userChanged)="userChangeProject($event)"
    ></project-select-dropdown>
    </div>
  </ng-template>
</page-header>

<div nz-row [nzGutter]="16">
  <div nz-col [nzSpan]="17" class="gutter-row">
    <nz-card style="border-radius: 8px;">
      <h2 class="custom-title">Thông tin VPN Connection</h2>
      <form [formGroup]="form" nz-form [nzLayout]="'vertical'">
        <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control [nzErrorTip]="nameErrorTpl">
            <nz-form-label nzFor="name">
              <div style="margin-top: 15px;">
                <span>Name</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img
                nz-popover
                [nzPopoverContent]="
                  'Name: Tên, các ký tự chữ thường a-z, chữ hoa A-Z, số 0-9, dấu gạch ngang (-) và dấu gạch dưới (_), có thể có khoảng trắng, tối thiểu 1 ký tự và tối đa 50 ký tự.'
                "
                nzPopoverPlacement="bottom"
                style="margin-left: 5px"
                src="assets/imgs/pajamas_question.svg"
                alt=""
              />
              </div>
            </nz-form-label>
            <input
              nz-input
              type="text"
              [value]="vpnConnection.name"
              [disabled]="true"
              appTrim
              maxlength="50"
              formControlName="name"
              class="input-custom"
            />
            <ng-template #nameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')"
                >Tên VPN Connection không được để trống</ng-container
              >
              <ng-container *ngIf="control.hasError('pattern')"
                >Tên VPN Connection chỉ chứa các ký tự chữ thường a-z, chữ hoa A-Z, số 0-9, dấu gạch ngang (-) và dấu gạch dưới (_), có thể có khoảng trắng, tối thiểu 1 ký tự và tối đa 50 ký tự</ng-container
              >
            </ng-template>
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control>
            <nz-form-label nzFor="name">
              <div style="margin-top: 15px;">
                <span>IPsec Policy</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img
                nz-popover
                [nzPopoverContent]="
                  'IPsec Policy: Khách hàng chọn IPsec Policy đã tạo thành công ở mục IPsec Policies trước đó ( lựa chọn theo tên).'
                "
                nzPopoverPlacement="bottom"
                style="margin-left: 5px"
                src="assets/imgs/pajamas_question.svg"
                alt=""
              />
              </div>
            </nz-form-label>
            <input
              nz-input
              type="text"
              [value]="vpnConnection.ipSecPolicy"
              [disabled]="true"
              class="input-custom"
            />
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control>
            <nz-form-label nzFor="name">
              <div style="margin-top: 15px;">
                <span>VPN Service</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img
                      nz-popover
                      [nzPopoverContent]="
                        'VPN Service: Khách hàng lựa chọn VPN Service đã tạo thành công trước đó ( lựa chọn theo tên ).'
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
              </div>
            </nz-form-label>
            <input
              nz-input
              type="text"
              [value]="vpnConnection.vpnService" 
              [disabled]="true"
              class="input-custom"
            />
            
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control [nzErrorTip]="peerRemoteIdErrorTpl">
            <nz-form-label nzFor="name">
              <div style="margin-top: 15px;">
                <span>Peer Remote IP VPN Gateway</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img
                      nz-popover
                      [nzPopoverContent]="
                        'Peer Remote IP VPN  Gateway  [bắt buộc]: Khách hàng nhập IP VPN Gateway ở đầu VPN tunnel phía Client, tương ứng với trường Peer gateway public IPv4/IPv6 Address or FQDN.'
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
              </div>
            </nz-form-label>
            <input
              nz-input
              type="text"
              required
              [value]="vpnConnection.peerRemoteIp"
              formControlName="peerRemoteIp"
              class="input-custom"
            />
            <ng-template #peerRemoteIdErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">Peer Remote IP không được để trống</ng-container>
              <ng-container *ngIf="control.hasError('pattern')">Peer Remote IP không đúng định dạng</ng-container>
            </ng-template> 
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control>
            <nz-form-label nzFor="name">
              <div style="margin-top: 15px;">
                <span>Local System Subnet</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img
                      nz-popover
                      [nzPopoverContent]="
                        'Local Endpoint Group (System Subnet) : Local subnet của người dùng'
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
              </div>
            </nz-form-label>
            <input
              nz-input
              type="text"
              [value]="vpnConnection.localEndpointGroup"
              [disabled]="true"
              class="input-custom"
            />
            
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control  [nzErrorTip]="peerIdErrorTpl">
            <nz-form-label nzFor="name">
              <div style="margin-top: 15px;">
                <span>Peer ID VPN Connections</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img
                      nz-popover
                      [nzPopoverContent]="
                        'Peer ID VPN Connection là ID của thiết bị đầu xa đang thực hiện kết nối. Nó có thể là các định dạng theo địa chỉ IP, tên miền, địa chỉ email hoặc distinguished name. Trong khi thiết lập kết thì cần đảm bảo đúng định dạng giữa 2 đầu VPN.'
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
              </div>
            </nz-form-label>
            <input
              nz-input
              type="text"
              required
              [value]="vpnConnection.peerId"
              class="input-custom"
              formControlName="peerId"
            />
            <ng-template #peerIdErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">Peer Id không được để trống</ng-container>
              <ng-container *ngIf="control.hasError('pattern')">Peer Id không đúng định dạng</ng-container>
            </ng-template> 
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control>
            <nz-form-label nzFor="name">
              <div style="margin-top: 15px;">
                <span>IKE Policy</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img
                      nz-popover
                      [nzPopoverContent]="
                        'IKE Policy: Khách hàng chọn IKE Policy đã tạo thành công ở mục IKE Policies trước đó ( lựa chọn theo tên).'
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
              </div>
            </nz-form-label>
            <input
              nz-input
              type="text"
              [value]="vpnConnection.ikepolicy"
              [disabled]="true"
              class="input-custom"
            />
            
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control>
            <nz-form-label nzFor="name">
              <div style="margin-top: 15px;">
                <span>Remote Local Subnet</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img
                      nz-popover
                      [nzPopoverContent]="
                        'Khách hàng lựa chọn remote Endpoint Group đã tạo.'
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
              </div>
            </nz-form-label>
            <input
              nz-input
              type="text"
              [value]="vpnConnection.remoteEnpointGroup"
              [disabled]="true"
              class="input-custom"
            />
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item>
            <nz-form-control [nzErrorTip]="preShareKeyErrorTpl">
            <nz-form-label nzFor="name">
              <div style="margin-top: 15px;">
                <span>Pre - Shared Key (PSK) string</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img
                nz-popover
                [nzPopoverContent]="
                  'Pre-Shared Key (PSK) String: Khách hàng nhập key chung giữa 2 tunnel để có thể dùng giải mã gói tin, Khách hàng tùy ý nhập key này.'
                "
                nzPopoverPlacement="bottom"
                style="margin-left: 5px"
                src="assets/imgs/pajamas_question.svg"
                alt=""
              />
              </div>
            </nz-form-label>
            <nz-input-group style="width: 100%; border-radius: 4px;" nzSearch [nzSuffix]="suffixTemplate">
              <input
                nz-input
                [type]="preSharedKeyVisible ? 'text' : 'password'"
                style="height: 30px;"
                required
                appTrim
                [value]="vpnConnection.preSharedKey"
                formControlName="preSharedKey"
                class="input-custom"
              />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <span
                nz-icon
                [nzType]="preSharedKeyVisible ? 'eye-invisible' : 'eye'"
                (click)="preSharedKeyVisible = !preSharedKeyVisible"
                style="cursor: pointer;"
              ></span>
            </ng-template>
            <ng-template #preShareKeyErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">Pre - Shared Key không được để trống</ng-container>
            </ng-template>
          </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      </form>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="7" class="gutter-row">
    <nz-card style="border-radius: 8px;" class="card-border">
      <h2 class="custom-title">Thông số cấu hình</h2>
      <div>
        <div style="margin-bottom: 12px">
          <h3 class="custom-subtitle">Name</h3>
          <span class="text-break">{{vpnConnection.name}}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">IKE Policy</h3>
          <span>{{vpnConnection.ikepolicy}}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">IPsec Policy</h3>
          <span>{{vpnConnection.ipSecPolicy}}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">VPN Service</h3>
          <span>{{vpnConnection.vpnService}}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Peer Remote IP VPN Gateway</h3>
          <span>{{form.value.peerRemoteIp}}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Peer ID VPN Connections</h3>
          <span>{{form.value.peerId}}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Local System Subnet</h3>
          <span>{{vpnConnection.localEndpointGroup}}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Remote Local Subnet</h3>
          <span>{{vpnConnection.remoteEnpointGroup}}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Pre - Shared Key (PSK) string</h3>
          <span class="text-break">{{form.value.preSharedKey}}</span>
        </div>
      </div>
      <button
        (click)="handleEdit()"
        nz-button
        nzType="primary" 
        [nzLoading]="isLoading"
        style="
          border: none;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        "
        nzSize="large"
      >
        <span
          nz-icon
          nzType="edit"
        ></span>
        <span class="button-text-primary">Chỉnh sửa</span>
      </button>
      
    </nz-card>
  </div>
</div>
<div
  class="text-right"
  style="
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  "
>
</div>
