nz-content {
  padding: 24px 0;
  letter-spacing: 0;
  line-height: 22px;
}

.title {
  margin-bottom: 16px;
}

nz-select {
  width: 150px;
  border: 1px;
}

.button-create {
  border: 1px solid #52C41A;
  color: #FFFFFF;
  background: #52C41A;
}

nz-table {
  margin-top: 20px;
}
