<page-header [breadcrumb]="breadcrumb" [action]="action"
             [title]="'Danh sách lịch Backup'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Dịch vụ
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/schedule/backup/list">Lập lịch Backup</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               (userChanged)="projectChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <ng-container [ngSwitch]="isBegin">
    <ng-container *ngSwitchCase="false">
      <nz-card>
        <nz-row nzJustify="space-between">
          <nz-col nzSpan="16">
            <nz-select [(ngModel)]="selectedValue"
                       nzSize="large"
                       style="margin-right: 15px; width: 170px;"
                       (ngModelChange)="onChange($event)"
                       nzPlaceHolder="Tất cả trạng thái"
                       nzTooltipTitle="Tìm kiếm theo trạng thái"
                       nzTooltipPlacement="bottom"
                       nz-tooltip>
              <nz-option *ngFor="let item of status" [nzValue]="item.value"
                         [nzLabel]="item.label"></nz-option>
            </nz-select>
            <nz-input-group style="width: 300px;"
                            [nzPrefix]="prefixIconSearch"
                            nzSize="large">
              <input name="name"
                     nz-input
                     placeholder="Tìm kiếm tên ..."
                     [(ngModel)]="value"
                     (input)="onInputChange($event.target['value'])"/>
            </nz-input-group>
            <ng-template #prefixIconSearch>
              <img src="assets/imgs/search.svg" alt="" style="cursor: pointer" nz-tooltip="Tìm kiếm" />
            </ng-template>
          </nz-col>
          <nz-col nzSpan="8" style="flex:none;">
            <button nz-button nzType="primary" nzSize="large" (click)="navigateToCreate()">
              <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/add-circle.svg" alt="" />
              <span class="button-text-primary">Tạo mới</span>
            </button>
          </nz-col>
        </nz-row>
        <div style="margin-top: 20px;">
          <nz-table #tableScheduleBackup
                    [nzData]="response?.records"
                    nzShowSizeChanger
                    [nzFrontPagination]="false"
                    [nzTotal]="response?.totalCount"
                    [nzPageSize]="response?.pageSize"
                    [nzPageIndex]="response?.currentPage"
                    [nzLoading]="isLoading"
                    [nzScroll]="{ x: '100%', y: '55vh' }"
                    (nzPageSizeChange)="onPageSizeChange($event)"
                    (nzPageIndexChange)="onPageIndexChange($event)">
            <thead>
            <tr>
              <th nzLeft nzWidth="120px">Tên</th>
              <th nzBreakWord>Đối tượng Backup</th>
              <th nzBreakWord>Gói Backup</th>
              <th nzBreakWord>Số bản ghi tối đa</th>
              <th nzAlign="center" nzBreakWord>Trạng thái</th>
              <th nzBreakWord>Lần Backup tiếp theo</th>
              <th nzBreakWord>Ngày tạo</th>
              <th nzAlign="center" nzBreakWord>Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of tableScheduleBackup.data">
              <td nzLeft>{{ data.name }}</td>
              <td nzBreakWord>
                <span *ngIf="data.serviceType === 1">VM - {{ data.serviceName }}</span>
                <span *ngIf="data.serviceType === 2">Volume - {{ data.serviceName }}</span>
              </td>
              <td nzBreakWord>{{ data.backupPackageName }}</td>
              <td nzBreakWord>{{ data.maxBackup }}</td>
              <td nzAlign="center" nzBreakWord>
                <div class="status" [ngSwitch]="data.status">
                  <div *ngIf="data.warningMessage !== null">
                    <div *ngSwitchCase="'ACTIVE'">
                      <span class="active">Hoạt động</span>
                      <br>
                      <span style="text-align: center">{{ data.warningMessage }}</span>
                    </div>
                    <div *ngSwitchCase="'DISABLED'">
                      <span class="disabled">Gián đoạn</span>
                      <br>
                      <span style="text-align: center"> {{ data.warningMessage }}</span>
                    </div>
                    <div *ngSwitchCase="'PAUSED'">
                      <span class="paused">Tạm dừng</span>
                      <br>
                      <span style="text-align: center">{{ data.warningMessage }}</span>
                    </div>
                  </div>
                  <div *ngIf="data.warningMessage === null">
                    <div *ngSwitchCase="'ACTIVE'">
                      <span class="active">Hoạt động</span>
                    </div>
                    <div *ngSwitchCase="'DISABLED'">
                      <span class="disabled">Gián đoạn</span>
                    </div>
                    <div *ngSwitchCase="'PAUSED'">
                      <span class="paused">Tạm dừng</span>
                    </div>
                  </div>
                </div>
              </td>
              <td nzBreakWord>{{ data.nextRuntime | date: 'dd/MM/yyyy - HH:mm:ss' }}</td>
              <td nzBreakWord>{{ data.createdAt | date: 'dd/MM/yyyy - HH:mm:ss' }}</td>
              <td nzAlign="center" nzBreakWord>
                <div [ngSwitch]="data.status">
                  <div *ngSwitchCase="'ACTIVE'">
                    <span nz-icon
                          nzType="edit"
                          nzTheme="outline"
                          nz-popover
                          [nzPopoverContent]="'Chỉnh sửa'"
                          nzPopoverPlacement="bottom"
                          style="color: #0066B3; margin-right: 10px; cursor: pointer;"
                          (click)="navigateToEdit(data.serviceType, data.id)"></span>
                    <one-portal-stop-schedule [id]="data.id" (onOk)="handlePausedOk()"/>
                    <one-portal-delete-schedule [id]="data.id" (onOk)="handleDeletedOk()"/>
                  </div>
                  <div *ngSwitchCase="'DISABLED'">
                    <one-portal-restore-schedule [id]="data.id" (onOk)="handleRestoredOk()"/>
                    <one-portal-delete-schedule [id]="data.id" (onOk)="handleDeletedOk()"/>
                  </div>
                  <div *ngSwitchCase="'PAUSED'">
                    <one-portal-replay-schedule [id]="data.id" (onOk)="handlePlaydOk()"/>
                    <one-portal-delete-schedule [id]="data.id" (onOk)="handleDeletedOk()"/>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </div>
        <div style="margin-top: 30px;">
          <span class="text-card-header">Thông tin dung lượng Backup</span>
          <nz-table #tableScheduleCapacityBackup
                    [nzData]="responseCapacityBackup"
                    nzShowSizeChanger
                    [nzScroll]="{ x: '100%', y: '55vh' }"
                    [nzLoading]="loadingCapacity" style="margin-top: 15px;">
            <thead>
            <tr>
              <th nzLeft>Tên Backup</th>
              <th nzBreakWord>Hết hạn</th>
              <th nzBreakWord>Dung lượng (GB)</th>
              <th nzBreakWord>Đã dùng (GB)</th>
              <th nzBreakWord>Còn lại (GB)</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let i of tableScheduleCapacityBackup.data">
              <td nzLeft>{{ i.packageName }}</td>
              <td nzBreakWord>{{ i.expirationDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
              <td nzBreakWord>{{ i.totalCapacity }}</td>
              <td nzBreakWord>{{ i.usedCapacity }}</td>
              <td nzBreakWord>{{ i.remainingCapacity }}</td>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </nz-card>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <nz-card>
        <result>
          <nz-row>
            <nz-col class="text-center" style="width: 100%">
              <img src="/assets/tmp/schedule-backup.png" alt="" />
            </nz-col>
          </nz-row>
          <nz-row style="margin-top: 20px">
            <nz-col class="text-center" style="width: 100%">
              <span class="text-intro-title" style="color: #0066b3">Đặt lịch Backup - Tự động sao lưu</span>
            </nz-col>
          </nz-row>
          <nz-row style="margin-top: 20px">
            <nz-col class="text-center" style="width: 100%">
                <span class="text-intro-desc">Giải pháp giúp nhà quản trị hẹn lịch sao lưu, hẹn trước thời gian khi cần thiết.
                  Giúp dễ dàng quản lý thời gian, công việc phát triển sản phẩm</span>
            </nz-col>
          </nz-row>
          <button style="margin-top: 20px" nz-button [nzType]="'primary'"
                  routerLink="/app-smart-cloud/schedule/backup/create" nzSize="large">
            <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/cloud-plus-bold.svg" alt="" />
            Khởi tạo ngay
          </button>
        </result>
      </nz-card>
    </ng-container>
  </ng-container>
</nz-content>
