<page-header [breadcrumb]="breadcrumb" [extra]="extra" [content]="content" [action]="action" [title]="'Chi tiết VPC'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a [routerLink]="['/']">Trang chủ</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/app-smart-cloud/vpc']">Quản lý VPC</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>Chi tiết VPC</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="onRegionChange($event)"></region-select-dropdown>
    </div>
  </ng-template>
  <ng-template #extra>
    <button nz-button nzType="primary" (click)="extend()" nzSize="large">
      <img style="padding-right: 10px;" src="assets/imgs/extend.png" alt=""/>
      <span class="button-text-primary">Gia hạn</span>
    </button>
    <button nz-button nzType="primary" (click)="edit()" nzSize="large">
      <img style="padding-right: 10px;" src="assets/imgs/edit-2.svg" alt=""/>
      <span class="button-text-primary">Chỉnh sửa</span>
    </button>
  </ng-template>
  <ng-template #content>
    <h3 style="display: none;">.</h3>
  </ng-template>
</page-header>
<nz-card class="text-label" nzTitle="" style="border-radius: 8px;">
  <div style="margin-bottom: 20px">
    <span class="text-card-header">Thông tin VPC</span>
  </div>
  <div nz-row>
    <div nz-col nzSpan="5">Tên VPC:</div>
    <div nz-col nzSpan="7" style="font-weight: bold;">{{data.displayName}}</div>
    <div nz-col nzSpan="5">Gói Load Balancer:</div>
    <div nz-col nzSpan="7" style="font-weight: bold;">NONE</div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="5">Mô tả:</div>
    <div nz-col nzSpan="7" style="font-weight: bold;">{{data.description}}</div>
    <div nz-col nzSpan="5">Ngày cấp dịch vụ:</div>
    <div nz-col nzSpan="7" style="font-weight: bold;">{{data.createDate}}</div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="5">Ngày hết hạn:</div>
    <div nz-col nzSpan="7" style="font-weight: bold;">{{data.expireDate}}</div>
  </div>
</nz-card>
<nz-card class="text-label" nzTitle="" style="border-radius: 8px;">
  <div style="margin-bottom: 20px">
    <span class="text-card-header">Thông tin tài nguyên</span>
  </div>
  <nz-row style="margin-bottom: 30px;text-align: center">
    <div nz-col nzSpan="4"><nz-progress [nzPercent]= percentBackup nzType="circle" [nzWidth]="180" [nzStrokeWidth]="15"></nz-progress><h3 style="margin-top: 14px;">CPU</h3></div>
    <div nz-col nzSpan="4"><nz-progress [nzPercent]= percentRam nzType="circle" [nzWidth]="180" [nzStrokeWidth]="15"></nz-progress><h3 style="margin-top: 14px;">RAM (GB)</h3></div>
    <div nz-col nzSpan="4"><nz-progress [nzPercent]= percentHHD nzType="circle" [nzWidth]="180" [nzStrokeWidth]="15"></nz-progress><h3 style="margin-top: 14px;">HHD (GB)</h3></div>
    <div nz-col nzSpan="4"><nz-progress [nzPercent]= percentSSD nzType="circle" [nzWidth]="180" [nzStrokeWidth]="15"></nz-progress><h3 style="margin-top: 14px;">SSD (GB)</h3></div>
    <div nz-col nzSpan="4"><nz-progress [nzPercent]= percentIPFloating nzType="circle" [nzWidth]="180" [nzStrokeWidth]="15"></nz-progress><h3 style="margin-top: 14px;">IP FLOATING</h3></div>
    <div nz-col nzSpan="4"><nz-progress [nzPercent]= percentBackup nzType="circle" [nzWidth]="180" [nzStrokeWidth]="15"></nz-progress><h3 style="margin-top: 14px;">BACKUP (GB)</h3></div>
  </nz-row>
  <nz-table [nzData]="listOfData" nzHideOnSinglePage="true">
    <thead>
    <tr>
      <th>Tên tài nguyên</th>
      <th>Tổng hạn mức</th>
      <th>Đã dùng</th>
      <th>Còn lai</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of listOfData">
      <td>{{item.name}}</td>
      <td>{{item.total}}</td>
      <td>{{item.used}}</td>
      <td>{{item.remain}}</td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
