<button nz-button nzType="primary" [disabled]="disabled"
        class="button-add" (click)="showModal()">
  <span nz-icon nzType="plus" nzTheme="outline"></span>{{ 'app.cluster.add-new' | i18n }}
</button>
<nz-modal
  nzCentered
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="null"
  [nzWidth]="1050"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle>
    <span class="text-modal-title">{{ 'app.cluster.new-outbound' | i18n }}</span>
  </ng-template>
  <ng-template #modalContent>
    <one-portal-form-rule
      direction="egress"
      securityGroupId="{{ condition.securityGroupId }}"
      region="{{ condition.regionId }}"
      project="{{ condition.projectId }}"
      (onCancel)="handleCancel()"
      (onOk)="handleOk()"
    />
  </ng-template>
</nz-modal>

