<page-header [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a [routerLink]="['/']">Trang chủ</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a [routerLink]="['/app-kafka']">Dánh sách Kafka</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a [routerLink]="['/app-kafka']">Quản lý Kafka: <b>{{serviceOrderCode}}</b></a>
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>

</page-header>

<nz-tabset [nzSelectedIndex]="selectedIndex" (nzSelectedIndexChange)="setTransactionTabIndex($event)">
    <nz-tab nzTitle="Dashboard">
        <ng-template nz-tab>
            <one-portal-kafka-dashboard [serviceOrderCode]="serviceOrderCode"></one-portal-kafka-dashboard>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Tổng quan">
        <ng-template nz-tab>
            <one-portal-summary-service [serviceOrderCode]="serviceOrderCode" [ram]="4" [cpu]="4"></one-portal-summary-service>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Topic">
        <ng-template nz-tab>
            <one-portal-topic-mngt [serviceOrderCode]="serviceOrderCode"></one-portal-topic-mngt>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Consumer Group">
        <ng-template nz-tab>
            <one-portal-consumer-group [serviceOrderCode]="serviceOrderCode"></one-portal-consumer-group>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Tài khoản">
        <ng-template nz-tab>
            <one-portal-credentials [serviceOrderCode]="serviceOrderCode"></one-portal-credentials>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Phân quyền (ACLs)">
        <ng-template nz-tab>
            <one-portal-mngt-acl [serviceOrderCode]="serviceOrderCode"></one-portal-mngt-acl>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Monitor">
        <ng-template nz-tab>
           <one-portal-monitoring-service [serviceOrderCode]="serviceOrderCode"></one-portal-monitoring-service>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Nhật ký truy cập">
        <ng-template nz-tab>
            <one-portal-access-log [serviceOrderCode]="serviceOrderCode"></one-portal-access-log>
        </ng-template>
    </nz-tab>
</nz-tabset>

