<page-header [breadcrumb]="breadcrumb">
    <ng-template #breadcrumb>
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a [routerLink]="['/']">Home</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a [routerLink]="['/app-kafka/detail']">Quản lý dịch vụ Kafka</a>
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>

<one-portal-summary-service></one-portal-summary-service>
</page-header>

<kafka-dashboard></kafka-dashboard>
