<ng-container *ngIf="itemDetail && itemDetail.serviceStatus !== statusSuspend">
    <page-header [breadcrumb]="breadcrumb" [action]="action">
        <ng-template #breadcrumb>
            <nz-breadcrumb>
                <nz-breadcrumb-item>
                    <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    <a [routerLink]="['/app-kafka']">{{ 'app.kafka.list' | i18n }}</a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    {{ 'kafka.detail.manage' | i18n }} Kafka: <b>{{itemDetail.serviceName}}</b>
                </nz-breadcrumb-item>
            </nz-breadcrumb>
        </ng-template>

        <!-- action -->
        <ng-template #action>
            <div class="alain-custom-action text-right">
                <region-select-dropdown [isDetail]="true"></region-select-dropdown>
                <project-select-dropdown [regionId]="regionId" [isDetail]="true"></project-select-dropdown>
            </div>
        </ng-template>
    
    </page-header>
    
    <nz-tabset [nzSelectedIndex]="selectedIndex" (nzSelectedIndexChange)="setTransactionTabIndex($event)" nzSize="large">
        <nz-tab nzTitle="Dashboard">
            <ng-template nz-tab>
                <one-portal-kafka-dashboard [serviceOrderCode]="serviceOrderCode"></one-portal-kafka-dashboard>
            </ng-template>
        </nz-tab>
        <nz-tab [nzTitle]="'kafka.detail.general' | i18n">
            <ng-template nz-tab>
                <one-portal-summary-service [serviceOrderCode]="serviceOrderCode" [itemDetail]="itemDetail"></one-portal-summary-service>
            </ng-template>
        </nz-tab>
        <nz-tab [nzTitle]="'kafka.detail.topic' | i18n">
            <ng-template nz-tab>
                <one-portal-topic-mngt [serviceOrderCode]="serviceOrderCode"></one-portal-topic-mngt>
            </ng-template>
        </nz-tab>
        <nz-tab [nzTitle]="'kafka.detail.consumer-group' | i18n">
            <ng-template nz-tab>
                <one-portal-consumer-group [serviceOrderCode]="serviceOrderCode"></one-portal-consumer-group>
            </ng-template>
        </nz-tab>
        <nz-tab [nzTitle]="'kafka.detail.user' | i18n">
            <ng-template nz-tab>
                <one-portal-credentials [serviceOrderCode]="serviceOrderCode"></one-portal-credentials>
            </ng-template>
        </nz-tab>
        <nz-tab [nzTitle]="'kafka.detail.acl' | i18n">
            <ng-template nz-tab>
                <one-portal-mngt-acl [serviceOrderCode]="serviceOrderCode"></one-portal-mngt-acl>
            </ng-template>
        </nz-tab>
        <nz-tab nzTitle="Monitor">
            <ng-template nz-tab>
               <one-portal-monitoring-service [serviceOrderCode]="serviceOrderCode"></one-portal-monitoring-service>
            </ng-template>
        </nz-tab>
        <nz-tab [nzTitle]="'kafka.detail.log' | i18n">
            <ng-template nz-tab>
                <one-portal-access-log [serviceOrderCode]="serviceOrderCode"></one-portal-access-log>
            </ng-template>
        </nz-tab>
    </nz-tabset>
</ng-container>

