.vat-money {
  color: #ea3829;
}

.month-money{
  color: #0066b3;
}

.disable-class {
  cursor: default;
  background-color: #f0f0f3;
  color: #989bb3;
  td {
      background: none !important;
      color: #989bb3 !important;
  }
}

.create-date{
  font-size: 16px;
}

.right-form {
  border-radius: 8px;
  .right-title {
      margin-bottom: 20px;
  }

  .right-form-content-month {
      margin-bottom: 10px;
      border-top: 2px solid #f0f0f0;
      padding-top: 10px;
  }

  .right-form-content-total {
      margin-bottom: 20px;
      background-color: #cce9ff;
      padding: 16px 0 16px 0;
      border-radius: 8px;
  }
}

::ng-deep .right-form[_ngcontent-ng-c906435672]   .right-form-content-total[_ngcontent-ng-c906435672]{
  margin-left: 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

