<page-header [content]="content" [breadcrumb]="breadcrumb" [action]="action"
             [title]="'Chi tiết IP Public'">
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="iconTemplate">
      <nz-breadcrumb-item><a [routerLink]="['/']">Trang chủ</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ 'app.breadcrumb.infrastructure.service' | i18n }}</nz-breadcrumb-item>
      <nz-breadcrumb-item>Networks</nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/app-smart-cloud/ip-public']">Ip Public</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>Chi Tiết IP Public</nz-breadcrumb-item>
      <ng-template #iconTemplate><one-portal-svg-icon [icon]="'icon_breadcrumb'"></one-portal-svg-icon></ng-template>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (regionChange)="onRegionChanged($event)" (valueChanged)="onRegionChange($event)"></region-select-dropdown>
      <project-select-dropdown #projectCombobox [regionId]="regionId" (userChanged)="projectChange($event)"></project-select-dropdown>
    </div>
  </ng-template>
  <ng-template #content>
    <button class="button-fee" (click)="openPopupExtend()" nz-button nzSize="large"
            nzType="primary">
      <img style="padding-right: 10px; margin-bottom: 4px" src="assets/imgs/Vector.png" alt=""/>
      <span class="button-text-primary">Gia hạn</span>
    </button>
  </ng-template>
</page-header>
<nz-card>
  <h2>Thông tin IP Public</h2>
  <hr style="opacity: 0.1">
  <br>
  <nz-table>
    <td style="width: 50%">
      <p>Địa chỉ: <b>{{ipInfo.ipAddress}}</b></p>
      <label nz-checkbox [(ngModel)]="isIpV6" [nzDisabled]="true">IPv6</label>
    </td>
    <td style="width: 50%">
      <p>Gắn vào máy ảo: <b>{{ipInfo.attachedVm ? ipInfo.attachedVm : 'Không có máy ảo'}}</b></p>
      <p>Thời gian bắt đầu sử dụng: <b>{{ipInfo.createDate | date : "HH:mm:ss dd/MM/YYYY"}}</b></p>
    </td>
  </nz-table>
<!--  <div style="float: right; padding-top: 1%">-->
<!--    <button nz-button nzType="default" (click)="backToList()">Quay lại</button>-->
<!--  </div>-->
</nz-card>
