<one-portal-header
        title="{{'schedule.backup.title.job' | i18n}}"
        [path]="['app.breadcrumb.home' | i18n, 'app.breadcrumb.infrastructure.service' | i18n, 'schedule.backup.title.job' | i18n]"
        [regionId]="region"
        (onProjectChanged)="projectChanged($event)" (onRegionChanged)="regionChanged($event)"
/>
<nz-content >
    <nz-card>
        <nz-row nzJustify="center">
            <img src="/assets/tmp/schedule-backup.png" width="400" height="400" alt="blank-schedule-backup">
        </nz-row>
        <nz-row nzJustify="center" style="margin-top: -12px">
            <div class="text-title">
                <h1>{{'schedule.backup.blank1' | i18n}}</h1>
            </div>
        </nz-row>
        <nz-row nzJustify="center">
            <div class="text-subtitle" style="max-width: 885px; text-wrap: normal">{{'schedule.backup.blank2' | i18n}}</div>
        </nz-row>
        <nz-row nzJustify="center">
            <button style="text-align: center; margin-top: 10px" nz-button nzType="primary" routerLink="/app-smart-cloud/schedule/backup/create">{{'app.button.create' | i18n}}</button>
        </nz-row>
    </nz-card>
</nz-content>
