<page-header [breadcrumb]="breadcrumb" [action]="action"
             [title]="'Điều chỉnh File System'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item [routerLink]="'/'">{{ 'app.breadcrumb.home' | i18n }}</nz-breadcrumb-item>
      <nz-breadcrumb-item [routerLink]="'/'">{{ 'app.breadcrumb.infrastructure.service' | i18n }}</nz-breadcrumb-item>
      <nz-breadcrumb-item [routerLink]="'/'">File Storage</nz-breadcrumb-item>
      <nz-breadcrumb-item [routerLink]="'/app-smart-cloud/file-storage/file-system/list'">File System</nz-breadcrumb-item>
      <nz-breadcrumb-item [routerLink]="'/app-smart-cloud/file-storage/file-system/resize/{{ idFileSystem }}'">Điều chỉnh File System</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               (userChanged)="userChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="doResizeFileSystem()" nzLayout="vertical">
    <nz-row nzGutter="24" nzJustify="space-between">
      <nz-col nzSpan="16">
        <nz-card style="border-radius: 8px;">
          <span class="text-card-header">{{ 'app.file.system.info' | i18n }}</span>
          <nz-row nzGutter="24" nzJustify="space-between" style="margin-top: 25px;">
            <nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>
                  <span>{{ 'app.file.system.name' | i18n }} (<span style="color: rgba(252, 16, 16, 1); ">*</span>)</span>
                  <img nz-popover
                       [nzPopoverContent]="contentTemplateFSname"
                       nzPopoverPlacement="bottom" style="margin-left: 5px;"
                       src="assets/imgs/pajamas_question.svg" alt="" />
                       <ng-template #contentTemplateFSname>
                        <span
                          [innerHTML]="'app.tooltip.file.system.name.pattern' | i18n"
                        ></span>
                      </ng-template>
                </nz-form-label>
                <nz-form-control>
                  <input nz-input style="width: 100%" class="input-custom" [value]="fileSystem?.name"  [disabled]="true" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label>
                  <span>{{ 'app.protocol' | i18n }} (<span style="color: rgba(252, 16, 16, 1); ">*</span>)</span>
                  <img nz-popover
                       [nzPopoverContent]="contentTemplateFSProtocol"
                       nzPopoverPlacement="bottom" style="margin-left: 5px;"
                       src="assets/imgs/pajamas_question.svg" alt="" />
                       <ng-template #contentTemplateFSProtocol>
                        <span
                          [innerHTML]="'app.tooltip.file.system.name.protocol' | i18n"
                        ></span>
                      </ng-template>
                </nz-form-label>
                <nz-form-control>
                  <input nz-input style="width: 100%" class="input-custom" [value]="fileSystem?.shareProto"  [disabled]="true" />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>
                  <span>{{ 'app.file.system.type' | i18n }} (<span style="color: rgba(252, 16, 16, 1); ">*</span>)</span>
                  <img nz-popover
                       [nzPopoverContent]="'app.tooltip.file.system.type' | i18n"
                       nzPopoverPlacement="bottom" style="margin-left: 5px;"
                       src="assets/imgs/pajamas_question.svg" alt="" />
                </nz-form-label>
                <nz-form-control>
                  <input nz-input style="width: 100%" class="input-custom" [value]="fileSystem?.type" [disabled]="true" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzFor="storage">
                  <div>
                    <span>{{ 'app.capacity' | i18n }} (GB) (<span style="color: rgba(252, 16, 16, 1); ">*</span>)</span>
                    <img nz-popover
                         [nzPopoverContent]="'Tối thiểu là 1'"
                         nzPopoverPlacement="bottom" style="margin-left: 5px;"
                         src="assets/imgs/pajamas_question.svg" alt="" />
                  </div>
                </nz-form-label>
                <nz-form-control nzDisableAutoTips [nzErrorTip]="storageErrorTpl">
                  <nz-input-number style="width: 100%;; margin-left: 0;"
                                   formControlName="storage"
                                   class="input-custom"
                                   [ngModel]="storage"
                                   (ngModelChange)="storage = $event"
                                   [nzMin]="storage" [nzStep]="1"></nz-input-number>
                  <ng-template #storageErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">{{ 'validation.info.required' | i18n }}</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label>
                  <div>
                    <div>
                      <span>{{ 'app.file.system.capacity' | i18n }} (<span style="color: rgba(252, 16, 16, 1); ">*</span>)</span>
                    </div>
                    <span>{{ quotaShareInGb }} (GB)</span>
                  </div>

                </nz-form-label>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-form-item>
            <nz-form-label>
              <div>
                <span>{{ 'app.service.description' | i18n }}</span>
              </div>
            </nz-form-label>
            <nz-form-control nzDisableAutoTips [nzErrorTip]="descriptionErrorTpl">
              <nz-textarea-count [nzMaxCharacterCount]="255">
              <textarea nz-input class=input-custom [value]="fileSystem.description" [maxLength]="255"
                        [nzAutosize]="{ minRows: 3, maxRows: 5 }"  [disabled]="true"></textarea>
              <ng-template #descriptionErrorTpl let-control>
                <ng-container *ngIf="control.hasError('maxlength')">{{ 'validation.file.system.description.maxlength' | i18n }}</ng-container>
              </ng-template>
              </nz-textarea-count>
            </nz-form-control>
          </nz-form-item>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-card style="border-radius: 8px;">
          <span class="text-card-header">{{ 'app.config.parameters' | i18n }}</span>
          <div style="margin-top: 10px" class="text-value">{{ 'app.file.system.name' | i18n }}</div>
          <div style="margin-top: 10px" class="text-label">
            {{ fileSystem?.name }}
          </div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <div style="margin-top: 10px" class="text-value">{{ 'app.file.system.type' | i18n }}</div>
          <div style="margin-top: 10px" class="text-label">
            {{ fileSystem?.type }}
          </div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <div style="margin-top: 10px" class="text-value">{{ 'app.protocol' | i18n }}</div>
          <div style="margin-top: 10px" class="text-label">
            <span class="text-label">{{ fileSystem?.shareProto }}</span>
          </div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <div style="margin-top: 10px" class="text-value">{{ 'app.capacity' | i18n }}</div>
          <div style="margin-top: 10px" class="text-label">
            <span class="text-label">{{ validateForm.controls.storage.value }} GB</span>
          </div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <nz-row>
            <nz-col style="width: 100%">
              <button style="width: 100%" nz-button nzSize="large" nzType="primary" [disabled]="!validateForm.valid" (click)="doResizeFileSystem()">
                <i nz-icon [nzType]="'edit'"  style="margin-right: 5px; padding-bottom: 5px;"></i>
                <span [style.color]="validateForm.invalid ? 'gray' : 'white'">{{ 'app.button.resize' | i18n }}</span>
              </button>
            </nz-col>
          </nz-row>
        </nz-card>
      </nz-col>
    </nz-row>
  </form>
</nz-content>
