<page-header
  [breadcrumb]="breadcrumb"
  [action]="action"
  [title]="'app.ipsec.policy-create' | i18n"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="separatorTemplate">
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.breadcrumb.infrastructure.service' | i18n }}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item
        ><a [routerLink]="['/app-smart-cloud/vpn-site-to-site']"
          >VPN site to site</a
        ></nz-breadcrumb-item
      >
      <nz-breadcrumb-item>{{
        'app.ipsec.policy-create' | i18n
      }}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #separatorTemplate
      ><img src="assets/imgs/arrow-square-right.svg" alt="" />
    </ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown
        (valueChanged)="onRegionChange($event)"
        (regionChange)="onRegionChanged($event)"
      ></region-select-dropdown>
      <project-select-dropdown #projectCombobox
        [regionId]="region"
        (valueChanged)="onProjectChange($event)"
        (userChanged)="userChangeProject($event)"
      ></project-select-dropdown>
    </div>
  </ng-template>
</page-header>

<div nz-row [nzGutter]="16">
  <div nz-col [nzSpan]="17" class="gutter-row">
    <nz-card style="border-radius: 8px">
      <h2 class="custom-title">{{ 'app.information' | i18n }} IPsec Policy</h2>
      <form [formGroup]="form" nz-form [nzLayout]="'vertical'">
        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="12" class="gutter-row">
            <nz-form-item>
              <nz-form-control [nzErrorTip]="nameErrorTpl">
                <nz-form-label nzFor="name">
                    Name (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                    <img
                      nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                      [nzPopoverContent]="
                        'app.ipsec.policy-create.name.alert2' | i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
                </nz-form-label>
                <input
                  nz-input
                  type="text"
                  required
                  appAutoFocus
                  [placeholder]="'app.input.name' | i18n"
                  formControlName="name"
                  class="input-custom"
                  appTrim
                  [maxlength]="50"
                />
                <ng-template #nameErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">{{
                    'app.ipsec.policy-create.name.alert1' | i18n
                  }}</ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">{{
                    'app.ipsec.policy-create.name.alert2' | i18n
                  }}</ng-container>
                  <ng-container *ngIf="control.hasError('duplicateName')">Tên IPsec Policy đã tồn tại. Vui lòng nhập tên khác</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" class="gutter-row">
            <nz-form-item>
              <nz-form-control>
                <nz-form-label nzFor="name">
                    <span>Authorization Algorithm&nbsp;</span>
                    (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                    <img
                      nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                      [nzPopoverContent]="
                        'app.ipsec.policy-create.Authorization.tooltip' | i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
                </nz-form-label>
                <nz-select
                  [(ngModel)]="selectedAuthorizationAlgorithm"
                  [ngModelOptions]="{ standalone: true }"
                  class="input-select-custom"
                >
                  <nz-option
                    *ngFor="let data of authorizationAlgorithm"
                    [nzLabel]="data.label"
                    [nzValue]="data.value"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" class="gutter-row">
            <nz-form-item>
              <nz-form-control>
                <nz-form-label nzFor="name">
                    <span>Encryption Mode&nbsp;</span>
                    (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                    <img
                      nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                      [nzPopoverContent]="
                        'app.ipsec.policy-create.Encryption.tooltip' | i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
                </nz-form-label>
                <nz-select
                  [(ngModel)]="selectedEncryptionMode"
                  [ngModelOptions]="{ standalone: true }"
                  class="input-select-custom"
                >
                  <nz-option
                    *ngFor="let data of encryptionMode"
                    [nzLabel]="data.label"
                    [nzValue]="data.value"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" class="gutter-row">
            <nz-form-item>
              <nz-form-control>
                <nz-form-label nzFor="name">
                    <span>Encryption Algorithm&nbsp;</span>
                    (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                    <img
                      nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                      [nzPopoverContent]="
                        'app.ipsec.policy-create.Encryption.Al.tooltip' | i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
                </nz-form-label>
                <nz-select
                  [(ngModel)]="selectedEncryptionAlgorithm"
                  [ngModelOptions]="{ standalone: true }"
                  class="input-select-custom"
                >
                  <nz-option
                    *ngFor="let data of encryptionAlgorithm"
                    [nzLabel]="data.label"
                    [nzValue]="data.value"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" class="gutter-row">
            <nz-form-item>
              <nz-form-control>
                <nz-form-label nzFor="name">
                    <span>Lifetime Units&nbsp;</span>
                    (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                    <img
                      nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                      [nzPopoverContent]="
                        'app.ipsec.policy-create.Lifetime.tooltip' | i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
                </nz-form-label>
                <nz-select
                  [(ngModel)]="selectedLifetimeUnits"
                  [ngModelOptions]="{ standalone: true }"
                  class="input-select-custom"
                >
                  <nz-option
                    *ngFor="let data of lifetimeUnits"
                    [nzLabel]="data.label"
                    [nzValue]="data.value"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" class="gutter-row">
            <nz-form-item>
              <nz-form-control [nzErrorTip]="'app.vpns2s.name.error.tooltip' | i18n">
                <nz-form-label nzFor="name">
                    <span>Lifetime Value&nbsp;</span>
                    (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                    <img
                      nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                      [nzPopoverContent]="
                        'app.ipsec.policy-create.Lifetime.value.tooltip' | i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
                </nz-form-label>
                <nz-input-number
                  formControlName="lifeTimeValue"
                  style="width: 100%; margin-left: 0px"
                  class="input-custom"
                  [nzMin]="60"
                  [nzMax]="1000000000"
                  [nzStep]="1"
                  [(ngModel)]="lifeTimeValue"
                  [ngModelOptions]="{ standalone: true }"
                  (keydown)="onKeyDown($event)"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" class="gutter-row">
            <nz-form-item>
              <nz-form-control>
                <nz-form-label nzFor="name">
                    <span>Perfect Forward Secrecy&nbsp;</span>
                    (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                    <img
                      nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                      [nzPopoverContent]="
                        'app.ipsec.policy-create.pfs.tooltip' | i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
                </nz-form-label>
                <nz-select
                  [(ngModel)]="selectedPerfectForwardSecrecy"
                  [ngModelOptions]="{ standalone: true }"
                  class="input-select-custom"
                >
                  <nz-option
                    *ngFor="let data of perfectForwardSecrecy"
                    [nzLabel]="data.label"
                    [nzValue]="data.value"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" class="gutter-row">
            <nz-form-item>
              <nz-form-control>
                <nz-form-label nzFor="name">
                    <span>Transform Protocol&nbsp;</span>
                    (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                    <img
                      nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                      [nzPopoverContent]="
                        'app.ipsec.policy-create.transform.tooltip' | i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
                </nz-form-label>
                <nz-select
                  [(ngModel)]="selectedTransformProtocol"
                  [ngModelOptions]="{ standalone: true }"
                  class="input-select-custom"
                >
                  <nz-option
                    *ngFor="let data of transformProtocol"
                    [nzLabel]="data.label"
                    [nzValue]="data.value"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="7" class="gutter-row">
    <nz-card style="border-radius: 8px" class="card-border">
      <h2 class="custom-title">{{ 'app.config.parameters' | i18n }}</h2>
      <div style="overflow: auto; height: 358px; margin-bottom: 16px">
        <div style="margin-bottom: 12px">
          <h3 class="custom-subtitle">Name</h3>
          <span class="text-break text-label">{{ form.value.name }}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Authorization Algorithm</h3>
          <span class="text-label">{{ selectedAuthorizationAlgorithm }}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Encryption Mode</h3>
          <span class="text-label">{{ selectedEncryptionMode }}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Encryption Algorithm</h3>
          <span class="text-label">{{ selectedEncryptionAlgorithm }}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Lifetime Units</h3>
          <span class="text-label">{{ selectedLifetimeUnits }}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Lifetime Value</h3>
          <span class="text-label">{{ form.value.lifeTimeValue }}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Perfect Forward Secrecy</h3>
          <span class="text-label">{{ selectedPerfectForwardSecrecy }}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Transform Protocol</h3>
          <span class="text-label">{{ selectedTransformProtocol }}</span>
        </div>
      </div>
      <button
        (click)="handleCreate()"
        nz-button
        nzType="primary"
        style="
          border: none;
          width: 100%;
          display: flex;
          align-items: center;
          gap: 5px;
          justify-content: center;
        "
        nzSize="large"
        [disabled]="form.invalid"
        [nzLoading]="isLoading"
      >
        <img src="assets/imgs/wallet.svg" alt="" />
        <span class="button-text-primary">{{
          'app.button.create' | i18n
        }}</span>
      </button>
    </nz-card>
  </div>
</div>
<div
  class="text-right"
  style="
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  "
></div>
