<page-header [breadcrumb]="breadcrumb"
             [action]="action"
             [title]="'app.backup.package.list'|i18n" xmlns="http://www.w3.org/1999/html">
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="iconTemplate">
      <nz-breadcrumb-item><a [routerLink]="'/'">{{ 'app.breadcrumb.home'|i18n }}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.breadcrumb.infrastructure.service' | i18n }}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.backup.package.breadcrumb.backup' | i18n }}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/backup/packages">{{ 'app.backup.package.list'|i18n }}</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #iconTemplate>
      <one-portal-svg-icon [icon]="'icon_breadcrumb'"></one-portal-svg-icon>
    </ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <nz-card style="bottom: 8px;">
    <nz-row nzJustify="space-between">
      <nz-col nzSpan="16">
        <nz-select [(ngModel)]="selectedValue"
                   nzSize="large"
                   style="margin-right: 10px; width: 200px;"
                   (ngModelChange)="onChange($event)"
                   nzPlaceHolder="{{ 'app.status.all' | i18n }}"
                   nzTooltipTitle="{{ 'tooltip.title.filter.status' | i18n }}"
                   nzTooltipPlacement="bottom"
                   nz-tooltip>
          <nz-option *ngFor="let item of options" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
        </nz-select>
        <nz-input-group
          style="width: 300px;"
          [nzPrefix]="prefixIconSearch"
          nzSize="large">
          <input name="name"
                 nz-input
                 placeholder="{{ 'app.backup.package.placeholder.search.name' | i18n }}"
                 [(ngModel)]="value"
                 (input)="changeInputChange($event)"
                 (keydown.enter)="onEnter($event)" />
        </nz-input-group>
        <ng-template #prefixIconSearch>
          <img src="assets/imgs/search.svg" alt="" />
        </ng-template>
      </nz-col>
      <nz-col nzSpan="8" style="flex:none;">
        <button nz-button nzType="primary" nzSize="large" (click)="navigateToCreate()">
          <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/add-circle.svg" alt="" />
          <span class="button-text-primary">{{ 'app.backup.package.create'|i18n }}</span>
        </button>
      </nz-col>
    </nz-row>
    <nz-table #fixedTable
              style="margin-top: 15px;"
              nzShowSizeChanger
              [nzScroll]="{ x: '100%', y: '55vh' }"
              [nzData]="response?.records"
              [nzPageSize]="response?.pageSize"
              (nzPageSizeChange)="onPageSizeChange($event)"
              [nzPageIndex]="response?.currentPage"
              (nzPageIndexChange)="onPageIndexChange($event)"
              [nzTotal]="response?.totalCount"
              [nzFrontPagination]="false"
              [nzLoading]="isLoading">
      <thead>
      <tr>
        <th nzLeft>{{ 'app.backup.package.name'|i18n }}</th>
        <th nzBreakWord>{{ 'app.backup.package.storage.total' |i18n }} (GB)</th>
        <th nzBreakWord>{{ 'app.backup.package.storage.used'|i18n }} (GB)</th>
        <th nzBreakWord>{{ 'app.backup.package.storage.remaining'|i18n }} (GB)</th>
        <th nzBreakWord>{{ 'app.backup.package.expire.date'|i18n }}</th>
        <th nzBreakWord>{{ 'app.payment.status'|i18n }}</th>
        <th nzBreakWord>{{ 'app.text.operation'|i18n }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of fixedTable.data">
        <td><a [routerLink]="'/app-smart-cloud/backup/packages/detail/'+ data.id">{{ data.packageName }}</a></td>
        <td nzAlign="right">{{ data.sizeInGB }}</td>
        <td nzAlign="right">{{ data.usedSize }}</td>
        <td nzAlign="right">{{ data.totalSize - data.usedSize }}</td>
        <td>{{ data.expirationDate | date:'dd/MM/yyyy' }}</td>
        <ng-container *ngIf="data.status | ServiceStatusPipe as statusModel">
          <td nzBreakWord nzAlign="left" [ngStyle]="{color: statusModel.color}">{{ statusModel.status }}</td>
        </ng-container>
        <td>
          <div>
            <!---Chỉnh sửa------>
            <one-portal-update-backup-package [region]="region"
                                              [project]="project"
                                              [idBackupPackage]="data.id"
                                              [backupPackage]="data"
                                              (onOk)="handleUpdateOk()" />
            <!---Điều chỉnh dung lượng------>
            <img src="assets/imgs/resize.svg" alt="" style="margin-left: 15px; cursor: pointer;"
                 (click)="navigateToResize(data.id)"
                 nz-popover nzPopoverPlacement="bottom"
                 [nzPopoverContent]="'app.backup.package.breadcrumb.resize'|i18n"/>
            <!---Xóa------>
            <one-portal-delete-backup-package [region]="region" [project]="project" [packageBackupModel]="data"
                                              (onOk)="handleDeletedOk()" />
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
</nz-content>
