.align-item {
  text-align: center;
}

.borderless {
  border: none;
}

.add-btn {
  position: relative;
  float: right;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.lock-rule {
  cursor: no-drop;
  text-align: center;
}
