<page-header
  [breadcrumb]="breadcrumb"
  [action]="action"
  [title]="('app.detail1' | i18n) + ' Router: ' + nameRouter"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.breadcrumb.infrastructure.service' | i18n }}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item> Network </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-smart-cloud/network/router']"
          ><span class="breadcrumb-custom">Router</span></a
        >
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown
      (valueChanged)="onRegionChange($event)"
    ></region-select-dropdown>
    <project-select-dropdown
      [regionId]="regionId"
      (valueChanged)="onProjectChange($event)"
    ></project-select-dropdown>
    </div>
  </ng-template>
</page-header>

<nz-card style="border-radius: 4px">
  <nz-tabset nzSize="large">
    <nz-tab nzTitle="Router Interface">
      <div class="text-right">
        <button
          nz-button
          nzType="primary"
          nzSize="large"
          (click)="modalCreateRouterInterface()"
        >
          <img
            style="padding-right: 10px; margin-top: -4px"
            src="assets/imgs/add-circle.svg"
            alt=""
          />
          {{'app.label.create' | i18n}}
        </button>
      </div>
      <nz-table
        style="margin-top: 10px"
        #rowSelectionTable
        nzShowSizeChanger
        [nzScroll]="{ x: '100%', y: '250px' }"
        [nzFrontPagination]="false"
        [nzData]="listOfRouterInteface"
        (nzPageIndexChange)="getRouterInterfaces()"
        (nzPageSizeChange)="getRouterInterfaces()"
        [nzLoading]="isLoadingListRouterInterface"
      >
        <thead>
          <tr>
            <th>{{'form.account.name' | i18n}} Subnet</th>
            <th>{{'app.ip.address' | i18n}}</th>
            <th nzRight>{{'app.text.operation' | i18n}}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of listOfRouterInteface">
            <tr>
              <td>
                <a>{{ item.subnetName }}</a>
              </td>
              <td>{{ item.ipAddress }}</td>
              <td>
                <img
                  src="assets/imgs/delete.svg"
                  alt=""
                  (click)="modalDeleteInterface(item.subnetCloud)"
                  style="cursor: pointer; margin-right: 16px"
                  nz-tooltip="{{'app.delete' | i18n}}"
                />
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </nz-tab>
    <nz-tab nzTitle="Static Route">
      <div class="text-right">
        <button
          nz-button
          nzType="primary"
          nzSize="large"
          (click)="modalCreateRouterStatic()"
        >
          <img
            style="padding-right: 10px; margin-top: -4px"
            src="assets/imgs/add-circle.svg"
            alt=""
          />
          {{'app.label.create' | i18n}}
        </button>
      </div>
      <nz-table
        style="margin-top: 10px"
        #rowSelectionTable
        nzShowSizeChanger
        [nzScroll]="{ x: '100%', y: '250px' }"
        [nzFrontPagination]="false"
        [nzData]="listOfRouterStatic"
        (nzPageIndexChange)="getRouterStatic()"
        (nzPageSizeChange)="getRouterStatic()"
        [nzLoading]="isLoadingListRouterStatic"
      >
        <thead>
          <tr>
            <th>Destination CIDR</th>
            <th>NextHop</th>
            <th>{{'app.text.operation' | i18n}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listOfRouterStatic">
            <td>{{ item.destinationCIDR }}</td>
            <td>{{ item.nextHop }}</td>
            <td>
              <img
                src="assets/imgs/delete.svg"
                alt=""
                (click)="modalDeleteStatic(item)"
                style="cursor: pointer; margin-right: 16px"
                nz-tooltip="{{'app.delete' | i18n}}"
              />
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>
  </nz-tabset>
</nz-card>

<nz-modal
  [(nzVisible)]="isVisibleCreateInterface"
  nzTitle="{{'router.label.interface.create' | i18n}}"
  (nzOnCancel)="handleCancelCreateInterface()"
>
<form nz-form [formGroup]="formRouterInterface">
  <ng-container *nzModalContent>
    <div class="text-label">
      {{'app.choose.subnet' | i18n}} (<span class="text-red">*</span>)
      <img
        style="padding-right: 10px; margin-top: -4px"
        nz-tooltip="{{'app.router.note17' | i18n}}"
        src="assets/imgs/pajamas_question.svg"
        alt=""
      />
    </div>
    <nz-select
      style="width: 100%; margin-bottom: 16px; margin-top: 5px"
      nzPlaceHolder="{{'app.choose.subnet' | i18n}}"
      [nzShowSearch]="true"
      formControlName="subnetId"
      nzSize="large"
      [nzLoading]="isLoadingSubnet"
      [nzDisabled]="disableSubnet"
    >
      <nz-option
        *ngFor="let p of listSubnet"
        [nzValue]="p.id"
        [nzLabel]="p.networkAddress === '' ? p.name : p.name + ' (' + p.networkAddress + ')'"
      />
    </nz-select>
    <!-- <div class="text-label">
      IP của Router Interface (<span class="text-red">*</span>)
      <img
        style="padding-right: 10px; margin-top: -4px"
        nz-tooltip="message-question"
        src="assets/imgs/pajamas_question.svg"
        alt=""
      />
    </div>
    <input
      style="margin-top: 5px"
      class="input-custom"
      nz-input
      placeholder=""
      formControlName="ipAdress"
    /> -->
    <nz-form-item>
      <nz-form-control [nzErrorTip]="ipErrorTpl">
      <nz-form-label nzFor="name">
        <div>
          <span>{{'router.label.ip.interface' | i18n}}</span>
          (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
          <img
        style="padding-right: 10px; margin-top: -4px"
        nz-tooltip="{{'app.router.note19' | i18n}}"
        src="assets/imgs/pajamas_question.svg"
        alt=""
      />
        </div>
      </nz-form-label>
      <input
      style="margin-top: 5px"
      class="input-custom"
      nz-input
      placeholder="{{'router.label.ip.interface.example' | i18n}}"
      formControlName="ipAddress"
    />
      <ng-template #ipErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">{{'router.validate.ip.empty' | i18n}}</ng-container>
        <ng-container *ngIf="control.hasError('invalidSubnetIP')">{{'router.validate.ip.fail' | i18n}}</ng-container>
        <ng-container *ngIf="control.hasError('invalidLastNumber')">{{'router.validate.ip.fail' | i18n}}</ng-container>
      </ng-template>
    </nz-form-control>
    </nz-form-item>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelCreateInterface()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />{{'app.button.cancel' | i18n}}
    </button>
    <button nz-button nzType="primary" (click)="handleOkCreateInterface()" [nzLoading]="isLoadingRouterInterface">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
        *ngIf="isLoadingRouterInterface === false"
      />{{'app.button.confirm' | i18n}}
    </button>
  </div>
</form>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleCreateStatic"
  nzTitle="Tạo mới Static Route"
  (nzOnCancel)="handleCancelCreateStatic()"
>
<form nz-form [formGroup]="formRouterStatic">
  <ng-container *nzModalContent>
    <div class="text-label">
      {{'router.label.cidr' | i18n}} (<span class="text-red">*</span>)
      <img
        style="padding-right: 10px; margin-top: -4px"
        nz-tooltip="{{'app.router.note24' | i18n}}"
        src="assets/imgs/pajamas_question.svg"
        alt=""
      />
    </div>
    <input
      style="margin-bottom: 16px; margin-top: 5px"
      class="input-custom"
      nz-input
      placeholder="10.0.0.1/24"
      formControlName="destinationCIDR"
    />
    <div class="text-label">
      NextHop (<span class="text-red">*</span>)
      <img
        style="padding-right: 10px; margin-top: -4px"
        nz-tooltip="{{'app.router.note25' | i18n}}"
        src="assets/imgs/pajamas_question.svg"
        alt=""
      />
    </div>
    <input
      style="margin-top: 5px"
      class="input-custom"
      nz-input
      placeholder="192.168.0.145"
      formControlName="nextHop"
    />
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelCreateStatic()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />{{'app.button.cancel' | i18n}}
    </button>
    <button nz-button nzType="primary" (click)="handleOkCreateStatic()" [nzLoading]="isLoadingRouterStatic">
      <img
        *ngIf="isLoadingRouterStatic === false"
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""

      />{{'app.button.confirm' | i18n}}
    </button>
  </div>
</form>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleDeleteInterface"
  nzTitle="{{'router.label.interface.remove' | i18n}}"
  (nzOnCancel)="handleCancelDeleteInterface()"
>
  <div *nzModalContent>
    <nz-alert
      nzType="warning"
      [nzDescription]="customTemplateMessageDelete"
      nzShowIcon
    ></nz-alert>
    <ng-template #customTemplateMessageDelete>
      <div>{{'router.alert.interface.remove' | i18n}}</div>
      <div>{{'router.confirm.interface.remove' | i18n}}</div>
    </ng-template>
  </div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelDeleteInterface()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />{{'app.button.cancel' | i18n}}
    </button>
    <button nz-button nzType="primary" (click)="handleOkDeleteInterface()" [nzLoading]="isLoadingDeleteRouterInterface">
      <img
      *ngIf="isLoadingDeleteRouterInterface === false"
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />{{'app.button.confirm' | i18n}}
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleDeleteStatic"
  nzTitle="Xóa Static Route"
  (nzOnCancel)="handleCancelDeleteStatic()"
>
  <div *nzModalContent>
    <nz-alert
      nzType="warning"
      [nzDescription]="customTemplateMessageDelete"
      nzShowIcon
    ></nz-alert>
    <ng-template #customTemplateMessageDelete>
      <div>{{'router.alert.static.remove' | i18n}}</div>
      <div>{{'router.confirm.interface.remove' | i18n}}</div>
    </ng-template>
  </div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelDeleteStatic()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />{{'app.button.cancel' | i18n}}
    </button>
    <button nz-button nzType="primary" (click)="handleOkDeleteStatic()" [nzLoading]="isLoadingDeleteRouterStatic">
      <img
        *ngIf="isLoadingDeleteRouterStatic === false"
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />{{'app.button.confirm' | i18n}}
    </button>
  </div>
</nz-modal>
