<page-header
  [breadcrumb]="breadcrumb"
  [action]="action"
  [title]="('app.info' | i18n) + ' Router'"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item> {{'kafka.detail.manage' | i18n}} Router </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown
        (valueChanged)="onRegionChange($event)"
      ></region-select-dropdown>
      <project-select-dropdown
        [regionId]="region"
        (valueChanged)="onProjectChange($event)"
        (userChanged)="onProjectChange($event)"
      ></project-select-dropdown>
    </div>
  </ng-template>
</page-header>

<nz-card style="border-radius: 4px" *ngIf="!activeCreate">
  <div style="margin-bottom: 20px" nz-row [nzGutter]="24">
    <div
      nz-col
      [nzLg]="12"
      [nzMd]="12"
      [nzSm]="24"
      [nzXl]="12"
      [nzXs]="24"
      [nzXXl]="12"
    >
      <nz-select
        style="width: 20%"
        [ngModelOptions]="{ standalone: true }"
        nzPlaceHolder="{{'app.text.status' | i18n}}"
        [nzShowSearch]="false"
        (ngModelChange)="doSearch()"
        nzSize="large"
      >
        <nz-option
          *ngFor="let i of filterStatus"
          [nzLabel]="i.text"
          [nzValue]="i.value"
        />
      </nz-select>
      <nz-input-group
        style="margin-left: 10px; width: 50%; border-radius: 8px"
        [nzPrefix]="prefixIconSearch"
        nzSize="large"
      >
        <input
          name="name"
          nz-input
          placeholder="{{'app.button.search' | i18n}}"
          (keyup.enter)="doSearch()"
        />
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <img
          src="assets/imgs/search.svg"
          alt=""
          style="cursor: pointer"
          nz-tooltip="{{'app.button.search' | i18n}}"
          (click)="doSearch()"
        />
      </ng-template>
    </div>
    <div
      class="text-right p-0 m-b-0"
      nz-col
      [nzLg]="12"
      [nzMd]="12"
      [nzSm]="24"
      [nzXl]="12"
      [nzXs]="24"
      [nzXXl]="12"
    >
      <button nz-button nzType="primary" (click)="modalCreate()" nzSize="large">
        <img
          style="padding-right: 10px; margin-top: -4px"
          src="assets/imgs/add-circle.svg"
          alt=""
        />
        {{'app.label.create' | i18n}} Router
      </button>
    </div>
  </div>
  <nz-table
    #ajaxTable3
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzData]="dataList"
    [nzLoading]="loading"
    [nzTotal]="total"
    [(nzPageIndex)]="currentPage"
    [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="getDataList()"
    (nzPageSizeChange)="getDataList()"
    [nzVirtualItemSize]="54"
    [nzScroll]="{ x: '100%', y: '55vh' }"
  >
    <thead>
      <tr>
        <th nzLeft>{{'app.create-user-groups.name' | i18n}}</th>
        <th>{{'app.network.range' | i18n}}</th>
        <th>{{'app.text.status' | i18n}}</th>
        <th nzRight>{{'app.text.operation' | i18n}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ajaxTable3.data">
        <td nzLeft>
          <a
            nz-tooltip
            nzTooltipTitle="{{'app.view.detail' | i18n}}"
            nzTooltipPlacement="bottom"
            [routerLink]="'/app-smart-cloud/network/router/detail/' + data.cloudId"
            >{{ data.routerName }}</a
          >
        </td>
        <td nzLeft>
          {{ data.networkAddress }}
        </td>
        <td nzBreakWord>
          <div style="color: #0066b3">
            {{ data.status === 'ACTIVE' && 'app.routers.active' | i18n }}
          </div>
        </td>
        <td>
          <img
            src="assets/imgs/edit-2.svg"
            [ngStyle]="{'filter': data.isUsed ? 'invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%)' : ''}"
            [class.disabled]="data.isUsed"
            alt=""
            (click)="modalEdit(data)"
            style="cursor: pointer; margin-right: 16px"
            nz-tooltip="{{'app.text.edit' | i18n}}"
          />
          <img
            src="assets/imgs/trash.svg"
            [ngStyle]="{'filter': data.isUsed ? 'invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%)' : ''}"
            alt=""
            [class.disabled]="data.isUsed"
            (click)="modalDelete(data.cloudId, data.routerName)"
            style="cursor: pointer; margin-right: 16px"
            nz-tooltip="{{'app.delete' | i18n}}"
          />
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<div *ngIf="!loading && activeCreate">
  <nz-card style="border-radius: 4px">
    <result>
      <nz-row>
        <nz-col class="text-center" style="width: 100%">
          <img src="assets/imgs/blank_router.svg" alt="" />
        </nz-col>
      </nz-row>
      <nz-row style="margin-top: 20px">
        <nz-col class="text-center" style="width: 100%"
          ><span class="text-intro-title" style="color: #0066b3">
            Router</span
          ></nz-col
        >
      </nz-row>
      <nz-row style="margin-top: 20px">
        <nz-col class="text-center" style="width: 100%"
          ><span class="text-intro-desc">
            {{'app.router.note1' | i18n}}<br />
          {{'app.router.note2' | i18n}}</span
          ></nz-col
        >
      </nz-row>
      <button
        style="margin-top: 20px"
        nz-button
        [nzType]="'primary'"
        (click)="modalCreate()"
        nzSize="large"
      >
        <img
          style="padding-right: 10px; margin-top: -4px"
          src="assets/imgs/cloud-plus-bold.svg"
          alt=""
        />
        {{'app.button.create' | i18n}} Router
      </button>
    </result>
  </nz-card>
</div>

<nz-modal
  [(nzVisible)]="isVisibleCreate"
  nzTitle="{{'app.label.create' | i18n}} Router"
  (nzOnCancel)="handleCancelCreate()"
>
  <ng-container *nzModalContent>
    <div class="text-label">
      {{'form.account.name' | i18n}} Router (<span class="text-red">*</span>)
      <img
        style="padding-right: 10px; margin-top: -4px"
        nz-tooltip="{{'app.router.note3' | i18n}}"
        src="assets/imgs/message-question.svg"
        alt=""
      />
    </div>
    <input
      style="margin-bottom: 16px; margin-top: 5px"
      class="input-custom"
      nz-input
      placeholder=""
      [(ngModel)]="routerCreate.routerName"
      [ngModelOptions]="{ standalone: true }"
    />
    <span class="text-label"
      >{{'app.select.network' | i18n}}
      <img
        style="padding-right: 10px; margin-top: -4px"
        nz-tooltip="{{'app.router.note4' | i18n}}"
        src="assets/imgs/message-question.svg"
        alt=""
    /></span>
    <nz-form-control style="margin-top: 5px">
      <nz-input-group>
        <nz-select
          nzPlaceHolder="{{'app.select.network.dr' | i18n}}"
          [nzShowSearch]="true"
          [(ngModel)]="routerCreate.networkId"
          nzSize="large"
        >
          <nz-option nzLabel="{{'app.select.network.dr' | i18n}}" [nzValue]="" />
          <nz-option
            *ngFor="let p of listNetwork"
            [nzValue]="p.cloudId"
            [nzLabel]="p.subnetAddressRequired === '' ? p.name : p.name + ' (' + p.subnetAddressRequired + ')'"
          />
        </nz-select>
      </nz-input-group>
    </nz-form-control>
    <label
      class="text-label"
      style="margin-top: 16px"
      nz-checkbox
      [(ngModel)]="isTrigger"
      [ngModelOptions]="{ standalone: true }"
      >{{'app.trigger' | i18n}}</label
    >
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelCreate()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />{{'app.button.cancel' | i18n}}
    </button>
    <button nz-button nzType="primary" (click)="handleOkCreate()" [nzLoading]="isLoadingCreateRouter">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
        *ngIf="isLoadingCreateRouter === false"
      />{{'app.button.confirm' | i18n}}
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleEdit"
  nzTitle="{{'app.text.edit' | i18n}} Router"
  (nzOnCancel)="handleCancelEdit()"
>
  <ng-container *nzModalContent>
    <div class="text-label">
      {{'form.account.name' | i18n}} Router(<span class="text-red">*</span>)
      <img
        style="padding-right: 10px; margin-top: -4px"
        nz-tooltip="{{'app.router.note3' | i18n}}"
        src="assets/imgs/message-question.svg"
        alt=""
      />
    </div>
    <input
      style="margin-bottom: 16px; margin-top: 5px"
      class="input-custom"
      nz-input
      placeholder=""
      [(ngModel)]="routerUpdate.routerName"
      [ngModelOptions]="{ standalone: true }"
    />
    <span class="text-label"
      >{{'app.select.network' | i18n}}
      <img
        style="padding-right: 10px; margin-top: -4px"
        nz-tooltip="{{'app.router.note4' | i18n}}"
        src="assets/imgs/message-question.svg"
        alt=""
    /></span>
    <nz-form-control style="margin-top: 5px">
      <nz-input-group>
        <nz-select
          nzPlaceHolder="{{'app.select.network.dr' | i18n}}"
          [nzShowSearch]="true"
          [(ngModel)]="routerUpdate.networkId"
          nzSize="large"
        >
          <nz-option
            *ngFor="let p of listNetwork"
            [nzValue]="p.cloudId"
            [nzLabel]="p.name"
          />
        </nz-select>
      </nz-input-group>
    </nz-form-control>
    <label
      class="text-label"
      style="margin-top: 16px"
      nz-checkbox
      [(ngModel)]="isTrigger"
      [ngModelOptions]="{ standalone: true }"
      >{{'app.trigger' | i18n}}</label
    >
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelEdit()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />{{'app.button.cancel' | i18n}}
    </button>
    <button nz-button nzType="primary" (click)="handleOkEdit()" [nzLoading]="isLoadingEditRouter">
      <img
        *ngIf="isLoadingEditRouter === false"
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""

      />{{'app.button.confirm' | i18n}}
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleDelete"
  nzTitle="{{'app.delete' | i18n}} Router"
  (nzOnCancel)="handleCancelDelete()"
>
  <ng-container *nzModalContent>
    <nz-alert
      style="margin-bottom: 16px"
      nzType="warning"
      [nzDescription]="customTemplateMessageDelete"
      nzShowIcon
    ></nz-alert>
    <ng-template #customTemplateMessageDelete>
      <div>
        {{'app.router.note5' | i18n}} <b> {{ nameRouterDelete }} </b>
      </div>
      <div>
        {{'app.router.note6' | i18n}}
      </div>
      <div>{{'app.router.note7' | i18n}}</div>
    </ng-template>

    <span class="text-label"
      >{{'app.router.note8' | i18n}}</span
    >
    <nz-form-control>
      <input
        class="input-custom"
        name="name"
        nz-input
        [(ngModel)]="nameVerify"
        (keyup.enter)="handleOkDelete()"
      />
    </nz-form-control>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelDelete()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />{{'app.button.cancel' | i18n}}
    </button>
    <button nz-button nzType="primary" (click)="handleOkDelete()" [nzLoading]="isLoadingDeleteRouter">
      <img
        *ngIf="isLoadingDeleteRouter === false"
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />
      {{'app.button.confirm' | i18n}}
    </button>
  </div>
</nz-modal>
