@import '@delon/theme/index';

:host ::ng-deep {
  .ant-carousel {
    .slick-dots {
      bottom: -10px;

      button {
        background: @grey-10;
      }

      .slick-active button {
        background: @primary-color;
      }
    }
  }
}
nz-form-label.ant-form-item-label {
  font-weight: 500;
}

.pb-1{
  padding: 14px 250px 14px 0px;
}
.fw-400{
    font-weight: 400;
}

.card-border-custom{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    margin: 2%;
}


.float-right{
    float: right;
}
.card-add-custom{
    border-radius: 2px;
    border: 1px solid var(--polar-green-3, #B7EB8F);
    background: var(--polar-green-1, #F6FFED);
}
.card-warning-custom{
    border-radius: 2px;
    border: 1px solid var(--calendula-gold-3, #FFE58F);
    background: var(--calendula-gold-1, #FFFBE6);
}
i {
    cursor: pointer;
  }


.hdh-card{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    width: 100%;
}
.border-active{
  border: 1px solid #1890ff;
}
.flavor-card{
  display: inline-flex;
  padding: 14px 55px 52px 36px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.flavor-body{
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.10);
}
.flavor-body-active{
  border-radius: 10px;
  border: 1px solid #1890ff;
}

/* app.component.css */
.initialClassFlavor {
  color: #1890FF;
  border-radius: 10px;
  border: 1px solid #1890ff;
}

.newClassFlavor {
  color: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.10);
}
.bg-gray{
  background: rgba(0, 0, 0, 0.35);
}
.bgGray{
  background: rgba(0, 0, 0, 0.35);
}
.bgActive{
  background: #1890FF;
  border-radius: 10px;
}

.images-card{
  display: inline-flex;
  padding: 14px 55px 52px 36px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.images-body{
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.10);
}

.images-body-wh{
  min-width: 25%;
  width: 250px;
  max-width: 300px;
}