<page-header
  [breadcrumb]="breadcrumb"
  [action]="action"
  [title]="'app.instances.list' | i18n"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ 'app.instances' | i18n }}</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown
        (valueChanged)="onRegionChange($event)"
      ></region-select-dropdown>
      <project-select-dropdown
        [regionId]="region"
        (valueChanged)="onProjectChange($event)"
        (userChanged)="onProjectChange($event)"
      ></project-select-dropdown>
    </div>
  </ng-template>
</page-header>

<nz-card style="border-radius: 4px" *ngIf="!activeCreate">
  <div style="margin-bottom: 20px" nz-row [nzGutter]="24">
    <div
      nz-col
      [nzLg]="12"
      [nzMd]="12"
      [nzSm]="24"
      [nzXl]="12"
      [nzXs]="24"
      [nzXXl]="12"
    >
      <nz-select
        style="width: 20%"
        [(ngModel)]="searchParam.status"
        [ngModelOptions]="{ standalone: true }"
        [nzPlaceHolder]="'Trạng thái máy ảo'"
        [nzShowSearch]="false"
        (ngModelChange)="doSearch()"
        nzSize="large"
      >
        <nz-option
          *ngFor="let i of filterStatus"
          [nzLabel]="i.text"
          [nzValue]="i.value"
        />
      </nz-select>
      <nz-input-group
        style="margin-left: 10px; width: 50%; border-radius: 8px"
        [nzPrefix]="prefixIconSearch"
        nzSize="large"
      >
        <input
          name="name"
          nz-input
          placeholder="Tìm kiếm tên, thời gian tạo ..."
          [(ngModel)]="searchParam.name"
          (keyup.enter)="doSearch()"
        />
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <img
          src="assets/imgs/search.svg"
          alt=""
          style="cursor: pointer"
          nz-tooltip="Tìm kiếm"
          (click)="doSearch()"
        />
      </ng-template>
    </div>
    <div
      class="text-right p-0 m-b-0"
      nz-col
      [nzLg]="12"
      [nzMd]="12"
      [nzSm]="24"
      [nzXl]="12"
      [nzXs]="24"
      [nzXXl]="12"
    >
      <button
        nz-button
        nzType="primary"
        (click)="navigateToCreate()"
        nzSize="large"
      >
        <img
          style="padding-right: 10px; margin-top: -4px"
          src="assets/imgs/add-circle.svg"
          alt=""
        />
        {{ 'app.button.instance.create' | i18n }}
      </button>
    </div>
  </div>
  <nz-table
    #ajaxTable3
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzData]="dataList"
    [nzLoading]="loading"
    [nzTotal]="total"
    [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="getDataList()"
    (nzPageSizeChange)="getDataList()"
    [nzVirtualItemSize]="54"
    [nzScroll]="{ x: '100%', y: '55vh' }"
  >
    <thead>
      <tr>
        <th nzLeft>Tên máy ảo</th>
        <th>Gói cấu hình</th>
        <th>Trạng thái máy ảo</th>
        <th>Trạng thái tác vụ</th>
        <th>IP LAN</th>
        <th>IP Public</th>
        <th nzRight>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ajaxTable3.data">
        <td nzLeft>
          <a
            nz-tooltip
            nzTooltipTitle="Xem chi tiết"
            nzTooltipPlacement="bottom"
            [routerLink]="
              '/app-smart-cloud/instances/instances-detail/' + data.id
            "
            >{{ data.name }}</a
          >
        </td>
        <td nzBreakWord>
          {{ data.flavorName | slice : 3 }}
        </td>
        <td *ngIf="data.status == 'KHOITAO'" style="color: #0066b3">
          Đang hoạt động
        </td>
        <td *ngIf="data.status == 'RESIZE'" style="color: #4fe414">
          Đang điều chỉnh
        </td>
        <td *ngIf="data.status == 'TAMNGUNG'" style="color: #ea3829">
          Chậm gia hạn
        </td>
        <td nzBreakWord>{{ data.taskState }}</td>
        <td nzBreakWord>{{ data.ipPrivate }}</td>
        <td nzBreakWord>{{ data.ipPublic }}</td>
        <td nzRight>
          <img
            *ngIf="
              data.status.toUpperCase() == 'KHOITAO' &&
              data.taskState.toUpperCase() != 'REBUILDING' &&
              !data.taskState.toUpperCase().includes('RESIZE') &&
              data.taskState.toUpperCase() != 'ERROR'
            "
            src="assets/imgs/create-backup.svg"
            alt=""
            (click)="navigateToCreateBackup(data.id)"
            style="cursor: pointer; margin-right: 16px"
            nz-tooltip="Tạo Backup"
          />
          <img
            *ngIf="
              data.status.toUpperCase() == 'KHOITAO' &&
              data.taskState.toUpperCase() != 'REBUILDING' &&
              !data.taskState.toUpperCase().includes('RESIZE') &&
              data.taskState.toUpperCase() != 'ERROR'
            "
            src="assets/imgs/edit-2.svg"
            alt=""
            (click)="modalEdit(data)"
            style="cursor: pointer; margin-right: 16px"
            nz-tooltip="Chỉnh sửa"
          />
          <img
            *ngIf="
              data.status.toUpperCase() == 'KHOITAO' &&
              data.taskState.toUpperCase() != 'REBUILDING' &&
              !data.taskState.toUpperCase().includes('RESIZE') &&
              data.taskState.toUpperCase() != 'ERROR'
            "
            src="assets/imgs/calendar-tick.svg"
            alt=""
            style="cursor: pointer; margin-right: 16px"
            (click)="createBackupSchedule(data.id)"
            nz-tooltip="Tạo lịch Backup"
          />
          <img
            nz-dropdown
            [nzDropdownMenu]="opMenu"
            src="assets/imgs/more1.svg"
            alt=""
          />
          <nz-dropdown-menu #opMenu="nzDropdownMenu">
            <ul nz-menu>
              <li
                *ngIf="
                  data.status.toUpperCase() == 'KHOITAO' &&
                  data.taskState.toUpperCase() != 'REBUILDING' &&
                  !data.taskState.toUpperCase().includes('RESIZE') &&
                  data.taskState.toUpperCase() != 'ERROR' &&
                  data.taskState.toUpperCase() != 'SHUTOFF' &&
                  data.taskState.toUpperCase() != 'POWERING-OFF' &&
                  data.taskState.toUpperCase() != 'REBOOT_STARTED'
                "
                nz-menu-item
                (click)="showHandleGanVLAN()"
              >
                Gắn vào VLAN
              </li>
              <li
                *ngIf="
                  data.status.toUpperCase() == 'KHOITAO' &&
                  data.taskState.toUpperCase() != 'REBUILDING' &&
                  !data.taskState.toUpperCase().includes('RESIZE') &&
                  data.taskState.toUpperCase() != 'ERROR' &&
                  data.taskState.toUpperCase() != 'SHUTOFF' &&
                  data.taskState.toUpperCase() != 'POWERING-OFF' &&
                  data.taskState.toUpperCase() != 'REBOOT_STARTED'
                "
                nz-menu-item
                (click)="showHandleGoKhoiVLAN()"
              >
                Gỡ khỏi VLAN
              </li>
              <li
                *ngIf="
                  data.status.toUpperCase() == 'KHOITAO' &&
                  data.taskState.toUpperCase() != 'REBUILDING' &&
                  !data.taskState.toUpperCase().includes('RESIZE') &&
                  data.taskState.toUpperCase() != 'ERROR' &&
                  data.taskState.toUpperCase() != 'SHUTOFF' &&
                  data.taskState.toUpperCase() != 'POWERING-OFF'
                "
                nz-menu-item
                (click)="showModalRestart(data.id)"
              >
                Khởi động lại
              </li>
              <li
                *ngIf="
                  data.status.toUpperCase() == 'KHOITAO' &&
                  data.taskState.toUpperCase() != 'REBUILDING' &&
                  !data.taskState.toUpperCase().includes('RESIZE') &&
                  data.taskState.toUpperCase() != 'ERROR' &&
                  data.taskState.toUpperCase() != 'SHUTOFF' &&
                  data.taskState.toUpperCase() != 'POWERING-OFF'
                "
                nz-menu-item
                (click)="showModalShutdown(data.id)"
              >
                Tắt máy ảo
              </li>
              <li
                *ngIf="
                  data.status.toUpperCase() == 'KHOITAO' &&
                  (data.taskState.toUpperCase() == 'SHUTOFF' ||
                    data.taskState.toUpperCase() == 'POWERING-OFF')
                "
                nz-menu-item
                (click)="showModalStart(data.id)"
              >
                Bật máy ảo
              </li>
              <li
                *ngIf="
                  data.status.toUpperCase() == 'KHOITAO' &&
                  data.taskState.toUpperCase() != 'REBUILDING' &&
                  !data.taskState.toUpperCase().includes('RESIZE') &&
                  data.taskState.toUpperCase() != 'ERROR' &&
                  data.taskState.toUpperCase() != 'SHUTOFF' &&
                  data.taskState.toUpperCase() != 'POWERING-OFF' &&
                  data.taskState.toUpperCase() != 'RESCUE'
                "
                nz-menu-item
                (click)="showModalRescue(data.id)"
              >
                RESCUE
              </li>
              <li
                *ngIf="
                  data.status.toUpperCase() == 'KHOITAO' &&
                  data.taskState.toUpperCase() == 'RESCUE'
                "
                nz-menu-item
                (click)="showModalUnRescue(data.id)"
              >
                UNRESCUE
              </li>
              <li
                *ngIf="
                  data.status.toUpperCase() == 'KHOITAO' &&
                  data.taskState.toUpperCase() != 'REBUILDING' &&
                  !data.taskState.toUpperCase().includes('RESIZE') &&
                  data.taskState.toUpperCase() != 'ERROR' &&
                  data.taskState.toUpperCase() != 'SHUTOFF' &&
                  data.taskState.toUpperCase() != 'POWERING-OFF' &&
                  data.taskState.toUpperCase() != 'RESCUE'
                "
                nz-menu-item
                (click)="openConsole(data.id)"
              >
                Truy cập
              </li>
            </ul>
          </nz-dropdown-menu>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<div *ngIf="!loading && activeCreate">
  <nz-card style="border-radius: 4px">
    <result>
      <nz-row>
        <nz-col class="text-center" style="width: 100%">
          <img src="assets/imgs/blank_vm.svg" alt="" />
        </nz-col>
      </nz-row>
      <nz-row style="margin-top: 20px">
        <nz-col class="text-center" style="width: 100%"
          ><span class="text-intro-title" style="color: #0066b3">
            Máy chủ ảo<br />Dễ dàng khởi tạo và triển khai dịch vụ</span
          ></nz-col
        >
      </nz-row>
      <nz-row style="margin-top: 20px">
        <nz-col class="text-center" style="width: 100%"
          ><span class="text-intro-desc">
            Dịch vụ cung cấp hệ thống máy chủ ảo an toàn, tin cậy được thiết kế
            tập trung cho khả năng mở rộng dễ dàng.<br />
            Người dùng có thể dễ dàng tạo, cấu hình compute instance với số
            lượng thao tác đơn giản nhất.</span
          ></nz-col
        >
      </nz-row>
      <button
        style="margin-top: 20px"
        nz-button
        [nzType]="'primary'"
        (click)="navigateToCreate()"
        nzSize="large"
      >
        <img
          style="padding-right: 10px; margin-top: -4px"
          src="assets/imgs/cloud-plus-bold.svg"
          alt=""
        />
        Tạo mới máy ảo
      </button>
    </result>
  </nz-card>
</div>

<nz-modal
  [(nzVisible)]="isVisibleGanVLAN"
  nzTitle="Gắn VLAN"
  (nzOnCancel)="handleCancelGanVLAN()"
>
  <ng-container *nzModalContent>
    <span class="text-label">Danh sách VLAN</span>
    <nz-form-control style="margin-top: 5px">
      <nz-select
        [nzPlaceHolder]="'-- Chọn VLAN --'"
        [nzShowSearch]="true"
        [(ngModel)]="instanceAction.networkId"
        (ngModelChange)="changeVlanNetwork($event)"
        [ngModelOptions]="{ standalone: true }"
        nzSize="large"
      >
        <nz-option
          *ngFor="let i of listVlanNetwork"
          [nzLabel]="i.name"
          [nzValue]="i.cloudId"
        />
      </nz-select>
    </nz-form-control>
    <div style="margin-top: 10px; margin-bottom: 5px">
      <a (click)="clickIPAddress()"
        ><span style="color: #0066b3">Nhập IP Address</span>
        <img
          style="padding-right: 10px"
          [src]="
            isExpand
              ? 'assets/imgs/arrow-up.svg'
              : 'assets/imgs/arrow-down-b3.svg'
          "
          alt=""
        />
      </a>
    </div>
    <div *ngIf="isExpand">
      <span class="text-label">Danh sách Subnet</span>
      <nz-form-control style="margin-bottom: 10px; margin-top: 5px">
        <nz-select
          [nzLoading]="loadingSubnet"
          [nzPlaceHolder]="'-- Chọn Subnet --'"
          [nzShowSearch]="true"
          [(ngModel)]="instanceAction.subnetId"
          [ngModelOptions]="{ standalone: true }"
          nzSize="large"
        >
          <nz-option
            *ngFor="let i of listSubnet"
            [nzLabel]="i.name"
            [nzValue]="i.subnetCloudId"
          />
        </nz-select>
      </nz-form-control>
      <span class="text-label">Địa chỉ IP</span>
      <nz-form-control style="margin-bottom: 10px; margin-top: 5px">
        <input
          class="input-custom"
          nz-input
          placeholder="Nhập địa chỉ IP"
          [(ngModel)]="instanceAction.ipAddress"
          [ngModelOptions]="{ standalone: true }"
        />
      </nz-form-control>
    </div>

    <nz-alert
      nzType="warning"
      [nzDescription]="customTemplateDescriptionGanVLAN"
      nzShowIcon
    ></nz-alert>
    <ng-template #customTemplateDescriptionGanVLAN>
      <div>
        Trong trường hợp 1 Network của quý khách có nhiều Subnet, quý khách cần
        lựa chọn Subnet và điền IP muốn gán cho máy ảo. Khi quý khách nhạp IP
        vui lòng chọn IP chưa được sử dụng bởi máy ảo nào và IP này thuộc dải IP
        được cấu hình trong Subnet tương ứng
      </div>
    </ng-template>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelGanVLAN()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />Hủy
    </button>
    <button nz-button nzType="primary" (click)="handleOkGanVLAN()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />
      Xác nhận
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleGoKhoiVLAN"
  nzTitle="Gỡ khỏi VLAN"
  (nzOnCancel)="handleCancelGoKhoiVLAN()"
>
  <ng-container *nzModalContent>
    <nz-alert
      style="margin-bottom: 20px"
      nzType="warning"
      [nzDescription]="customTemplateDescriptionGoVLAN"
      nzShowIcon
    ></nz-alert>
    <ng-template #customTemplateDescriptionGoVLAN>
      <div>
        Mỗi kết nối từ máy ảo với VLAN tương ứng với 1 IP được cấp, lựa chọn IP
        từ danh sách dưới đây để thực hiện gỡ kết nối máy ảo khỏi VLAN
      </div>
    </ng-template>
    <span class="text-label">Danh sách IP trên VLAN</span>
    <nz-form-control style="margin-top: 5px">
      <nz-select
        [nzPlaceHolder]="'-- Chọn địa chỉ IP --'"
        [nzShowSearch]="true"
        [(ngModel)]="instanceAction.portId"
        [ngModelOptions]="{ standalone: true }"
        nzSize="large"
      >
        <nz-option
          *ngFor="let i of listOfPrivateNetwork"
          [nzLabel]="i.fixedIPs[0]"
          [nzValue]="i.id"
        />
      </nz-select>
    </nz-form-control>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelGoKhoiVLAN()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />Hủy
    </button>
    <button nz-button nzType="primary" (click)="handleOkGoKhoiVLAN()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />
      Xác nhận
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleShutdown"
  nzTitle="Tắt máy ảo"
  (nzOnCancel)="handleCancelShutdown()"
>
  <div *nzModalContent>Quý khách chắn chắn muốn thực hiện tắt máy ảo?</div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelShutdown()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />Hủy
    </button>
    <button nz-button nzType="primary" (click)="handleOkShutdown()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />Xác nhận
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleRestart"
  nzTitle="Khởi động lại máy ảo"
  (nzOnCancel)="handleCancelRestart()"
>
  <div *nzModalContent>
    Quý khách chắc chắn muốn thực hiện khởi động lại máy ảo?
  </div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelRestart()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />Hủy
    </button>
    <button nz-button nzType="primary" (click)="handleOkRestart()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />Xác nhận
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleRescue"
  nzTitle="RESCUE máy ảo"
  (nzOnCancel)="handleCancelRescue()"
>
  <div *nzModalContent>Quý khách chắn chắn muốn thực hiện RESCUE máy ảo?</div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelRescue()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />Hủy
    </button>
    <button nz-button nzType="primary" (click)="handleOkRescue()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />Xác nhận
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleUnRescue"
  nzTitle="UNRESCUE máy ảo"
  (nzOnCancel)="handleCancelUnRescue()"
>
  <div *nzModalContent>Quý khách chắn chắn muốn thực hiện UNRESCUE máy ảo?</div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelUnRescue()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />Hủy
    </button>
    <button nz-button nzType="primary" (click)="handleOkUnRescue()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />Xác nhận
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleStart"
  nzTitle="Bật máy ảo"
  (nzOnCancel)="handleCancelStart()"
>
  <div *nzModalContent>Quý khách chắn chắn muốn thực hiện bật máy ảo?</div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelStart()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />Hủy
    </button>
    <button nz-button nzType="primary" (click)="handleOkStart()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />Xác nhận
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleEdit"
  nzTitle="Chỉnh sửa thông tin máy ảo"
  (nzOnCancel)="handleCancelEdit()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form" [nzLayout]="'vertical'">
      <nz-form-item>
        <nz-form-label nzFor="name"
          >Tên máy ảo (<span class="text-red">*</span>)</nz-form-label
        >
        <nz-form-control nzDisableAutoTips [nzErrorTip]="nameErrorTpl">
          <input
            class="input-custom"
            nz-input
            formControlName="name"
            [(ngModel)]="updateInstances.name"
            (ngModelChange)="changeName($event)"
            placeholder="Nhập tên máy ảo"
            [maxlength]="50"
          />
          <div *ngIf="isExistName" style="color: #ff4d4f">
            Tên máy ảo này đã được sử dụng, vui lòng chọn tên khác
          </div>
          <ng-template #nameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')"
              >Vui lòng nhập thông tin</ng-container
            >
            <ng-container *ngIf="control.hasError('pattern')"
              >Không bao gồm dấu tiếng Việt, dấu cách, ký tự đặc biệt (trừ
              _)</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelEdit()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />Hủy
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="handleOkEdit()"
      [disabled]="form.invalid || isExistName"
    >
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />Xác nhận
    </button>
  </div>
</nz-modal>
