<nz-card>
    <div class="filters" nz-row>
        <div nz-col [nzSpan]="3">
            <h3>{{ 'kafka.detail.log' | i18n }}</h3>
        </div>
        <div nz-col [nzSpan]="21"> 
            <div nz-row style="justify-content: space-between;">
                <div class="filter-option" nz-col [nzSpan]="4">
                    <nz-input-group [nzPrefix]="prefixTplUser" nzSize="large">
                        <input type="text" nz-input [placeholder]="'kafka.log.user-tooltip' | i18n" [(ngModel)]="userSearch"
                            (ngModelChange)="getAccessLogs()" />
                    </nz-input-group>
                    <ng-template #prefixTplUser>
                        <img src="assets/imgs/search.svg" alt="" style="cursor: pointer" nz-tooltip="Tìm kiếm" />
                    </ng-template>
                </div>
                <div class="filter-option" nz-col [nzSpan]="4">
                    <nz-input-group [nzPrefix]="prefixTplResource" nzSize="large">
                        <input type="text" nz-input [placeholder]="'kafka.log.resource-tooltip' | i18n" [(ngModel)]="resourceSearch"
                            (ngModelChange)="getAccessLogs()" />
                    </nz-input-group>
                    <ng-template #prefixTplResource>
                        <img src="assets/imgs/search.svg" alt="" style="cursor: pointer" nz-tooltip="Tìm kiếm" />
                    </ng-template>
                </div>
                <div class="filter-option" nz-col [nzSpan]="4">
                    <nz-select class="w-100" [(ngModel)]="resourceTypeSearch" (ngModelChange)="getAccessLogs()" nzSize="large"
                        [nzPlaceHolder]="'kafka.log.resource-type-tooltip' | i18n" nzShowSearch nzAllowClear>
                        <nz-option nzValue="TOPIC" nzLabel="Topic"></nz-option>
                        <nz-option nzValue="CONSUMER_GROUP" nzLabel="Consumer Group"></nz-option>
                        <nz-option nzValue="BROKER" nzLabel="Broker"></nz-option>
                        <nz-option nzValue="USER" nzLabel="User"></nz-option>
                        <nz-option nzValue="MESSAGE" nzLabel="Message"></nz-option>
                    </nz-select>
                </div>
                <div class="filter-option" nz-col [nzSpan]="4">
                    <nz-select class="w-100" [(ngModel)]="operationSearch" (ngModelChange)="getAccessLogs()" nzSize="large"
                        [nzPlaceHolder]="'app.text.operation' | i18n" nzShowSearch nzAllowClear>
                        <nz-option nzValue="CREATE" nzLabel="Tạo bản ghi"></nz-option>
                        <nz-option nzValue="UPDATE" nzLabel="Cập nhật bản ghi"></nz-option>
                        <nz-option nzValue="DELETE" nzLabel="Xóa bản ghi"></nz-option>
                        <nz-option nzValue="TEST_PRODUCER" nzLabel="Test producer"></nz-option>
                    </nz-select>
                </div>
                <div class="filter-option" nz-col [nzSpan]="6">
                    <nz-range-picker [(ngModel)]="dateSearch" (ngModelChange)="onDateChange($event); getAccessLogs()" nzSize="large"
                        nzFormat="dd/MM/yyyy" [nzPlaceHolder]="['kafka.topic.message-start-date' | i18n, 'kafka.topic.message-end-date' | i18n]"></nz-range-picker>
                </div>
            </div>
        </div>
    </div>
    <div class="note">
        {{ 'kafka.log.note' | i18n }}
    </div>
    <div class="table">
        <nz-table id="access-logs" #logTable [nzData]="accessLogs" nzShowPagination [nzFrontPagination]="false" nzShowSizeChanger
            [nzTotal]="total" [nzPageSize]="size" (nzQueryParams)="onQueryParamsChange($event)"
            [nzPageIndex]="page" [nzScroll]="{ x: '1100px' }">
    
            <thead>
                <tr>
                    <th nzWidth="6%" nzAlign="center">{{ 'app.service.order-number' | i18n }}</th>
                    <th nzWidth="15%">{{ 'kafka.log.username' | i18n }}</th>
                    <th nzWidth="15%">{{ 'kafka.log.resource' | i18n }}</th>
                    <th nzWidth="10%">{{ 'kafka.log.resource-type' | i18n }}</th>
                    <th nzWidth="10%">{{ 'app.text.operation' | i18n }}</th>
                    <th nzWidth="32%">{{ 'kafka.log.content' | i18n }}</th>
                    <th nzWidth="12%">{{ 'kafka.log.time' | i18n }}</th>
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let item of logTable.data; let i = index">
                    <td nzAlign="center">{{ i + 1 }}</td>
                    <td>{{ item.userAction }}</td>
                    <td nzEllipsis nz-tooltip [nzTooltipTitle]="item.resource">{{item.resource}}</td>
                    <td>{{ resourceType[item.resourceType] }}</td>
                    <td>{{ operations[item.operation] }}</td>
                    <td nzEllipsis nz-tooltip [nzTooltipTitle]="item.note">{{ item.note }}</td>
                    <td>{{ item.opTime | date: 'dd/MM/yyyy HH:mm' }}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</nz-card>