<page-header [breadcrumb]="breadcrumb" [action]="action" [title]="('project.note32' | i18n)">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/app-smart-cloud/project']">{{ 'project.note1' | i18n }}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ 'project.note32' | i18n }}</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (valueChanged)="onRegionChange($event)"></region-select-dropdown>
    </div>
  </ng-template>
</page-header>
<!---------------FORM-------------->
<form nz-form [formGroup]="form" [nzLayout]="'vertical'">
  <nz-row nzGutter="24">
    <nz-col nzSpan="16">
      <!---------------CARD-THÔNG TIN VPC-------------->
      <nz-card class="text-label" nzTitle="" style="border-radius: 8px;">
        <div style="margin-bottom: 20px">
          <span class="text-card-header">{{ 'project.note24' | i18n }}</span>
          <div nz-row>
            <div style="font-weight: bold;margin-right: 20px">{{ 'project.note20' | i18n }}:</div>
            <div>{{data?.type == 'VPC' ? ('project.note4' | i18n) : ('project.note5' | i18n)}}</div>
          </div>
        </div>
        <nz-form-item>
          <nz-form-label nzRequired>{{ 'project.note19' | i18n }}<img
            style="margin-left: 10px"
            nz-tooltip="{{ 'project.note16' | i18n }}"
            src="assets/imgs/pajamas_question.svg"
            alt=""
          /></nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="{{ 'content.emplty' | i18n }}" style="width: 100%"
                   formControlName="name" (change)="activeEdit()">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>{{ 'app.service.description' | i18n }}</nz-form-label>
          <nz-form-control>
          <textarea maxlength="1000" nz-input [nzAutosize]="{ minRows: 3 }" placeholder="{{ 'content.emplty' | i18n }}" style="width: 100%"
                    formControlName="description" (change)="activeEdit()"></textarea>
          </nz-form-control>
        </nz-form-item>
        <div class="text-label">{{ 'project.note38' | i18n }}: VPC01 ({{vCPUOld}} vCPU, {{ramOld}}GB RAM, {{hhdOld}}GB HHD, {{ssdOld}}GB SSD)</div>
        <div class="text-label" style="margin-bottom: 20px">{{ 'project.note39' | i18n }}: ({{vCPU}} vCPU, {{ram}}GB RAM, {{hhd}}GB HHD, {{ssd}}GB SSD) </div>
        <div *ngIf="selectIndexTab == 0">
          <ngu-carousel #myCarouselFlavor
                        [inputs]="carouselTileConfig"
                        [dataSource]="listOfferFlavors"
          >
            <ngu-tile
              *nguCarouselDef="let item; index as i; let ani = animate"
              [@slider]="ani"
            >
              <div
                style="cursor: pointer"
                (click)="onInputFlavors(item.id, item.offerName);"
                [id]="'flavor_' + item.id"
              >
                <nz-row>
                  <nz-col
                    style="padding-bottom: 5px"
                    class="newClassFlavor text-center"
                    [class.initialClassFlavor]="
                        selectedElementFlavor === 'flavor_' + item.id
                      "
                  >
                    <div style="position: relative;">
                        <span
                          class="nameFlavor"
                          [class.initialNameFlavor]="
                            selectedElementFlavor === 'flavor_' + item.id
                          "
                        >{{ item.offerName }}</span
                        >
                      <div style="margin-top: -16px">
                        <img
                          style="width: 100px"
                          [src]="
                              selectedElementFlavor === 'flavor_' + item.id
                                ? 'assets/imgs/line2.svg'
                                : 'assets/imgs/line.svg'
                            "
                          alt=""
                        />
                      </div>
                      <span class="priceFlavor">{{
                          item.price.fixedPrice.amount | number:'1.0-0':'en-US'
                        }}</span
                      ><span> {{"app.payment-detail.month" | i18n}}</span>
                    </div>
                    <div style="z-index: 1;position: absolute; right: -5px; top: -5px;">
                      <img src="assets/imgs/mostpop.svg">
                    </div>
                  </nz-col>
                </nz-row>
                <nz-row>
                  <nz-col
                    style="width: 100%; padding-top: 5px"
                    [class.flavor-footer-active]="
                        selectedElementFlavor === 'flavor_' + item.id
                      "
                    [class.flavor-footer]="
                        selectedElementFlavor != 'flavor_' + item.id
                      "
                  >
                    <div>
                      <p>{{ item.description }}</p>
                    </div>
                  </nz-col>
                </nz-row>
              </div>
            </ngu-tile>

            <ul class="myPoint" NguCarouselPoint>
              <li
                *ngFor="let i of myCarouselFlavor.pointNumbers"
                [class.active]="i === myCarouselFlavor.activePoint"
                (click)="myCarouselFlavor.moveTo(i)"
              ></li>
            </ul>
          </ngu-carousel>
        </div>
        <div *ngIf="selectIndexTab == 1">
          <div class="ant-table">
            <table>
              <thead class="ant-table-thead">
              <tr>
                <th>{{ 'app.resource' | i18n }}</th>
                <th>{{ 'app.payment-detail.quantity' | i18n }}</th>
                <th>{{ 'app.money.price' | i18n }}</th>
              </tr>
              </thead>
              <tbody class="ant-table-tbody">
              <tr>
                <td width="60%">
                  VCPU (<span class="text-red">*</span>)
                  <nz-slider
                    [nzMin]="1"
                    [nzMax]="1000"
                    [(ngModel)]="vCPU"
                    (ngModelChange)="calculate()"
                    [ngModelOptions]="{standalone: true}"
                  ></nz-slider>
                </td>
                <td width="20%">
                  <nz-input-number [(ngModel)]="vCPU"
                                   (ngModelChange)="calculate()"
                                   [ngModelOptions]="{standalone: true}"
                                   [nzMin]="1" [nzMax]="1000" [nzStep]="1" nzSize="large"></nz-input-number>
                </td>
                <td width="20%">
                  <div class="text-right">{{ price.vcpu }} VND</div>
                  <div class="text-right" style="opacity: 0.5;">{{ price.vcpuPerUnit }} VND</div>
                </td>
              </tr>
              <tr>
                <td width="60%">
                  RAM (GB) (<span class="text-red">*</span>)
                  <nz-slider
                    [nzMin]="1"
                    [nzMax]="1000"
                    [(ngModel)]="ram"
                    (ngModelChange)="calculate()"
                    [ngModelOptions]="{standalone: true}"
                  ></nz-slider>
                </td>
                <td width="20%">
                  <nz-input-number [(ngModel)]="ram"
                                   (ngModelChange)="calculate()"
                                   [ngModelOptions]="{standalone: true}"
                                   [nzMin]="1" [nzMax]="62" [nzStep]="1" nzSize="large"></nz-input-number>
                </td>
                <td width="20%">
                  <div class="text-right">{{ price.ram }} VND</div>
                  <div class="text-right" style="opacity: 0.5;">{{ price.ramPerUnit }} VND</div>
                </td>
              </tr>
              <tr>
                <td width="60%">
                  {{"volume.table.title.storage" | i18n}} HDD (GB)
                  <nz-slider
                    [nzMin]="1"
                    [nzMax]="1000"
                    [(ngModel)]="hhd"
                    [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="calculate()"
                  ></nz-slider>
                </td>
                <td width="20%">
                  <nz-input-number [(ngModel)]="hhd"
                                   (ngModelChange)="calculate()"
                                   [ngModelOptions]="{standalone: true}"
                                   [nzMin]="1" [nzMax]="62" [nzStep]="1" nzSize="large"></nz-input-number>
                </td>
                <td width="20%">
                  <div class="text-right">{{ price.hhd }} VND</div>
                  <div class="text-right" style="opacity: 0.5;">{{ price.hhdPerUnit }} VND</div>
                </td>
              </tr>
              <tr>
                <td width="60%">
                  {{"volume.table.title.storage" | i18n}} SSD (GB)
                  <nz-slider
                    [nzMin]="1"
                    [nzMax]="1000"
                    [(ngModel)]="ssd"
                    (ngModelChange)="calculate()"
                    [ngModelOptions]="{standalone: true}"
                  ></nz-slider>
                </td>
                <td width="20%">
                  <nz-input-number [(ngModel)]="ssd"
                                   [ngModelOptions]="{standalone: true}"
                                   (ngModelChange)="calculate()"
                                   [nzMin]="1" [nzMax]="62" [nzStep]="1" nzSize="large"></nz-input-number>
                </td>
                <td width="20%">
                  <div class="text-right">{{ price.ssd }} VND</div>
                  <div class="text-right" style="opacity: 0.5;">{{ price.ssdPerUnit }} VND</div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <nz-row style="margin-top: 20px;margin-bottom: 10px;" nzGutter="16">
          <nz-col nzLg="24" nzMd="12" nzSm="24">
            <nz-form-item style="margin-bottom: 5px">
              <nz-form-label
              >{{"time.used" | i18n}} (<span class="text-red">*</span>) -
                {{"app.month" | i18n}}
              </nz-form-label
              >
              <nz-form-control>
                <nz-row>
                  <nz-input-number style="width: 50%; margin-left: -1px" [nzMin]="1" [nzMax]="100" [nzStep]="1"
                                   formControlName="numOfMonth" (ngModelChange)="onChangeTime()"
                                   nzSize="large"></nz-input-number>
                  <div class="text-custom-time" style="display: flex; margin-left: 20px;align-items: center;">
                    {{"volume.table.title.create.date" | i18n}}: {{ today | date : 'dd/MM/yyyy' }}
                  </div>
                </nz-row>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
        </nz-row>

        <div class="text-custom-time" style="color: red;">
          {{"volume.table.title.expire.date" | i18n}}: {{ expiredDate | date : 'dd/MM/yyyy' }}
        </div>
      </nz-card>

      <!---------------CARD-NW-------------->
      <nz-card style="border-radius: 8px">
        <div style="margin-bottom: 20px"><span class="text-card-header">Networks</span></div>
        <div class="ant-table">
          <table>
            <td style="width:50%">
              <nz-form-item>
                <nz-form-label>{{"app.order-detail.quantity" | i18n}} Network</nz-form-label>
                <nz-form-control>
                  <nz-input-number style="width: 90%; margin-left: -1px" [nzMin]="0" [nzStep]="1"
                                   [(ngModel)]="numberNetwork" (ngModelChange)="calculate()"
                                   [ngModelOptions]="{ standalone: true }" nzSize="large"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label>{{"project.note40" | i18n}}</nz-form-label>
                <nz-form-control>
                  <nz-input-number style="width: 90%; margin-left: -1px" [nzMin]="0" [nzStep]="1"
                                   [(ngModel)]="ipConnectInternet" [ngModelOptions]="{ standalone: true }" [nzDisabled]="true" nzSize="large"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </td>
            <td style="width:50%">
              <nz-form-item>
                <nz-form-label>{{"app.order-detail.quantity" | i18n}} Router</nz-form-label>
                <nz-form-control>
                  <nz-input-number style="width: 90%; margin-left: -1px" [nzMin]="0" [nzStep]="1"
                                   [(ngModel)]="numberRouter" (ngModelChange)="calculate()"
                                   [ngModelOptions]="{ standalone: true }" nzSize="large"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label>{{"app.order-detail.quantity" | i18n}} Security Group</nz-form-label>
                <nz-form-control>
                  <nz-input-number style="width: 90%; margin-left: -1px" [nzMin]="0" [nzStep]="1"
                                   [(ngModel)]="numberSecurityGroup" (ngModelChange)="calculate()"
                                   [ngModelOptions]="{ standalone: true }" nzSize="large"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </td>
          </table>
        </div>
        <div *ngIf="selectIndexTab == 0">
          <nz-form-item>
            <nz-form-label>{{"project.note41" | i18n}} (<span class="text-red">*</span>)
              <img
                style="margin-left: 10px"
                nz-tooltip="{{'project.note41' | i18n}}"
                src="assets/imgs/pajamas_question.svg"
                alt=""
              /></nz-form-label>
            <nz-form-control>
              <nz-input-group nzCompact>
                <nz-select nzSize="large" [nzLoading]="false" [nzDisabled]="false"
                           style="width: 95%; margin-left: -1px;border-radius: 10px;"
                           nzPlaceHolder="--{{'project.note41' | i18n}}--"
                           formControlName="ipType" (nzOpenChange)="calculate()">
                  <nz-option *ngFor="let i of listIpType" [nzLabel]="i.label"
                             [nzValue]="i.value"/>
                </nz-select>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div *ngIf="selectIndexTab == 1">
          <div>
            <nz-row *ngIf="ipConnectInternet != 'loading data....' && ipConnectInternet != 'No Ip Connect Internet'">
              <nz-form-item style="width: 80%">
                <nz-form-label>{{"app.order-detail.quantity" | i18n}} IP Floating</nz-form-label>
                <nz-form-control>
                  <nz-input-number style="width: 96%; margin-left: -1px" [nzMin]="0" [nzStep]="1"
                                   (keydown)="checkPossiblePress($event)"
                                   [(ngModel)]="numberIpFloating" (ngModelChange)="calculate()"
                                   [ngModelOptions]="{ standalone: true }" nzSize="large"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item style="width: 20%">
                <nz-form-label style="text-align: right">{{"app.service.price-title" | i18n}} ({{"app.payment-detail.month" | i18n}})</nz-form-label>
                <nz-form-control>
                  <div class="centered">
                    <p class="text-custom-price" style="width: 90%;">
                      {{ price.IpFloating }} <span style="color: black;">đ</span>
                    </p>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </nz-row>
            <nz-row>
              <nz-form-item style="width: 80%">
                <nz-form-label>{{"app.order-detail.quantity" | i18n}} IP Public</nz-form-label>
                <nz-form-control>
                  <nz-input-number style="width: 96%; margin-left: -1px" [nzMin]="0" [nzStep]="1"
                                   (keydown)="checkPossiblePress($event)"
                                   [(ngModel)]="numberIpPublic" (ngModelChange)="calculate()"
                                   [ngModelOptions]="{ standalone: true }" nzSize="large"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item style="width: 20%">
                <nz-form-label style="text-align: right">{{"app.service.price-title" | i18n}} ({{"app.payment-detail.month" | i18n}})</nz-form-label>
                <nz-form-control>
                  <div class="centered">
                    <p class="text-custom-price" style="width: 90%;">
                      {{ price.IpPublic }} <span style="color: black;">đ</span>
                    </p>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </nz-row>
            <nz-row>
              <nz-form-item style="width: 80%">
                <nz-form-label>{{"app.order-detail.quantity" | i18n}} IPv6</nz-form-label>
                <nz-form-control>
                  <nz-input-number style="width: 96%; margin-left: -1px" [nzMin]="0" [nzStep]="1"
                                   (keydown)="checkPossiblePress($event)"
                                   [(ngModel)]="numberIpv6" (ngModelChange)="calculate()"
                                   [ngModelOptions]="{ standalone: true }" nzSize="large"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item style="width: 20%">
                <nz-form-label style="text-align: right">{{"app.service.price-title" | i18n}} ({{"app.payment-detail.month" | i18n}})</nz-form-label>
                <nz-form-control>
                  <div class="centered">
                    <p class="text-custom-price" style="width: 90%;">
                      {{ price.IpV6 }} <span style="color: black;">đ</span>
                    </p>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </nz-row>
          </div>
        </div>
        <p>{{"project.note43" | i18n}}</p>
      </nz-card>

      <!---------------CARD-BACKUP-------------->
      <nz-card style="border-radius: 8px">
        <div style="margin-bottom: 20px"><span class="text-card-header">Backup</span></div>
        <div *ngIf="!activeBackup">
          <button style="height: 32px" nz-button nzType="default" (click)="initBackup()">
            <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/add.svg" alt=""/>{{"app.bonus" | i18n}} Backup
          </button>
        </div>
        <div *ngIf="activeBackup">
          <div class="ant-table">
            <table>
              <td style="width:80%">
                <nz-form-item>
                  <nz-form-label>{{"volume.table.title.storage" | i18n}} Backup Volume/VM (GB)</nz-form-label>
                  <nz-form-control>
                    <nz-input-number style="width: 96%; margin-left: -1px" [nzMin]="0" [nzStep]="20"
                                     (keydown)="checkPossiblePress($event)"
                                     [(ngModel)]="numberBackup" (ngModelChange)="calculate()"
                                     [ngModelOptions]="{ standalone: true }" nzSize="large"></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td style="width:20%">
                <nz-form-item>
                  <nz-form-label style="text-align: right">{{"app.service.price-title" | i18n}} ({{"app.payment-detail.month" | i18n}})</nz-form-label>
                  <nz-form-control>
                    <div class="centered">
                      <p class="text-custom-price" style="width: 90%;">
                        {{ price.backup }} <span style="color: black;">đ</span>
                      </p>
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </td>
            </table>
          </div>
        </div>
        <nz-alert class="ant-alert-warning-custom" (click)="initBackup()" nzType="warning"
                  nzDescription="Với các ứng dụng cần bảo vệ dữ liệu và duy trì hiệu suất hệ thống, nên sử dụng Backup - sao lưu định kỹ để đảm bảo an toàn và
          khả năng khôi phục nhanh chóng khi cần thiết" nzShowIcon></nz-alert>
      </nz-card>

      <!---------------CARD-LOAD_BALANCER-------------->
      <nz-card style="border-radius: 8px">
        <div style="margin-bottom: 20px"><span class="text-card-header">Load Balancer</span></div>
        <div *ngIf="!activeLoadBalancer">
          <button style="height: 32px" nz-button nzType="default" (click)="initLoadBalancer()">
            <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/add.svg" alt="" />{{"app.bonus" | i18n}} Load
            Balancer
          </button>
        </div>
        <div *ngIf="activeLoadBalancer">
          <div class="ant-table">
            <table>
              <td style="width:40%">
                <nz-form-item>
                  <nz-form-label>{{"app.order-detail.quantity" | i18n}}{{"app.order-detail.quantity" | i18n}} Load Balancer</nz-form-label>
                  <nz-form-control>
                    <nz-input-number style="width: 90%; margin-left: -1px" [nzMin]="0" [nzStep]="1"
                                     (keydown)="checkPossiblePress($event)"
                                     [(ngModel)]="numberLoadBalancer" (ngModelChange)="calculate()"
                                     [ngModelOptions]="{ standalone: true }" nzSize="large"></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td style="width:40%">
                <nz-form-item>
                  <nz-form-label>{{'project.note49' | i18n}}</nz-form-label>
                  <nz-form-control>
                    <nz-input-group nzCompact>
                      <nz-select nzSize="large" [nzLoading]="false" [nzDisabled]="false"
                                 style="width: 90%; margin-left: -1px;border-radius: 10px;"
                                 nzPlaceHolder="--{{'project.note49' | i18n}}--"
                                 [(ngModel)]="loadBalancerId" [ngModelOptions]="{standalone : true}" (nzOpenChange)="calculate()">
                        <nz-option *ngFor="let i of listLoadbalancer" [nzLabel]="i.offerName"
                                   [nzValue]="i.id" />
                      </nz-select>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td style="width:20%">
                <nz-form-item>
                  <nz-form-label style="text-align: right">{{"app.service.price-title" | i18n}} ({{"app.payment-detail.month" | i18n}})</nz-form-label>
                  <nz-form-control>
                    <div class="centered">
                      <p class="text-custom-price" style="width: 90%;">
                        {{ price.loadBalancer }} <span style="color: black;">đ</span>
                      </p>
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </td>
            </table>
          </div>
        </div>
        <nz-alert class="ant-alert-warning-custom" (click)="initLoadBalancer()" nzType="warning"
                  nzDescription="Load Balancer giúp nhân phối tải hiệu quả, nâng cao khả năng chịu tải của hệ thống và tăng trải nghiệm người dùng"
                  nzShowIcon></nz-alert>
      </nz-card>

      <!---------------CARD-FILE STORAGE-------------->
      <nz-card style="border-radius: 8px">
        <div style="margin-bottom: 20px"><span class="text-card-header">File Storage</span></div>
        <div *ngIf="!activeFileStorage">
          <button style="height: 32px" nz-button nzType="default" (click)="initFileStorage()">
            <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/add.svg" alt="" />{{"app.bonus" | i18n}} File Storage
          </button>
        </div>
        <div *ngIf="activeFileStorage">
          <div class="ant-table">
            <table>
              <td style="width:40%">
                <nz-form-item>
                  <nz-form-label>{{"volume.table.title.storage" | i18n}} File System (GB)</nz-form-label>
                  <nz-form-control>
                    <nz-row>
                      <nz-input-number style="width: 90%;margin-left: -1px" [nzMin]="0" [nzStep]="1"
                                       (keydown)="checkPossiblePress($event)"
                                       [(ngModel)]="numberFileSystem" (ngModelChange)="calculate()"
                                       [ngModelOptions]="{ standalone: true }" nzSize="large"></nz-input-number>
                    </nz-row>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td style="width:40%">
                <nz-form-item>
                  <nz-form-label>{{"volume.table.title.storage" | i18n}} File System Snapshot (GB)</nz-form-label>
                  <nz-form-control>
                    <nz-row>
                      <nz-input-number style="width: 90%; margin-left: -1px" [nzMin]="1" [nzMax]="100" [nzStep]="1"
                                       (keydown)="checkPossiblePress($event)"
                                       [(ngModel)]="numberFileScnapsshot" (ngModelChange)="calculate()"
                                       [ngModelOptions]="{ standalone: true }" nzSize="large"></nz-input-number>
                    </nz-row>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td style="width:20%">
                <nz-form-item>
                  <nz-form-label style="text-align: right">{{"app.service.price-title" | i18n}} ({{"app.payment-detail.month" | i18n}})</nz-form-label>
                  <nz-form-control>
                    <div class="centered">
                      <p class="text-custom-price" style="width: 90%;">
                        {{ price.fileStorage | number }} <span style="color: black;">đ</span>
                      </p>
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </td>
            </table>
          </div>
        </div>
        <nz-alert class="ant-alert-warning-custom" (click)="initFileStorage()" nzType="warning"
                  nzDescription="{{'project.note44' | i18n}}"
                  nzShowIcon></nz-alert>
      </nz-card>

      <!---------------CARD-SITE-TO-SITE-------------->
      <nz-card style="border-radius: 8px">
        <div style="margin-bottom: 20px"><span class="text-card-header">VPC site to site</span></div>
        <div *ngIf="!activeSiteToSite">
          <button style="height: 32px" nz-button nzType="default" (click)="initVpnSiteToSite()">
            <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/add.svg" alt="" />{{"app.bonus" | i18n}} VPC site to
            site
          </button>
        </div>
        <div *ngIf="activeSiteToSite">
          <div class="ant-table">
            <table>
              <td style="width:80%">
                <nz-form-item>
                  <nz-form-label>{{'project.note45' | i18n}}</nz-form-label>
                  <nz-form-control>
                    <nz-select nzSize="large" [nzLoading]="false" [nzDisabled]="false"
                               style="width: 96%;border-radius: 10px;"
                               nzPlaceHolder="--{{'project.note45' | i18n}}--"
                               [(ngModel)]="siteToSiteId" [ngModelOptions]="{standalone:true}" (nzOpenChange)="calculate()">
                      <nz-option *ngFor="let i of listSiteToSite" [nzLabel]="i.offerName"
                                 [nzValue]="i.id" />
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td style="width:20%">
                <nz-form-item>
                  <nz-form-label style="text-align: right">{{"app.service.price-title" | i18n}} ({{"app.payment-detail.month" | i18n}})</nz-form-label>
                  <nz-form-control>
                    <div class="centered">
                      <p class="text-custom-price" style="width: 90%;">
                        {{ price.siteToSite }} <span style="color: black;">đ</span>
                      </p>
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </td>
            </table>
          </div>
        </div>
        <nz-alert class="ant-alert-warning-custom" (click)="initVpnSiteToSite()" nzType="warning"
                  nzDescription="VPN site to site cung cấp một kênh kết nối an toàn giữ các vị trí vật lý hoặc mạng máy tính khác nhau
                  . Cho phéo các vị trí đia lý khác nhau truy cập vào tài nguyên nội bộ" nzShowIcon></nz-alert>
      </nz-card>
      <!---------------CARD-CONG-THUC-------------->
      <nz-card style="border-radius: 8px">
        <div style="margin-bottom: 20px"><span class="text-card-header">Hướng dẫn công thức</span></div>
        <nz-row>
          <div class="text-label">Khi điều chỉnh dịch vụ, chi phí được tính: </div>
          <div class="text-label" style="font-weight: bold">(Giá theo tháng gói B - Giá theo tháng gói A) x Số ngày còn lại / 30 ngày</div>
        </nz-row>
        <nz-row>
          <div class="text-label">Ví dụ: Người dùng mua gói cấu hình SMC01 có giá 1.000.000 VND/tháng với thời gian sử dụng là 1 tháng từ ngày 01/04/2024 - 30/04/2024.
            Người dùng thực hiện điều chỉnh gói cấu hình khác với giá 1.500.000 VND/tháng vào ngày 15/04/2024. Như vậy người dùng đã sử dụng gói dịch vụ cũ 15 ngày và
            điều chỉnh gói cấu hình mới có thời gian sử dụng là 15 ngày. Vậy chi phí nâng gói cấu hình khi điều chỉnh dịch vụ của khách hàng cần thanh toán: </div>
          <div class="text-label" style="font-weight: bold">(1.500.000 - 1.000.000) x 15 ngày / 30 ngày</div>
          <div class="text-label">= 250.000 VND</div>
        </nz-row>
      </nz-card>
    </nz-col>



    <!---------------CARD-THÀNH TIỀN-------------->
    <nz-col nzSpan="8">
      <nz-card style="border-radius: 8px;" [nzLoading]="loadingCalculate">
        <div style="margin-bottom: 20px">
          <span class="text-card-header">{{'app.estimated.cost' | i18n}}</span>
        </div>
        <div class="text-value">{{'project.note19' | i18n}}</div>
        <div style="margin-top: 10px" class="text-label">{{ this.form.controls['name'].value}}</div>
        <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
        <!--        Gói cấu hình sẵn-->
        <div *ngIf="selectIndexTab == 1">
          <div class="text-value">{{'custom.config.package' | i18n}}</div>
          <nz-row style="display: flex;justify-content: space-between;">
            <div style="margin-top: 10px" class="text-label">{{'app.payment-detail.quantity' | i18n}} vCPU:</div>
            <div style="margin-top: 10px" class="text-label">{{vCPU}}</div>
          </nz-row>
          <nz-row style="display: flex;justify-content: space-between;">
            <div style="margin-top: 10px" class="text-label">{{'app.payment-detail.quantity' | i18n}} RAM:</div>
            <div style="margin-top: 10px" class="text-label">{{ram}}</div>
          </nz-row>
          <nz-row style="display: flex;justify-content: space-between;">
            <div style="margin-top: 10px" class="text-label">{{'app.payment-detail.quantity' | i18n}} HHD:</div>
            <div style="margin-top: 10px" class="text-label">{{hhd}}GB</div>
          </nz-row>
          <nz-row style="display: flex;justify-content: space-between;">
            <div style="margin-top: 10px" class="text-label">{{'app.payment-detail.quantity' | i18n}} SSD:</div>
            <div style="margin-top: 10px" class="text-label">{{ssd}}GB</div>
          </nz-row>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
        </div>
        <!--        Gói cấu co san-->
        <div *ngIf="selectIndexTab == 0">
          <div class="text-value">{{'config.package' | i18n}}</div>
          <div style="margin-top: 10px" class="text-label">{{selectPackge}}</div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
        </div>
        <!--        Dịch vụ bổ sung-->
        <div class="text-value">{{'service.bonus' | i18n}}</div>
        <!--        <div style="margin-top: 10px" class="text-label"></div>-->
        <nz-row style="display: flex;justify-content: space-between;">
          <div style="margin-top: 10px" class="text-label">Backup:</div>
          <div style="margin-top: 10px" class="text-label">{{numberBackup}}GB</div>
        </nz-row>
        <nz-row style="display: flex;justify-content: space-between;">
          <div style="margin-top: 10px" class="text-label">Load Balancer:</div>
          <div style="margin-top: 10px" class="text-label">{{numberFileSystem}}</div>
        </nz-row>
        <nz-row style="display: flex;justify-content: space-between;">
          <div style="margin-top: 10px" class="text-label">File Storage:</div>
          <div style="margin-top: 10px" class="text-label">{{numberFileSystem}}GB</div>
        </nz-row>
        <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
        <nz-row style="margin-bottom: 10px" nzGutter="16">
          <nz-col nzSpan="16">
            <span class="text-value">{{'app.service.cost' | i18n}} {{ this.form.controls['numOfMonth'].value || 0 }} {{'app.month' | i18n}}</span>
          </nz-col>
          <nz-col class="text-right" nzSpan="8">
            <span class="text-value" style="color: #0066b3" nzAlign="right">
              {{ totalAmount || 0 }}
              VND
            </span>
          </nz-col>
        </nz-row>
        <nz-row style="
            margin-bottom: 20px;
            background-color: #cce9ff;
            padding: 16px 0 16px 0;
            border-radius: 8px;
          " nzGutter="16">
          <nz-col nzSpan="16">
            <span class="text-label">{{'app.total.payment' | i18n}}</span><br />
            <span class="text-note-italicized">({{'app.payment-detail.vat' | i18n}})</span>
          </nz-col>
          <nz-col class="text-right" nzSpan="8">
            <span class="text-value" style="color: #ea3829" nzAlign="right">{{ totalPayment || 0 }} VND</span>
          </nz-col>
        </nz-row>
        <nz-row>
          <nz-col style="width: 100%">
            <button style="width: 100%" nz-button nzSize="large" nzType="primary" (click)="updateVpc()"
                    [disabled]="(form.invalid || (selectIndexTab == 0 && (selectedElementFlavor == null))) || disisable == true">
              <span nz-icon nzType="wallet" nzTheme="outline"></span>
              <span [style.color]="(form.invalid || (selectIndexTab == 0 && (selectedElementFlavor == null))) || disisable == true ? 'gray' : 'white'">{{'app.text.edit' | i18n}}</span>
            </button>
          </nz-col>
        </nz-row>
      </nz-card>
    </nz-col>
  </nz-row>


</form>





