<nz-card style="height: 130px">
  <form nz-form [formGroup]="form" [nzLayout]="'vertical'">
    <nz-form-item style="margin-bottom: 5px">
      <nz-form-label
        >{{ 'app.service.used' | i18n }} (<span class="text-red">*</span>) -
        {{ 'app.Months' | i18n
        }}<img
          style="margin-left: 10px"
          [nz-tooltip]="'app.tooltip.usage.time' | i18n : { name: name }"
          src="assets/imgs/pajamas_question.svg"
          alt=""
      /></nz-form-label>
      <nz-form-control [nzErrorTip]="timeErrorTpl">
        <nz-row>
          <nz-col nzSpan="12">
            <nz-input-number
              formControlName="time"
              style="width: 100%; margin-left: -1px"
              [nzMin]="1"
              [nzMax]="100"
              [nzStep]="1"
              [(ngModel)]="numberMonth"
              (keydown)="onKeyDown($event)"
              (ngModelChange)="changeTime($event)"
              (input)="onInput($event)"
              nzSize="large"
            ></nz-input-number>
            <ng-template #timeErrorTpl let-control>
              <div class="mt-1" *ngIf="control.hasError('required')">{{
                'validation.kafka.duration-required' | i18n
              }}</div>
            </ng-template>
          </nz-col>
          <nz-col style="margin-top: -3px" nzSpan="12">
            <div style="margin-left: 20px">
              <span class="text-label">
                {{ 'app.service.creation-date' | i18n }}:
                {{ today | date : 'dd/MM/yyyy' }} </span
              ><br />
              <span class="text-label" style="color: #eb1414">
                {{ 'app.service.expiration-date' | i18n }}:
                {{ expiredDate | date : 'dd/MM/yyyy' }}
              </span>
            </div>
          </nz-col>
        </nz-row>  
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
