@import '@delon/theme/index';

.order-title {
  font-size: 20px;
  font-weight: 600;
}

.form-title {
  font-size: 16px;
}

h3 {
  margin: 0;
}

.order-failed {
  color: #ea3829;
  font-size: 20px;
  font-weight: 600;
}

.date-failed {
  color: #d9d9d9;
  font-size: 20px;
  font-weight: 600;
}

.price {
  color: #0066b3;
  font-size: 16px;
  font-weight: 600;
  display: block;
}

::ng-deep .order-step .ant-steps-item-finish .ant-steps-item-icon {
  background-color: green;
  border: none;
}

::ng-deep .order-step .ant-steps-item-finish .ant-steps-item-icon .anticon {
  color: #fff;
}

::ng-deep .order-step .ant-steps-item-error .ant-steps-item-icon {
  background-color: red;
  border-color: none;
}

::ng-deep .order-step .anticon-close {
  color: #fff;
}

.text-desc {
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.10000000149011612px;
  color: #707070;
}

.text-order-title {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.10000000149011612px;
}
