<page-header
  [breadcrumb]="breadcrumb"
  [action]="action"
  [title]="'Chi tiết đơn hàng'"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Trang chủ</a></nz-breadcrumb-item
      >
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-smart-cloud/order/list']"
          >Đơn hàng</a
        ></nz-breadcrumb-item
      >
      <nz-breadcrumb-item> <a>Chi tiết đơn hàng</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown
        (valueChanged)="onRegionChange($event)"
      ></region-select-dropdown>
      <project-select-dropdown
        [regionId]="regionId"
        (valueChanged)="projectChange($event)"
      ></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<div *ngIf="!(data?.statusCode == 5 && data.invoiceCode == '')" class="mb-8">
  <nz-steps
    [nzLabelPlacement]="vertical"
    [nzCurrent]="
      data?.statusCode === 4
        ? data?.statusCode
        : data?.statusCode === 5
        ? data?.statusCode - 2
        : data?.statusCode - 1
    "
    style="width: 50%; margin: 0 auto"
    
  >
    <nz-step nzTitle="Đặt đơn"></nz-step>
    <nz-step nzTitle="Đã thanh toán"></nz-step>
    <nz-step nzTitle="Đang cài đặt"></nz-step>
    <nz-step nzTitle="{{ titleStepFour }}"></nz-step>
  </nz-steps>
</div>
<div nz-row nzGutter="16">
  <div nz-col nzSpan="16">
    <nz-card style="border-radius: 8px">
      <div class="d-flex align-items-center gap-2">
        <div class="h3-container d-flex gap-2">
          <h3 class="order-title">Đơn hàng: {{ data?.orderCode }}</h3>
          <span
            *ngIf="
              data?.statusCode == 4 ||
              (data?.statusCode == 5 && data.invoiceCode != '')
            "
            [style.background-color]="
              data?.statusCode === 4
                ? '#008d47'
                : data?.statusCode === 5
                ? '#F68511'
                : ''
            "
            style="
              border-radius: 15px;
              color: #fff;
              display: flex;
              align-items: center;
              padding: 0 10px;
            "
          >
            {{ titleStepFour }}
          </span>
        </div>
        <div
          class="d-flex gap-3"
          *ngIf="data?.statusCode == 5 && data.invoiceCode == ''"
        >
          <h3 class="order-failed">
            <span style="color: #000">|</span> Đã hủy
          </h3>
          <h3 class="date-failed">
            vào {{ data.updatedDate | date : 'HH:mm dd/MM/yyyy' }}
          </h3>
        </div>
      </div>
      <hr style="opacity: 0.5; margin-bottom: 30px" />
      <!--  information-->
      <nz-row nzGutter="24" style="margin-top: 30px">
        <nz-col nzSpan="5">
          <nz-form-item>
            <h3 class="form-title">Tên khách hàng:</h3>
          </nz-form-item>
          <nz-form-item>
            <h3 class="form-title">Số điện thoại:</h3>
          </nz-form-item>
          <nz-form-item>
            <h3 class="form-title">Email:</h3>
          </nz-form-item>
          <nz-form-item>
            <h3 class="form-title">Địa chỉ:</h3>
          </nz-form-item>
        </nz-col>
        <nz-col nzSpan="7">
          <nz-form-item>
            <h3 style="font-weight: 600; font-size: 16px">
              {{ data.customerName === '' ? '-' : data.customerName }}
            </h3>
            <h3 style="color: white">.</h3>
          </nz-form-item>
          <nz-form-item>
            <h3 style="font-weight: 600; font-size: 16px">
              {{ data.phoneNumber === '' ? '-' : data.phoneNumber }}
            </h3>
            <h3 style="color: white">.</h3>
          </nz-form-item>
          <nz-form-item>
            <h3 style="font-weight: 600; font-size: 16px">
              {{ data.email === '' ? '-' : data.email }}
            </h3>
            <h3 style="color: white">.</h3>
          </nz-form-item>
          <nz-form-item>
            <h3 style="font-weight: 600; font-size: 16px">
              {{ data.address === '' ? '-' : data.address }}
            </h3>
          </nz-form-item>
        </nz-col>
        <nz-col nzSpan="6">
          <nz-form-item>
            <h3 class="form-title">Thời gian tạo đơn:</h3>
          </nz-form-item>
          <nz-form-item>
            <h3 class="form-title">Hình thức thanh toán:</h3>
          </nz-form-item>
          <nz-form-item>
            <h3 class="form-title">Mã hóa đơn:</h3>
          </nz-form-item>
        </nz-col>
        <nz-col nzSpan="6">
          <nz-form-item>
            <h3 style="font-weight: 600; font-size: 16px">
              {{ data.orderDate | date : 'HH:mm:ss dd/MM/yyyy' }}
            </h3>
            <h3 style="color: white">.</h3>
          </nz-form-item>
          <nz-form-item>
            <h3 style="font-weight: 600; font-size: 16px">
              {{ data.paymentMethod === '' ? '-' : data.paymentMethod }}
            </h3>
          </nz-form-item>
          <nz-form-item>
            <h3 style="font-weight: 600; font-size: 16px; color: #248fcc">
              {{ data.invoiceCode === '' ? '-' : data.invoiceCode }}
            </h3>
          </nz-form-item>
        </nz-col>
      </nz-row>
      <!--  table-->
      <nz-table [nzData]="data.orderItems" nzHideOnSinglePage="true">
        <thead>
          <tr>
            <th>Dịch vụ</th>
            <th>Đơn giá (VND)</th>
            <th>Thời hạn (Tháng)</th>
            <th>Số lượng</th>
            <th>Số tiền (VND)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data.orderItems">
            <td>{{ item.serviceName }}</td>
            <td>{{ item.unitPrice.amount | number : '1.0-0' }}</td>
            <td>{{ item.duration }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.totalAmount.amount | number : '1.0-0' }}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>
  <div nz-col nzSpan="8">
    <nz-card style="border-radius: 8px; border-color: #b2deff">
      <div style="margin-bottom: 20px">
        <span class="text-card-header">Thông tin thanh toán</span>
      </div>
      <div>
        <nz-table>
          <tr style="margin-bottom: 5px">
            <td>Tổng tiền</td>
            <td style="text-align: right">
              <span class="price"
                >{{ data.amount.amount | number : '1.0-0' }} VND</span
              >
              <span>VND/tháng</span>
            </td>
          </tr>
          <tr>
            <td style="border-bottom: 1px solid rgba(0, 0, 0, 0.06)"></td>
            <td style="border-bottom: 1px solid rgba(0, 0, 0, 0.06)"></td>
          </tr>
          <tr style="height: 10px">
            <td></td>
            <td></td>
          </tr>
          <tr style="margin-bottom: 5px">
            <td>VAT(10%)</td>
            <td style="text-align: right">
              <span class="price"
                >{{ data.vat.amount | number : '1.0-0' }} VND</span
              >
              <span>VND/tháng</span>
            </td>
          </tr>
          <tr>
            <td style="border-bottom: 1px solid rgba(0, 0, 0, 0.06)"></td>
            <td style="border-bottom: 1px solid rgba(0, 0, 0, 0.06)"></td>
          </tr>
          <tr style="height: 20px">
            <td></td>
            <td></td>
          </tr>
          <tr style="background-color: #cce9ff">
            <td style="padding: 10px; border-radius: 8px 0 0 8px">
              <span style="display: block; font-size: 16px; font-weight: 600"
                >Tổng thanh toán</span
              >
              <span>( Đã bao gồm 10% VAT)</span>
            </td>
            <td
              style="
                text-align: right;
                color: #ea3829;
                font-weight: 600;
                padding: 10px;
                border-radius: 0 8px 8px 0;
              "
            >
              {{ data.totalAmount.amount | number : '1.0-0' }} VND
            </td>
          </tr>
        </nz-table>
        <div class="mt-3">
          <button
            style="width: 100%"
            *ngIf="data?.statusCode == 5 && data.invoiceCode == ''"
            nz-button
          >
            <span nz-icon nzType="shop" nzTheme="outline"></span> Mua lại
          </button>
          <button
            *ngIf="data?.statusCode < 2"
            nz-button
            nzType="primary"
            style="
              width: 100%;
              display: flex;
              align-items: center;
              gap: 5px;
              justify-content: center;
            "
          >
            <img src="assets/imgs/wallet.svg" />
            Thanh toán
          </button>
          <button
            class="mt-3 ml-0"
            *ngIf="data?.statusCode < 2 && titleStepFour != 'Gặp sự cố'"
            nz-button
            style="width: 100%"
          >
            <span nz-icon nzType="shop" nzTheme="outline"></span>
            Hủy đơn hàng
          </button>

          <button
            class="mt-3"
            nz-button
            style="width: 100%; border: none"
            [routerLink]="'/app-smart-cloud/order/list'"
            *ngIf="
              (data?.statusCode != 4 && data?.statusCode < 2) ||
              (data?.statusCode === 5 && titleStepFour != 'Gặp sự cố')
            "
          >
            <span nz-icon nzType="left" nzTheme="outline"></span>
            Quay lại
          </button>
        </div>
      </div>
    </nz-card>
  </div>
</div>
