<page-header [breadcrumb]="breadcrumb" [action]="action" [title]="'Quản lý dự án'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a [routerLink]="['/']">Trang chủ</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/app-smart-cloud/ip-public']">Quản lý dự án</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="onRegionChange($event)"></region-select-dropdown>
    </div>
  </ng-template>
</page-header>

<nz-card class="text-label">
  <ng-container [ngSwitch]="isBegin">
    <ng-container *ngSwitchCase=false>
      <div style="margin-bottom: 20px">
        <span class="text-card-header">Danh sách dự án</span>
      </div>
      <div style="margin-bottom: 20px;" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }">
        <div class="text-right p-0 m-b-0" nz-col [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXl]="12" [nzXs]="24"
             [nzXXl]="12">
          <div style="display:flex;">
            <nz-select [(ngModel)]="selectedStatus" (ngModelChange)="search(null)" nzSize="large"
                       style="width: 170px; margin-right: 20px;">
              <nz-option *ngFor="let p of statusData" [nzValue]="p.value" [nzLabel]="p.name"></nz-option>
            </nz-select>
            <nz-input-group style="margin-right: 8px; width: 40%;border-radius: 8px" [nzPrefix]="suffixIconSearch"
                            nzSize="large">
              <input #searchBox (keyup.enter)="search(searchBox.value)" name="name" nz-input placeholder="Tìm kiếm theo tên"/>
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <img src="assets/imgs/search.svg" alt="" style="cursor: pointer" nz-tooltip="Tìm kiếm"
                   (click)="search(searchBox.value)"/>
            </ng-template>
          </div>
        </div>
        <div class="text-right p-0 m-b-0" nz-col [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXl]="12" [nzXs]="24"
             [nzXXl]="12">
          <button nz-button nzType="primary" (click)="createVpc()" nzSize="large">
            <img style="padding-right: 10px;" src="assets/imgs/add-circle.svg" alt=""/>
            <span class="button-text-primary">Tạo dự án</span>
          </button>
        </div>
      </div>
      <!-- Bảng-->
      <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="listOfData"
                [nzTotal]="total" [nzPageSize]="size" (nzPageSizeChange)="onPageSizeChange($event)"
                (nzPageIndexChange)="onPageIndexChange($event)" [nzLoading]="loading">
        <thead>
        <tr>
          <th>Tên VPC</th>
          <th>Ngày khởi tạo</th>
          <th>Ngày hết hạn</th>
          <th>Trạng thái</th>
          <th>Trạng thái tác vụ</th>
          <th>Loại dự án</th>
          <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of listOfData">
          <td (click)="viewDetail(item.id)" style="color: #0D67B0">{{item.displayName}}</td>
          <td (click)="viewDetail(item.id)">{{item.createDate | date : "dd/MM/YYYY"}}</td>
          <td (click)="viewDetail(item.id)">{{item.expireDate | date : "dd/MM/YYYY"}}</td>
          <td (click)="viewDetail(item.id)">{{item.resourceStatus}}</td>
          <td (click)="viewDetail(item.id)">{{item.serviceStatus}}</td>
          <td (click)="viewDetail(item.id)">{{item.type == 'VPC' ? 'dự án VPC' : 'dự án thường'}}</td>
<!--          <td *ngIf="item.serviceStatus === 'KHOITAO'" style="color: forestgreen">Đang hoạt động</td>-->
<!--          <td *ngIf="item.serviceStatus === 'TAMNGUNG'" style="color: red">{{item.SuspendType}}</td>-->
<!--          <td *ngIf="item.status === 0">-</td>-->
<!--          <td *ngIf="item.status === 2">IN-USE</td>-->
          <td>
            <div>
              <!----Chỉnh sửa----->
              <span style="color: #0066B3; margin-right: 10px;"
                    nz-tooltip
                    nzTooltipTitle="Chỉnh sửa" nzTooltipPlacement="bottom"
                    nz-icon
                    nzType="edit"
                    nzTheme="outline"
                    (click)="edit(item.id)"
                    ></span>
              <!----Xóa---->
              <span style="color: #0066B3"
                    nz-tooltip
                    nzTooltipTitle="Xóa" nzTooltipPlacement="bottom"
                    nz-icon nzType="delete" nzTheme="outline"
                    (click)="delete(item)"
              ></span>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <nz-result [nzIcon]="customIcon" [nzTitle]="titleCustom"
                 [nzSubTitle]="desCustom">
        <ng-template #titleCustom>
          <p class="text-intro-title">VPC</p>
          <p class="text-intro-title">Đám mây riêng ảo</p>
        </ng-template>
        <ng-template #desCustom>
          <p class="text-intro-desc">Dịch vụ đám mây riêng ảo (Virtual Private Cloud) - VPC cung cấp trọn gói hạ tầng tính toán,lưu tữ và network cho phép khách hàng tự thiết lập trung tâm dữ liệu ảo trên VNPT Cloud</p>
        </ng-template>
        <ng-template #customIcon>
          <img src="assets/imgs/VPC-init.png" alt="Custom Icon">
        </ng-template>
        <div nz-result-extra>
          <button (click)="createVpc()" nz-button nzSize="large" nzType="primary">
            <img style="padding-right: 10px;" src="assets/imgs/cloud-plus-bold.svg" alt=""/>Khởi tạo VPC</button>
        </div>
      </nz-result>
    </ng-container>
  </ng-container>
</nz-card>

<!--Xóa-->
<nz-modal [(nzVisible)]="isVisibleDelete" nzTitle="Xóa VPC" (nzOnCancel)="handleCancel()"
          (nzOnOk)="openIpDelete()" nzOkText="Đồng ý" [nzOkDisabled]="disableDelete"
          nzCancelText="Hủy" [nzStyle]="modalStyle">
  <ng-container *nzModalContent>
    <nz-alert class="ant-alert-warning-custom" nzType="warning"
              nzDescription="Bạn đang thực hiện xóa VPC [name VPC].Việc thực hiện xóa VPC đồng thời cũng sẽ xóa các dữ liệu bên trong VPC,
               có thể ảnh hưởng trực tiếp tới dịch vụ bên trong VPC. Hành động này không thể được hoàn tác"
              nzShowIcon style="margin-bottom: 10px;"></nz-alert>
    <div class="text-label" style="margin-bottom: 3px; margin-top: 10px">Để thực hiện xóa VPC, vui lòng nhập tên VPC để xác nhận.</div>
    <input nz-input nzSize="large" style="margin-left: -3px" placeholder="Basic usage" [(ngModel)]="nameDelete" (ngModelChange)="confirmNameDelete($event)" type="text" />
  </ng-container>
</nz-modal>

