<page-header [breadcrumb]="breadcrumb" [action]="action" [title]="'Quản lý dự án'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a [routerLink]="['/']">Trang chủ</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/app-smart-cloud/ip-public']">Quản lý dự án</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="onRegionChange($event)"></region-select-dropdown>
    </div>
  </ng-template>
</page-header>

<nz-card class="text-label">
  <ng-container [ngSwitch]="isBegin">
    <ng-container *ngSwitchCase=false>
      <div style="margin-bottom: 20px">
        <span class="text-card-header">Danh sách dự án</span>
      </div>
      <div style="margin-bottom: 20px;" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }">
        <div class="text-right p-0 m-b-0" nz-col [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXl]="12" [nzXs]="24"
             [nzXXl]="12">
          <div style="display:flex;">
            <nz-select [(ngModel)]="selectedStatus" (ngModelChange)="search(null)" nzSize="large"
                       style="width: 170px; margin-right: 20px;">
              <nz-option *ngFor="let p of statusData" [nzValue]="p.value" [nzLabel]="p.name"></nz-option>
            </nz-select>
            <nz-input-group style="margin-right: 8px; width: 40%;border-radius: 8px" [nzPrefix]="suffixIconSearch"
                            nzSize="large">
              <input #searchBox (keyup.enter)="search(searchBox.value)" name="name" nz-input
                     placeholder="Tìm kiếm theo tên" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <img src="assets/imgs/search.svg" alt="" style="cursor: pointer" nz-tooltip="Tìm kiếm"
                   (click)="search(searchBox.value)" />
            </ng-template>
          </div>
        </div>
        <div class="text-right p-0 m-b-0" nz-col [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXl]="12" [nzXs]="24"
             [nzXXl]="12">
          <button nz-button nzType="primary" (click)="createVpc()" nzSize="large">
            <img style="padding-right: 10px;" src="assets/imgs/add-circle.svg" alt="" />
            <span class="button-text-primary">Tạo dự án</span>
          </button>
        </div>
      </div>
      <!-- Bảng-->
      <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="listOfData"
                [nzTotal]="total" [nzPageSize]="size" (nzPageSizeChange)="onPageSizeChange($event)"
                (nzPageIndexChange)="onPageIndexChange($event)" [nzLoading]="loading">
        <thead>
        <tr>
          <th>Tên dự án</th>
          <th>Ngày khởi tạo</th>
          <th>Ngày hết hạn</th>
          <th>Trạng thái</th>
          <th>Trạng thái tác vụ</th>
          <th>Loại dự án</th>
          <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of listOfData">
          <td (click)="viewDetail(item.id)" style="color: #0D67B0">{{ item.displayName }}</td>
          <td (click)="viewDetail(item.id)">{{ item.createDate | date : "dd/MM/YYYY" }}</td>
          <td (click)="viewDetail(item.id)">{{ item.expireDate | date : "dd/MM/YYYY" }}</td>
          <td (click)="viewDetail(item.id)">{{ item.resourceStatus }}</td>
          <td (click)="viewDetail(item.id)">{{ item.serviceStatus }}</td>
          <td (click)="viewDetail(item.id)">{{ item.type == 'VPC' ? 'dự án VPC' : 'dự án thường' }}</td>
          <!--          <td *ngIf="item.serviceStatus === 'KHOITAO'" style="color: forestgreen">Đang hoạt động</td>-->
          <!--          <td *ngIf="item.serviceStatus === 'TAMNGUNG'" style="color: red">{{item.SuspendType}}</td>-->
          <!--          <td *ngIf="item.status === 0">-</td>-->
          <!--          <td *ngIf="item.status === 2">IN-USE</td>-->
          <td>
            <div>
              <!----Chỉnh sửa----->
              <span style="color: #0066B3; margin-right: 10px;"
                    nz-tooltip
                    nzTooltipTitle="Chỉnh sửa" nzTooltipPlacement="bottom"
                    nz-icon
                    nzType="edit"
                    nzTheme="outline"
                    (click)="edit(item)"
              ></span>
              <!----Xóa---->
              <span style="color: #0066B3"
                    nz-tooltip
                    nzTooltipTitle="Xóa" nzTooltipPlacement="bottom"
                    nz-icon nzType="delete" nzTheme="outline"
                    (click)="delete(item)"
              ></span>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <nz-result [nzIcon]="customIcon" [nzTitle]="titleCustom"
                 [nzSubTitle]="desCustom">
        <ng-template #titleCustom>
          <p class="text-intro-title">Quản lý dự án</p>
        </ng-template>
        <ng-template #desCustom>
          <p class="text-intro-desc" style="opacity: 0.5">Khách hàng có thể khởi tạo một dự án thường hoặc dự án VPC -
            cung cấp trọn gói hạ tầng tính toán, lưu trữ và network cho phép Khách hàng tự thiết lập trung tâm dữ liệu
            ảo hóa trên VNPT Cloud.</p>
        </ng-template>
        <ng-template #customIcon>
          <img src="assets/imgs/VPC-init.png" alt="Custom Icon">
        </ng-template>
        <div nz-result-extra>
          <button (click)="createVpc()" nz-button nzSize="large" nzType="primary" style="margin-bottom: 20px;">
            <img style="padding-right: 10px;" src="assets/imgs/cloud-plus-bold.svg" alt="" />Khởi tạo VPC
          </button>
          <p class="text-intro-desc" style="opacity: 0.5">Hoặc đọc thêm về quản lý dự án <a href="#" style="color: #0074cc;" (click)="redirectTo()">tại đây</a></p>
        </div>
      </nz-result>
    </ng-container>
  </ng-container>
</nz-card>

<!--Xóa VPC-->
<nz-modal [(nzVisible)]="isVisibleDeleteVPC" nzTitle="Xóa dự án VPC" (nzOnCancel)="handleCancel()"
          (nzOnOk)="openIpDelete()" nzOkText="Xác nhận " [nzOkDisabled]="disableDelete"
          nzCancelText="Hủy" [nzStyle]="modalStyle">
  <ng-container *nzModalContent>
    <nz-alert class="ant-alert-warning-custom" nzType="warning"
              nzDescription="Bạn đang thực hiện xoá dự án {{itemDelete.displayName}}.Hành động này không thể được hoàn tác"
              nzShowIcon style="margin-bottom: 10px;"></nz-alert>
    <div class="text-label" style="margin-bottom: 3px; margin-top: 10px">Đế thực hiện xoá dự án , vui lòng nhập tên dự án để
      xác nhận.
    </div>
    <input nz-input nzSize="large" style="margin-left: -3px" placeholder="{{itemDelete.displayName}}" [(ngModel)]="nameDelete"
           (ngModelChange)="confirmNameDelete($event)" type="text" />
  </ng-container>
</nz-modal>

<!--Xóa VPC-->
<nz-modal [(nzVisible)]="isVisibleDelete" nzTitle="Xóa dự án" (nzOnCancel)="handleCancel()"
          (nzOnOk)="openIpDelete()" nzOkText="Xác nhận " [nzOkDisabled]="disableDelete"
          nzCancelText="Hủy" [nzStyle]="modalStyle">
  <ng-container *nzModalContent>
    <nz-alert class="ant-alert-warning-custom" nzType="warning"
              nzDescription="Bạn đang thực hiện xoá dự án VPC  {{itemDelete.displayName}}.Việc thực hiện xoá dự án VPC  đồng thời cũng sẽ xóa các dữ liệu bên trong dự án VPC,
              có thể ảnh hưởng trực tiếp tới các dịch vụ bên trong dự án VPC.Hành động này không thể được hoàn tác"
              nzShowIcon style="margin-bottom: 10px;"></nz-alert>
    <div class="text-label" style="margin-bottom: 3px; margin-top: 35px">Đế thực hiện xoá dự án VPC, vui lòng nhập tên dự án VPC để
      xác nhận.
    </div>
    <input nz-input nzSize="large" style="margin-left: -3px" placeholder="{{itemDelete.displayName}}" [(ngModel)]="nameDelete"
           (ngModelChange)="confirmNameDelete($event)" type="text" />
  </ng-container>
</nz-modal>
<form nz-form [formGroup]="form" [nzLayout]="'vertical'">
  <!--Chỉnh normal-->
  <nz-modal [(nzVisible)]="isVisibleEditNormal" nzTitle="Chỉnh sửa dự án thường" (nzOnCancel)="handleCancel()"
            (nzOnOk)="updateVpc()" nzOkText="Xác nhận " [nzOkDisabled]="form.invalid"
            nzCancelText="Hủy" [nzStyle]="modalStyle">
    <ng-container *nzModalContent>
      <div class="text-label" style="margin-bottom: 10px;">
        Tên dự án(<span class="text-red">*</span>)<img style="margin-left: 5px;" nz-tooltip="Không bao gồm ký tự đặc biệt, dấu cách, tiếng Việt, tối đa 50 ký tự" src="assets/imgs/pajamas_question.svg" alt="" />
        <input nz-input placeholder="Nhập tên VPC" style="width: 100%"
               formControlName="name">
      </div>
      <div class="text-label">
        Mô tả
        <textarea maxlength="255" nz-input [nzAutosize]="{ minRows: 3 }" placeholder="Nhập mô tả" style="width: 100%"
                  formControlName="description"></textarea>
      </div>
    </ng-container>
  </nz-modal>
</form>


