<span style="color: #0066B3;"
      class="more"
      nz-icon nzType="edit"
      nzTheme="outline"
      nz-popover
      [nzPopoverContent]="'Chỉnh sửa'"
      nzPopoverPlacement="bottom"
      (click)="showModal()"></span>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Chỉnh sửa SubUser {{ idSubUser }}"
          (nzOnCancel)="handleCancel()" nzMark="false">
  <div *nzModalTitle>
    <span class="text-modal-title">Chỉnh sửa thông tin Volume</span>
  </div>
  <div *nzModalContent style="padding-top: 0; padding-bottom: 0">
    <form nz-form [formGroup]="validateForm"  nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzFor="nameFileSystem">
          <div style="margin-top: 15px;">
            <span>Quyền truy cập</span>
            (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
            <span nz-icon nzType="question-circle" nzTheme="outline"></span>
          </div>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips>
         <nz-select formControlName="access">
           <nz-option nzValue="full" nzLabel="Tất cả quyền truy cập"></nz-option>
           <nz-option nzValue="none" nzLabel="Không có quyền truy cập"></nz-option>
         </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div *nzModalFooter style="padding-left: 8px; padding-right: 8px;">
    <button nz-button nzType="default" (click)="handleCancel()" class="button-cancel">
      <span nz-icon nzType="close" nzTheme="outline"></span>Hủy
    </button>
    <button nz-button nzType="primary" [disabled]="!validateForm.valid"  (click)="handleOk()"
            [nzLoading]="isLoading"
            class="button-ok">
      <span nz-icon nzType="check" nzTheme="outline"></span>Xác nhận
    </button>
  </div>
</nz-modal>
