<nz-table #fixedTable
          style="margin-top: 20px;"
          nzShowPagination
          [nzData]="currentPageData || []"
          [nzFrontPagination]="false"
          [nzLoading]="isLoading"
          [nzTotal]="listListeners.length"
          [nzPageSize]="5"
          [nzPageIndex]="pageIndex"
          (nzPageSizeChange)="onPageSizeChange($event)"
          (nzPageIndexChange)="onPageIndexChange($event)">

  <thead>
  <tr>
    <th>Tên Listener</th>
    <th>Giao thức</th>
    <th>Port</th>
    <th>Trạng thái</th>
    <th>Trạng thái tác vụ</th>
    <th>Hoạt động</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of fixedTable.data">
    <td nzAlign="left">{{ data.name }}</td>
    <td nzAlign="left">{{ data.protocol }}</td>
    <td nzAlign="right">{{ data.port }}</td>
    <td nzAlign="left">
      <span *ngIf="data.status === 'KHOITAO'"
            style="color: #0066B3" class="text-label"><b>{{ listenerStatus.get(data.status) }}</b></span>
      <span *ngIf="data.status === 'ERROR'"
            style="color: #FF3333" class="text-label"><b>{{ listenerStatus.get(data.status) }}</b></span>
    </td>
    <td nzAlign="left">{{ data.provisioningStatus }}</td>
    <td>
      <img nz-popover src="assets/imgs/edit-2.svg"
           alt=""
           nzPopoverPlacement="bottom"
           style="cursor: pointer; margin-right: 16px"
           [nzPopoverContent]="'Chỉnh sửa'" [routerLink]="'/app-smart-cloud/load-balancer/'+ idLB +'/listener/update/' + data.id"/>
      <img src="assets/imgs/delete.svg" style="height: 20px; cursor: pointer;"
           nz-popover
           [nzPopoverContent]="'Xóa'"
           nzPopoverPlacement="bottom"/>
    </td>
  </tr>
  </tbody>
</nz-table>
