<page-header [breadcrumb]="breadcrumb" [action]="action" [title]="'app.service.create' | i18n ">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-kafka']">Kafka</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>

  <!-- action -->
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="onRegionChange($event)"></region-select-dropdown>
      <project-select-dropdown [regionId]="regionId" (valueChanged)="onProjectChange($event)"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>

<div nz-row [nzGutter]="16">
  <div nz-col [nzSpan]="16" class="form-new">
    <form nz-form [formGroup]="myform" nzLayout="horizontal" nzLabelAlign="left">
      
      <nz-card class="border-card">
        <h3>{{ 'app.service.general-info' | i18n }}</h3>
        <!-- <span nzType="secondary" style="color: #6C757D">Vui lòng hoàn thiện đầy đủ các thông tin vào form bên dưới. 
          Các trường thông tin có dấu (<span style="color: #ff4d4f;">*</span>) là các thông tin bắt buộc nhập.
        </span> -->
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="12">
            <nz-form-item class="mt-4">
              <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired>{{ 'app.kafka.name' | i18n }}</nz-form-label>
              <nz-form-control [nzErrorTip]="kafkaErrorTpl">
                <nz-input-group class="w-100" nzSize="large">
                  <input nz-input type="text" [placeholder]="'app.kafka.name-placeholder' | i18n" formControlName="serviceName" id="serviceName"
                    autofocus />
                </nz-input-group>
              </nz-form-control>
              <ng-template #kafkaErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  <div>{{ 'validation.service.name-required' | i18n }}</div>
                </ng-container>
                <ng-container *ngIf="control.hasError('minlength') || control.hasError('maxlength')">
                  <div>{{ 'validation.service.name-length' | i18n }}</div>
                </ng-container>
                <ng-container *ngIf="control.hasError('pattern')">
                  <div>{{ 'validation.service.name-pattern' | i18n }}</div>
                </ng-container>
              </ng-template>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="12">
            <nz-form-item class="mt-4">
              <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired>{{ 'app.kafka.version' | i18n}}</nz-form-label>
              <nz-form-control [nzErrorTip]="'validation.service.version-required' | i18n">
                <nz-select formControlName="version" *ngFor="let data of listOfKafkaVersion" [nzPlaceHolder]="'app.kafka.version-placeholder' | i18n" nzSize="large">
                  <nz-option [nzValue]="data.helmVersion" [nzLabel]="data.apacheKafkaVersion"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="24"> {{ 'app.service.description' | i18n }}</nz-form-label>
          <nz-form-control nzErrorTip="">
            <nz-textarea-count [nzMaxCharacterCount]="500">
              <textarea formControlName="description" nz-input [placeholder]="'app.service.description' | i18n" 
                [nzAutosize]="{ minRows: 5, maxRows: 12 }" nzSize="large">
              </textarea>
            </nz-textarea-count>
          </nz-form-control>
        </nz-form-item>
      </nz-card>
      
      <nz-card class="border-card">
        <h3><b>{{ 'app.service.packages-text' | i18n }}</b></h3>
        <nz-tabset nzCentered>
          <nz-tab [nzTitle]="'app.Preconfigured.Package' | i18n" (nzClick)="clicktab()">
            <ng-template nz-tab>
              <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="listOfServicePack" class="carousel-div">
                <div *nguCarouselDef="let item;" class="item">
                  <div class="pack-item" [ngClass]="{ 'choose': item===chooseitem}" (click)="handleChoosePack(item)">
                    <div class="item-header">
                      <div class="item-name">
                        <span>{{item.servicePackName}}</span>
                        <div class="item-price">
                          <div class="price">
                            <span>{{ item.price | number: '1.0-0' }}</span><br>
                            <span class="unit-price">đ/tháng</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item-body">
                      {{item.broker}} Broker - {{item.cpu}} VCPU / <br>
                      {{item.ram}}GB RAM / <br>
                      {{item.storage}}GB SDD
                    </div>
                  </div>
                </div>
                <ul class="myPoint" NguCarouselPoint>
                  <li *ngFor="let j of myCarousel.pointNumbers" [class.active]="j === myCarousel.activePoint" (click)="myCarousel.moveTo(j)"></li>
                </ul>
              </ngu-carousel>
            </ng-template>
          </nz-tab>
          
          <nz-tab [nzTitle]="'app.custom.configuration' | i18n">
            <div nz-row class="customize-config">
              <div nz-col [nzSpan]="5">
                <nz-form-item>
                  <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired>{{ 'app.kafka.broker' | i18n }}</nz-form-label>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="'validation.kafka.broker-required' | i18n">
                    <input nz-input type="number" formControlName="broker" id="broker" autofocus nzSize="large" />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div nz-col [nzSpan]="5">
                <nz-form-item>
                  <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired>vCPU</nz-form-label>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="('validation.kafka-required-1' | i18n) + ' VCPU ' + ('validation.kafka-required-2' | i18n)">
                    <input nz-input type="number" formControlName="vCpu" id="vCpu" autofocus nzSize="large" />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div nz-col [nzSpan]="5" class="config-suffix">
                <nz-form-item>
                  <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired>RAM</nz-form-label>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="('validation.kafka-required-1' | i18n) + ' Ram ' + ('validation.kafka-required-2' | i18n)">
                    <nz-input-group nzSuffix="(GB)" nzSize="large">
                      <input nz-input type="number" formControlName="ram" id="ram"
                          autofocus />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
  
              <div nz-col [nzSpan]="5" class="config-suffix">
                <nz-form-item>
                  <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired>Storage</nz-form-label>
                  <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="('validation.kafka-required-1' | i18n) + ' Storage ' + ('validation.kafka-required-2' | i18n)">
                    <nz-input-group nzSuffix="(GB)" nzSize="large">
                      <input nz-input type="number" formControlName="storage" id="storage"
                          autofocus />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
  
              
            </div>
          </nz-tab>
        </nz-tabset>
      </nz-card>
      
      <nz-card class="border-card">
        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label [nzXs]="24" [nzSm]="24" nzRequired>{{ 'app.service.duration' | i18n }}</nz-form-label>
              <nz-form-control [nzXs]="24" [nzSm]="24" [nzErrorTip]="'validation.kafka.duration-required' | i18n">
                  <input nz-input type="number" formControlName="usageTime" id="usageTime" 
                    [placeholder]="'app.service.duration-placeholder' | i18n" autofocus nzSize="large" (ngModelChange)="onChangeUsageTime()" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <div>
              <p style="padding-top: 30px; margin-bottom: 0px;">{{ 'app.service.start-date' | i18n }}: {{createDate | date: 'dd/MM/yyyy'}}</p>
              <ng-container *ngIf="expiryDate">
                <p style="color: #ea3829;">{{ 'app.service.expiration-date' | i18n }}: {{expiryDate | date: 'dd/MM/yyyy'}}</p>
              </ng-container>
            </div>
          </div>
        </div>
      </nz-card>

      <nz-card class="border-card">
        <h3><b>{{ 'app.service.broker-config' | i18n }}</b></h3>
        <nz-radio-group formControlName="configType" (ngModelChange)="onChangeConfig($event)" style="margin-bottom: 15px;">
          <label nz-radio [nzValue]="0" class="other-config" style="margin-right: 80px;">{{ 'app.service.default-config' | i18n}} <b>({{ 'app.service.recommend' | i18n}})</b></label>
          <label nz-radio [nzValue]="1" class="other-config">{{ 'app.service.custom-config' | i18n }}</label>
        </nz-radio-group>

        <ng-container *ngIf="showCustomConfig">
          <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="numPartitions" nzRequired>
                num.partitions
                <div class="info-icon" 
                    [nzTooltipTitle]="'tooltip.kafka.numPartitions' | i18n" nzTooltipPlacement="rightTop" nz-tooltip>
                    <span nz-icon nzType="info-circle" nzTheme="fill"></span>
                </div>
            </nz-form-label>
            <nz-form-control [nzErrorTip]="numPartitionsErrorTpl">
                <input type="number" nz-input [placeholder]="('app.service.custom-config-placeholder' | i18n) + ' num.partitions' " 
                    formControlName="numPartitions" (keypress)="isNumber($event)" 
                    id="numPartitions"  />
            </nz-form-control>
            <ng-template #numPartitionsErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    {{ 'validation.kafka-required-1' | i18n }} num.partitions {{ 'validation.kafka-required-2' | i18n }}
                </ng-container>
                <ng-container *ngIf="control.hasError('min') || control.hasError('max')">
                    {{ 'validation.kafka.numPartitions-length' | i18n }}
                </ng-container>
            </ng-template>
          </nz-form-item>

          <nz-form-item>
              <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="defaultReplicationFactor" nzRequired>
                  default.replication.factor
                  <div class="info-icon" 
                      [nzTooltipTitle]="'tooltip.kafka.replicationFactor' | i18n" nzTooltipPlacement="rightTop" nz-tooltip>
                      <span nz-icon nzType="info-circle" nzTheme="fill"></span>
                  </div>
              </nz-form-label>
              <nz-form-control [nzErrorTip]="defaultReplicationFactorTpl">
                  <input type="number" nz-input [placeholder]="('app.service.custom-config-placeholder' | i18n) + ' default.replication.factor' "
                      formControlName="defaultReplicationFactor" (keypress)="isNumber($event)" 
                      id="defaultReplicationFactor" (ngModelChange)="onChangeDefaultReplicationFactor();" />
              </nz-form-control>
              <ng-template #defaultReplicationFactorTpl let-control>
                  <ng-container *ngIf="control.hasError('invalidvalue')">
                    {{ 'validation.kafka.replicationFactor-invalid' | i18n }}
                  </ng-container>
                  <ng-container *ngIf="control.hasError('required')">
                    {{ 'validation.kafka-required-1' | i18n }} default.replication.factor {{ 'validation.kafka-required-2' | i18n }}
                  </ng-container>
                  <ng-container *ngIf="control.hasError('min') || control.hasError('max')">
                    {{ 'validation.kafka.replicationFactor-length' | i18n }}
                  </ng-container>
              </ng-template>
          </nz-form-item>

          <nz-form-item>
              <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="minInsyncReplicas" nzRequired>
                  min.insync.replicas
                  <div class="info-icon" 
                    [nzTooltipTitle]="'tooltip.kafka.minInsyncReplicas' | i18n" nzTooltipPlacement="rightTop" nz-tooltip>
                    <span nz-icon nzType="info-circle" nzTheme="fill"></span>
                  </div>
              </nz-form-label>
              <nz-form-control [nzErrorTip]="minInsyncReplicasTpl">
                  <input type="number" nz-input [placeholder]="('app.service.custom-config-placeholder' | i18n) + ' min.insync.replicas' "
                      formControlName="minInsyncReplicas" (keypress)="isNumber($event)" 
                      id="minInsyncReplicas" (ngModelChange)="onChangeReplicationFactorAndMinInsync()" />
              </nz-form-control>
              <ng-template #minInsyncReplicasTpl let-control>
                  <ng-container *ngIf="control.hasError('invalidvalue')">
                    {{ 'validation.kafka.minInsyncReplicas-invalid' | i18n }}
                  </ng-container>
                  <ng-container *ngIf="control.hasError('required')">
                    {{ 'validation.kafka-required-1' | i18n }} min.insync.replicas {{ 'validation.kafka-required-2' | i18n }}
                  </ng-container>
                  <ng-container *ngIf="control.hasError('min') || control.hasError('max')">
                    {{ 'validation.kafka.minInsyncReplicas-length' | i18n }}
                  </ng-container>
              </ng-template>
          </nz-form-item>

          <nz-form-item>
              <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="offsetTopicReplicationFactor" nzRequired>
                  offset.topic.replication.factor
                  <div class="info-icon" 
                      [nzTooltipTitle]="'tooltip.kafka.offsetTopicReplica' | i18n" nzTooltipPlacement="rightTop" nz-tooltip>
                      <span nz-icon nzType="info-circle" nzTheme="fill"></span>
                  </div>
              </nz-form-label>
              <nz-form-control [nzErrorTip]="offsetTopicReplicationFactorTpl">
                  <input type="number" nz-input [placeholder]="('app.service.custom-config-placeholder' | i18n) + ' offset.topic.replication.factor' " 
                      formControlName="offsetTopicReplicationFactor" (keypress)="isNumber($event)" id="offsetTopicReplicationFactor" />
              </nz-form-control>
              <ng-template #offsetTopicReplicationFactorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    {{ 'validation.kafka-required-1' | i18n }} offset.topic.replication.factor {{ 'validation.kafka-required-2' | i18n }}
                  </ng-container>
                  <ng-container *ngIf="control.hasError('min') || control.hasError('max')">
                    {{ 'validation.kafka.offsetTopicReplica-length' | i18n }}
                  </ng-container>
              </ng-template>
          </nz-form-item>

          <nz-form-item>
              <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="logRetentionHours" nzRequired>
                  log.retention.hours
                  <div class="info-icon" 
                    [nzTooltipTitle]="'tooltip.kafka.logRetentionHours' | i18n" nzTooltipPlacement="rightTop" nz-tooltip>
                    <span nz-icon nzType="info-circle" nzTheme="fill"></span>
                  </div>
              </nz-form-label>
              <nz-form-control [nzErrorTip]="logRetentionHoursTpl">
                  <input type="number" nz-input [placeholder]="('app.service.custom-config-placeholder' | i18n) + ' log.retention.hours' " 
                      formControlName="logRetentionHours" id="logRetentionHours" />
                      <!-- (keypress)="isNumberInt($event)" -->
              </nz-form-control>
              <ng-template #logRetentionHoursTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    {{ 'validation.kafka-required-1' | i18n }} log.retention.hours {{ 'validation.kafka-required-2' | i18n }}
                  </ng-container>
                  <ng-container *ngIf="control.hasError('min') || control.hasError('max')">
                    {{ 'validation.kafka.logRetentionHours-length' | i18n }}
                  </ng-container>
              </ng-template>
          </nz-form-item>

          <nz-form-item>
              <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="logSegmentBytes" nzRequired>
                  log.segment.bytes
                  <div class="info-icon" 
                    [nzTooltipTitle]="'tooltip.kafka.logSegmentBytes' | i18n" nzTooltipPlacement="rightTop" nz-tooltip>
                    <span nz-icon nzType="info-circle" nzTheme="fill"></span>
                  </div>
              </nz-form-label>
              <nz-form-control [nzErrorTip]="logSegmentBytesTpl">
                  <input type="number" nz-input [placeholder]="('app.service.custom-config-placeholder' | i18n) + ' log.segment.bytes' " 
                      formControlName="logSegmentBytes" (keypress)="isNumber($event)" id="logSegmentBytes" />
              </nz-form-control>
              <ng-template #logSegmentBytesTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    {{ 'validation.kafka-required-1' | i18n }} log.segment.bytes {{ 'validation.kafka-required-2' | i18n }}
                  </ng-container>
                  <ng-container *ngIf="control.hasError('min') || control.hasError('max')">
                    {{ 'validation.kafka.logSegmentBytes-length' | i18n }}
                  </ng-container>
              </ng-template>
          </nz-form-item>
        </ng-container>
      </nz-card>

    </form>
  </div>

  <!-- payment -->
  <div nz-col [nzSpan]="8" class="gutter-row">
    <nz-card class="price-card">
      <h3><b>{{ 'app.service.price-title' | i18n }}</b></h3>
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div class="label-price"> {{ 'app.kafka.cost-cpu' | i18n }}</div>
          <!-- <div class="label-quantity">{{pricePerCpu | number: '1.0-0'}} đồng x {{cpu}} vCPU</div> -->
        </div>
        <div nz-col [nzSpan]="12">
          <div class="value-price">{{ pricePerCpu * cpu | number: '1.0-0'}} VNĐ</div>
          <div class="unit-total">VNĐ/tháng</div>
        </div>
      </div>
      <nz-divider class="divider-style"></nz-divider>
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div class="label-price"> {{ 'app.kafka.cost-ram' | i18n }} </div>
          <!-- <div class="label-quantity">{{pricePerRam | number: '1.0-0'}} đồng x {{ram}} GB</div> -->
        </div>
        <div nz-col [nzSpan]="12">
          <div class="value-price">{{ pricePerRam * ram | number: '1.0-0'}} VNĐ</div>
          <div class="unit-total">VNĐ/tháng</div>
        </div>
      </div>
      <nz-divider class="divider-style"></nz-divider>
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div class="label-price"> {{ 'app.kafka.cost-storage' | i18n }}</div>
          <!-- <div class="label-quantity">{{pricePerStorage | number: '1.0-0'}} đồng x {{storage}} GB</div> -->
        </div>
        <div nz-col [nzSpan]="12">
          <div class="value-price">{{ pricePerStorage * storage | number: '1.0-0'}} VNĐ</div>
          <div class="unit-total">VNĐ/tháng</div>
        </div>
      </div>
      <nz-divider class="divider-style"></nz-divider>
      <!-- <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="12">
              <div class="label-price" style="margin-bottom: 10px;">Thời gian sử dụng</div>
              <div class="label-quantity">- Ngày bắt đầu:</div>
              <div class="label-quantity">- Ngày hết hạn:</div>
          </div>
          <div nz-col [nzSpan]="12">
              <div class="value-usage-time" style="margin-bottom: 10px;">{{ usageTime }} tháng</div>
              <div class="unit-total" style="margin-bottom: 12px;">{{ createDate | date : 'dd/MM/yyyy' }}</div>
              <div class="unit-total">{{ expiryDate | date : 'dd/MM/yyyy' }}</div>
          </div>
      </div>
      <nz-divider class="divider-style"></nz-divider> -->

      <div nz-row [nzGutter]="8" class="mt-5 price-panel">
        <div nz-col [nzSpan]="12">
          <div class="label-price">{{ 'app.service.price-title' | i18n }}</div>
          <div class="label-quantity"><i>({{ 'app.service.include' | i18n }} 10% VAT)</i></div>
        </div>
        <div nz-col [nzSpan]="12">
          <div class="value-price total-price">{{ (pricePerCpu * cpu + pricePerRam * ram + pricePerStorage * storage) * usageTime * 1.1 | number: '1.0-0'}} VNĐ</div>
          <div class="unit-total">VNĐ/tháng</div>
        </div>
      </div>

      <div nz-row class="mt-5" [nzGutter]="16" nzJustify="center">
        <div nz-col [nzSpan]="12">
          <button nz-button nzType="default" nzBlock class="border-button" (click)="onCancelCreate()">
            <span nz-icon nzType="close" nzTheme="outline"></span>
            <b> {{ 'app.button.cancel' | i18n }}</b>
          </button>
        </div>

        <div nz-col [nzSpan]="12">
          <button nz-button nzType="primary" nzBlock class="border-button" (click)="onSubmitPayment()"
            [disabled]="myform.invalid">
            <b>{{ 'app.button.create' | i18n }}</b>
          </button>
        </div>
      </div>

      <!-- Modal cancle create -->
        <nz-modal
          [(nzVisible)]="isVisibleCancle"
          [nzTitle]="'app.kafka.create.cancel-title' | i18n"
          (nzOnCancel)="handleCancelPopup()"
          nzKeyboard="false"
          nzMaskClosable="false"
        >
        <div *nzModalContent>
          <div style="text-align: center; font-size: 16px;">{{ 'app.kafka.create.cancel-body' | i18n }} <br>
            <i>{{ 'app.kafka.create.note' | i18n }} </i>
          </div>
        </div>
        <div *nzModalFooter>
          <button nz-button (click)="handleCancelPopup()" style="margin-right: 10px;">
              <img
                  style="padding-right: 10px; margin-top: -4px"
                  src="assets/imgs/cancel.svg"
                  alt=""
              />{{ 'app.button.cancel' | i18n }}
          </button>
          <button nz-button nzType="primary" (click)="handleOkCancle()">
              <img
                  style="padding-right: 10px; margin-top: -4px"
                  src="assets/imgs/confirm.svg"
                  alt=""
              />{{ 'app.button.confirm' | i18n }}
          </button>
        </div>  
      </nz-modal>
    </nz-card>
  </div>
</div>