<page-header [breadcrumb]="breadcrumb"
             [action]="action"
             [title]="'Xem chi tiết Network'" xmlns="http://www.w3.org/1999/html">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Trang chủ</nz-breadcrumb-item>
      <nz-breadcrumb-item>VLAN</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/vlan/network/list">Danh sách Network</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Chi tiết Network</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               (userChanged)="userChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <nz-card>
    <nz-tabset>
      <nz-tab nzTitle="Subnet">
        <one-portal-detail-subnet [region]="region" [project]="project" [idNetwork]="idNetwork" />
      </nz-tab>
      <nz-tab *ngIf="networkName.includes('pri_network')" nzTitle="Port" [nzDisabled]="true">
        <one-portal-detail-port [region]="region" [project]="project" [idNetwork]="idNetwork" />
      </nz-tab>
      <nz-tab *ngIf="!networkName.includes('pri_network')" nzTitle="Port">
        <one-portal-detail-port [region]="region" [project]="project" [idNetwork]="idNetwork" />
      </nz-tab>
    </nz-tabset>
  </nz-card>
</nz-content>
