<page-header [breadcrumb]="breadcrumb"
             [action]="action"
             title="{{ 'app.vlan.note65' | i18n }} {{networkName}}" xmlns="http://www.w3.org/1999/html">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>{{ 'app.breadcrumb.home' | i18n }}</nz-breadcrumb-item>
      <nz-breadcrumb-item>VLAN</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/vlan/network/list">{{ 'app.vlan.note1' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ 'app.vlan.note65' | i18n }} </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               (userChanged)="userChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <nz-card>
    <nz-tabset>
      <nz-tab [nzTitle]="titleSubnet">
        <one-portal-detail-subnet [region]="region" [project]="project" [idNetwork]="idNetwork" />
        <ng-template #titleSubnet>
          <span class="text-label">Subnet</span>
        </ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="titlePort">
        <one-portal-detail-port [region]="region" [project]="project" [idNetwork]="idNetwork" />
        <ng-template #titlePort>
          <span class="text-label">Port</span>
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</nz-content>
