<page-header [extra]="extra" [content]="content" [breadcrumb]="breadcrumb" [action]="action"
  [title]="'app.payment.title' | i18n">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>{{"app.breadcrumb.home" | i18n}}</nz-breadcrumb-item>
      <nz-breadcrumb-item> <a [routerLink]="['/app-smart-cloud/billing/payments']">Billing</a> </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{"app.payment.payment" | i18n}}
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)" [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
  <ng-template #content>
    <nz-space [nzSize]="24">
      <div *nzSpaceItem>
        <nz-select [(ngModel)]="selectedValue" (ngModelChange)="onChange($event)"
          [nzPlaceHolder]="'app.payment.status' | i18n" style="width: 150px" class="input-select-custom">
          <nz-option *ngFor="let item of status" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
        </nz-select>
      </div>
      <div *nzSpaceItem>
        <nz-range-picker class="input-date-picker" [(ngModel)]="dateRange" (ngModelChange)="onDateRangeChange($event)"
          [nzDisabledDate]="disabledDate" [nzFormat]="dateFormat"></nz-range-picker>
      </div>
      <div *nzSpaceItem>
        <nz-input-group style="width: 380px;" nzSearch [nzPrefix]="prefixIconSearch">
          <input [(ngModel)]="value" (input)="onInputChange($event.target['value'])" type="text" nz-input 
            [placeholder]="'app.payment.searchPlaceHolder' | i18n" />
        </nz-input-group>
        <ng-template #prefixIconSearch>
          <img src="assets/imgs/search.svg" alt="" style="cursor: pointer" nz-tooltip="Tìm kiếm" />
        </ng-template>
      </div>
    </nz-space>
  </ng-template>
  <ng-template #extra>
    <button class="d-flex align-items-center gap-3" nz-button nzSize="default" style="cursor: pointer; margin-left: 5px"
      (click)="downloadMany()" [disabled]="!downloadList.length">
      <img
        [ngStyle]="{'filter': !downloadList.length ? 'invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%)' : ''}"
        alt="" src="assets/imgs/download.svg" />
      <span>{{"app.payment.download" | i18n}}</span>
    </button>
  </ng-template>
</page-header>
<nz-content>
  <nz-card>
    <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="response?.records" [nzPageIndex]="response?.currentPage"
      [nzTotal]="response?.totalCount" (nzQueryParams)="onQueryParamsChange($event)" [nzLoading]="isLoading"
      [nzFrontPagination]="false" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
      <thead>
        <tr>
          <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)" nzLeft>
          </th>
          <th nzLeft>{{"app.payment.paymentCode" | i18n}}</th>
          <th>{{"app.payment.orderCode" | i18n}}</th>
          <th>{{"app.payment.totalPrice" | i18n}}</th>
          <th>{{"app.payment.createDate" | i18n}}</th>
          <th>{{"app.payment.status" | i18n}}</th>
          <th>{{"app.payment.downloadInvoice" | i18n}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)" nzLeft></td>
          <td nzLeft><a (click)="getPaymentDetail(data)">{{data.paymentNumber}}</a></td>
          <td nzBreakWord><a (click)="getOrderDetail(data.orderNumber)">{{data.orderNumber}}</a></td>
          <td nzBreakWord>{{data.amount | number}}</td>
          <td nzBreakWord>{{data.createdDate | date: 'dd/MM/yyyy'}}</td>
          <td *ngIf="data.paymentLatestStatus === 'PAID'" class="paid" nzBreakWord>
            {{"app.payment.status.paid" | i18n}}
          </td>
          <td *ngIf="data.paymentLatestStatus != 'PAID'" class="not" nzBreakWord>
            {{"app.payment.status.unpaid" | i18n}}
          </td>
          <td *ngIf="data.paymentLatestStatus === 'PAID'" (click)="serviceDownload(data.invoiceIssuedId)"
            style="cursor: pointer; text-align: center;" nzBreakWord>
            <img alt="" src="assets/imgs/download.svg" />
          </td>
          <td *ngIf="data.paymentLatestStatus != 'PAID'" class="unpaid" nzBreakWord>
            <img
              style="filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);"
              alt="" src="assets/imgs/download.svg" />
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</nz-content>