<page-header [breadcrumb]="breadcrumb" [action]="action" [title]="'Tạo IP Public'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a [routerLink]="['/']">Trang chủ</a></nz-breadcrumb-item>
      <nz-breadcrumb-item> <a [routerLink]="['/app-smart-cloud/ip-public']">Ip Public</a></nz-breadcrumb-item>
      <nz-breadcrumb-item> Tạo Ip Public</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="onRegionChange($event)"></region-select-dropdown>
      <project-select-dropdown [regionId]="regionId" (valueChanged)="projectChange($event)"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<form nz-form [formGroup]="form">
  <nz-row nzGutter="24">
    <nz-col nzSpan="16">
      <nz-card nzTitle="Thông tin IP Pulbic" style="border-radius: 8px;">
        <div nz-row class="mb-md">
<!--          <div class="custom-styling">-->
<!--              <span class="mt-2 mb-2 ml-3 mr-1" nz-icon nzType="info-circle" nzTheme="fill" style="color: orangered"></span>-->
<!--              Host name không thay đổi khi điều chỉnh tên máy ảo-->
<!--          </div>-->
          <div nz-col nzSpan="11">
            <nz-form-label nzRequired>Dải IP</nz-form-label>
            <nz-input-group nzCompact>
              <nz-select [nzLoading]="loadingIp" [nzDisabled]="disableIp" style="width: 100%" nzPlaceHolder="--Chọn dải IP--" formControlName="ipSubnet" (nzOpenChange)="caculator()">
                <nz-option *ngFor="let i of listIpSubnet" [nzLabel]="i.displayName" [nzValue]="i.networkId"/>
              </nz-select>
            </nz-input-group>
            <div style="margin-top: 20px;" *ngIf="checkIpv6 !== null">
              <nz-form-item>
                <label nz-checkbox [(ngModel)]="checkIpv6" [ngModelOptions]="{ standalone: true }" (ngModelChange)="caculator()">IPv6</label>
              </nz-form-item>
            </div>
            <nz-form-label nzRequired>Thời gian sử dụng (Tháng)</nz-form-label>
            <nz-input-group nzCompact>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="--Chọn thời gian sử dụng--"
                         style="width: 100%"
                         formControlName="numOfMonth" (nzOpenChange)="caculator()">
                <nz-option nzValue="1" nzLabel="1"></nz-option>
                <nz-option nzValue="3" nzLabel="3"></nz-option>
                <nz-option nzValue="6" nzLabel="6"></nz-option>
                <nz-option nzValue="9" nzLabel="9"></nz-option>
                <nz-option nzValue="12" nzLabel="12"></nz-option>
              </nz-select>
            </nz-input-group>
          </div>
          <div nz-col nzSpan="12" style="margin-left: 15px">
            <nz-form-label>Máy ảo</nz-form-label>
            <nz-input-group nzCompact>
              <nz-select [nzLoading]="loadingInstanse" [nzDisabled]="disableInstanse" [nzAllowClear]="true" formControlName="instanceSelected" style="width: 96%" nzPlaceHolder="--Chọn máy ảo--" (nzOpenChange)="caculator()">
                <nz-option *ngFor="let i of listInstance" [nzLabel]="i.name" [nzValue]="i.id"/>
              </nz-select>
            </nz-input-group>
            <p style="margin-top: 102px">Thời gian bắt đầu sử dụng: {{dateString | date:'dd/MM/yyyy'}}</p>
          </div>
        </div>
      </nz-card>
    </nz-col>
    <nz-col nzSpan="8">
      <nz-card [nzTitle]="title" style="border-color: #B2DEFF; border-radius: 8px;">
        <ng-template #title>
          <h2>Thành tiền</h2>
        </ng-template>
        <nz-table>
          <tr>
            <td>Chi phí IP Public</td>
            <td  style="color: #0066B3;" nzAlign="right">
              <b *ngIf="total != undefined">{{total.data.totalAmount.amount.toLocaleString()}} VNĐ</b>
            </td>
          </tr>
          <tr>
            <td><i>({{this.form.controls['numOfMonth'].value || 0}} tháng)</i></td>
            <td nzAlign="right">VNĐ/tháng</td>
          </tr>
          <tr>
            <td>Thành tiền</td>
            <td nzAlign="right" style="color: #EA3829;">
              <b *ngIf="total != undefined">{{total.data.totalPayment.amount.toLocaleString()}} VNĐ</b>
            </td>
          </tr>
          <tr>
            <td><i>(Đã bao gồm 10% VAT)</i></td>
            <td nzAlign="right">VNĐ/tháng</td>
          </tr>
        </nz-table>
        <button class="button-cancel" nz-button nzSize="large" nzType="default" (click)="backToList()"><span class="button-text-default">Hủy</span></button>
        <button class="button-create" nz-button nzSize="large" nzType="primary" (click)="createIpPublic()" [disabled]="form.invalid">
          <span nz-icon nzType="wallet" nzTheme="outline"></span>
          <span class="button-text-primary" style="color: {{form.invalid ? 'gray' : 'white'}}">Tạo mới</span>
        </button>
      </nz-card>
    </nz-col>
  </nz-row>


</form>



