<page-header [breadcrumb]="breadcrumb" [action]="action" [title]="'Tạo IP Public'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a [routerLink]="['/']">Trang chủ</a></nz-breadcrumb-item>
      <nz-breadcrumb-item> <a [routerLink]="['/app-smart-cloud/ip-public']">Ip Public</a></nz-breadcrumb-item>
      <nz-breadcrumb-item> Tạo Ip Public</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="onRegionChange($event)"></region-select-dropdown>
      <project-select-dropdown [regionId]="regionId" (userChanged)="projectChange($event)"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<form nz-form [formGroup]="form">
  <nz-row nzGutter="24">
    <nz-col nzSpan="16">
      <nz-card class="text-label" nzTitle="" style="border-radius: 8px;">
        <span class="text-card-header">Thông tin IP Pulbic</span>
        <div nz-row class="mb-md pt-5">
          <div nz-col nzSpan="11">
            <nz-form-label nzRequired>Dải IP</nz-form-label>
            <nz-input-group nzCompact>
              <nz-select nzSize="large" [nzLoading]="loadingIp" [nzDisabled]="disableIp" style="width: 100%;border-radius: 10px;" nzPlaceHolder="--Chọn dải IP--" formControlName="ipSubnet" (nzOpenChange)="caculator(null)">
                <nz-option *ngFor="let i of listIpSubnet" [nzLabel]="i.displayName" [nzValue]="i.networkId"/>
              </nz-select>
            </nz-input-group>
          </div>
          <div nz-col nzSpan="12" style="margin-left: 15px">
            <nz-form-label>Máy ảo</nz-form-label>
            <nz-input-group nzCompact>
              <nz-select [nzLoading]="loadingInstanse" nzSize="large" [nzDisabled]="disableInstanse" [nzAllowClear]="true" formControlName="instanceSelected" style="width: 96%" nzPlaceHolder="--Chọn máy ảo--" (nzOpenChange)="caculator(null)">
                <nz-option *ngFor="let i of listInstance" [nzLabel]="i.name" [nzValue]="i.id"/>
              </nz-select>
            </nz-input-group>
          </div>
        </div>
        <div style="margin-top: 20px;" *ngIf="checkIpv6 !== null">
          <nz-form-item>
            <label nz-checkbox [(ngModel)]="checkIpv6" [ngModelOptions]="{ standalone: true }" (ngModelChange)="caculator(null)">IPv6</label>
          </nz-form-item>
        </div>
        <div nz-row class="mb-md pt-5">
          <div nz-col nzSpan="11">
            <nz-form-label nzRequired>Thời gian sử dụng (Tháng)</nz-form-label>
            <nz-form-item>
              <nz-form-control nzDisableAutoTips [nzErrorTip]="dateErrorTpl">
                <nz-input-number
                  style="width:100%;"
                  formControlName="numOfMonth"
                  (ngModelChange)="caculator($event)"
                  nzMin="1"
                  nzMax="100"
                  nzStep="1"
                  nzSize="large"/>
                <ng-template #dateErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">Vui lòng nhập số lớn hơn 0 và nhỏ hơn 100</ng-container>
                  <ng-container *ngIf="control.hasError('max')">Vui lòng nhập số lớn hơn 0 và nhỏ hơn 100</ng-container>
                  <ng-container *ngIf="control.hasError('min')">Vui lòng nhập số lớn hơn 0 và nhỏ hơn 100</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12" style="margin-left: 15px">
            <p  style="margin-top: 39px;">Thời gian bắt đầu sử dụng: {{dateString | date:'dd/MM/yyyy'}}</p>
          </div>
        </div>
      </nz-card>
    </nz-col>






    <nz-col nzSpan="8">
      <nz-card style="border-radius: 8px;" [nzLoading]="loadingCalculate">
        <h2 class="text-card-header">Thành tiền</h2>
        <nz-table>
          <tr class="text-label">
            <td>Chi phí IP Public</td>
            <td style="color: #0066B3;" nzAlign="right">
              <b>{{totalAmount || 0}} VNĐ</b>
            </td>
          </tr>
          <tr class="text-label">
            <td><i>({{this.form.controls['numOfMonth'].value || 0}} tháng)</i></td>
            <td nzAlign="right">VNĐ/tháng</td>
          </tr>
          <tr class="text-label">
            <td>Thành tiền</td>
            <td nzAlign="right" style="color: #EA3829;">
              <b>{{totalPayment || 0}} VNĐ</b>
            </td>
          </tr>
          <tr class="text-label">
            <td><i>(Đã bao gồm 10% VAT)</i></td>
            <td nzAlign="right">VNĐ/tháng</td>
          </tr>
        </nz-table>
          <button class="button-cancel" nz-button nzSize="large" nzType="default" (click)="backToList()">
            <span nz-icon nzType="close" nzTheme="outline"></span>
            <span>Hủy</span>
          </button>
          <button class="button-create" nz-button nzSize="large" nzType="primary" (click)="createIpPublic()" [disabled]="form.invalid">
            <span nz-icon nzType="wallet" nzTheme="outline"></span>
            <span style="color: {{form.invalid ? 'gray' : 'white'}}">Thanh toán</span>
          </button>
<!--        <button nz-button nzType="default" (click)="backToList()">Quay lại</button>-->
<!--        <button nz-button nzType="primary" (click)="createIpPublic()" [disabled]="form.invalid"> <span nz-icon nzType="wallet" nzTheme="outline"></span>Tạo IP Public</button>-->
      </nz-card>
    </nz-col>
  </nz-row>


</form>





