<page-header [breadcrumb]="breadcrumb" [action]="action">
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="iconTemplate">
      <nz-breadcrumb-item>
        <a routerLink="/">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.breadcrumb.infrastructure.service' | i18n }}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/cloud-backup">Cloud Backup</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #iconTemplate>
      <one-portal-svg-icon [icon]="'icon_breadcrumb'"></one-portal-svg-icon>
    </ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (regionChange)="onRegionChanged($event)"
                              (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown #projectCombobox (valueChanged)="projectChanged($event)"
                               (userChanged)="projectChanged($event)"
                               [regionId]="region"
                               [isFirstVisit]="isFirstVisit"
                               [disabledProject]="isLoading"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>

<ng-container *ngIf="isLoaded" [ngSwitch]="isBegin">
  <ng-container *ngSwitchCase="false">
    <nz-tabset>
      <nz-tab nzTitle="Cloud Backup">
        <app-cloud-backup-info [data]="cloudBackup"></app-cloud-backup-info>
      </nz-tab>
      <nz-tab nzTitle="Access rule">
        <app-access-rule-list></app-access-rule-list>
      </nz-tab>
    </nz-tabset>
  </ng-container>
  <ng-container *ngSwitchCase="true">
    <nz-card>
      <result>
        <nz-row>
          <nz-col class="text-center" style="width: 100%">
            <img src="/assets/imgs/cloud-backup.png" alt="" />
          </nz-col>
        </nz-row>
        <nz-row style="margin-top: 20px">
          <nz-col class="text-center" style="width: 100%">
            <span class="text-intro-title" style="color: #0066b3">{{ 'cloud-backup.intro.title1' | i18n }}</span>
          </nz-col>
        </nz-row>
        <nz-row style="margin-top: 20px">
          <nz-col class="text-center" style="width: 100%">
            <span class="text-intro-desc">{{ 'cloud-backup.intro.title2' | i18n }}</span>
          </nz-col>
          <nz-col class="text-center" style="width: 100%">
            <span class="text-intro-desc">{{ 'cloud-backup.intro.subtitle' | i18n }}</span>
          </nz-col>
        </nz-row>
        <button style="margin-top: 20px" nz-button [nzType]="'primary'" (click)="navigateToCreateCloudBackup()"
                nzSize="large">
          <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/cloud-plus-bold.svg" alt="" />
          {{ 'app.button.create' | i18n }} Cloud Backup
        </button>
      </result>
    </nz-card>
  </ng-container>
</ng-container> 