<one-portal-header
  [title]="'app.breadcrumb.edit-policy' | i18n"
  [path]="['app.breadcrumb.home' | i18n, 'IAM', 'Policies', 'app.breadcrumb.edit-policy' | i18n ]"
  [regionId]="region"
  (onProjectChanged)="projectChanged($event)" (onRegionChanged)="regionChanged($event)"
/>
<nz-spin nzTip="Loading..." [nzSpinning]="isLoadding">
  <nz-content>
    <nz-card>
      <div nz-row class="mb-md">
        <div nz-col nzSpan="18">
          <h3>Policy editor</h3>
          <p style="color: #888;">{{'app.edit-policy.des' | i18n}}</p>
        </div>
        <div nz-col nzSpan="6">
          <div class="text-right" style="display: flex;align-items: center;justify-content: flex-end;height: 100%;">
            <button (click)="visualOption(true)" nz-button [nzType]="isVisual?'primary':'default'">Visual
            </button>
            <button (click)="visualOption(false)" nz-button [nzType]="!isVisual?'primary':'default'">Json
            </button>
          </div>
        </div>
      </div>
    </nz-card>

    <nz-card *ngFor="let panel of panels">
      <nz-collapse nzBordered="false">
        <nz-collapse-panel
          [nzHeader]="panel.name==null?('app.create-policy.chooseService' | i18n):panel.name"
        >


          <div nz-row class="mb-md">
            <div nz-col nzSpan="18">
              <p style="margin:0; opacity: 0.5">
                {{'app.edit-policy.des2' | i18n}}
              </p>
            </div>
            <div nz-col nzSpan="6">
              <div class="text-right" style="display: flex;align-items: center;justify-content: flex-end;height: 100%;">
                <button (click)="deleteService(panel)" nz-button [nzType]="'default'">{{'app.users.deleteUser.deleteUsers' | i18n}}
                </button>
              </div>
            </div>
          </div>

          <br>

          <nz-select nzSize="default"
                     [nzPlaceHolder]="'-'+('app.create-policy.chooseService' | i18n)+'-'"
                     [(ngModel)]="panel.idService"
                     (ngModelChange)="changeService(panel)"
                     style="width: 100%;"
          >
            <nz-option *ngFor="let item of allService" [nzLabel]="item.toString()"
                       [nzValue]="item"></nz-option>
          </nz-select>

          <br>

          <nz-table
            *ngIf="isVisual && panel.idService != null"
            class="table-data"
            #rowSelectionTable
            nzShowPagination
            nzShowSizeChanger
            [nzData]="panel.listPer"
          >
            <thead>
            <tr>
              <th
                [(nzChecked)]="checkedAll"
                (nzCheckedChange)="onAllChecked($event, panel)"
              ></th>
              <th>Permission Policies</th>
              <th>{{'app.service.description' | i18n}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
              <td
                [nzChecked]="data.isChecked"
                (nzCheckedChange)="onOneChecked($event, data)"
              ></td>
              <td>{{ data.name }}</td>
              <td>{{ data.description}}</td>
            </tr>
            </tbody>
          </nz-table>

          <json-editor *ngIf="!isVisual && panel.idService != null" style="min-height: 300px;" [options]="editorOptions"
                       [data]="panel.listPer"></json-editor>

        </nz-collapse-panel>
      </nz-collapse>

    </nz-card>

    <button (click)="addService()"
            nz-button nzType="primary"
    > {{'app.create-policy.add' | i18n}}
    </button>

    <br>
    <br>

    <nz-card
      [nzBodyStyle]="{ 'padding': '30px' }"
    >
      <div class="footer-detail">
        <button class="buttonBack" nz-button nzType="default" (click)="backToListPage()">{{'app.button.back' | i18n}}
        </button>
        <button class="buttonEdit" nz-button nzType="primary"
                (click)="editPolicy()">{{'app.button.edit' | i18n}}
        </button>
      </div>
    </nz-card>

  </nz-content>
</nz-spin>
