.text-bold{
  font-weight: 700;
}

.text-title h1{
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: #0066B3;
  text-align: center;
}

.text-subtitle{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6C757D;
  width: 850px;
}

.confirm-content {
  margin-top: 8px;
}

.custom-tab ::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  font-weight: 600;
}
