<ng-container [ngSwitch]="isBegin">
<nz-content *ngSwitchCase="false">
  <page-header
    [breadcrumb]="breadcrumb"
    [action]="action"
    [title]="'Quản lý VPN site to site'"
    xmlns="http://www.w3.org/1999/html"
  >
    <ng-template #breadcrumb>
      <nz-breadcrumb [nzSeparator]="separatorTemplate">
        <nz-breadcrumb-item>
          <a [routerLink]="['/']">Trang chủ</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item> Dịch vụ hạ tầng </nz-breadcrumb-item>
        <nz-breadcrumb-item> VPN site to site </nz-breadcrumb-item>
      </nz-breadcrumb>
    <ng-template #separatorTemplate
      ><img src="assets/imgs/arrow-square-right.svg" alt="" />
    </ng-template>
    </ng-template>
    <ng-template #action>
      <div class="alain-custom-action text-right">
        <share-users-combobox></share-users-combobox>
        <region-select-dropdown
          (valueChanged)="regionChanged($event)"
        ></region-select-dropdown>
        <project-select-dropdown
          (valueChanged)="projectChanged($event)"
          (userChanged)="projectChanged($event)"
          [regionId]="region"
        ></project-select-dropdown>
      </div>
    </ng-template>
  </page-header>
  <nz-card style="border-radius: 8px; margin-bottom: 20px">
    <nz-row style="margin-bottom: 20px" nzGutter="24">
      <div
        nz-col
        [nzLg]="12"
        [nzMd]="12"
        [nzSm]="24"
        [nzXl]="12"
        [nzXs]="24"
        [nzXXl]="12"
      >
        <span class="text-card-header">{{'app.manage.site.to.site.title.infomation' |i18n}}</span>
      </div>
      <div
        class="text-right p-0 m-b-0"
        nz-col
        [nzLg]="12"
        [nzMd]="12"
        [nzSm]="24"
        [nzXl]="12"
        [nzXs]="24"
        [nzXXl]="12"
      >
        <button nz-button nzType="primary" (click)="extendVpn()" *ngIf="('order:Create' | IsPermissionPipe) && (projectObject && projectObject.type == 0)">
          <img
            style="padding-right: 10px; margin-top: -4px"
            src="assets/imgs/calendar-tick2.svg"
            alt=""
          />
        {{'app.manage.site.to.site.extend' |i18n}}
        </button>
        <button
          nz-button
          nzType="primary"
          nz-dropdown
          [nzDropdownMenu]="opMenu"
        >
          <img src="assets/imgs/dots.svg" alt="" />
          <nz-dropdown-menu #opMenu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="resizeVpn()" *ngIf="('order:Create' | IsPermissionPipe) && (projectObject && projectObject.type == 0)">Điều chỉnh</li>
              <li nz-menu-item (click)="modalDelete()" *ngIf="('VpnSiteToSites:Delete' | IsPermissionPipe)">Xóa</li>
            </ul>
          </nz-dropdown-menu>
        </button>
      </div>
    </nz-row>
    <div style="margin-bottom: 15px" class="text-label label-fontsize">
      Tên gói: <span class="text-bold">{{response?.offerName}}</span>
    </div>
    <div style="margin-bottom: 15px" class="text-label label-fontsize">
      Bandwidth: <span class="text-bold">{{response?.bandwidth}}</span>
    </div>
    <div style="margin-bottom: 15px" class="text-label label-fontsize">
      Router VPN site to site: 
      <a class="text-bold" target="_blank" nz-tooltip nzTooltipTitle="{{'app.view.detail' | i18n}}" nzTooltipPlacement="bottom" [routerLink]="['/app-smart-cloud/network/router/detail/' + response?.routerName + '/' + response?.routerId]">
        {{ response?.routerName }}
        </a>
    </div>
    <div style="margin-bottom: 15px" class="text-label label-fontsize">
      Ngày khởi tạo: <span class="text-bold">{{response?.createdDate | date: 'dd/MM/YYYY'}}</span>
    </div>
    <div style="margin-bottom: 15px" class="text-label label-fontsize">
      Ngày hết hạn: <span class="text-bold">{{response?.expiredDate | date: 'dd/MM/YYYY'}}</span>
    </div>
  </nz-card>
  <nz-card class="custom-tab" style="border-radius: 8px">
    <nz-tabset nzSelectedIndex nzSize="large">
      <nz-tab nzTitle="IKE Policies" class="label-fontsize">
        <ng-template nz-tab>
          <one-portal-ike-policies></one-portal-ike-policies
        ></ng-template>
      </nz-tab>
      <nz-tab nzTitle="IPsec Policies" class="label-fontsize">
        <ng-template nz-tab>
          <one-portal-ipsec-policies
            [region]="region"
            [project]="project"
          ></one-portal-ipsec-policies>
        </ng-template>
      </nz-tab>
      <nz-tab nzTitle="VPN Service" class="label-fontsize">
        <ng-template nz-tab>
          <one-portal-vpn-service
          [region]="region"
            [project]="project"
          ></one-portal-vpn-service>
        </ng-template>
      </nz-tab>
      <nz-tab nzTitle="Endpoint Group" class="label-fontsize">
        <ng-template nz-tab>
          <one-portal-endpoint-group [region]="region"
          [project]="project"></one-portal-endpoint-group>
        </ng-template>
      </nz-tab>
      <nz-tab nzTitle="VPN Connections" class="label-fontsize">
        <ng-template nz-tab>
          <one-portal-vpn-connection [region]="region"
          [project]="project"></one-portal-vpn-connection>
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</nz-content>
<nz-content *ngSwitchDefault>
  <page-header
[breadcrumb]="breadcrumb"
[action]="action"
xmlns="http://www.w3.org/1999/html"
>
<ng-template #breadcrumb>
  <nz-breadcrumb [nzSeparator]="separatorTemplate">
    <nz-breadcrumb-item>Trang chủ</nz-breadcrumb-item>
    <nz-breadcrumb-item> Dịch vụ hạ tầng </nz-breadcrumb-item>
    <nz-breadcrumb-item> VPN site to site </nz-breadcrumb-item>
  </nz-breadcrumb>
    <ng-template #separatorTemplate
      ><img src="assets/imgs/arrow-square-right.svg" alt="" />
    </ng-template>
</ng-template>
<ng-template #action>
  <div class="alain-custom-action text-right">
    <share-users-combobox></share-users-combobox>
    <region-select-dropdown
      (valueChanged)="regionChanged($event)"
    ></region-select-dropdown>
    <project-select-dropdown
      (valueChanged)="projectChanged($event)"
      (userChanged)="projectChanged($event)"
      [regionId]="region"
    ></project-select-dropdown>
  </div>
</ng-template>
</page-header>
<nz-card style="border-radius: 8px;">
  <nz-row nzJustify="center" class="pt-15">
    <img src="/assets/imgs/vpn-site-to-site-bg.png" width="500" height="250" alt="blank-vpn-site-to-site">
  </nz-row>
  <nz-row nzJustify="center" style="margin-top:15px;">
    <div class="text-title">
      <h1>VPN site to site <br /> Cho phép các mạng tại các vị trí khác nhau giao tiếp với nhau</h1>
    </div>
  </nz-row>
  <nz-row nzJustify="center" class="mb-6">
    <div class="text-subtitle" style="text-align: center;">VPN site to site cung cấp một kênh kết nối an toàn giữ các vị trí vật lý hoặc mạng máy tính khác nhau. <br /> Cho phép các vị trí đia lý khác nhau truy cập vào tài nguyên nội bộ</div>
  </nz-row>
  <nz-row nzJustify="center" class="pb-15">
    <button style="text-align: center; margin-top: 10px" nz-button nzType="primary" *ngIf="('order:Create' | IsPermissionPipe) && (projectObject && projectObject.type == 0)" (click)="createVpn()">Tạo mới VPN site to site</button>
  </nz-row>
</nz-card>
</nz-content>
</ng-container>


<nz-modal
  [(nzVisible)]="isVisibleDelete"
  nzTitle="Hủy VPN site to site"
  (nzOnCancel)="handleCancelDelete()"
>
  <ng-container *nzModalContent>
    <nz-alert
      nzType="warning"
      [nzDescription]="customTemplateDescriptionGanVLAN"
      nzShowIcon
    ></nz-alert>
    <ng-template #customTemplateDescriptionGanVLAN>
      <div>
        Thao tác này sẽ xóa vĩnh viễn dữ liệu trên hệ thống và
        <b>KHÔNG THỂ KHÔI PHỤC LẠI</b>.
      </div>
    </ng-template>
    <div class="confirm-content">Quý khách có chắc chắn muốn xóa VPN site to site không?</div>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelDelete()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />Hủy
    </button>
    <button nz-button nzType="primary" (click)="handleOkDelete()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />
      Xác nhận
    </button>
  </div>
</nz-modal>