<page-header
  [breadcrumb]="breadcrumb"
  [action]="action"
  [title]="'app.vpn.service.policy-detail' |i18n"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="separatorTemplate">
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.breadcrumb.infrastructure.service' | i18n }}   
      </nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/app-smart-cloud/vpn-site-to-site']"
        >VPN site to site</a
      ></nz-breadcrumb-item>
      <nz-breadcrumb-item>{{'app.vpn.service.policy-detail' |i18n}}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #separatorTemplate
      ><img src="assets/imgs/arrow-square-right.svg" alt="" />
    </ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown
      (valueChanged)="onRegionChange($event)"
    ></region-select-dropdown>
    <project-select-dropdown
      [regionId]="region"
      (valueChanged)="onProjectChange($event)"
      (userChanged)="userChangeProject($event)"
    ></project-select-dropdown>
    </div>
  </ng-template>
</page-header>

<div nz-row [nzGutter]="16">
  <div nz-col [nzSpan]="24" class="gutter-row">
    <nz-card style="border-radius: 8px;">
      <h2 class="custom-title">{{'app.information' |i18n}} VPN Service</h2>
      <form nz-form [nzLayout]="'vertical'">
        <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control>
            <nz-form-label nzFor="name" >
              {{'form.account.name' |i18n}}
              (<span style="color: rgba(252, 16, 16, 1)">*</span>)
              <img
                nz-popover
                [nzPopoverContent]="
                  'app.vpn.service-create.name.tooltip' |i18n
                "
                nzPopoverPlacement="bottom"
                style="margin-left: 5px"
                src="assets/imgs/pajamas_question.svg"
                alt=""
              />
            </nz-form-label>
            <input
              class="h-40"
              nz-input
              type="text"
              value="{{vpnService?.name}}"  [disabled]="true"
            />
            
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control>
            <nz-form-label  >
              Router
              (<span style="color: rgba(252, 16, 16, 1)">*</span>)
              <img
                nz-popover
                [nzPopoverContent]="
                 'app.vpn.service-create.router.tooltip' |i18n
                "
                nzPopoverPlacement="bottom"
                style="margin-left: 5px"
                src="assets/imgs/pajamas_question.svg"
                alt=""
              />
            </nz-form-label>
            <input
              class="h-40"
              nz-input
              type="text"
              value="{{vpnService?.
                routerName}}"  [disabled]="true"
            />
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control>
            <nz-form-label nzFor="name" >
              {{'app.vpn.service.policy-detail.status' |i18n}}
              (<span style="color: rgba(252, 16, 16, 1)">*</span>)
              <img
                nz-popover
                [nzPopoverContent]="
                  'app.vpn.service.policy-detail.status.tooltip' |i18n
                "
                nzPopoverPlacement="bottom"
                style="margin-left: 5px"
                src="assets/imgs/pajamas_question.svg"
                alt=""
              />
            </nz-form-label>
            <input
            class="h-40"
            nz-input
            type="text"
            value="{{vpnService?.
              status}}"  [disabled]="true"
          />
            
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control>
            <nz-form-label nzFor="name"  >
              IP VPN Gateway
              (<span style="color: rgba(252, 16, 16, 1)">*</span>)
              <img
                nz-popover
                [nzPopoverContent]="
                  ''
                "
                nzPopoverPlacement="bottom"
                style="margin-left: 5px"
                src="assets/imgs/pajamas_question.svg"
                alt=""
              />
            </nz-form-label>
            <input
            class="h-40"
            nz-input
            type="text"
            value="{{vpnService?.
              vpnGatway}}"  [disabled]="true"
          />
          </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      </form>
    </nz-card>
  </div>
</div>
<div
  class="text-right"
  style="
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  "
>
</div>
