<svg *ngIf="icon==='tick'" id="tick" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="10.0013" cy="10.0001" r="8.33333" fill="url(#paint0_linear_9959_35518)"/>
  <rect x="9.375" y="5.83325" width="1.25" height="5.83333" rx="0.625" fill="white"/>
  <circle cx="10.0013" cy="13.7501" r="0.833333" fill="white"/>
  <defs>
  <linearGradient id="paint0_linear_9959_35518" x1="4.08464" y1="3.00008" x2="17.0761" y2="17.1722" gradientUnits="userSpaceOnUse">
  <stop stop-color="#0066B0"/>
  <stop offset="1" stop-color="#0066B0"/>
  </linearGradient>
  </defs>
  </svg>
  

