<img src="assets/imgs/delete.svg" style="height: 20px; cursor: pointer;"
     nz-popover
     [nzPopoverContent]="'Xóa'"
     nzPopoverPlacement="bottom" disabled="true" (click)="showModalDeletePort()"/>
<nz-modal [(nzVisible)]="isVisibleDeletePort" nzTitle="Xoá Port"
          (nzOnCancel)="handleCancelDeletePort()">
  <div *nzModalTitle>
    <span class="text-modal-title">Xoá Port</span>
  </div>
  <div *nzModalContent>
    <span class="text-label">Bạn có chắc chắn muốn xóa Port không?</span>
    <span class="text-label" *ngIf="noti">Vui lòng gỡ Port trước khi xóa</span>
  </div>
  <div *nzModalFooter style="padding-left: 8px; padding-right: 8px;">
    <button nz-button nzType="default" (click)="handleCancelDeletePort()" class="button-cancel">
      <span nz-icon nzType="close" nzTheme="outline"></span>Hủy
    </button>
    <button nz-button nzType="primary"
            (click)="handleOkDeletePort()"
            [nzLoading]="isLoadingDeletePort"
            class="button-ok">
      <span nz-icon nzType="check" nzTheme="outline"></span>Xác nhận
    </button>
  </div>
</nz-modal>
