<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nzLayout="vertical">
  <nz-card>
    <nz-row nzGutter="24" nzJustify="space-between">
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>
            <span>{{'schedule.backup.label.name' | i18n}}</span>
            <span style="color: rgba(252, 16, 16, 1);">*</span>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="nameErrorTpl">
              <input nz-input
                     class="input-custom"
                     formControlName="name"
                     style="width: 100%;"/>
            <ng-template #nameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">{{'validation.info.required' | i18n}}</ng-container>
              <ng-container *ngIf="control.hasError('pattern')">{{'schedule.backup.validate1' | i18n}}</ng-container>
              <ng-container *ngIf="control.hasError('invalidCharacters')">{{'schedule.backup.validate2' | i18n}}</ng-container>
              <ng-container *ngIf="control.hasError('duplicateName')">{{'schedule.backup.validate3' | i18n}}</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>
            <span>{{'schedule.backup.number.save' | i18n}}</span>
            <span style="color: rgba(252, 16, 16, 1);">*</span>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="maxBackupTpl">
            <nz-input-number nzSize="large"
                             formControlName="maxBackup"
                             style="width: 100%; border-radius: 8px; margin-left: 0;"
                             nzMin="1"
                             nzStep="1"/>
            <ng-template #maxBackupTpl let-control>
              <ng-container *ngIf="control.hasError('required')">{{'schedule.backup.name.empty' | i18n}}</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>
            <span>{{'app.backup.volume.backup.package' | i18n}}</span>
            <span style="color: rgba(252, 16, 16, 1);">*</span>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="backupPackageErrorTpl">
            <nz-select [nzLoading]="isLoadingPackage"
                       formControlName="backupPackage"
                       nzPlaceHolder="{{'app.backup.volume.backup.package' | i18n}}"
                       nzSize="large"
                       style="border-radius: 8px;">
              <nz-option *ngFor="let index of backupPackages"
                         [nzLabel]="index.packageName"
                         [nzValue]="index.id"></nz-option>
            </nz-select>
            <ng-template #backupPackageErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">{{'schedule.backup.name.empty' | i18n}}</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="description">
            <div class="label">
              <span>{{'app.service.description' | i18n}}</span>
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="descriptionErrorTpl">
            <textarea nz-input
                      formControlName="description"
                      id="description"
                      [nzAutosize]="{ minRows: 6, maxRows: 6 }"></textarea>
            <ng-template #descriptionErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">{{'validation.info.required' | i18n}}</ng-container>
              <ng-container *ngIf="control.hasError('maxlength')">{{'schedule.backup.validate4' | i18n}}</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="instanceId">
            <div class="label">
              <span>{{'volume.modal.attach.title' | i18n}}</span>
              <span style="color: rgba(252, 16, 16, 1);">*</span>
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="instanceErrorTpl">
            <nz-select *ngIf="instanceId != null" formControlName="instanceId"
                       [nzSize]="'large'"
                       nzPlaceHolder="{{'volume.modal.attach.title' | i18n}}"
                       [nzShowSearch]="false"
                       [nzLoading]="isLoadingInstance"
                       (ngModelChange)="selectInstanceChange($event)">
              <nz-option [nzValue]="instanceId" [nzLabel]="instanceName"></nz-option>
            </nz-select>
            <nz-select *ngIf="instanceId == null" formControlName="instanceId"
                       [nzSize]="'large'"
                       nzPlaceHolder="{{'volume.modal.attach.title' | i18n}}"
                       [nzShowSearch]="false"
                       [nzLoading]="isLoadingInstance"
                       (ngModelChange)="selectInstanceChange($event)">
              <nz-option *ngFor="let i of listInstanceNotUse"
                         [nzLabel]="i.name"
                         [nzValue]="i.id"></nz-option>
            </nz-select>
            <ng-template #instanceErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">{{'validation.info.required' | i18n}}</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="backupMode">
            <div class="label">
              <span>{{'schedule.backup.mode' | i18n}}</span>
              <span style="color: rgba(252, 16, 16, 1);">*</span>
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="backupModeErrorTpl">
            <nz-select
              formControlName="backupMode" id="backupMode"
              nzSize="large"
              nzPlaceHolder="{{'schedule.backup.mode' | i18n}}"
              [nzShowSearch]="false"
              (ngModelChange)="modeChange($event)">
              <nz-option *ngFor="let i of mode"
                         [nzLabel]="i.label"
                         [nzValue]="i.value"/>
            </nz-select>
            <ng-template #backupModeErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">{{'validation.info.required' | i18n}}</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>
            <span>{{'app.cluster.action-time' | i18n}}</span>
            <span style="color: rgba(252, 16, 16, 1);">*</span>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="timeErrorTpl">
            <nz-time-picker formControlName=times
                            id="times"
                            nzSize="large"
                            nzPlaceHolder="{{'schedule.backup.time.select' | i18n}}"
                            style="width: 100%; border-radius: 8px;"></nz-time-picker>
            <ng-template #timeErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">{{'validation.info.required' | i18n}}</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <div *ngIf="modeType === '4'">
          <nz-form-item>
            <nz-form-label nzFor="months">
              <div class="label">
                <span>{{'app.number.of.month.executed' | i18n}}</span>
                <span style="color: rgba(252, 16, 16, 1);">*</span>
              </div>
            </nz-form-label>
            <nz-form-control nzDisableAutoTips [nzErrorTip]="monthsErrorTpl">
              <nz-input-number style="width:100%; border-radius: 8px; margin-left: 0;"
                class="input-custom"
                formControlName="months"
                id="months"
                nzMin="1"
                nzMax="24"
                nzStep="1"/>
              <ng-template #monthsErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">{{'schedule.backup.0.to.24' | i18n}}</ng-container>
                <ng-container *ngIf="control.hasError('max')">{{'schedule.backup.0.to.24' | i18n}}</ng-container>
                <ng-container *ngIf="control.hasError('min')">{{'schedule.backup.0.to.24' | i18n}}</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="date">
              <div class="label">
                <span>{{'app.execution.date' | i18n}}</span>
                <span style="color: rgba(252, 16, 16, 1); "> *</span>
              </div>
            </nz-form-label>
            <nz-form-control nzDisableAutoTips [nzErrorTip]="dateErrorTpl">
              <nz-input-number
                style="width:100%; border-radius: 8px; margin-left: 0;"
                formControlName="date"
                class="input-custom"
                id="date"
                nzMin="1"
                nzMax="31"
                nzStep="1"/>
              <ng-template #dateErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">{{'schedule.backup.0.to.31' | i18n}}</ng-container>
                <ng-container *ngIf="control.hasError('max')">{{'schedule.backup.0.to.31' | i18n}}</ng-container>
                <ng-container *ngIf="control.hasError('min')">{{'schedule.backup.0.to.31' | i18n}}</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div *ngIf="modeType === '3'">
          <nz-form-item>
            <nz-form-label nzFor="numberOfWeek">
              <div class="label">
                <span>{{'app.number.of.week.executed' | i18n}}</span>
                <span style="color: rgba(252, 16, 16, 1); "> *</span>
              </div>
            </nz-form-label>
            <nz-form-control nzDisableAutoTips>
              <nz-select
                formControlName="numberOfWeek" id="numberOfWeek"
                nzPlaceHolder="{{'app.number.of.week.executed' | i18n}}"
                [nzShowSearch]="false"
                nzSize="large"
                [(ngModel)]="numberOfWeekChangeSelected"
                (ngModelChange)="numberOfWeekChange($event)">
                <nz-option
                  *ngFor="let i of numberOfWeek"
                  [nzLabel]="i.label"
                  [nzValue]="i.value"/>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="daysOfWeek">
              <div class="label">
                <span>{{'schedule.backup.day.select' | i18n}}</span>
                <span style="color: rgba(252, 16, 16, 1); "> *</span>
              </div>
            </nz-form-label>
            <nz-form-control nzDisableAutoTips [nzErrorTip]="daysOfWeekErrorTpl">
              <nz-select
                formControlName="daysOfWeek" id="daysOfWeek"
                nzPlaceHolder="{{'schedule.backup.day.select' | i18n}}"
                nzSize="large"
                [nzShowSearch]="false">
                <nz-option
                  *ngFor="let i of daysOfWeek"
                  [nzLabel]="i.label"
                  [nzValue]="i.value"/>
              </nz-select>
              <ng-template #daysOfWeekErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">{{'schedule.backup.press.date' | i18n}}</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div *ngIf="modeType === '2'">
          <nz-form-item>
            <nz-form-label nzFor="daysOfWeekMultiple">
              <div class="label">
                <span>{{'schedule.backup.day.select' | i18n}}</span>
                <span style="color: rgba(252, 16, 16, 1); "> *</span>
              </div>
            </nz-form-label>
            <nz-form-control nzDisableAutoTips [nzErrorTip]="daysOfWeekErrorTpl">
              <nz-select
                formControlName="daysOfWeekMultiple" id="daysOfWeekMultiple"
                nzMode="multiple"
                nzSize="large"
                nzPlaceHolder="{{'schedule.backup.day.select' | i18n}}"
                [nzShowSearch]="false">
                <nz-option
                  *ngFor="let i of daysOfWeek"
                  [nzLabel]="i.label"
                  [nzValue]="i.value"/>
              </nz-select>
              <ng-template #daysOfWeekErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">{{'schedule.backup.press.date' | i18n}}</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <nz-form-item>
          <nz-form-label nzFor="listAttachedVolume">
            <div class="label">
              <span>{{'schedule.backup.select.volume.backup' | i18n}}</span>
            </div>
          </nz-form-label>
          <nz-form-control>
            <nz-select id="volumeToBackupIds"
                       formControlName="volumeToBackupIds"
                       nzPlaceHolder="{{'app.info.backup.vm.external.volume' | i18n}}"
                       nzMode="multiple"
                       nzSize="large"
                       [nzShowSearch]="false">
              <nz-option *ngFor="let i of volumeAttachments" [nzLabel]="i.name" [nzValue]="i.id"/>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-form-item nzAlign="bottom" nzJustify="end" style="margin-top: 30px">
      <nz-space nzSize="middle">
        <button *nzSpaceItem nz-button nzType="default" (click)="goBack()" class="button-back">
          <span nz-icon nzType="close" nzTheme="outline"></span>{{'app.button.cancel' | i18n}}
        </button>
        <nz-form-control *nzSpaceItem>
          <button nz-button [nzLoading]="isLoading" nzType="primary"
                  class="button-create" [disabled]="!validateForm.valid">
            <span nz-icon nzType="check" nzTheme="outline"></span>{{'app.button.confirm' | i18n}}
          </button>
        </nz-form-control>
      </nz-space>
    </nz-form-item>
  </nz-card>
</form>
