<page-header [breadcrumb]="breadcrumb"
             [action]="action"
             [title]="'volume.title.breadcrumb.create.backup.volume' | i18n">
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="iconTemplate">
      <nz-breadcrumb-item>{{ 'app.breadcrumb.home' | i18n }}</nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ 'app.breadcrumb.infrastructure.service' | i18n }}</nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ 'app.breadcrumb.block.storage' | i18n }}</nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="'/app-smart-cloud/backup-volume'">Backup Volume</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ 'volume.title.breadcrumb.create.backup.volume' | i18n }}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #iconTemplate><one-portal-svg-icon [icon]="'icon_breadcrumb'"></one-portal-svg-icon></ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (regionChange)="onRegionChanged($event)" (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown #projectCombobox [regionId]="region"
                               (valueChanged)="projectChanged($event)"
                               (userChanged)="userChaged($event)"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-spin [nzSpinning]="isLoading">
  <nz-content>
    <nz-row nzGutter="24">
      <nz-col nzSpan="16">
        <nz-card style="border-radius: 8px;">
          <span class="text-card-header">{{'app.backup.volume.info'|i18n}}</span>
          <form nz-form [formGroup]="validateForm" nzLayout="vertical">
            <nz-row nzGutter="24" style="margin-top: 25px;">
              <nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>
                    <span>{{'app.backup.volume.name'|i18n}} (<span style="color: #EA3829">*</span>)</span>
                    <img nz-popover
                         [nzPopoverContent]="'app.backup.volume.name.tooltip'|i18n"
                         nzPopoverPlacement="bottom" style="margin-left: 5px;"
                         src="assets/imgs/pajamas_question.svg" alt="" />
                  </nz-form-label>
                  <nz-form-control nzDisableAutoTips [nzErrorTip]="nameBackupError">
                    <input nz-input class="input-custom"
                           appAutofocus
                           formControlName="backupName"
                           [placeholder]="'app.backup.vm.placeholder.input'|i18n"
                           [maxlength]="50"/>
                    <ng-template #nameBackupError let-control>
                      <ng-container *ngIf="control.hasError('required')">{{'app.backup.volume.validator.name.required'|i18n}}</ng-container>
                      <ng-container *ngIf="control.hasError('duplicateName')">{{'app.backup.volume.validator.name.duplicate'|i18n}}</ng-container>
                      <ng-container *ngIf="control.hasError('pattern')">{{'app.backup.volume.validator.name.pattern'|i18n}}</ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <nz-row nzGutter="24">
                  <nz-col nzSpan="16">
                    <span class="text-label">{{ 'app.backup.vm.bought'|i18n }}</span>
                  </nz-col>
                  <nz-col nzSpan="8" style="text-align: end;">
                    <span class="text-label" *ngIf="projectDetail == undefined">0 GB</span>
                    <span class="text-label"
                          *ngIf="projectDetail != undefined">{{ projectDetail?.cloudProject.quotaBackupVolumeInGb }}
                      GB</span>
                  </nz-col>
                </nz-row>
                <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
                <nz-row nzGutter="24">
                  <nz-col nzSpan="16">
                    <span class="text-label">{{ 'app.backup.package.storage.used'|i18n }}</span>
                  </nz-col>
                  <nz-col nzSpan="8" style="text-align: end;">
                    <span class="text-label" *ngIf="projectDetail == undefined">0 GB</span>
                    <span class="text-label"
                          *ngIf="projectDetail != undefined">{{ projectDetail?.cloudProjectResourceUsed?.backup }}
                      GB</span>
                  </nz-col>
                </nz-row>
                <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
                <nz-row nzGutter="24">
                  <nz-col nzSpan="16">
                    <span class="text-label">{{ 'app.backup.package.storage.remaining'|i18n }}</span>
                  </nz-col>
                  <nz-col nzSpan="8" style="text-align: end;">
                    <span class="text-label" *ngIf="projectDetail == undefined">0 GB</span>
                    <span class="text-label"
                          *ngIf="projectDetail != undefined">{{ projectDetail?.cloudProject?.quotaBackupVolumeInGb - projectDetail?.cloudProjectResourceUsed?.backup }}
                      GB</span>
                  </nz-col>
                </nz-row>
                <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
              </nz-col>
              <nz-col nzSpan="12">

                  <nz-form-item>
                    <nz-form-label>
                      <span>{{'app.input.backup.volume.select.volume'|i18n}} (<span style="color: #EA3829">*</span>)</span>
                      <img nz-popover
                           [nzPopoverContent]="''|i18n"
                           nzPopoverPlacement="bottom" style="margin-left: 5px;"
                           src="assets/imgs/pajamas_question.svg" alt="" />
                    </nz-form-label>
                    <nz-form-control nzDisableAutoTips [nzErrorTip]="volumeError">
                      <nz-select (ngModelChange)="onSelectedVolume($event)"
                                 nzSize="large"
                                 [nzPlaceHolder]="'schedule.backup.volume.select'|i18n"
                                 [nzLoading]="isLoadingVolume"
                                 [nzDisabled]="isLoadingVolume"
                                 formControlName="volumeId">
                        <nz-option *ngFor="let i of listVolumes" [nzValue]="i.id" [nzLabel]="i.name"></nz-option>
                      </nz-select>
                      <ng-template #volumeError let-control>
                        <ng-container *ngIf="control.hasError('required')">{{'app.input.backup.volume.required.select'|i18n}}</ng-container>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                <nz-form-item>
                  <nz-form-label>
                    <span>{{'app.info.backup.vm.description'|i18n}}</span>
                  </nz-form-label>
                  <nz-form-control>
                    <nz-textarea-count [nzMaxCharacterCount]="255">
                    <textarea nz-input class="input-custom"
                              [maxlength]="255"
                              [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                              [placeholder]="'app.input.des'|i18n"
                              formControlName="description"></textarea>
                    </nz-textarea-count>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
            </nz-row>
            <div
              *ngIf="(volumeInfo?.sizeInGB) > (projectDetail?.cloudProject.quotaBackupVolumeInGb - projectDetail?.cloudProjectResourceUsed.backup)">
              <nz-alert nzType="warning"
                        [nzMessage]="titleMessage"
                        nzShowIcon></nz-alert>
              <ng-template #titleMessage>
              <span
                style="color: #FF0000;">{{
                  'app.backup.vm.alert.storage.vpc'|i18n:
                    { storage: (volumeInfo?.sizeInGB) }
                }} <a
                  [routerLink]="'/app-smart-cloud/project/detail/' + project">{{ projectName }}</a> {{ 'schedule.backup.alert.storage.vpc1'|i18n }}</span>
                <span
                  style="color: #FF0000;">{{ 'app.backup.vm.alert.storage.vpc'|i18n: { storage: (volumeInfo?.sizeInGB) } }}</span>
              </ng-template>
            </div>
          </form>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-affix [nzOffsetTop]="72">
          <nz-card class="border-card">
            <span class="text-card-header">{{'app.config.parameters'|i18n}}</span>
            <div style="margin-top: 10px" class="text-value">{{'app.table.backup.vm.name'|i18n}}</div>
            <div style="margin-top: 10px" class="text-label">
              {{ validateForm.controls.backupName.value }}
            </div>
            <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
            <div style="margin-top: 10px" class="text-value">{{ 'app.info.backup.vm.total.storage'|i18n }}</div>
                    <div style="margin-top: 10px" class="text-label">{{ projectDetail?.cloudProject.quotaBackupVolumeInGb }} GB</div>
            <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
            <div style="margin-top: 10px" class="text-value">{{ 'app.input.backup.volume.select.volume'|i18n }}</div>
            <div style="margin-top: 10px" class="text-label">
              <span *ngIf="volumeInfo?.volumeType == 'hdd'">{{ volumeInfo?.name }} ({{ 'volume.hdd' | i18n }}) {{ volumeInfo?.sizeInGB }}GB</span>
              <span *ngIf="volumeInfo?.volumeType == 'ssd'">{{ volumeInfo?.name }} ({{ 'volume.ssd' | i18n }}) {{ volumeInfo?.sizeInGB }}GB</span>
            </div>
            <!--        <div style="margin-top: 10px" class="text-label">{{ 'app.info.backup.vm.storage.flavor'|i18n }} - {{ instance?.storage }} GB</div>-->
            <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
            <nz-row>
              <nz-col style="width: 100%">
                <button style="width: 100%" nz-button nzSize="large" nzType="primary" (click)="createBackupVolume()" [nzLoading]="isLoading"
                        [disabled]="validateForm.invalid">
                  <img src="assets/imgs/wallet.svg" style="margin-right: 5px; padding-bottom: 5px;" alt="" />
                  <span [style.color]="validateForm.invalid ? 'gray' : 'white'">{{ 'app.button.create' | i18n }}</span>
                </button>
              </nz-col>
            </nz-row>
          </nz-card>
        </nz-affix>
      </nz-col>
    </nz-row>
  </nz-content>
</nz-spin>
