<div style="display: flex; flex-direction: column">
  <span class="text-card-header mb-4">Danh sách IKE Policies</span>
  <nz-row class="d-flex justify-content-between">
    <nz-col>
      <nz-input-group
        [nzPrefix]="prefixIconSearch"
        nzSize="large"
        style="width: 300px"
      >
        <input
          name="value"
          nz-input
          placeholder="Tìm kiếm theo tên"
          (input)="onInputChange($event.target['value'])"
        />
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <img
          src="assets/imgs/search.svg"
          alt=""
          style="cursor: pointer"
          nz-tooltip="Tìm kiếm"
        />
      </ng-template>
    </nz-col>
    <nz-col>
      <button
        [routerLink]="['/app-smart-cloud/vpn-site-to-site/ike-policies/create']"
        nz-button
        nzType="primary"
        nzSize="large"
      >
        <i nz-icon nzType="plus"></i>
        <span class="button-text-primary">Tạo mới IKE Policies</span>
      </button>
    </nz-col>
  </nz-row>
</div>
<nz-table
  #fixedTable
  style="margin-top: 20px"
  [nzData]="response?.records"
  [nzPageSize]="response?.pageSize"
  (nzPageSizeChange)="onPageSizeChange($event)"
  [nzPageIndex]="response?.currentPage"
  (nzPageIndexChange)="onPageIndexChange($event)"
  [nzTotal]="response?.totalCount"
  [nzFrontPagination]="false"
  [nzLoading]="isLoading"
>
  <thead>
    <tr>
      <th>Name</th>
      <th>VPN Connection</th>
      <th>Authorization algorithm</th>
      <th>Encryption algorithm</th>
      <th>PFS</th>
      <th nzAlign="center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of fixedTable.data; index as i">
      <td>
        <a
          [routerLink]="[
            '/app-smart-cloud/vpn-site-to-site/ike-policies/' + data.cloudId
          ]"
          >{{ data.name }}</a
        >
      </td>

      <td>{{ data.authorizationAlgorithm }}</td>
      <td>{{ data.authorizationAlgorithm }}</td>
      <td>{{ data.encryptionAlgorithm }}</td>
      <td>{{ data.perfectForwardSecrey }}</td>
      <td>
        <div class="d-flex gap-2 justify-content-center align-items-center">
          <img
            style="cursor: pointer; margin-right: 16px"
            src="assets/imgs/edit-2.svg"
            nzTheme="outline"
            [routerLink]="[
              '/app-smart-cloud/vpn-site-to-site/ike-policies/edit/' +
                data.cloudId
            ]"
            [nzPopoverContent]="'Sửa'"
            nz-popover
            nzPopoverPlacement="bottom"
          />
          <one-portal-delete-ike-policies
            [region]="region"
            [project]="project"
            [ikepolicyid]="data.cloudId"
            [nameIkePolicy]="data.name"
            (onOk)="handleOkDelete()"
          ></one-portal-delete-ike-policies>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
