<page-header [breadcrumb]="breadcrumb" [action]="action"
             [title]="'Quản lý File System'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item [routerLink]="'/'">Trang chủ</nz-breadcrumb-item>
      <nz-breadcrumb-item [routerLink]="'/'">Dịch vụ hạ tầng</nz-breadcrumb-item>
      <nz-breadcrumb-item [routerLink]="'/'">File Storage</nz-breadcrumb-item>
      <nz-breadcrumb-item [routerLink]="'/app-smart-cloud/file-storage/file-system/list'">File System</nz-breadcrumb-item>
      <nz-breadcrumb-item [routerLink]="'/app-smart-cloud/file-storage/file-system/extend/{{ idFileSystem }}'">Điều chỉnh File System</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               (userChanged)="userChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <form nz-form nzLayout="vertical">
    <nz-row nzGutter="24" nzJustify="space-between">
      <nz-col nzSpan="16">
        <nz-card style="border-radius: 8px;">
          <span class="text-card-header">Thông tin File System</span>
          <nz-row nzGutter="24" nzJustify="space-between">
            <nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>
                  <span>Tên File System</span>
                  (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                </nz-form-label>
                <nz-form-control>
                  <input nz-input style="width: 100%" class="input-custom" [value]="fileSystem.name"  [disabled]="true" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label>
                  <span>Giao thức</span>
                  (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                </nz-form-label>
                <nz-form-control>
                  <input nz-input style="width: 100%" class="input-custom" [value]="fileSystem.shareProto"  [disabled]="true" />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>
                  <span>Loại File System</span>
                  (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                </nz-form-label>
                <nz-form-control>
                  <input nz-input style="width: 100%" class="input-custom" [value]="fileSystem.type" [disabled]="true" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzFor="storage">
                  <div>
                    <span>Dung lượng (GB) </span>
                    (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                    <span nz-icon nzType="question-circle"
                          nzTheme="outline"
                          nz-popover
                          [nzPopoverContent]="'Tối thiểu là 1'"
                          nzPopoverPlacement="bottom"></span>
                  </div>
                </nz-form-label>
                <nz-form-control nzDisableAutoTips [nzErrorTip]="storageErrorTpl">
                  <nz-input-number style="width: 100%;"
                                   formControlName="storage"
                                   class="input-custom"
                                   [ngModel]="storage"
                                   [nzMin]="1" [nzStep]="1"></nz-input-number>
                  <ng-template #storageErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Vui lòng nhập dung lượng</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label>
                  <div>
                    <span>Dung lượng File System của quý khách</span>
                    <span style="color: rgba(252, 16, 16, 1); "> *</span>
                  </div>
                  <span></span>
                </nz-form-label>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-form-item>
            <nz-form-label>
              <div>
                <span>Mô tả</span>
              </div>
            </nz-form-label>
            <nz-form-control nzDisableAutoTips [nzErrorTip]="descriptionErrorTpl">
              <textarea nz-input [value]="fileSystem.description" [maxLength]="700"
                        [nzAutosize]="{ minRows: 3, maxRows: 5 }"  [disabled]="true"></textarea>
              <ng-template #descriptionErrorTpl let-control>
                <ng-container *ngIf="control.hasError('maxlength')">Cho phép nhập tối đa 700 kí tự</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-card style="border-radius: 8px;">
          <span class="text-card-header">Thông số cấu hình</span>
          <div style="margin-left: 20px;">
            <nz-row style="margin-bottom: 10px; margin-top: 10px;" nzGutter="16">
            <span class="text-value">
              Tên File System
            </span>
            </nz-row>
            <nz-row style="margin-bottom: 10px; margin-top: 10px;" nzGutter="16">
              <span class="text-label">{{ fileSystem.name }}</span>
            </nz-row>
            <nz-row style="margin-bottom: 10px; margin-top: 10px;" nzGutter="16">
            <span class="text-value">
              Loại File System
            </span>
            </nz-row>
            <nz-row style="margin-bottom: 10px; margin-top: 10px;" nzGutter="16">
            <span class="text-label">{{ fileSystem.type }}</span>
            </nz-row>
            <nz-row style="margin-bottom: 10px; margin-top: 10px;" nzGutter="16">
            <span class="text-value">
              Giao thức
            </span>
            </nz-row>
            <nz-row style="margin-bottom: 10px; margin-top: 10px;" nzGutter="16">
            <span class="text-label">{{ fileSystem.shareProto }}</span>
            </nz-row>
            <nz-row style="margin-bottom: 10px; margin-top: 10px;" nzGutter="16">
            <span class="text-value">
              Dung lượng
            </span>
            </nz-row>
            <nz-row style="margin-bottom: 10px; margin-top: 10px;" nzGutter="16">
              <span class="text-label" [innerText]="storage"></span>
            </nz-row>
          </div>
          <nz-form-item nzAlign="bottom" nzJustify="end">
            <nz-form-control>
              <button nz-button nzType="primary"
                      class="button-ok">
                <span nz-icon nzType="edit" nzTheme="outline"></span>Điều chỉnh</button>
            </nz-form-control>
          </nz-form-item>
        </nz-card>
      </nz-col>
    </nz-row>
  </form>

</nz-content>
