<page-header [breadcrumb]="breadcrumb" [action]="action" [title]="'Khởi tạo cluster'">
  <!-- breadcrumb -->
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Trang chủ</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Cluster
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-kubernetes']">Danh sách cluster</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Khởi tạo cluster</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>

  <!-- action -->
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown
        (valueChanged)="onRegionChange($event)"
      ></region-select-dropdown>
      <project-select-dropdown
        [regionId]="regionId"
        (valueChanged)="onProjectChange($event)"
      ></project-select-dropdown>
    </div>
  </ng-template>
</page-header>

<div nz-row [nzGutter]="16">
  <div nz-col [nzSpan]="16" class="gutter-row">
    <form nz-form [formGroup]="myform" nzLayout="vertical" nzLabelAlign="left">
      <nz-card class="border-card">
        <h3>Thông tin chung</h3>
        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label nzRequired>Tên Cluster</nz-form-label>
              <nz-form-control [nzErrorTip]="clusterErrorTpl">
                <input nz-input type="text" placeholder="Nhập tên cluster" formControlName="clusterName"
                  id="clusterName" autofocus />
              </nz-form-control>
              <ng-template #clusterErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  <div>Tên cluster không để trống</div>
                </ng-container>
                <ng-container *ngIf="control.hasError('minlength') || control.hasError('maxlength')">
                  <div>Tên cluster trong khoảng từ 5-50 ký tự</div>
                </ng-container>
                <ng-container *ngIf="control.hasError('pattern')">
                  <div>Tên cluster chỉ bao gồm các chữ thường, chữ hoa, số và các ký tự _-</div>
                </ng-container>
              </ng-template>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="kubernetesVersion" nzLabelWrap>Kubernetes version</nz-form-label>
              <nz-form-control nzErrorTip="Phiên bản Kubernetes không để trống">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn phiên bản Kubernetes"
                  formControlName="kubernetesVersion" id="kubernetesVersion">
                  <nz-option *ngFor="let item of listOfK8sVersion" [nzLabel]="item.k8sVersion" [nzValue]="item.k8sVersion"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <nz-form-item>
          <nz-form-label [nzSpan]="24">Mô tả</nz-form-label>
          <nz-form-control [nzErrorTip]="descriptionErrorTpl">
            <textarea formControlName="description" nz-input rows="3" placeholder="Mô tả dịch vụ"></textarea>
          </nz-form-control>
          <ng-template #descriptionErrorTpl let-control>
            <ng-container *ngIf="control.hasError('maxlength')">
              <div>Mô tả không quá 255 ký tự</div>
            </ng-container>
            <ng-container *ngIf="control.hasError('pattern')">
              <div>Mô tả chỉ cho phép chữ thường, chữ hoa, số và các ký tự @_-,.</div>
            </ng-container>
          </ng-template>
        </nz-form-item>

        <h3 class="mt-5">Cấu hình nâng cao</h3>

        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-control>
                <nz-switch formControlName="autoScalingWorker" (ngModelChange)="onChangeAdvancedConfig()"
                  class="mr-3"></nz-switch>Bật Auto Scaling worker
              </nz-form-control>
              <small>Hỗ trợ tự động số lượng worker. Số lượng worker thuộc worker tối thiểu - số lượng worker tối đa</small>
            </nz-form-item>

            <!-- <nz-form-item>
              <nz-form-control>
                <nz-switch formControlName="ingressController" class="mr-3"></nz-switch>Bật Ingress Controller
              </nz-form-control>
              <small>Tích hợp NGINX ingress controller</small>
            </nz-form-item> -->
          </div>

          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-control>
                <nz-switch formControlName="autoHealing" class="mr-3"></nz-switch>Bật Auto Healing
              </nz-form-control>
              <small>Sản sinh ra các worker khi nó gặp sự cố (Tắt nguồn, sự cố mạng, hệ điều hành bị treo, quá tải).</small>
            </nz-form-item>
          </div>
        </div>

        <h3 class="mt-5">Cấu hình worker group</h3>

        <div formArrayName="workerGroup" *ngFor="let control of listFormWorkerGroup.controls; let i = index;">
          <ng-container [formGroupName]="i">
            <div nz-row [nzGutter]="16">
              <div nz-col [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="workerGroupName">Tên nhóm worker</nz-form-label>
                  <nz-form-control [nzErrorTip]="workerGroupNameErrorTpl">
                    <input type="text" nz-input placeholder="Nhập tên nhóm worker" formControlName="workerGroupName"
                      (ngModelChange)="checkDuplicate(i)" id="workerGroupName" />
                  </nz-form-control>
                  <ng-template #workerGroupNameErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Tên nhóm worker không để trống
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicateName')">
                      Tên nhóm worker đã tồn tại
                    </ng-container>
                    <ng-container *ngIf="control.hasError('maxlength')">
                      Tên nhóm worker tối đa 16 ký tự
                    </ng-container>
                  </ng-template>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label nzRequired nzFor="configType">Cấu hình</nz-form-label>
                  <nz-form-control>
                    <nz-select nzShowSearch nzPlaceHolder="Chọn cấu hình" formControlName="configType" id="configType"
                      (ngModelChange)="onSelectWorkerType($event, i)">
                      <nz-option *ngFor="let item of listOfWorkerType"
                        nzLabel="{{item.machineName}} ({{item.cpu}} CPU - {{item.ram}} GB RAM)" [nzValue]="item.machineName"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

                <ng-container *ngIf="isAutoScaleEnable">
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="nodes">Số node tối thiểu</nz-form-label>
                    <nz-form-control [nzErrorTip]="minimumNodeErrorTpl">
                      <input type="text" nz-input placeholder="Nhập số node tối thiểu" formControlName="minimumNode"
                        (keypress)="isNumber($event)" (ngModelChange)="onChangeNodeValue(i)" />
                    </nz-form-control>
                    <ng-template #minimumNodeErrorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Số node tối thiểu không để trống
                      </ng-container>
                      <ng-container *ngIf="control.hasError('invalid')">
                        Số node tối thiểu không lớn hơn số node tối đa
                      </ng-container>
                    </ng-template>
                  </nz-form-item>
                </ng-container>

                <nz-form-item>
                  <nz-form-label nzFor="volumeType">Loại ổ cứng</nz-form-label>
                  <nz-form-control>
                    <nz-radio-group formControlName="volumeType" (ngModelChange)="onSelectVolumeType($event, i)">
                      <ng-container *ngFor="let item of listOfVolumeType">
                        <label nz-radio [nzValue]="item.volumeType" id="volumeType">
                          {{item.volumeTypeName}}
                        </label>
                      </ng-container>
                    </nz-radio-group>

                    <!-- remove btn -->
                    <ng-container *ngIf="listFormWorkerGroup.length > 1">
                      <button nz-button nzType="text" nzTooltipTitle="Xóa nhóm worker" nzTooltipPlacement="top"
                        nz-tooltip class="borderless delete-icon remove-btn" (click)="removeWorkerGroup(i)">
                        <span nz-icon nzType="delete"></span>
                      </button>
                    </ng-container>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div nz-col [nzSpan]="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="nodes">Số node</nz-form-label>
                  <nz-form-control nzErrorTip="Số node không để trống">
                    <input type="text" nz-input placeholder="Nhập số node" formControlName="nodeNumber"
                      (keypress)="isNumber($event)" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label nzRequired nzFor="volume">Ổ cứng (GB)</nz-form-label>
                  <nz-form-control [nzErrorTip]="volumeStorageErrorTpl">
                    <input type="text" nz-input placeHolder="Nhập dung lượng ổ cứng"
                      formControlName="volumeStorage" id="volume" (keypress)="isNumber($event)" />
                  </nz-form-control>
                  <ng-template #volumeStorageErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Dung lượng ổ cứng không để trống
                    </ng-container>
                    <ng-container *ngIf="control.hasError('min') || control.hasError('max')">
                      Dung lượng trong khoảng từ 20-1000 (GB)
                    </ng-container>
                  </ng-template>
                </nz-form-item>

                <ng-container *ngIf="isAutoScaleEnable">
                  <nz-form-item>
                    <nz-form-label nzRequired nzFor="nodes">Số node tối đa</nz-form-label>
                    <nz-form-control nzErrorTip="Số node tối đa không để trống">
                      <input type="text" nz-input placeholder="Nhập số node tối đa" formControlName="maximumNode"
                        (keypress)="isNumber($event)" (ngModelChange)="onChangeNodeValue(i)" />
                    </nz-form-control>
                  </nz-form-item>
                </ng-container>
              </div>
            </div>

            <nz-divider class="divider-style"></nz-divider>
          </ng-container>
        </div>

        <button nz-button nzType="default" class="border-button" (click)="addWorkerGroup()">
          <span nz-icon nzType="plus" nzTheme="outline"></span>
          Thêm worker group
        </button>

      </nz-card>

      <!-- network -->
      <nz-card class="border-card">
        <h3>Cấu hình Network</h3>
        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="networkType">Loại network</nz-form-label>
              <nz-form-control nzErrorTip="Loại network không để trống">
                <nz-select nzShowSearch nzPlaceHolder="Chọn loại network" formControlName="networkType"
                  id="networkType">
                  <nz-option nzLabel="Calico" nzValue="calico"></nz-option>
                  <nz-option nzLabel="Cilium" nzValue="cilium"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzRequired nzFor="vpcNetwork">Mạng VPC</nz-form-label>
              <nz-form-control nzErrorTip="Mạng VPC không để trống">
                <nz-select nzShowSearch nzPlaceHolder="Chọn mạng VPC" formControlName="vpcNetwork" id="vpcNetwork"
                  class="w-90" (ngModelChange)="onSelectedVlan($event)">
                  <nz-option *ngFor="let item of listOfVPCNetworks" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                </nz-select>
                <button nz-button nzType="text" nzTooltipTitle="Đồng bộ" nzTooltipPlacement="top"
                  nz-tooltip (click)="syncVPCNetwork()" class="borderless">
                  <span nz-icon class="icon-color">
                    <svg viewBox="64 64 896 896" focusable="false">
                      <path
                        d="M168 504.2c1-43.7 10-86.1 26.9-126 17.3-41 42.1-77.7 73.7-109.4S337 212.3 378 195c42.4-17.9 87.4-27 133.9-27s91.5 9.1 133.8 27A341.5 341.5 0 01755 268.8c9.9 9.9 19.2 20.4 27.8 31.4l-60.2 47a8 8 0 003 14.1l175.7 43c5 1.2 9.9-2.6 9.9-7.7l.8-180.9c0-6.7-7.7-10.5-12.9-6.3l-56.4 44.1C765.8 155.1 646.2 92 511.8 92 282.7 92 96.3 275.6 92 503.8a8 8 0 008 8.2h60c4.4 0 7.9-3.5 8-7.8zm756 7.8h-60c-4.4 0-7.9 3.5-8 7.8-1 43.7-10 86.1-26.9 126-17.3 41-42.1 77.8-73.7 109.4A342.45 342.45 0 01512.1 856a342.24 342.24 0 01-243.2-100.8c-9.9-9.9-19.2-20.4-27.8-31.4l60.2-47a8 8 0 00-3-14.1l-175.7-43c-5-1.2-9.9 2.6-9.9 7.7l-.7 181c0 6.7 7.7 10.5 12.9 6.3l56.4-44.1C258.2 868.9 377.8 932 512.2 932c229.2 0 415.5-183.7 419.8-411.8a8 8 0 00-8-8.2z" />
                    </svg>
                  </span>
                </button>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="cidr">CIDR</nz-form-label>
              <nz-form-control nzErrorTip="CIDR không để trống">
                <input type="text" nz-input formControlName="cidr" readonly />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzRequired nzFor="subnet">Subnet</nz-form-label>
              <nz-form-control nzErrorTip="Subnet không để trống">
                <nz-select nzShowSearch nzPlaceHolder="Chọn subnet" formControlName="subnet" id="subnet" class="w-90">
                  <nz-option *ngFor="let item of listOfSubnets" [nzLabel]="item.name" [nzValue]="item.subnetAddressRequired"></nz-option>
                </nz-select>
                <button nz-button nzType="text" nzTooltipTitle="Đồng bộ" nzTooltipPlacement="top"
                  nz-tooltip (click)="syncSubnet()" class="borderless">
                  <span nz-icon class="icon-color">
                    <svg viewBox="64 64 896 896" focusable="false">
                      <path
                        d="M168 504.2c1-43.7 10-86.1 26.9-126 17.3-41 42.1-77.7 73.7-109.4S337 212.3 378 195c42.4-17.9 87.4-27 133.9-27s91.5 9.1 133.8 27A341.5 341.5 0 01755 268.8c9.9 9.9 19.2 20.4 27.8 31.4l-60.2 47a8 8 0 003 14.1l175.7 43c5 1.2 9.9-2.6 9.9-7.7l.8-180.9c0-6.7-7.7-10.5-12.9-6.3l-56.4 44.1C765.8 155.1 646.2 92 511.8 92 282.7 92 96.3 275.6 92 503.8a8 8 0 008 8.2h60c4.4 0 7.9-3.5 8-7.8zm756 7.8h-60c-4.4 0-7.9 3.5-8 7.8-1 43.7-10 86.1-26.9 126-17.3 41-42.1 77.8-73.7 109.4A342.45 342.45 0 01512.1 856a342.24 342.24 0 01-243.2-100.8c-9.9-9.9-19.2-20.4-27.8-31.4l60.2-47a8 8 0 00-3-14.1l-175.7-43c-5-1.2-9.9 2.6-9.9 7.7l-.7 181c0 6.7 7.7 10.5 12.9 6.3l56.4-44.1C258.2 868.9 377.8 932 512.2 932c229.2 0 415.5-183.7 419.8-411.8a8 8 0 00-8-8.2z" />
                    </svg>
                  </span>
                </button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

      </nz-card>

      <!-- volume -->
      <nz-card class="border-card">
        <h3>Cấu hình volume</h3>
        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="volumeCloud">Kích thước (GB)</nz-form-label>
              <nz-form-control nzErrorTip="Kích thước volume không để trống">
                <input type="text" nz-input formControlName="volumeCloud" placeholder="Nhập kích thước volume" id="volumeCloud" />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzRequired nzFor="usageTime">Thời gian sử dụng - Tháng</nz-form-label>
              <nz-form-control nzErrorTip="Thời gian sử dụng không để trống">
                <nz-select nzShowSearch nzPlaceHolder="Chọn thời gian sử dụng" formControlName="usageTime" id="usageTime">
                  <nz-option *ngFor="let item of listOfUsageTime" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="volumeCloudType">Loại</nz-form-label>
              <nz-form-control>
                <nz-radio-group formControlName="volumeCloudType">
                  <label nz-radio nzValue="hdd">HDD</label>
                  <label nz-radio nzValue="sdd">SDD</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>

            <div>
              <p class="padtop-35">Thời gian bắt đầu sử dụng: {{currentDate}}</p>
            </div>
          </div>
        </div>

      </nz-card>

    </form>
  </div>

  <!-- payment -->
  <div nz-col [nzSpan]="8" class="gutter-row">
    <nz-card>
      <nz-tabset>
        <!-- tab summary -->
        <nz-tab nzTitle="Tóm tắt">
          <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="12">
              <div class="ml-3">Tên cluster</div>
            </div>
            <div nz-col [nzSpan]="12">
              <div class="price-style mr-3">{{clusterName}}</div>
            </div>
          </div>

          <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="12">
              <div class="mt-3 ml-3">Phiên bản Kubernetes</div>
            </div>
            <div nz-col [nzSpan]="12">
              <div class="price-style mt-3 mr-3">{{kubernetesVersion}}</div>
            </div>
          </div>

          <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="12">
              <div class="mt-3 ml-3">Khu vực</div>
            </div>
            <div nz-col [nzSpan]="12">
              <div class="price-style mt-3 mr-3">local</div>
            </div>
          </div>

          <nz-divider class="divider-style"></nz-divider>
          <h3>Cấu hình nâng cao</h3>

          <div class="scroll scrollbar">
            <ng-container *ngFor="let control of listFormWorkerGroup.controls; let i = index;">
              <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="12">
                  <div class="ml-3">Tên nhóm worker</div>
                </div>
                <div nz-col [nzSpan]="12">
                  <div class="price-style mr-3">{{control.get('workerGroupName').value}}</div>
                </div>
              </div>

              <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="12">
                  <div class="mt-3 ml-3">Số node</div>
                </div>
                <div nz-col [nzSpan]="12">
                  <div class="price-style mt-3 mr-3">{{control.get('nodeNumber').value}}</div>
                </div>
              </div>

              <ng-container *ngIf="isAutoScaleEnable">
                <div nz-row [nzGutter]="8">
                  <div nz-col [nzSpan]="12">
                    <div class="mt-3 ml-3">Số node tối thiểu</div>
                  </div>
                  <div nz-col [nzSpan]="12">
                    <div class="price-style mt-3 mr-3">{{control.get('minimumNode').value}}</div>
                  </div>
                </div>
                <div nz-row [nzGutter]="8">
                  <div nz-col [nzSpan]="12">
                    <div class="mt-3 ml-3">Số node tối đa</div>
                  </div>
                  <div nz-col [nzSpan]="12">
                    <div class="price-style mt-3 mr-3">{{control.get('maximumNode').value}}</div>
                  </div>
                </div>
              </ng-container>

              <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="12">
                  <div class="mt-3 ml-3">Cấu hình</div>
                </div>
                <div nz-col [nzSpan]="12">
                  <div class="price-style mt-3 mr-3">{{control.get('configType').value}}</div>
                </div>
              </div>

              <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="12">
                  <div class="mt-3 ml-3">Ổ cứng (GB)</div>
                </div>
                <div nz-col [nzSpan]="12">
                  <div class="price-style mt-3 mr-3">{{control.get('volumeStorage').value}}</div>
                </div>
              </div>

              <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="12">
                  <div class="mt-3 ml-3">Loại ổ cứng</div>
                </div>
                <div nz-col [nzSpan]="12">
                  <div class="price-style mt-3 mr-3">
                    {{control.get('volumeType').value === DEFAULT_VOLUME_TYPE ? 'Premium-HDD1' : 'Premium-SSD1'}}
                  </div>
                </div>
              </div>
              <nz-divider [nzDashed]="true"></nz-divider>
            </ng-container>
          </div>
        </nz-tab>

        <!-- tab into money -->
        <nz-tab nzTitle="Thành tiền">

        </nz-tab>
      </nz-tabset>

      <div>
        <div nz-row [nzGutter]="8" class="mt-5 price-panel">
          <div nz-col [nzSpan]="12">
            <div class="mt-3 ml-3">Thành tiền</div>
            <div class="mt-1 ml-3 mb-3 unit-color"><i>(Đã bao gồm 10% VAT)</i></div>
          </div>
          <div nz-col [nzSpan]="12">
            <div class="price-style total-color mt-3 mr-3">2.500.000 VNĐ</div>
            <div class="price-style unit-color mr-3">VNĐ/tháng</div>
          </div>
        </div>

        <div nz-row class="mt-5" [nzGutter]="16" nzJustify="center">
          <div nz-col [nzSpan]="12">
            <button nz-button nzType="default" nzBlock class="border-button" (click)="onCancelCreate()">
              <span nz-icon nzType="close" nzTheme="outline"></span>
              Hủy
            </button>
          </div>

          <div nz-col [nzSpan]="12">
            <button nz-button nzType="primary" nzBlock class="border-button" (click)="onSubmitPayment()" [disabled]="myform.invalid">
              <ng-container *ngIf="isSubmitting; else paymentIconTpl">
                <span nz-icon [nzType]="'loading'"></span>
                </ng-container>
                <ng-template #paymentIconTpl>
                  <span nz-icon>
                    <svg viewBox="64 64 896 896" focusable="false">
                      <path
                        d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-32 464H528V448h320v128zm-268-64a40 40 0 1080 0 40 40 0 10-80 0z" />
                    </svg>
                  </span>
                </ng-template>
              Thanh toán
            </button>
          </div>
        </div>
      </div>
    </nz-card>

    <!-- payment -->
    <!-- <nz-card class="border-card ">
      <h3>Thành tiền</h3>
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div class="mt-3 ml-3">Chi phí máy ảo:</div>
        </div>

        <div nz-col [nzSpan]="12">
          <div class="price-style price-color mt-3 mr-3">1.000.000 VNĐ</div>
          <div class="price-style unit-color mr-3">VNĐ/tháng</div>
        </div>
      </div>

      <nz-divider class="divider-style"></nz-divider>

      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <div class="mt-3 ml-3">Chi phí Volume bổ sung:</div>
        </div>

        <div nz-col [nzSpan]="12">
          <div class="price-style price-color mt-3 mr-3">1.000.000 VNĐ</div>
          <div class="price-style unit-color mr-3">VNĐ/tháng</div>
        </div>
      </div>
    </nz-card> -->
  </div>
</div>
