
::ng-deep .ant-alert-with-description .ant-alert-message {
  font-weight: 700;
}

::ng-deep .ant-alert-with-description {
  align-items: center;
}

.otp-text {
  font-size:16px;
  font-weight: 700;
  line-height: 20px;
  width: 30%;
}

.fa-text {
  font-size:16px;
  font-weight: 400;
  line-height: 20px;
}

.create-text {
  color: #0066B3;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.recreate-text {
  color: #0066B3;
  font-weight: 700;
  cursor: pointer;
}

.support {
  font-size:16px;
  font-weight: 400;
  line-height: 20px;
  font-style: italic;
}



::ng-deep .security-content .ant-alert-description{
  font-size:16px;
}

.btn-bg{
  background-color: #0074CC;
}

::ng-deep .ant-form-item-label > label::after{
  content: '';
}
