<div>
    <div >
      <form nz-form [formGroup]="myForm" (ngOnSubmit)="submit()" nzLayout="vertical">


        <div nz-col>
          <nz-form-item>
            <nz-form-label
              nzSpan="6"
              nzFor="createName"
              nzLabelAlign="left"
              nzRequired
              >Tên quyền
            </nz-form-label>
            <nz-form-control nzSpan="24" [nzErrorTip]="createNameError">
              <input
                style="width: 92%"
                formControlName="createName"
                nz-input
                id="createName"
                placeholder="Nhập tên quyền"
              />
            </nz-form-control>

            <ng-template #createNameError let-control>
              <ng-container *ngIf="control.hasError('required')">
                Tên quyền không được để trống.
              </ng-container>
              <ng-container *ngIf="control.hasError('pattern')">
                Tên quyền chỉ bao gồm: chữ, số, '_', '-' và tối đa 256 ký tự.
              </ng-container>
              <ng-container *ngIf="control.hasError('maxLength')">
                Tên quyền chỉ bao gồm: chữ, số, '_', '-' và tối đa 256 ký tự.
              </ng-container>
            </ng-template>
          </nz-form-item>
        </div>

        <div nz-row class="mt-3 mb-2" style="font-size: 16px;">
          <div nz-col [nzSpan]="11">
          <span nz-typography
          ><strong>Danh sách phân quyền</strong>
            <span nz-typography nzType="danger"><strong>*</strong></span>
          </span>
          </div>

          <div nz-col [nzSpan]="11">
          <span nz-typography
          ><strong>Danh sách database</strong>
            <span nz-typography nzType="danger"><strong>*</strong></span>
          </span>
          </div>
        </div>

        <div
          formArrayName="bunchOfRole"
          *ngFor="let role of bunchOfRole?.controls; let i = index">
          <div [formGroup]="role">
            <div nz-row [nzGutter]="[8, 24]">
              <div nz-col [nzSpan]="11">
                <nz-form-item>

                  <nz-form-control>
                    <nz-tree-select
                      formControlName = "privileges"
                      [nzNodes]="bunchOfTreeNodePrivileges[i]"
                      nzShowSearch
                      nzCheckable
                      placeholder="Chọn quyền"
                      [ngModel]="privilegesCheckKey[i]"
                      (ngModelChange)="onChangePrivileges($event, i)"
                      [nzMultiple]="true"
                    ></nz-tree-select>
                  </nz-form-control>

                </nz-form-item>
              </div>

              <div nz-col [nzSpan]="11">
                <nz-form-item>

                  <nz-form-control>
                    <nz-tree-select
                      formControlName="database"
                      nzShowSearch
                      [nzNodes]="bunchOfTreeNodeDatabase[i]"
                      [(ngModel)]="databaseCheckKey[i]"
                      nzCheckable
                      placeholder="Chọn database"
                      [nzMultiple]="true"
                    ></nz-tree-select>
                  </nz-form-control>

                </nz-form-item>
              </div>

              <div nz-col [nzSpan]="2">
                <button nz-button (click)="delete(i)" nzType="text" nzShape="circle" nzDanger>
                  <img  src="assets/imgs/trash1.svg" alt="" style="cursor: pointer;"  />
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div style="margin-top: 2%">
      <button nz-button nzType="text" (click)="add()">
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        Thêm danh sách quyền
      </button>
    </div>

    <div nz-row nzJustify="end">
      <div>
        <button
          nz-button
          nzType="primary"
          type="button"
          (click)="closeDrawer()"
          nzGhost
        ><span nz-icon nzType="close" nzTheme="outline"></span>
          Hủy
        </button>
      </div>
      <div class="mx-5" nz-col>
        <button nz-button (click)="createRole()" nzType="primary" [disabled]="!myForm.valid">
          <!-- <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/confirm.svg" alt="" />Xác nhận -->
          <span nz-icon nzType="check" nzTheme="outline"></span>Cập nhật
        </button>
      </div>
    </div>
  </div>
