<form
  nz-form
  [formGroup]="form"
  [nzNoColon]="true"
  (ngSubmit)="submit()"
  role="form"
>
  <div class="text-right">
    <nz-select
      title="{{ 'app.register.project' | i18n }}"
      [(ngModel)]="langRegister"
      (ngModelChange)="changelang()"
      [ngModelOptions]="{ standalone: true }"
      nzPlaceHolder="{{ 'app.register.project' | i18n }}"
      style="width: 110px"
      [nzCustomTemplate]="langRegister === 'en-US' ? customSelectLanguageEng : customSelectLanguageVi"
    >
      <nz-option nzCustomContent nzValue="en-US" nzLabel="ENG">
        <img src="assets/imgs/ang-ic.png" alt="" />
        ENG
      </nz-option>
      <nz-option nzCustomContent nzValue="vi-VI" nzLabel="VI">
        <img src="assets/imgs/vietnam-ic.png" alt="" />
        VI
      </nz-option>
      <ng-template #iconSelect>
        <img src="assets/imgs/vietnam-tron.png" alt="" />
      </ng-template>
      <ng-template #iconSelect1>
        <img src="assets/imgs/ang-ic.png" alt="" />
      </ng-template>
    </nz-select>
    <ng-template #customSelectLanguageEng>
      <img style="margin-right: 5px;" src="assets/imgs/ang-ic.png" alt="" />
      ENG
    </ng-template>
    <ng-template #customSelectLanguageVi>
      <img style="margin-right: 5px;" src="assets/imgs/vietnam-ic.png" alt="" />
      VI
    </ng-template>
  </div>
  <h1 class="text-font text-title">{{ 'app.register.register' | i18n }}</h1>
  <p class="text-font text-des">{{ 'app.register.des' | i18n }}</p>
  <nz-alert
    *ngIf="error"
    [nzType]="'error'"
    [nzMessage]="error"
    [nzShowIcon]="true"
    class="mb-lg"
  />
  <nz-form-item>
    <nz-form-control [nzErrorTip]="mailErrorTip">
      <nz-form-label
        >{{ 'app.register.email.label' | i18n }}(<span style="color: red"
          >*</span
        >)</nz-form-label
      >
      <nz-input-group nzSize="large" nzAddonBeforeIcon="user">
        <input
          [autofocus]="true"
          nz-input
          formControlName="mail"
          placeholder="{{ 'app.register.email.press' | i18n }}"
        />
      </nz-input-group>
      <ng-template #mailErrorTip let-i>
        <ng-container *ngIf="i.errors?.required"
          >{{ 'validation.email.required' | i18n }}
        </ng-container>
        <ng-container *ngIf="i.errors?.email"
          >{{ 'validation.email.wrong-format' | i18n }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="passErrorTpl">
      <nz-form-label
        >{{ 'app.password' | i18n }}(<span style="color: red">*</span>)
      </nz-form-label>
      <nz-input-group
        nzSize="large"
        nzAddonBeforeIcon="lock"
        nz-popover
        nzPopoverPlacement="right"
        nzPopoverTrigger="focus"
        [(nzPopoverVisible)]="visible"
        nzPopoverOverlayClassName="register-password-cdk"
        [nzPopoverOverlayStyle]="{ 'width.px': 240 }"
        [nzSuffix]="suffixTemplate"
      >
        <input
          nz-input
          [type]="passwordVisible ? 'text' : 'password'"
          formControlName="password"
          [maxlength]="16"
          placeholder="{{ 'app.input.password' | i18n }}"
        />
      </nz-input-group>
      <ng-template #passErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')"
          >{{ 'validation.password.required' | i18n }}
        </ng-container>
        <ng-container *ngIf="control.hasError('validPassword')"
          >{{ 'validation.password.account.pattern' | i18n }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="confirmErrorTip">
      <nz-form-label
        >{{ 'app.register.pass.try' | i18n }}(<span style="color: red">*</span
        >)</nz-form-label
      >
      <nz-input-group
        nzSize="large"
        nzAddonBeforeIcon="lock"
        [nzSuffix]="suffixTemplate1"
      >
        <input
          nz-input
          [type]="passwordVisible1 ? 'text' : 'password'"
          formControlName="confirm"
          [maxlength]="16"
          placeholder="{{ 'app.register.pass.try' | i18n }}"
        />
      </nz-input-group>
      <ng-template #confirmErrorTip let-i>
        <ng-container *ngIf="i.errors?.required"
          >{{ 'validation.confirm-password.required' | i18n }}
        </ng-container>
        <ng-container *ngIf="i.errors?.matchControl"
          >{{ 'validation.password.twice' | i18n }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <!--  <nz-form-item>-->
  <!--    <nz-form-control [nzErrorTip]="mobileErrorTip">-->
  <!--      <nz-input-group nzSize="large" [nzAddOnBefore]="addOnBeforeTemplate">-->
  <!--        <ng-template #addOnBeforeTemplate>-->
  <!--          <nz-select formControlName="mobilePrefix" style="width: 100px">-->
  <!--            <nz-option [nzLabel]="'+86'" [nzValue]="'+86'"/>-->
  <!--            <nz-option [nzLabel]="'+87'" [nzValue]="'+87'"/>-->
  <!--          </nz-select>-->
  <!--        </ng-template>-->
  <!--        <input formControlName="mobile" nz-input placeholder="Phone number"/>-->
  <!--      </nz-input-group>-->
  <!--      <ng-template #mobileErrorTip let-i>-->
  <!--        <ng-container *ngIf="i.errors?.required">{{ 'validation.phone-number.required' | i18n }}</ng-container>-->
  <!--        <ng-container *ngIf="i.errors?.pattern">{{ 'validation.phone-number.wrong-format' | i18n }}</ng-container>-->
  <!--      </ng-template>-->
  <!--    </nz-form-control>-->
  <!--  </nz-form-item>-->
  <!--    <nz-form-item>-->
  <!--      <nz-form-control [nzErrorTip]="'validation.verification-code.required' | i18n">-->
  <!--        <nz-row [nzGutter]="8">-->
  <!--          <nz-col [nzSpan]="16">-->
  <!--            <nz-input-group nzSize="large" nzAddonBeforeIcon="mail">-->
  <!--              <input nz-input formControlName="captcha" placeholder="Captcha"/>-->
  <!--            </nz-input-group>-->
  <!--          </nz-col>-->
  <!--          <nz-col [nzSpan]="8">-->
  <!--            <button type="button" nz-button nzSize="large" (click)="getCaptcha()" [disabled]="count > 0" nzBlock-->
  <!--                    [nzLoading]="loading">-->
  <!--              {{ count ? count + 's' : ('app.register.get-verification-code' | i18n) }}-->
  <!--            </button>-->
  <!--          </nz-col>-->
  <!--        </nz-row>-->
  <!--      </nz-form-control>-->
  <!--    </nz-form-item>-->

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="'form.account.validate.name' | i18n">
          <nz-form-label
            >{{ 'app.register.firstName' | i18n }}(<span style="color: red">*</span>)
          </nz-form-label>
          <nz-input-group nzSize="large">
            <input
              nz-input
              [maxlength]="20"
              formControlName="firstName"
              placeholder="{{ 'app.input.name' | i18n }}"
            />
          </nz-input-group>
          <ng-template #nameErrorTip let-i>
            <ng-container *ngIf="i.errors?.required"
              >{{ 'form.account.validate.name' | i18n }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="'form.account.validate.surname' | i18n">
          <nz-form-label
            >{{ 'app.register.lastName' | i18n }}(<span style="color: red"
              >*</span
            >)
          </nz-form-label>
          <nz-input-group nzSize="large">
            <input
              [maxlength]="20"
              nz-input
              formControlName="lastName"
              placeholder="{{ 'app.register.surname.label' | i18n }}"
            />
          </nz-input-group>
          <ng-template #lastNameErrorTip let-i>
            <ng-container *ngIf="i.errors?.required"
              >{{ 'form.account.validate.surname' | i18n }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="provinceErrorTip">
      <nz-form-label
        >{{ 'app.register.address.select' | i18n }}(<span style="color: red"
          >*</span
        >)</nz-form-label
      >
      <nz-input-group nzSize="large">
        <nz-select
          nzSize="large"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="{{ 'app.register.address.select' | i18n }}"
          [(ngModel)]="province"
          [ngModelOptions]="{ standalone: true }"
        >
          <nz-option
            *ngFor="let i of provinces"
            [nzLabel]="i.name"
            [nzValue]="i.name"
          />
        </nz-select>
      </nz-input-group>
      <ng-template #provinceErrorTip let-i>
        <ng-container *ngIf="i.errors?.required"
          >{{ 'validation.province.required' | i18n }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="mobileErrorTip">
      <nz-form-label
        >{{ 'form.account.phone' | i18n }}(<span style="color: red">*</span
        >)</nz-form-label
      >
      <nz-input-group nzSize="large">
        <!--              <nz-input-group nzSize="large" [nzAddOnBefore]="addOnBeforeTemplate">-->
        <!--                <ng-template #addOnBeforeTemplate>-->
        <!--                  <nz-select formControlName="mobilePrefix" style="width: 100px">-->
        <!--                    <nz-option [nzLabel]="'+84'" [nzValue]="'+84'"/>-->
        <!--&lt;!&ndash;                    <nz-option [nzLabel]="'+87'" [nzValue]="'+87'"/>&ndash;&gt;-->
        <!--                  </nz-select>-->
        <!--                </ng-template>-->
        <input
          formControlName="mobile"
          nz-input
          placeholder="{{ 'app.register.phone.babel' | i18n }}"
        />
      </nz-input-group>
      <ng-template #mobileErrorTip let-i>
        <ng-container *ngIf="i.hasError('required')"
          >{{ 'validation.phone-number.required' | i18n }}
        </ng-container>
        <ng-container *ngIf="i.hasError('validPhoneNumber')"
          >{{ 'validation.phone-number.wrong-format' | i18n }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <!--  <nz-form-item>-->
  <!--    <nz-collapse class="top-bot-border" style="width: 100%" [nzGhost]="true" [nzBordered]="false"-->
  <!--                 [nzExpandIconPosition]="'right'">-->
  <!--      <nz-collapse-panel-->
  <!--        [nzHeader]="panel.name"-->
  <!--        [nzActive]="panel.active"-->
  <!--        [nzDisabled]="panel.disabled">-->
  <!--      </nz-collapse-panel>-->
  <!--    </nz-collapse>-->
  <!--  </nz-form-item>-->

  <nz-form-item>
    <re-captcha
      formControlName="recaptchaReactive"
      (resolved)="addTokenLog('Reactive form mode resolved', $event)"
    >
    </re-captcha>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="agreement">
        <!--        <span>{{ 'app.register.agreement' | i18n }}</span>-->
        <span class="text-agreement">
          {{ 'app.register.1' | i18n }}
          <a
            (click)="navigateToTerm($event)"
            >{{ 'app.register.2' | i18n }}
          </a></span
        >
      </label>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <button
      [disabled]="
        form.invalid || this.form.controls['agreement'].value !== true
      "
      nz-button
      nzType="primary"
      nzSize="large"
      type="submit"
      [nzLoading]="loading"
      class="submit"
    >
      {{ 'app.register.register' | i18n }}
    </button>
  </nz-form-item>

  <nz-form-item style="margin-top: 30px; justify-content: center">
    <!--    <a class="login" routerLink="/passport/login" style="color: #0066b0">-->
    <!--      <span style="color: #555555">{{'app.register.3' | i18n}},</span>-->
    <!--      {{ 'app.register.sign-in' | i18n }}-->
    <!--    </a>-->
    <div class="login">
      {{ 'app.register.3' | i18n }},
      <b
        ><a
          href="/passport/login"
          style="color: #0066b0; text-decoration: underline"
          >{{ 'app.register.sign-in' | i18n }}</a
        ></b
      >
    </div>
  </nz-form-item>

  <ng-template #suffixTemplate>
    <img
      style="margin-top: -4px"
      [src]="
        passwordVisible ? 'assets/imgs/eye-close.svg' : 'assets/imgs/eye1.svg'
      "
      alt=""
      (click)="passwordVisible = !passwordVisible"
    />
  </ng-template>
  <ng-template #suffixTemplate1>
    <img
      style="margin-top: -4px"
      [src]="
        passwordVisible1 ? 'assets/imgs/eye-close.svg' : 'assets/imgs/eye1.svg'
      "
      alt=""
      (click)="passwordVisible1 = !passwordVisible1"
    />
  </ng-template>
</form>
