<page-header [breadcrumb]="breadcrumb"
             [action]="action"
             [title]="title">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Trang chủ</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Dịch vụ hạ tầng
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Backup
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/backup/packages">Tạo gói Backup</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
  <ng-template #title>
    <div nz-row nzJustify="space-between">
      <nz-row>
        <nz-col>
          <span nz-icon
                nzType="arrow-left"
                nzTheme="outline"
                [routerLink]="'/app-smart-cloud/backup/packages'"
                style="margin-right: 10px;"></span>
        </nz-col>
        <nz-col>
          <div style="color: #035DED;">Tạo gói Backup</div>
        </nz-col>
      </nz-row>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <form nz-form [formGroup]="validateForm" nzLayout="vertical">
    <nz-row nzGutter="24">
      <nz-col nzSpan="16">
        <nz-card>
          <h3>Thông tin của gói Backup</h3>
          <nz-form-item>
            <nz-form-label nzFor="name">
              <div style="margin-top: 15px;">
                <span>Tên gói Backup</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <span nz-icon nzType="question-circle" nzTheme="outline"></span>
              </div>
            </nz-form-label>
            <nz-form-control nzDisableAutoTips [nzErrorTip]="nameErrorTpl">
              <input nz-input
                     formControlName="namePackage"
                     [placeholder]="'Nhập tên gói'" [maxLength]="70"/>
              <ng-template #nameErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Vui lòng nhập tên gói Backup</ng-container>
                <ng-container *ngIf="control.hasError('pattern')">Không bao gồm ký tự đặc biệt, dấu cách, dấu tiếng
                  Việt
                </ng-container>
                <ng-container *ngIf="control.hasError('maxLength')">Tối đa 70 ký tự</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="storage">
              <div class="label">
                <span>Dung lượng gói Backup</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <span nz-icon nzType="question-circle" nzTheme="outline"></span>
              </div>
            </nz-form-label>
            <nz-form-control nzDisableAutoTips [nzErrorTip]="storageErrorTpl">
              <nz-input-number formControlName="storage"
                               id="storage"
                               style="width: 100%;"
                               [nzMin]="1"
                               [nzStep]="1"/>
              <ng-template #storageErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Vui lòng nhập dung lượng của gói Backup
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="description">
              <div class="label">
                <span>Mô tả</span>
              </div>
            </nz-form-label>
            <nz-form-control nzDisableAutoTips [nzErrorTip]="descriptionErrorTpl">
          <textarea nz-input
                    formControlName="description"
                    id="description"
                    [placeholder]="'Nhập mô tả'"
                    [maxLength]="255"
                    [nzAutosize]="{ minRows: 3, maxRows: 5 }">
          </textarea>
              <ng-template #descriptionErrorTpl let-control>
                <ng-container *ngIf="control.hasError('maxlength')">Cho phép nhập tối đa 255 kí tự</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-row nzGutter="24">
            <nz-col nzSpan="16">
              <nz-form-item>
                <nz-form-label nzFor="time">
                  <div class="label">
                    <span>Thời gian sử dụng</span>
                    (<span style="color: rgba(252, 16, 16, 1); ">*</span>) - Tháng
                    <span nz-icon nzType="question-circle" nzTheme="outline"></span>
                  </div>
                </nz-form-label>
                <nz-form-control>
                  <nz-select formControlName="time"
                             id="time"
                             (ngModelChange)="onTimeSelected($event)"
                             [nzShowSearch]="false">
                    <nz-option *ngFor="let i of time" [nzLabel]="i.label" [nzValue]="i.value"/>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="8" class="create-date">
              <span>Ngày khởi tạo: {{backupPackageDate.createdDate | date: 'dd/MM/yyyy'}}</span>
            </nz-col>
          </nz-row>
          <nz-form-item>
            <nz-form-label nzFor="time">
              <div class="label">
                <span
                  style="color: rgba(252, 16, 16, 1);">Ngày hết hạn: {{backupPackageDate.expiredDate | date: 'dd/MM/yyyy'}}</span>
              </div>
            </nz-form-label>
          </nz-form-item>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-card>
          <h3>Thành tiền</h3>
          <nz-table>
            <tr>
              <td>Chi phí gói Backup</td>
              <td nzAlign="right">
                <b *ngIf="orderItem?.orderItemPrices?.length > 0">{{orderItem?.orderItemPrices[0].unitPrice.amount}} {{orderItem?.orderItemPrices[0].unitPrice.currency}}</b>
                <b *ngIf="orderItem?.orderItemPrices?.length <= 0">0 VNĐ</b>
              </td>
            </tr>
            <tr>
              <td></td>
              <td nzAlign="right">VNĐ/tháng</td>
            </tr>
            <tr>
              <td>Thành tiền</td>
              <td nzAlign="right" style="color: #EA3829;">
                <b *ngIf="orderItem != undefined">{{orderItem?.totalPayment?.amount}} {{orderItem?.totalPayment?.currency}}</b>
                <b *ngIf="orderItem == undefined">0 VNĐ</b>
              </td>
            </tr>
            <tr>
              <td><i>(Đã bao gồm 10% VAT)</i></td>
              <td nzAlign="right">VNĐ/tháng</td>
            </tr>
          </nz-table>
          <button class="btn-create" [disabled]="!validateForm.valid" (click)="submitForm()">
            <div style="color: white;line-height: 24px; word-wrap: break-word" >
              <span nz-icon nzType="wallet" nzTheme="outline"></span>
              Khởi tạo
            </div>
          </button>
        </nz-card>
      </nz-col>
    </nz-row>
  </form>

</nz-content>
