<page-header [breadcrumb]="breadcrumb"
             [action]="action"
             [title]="'app.backup.package.breadcrumb.create.backup.package'|i18n">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item [routerLink]="'/'">{{'app.breadcrumb.home'|i18n}}</nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ 'app.breadcrumb.infrastructure.service'|i18n }}</nz-breadcrumb-item>
      <nz-breadcrumb-item [routerLink]="'/app-smart-cloud/backup/packages'">{{'app.backup.package.breadcrumb.backup'|i18n}}</nz-breadcrumb-item>
      <nz-breadcrumb-item [routerLink]="'/app-smart-cloud/backup/packages'">{{'app.backup.package.breadcrumb.create.backup.package'|i18n}}</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               (userChanged)="userChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <form nz-form [formGroup]="validateForm" nzLayout="vertical">
    <nz-row nzGutter="24">
      <nz-col nzSpan="16">
        <nz-card style="border-radius: 8px;">
          <span class="text-card-header">{{'app.backup.package.information'|i18n}}</span>
          <nz-form-item>
            <nz-form-label nzFor="name">
              <div style="margin-top: 15px;">
                <span>{{'app.backup.package.name'|i18n}}</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img nz-popover
                     [nzPopoverContent]="'app.tooltip.backup.package.name'|i18n"
                     nzPopoverPlacement="bottom"
                     src="assets/imgs/pajamas_question.svg" alt="" />
              </div>
            </nz-form-label>
            <nz-form-control nzDisableAutoTips [nzErrorTip]="nameErrorTpl">
              <input nz-input
                     class="input-custom"
                     formControlName="namePackage"
                     [(ngModel)]="namePackage"
                     [placeholder]="'app.placeholder.backup.package.name'|i18n" [maxLength]="70" />
              <ng-template #nameErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">{{ 'app.backup.package.name.required'|i18n }}</ng-container>
                <ng-container *ngIf="control.hasError('pattern')">{{'app.backup.package.name.required'|i18n }}</ng-container>
                <ng-container *ngIf="control.hasError('maxLength')">{{ 'app.backup.package.name.required'|i18n }}</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="storage">
              <div class="label">
                <span>{{ 'app.backup.package.storage'|i18n }}</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img nz-popover
                     [nzPopoverContent]="'app.tooltip.backup.package.storage'|i18n"
                     nzPopoverPlacement="bottom"
                     src="assets/imgs/pajamas_question.svg" alt="" />
              </div>
            </nz-form-label>
            <nz-form-control nzDisableAutoTips [nzErrorTip]="storageErrorTpl">
              <nz-input-number formControlName="storage"
                               id="storage"
                               nzSize="large"
                               style="width: 100%; margin-left: 0;"
                               [ngModel]="storage"
                               [nzMin]="1"
                               [nzStep]="1" />
              <ng-template #storageErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">{{'app.backup.package.storage.required'|i18n}}</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="description">
              <div class="label">
                <span>{{'app.backup.package.description'|i18n}}</span>
              </div>
            </nz-form-label>
            <nz-form-control nzDisableAutoTips [nzErrorTip]="descriptionErrorTpl">
              <nz-textarea-count [nzMaxCharacterCount]="255">
                <textarea nz-input
                          formControlName="description"
                          class="input-custom"
                          [placeholder]="'app.placeholder.backup.package.description'|i18n"
                          [maxLength]="255"
                          [nzAutosize]="{ minRows: 3, maxRows: 5 }">
                </textarea>
              </nz-textarea-count>
              <ng-template #descriptionErrorTpl let-control>
                <ng-container *ngIf="control.hasError('maxlength')">{{'app.backup.package.description.maxLength'|i18n}}</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-row nzGutter="24">
            <nz-col nzSpan="16">
              <nz-form-item>
                <nz-form-label nzFor="time">
                  <div class="label">
                    <span>{{'app.backup.package.time.used'|i18n}}</span>
                    (<span style="color: rgba(252, 16, 16, 1); ">*</span>) - {{'app.Month'|i18n}}
                    <img nz-popover
                         [nzPopoverContent]="'app.placeholder.backup.package.time'|i18n"
                         nzPopoverPlacement="bottom"
                         src="assets/imgs/pajamas_question.svg" alt="" />
                  </div>
                </nz-form-label>
                <nz-form-control>
                  <nz-input-number formControlName="time"
                                   id="time"
                                   nzSize="large"
                                   style="width: 100%; margin-left: 0;"
                                   [nzMin]="1"
                                   [nzMax]="100"
                                   [nzStep]="1" />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="8" class="create-date">
              <span class="text-label"
                *ngIf="orderItem?.orderItemPrices?.length > 0">{{'app.backup.package.create.date'|i18n}}: {{ orderItem?.orderItemPrices[0]?.createdDate | date: 'dd/MM/yyyy' }}</span>
            </nz-col>
          </nz-row>
          <nz-form-item>
            <nz-form-label nzFor="time"  class="text-label">
                <span style="color: rgba(252, 16, 16, 1);"
                      *ngIf="orderItem?.orderItemPrices?.length > 0">{{'app.backup.package.expire.date'|i18n}}: {{ orderItem?.orderItemPrices[0]?.expiredDate | date: 'dd/MM/yyyy' }}</span>
            </nz-form-label>
          </nz-form-item>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="8" style="border-radius: 8px;">
        <nz-card style="border-radius: 8px;">
          <div style="margin-bottom: 20px">
            <span class="text-card-header">{{'app.estimated.cost'|i18n}}</span>
          </div>
          <div class="text-value">{{'app.backup.package.name'|i18n}}</div>
          <div style="margin-top: 10px" class="text-label">
            {{ validateForm.controls.namePackage.value }}
          </div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>

          <div class="text-value">{{'app.backup.package.storage'|i18n}}</div>
          <div style="margin-top: 10px" class="text-label">{{ validateForm.controls.storage.value }} GB</div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <nz-row style="margin-bottom: 10px" nzGutter="16">
            <nz-col nzSpan="16">
              <span class="text-value">{{'app.cost.a.month'|i18n}}</span>
            </nz-col>
            <nz-col class="text-right" nzSpan="8">
              <span *ngIf="orderItem?.orderItemPrices?.length <= 0" class="text-value" style="color: #0066b3"
                    nzAlign="right">
              0 VND
            </span>
              <span *ngIf="orderItem?.orderItemPrices?.length > 0" class="text-value" style="color: #0066b3"
                    nzAlign="right">
              {{ orderItem?.orderItemPrices[0].unitPrice.amount | number: '1.0-0' }} {{ orderItem?.orderItemPrices[0].unitPrice.currency }}
            </span>
            </nz-col>
          </nz-row>
          <nz-row
            style="
            margin-bottom: 20px;
            background-color: #cce9ff;
            padding: 16px 0 16px 0;
            border-radius: 8px;
          "
            nzGutter="16"
          >
            <nz-col nzSpan="16">
              <span class="text-label">{{'app.total.payment'|i18n}}</span><br />
              <span class="text-note-italicized">({{ 'app.include.vat'|i18n:{"vat":"10"} }})</span>
            </nz-col>
            <nz-col class="text-right" nzSpan="8">
              <span *ngIf="orderItem == undefined" class="text-value" style="color: #ea3829" nzAlign="right">
              0 VND
            </span>
              <span *ngIf="orderItem != undefined" class="text-value" style="color: #ea3829" nzAlign="right">
              {{ orderItem?.totalPayment?.amount | number: '1.0-0' }} {{ orderItem?.totalPayment?.currency }}
            </span>
            </nz-col>
          </nz-row>
          <nz-row>
            <nz-col style="width: 100%">
              <button style="width: 100%" nz-button nzSize="large" nzType="primary" (click)="navigateToPaymentSummary()"
                      [disabled]="validateForm.invalid">
                <img src="assets/imgs/wallet.svg" style="margin-right: 5px; padding-bottom: 5px;" />
                <span [style.color]="validateForm.invalid ? 'gray' : 'white'">{{'app.button.create'|i18n}}</span>
              </button>
            </nz-col>
          </nz-row>
        </nz-card>
      </nz-col>
    </nz-row>
  </form>

</nz-content>
