<page-header [breadcrumb]="breadcrumb"
             [action]="action"
             [title]="'app.backup.package.breadcrumb.resize'|i18n">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item [routerLink]="'/'">{{ 'app.breadcrumb.home' | i18n }}</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.breadcrumb.infrastructure.service' | i18n }}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item [routerLink]="'/app-smart-cloud/backup/packages'">
        {{'app.backup.package.breadcrumb.management'|i18n}}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item [routerLink]="'/app-smart-cloud/backup/packages/detail/' + idBackupPackage">
        {{'app.backup.package.breadcrumb.detail'|i18n}}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/backup/packages">{{'app.backup.package.breadcrumb.resize'|i18n}}</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <form nz-form [formGroup]="validateForm" nzLayout="vertical">
    <nz-row nzGutter="24">
      <nz-col nzSpan="16">
        <nz-card style="border-radius: 8px;">
          <span class="text-card-header">{{'app.backup.package.information'|i18n}}</span>
          <nz-form-item>
            <nz-form-label nzFor="name">
              <div style="margin-top: 15px;">
                <span>{{'app.backup.package.name' |i18n}}</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
              </div>
            </nz-form-label>
            <nz-form-control>
              <input nz-input
                     [value]="packageBackupModel?.packageName"
                     disabled="true"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="name">
              <div style="margin-top: 15px;">
                <span>{{'app.backup.package.storage.current'|i18n}}</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
              </div>
            </nz-form-label>
            <nz-form-control>
              <input nz-input
                     [value]="packageBackupModel?.sizeInGB"
                     disabled="true"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="description">
              <div class="label">
                <span>{{'app.backup.package.description'|i18n}}</span>
              </div>
            </nz-form-label>
            <nz-form-control>
          <textarea nz-input
                    [value]="packageBackupModel?.description"
                    disabled="true">
          </textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-row>
            <nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label>
                  <div>
                    <span>{{'app.backup.package.create.date'|i18n}}: {{packageBackupModel?.creationDate | date: 'dd/MM/yyyy'}}</span>
                  </div>
                </nz-form-label>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label>
                  <div>
                    <span style="color: #FC1010;">{{'app.backup.package.expire.date'|i18n}}: {{packageBackupModel?.expirationDate | date: 'dd/MM/yyyy'}}</span>
                  </div>
                </nz-form-label>
              </nz-form-item>
            </nz-col>
          </nz-row>
        </nz-card>
        <nz-card style="border-radius: 8px;">
          <span class="text-card-header" >{{'app.adjust.info'|i18n}}</span>
          <nz-alert nzBanner style="margin-top: 10px; margin-bottom: 10px;"
                    [nzMessage]="'app.alert.backup.package.resize'|i18n"
                    nzShowIcon>
          </nz-alert>
          <nz-form-item>
            <nz-form-label nzFor="storage">
              <div class="label">
                <span>{{'app.backup.package.storage.addition'|i18n}}</span>
                (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                <img nz-popover [nzPopoverContent]="'app.tooltip.backup.package.storage.addition'|i18n"
                     nzPopoverPlacement="bottom" style="margin-left: 5px;"
                     src="assets/imgs/pajamas_question.svg" alt="" />
              </div>
            </nz-form-label>
            <nz-form-control nzDisableAutoTips [nzErrorTip]="storageErrorTpl">
              <nz-input-number formControlName="storage"
                               nzSize="large"
                               style="width: 100%; margin-left: 0;"
                               [nzMin]="packageBackupModel?.sizeInGB"
                               (ngModelChange)="changeValueInput()"
                               [nzStep]="1"/>
              <ng-template #storageErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">{{'app.backup.package.storage.required'|i18n}}</ng-container>
                <ng-container *ngIf="control.hasError('pattern')">{{'app.backup.package.storage.pattern'|i18n}}</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>
              <div>
                <span *ngIf="orderItem != undefined && orderItem?.orderItemPrices?.length > 0">
                  <span>{{'volume.unit-price'|i18n}}: </span> {{orderItem?.orderItemPrices[0]?.unitPricePerDay.amount}} {{orderItem?.orderItemPrices[0]?.unitPricePerDay.currency}}/GB/ngày
                </span>
                <span *ngIf="orderItem == undefined && orderItem?.orderItemPrices?.length <= 0">
                  <span>{{'volume.unit-price'|i18n}}: </span> 0 VND/GB/{{'app.day'|i18n}}
                </span>
              </div>
            </nz-form-label>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>
              <div>
                <span>{{'app.adjust.date'|i18n}}: {{resizeDate | date: 'dd/MM/yyyy'}}</span>
              </div>
            </nz-form-label>
          </nz-form-item>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-card>
          <span class="text-card-header">{{'app.estimated.cost'|i18n}}</span>
          <nz-table>
            <tr>
              <td class="text-label">{{'app.estimated.storage'|i18n}}</td>
              <td nzAlign="right" class="text-label">
                <b *ngIf="orderItem?.orderItemPrices?.length > 0">{{orderItem?.orderItemPrices[0].unitPrice.amount | number}} {{orderItem?.orderItemPrices[0].unitPrice.currency}}</b>
                <b *ngIf="orderItem?.orderItemPrices?.length <= 0">0 VND</b>
              </td>
            </tr>
            <tr>
              <td></td>
              <td class="text-label" nzAlign="right">VND/{{'app.month'|i18n}}</td>
            </tr>
            <tr>
              <td class="text-label">{{'app.service.price-title'|i18n}}</td>
              <td nzAlign="right" style="color: #EA3829;">
                <span class="text-label"
                  *ngIf="orderItem != undefined">{{orderItem?.totalPayment?.amount}} {{orderItem?.totalPayment?.currency}}</span>
                <span class="text-label" *ngIf="orderItem == undefined">0 VND</span>
              </td>
            </tr>
            <tr>
              <td class="text-label"><i>({{'app.include.vat'|i18n: {vat: 10} }})</i></td>
              <td class="text-label" nzAlign="right">VND/{{'app.month'|i18n}}</td>
            </tr>
          </nz-table>
          <button class="btn-update" [disabled]="!validateForm.valid" (click)="update()">
            <div class="text-label" style="color: white;line-height: 24px; word-wrap: break-word">
              <span nz-icon nzType="wallet" nzTheme="outline"></span>
              {{'app.button.update'|i18n}}
            </div>
          </button>
        </nz-card>
      </nz-col>
    </nz-row>
  </form>
</nz-content>
