<page-header [breadcrumb]="breadcrumb"
             [action]="action"
             [title]="'app.backup.package.breadcrumb.resize'|i18n">
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="iconTemplate">
      <nz-breadcrumb-item><a [routerLink]="'/'">{{ 'app.breadcrumb.home' | i18n }}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.breadcrumb.infrastructure.service' | i18n }}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="'/app-smart-cloud/backup/packages'">{{ 'app.backup.package.breadcrumb.management'|i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a
          [routerLink]="'/app-smart-cloud/backup/packages/detail/' + idBackupPackage">{{ 'app.backup.package.breadcrumb.detail'|i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/backup/packages">{{ 'app.backup.package.breadcrumb.resize'|i18n }}</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #iconTemplate>
      <one-portal-svg-icon [icon]="'icon_breadcrumb'"></one-portal-svg-icon>
    </ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               (userChanged)="userChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-spin [nzSpinning]="isLoading">
  <nz-content>
    <form nz-form [formGroup]="validateForm" nzLayout="vertical">
      <nz-row nzGutter="24">
        <nz-col nzSpan="16">
          <nz-card style="border-radius: 8px;" *ngIf="packageBackupModel">
            <span class="text-card-header">{{ 'app.backup.package.information'|i18n }}</span>
            <nz-form-item>
              <nz-form-label nzFor="name">
                <div style="margin-top: 15px;">
                  <span>{{ 'app.backup.package.name' |i18n }}</span>
                  <!--                  (<span style="color: rgba(252, 16, 16, 1); ">*</span>)-->
                </div>
              </nz-form-label>
              <nz-form-control>
                <input nz-input
                       [value]="packageBackupModel?.packageName"
                       disabled="true" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="name">
                <div style="margin-top: 15px;">
                  <span>{{ 'app.backup.package.storage.current'|i18n }}</span>
                  <!--                  (<span style="color: rgba(252, 16, 16, 1); ">*</span>)-->
                </div>
              </nz-form-label>
              <nz-form-control>
                <input nz-input
                       [value]="packageBackupModel?.sizeInGB"
                       disabled="true" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="description">
                <div class="label">
                  <span>{{ 'app.backup.package.description'|i18n }}</span>
                </div>
              </nz-form-label>
              <nz-form-control>
                <textarea nz-input
                          [value]="packageBackupModel?.description"
                          disabled="true"></textarea>
              </nz-form-control>
            </nz-form-item>
            <nz-row>
              <nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label>
                    <div>
                      <span>{{ 'app.backup.package.create.date'|i18n }}
                        : {{ packageBackupModel?.creationDate | date: 'dd/MM/yyyy' }}</span>
                    </div>
                  </nz-form-label>
                </nz-form-item>
              </nz-col>
              <nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label>
                    <div>
                      <span style="color: #FC1010;">{{ 'app.backup.package.expire.date'|i18n }}
                        : {{ packageBackupModel?.expirationDate | date: 'dd/MM/yyyy' }}</span>
                    </div>
                  </nz-form-label>
                </nz-form-item>
              </nz-col>
            </nz-row>
          </nz-card>
          <nz-card style="border-radius: 8px;" *ngIf="packageBackupModel">
            <span class="text-card-header">{{ 'app.adjust.info'|i18n }}</span>
            <nz-alert nzBanner style="margin-top: 10px; margin-bottom: 10px;"
                      [nzMessage]="'app.alert.backup.package.resize'|i18n"
                      nzShowIcon>
            </nz-alert>
            <nz-form-item>
              <nz-form-label nzFor="storage">
                <div class="label">
                  <span>{{ 'app.backup.package.storage.addition'|i18n }}</span>
                  (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
                  <img nz-popover [nzPopoverContent]="'app.tooltip.backup.package.storage.addition'|i18n"
                       nzPopoverPlacement="bottom" style="margin-left: 5px;"
                       src="assets/imgs/pajamas_question.svg" alt="" />
                </div>
              </nz-form-label>
              <nz-form-control nzDisableAutoTips [nzErrorTip]="storageErrorTpl">
                <nz-input-number nzAutoFocus
                                 formControlName="storage"
                                 nzSize="large"
                                 style="width: 100%; margin-left: 0;"
                                 [(ngModel)]="storage"
                                 [nzMin]="minStorage"
                                 [nzStep]="stepStorage"
                                 [nzMax]="maxStorage"
                                 (ngModelChange)="changeValueStorage($event)"/>
                <ng-template #storageErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">{{ 'app.backup.package.storage.required'|i18n }}
                  </ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">{{ 'app.backup.package.storage.pattern'|i18n }}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>
                <div>
                <span *ngIf="orderItem != undefined && orderItem?.orderItemPrices?.length > 0">
                  <span>{{ 'volume.unit-price'|i18n }}
                    : </span> {{ orderItem?.orderItemPrices[0]?.unitPricePerHour.amount | number}} {{ orderItem?.orderItemPrices[0]?.unitPricePerHour.currency }}
                  / GB/ {{ 'app.hour'|i18n }}
                </span>
                  <span *ngIf="orderItem == undefined && orderItem?.orderItemPrices?.length <= 0">
                  <span>{{ 'volume.unit-price'|i18n }}: </span> 0 VND/ GB/ {{ 'app.hour'|i18n }}
                </span>
                </div>
              </nz-form-label>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>
                <div>
                  <span *ngIf="orderItem != undefined && orderItem?.orderItemPrices?.length > 0">{{ 'app.adjust.date'|i18n }}: {{ orderItem?.orderItemPrices[0]?.createdDate | date: 'dd/MM/yyyy' }}</span>
                </div>
              </nz-form-label>
            </nz-form-item>
          </nz-card>
          <one-portal-guide-formula />
        </nz-col>
        <nz-col nzSpan="8">
          <nz-affix [nzOffsetTop]="72">
            <nz-card class="border-card">
              <div style="margin-bottom: 20px">
                <span class="text-card-header">{{ 'app.estimated.cost'|i18n }}</span>
              </div>
              <div class="text-value">{{ 'app.backup.package.name'|i18n }}</div>
              <div style="margin-top: 10px" class="text-label">
                {{ packageBackupModel?.packageName }}
              </div>
              <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
              <div class="text-value">{{ 'app.backup.package.storage'|i18n }}</div>
              <div style="margin-top: 10px" class="text-label">{{ formUpdateBackupPackageModel?.newSize }} GB</div>
              <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
              <nz-row style="margin-bottom: 10px" nzGutter="16">
                <nz-col nzSpan="16">
                  <span class="text-value">{{ 'app.cost.vat' | i18n }}</span>
                </nz-col>
                <nz-col class="text-right" nzSpan="8">
                  <span class="text-value" style="color: #0066b3" nzAlign="right" *ngIf="orderItem == null">0 VND</span>
                  <span class="text-value" style="color: #0066b3" nzAlign="right" *ngIf="orderItem != undefined">
                  {{ orderItem?.totalVAT?.amount | number }} {{ orderItem?.totalVAT?.currency }}
                </span>
                </nz-col>
              </nz-row>
              <nz-row style="
            margin-bottom: 20px;
            background-color: #cce9ff;
            padding: 16px 0 16px 0;
            border-radius: 8px;
          " nzGutter="16">
                <nz-col nzSpan="16">
                  <span class="text-label">{{ 'app.total.payment'|i18n }}</span><br />
                  <span class="text-note-italicized">({{ 'app.include.vat'|i18n:{ "vat": "10" } }})</span>
                </nz-col>
                <nz-col class="text-right" nzSpan="8">
                  <span *ngIf="orderItem == undefined" class="text-value" style="color: #ea3829"
                        nzAlign="right">0 VND</span>
                  <span *ngIf="orderItem != undefined" class="text-value" style="color: #ea3829" nzAlign="right">
                  {{ orderItem?.totalPayment?.amount | number: '1.0-0' }} {{ orderItem?.totalPayment?.currency }}</span>
                </nz-col>
              </nz-row>
              <nz-row>
                <nz-col style="width: 100%">
                  <button style="width: 100%" nz-button nzSize="large" nzType="primary"
                          (click)="sendRequestOrder()" [nzLoading]="isLoadingButton"
                          [disabled]="validateForm.invalid || (validateForm.controls.storage.value == 0)">
                    <img src="assets/imgs/wallet.svg" style="margin-right: 5px; padding-bottom: 5px;" />
                    <span [style.color]="validateForm.invalid ? 'gray' : 'white'">{{ 'app.button.resize'|i18n }}</span>
                  </button>
                </nz-col>
              </nz-row>
            </nz-card>
          </nz-affix>
        </nz-col>
      </nz-row>
    </form>
  </nz-content>
  <one-portal-popup-list-error
    [isVisible]="isVisiblePopupError"
    [errorList]="errorList"
    (onCancel)="closePopupError()" />
</nz-spin>
