<img src="assets/imgs/play-circle.svg" alt=""
     style="cursor: pointer; margin-left: 5px;"
     (click)="showModal()"
     nz-popover nzPopoverPlacement="bottom"
     [nzPopoverContent]="'schedule.backup.reactive'|i18n" />
<nz-modal [(nzVisible)]="isVisible" [nzAutofocus]="undefined"
          (nzOnCancel)="handleCancel()">
  <div *nzModalTitle>
    <span class="text-modal-title">{{'schedule.backup.reactive' | i18n}}</span>
  </div>
  <div *nzModalContent>
<!--    <span class="text-label">{{'schedule.backup.action2' | i18n}}</span>-->
    <nz-alert nzBanner
              nzShowIcon
              style="margin-bottom: 5px;"
              [nzDescription]="contentTemplate">
    </nz-alert>
    <ng-template #contentTemplate>
      <span class="text-label"
            [innerHTML]="'schedule.backup.confirm.reactive' | i18n: {name: nameScheduleBackup}"></span>
    </ng-template>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()" class="button-cancel">
      <span nz-icon nzType="close" nzTheme="outline"></span>{{'app.button.cancel' | i18n}}
    </button>
    <button nz-button nzType="primary"
            (click)="handleOk()"
            appAutofocus
            [nzLoading]="isLoading"
            class="button-ok">
      <span nz-icon nzType="check" nzTheme="outline"></span>{{'app.button.confirm' | i18n}}
    </button>
  </div>
</nz-modal>
