<span nz-icon nzType="play-circle" nzTheme="outline" nz-popover
      nzPopoverContent="{{'schedule.backup.health' | i18n}}"
      nzPopoverPlacement="bottom"
      style="color: #0066B3; cursor: pointer;"
      (click)="showModal()"></span>
<nz-modal [(nzVisible)]="isVisible"
          (nzOnCancel)="handleCancel()">
  <div *nzModalTitle>
    <p class="text-h5"><b>{{'schedule.backup.action1' | i18n}}</b></p>
  </div>
  <div *nzModalContent>
    <p class="text-p">{{'schedule.backup.action2' | i18n}}</p>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()"
            class="button-cancel">{{'app.button.cancel' | i18n}}
    </button>
    <button nz-button nzType="primary" (click)="handleOk()"
            [nzLoading]="isLoading"
            class="button-ok">{{'app.button.agree' | i18n}}
    </button>
  </div>
</nz-modal>
