<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="'app.delete.alow.address.pair' | i18n"
  (nzOnCancel)="handleCancel()"
>
  <div *nzModalContent>
    <span>
      {{ 'app.alert.create.allow.address.pair' | i18n }}
      <b class="text-b">{{ 'app.button.confirm' | i18n }}</b
      >. {{ 'app.alert.create.allow.address.pair.next' | i18n }}
    </span>
  </div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancel()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />{{ 'app.button.cancel' | i18n }}
    </button>
    <button nz-button nzType="primary" (click)="handleOk()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />{{ 'app.button.confirm' | i18n }}
    </button>
  </div>
</nz-modal>
