<page-header [breadcrumb]="breadcrumb"
             [action]="action"
             [title]="'app.vlan.create'|i18n" xmlns="http://www.w3.org/1999/html">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>{{ 'app.breadcrumb.home' | i18n }}</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/vlan/network/list">VLAN</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.vlan.create'|i18n }}
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               (userChanged)="userChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'">
    <nz-card style="border-radius: 8px;">
      <nz-form-item>
        <nz-form-label nzFor="name">
          <div>
            <span>{{ 'app.vlan.note3' | i18n }} (<span style="color: rgba(252, 16, 16, 1);">*</span>)</span>
            <img nz-popover nzPopoverContent="{{ 'app.vlan.note71' | i18n }}"
                 nzPopoverPlacement="bottom" style="margin-left: 5px;"
                 src="assets/imgs/pajamas_question.svg" alt="" />
          </div>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips [nzErrorTip]="nameNetworkErrorTpl">
          <input nz-input appAutofocus
                 class="input-custom"
                 formControlName="nameNetwork"
                 [placeholder]="'vlan_'"
                 [maxlength]="50" />
          <ng-template #nameNetworkErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">{{ 'app.vlan.note42' | i18n }}</ng-container>
            <ng-container *ngIf="control.hasError('startsWith')">{{ 'app.vlan.note43' | i18n }}</ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">{{ 'app.vlan.note44' | i18n }}</ng-container>
            <ng-container *ngIf="control.hasError('pattern')">{{ 'app.vlan.note45' | i18n }}</ng-container>
            <ng-container *ngIf="control.hasError('duplicateName')">{{ 'app.vlan.note46' | i18n }}</ng-container>
            <ng-container *ngIf="control.hasError('prefixError')">Vui lòng nhập tối thiểu 1 ký tự sau tiền tố vlan_</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>
          <div>
            <span>{{ 'app.vlan.note5' | i18n }} (<span style="color: rgba(252, 16, 16, 1);">*</span>)</span>
            <img nz-popover nzPopoverContent="{{ 'app.vlan.note6' | i18n }}"
                 nzPopoverPlacement="bottom" style="margin-left: 5px;"
                 src="assets/imgs/pajamas_question.svg" alt="" />
          </div>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips [nzErrorTip]="nameSubnetErrorTpl">
          <input nz-input
                 class="input-custom"
                 formControlName="nameSubnet"
                 placeholder="{{ 'app.vlan.note6' | i18n }}"
                 [maxlength]="50" />
          <ng-template #nameSubnetErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">{{ 'app.vlan.note8' | i18n }}</ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">{{ 'app.vlan.note9' | i18n }}</ng-container>
            <ng-container *ngIf="control.hasError('pattern')">{{ 'app.vlan.note10' | i18n }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>
          <div>
            <span>{{ 'app.vlan.note14' | i18n }} (<span style="color: rgba(252, 16, 16, 1);">*</span>)</span>
<!--            <img nz-popover -->
<!--                 nzPopoverPlacement="bottom" style="margin-left: 5px;"-->
<!--                 src="assets/imgs/pajamas_question.svg" alt="" />-->
          </div>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips>
          <!--          <nz-select class="input-custom" ngModel="IPv4" nzDisabled>-->
          <!--            <nz-option nzValue="IPv4" nzLabel="IPv4"></nz-option>-->
          <!--          </nz-select>-->
          <input nz-input class="input-custom" value="IPv4" [disabled]="'true'" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>
          <div>
            <span>{{ 'app.order-detail.address' | i18n }} (<span style="color: rgba(252, 16, 16, 1);">*</span>)</span>
            <img nz-popover
                 nzPopoverContent="{{ 'app.vlan.note28' | i18n }}"
                 nzPopoverPlacement="bottom" style="margin-left: 5px;"
                 src="assets/imgs/pajamas_question.svg" alt="" />
          </div>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips [nzErrorTip]="networkAddressErrorTpl">
          <input nz-input
                 class="input-custom"
                 formControlName="networkAddress"
                 [placeholder]="'x.x.0.0/16'" (ngModelChange)="inputCheckPool($event)" />
          <ng-template #networkAddressErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">{{ 'app.vlan.note15' | i18n }}</ng-container>
            <ng-container *ngIf="control.hasError('invalidIPAddress')">{{ 'app.vlan.note17' | i18n }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-alert nzType="warning"
                nzMessage="{{ 'app.vlan.note17' | i18n }}"
                nzShowIcon>
      </nz-alert>
      <nz-form-item>
        <nz-form-control style="margin-top: 24px;">
          <div nz-row>
            <div nz-col nzSpan="12">
              <label nz-checkbox formControlName="disableGatewayIp">
                <nz-space [nzSize]="4">
                  <span *nzSpaceItem class="text-value">{{ 'app.vlan.note33' | i18n }}</span>
                  <img *nzSpaceItem nz-popover nzPopoverContent="{{ 'app.vlan.note31' | i18n }}"
                       nzPopoverPlacement="bottom" style="margin-left: 5px;"
                       src="assets/imgs/pajamas_question.svg" alt="" />
                </nz-space>
              </label>
            </div>
            <div nz-col nzSpan="12">
              <label nz-checkbox formControlName="dhcp">
                <nz-space [nzSize]="4">
                  <span *nzSpaceItem class="text-value">DHCP</span>
<!--                  <img *nzSpaceItem nz-popover [nzPopoverContent]="titleMessage"-->
<!--                       nzPopoverPlacement="bottom" style="margin-left: 5px;"-->
<!--                       src="assets/imgs/pajamas_question.svg" alt="" />-->
<!--                  <ng-template #titleMessage>-->
<!--                    <span>- DHCP là cơ chế cấp phát động địa chỉ IP cho subnet đó.</span><br>-->
<!--                    <span>- Tức là khi tạo Port mà không chỉ định IP nào thì DHCP sẽ tự gán vào Port vừa tạo 1 IP</span><br>-->
<!--                    <span>- Ưu điểm: Không cần quản lý địa chỉ IP, hệ thống sẽ tự động cấp phát địa chỉ IP <br>-->
<!--                      - Nhược điểm: DHCP nó sẽ dùng ngay 02 IP cho DHCP server. điều này dẫn tới việc nếu subnet chỉ có 8 IP chẳng hạn, sẽ chỉ dùng dc có 6 IP</span>-->
<!--                  </ng-template>-->
                </nz-space>
              </label>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="!validateForm.controls.disableGatewayIp.value">
        <nz-form-label>
          <nz-space [nzSize]="4">
            <span *nzSpaceItem>Gateway</span>
<!--            <img *nzSpaceItem nz-popover [nzPopoverContent]="'Hệ thống tự động lấy địa chỉ đầu tiên trong dải mạng làm gateway và người không thể thực hiện chỉnh sửa địa chỉ gateway này'"-->
<!--                 nzPopoverPlacement="bottom" style="margin-left: 5px;"-->
<!--                 src="assets/imgs/pajamas_question.svg" alt="" />-->
          </nz-space>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips>
          <input nz-input class="input-custom"
                 [value]="gateway"
                 [disabled]="true" />
<!--          <span *ngIf="isInvalidGateway" style="color: red;">IP không thuộc Allocation Pool </span>-->
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>
          <nz-space [nzSize]="4">
            <span *nzSpaceItem>Allocation Pool</span>
<!--            <img *nzSpaceItem nz-popover [nzPopoverContent]="titlePool"-->
<!--                 nzPopoverPlacement="bottom" style="margin-left: 5px;"-->
<!--                 src="assets/imgs/pajamas_question.svg" alt="" />-->
            <ng-template #titlePool>
              <span>- Điền 1 IP bắt đầu và 1 IP kết thúc của dải mạng cách nhau bởi dấu, <br>
- Yêu cầu chọn các dải trong khoảng: “172.16.0.0 - 172.24.0.0” và “192.168.0.0” và nhập địa chỉ đúng quy định, định dạng: x.x.0.0/16, x.x.x.0/24 <br>
- IP sau lớn hơn IP trước (ví dụ: 172.16.0.2, 172.16.0.3)</span>
            </ng-template>
          </nz-space>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips>
          <nz-textarea-count [nzMaxCharacterCount]="255">
            <textarea rows="4" [value]="pool" nz-input [disabled]="true"></textarea>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>
    </nz-card>
    <nz-form-item nzAlign="bottom" nzJustify="end">
      <nz-space nzSize="large">
        <button *nzSpaceItem nz-button nzType="default" class="button-cancel" (click)="reset()">
          <span nz-icon nzType="close" nzTheme="outline"></span>{{ 'app.button.cancel' | i18n }}
        </button>
        <nz-form-control *nzSpaceItem>
          <button nz-button nzType="primary" [disabled]="!validateForm.valid || isInvalidGateway"
                  class="button-ok" (click)="submitForm()" [nzLoading]="isLoading">
            <span nz-icon nzType="check" nzTheme="outline"></span>{{ 'app.label.create' | i18n }}
          </button>
        </nz-form-control>
      </nz-space>
    </nz-form-item>
  </form>
</nz-content>
