.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
  border-radius: 4px;
}

.search {
  border-radius: 8px;
  width: 300px;
  height: 40px;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[nz-button] {
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
}

.tbl-acl {
  margin-top: 20px;
}

nz-table.tbl-acl th {
  background-color: #E2EEFC;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

[nz-icon] {
  font-size: 24px;
}

::ng-deep .ant-pagination-item-active {
  font-weight: 500;
  background: #0066B0;
  border-color: #0066B0;
}

::ng-deep .ant-pagination-item-active a {
  color: #ffffff;
}

::ng-deep .ant-pagination-item {
  border-radius: 8px;
}

.breadcrumb {
  justify-content: space-between;
  margin-bottom: 15px;
}

.mg-right {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 8px;
}

::ng-deep .ant-descriptions-item-label{
  font-weight: bold; 
}

.img {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-accept {
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
}

.create-icon{
  color: #fff;
  font-size: 20px;
}

.dell-icon{
  cursor: pointer;
  width: 35px;
  height: 24px;
}

.mg-right-del{
  margin-right: 12px;
  width: 35px;
  height: 24px;
}

.question{
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
}

.error-del{
  font-size: 14px;
  line-height: 1.5715;
  color: #ff4d4f;
}

nz-table#topic th {
  background-color: #e2eefc;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.err-name{
  border-color: #ff4d4f !important;
  box-shadow: 0 0 0 2px #ff4d4f33;
}

#btn-refresh {
  width: 40px;
  border-color: #d9d9d9;
  position: relative;
  margin-left: 10px;
}

#img-refresh {
  position: absolute;
  top: 6px;
  right: 7px
}

.async {
  font-size: 14px;
  font-style: italic;
}

.time-async {
  display: inline-block;
  width: 160px;
}
