<nz-content>
    <div class="breadcrumb">
        <nz-breadcrumb vSeparator=">>">
            <nz-breadcrumb-item>
                Topic
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a (click)="Cancel()">Danh sách Topic</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item *ngIf="control==createNum">
                Tạo mới Topic
            </nz-breadcrumb-item>
            <nz-breadcrumb-item *ngIf="control==detailNum">
                Danh sách message Topic: {{topicDetail}}
            </nz-breadcrumb-item>
            <nz-breadcrumb-item *ngIf="control==editNum">
                Cập nhật Topic: {{selectedTopic.topicName}}
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="inner-content">
        <div *ngIf="control == listNum">
            <div class="filter" style="display: flex; align-items: center; margin-bottom: 20px;">
                <div >
                    <nz-input-group nz-col [nzPrefix]="prefixTemplateUser" class="search">
                        <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="search" (keyup.enter)="handleSearch()">
                    </nz-input-group>
                    <ng-template #prefixTemplateUser><span nz-icon nzType="search"
                            nzTheme="outline"></span></ng-template>
                </div>
                <div>
                    <button nz-button nzType="primary" class="btn-search" (click)="openCreateForm()">
                        <span nz-icon nzType="plus" style="color: #fff;" nzTheme="outline"></span>
                        Tạo mới
                    </button>

                    <button nz-button btn-default nzType="primary" (click)="testProduce()" nzDanger>Test Producer</button>
                    <nz-modal class="fixBtn" [(nzVisible)]="isVisible" nzTitle="Test Producer" (nzOnCancel)="handleCloseProduceModal()">
                        <ng-container *nzModalContent>
                            <form nz-form [formGroup]="produceForm" (ngSubmit)="submitModalForm()">
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired vFor="Topic">Topic</nz-form-label>
                                    <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Hãy chọn Topic">
                                        <nz-select nzShowSearch [(ngModel)]="singleValue" formControlName="topicName" vPlaceHolder="Chọn một Topic">
                                            <nz-option *ngFor="let item of listTopicTestProducer" [nzLabel]="item.topicName" [nzValue]="item.topicName"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Số lượng</nz-form-label>
                                    <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Số lượng message là số nguyên dương và trong khoảng 1-100">
                                        <input type="number" placeholder="Nhập số lượng" nz-input formControlName="numberMessage" id="amount" />
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24">Key</nz-form-label>
                                    <nz-form-control [nzSm]="18" [nzXs]="24">
                                        <input type="text" nz-input formControlName="key" placeholder="Nhập key" />
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Value</nz-form-label>
                                    <nz-form-control [nzSm]="18" [nzXs]="24"
                                        nzErrorTip="Value là bắt buộc và không quá 500 ký tự">
                                        <textarea rows="6" nz-input formControlName="value" placeholder="Nhập value"
                                            maxlength="500"></textarea>
                                    </nz-form-control>
                                </nz-form-item>
                            </form>
                        </ng-container>

                        <div *nzModalFooter>
                            <button nz-button nzType="primary" nzDanger (click)="handleCloseProduceModal()">Hủy bỏ</button>
                            <button nz-button nzType="primary" (click)="handleSubmitTestProduce()"
                                [disabled]="produceForm.invalid" >Test Producer</button>
                        </div>
                    </nz-modal>
                </div>
            </div>
            <nz-table [nzData]="listTopic" [nzLoading]="loading" #basicTable nzShowPagination nzShowSizeChanger class="tbl-acl" [nzTotal]="total" 
            [nzFrontPagination]="false" [nzPageIndex]="index" [nzPageSize]="size" (nzPageIndexChange)="changePage($event)" (nzPageSizeChange)="changePageSize($event)">
                <thead class="table-info">
                    <tr>
                        <th [nzAlign]="'center'" nzWidth="4%">STT</th>
                        <th>Tên Topic</th>
                        <th nzWidth="8%">Partitions</th>
                        <th nzWidth="8%">Replicas</th>
                        <th nzWidth="20%">Tổng số lượng message</th>
                        <th nzWidth="8%">Size</th>
                        <th nzWidth="15%">Out of sync replicas</th>
                        <th nzWidth="8%" [nzAlign]="'center'">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data; let i = index">
                        <td [nzAlign]="'center'">{{ i+1 }}</td>
                        <td><a (click)="detailTopic(data.topicName)">{{ data.topicName }}</a></td>
                        <td>{{ data.partitions }}</td>
                        <td>{{ data.replicas }}</td>
                        <td>{{ data.sumMessage }}</td>
                        <td>{{ data.sizeTopic }}</td>
                        <td>{{ data.outOfSync != null ? data.outOfSync : 0 }}</td>
                        <td [nzAlign]="'center'">
                            <a nz-dropdown [nzDropdownMenu]="menu">
                                <span nz-icon nzType="more" nzTheme="outline"></span>
                            </a>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu vSelectable>
                                    <li nz-menu-item>
                                        <span nz-button nzType="text" (click)="showTopicInfo(data)">
                                            <span nz-icon nzType="info-circle" nzTheme="outline"></span> Thông tin cấu hình
                                        </span>
                                    </li>
                                    <li nz-menu-item>
                                        <span nz-button nzType="text" (click)="detailTopic(data.topicName)">
                                            <span nz-icon nzType="eye" nzTheme="outline"></span> Chi tiết
                                        </span>
                                    </li>
                                    <li nz-menu-item>
                                        <span nz-button nzType="text" (click)="deleteMessages(data)">
                                            <span nz-icon nzType="delete-row" nzTheme="outline"></span> Xóa message
                                        </span>
                                    </li>
                                    <li nz-menu-item>
                                        <span nz-button nzType="text"  (click)="updateTopicForm(data)">
                                            <span nz-icon nzType="edit" nzTheme="outline"></span> Cập nhật
                                        </span>
                                    </li>
                                    <li nz-menu-item>
                                        <span nz-button nzType="text" (click)="showDeleteConfirm(data)">
                                            <span nz-icon nzType="delete" nzTheme="outline"></span> Xoá
                                        </span>
                                    </li>
                                </ul>
                            </nz-dropdown-menu>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
        <div *ngIf="control == createNum || control == editNum">  
            <one-portal-create-topic [data]="selectedTopic" [serviceOrderCode]="serviceOrderCode"  [mode]="control" (cancelEvent)="Cancel()"></one-portal-create-topic>
        </div>
        <div *ngIf="control == detailNum">  
            <one-portal-message-topic [serviceOrderCode]="serviceOrderCode" [topicName]="topicDetail" (cancelEvent)="Cancel()"></one-portal-message-topic>
        </div>
    </div>
</nz-content>
<nz-drawer [nzClosable]="true" [nzWidth]="580" (nzOnClose)="closeTopicInfo()" [nzVisible]="visibleConfigInfo" vPlacement="right">
    <ng-container *nzDrawerContent>
        <nz-descriptions nzTitle="Thông tin cấu hình" nzBordered>
            <nz-descriptions-item [nzSpan]="3" *ngFor="let item of configInfo | keyvalue"
                [nzTitle]="item.key">{{item.value==""||item.value==null?"None":item.value}}</nz-descriptions-item>
        </nz-descriptions>
    </ng-container>
</nz-drawer>