<page-header [breadcrumb]="breadcrumb" title="Khởi tạo Endpoint">
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="iconTemplate">
      <nz-breadcrumb-item
        ><a [routerLink]="['/']">{{
          'app.breadcrumb.home' | i18n
        }}</a></nz-breadcrumb-item
      >
      <nz-breadcrumb-item> {{ 'app.breadcrumb.infrastructure.service' | i18n }} </nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/app-smart-cloud/endpoint']">Endpoint</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>Tạo mới Endpoint</nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #iconTemplate
      ><one-portal-svg-icon [icon]="'icon_breadcrumb'"></one-portal-svg-icon
    ></ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
    </div>
  </ng-template>
</page-header>
<!---------------FORM-------------->
<form nz-form [formGroup]="form" [nzLayout]="'vertical'">
  <nz-row nzGutter="24">
    <nz-col nzSpan="16">
      <nz-card class="text-label" nzTitle="" style="border-radius: 8px">
        <div style="margin-bottom: 20px">
          <span class="text-card-header">Thông tin Endpoint</span>
        </div>
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="24">
            <nz-form-item >
              <nz-form-label
                >Tên Endpoint(<span class="text-red">*</span>)<img
                  style="margin-left: 10px"
                  nz-tooltip="{{ 'project.note16' | i18n }}"
                  src="assets/imgs/pajamas_question.svg"
                  alt=""
              /></nz-form-label>
              <nz-form-control [nzErrorTip]="nameErrorTpl">
                <input
                  nz-input
                  placeholder="Nhập tên dịch vụ"
                  [ngStyle]="isExistName ? { borderColor: '#ff4d4f' } : {}"
                  formControlName="name"
                  (ngModelChange)="changeName($event)"
                  maxlength="50"
                  class="custom-input"
                />
                <div *ngIf="isExistName" style="color: #ff4d4f">
                  Tên Endpoint đã tồn tại
                </div>
                <ng-template #nameErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')"
                    >Tên Endpoint không được để trống
                  </ng-container>
                  <ng-container *ngIf="control.hasError('pattern')"
                    >Tên Endpoint không đúng định dạng
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label>Username(<span class="text-red">*</span>)</nz-form-label>
              <nz-form-control [nzErrorTip]="usernameErrorTpl">
                <input
                  nz-input
                  placeholder="Nhập username đăng nhập"
                  [ngStyle]="isExistUsername ? { borderColor: '#ff4d4f' } : {}"
                  formControlName="username"
                  (ngModelChange)="changeUsername($event)"
                  class="custom-input"
                />
                <div *ngIf="isExistUsername" style="color: #ff4d4f">
                  Username đã tồn tại
                </div>
                <ng-template #usernameErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')"
                    >Username không được để trống
                  </ng-container>
                  <ng-container *ngIf="control.hasError('pattern')"
                    >Username không đúng định dạng
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label>Email(<span class="text-red">*</span>)</nz-form-label>
              <nz-form-control [nzErrorTip]="emailErrorTpl">
                <input
                  nz-input
                  placeholder="Nhập email"
                  formControlName="email"
                  class="custom-input"
                />
                <ng-template #emailErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')"
                    >Email không được để trống
                  </ng-container>
                  <ng-container *ngIf="control.hasError('pattern')"
                    >Email không đúng định dạng
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-label>Số lượng máy đăng ký cài đặt(<span class="text-red">*</span>)
                <img style="margin-left: 10px" nz-tooltip="{{ 'project.note16' | i18n }}" src="assets/imgs/pajamas_question.svg" alt=""/>
              </nz-form-label>
              <nz-form-control [nzErrorTip]="numberErrorTpl">
                <nz-input-number
                  [nzMin]="1"
                  [nzMax]="30000"
                  placeholder="Nhập số lượng"
                  formControlName="numberOfLicense"
                  (ngModelChange)="changeNumberOfLincense($event)"
                  maxlength="50"
                  class="custom-input"
                  nzSize="large"
                  style="width: 100%; margin-left: 0px"
                />
                <ng-template #numberErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')"
                    >Số lượng không được để trống
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </nz-card>
      <one-portal-service-usage-period-year
        [nameService]="'Endpoint'"
        (valueChanged)="onChangeTime($event)"
      ></one-portal-service-usage-period-year>
    </nz-col>
    <nz-col nzSpan="8">
      <nz-affix nzOffsetTop="72">
        <nz-card class="right-form card-price">
          <div class="right-title">
            <span class="text-card-header">Chi phí ước tính</span>
          </div>
          <div class="text-label" style="margin-bottom: 12px">
            <h3 class="custom-subtitle">Tên Endpoint</h3>
            <span>{{form.get('name').value}}</span>
          </div>
          <div class="text-label" style="margin-bottom: 12px">
            <h3 class="custom-subtitle">Username</h3>
            <span>{{form.get('username').value}}</span>
          </div>
          <div class="text-label" style="margin-bottom: 12px;">
            <h3 class="custom-subtitle">Email</h3>
            <span>{{form.get('email').value}}</span>
          </div>
          <div class="text-label" style="margin-bottom: 12px">
            <h3 class="custom-subtitle">Số lượng máy đăng ký cài đặt</h3>
            <span>{{form.get('numberOfLicense').value}}</span>
          </div>
          <nz-row class="right-form-content-month" nzGutter="16">
            <nz-col nzSpan="16">
              <span class="text-value">Chi phí {{form.controls.time.value}} tháng</span>
            </nz-col>
            <nz-col class="text-right" nzSpan="8">
              <span class="text-value month-money" nzAlign="right">
                <span
                *ngIf="orderObject?.orderItemPrices?.length <= 0"
                  class="text-value"
                  style="color: #0066b3"
                  nzAlign="right"
                  >0 VNĐ</span
                >
                <span
                  *ngIf="orderObject?.orderItemPrices?.length > 0"
                  class="text-value"
                  style="color: #0066b3"
                  nzAlign="right"
                >
                  {{
                    orderObject?.orderItemPrices[0].totalAmount.amount | number
                  }}
                  {{ orderObject?.orderItemPrices[0].totalAmount.currency }}
                </span>
              </span>
            </nz-col>
          </nz-row>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <nz-row style="margin-bottom: 10px" nzGutter="16">
            <nz-col nzSpan="16">
              <span class="text-value">{{ 'app.cost.vat' | i18n }}</span>
            </nz-col>
            <nz-col class="text-right" nzSpan="8">
              <span
                class="text-value"
                style="color: #0066b3"
                nzAlign="right"
                *ngIf="orderObject == null"
                >0 VND</span
              >
              <span
                class="text-value"
                style="color: #0066b3"
                nzAlign="right"
                *ngIf="orderObject != undefined"
              >
                {{ orderObject?.totalVAT?.amount | number }}
                {{ orderObject?.totalVAT?.currency }}
              </span>
            </nz-col>
          </nz-row>
          <nz-row
            style="
              margin-bottom: 20px;
              background-color: #cce9ff;
              padding: 16px 0 16px 0;
              border-radius: 8px;
            "
            nzGutter="16"
          >
            <nz-col nzSpan="16">
              <span class="text-label">{{ 'app.total.payment' | i18n }}</span
              ><br />
              <span class="text-note-italicized"
                >({{ 'app.include.vat' | i18n : { vat: '10' } }})</span
              >
            </nz-col>
            <nz-col class="text-right" nzSpan="8">
              <span class="text-value" style="color: #ea3829" nzAlign="right">
                {{ totalincludesVAT | number }}
                VND
              </span>
            </nz-col>
          </nz-row>
          <nz-row>
            <nz-col style="width: 100%" class="text-right">
              <button
                [disabled]="form.invalid  || isInvalid  || isExistName || isExistUsername"
                style="width: 100%"
                nz-button
                nzSize="large"
                nzType="primary"
                (click)="handleSubmit()"
              >
                <span nz-icon nzType="wallet" nzTheme="outline"></span>
                Khởi tạo
              </button>
            </nz-col>
          </nz-row>
        </nz-card>
      </nz-affix>
    </nz-col>
  </nz-row>
  

<!---------------CARD-THÀNH TIỀN-------------->
<!-- [nzLoading]="loadingCalculate" -->
  
</form>

<one-portal-popup-list-error
  [isVisible]="isVisiblePopupError"
  [errorList]="errorList"
  (onCancel)="closePopupError()"
></one-portal-popup-list-error>
