<nz-card style="border-radius: 8px" [nzBordered]="false">
  <div style="margin-bottom: 20px">
    <span class="text-card-header">Network</span>
  </div>
  <div class="ant-table">
    <nz-table
      [nzData]="listOfDataNetwork"
      [nzLoading]="loading"
      [nzShowPagination]="false"
    >
      <thead>
        <tr>
          <th>{{ 'app.network.name' | i18n }}</th>
          <th>MAC Address</th>
          <th>FixedIPs</th>
          <th>Status</th>
          <th *ngIf="isDetail" nzAlign="center">
            {{ 'app.text.operation' | i18n }}
          </th>
        </tr>
      </thead>
      <tbody class="ant-table-tbody">
        <tr *ngFor="let data of listOfDataNetwork">
          <td nzBreakWord>
            {{ data.name }}
          </td>
          <td>
            {{ data.macAddress }}
          </td>
          <td nzBreakWord>
            {{ data.fixedIPs }}
          </td>
          <td style="color: #52c41a">
            {{ data.status }}
          </td>
          <td *ngIf="isDetail" nzAlign="center">
            <img
              nz-dropdown
              [nzDropdownMenu]="opMenu"
              src="assets/imgs/edit-square.svg"
              alt=""
            />
            <nz-dropdown-menu #opMenu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="showModalEditPort(data)">
                  {{ 'app.text.edit' | i18n }}
                </li>
                <li
                  nz-menu-item
                  [routerLink]="[
                    '/app-smart-cloud/instance/' +
                      instancesId +
                      '/allow-address-pair/' +
                      data.id
                  ]"
                >
                  Address Pair
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>
<nz-modal
  [(nzVisible)]="isVisibleEditPort"
  [nzTitle]="'app.edit.port' | i18n"
  (nzOnCancel)="handleCancelEditPort()"
>
  <div *nzModalContent>
    <form nz-form [formGroup]="form" [nzLayout]="'vertical'">
      <nz-form-item>
        <label
          class="text-label"
          nz-checkbox
          [(ngModel)]="portSecurity"
          [ngModelOptions]="{ standalone: true }"
          >Port Security</label
        >
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          >{{ 'app.choose.security.group' | i18n }}(<span class="text-red"
            >*</span
          >)
        </nz-form-label>
        <nz-form-control nzDisableAutoTips [nzErrorTip]="SGErrorTpl">
          <nz-select
            nzMode="multiple"
            [nzPlaceHolder]="
              '-- ' + ('app.choose.security.group' | i18n) + ' --'
            "
            formControlName="securityGroups"
            [(ngModel)]="listSGselected"
            [nzServerSearch]="true"
            nzSize="large"
            [nzDisabled]="!portSecurity"
          >
            <nz-option
              *ngFor="let i of listSecurityGroup"
              [nzLabel]="i.name"
              [nzValue]="i.id"
            />
          </nz-select>
        </nz-form-control>
        <ng-template #SGErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
            >{{ 'validation.security.group.required' | i18n }}
          </ng-container>
        </ng-template>
      </nz-form-item>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelEditPort()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />{{ 'app.button.cancel' | i18n }}
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="handleOkEditPort()"
      [disabled]="form.invalid"
    >
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />{{ 'app.button.confirm' | i18n }}
    </button>
  </div>
</nz-modal>
