
<nz-card nzTitle="Network">
    <nz-card nzHoverable>
      <div class="ant-table">

    <table>
      <thead class="ant-table-thead">
        <tr>
          <th>Tên Network</th>
          <th>MAC Address</th>
          <th>FixedIPs</th>
          <th>Status</th>
          <th>Giá theo tháng (VNĐ)</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="ant-table-tbody">
        <tr *ngFor="let data of listOfDataNetwork">
          <td>
            <label>
              {{ data.name }}
            </label>
          </td>
          <td>
            <label>
              {{ data.mac }}
            </label>
          </td>
          <td>
            <label>
              {{ data.ip }}
            </label>
          </td>
          <td>
            <label>
              {{ data.status }}
            </label>
          </td>
          <td>
            <button
            nz-button
            [nzType]="'primary'"
            nz-dropdown
            [nzDropdownMenu]="opMenu"
          >
            <span>Chỉnh sửa</span> <i nz-icon nzType="down"></i>
          </button>
          <nz-dropdown-menu #opMenu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="editPort(modalContentEditPort)">Chỉnh sửa</li>
              <li nz-menu-item [routerLink]="['/app-smart-cloud/create-security-group-inbound']" [queryParams]="{param: portId }">Address Pair</li>
            </ul>
          </nz-dropdown-menu>
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </nz-card>
  </nz-card>


<ng-template #modalContentEditPort>
  <nz-form-item>
   <label>Port Security <span style="color: red;">*</span></label> <input nz-input type="checkbox" checked style="width: 15px" />
  </nz-form-item>
  <nz-form-item>
    <label>Port Security Groups <span style="color: red;">*</span></label>
    <nz-select style="width: 65%;"
    nzMode="multiple"
    nzPlaceHolder="Chọn Security Group"
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="selectedSecurityGroup"
    (ngModelChange)="onChangeSecurityGroup($event)"
  >
    <nz-option
      *ngFor="let i of listSecurityGroup"
      [nzLabel]="i.name"
      [nzValue]="i.id"
    />
  </nz-select>
   </nz-form-item>
</ng-template>
