<page-header
  [breadcrumb]="breadcrumb"
  [action]="action"
  [title]="'app.instances.edit' | i18n"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="separatorTemplate">
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.breadcrumb.infrastructure.service' | i18n }}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-smart-cloud/instances']">{{
          'app.instances' | i18n
        }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a
          [routerLink]="['/app-smart-cloud/instances/instances-detail/' + id]"
          >{{ 'app.instances.detail' | i18n }}</a
        >
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ 'app.instances.edit' | i18n }}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #separatorTemplate
      ><img src="assets/imgs/arrow-square-right.svg" alt="" />
    </ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown
        (valueChanged)="onRegionChange($event)"
        (regionChange)="onRegionChanged($event)"
      ></region-select-dropdown>
      <project-select-dropdown
        #projectCombobox
        [regionId]="region"
        (userChanged)="onProjectChange($event)"
      ></project-select-dropdown>
    </div>
  </ng-template>
  <nz-row>
    <div style="width: 100%" class="non-pointer">
      <button nz-button nzType="primary" (click)="navigateToCreate()">
        <img
          style="padding-right: 10px; margin-top: -4px"
          src="assets/imgs/add-circle.svg"
          alt=""
        />{{ 'app.button.instance.create' | i18n }}
      </button>
      <one-portal-instances-btn
        *ngIf="
          instancesModel &&
          instancesModel.taskState.toUpperCase() != 'REBUILDING' &&
          !instancesModel.taskState.toUpperCase().includes('RESIZING')
        "
        [instancesId]="id"
        [isProjectVPC]="false"
        (valueChanged)="onReloadInstanceDetail()"
        style="margin-left: 8px"
      >
      </one-portal-instances-btn>
    </div>
  </nz-row>
</page-header>

<div nz-row [nzGutter]="24">
  <div nz-col [nzSpan]="16">
    <nz-row>
      <nz-card
        style="border-radius: 8px; width: 100%"
        [nzBordered]="false"
        *ngIf="instancesModel"
      >
        <div style="margin-bottom: 20px">
          <span class="text-card-header">{{
            'app.instances.info' | i18n
          }}</span>
        </div>
        <div class="customRow">
          <nz-row>
            <nz-col nzSpan="12">
              <nz-row style="padding: 12px 0 12px 0">
                <span class="text-label customSpan" style="width: 35%"
                  >{{ 'app.instances.name' | i18n }}:</span
                >
                <span class="text-value-detail customSpan">{{
                  instancesModel.name || ''
                }}</span>
              </nz-row>
            </nz-col>
            <nz-col nzSpan="12">
              <nz-row style="padding: 12px 0 12px 0">
                <span class="text-label" style="width: 35%"
                  >{{ 'app.instances.OS' | i18n }}:</span
                >
                <span class="text-value-detail"
                  >{{ instancesModel.imageName }}
                  <img
                    style="cursor: pointer; margin-left: 10px"
                    [nz-tooltip]="'app.change' | i18n"
                    src="assets/imgs/refresh.svg"
                    alt=""
                    (click)="navigateToChangeImage()"
                /></span> </nz-row
            ></nz-col>
          </nz-row>
          <nz-row style="background-color: #e2e2e9">
            <nz-col nzSpan="12">
              <nz-row style="padding: 12px 0 12px 0">
                <span class="text-label customSpan" style="width: 35%"
                  >{{ 'app.configuration.package' | i18n }}:</span
                >
                <span class="text-value-detail customSpan"
                  ><a
                    nz-popover
                    [nzPopoverTitle]="instancesModel.flavorName | slice : 3"
                    [nzPopoverContent]="contentConfigPackage"
                    [nzPopoverTrigger]="'click'"
                    >{{ instancesModel.flavorName | slice : 3 }}</a
                  >
                  <ng-template #contentConfigPackage>
                    <nz-row style="width: 320px">
                      <nz-col nzSpan="12"
                        >{{ instancesModel.volumeType == 1 ? 'SSD' : 'HDD' }}
                      </nz-col>
                      <nz-col class="text-right" nzSpan="12">
                        {{ instancesModel.storage }} GB
                      </nz-col>
                    </nz-row>
                    <nz-row style="width: 320px; margin-top: 5px">
                      <nz-col nzSpan="12"> RAM </nz-col>
                      <nz-col class="text-right" nzSpan="12">
                        {{ instancesModel.ram }} GB
                      </nz-col>
                    </nz-row>
                    <nz-row style="width: 320px; margin-top: 5px">
                      <nz-col nzSpan="12"> CPU </nz-col>
                      <nz-col class="text-right" nzSpan="12">
                        {{ instancesModel.cpu }} vCPU
                      </nz-col>
                    </nz-row>
                    <nz-row
                      *ngIf="instancesModel.gpuType != null"
                      style="width: 320px; margin-top: 5px"
                    >
                      <nz-col nzSpan="12">
                        GPU - NVIDIA-{{ instancesModel.gpuType.toUpperCase() }}
                      </nz-col>
                      <nz-col class="text-right" nzSpan="12">
                        {{ instancesModel.gpuCount }} GPU
                      </nz-col>
                    </nz-row>
                  </ng-template></span
                >
              </nz-row>
            </nz-col>
            <nz-col nzSpan="12">
              <nz-row style="padding: 12px 0 12px 0">
                <span class="text-label" style="width: 35%"
                  >{{ 'app.alert.access.security' | i18n }}:</span
                >
                <span
                  class="text-value-detail"
                  *ngFor="let item of listSecurityGroupModel; let first = first"
                  >{{ !first ? ', ' : '' }}{{ item.name }}
                </span>
              </nz-row></nz-col
            >
          </nz-row>
          <nz-row>
            <nz-col nzSpan="12">
              <nz-row style="padding: 12px 0 12px 0">
                <span class="text-label customSpan" style="width: 35%"
                  >{{ 'app.task.status' | i18n }}:</span
                >
                <ng-container
                  *ngIf="
                    instancesModel.taskState.toUpperCase()
                      | ServiceTaskStatePipe as statusModel
                  "
                >
                  <span
                    class="text-value-detail customSpan"
                    [ngStyle]="{ color: statusModel.color }"
                  >
                    {{ statusModel.status }}
                  </span>
                </ng-container>
              </nz-row>
            </nz-col>
            <nz-col nzSpan="12">
              <nz-row style="padding: 12px 0 12px 0">
                <span class="text-label" style="width: 35%"
                  >{{ 'app.ip.public' | i18n }}:</span
                >
                <span class="text-value-detail">{{ listIPPublicStr }}</span>
              </nz-row></nz-col
            >
          </nz-row>
          <nz-row style="background-color: #e2e2e9">
            <nz-col nzSpan="12">
              <nz-row style="padding: 12px 0 12px 0">
                <span class="text-label customSpan" style="width: 35%"
                  >{{ 'app.hard.drive.type' | i18n }}:</span
                >
                <span
                  *ngIf="instancesModel.volumeType == 0"
                  class="text-value-detail customSpan"
                  >HDD</span
                >
                <span
                  *ngIf="instancesModel.volumeType == 1"
                  class="text-value-detail customSpan"
                  >SSD</span
                >
              </nz-row>
            </nz-col>
            <nz-col nzSpan="12">
              <nz-row style="padding: 12px 0 12px 0">
                <span class="text-label" style="width: 35%"
                  >{{ 'app.ip.lan' | i18n }}:</span
                >
                <span class="text-value-detail">{{ listIPLanStr }}</span>
              </nz-row></nz-col
            >
          </nz-row>
          <nz-row>
            <nz-col nzSpan="12">
              <nz-row style="padding: 12px 0 12px 0">
                <span class="text-label customSpan" style="width: 35%"
                  >{{ 'app.domestic.bandwidth' | i18n }}:</span
                >
                <span class="text-value-detail customSpan"
                  >{{ instancesModel.bttn || '' }}{{ ' Mbps' }}</span
                >
              </nz-row>
            </nz-col>
            <nz-col nzSpan="12">
              <nz-row style="padding: 12px 0 12px 0">
                <span class="text-label" style="width: 35%"
                  >{{ 'app.international.bandwidth' | i18n }}:</span
                >
                <span class="text-value-detail"
                  >{{ instancesModel.btqt }}{{ ' Mbps' }}</span
                >
              </nz-row></nz-col
            >
          </nz-row>
          <nz-row style="background-color: #e2e2e9">
            <nz-col nzSpan="12">
              <nz-row style="padding: 12px 0 12px 0">
                <span class="text-label customSpan" style="width: 35%"
                  >{{ 'app.service.creation-date' | i18n }}:</span
                >
                <span class="text-value-detail customSpan">{{
                  instancesModel.createdDate | date : 'HH:mm:ss dd/MM/yyyy'
                }}</span>
              </nz-row>
            </nz-col>
            <nz-col nzSpan="12">
              <nz-row style="padding: 12px 0 12px 0">
                <span class="text-label" style="width: 35%"
                  >{{ 'app.service.expiration-date' | i18n }}:</span
                >
                <span class="text-value-detail"
                  >{{
                    instancesModel.expiredDate | date : 'HH:mm:ss dd/MM/yyyy'
                  }}
                </span>
              </nz-row></nz-col
            >
          </nz-row>
          <nz-row *ngIf="instancesModel.keypair">
            <nz-col nzSpan="12">
              <nz-row style="padding: 12px 0 12px 0">
                <span class="text-label customSpan" style="width: 35%"
                  >{{ 'app.keypair.name' | i18n }}:</span
                >
                <span class="text-value-detail customSpan">{{
                  instancesModel.keypair || ''
                }}</span>
              </nz-row>
            </nz-col>
            <nz-col nzSpan="12"> </nz-col>
          </nz-row>
        </div>
      </nz-card>
      <one-portal-blockstorage-detail
        *ngIf="checkPermission"
        [instancesId]="id"
        [isDetail]="true"
      ></one-portal-blockstorage-detail>
      <one-portal-network-detail
        style="width: 100%"
        *ngIf="checkPermission"
        [instancesId]="id"
        [isDetail]="false"
      ></one-portal-network-detail>
      <form style="width: 100%" nz-form [nzLayout]="'vertical'">
        <nz-card
          style="border-radius: 8px"
          [nzBordered]="false"
          *ngIf="instancesModel"
        >
          <div style="margin-bottom: 20px">
            <span class="text-card-header">{{ 'app.adjust.info' | i18n }}</span>
          </div>
          <nz-alert
            style="margin-bottom: 20px"
            nzType="warning"
            [nzDescription]="'app.alert.resize.instance' | i18n"
            nzShowIcon
          ></nz-alert>
          <div style="margin-bottom: 20px">
            <span class="text-label"
              >{{ 'app.current.config' | i18n }}: {{ instancesModel.cpu }} vCPU,
              {{ instancesModel.ram }}GB RAM, {{ instancesModel.storage }}GB
              <span *ngIf="instancesModel.volumeType == 0">HDD</span>
              <span *ngIf="instancesModel.volumeType == 1">SSD</span
              ><span
                *ngIf="
                  instancesModel.gpuCount != null &&
                  instancesModel.gpuType != null
                "
                >, {{ instancesModel.gpuCount }} GPU (NVIDIA-{{
                  instancesModel.gpuType | uppercase
                }})</span
              >
            </span>
          </div>
          <div style="margin-bottom: 20px">
            <span class="text-label"
              >{{ 'app.adjust.config' | i18n }}: {{ instanceResize.cpu }} vCPU,
              {{ instanceResize.ram }}GB RAM, {{ instanceResize.storage }}GB
              <span *ngIf="instancesModel.volumeType == 0">HDD</span>
              <span *ngIf="instancesModel.volumeType == 1">SSD</span
              ><span
                *ngIf="
                  instanceResize.gpuCount != 0 && instanceResize.gpuType != null
                "
                >, {{ configGPU.GPU }} GPU (NVIDIA-{{
                  instanceResize.gpuType | uppercase
                }})</span
              >
            </span>
          </div>
          <nz-tabset
            nzCentered
            nzSize="large"
            (keydown)="handleKeyboardEvent($event)"
          >
            <nz-tab
              *ngIf="
                isConfigPackageAtInitial &&
                (instancesModel.gpuCount == null ||
                  instancesModel.gpuCount == 0)
              "
              [nzTitle]="'app.Preconfigured.Package' | i18n"
              (nzClick)="onClickConfigPackage()"
            >
              <ngu-carousel
                #myCarouselFlavor
                [inputs]="carouselTileConfig"
                [dataSource]="listOfferFlavors"
              >
                <ngu-tile
                  *nguCarouselDef="let item; index as i; let ani = animate"
                  [@slider]="ani"
                >
                  <div
                    [tabIndex]="0"
                    style="cursor: pointer"
                    (click)="
                      selectElementInputFlavors('flavor_' + item.id);
                      onInputFlavors(item.id)
                    "
                    (keyup.enter)="
                      selectElementInputFlavors('flavor_' + item.id);
                      onInputFlavors(item.id)
                    "
                    [id]="'flavor_' + item.id"
                  >
                    <nz-row>
                      <nz-col
                        style="padding-bottom: 5px"
                        class="newClassFlavor text-center"
                        [class.initialClassFlavor]="
                          selectedElementFlavor === 'flavor_' + item.id
                        "
                      >
                        <div>
                          <span
                            class="nameFlavor"
                            [class.initialNameFlavor]="
                              selectedElementFlavor === 'flavor_' + item.id
                            "
                            >{{ item.offerName | slice : 3 : -4 }}</span
                          >
                          <div style="margin-top: -16px">
                            <img
                              style="width: 100px"
                              [src]="
                                selectedElementFlavor === 'flavor_' + item.id
                                  ? 'assets/imgs/line2.svg'
                                  : 'assets/imgs/line.svg'
                              "
                              alt=""
                            />
                          </div>
                          <span class="priceFlavor">{{
                            item.price.fixedPrice.amount | number
                          }}</span
                          ><span> VND/{{ 'app.Month' | i18n }}</span>
                        </div>
                      </nz-col>
                    </nz-row>
                    <nz-row>
                      <nz-col
                        style="width: 100%; padding-top: 5px"
                        [class.flavor-footer-active]="
                          selectedElementFlavor === 'flavor_' + item.id
                        "
                        [class.flavor-footer]="
                          selectedElementFlavor != 'flavor_' + item.id
                        "
                      >
                        <div>
                          <p>{{ item.description }}</p>
                        </div>
                      </nz-col>
                    </nz-row>
                  </div>
                </ngu-tile>

                <ul class="myPoint" NguCarouselPoint>
                  <li
                    *ngFor="let i of myCarouselFlavor.pointNumbers"
                    [class.active]="i === myCarouselFlavor.activePoint"
                    (click)="myCarouselFlavor.moveTo(i)"
                  ></li>
                </ul>
              </ngu-carousel>
            </nz-tab>
            <nz-tab
              *ngIf="
                !isCurrentConfigGpu &&
                (instancesModel.gpuCount == null ||
                  instancesModel.gpuCount == 0)
              "
              [nzTitle]="'app.custom.configuration' | i18n"
              (nzClick)="onClickCustomConfig()"
            >
              <div class="ant-table">
                <table>
                  <thead class="ant-table-thead">
                    <tr>
                      <th>{{ 'app.resource' | i18n }}</th>
                      <th>{{ 'app.amount' | i18n }}</th>
                      <th>{{ 'app.money.price' | i18n }} (VND)</th>
                    </tr>
                  </thead>
                  <tbody class="ant-table-tbody">
                    <tr>
                      <td style="width: 50%">
                        <nz-form-label
                          >{{ 'app.capacity' | i18n }} (<span class="text-red"
                            >*</span
                          >) - GB</nz-form-label
                        >
                        <nz-slider
                          [nzMin]="minCapacity"
                          [nzMax]="maxCapacity"
                          [nzStep]="stepCapacity"
                          [(ngModel)]="configCustom.capacity"
                          (ngModelChange)="changeCapacity($event)"
                          [ngModelOptions]="{ standalone: true }"
                        ></nz-slider>
                      </td>
                      <td>
                        <nz-input-number
                          [(ngModel)]="configCustom.capacity"
                          (keydown)="onKeyDown($event)"
                          (ngModelChange)="changeCapacity($event)"
                          [ngModelOptions]="{ standalone: true }"
                          [nzMin]="minCapacity"
                          [nzMax]="maxCapacity"
                          [nzStep]="stepCapacity"
                          nzSize="large"
                        ></nz-input-number>
                      </td>
                      <td nzAlign="right">
                        <label class="text-custom-price">
                          {{ volumeIntoMoney | number }} </label
                        ><br />
                        <label class="text-custom-unit-price">
                          {{ volumeUnitPrice | number }}
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <nz-form-label
                          >RAM (<span class="text-red">*</span>) -
                          GB</nz-form-label
                        >
                        <nz-slider
                          [nzMin]="0"
                          [nzMax]="62"
                          [(ngModel)]="configCustom.ram"
                          (ngModelChange)="changeRam($event)"
                          [ngModelOptions]="{ standalone: true }"
                        ></nz-slider>
                      </td>
                      <td>
                        <nz-input-number
                          [(ngModel)]="configCustom.ram"
                          (keydown)="onKeyDown($event)"
                          (ngModelChange)="changeRam($event)"
                          [ngModelOptions]="{ standalone: true }"
                          [nzMin]="0"
                          [nzMax]="62"
                          [nzStep]="1"
                          nzSize="large"
                        ></nz-input-number>
                      </td>

                      <td nzAlign="right">
                        <label class="text-custom-price">
                          {{ ramIntoMoney | number }} </label
                        ><br />
                        <label class="text-custom-unit-price">
                          {{ ramUnitPrice | number }}
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <nz-form-label
                          >CPU (<span class="text-red">*</span>) -
                          vCPU</nz-form-label
                        >
                        <nz-slider
                          [nzMin]="0"
                          [nzMax]="62"
                          [(ngModel)]="configCustom.vCPU"
                          (ngModelChange)="changeVCPU($event)"
                          [ngModelOptions]="{ standalone: true }"
                        ></nz-slider>
                      </td>
                      <td>
                        <nz-input-number
                          [(ngModel)]="configCustom.vCPU"
                          (keydown)="onKeyDown($event)"
                          (ngModelChange)="changeVCPU($event)"
                          [ngModelOptions]="{ standalone: true }"
                          [nzMin]="0"
                          [nzMax]="62"
                          [nzStep]="1"
                          nzSize="large"
                        ></nz-input-number>
                      </td>
                      <td nzAlign="right">
                        <label class="text-custom-price">
                          {{ cpuIntoMoney | number }} </label
                        ><br />
                        <label class="text-custom-unit-price">
                          {{ cpuUnitPrice | number }}
                        </label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </nz-tab>
            <nz-tab
              *ngIf="instancesModel.volumeType != 0 && isVmGpu"
              [nzTitle]="'app.gpu.configuration' | i18n"
              (nzClick)="onClickGpuConfig()"
            >
              <div class="ant-table">
                <table>
                  <thead class="ant-table-thead">
                    <tr>
                      <th>{{ 'app.resource' | i18n }}</th>
                      <th>{{ 'app.amount' | i18n }}</th>
                      <th>{{ 'app.money.price' | i18n }} (VND)</th>
                    </tr>
                  </thead>
                  <tbody class="ant-table-tbody">
                    <tr>
                      <td style="width: 50%">
                        <nz-form-label
                          >{{ 'app.ssd.capacity' | i18n }} (<span
                            class="text-red"
                            >*</span
                          >) - GB</nz-form-label
                        >
                        <nz-slider
                          [nzMin]="minCapacity"
                          [nzMax]="maxCapacity"
                          [nzStep]="stepCapacity"
                          [(ngModel)]="configGPU.storage"
                          (ngModelChange)="changeStorageOfGpu($event)"
                          [ngModelOptions]="{ standalone: true }"
                        ></nz-slider>
                      </td>
                      <td>
                        <nz-input-number
                          [(ngModel)]="configGPU.storage"
                          (keydown)="onKeyDown($event)"
                          (ngModelChange)="changeStorageOfGpu($event)"
                          [ngModelOptions]="{ standalone: true }"
                          [nzMin]="minCapacity"
                          [nzMax]="maxCapacity"
                          [nzStep]="stepCapacity"
                          nzSize="large"
                        ></nz-input-number>
                      </td>
                      <td nzAlign="right">
                        <label class="text-custom-price">
                          {{ volumeIntoMoney | number }} </label
                        ><br />
                        <label class="text-custom-unit-price">
                          {{ volumeUnitPrice | number }}
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <nz-form-label
                          >RAM (<span class="text-red">*</span>) -
                          GB</nz-form-label
                        >
                        <nz-slider
                          [nzMin]="0"
                          [nzMax]="62"
                          [(ngModel)]="configGPU.ram"
                          (ngModelChange)="changeRamOfGpu($event)"
                          [ngModelOptions]="{ standalone: true }"
                        ></nz-slider>
                      </td>
                      <td>
                        <nz-input-number
                          [(ngModel)]="configGPU.ram"
                          (keydown)="onKeyDown($event)"
                          (ngModelChange)="changeRamOfGpu($event)"
                          [ngModelOptions]="{ standalone: true }"
                          [nzMin]="0"
                          [nzMax]="62"
                          [nzStep]="1"
                          nzSize="large"
                        ></nz-input-number>
                      </td>

                      <td nzAlign="right">
                        <label class="text-custom-price">
                          {{ ramIntoMoney | number }} </label
                        ><br />
                        <label class="text-custom-unit-price">
                          {{ ramUnitPrice | number }}
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <nz-form-label
                          >CPU (<span class="text-red">*</span>) -
                          vCPU</nz-form-label
                        >
                        <nz-slider
                          [nzMin]="0"
                          [nzMax]="62"
                          [(ngModel)]="configGPU.CPU"
                          (ngModelChange)="changeCpuOfGpu($event)"
                          [ngModelOptions]="{ standalone: true }"
                        ></nz-slider>
                      </td>
                      <td>
                        <nz-input-number
                          [(ngModel)]="configGPU.CPU"
                          (keydown)="onKeyDown($event)"
                          (ngModelChange)="changeCpuOfGpu($event)"
                          [ngModelOptions]="{ standalone: true }"
                          [nzMin]="0"
                          [nzMax]="62"
                          [nzStep]="1"
                          nzSize="large"
                        ></nz-input-number>
                      </td>
                      <td nzAlign="right">
                        <label class="text-custom-price">
                          {{ cpuIntoMoney | number }} </label
                        ><br />
                        <label class="text-custom-unit-price">
                          {{ cpuUnitPrice | number }}
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 50%">
                        <nz-form-label>{{
                          'app.gpu.type' | i18n
                        }}</nz-form-label>
                        <nz-form-control>
                          <nz-select
                            [nzShowSearch]="true"
                            [ngModelOptions]="{ standalone: true }"
                            [(ngModel)]="configGPU.gpuOfferId"
                            (ngModelChange)="changeGpuType()"
                            nzSize="large"
                            [nzDisabled]="isCurrentConfigGpu"
                          >
                            <nz-option
                              *ngFor="let i of listGPUType"
                              [nzLabel]="i.offerName"
                              [nzValue]="i.id"
                            />
                          </nz-select>
                        </nz-form-control>
                      </td>
                      <td>
                        <nz-select
                          style="
                            margin-left: 8px;
                            margin-top: 32px;
                            width: 90px;
                          "
                          [nzShowSearch]="true"
                          [(ngModel)]="configGPU.GPU"
                          (ngModelChange)="changeGpu()"
                          [ngModelOptions]="{ standalone: true }"
                          nzSize="large"
                        >
                          <nz-option
                            *ngFor="let i of listOptionGpuValue"
                            [nzLabel]="i"
                            [nzValue]="i"
                          />
                        </nz-select>
                      </td>
                      <td nzAlign="right">
                        <label class="text-custom-price">
                          {{ gpuIntoMoney | number }} </label
                        ><br />
                        <label class="text-custom-unit-price">
                          {{ gpuUnitPrice | number }}
                        </label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </nz-tab>
          </nz-tabset>
          <nz-alert
            *ngIf="configRecommend"
            style="margin-top: 20px"
            nzType="warning"
            [nzDescription]="
              'app.alert.config.gpu.recommend'
                | i18n
                  : {
                      type: 'NVIDIA-' + instancesModel.gpuType.toUpperCase(),
                      gpu: configRecommend.gpuCount,
                      ssd: configRecommend.ssd,
                      ram: configRecommend.ram,
                      cpu: configRecommend.cpu
                    }
            "
            nzShowIcon
          ></nz-alert>
          <div style="margin-top: 20px" class="text-label">
            {{ 'app.adjust.date' | i18n }}: {{ today | date : 'dd/MM/yyyy' }}
          </div>
        </nz-card>
      </form>
      <one-portal-guide-formula></one-portal-guide-formula>
    </nz-row>
  </div>
  <div nz-col [nzSpan]="8">
    <div style="width: 100%" *ngIf="instancesModel">
      <nz-affix [nzOffsetTop]="72">
        <nz-card class="card-border" style="border-radius: 8px">
          <div style="margin-bottom: 20px">
            <span class="text-card-header">{{
              'app.estimated.cost' | i18n
            }}</span>
          </div>
          <div class="text-value">{{ 'app.instances.name' | i18n }}</div>
          <div style="margin-top: 10px" class="text-label">
            {{ instancesModel.name }}
          </div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <div class="text-value">{{ 'app.instances.OS' | i18n }}</div>
          <div style="margin-top: 10px" class="text-label">
            {{ instancesModel.imageName }}
          </div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <div class="text-value">{{ 'app.text.package' | i18n }}</div>
          <div
            *ngIf="instanceResize.cpu"
            style="margin-top: 10px"
            class="text-label"
          >
            {{ instanceResize.cpu }} vCPU
          </div>
          <div
            *ngIf="instanceResize.ram"
            style="margin-top: 10px"
            class="text-label"
          >
            {{ instanceResize.ram }} GB RAM
          </div>
          <div
            *ngIf="instanceResize.storage"
            style="margin-top: 10px"
            class="text-label"
          >
            {{ instanceResize.storage }} GB Root Disk (<span
              *ngIf="instancesModel.volumeType == 0"
              >HDD</span
            ><span *ngIf="instancesModel.volumeType == 1">SSD</span>)
          </div>
          <div
            *ngIf="
              instanceResize.gpuCount != 0 && instanceResize.gpuType != null
            "
            style="margin-top: 10px"
            class="text-label"
          >
            {{ configGPU.GPU }} GPU (NVIDIA-{{
              instanceResize.gpuType | uppercase
            }})
          </div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <div *ngIf="!hasRoleSI">
            <nz-row style="margin-bottom: 10px" nzGutter="16">
              <nz-col nzSpan="16">
                <span class="text-value">
                  {{ 'app.fee.resize' | i18n }}
                </span>
              </nz-col>
              <nz-col class="text-right" nzSpan="8">
                <span class="text-value" style="color: #0066b3" nzAlign="right">
                  {{ totalAmount | number }}
                  VND
                </span>
              </nz-col>
            </nz-row>
            <nz-row style="margin-bottom: 10px" nzGutter="16">
              <nz-col nzSpan="16">
                <span class="text-value">
                  {{ 'app.cost.vat' | i18n }}
                </span>
              </nz-col>
              <nz-col class="text-right" nzSpan="8">
                <span class="text-value" style="color: #0066b3" nzAlign="right">
                  {{ totalVAT | number }}
                  VND
                </span>
              </nz-col>
            </nz-row>
            <nz-row
              style="
                margin-top: 16px;
                margin-bottom: 20px;
                background-color: #cce9ff;
                padding: 16px 0 16px 0;
                border-radius: 8px;
              "
              nzGutter="16"
            >
              <nz-col nzSpan="16">
                <span class="text-label">{{ 'app.total.payment' | i18n }}</span
                ><br />
                <span class="text-note-italicized"
                  >({{ 'app.include.vat' | i18n : { vat: '10' } }})</span
                >
              </nz-col>
              <nz-col class="text-right" nzSpan="8">
                <span class="text-value" style="color: #ea3829" nzAlign="right">
                  {{ totalincludesVAT | number }}
                  VND
                </span>
              </nz-col>
            </nz-row>
          </div>
          <nz-row>
            <nz-col style="width: 100%">
              <button
                style="width: 100%"
                nz-button
                nzSize="large"
                nzType="primary"
                [nzLoading]="isLoading"
                (click)="readyEdit()"
                [disabled]="totalAmount == 0"
              >
                <img
                  src="assets/imgs/wallet.svg"
                  style="margin-right: 5px; padding-bottom: 5px"
                />
                <span [style.color]="totalAmount == 0 ? 'gray' : 'white'">{{
                  'app.button.resize' | i18n
                }}</span>
              </button>
            </nz-col>
          </nz-row>
        </nz-card>
      </nz-affix>
    </div>
  </div>
</div>
<one-portal-popup-list-error
  [isVisible]="isVisiblePopupError"
  [errorList]="errorList"
  (onCancel)="closePopupError()"
></one-portal-popup-list-error>
