<page-header [breadcrumb]="breadcrumb"
             [action]="action"
             [title]="('app.vlan.note26' | i18n)" xmlns="http://www.w3.org/1999/html">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>{{ 'app.breadcrumb.home' | i18n }}</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/vlan/network/list">VLAN</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/vlan/network/detail/{{idNetwork}}">{{ 'app.vlan.note25' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.vlan.note26' | i18n }}
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               (userChanged)="userChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'">
    <nz-card style="border-radius: 8px;">
      <nz-form-item>
        <nz-form-label>
          <div>
            <span>{{ 'app.vlan.note5' | i18n }} (<span style="color: rgba(252, 16, 16, 1);">*</span>)</span>
            <img nz-popover nzPopoverContent="{{ 'app.vlan.note6' | i18n }}"
                 nzPopoverPlacement="bottom" style="margin-left: 5px;"
                 src="assets/imgs/pajamas_question.svg" alt="" />
          </div>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips [nzErrorTip]="nameSubnetErrorTpl">
          <input nz-input appAutofocus
                 class="input-custom"
                 formControlName="nameSubnet"
                 placeholder="{{ 'app.vlan.note7' | i18n }}"
                 [maxlength]="50" />
          <ng-template #nameSubnetErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">{{ 'app.vlan.note8' | i18n }}</ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">{{ 'app.vlan.note9' | i18n }}</ng-container>
            <ng-container *ngIf="control.hasError('pattern')">{{ 'app.vlan.note10' | i18n }}</ng-container>
            <ng-container *ngIf="control.hasError('duplicateName')">{{ 'app.vlan.note11' | i18n }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>
          <div>
            <span>{{ 'app.vlan.note14' | i18n }} (<span style="color: rgba(252, 16, 16, 1);">*</span>)</span>
            <img nz-popover nzPopoverContent="{{ 'app.vlan.note27' | i18n }}"
                 nzPopoverPlacement="bottom" style="margin-left: 5px;"
                 src="assets/imgs/pajamas_question.svg" alt="" />
          </div>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips>
          <input nz-input class="input-custom" value="IPv4" [disabled]="'true'"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>
          <div>
            <span>Địa chỉ (<span style="color: rgba(252, 16, 16, 1);">*</span>)</span>
            <img nz-popover nzPopoverContent="{{ 'app.vlan.note28' | i18n }}"
                 nzPopoverPlacement="bottom" style="margin-left: 5px;"
                 src="assets/imgs/pajamas_question.svg" alt="" />
          </div>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips [nzErrorTip]="networkAddressErrorTpl">
          <input nz-input
                 class="input-custom"
                 [placeholder]="'x.x.0.0/16'" [value]="subnet?.subnetAddressRequired" [disabled]="true"/>
          <ng-template #networkAddressErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">{{ 'app.vlan.note29' | i18n }}</ng-container>
            <ng-container *ngIf="control.hasError('invalidIPAddress')">{{ 'app.vlan.note30' | i18n }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-alert nzType="warning"
                nzMessage="{{ 'app.vlan.note30' | i18n }}"
                nzShowIcon>
      </nz-alert>
      <nz-form-item>
        <nz-form-control style="margin-top: 24px;">
          <div nz-row>
            <div nz-col nzSpan="12">
              <label nz-checkbox formControlName="disableGatewayIp">
                <nz-space [nzSize]="4" nzAlign="center">
                  <span *nzSpaceItem class="text-value">{{ 'app.vlan.note33' | i18n }}</span>
                  <img *nzSpaceItem nz-popover nzPopoverContent="{{ 'app.vlan.note31' | i18n }}"
                       nzPopoverPlacement="bottom" style="margin-left: 5px;"
                       src="assets/imgs/pajamas_question.svg" alt="" />
                </nz-space>
              </label>
            </div>
            <div nz-col nzSpan="12">
              <label nz-checkbox formControlName="enableDhcp" >
                <nz-space [nzSize]="4" nzAlign="center">
                  <span *nzSpaceItem class="text-value">DHCP</span>
                  <img *nzSpaceItem nz-popover nzPopoverContent="{{ 'app.vlan.note32' | i18n }}"
                       nzPopoverPlacement="bottom" style="margin-left: 5px;"
                       src="assets/imgs/pajamas_question.svg" alt="" />
                </nz-space>
              </label>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="!validateForm.controls.disableGatewayIp.value">
        <nz-form-label>
          <nz-space [nzSize]="4" nzAlign="center">
            <span *nzSpaceItem>Gateway</span>
            <img *nzSpaceItem nz-popover nzPopoverContent="{{ 'app.vlan.note34' | i18n }}"
                 nzPopoverPlacement="bottom" style="margin-left: 5px;"
                 src="assets/imgs/pajamas_question.svg" alt="" />
          </nz-space>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips>
          <input nz-input class="input-custom" formControlName="gateway" placeholder="{{ 'app.vlan.note35' | i18n }}"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>
          <nz-space [nzSize]="4">
            <span *nzSpaceItem>Allocation Pool</span>
            <img *nzSpaceItem nz-popover nzPopoverContent="{{ 'app.vlan.note36' | i18n }}"
                 nzPopoverPlacement="bottom" style="margin-left: 5px;"
                 src="assets/imgs/pajamas_question.svg" alt="" />
          </nz-space>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips [nzErrorTip]="allocationPoolErrorTpl">
          <nz-textarea-count [nzMaxCharacterCount]="100" disabled="true">
            <textarea [nzAutosize]="{ minRows: 4, maxRows: 6 }"
                      nz-input class="input-custom" [value]="allocationPool" [disabled]="true"></textarea>
          </nz-textarea-count>
          <ng-template #allocationPoolErrorTpl let-control>
            <ng-container *ngIf="control.hasError('invalidIpAddressFormat')">{{ 'app.vlan.note37' | i18n }}</ng-container>
            <ng-container *ngIf="control.hasError('invalidIpAddressRange')">{{ 'app.vlan.note38' | i18n }}</ng-container>
            <ng-container *ngIf="control.hasError('invalidIpSequence')">{{ 'app.vlan.note39' | i18n }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </nz-card>

    <nz-form-item nzAlign="bottom" nzJustify="end">
      <nz-space nzSize="large">
        <button *nzSpaceItem nz-button nzType="default" class="button-cancel">
          <span nz-icon nzType="close" nzTheme="outline"></span>{{ 'app.button.cancel' | i18n }}</button>
        <nz-form-control *nzSpaceItem>
          <button nz-button nzType="primary" [disabled]="validateForm.invalid"
                  class="button-ok" (click)="handleEdit()" [nzLoading]="isLoading">
            <span nz-icon nzType="check" nzTheme="outline" ></span>{{ 'app.button.confirm' | i18n }}</button>
        </nz-form-control>
      </nz-space>
    </nz-form-item>
  </form>
</nz-content>
