<page-header>
  <nz-breadcrumb style="float: left">
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">Trang chủ</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="['/app-smart-cloud/instances']">Quản lý máy ảo</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item> Chi tiết máy ảo </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="text-right">
    <region-select-dropdown
      (valueChanged)="onRegionChange($event)"
    ></region-select-dropdown>
    <project-select-dropdown
      [regionId]="regionId"
      (userChanged)="userChangeProject()"
    ></project-select-dropdown>
  </div>
  <nz-row style="margin-bottom: -10px">
    <span class="text-page-header" style="width: 50%">Chi tiết máy ảo</span>
  </nz-row>
  <nz-row style="margin-top: 20px">
    <div class="non-pointer" style="width: 100%">
      <button
        nz-button
        [nzType]="'primary'"
        (click)="activeGSCard()"
        *ngIf="!activeGS"
      >
        <i nz-icon nzType="eye"></i> <span>Giám sát</span>
      </button>
      <button nz-button [nzType]="'primary'" (click)="navigateToEdit()">
        <i nz-icon nzType="edit"></i>
        <span>Điều chỉnh</span>
      </button>
      <one-portal-instances-btn
        [instancesId]="id"
        (valueChanged)="onReloadInstanceDetail($event)"
        style="margin-left: 8px"
      >
      </one-portal-instances-btn>
    </div>
  </nz-row>
</page-header>

<nz-card style="border-radius: 8px" [nzBordered]="false" *ngIf="activeGS">
  <div style="margin-bottom: 20px">
    <nz-row nzGutter="16">
      <nz-col nzSpan="8">
        <span class="text-card-header">Giám sát</span>
      </nz-col>
      <nz-col class="text-right" nzSpan="16">
        <nz-select
          style="width: 17%; margin-right: 8px"
          nzPlaceHolder="Chọn"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="valueGSCPU"
          (ngModelChange)="onChangeCPU($event)"
          nzSize="large"
        >
          <nz-option
            *ngFor="let p of GSCPU"
            [nzValue]="p.key"
            [nzLabel]="p.name"
          ></nz-option>
        </nz-select>

        <nz-select
          style="width: 12%"
          nzPlaceHolder="Chọn"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="valueGSTIME"
          (ngModelChange)="onChangeTIME($event)"
          nzSize="large"
        >
          <nz-option
            *ngFor="let p of GSTIME"
            [nzValue]="p.key"
            [nzLabel]="p.name"
          ></nz-option>
        </nz-select>
      </nz-col>
    </nz-row>
  </div>

  <g2-timeline
    [maxAxis]="maxAxis"
    [data]="chartData"
    [height]="289"
    [titleMap]="{ y1: 'Traflic' }"
  />
</nz-card>

<nz-card
  style="border-radius: 8px"
  [nzBordered]="false"
  [nzLoading]="loading"
  *ngIf="instancesModel"
>
  <div style="margin-bottom: 20px">
    <span class="text-card-header">Thông tin máy ảo</span>
  </div>
  <div class="customRow">
    <nz-row>
      <nz-col nzSpan="12">
        <nz-row style="padding: 12px 0 12px 0">
          <span class="text-label customSpan" style="width: 35%"
            >Tên máy ảo:</span
          >
          <span class="text-value-detail customSpan">{{
            instancesModel.name || ''
          }}</span>
        </nz-row>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-row style="padding: 12px 0 12px 0">
          <span class="text-label" style="width: 35%">Hệ điều hành:</span>
          <span class="text-value-detail"
            >{{ instancesModel.imageName }}
            <img
              style="cursor: pointer; margin-left: 10px"
              nz-tooltip="Thay đổi"
              src="assets/imgs/refresh.svg"
              alt=""
              (click)="navigateToChangeImage()"
          /></span> </nz-row
      ></nz-col>
    </nz-row>
    <nz-row style="background-color: #e2e2e9">
      <nz-col nzSpan="12">
        <nz-row style="padding: 12px 0 12px 0">
          <span class="text-label customSpan" style="width: 35%"
            >Gói cấu hình:</span
          >
          <span class="text-value-detail customSpan">{{
            instancesModel.flavorName | slice : 3
          }}</span>
        </nz-row>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-row style="padding: 12px 0 12px 0">
          <span class="text-label" style="width: 35%"
            >Truy cập và bảo mật:</span
          >
          <span
            class="text-value-detail"
            *ngFor="let item of listSecurityGroupModel; let first = first"
            >{{ !first ? ', ' : '' }}{{ item.name }}
          </span>
        </nz-row></nz-col
      >
    </nz-row>
    <nz-row>
      <nz-col nzSpan="12">
        <nz-row style="padding: 12px 0 12px 0">
          <span class="text-label customSpan" style="width: 35%"
            >Trạng thái tác vụ:</span
          >
          <span
            *ngIf="instancesModel.taskState == 'SHUTOFF'"
            class="text-value-detail customSpan"
            style="color: #ea3829"
            >{{ instancesModel.taskState }}</span
          >
          <span
            *ngIf="instancesModel.taskState == 'powering-off'"
            class="text-value-detail customSpan"
            style="color: #ea3829"
            >{{ instancesModel.taskState }}</span
          >
          <span
            *ngIf="instancesModel.taskState == 'ACTIVE'"
            class="text-value-detail customSpan"
            style="color: #008d47"
            >{{ instancesModel.taskState }}</span
          >
          <span
            *ngIf="instancesModel.taskState == 'powering-on'"
            class="text-value-detail customSpan"
            style="color: #008d47"
            >{{ instancesModel.taskState }}</span
          >
        </nz-row>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-row style="padding: 12px 0 12px 0">
          <span class="text-label" style="width: 35%">IP Public:</span>
          <span class="text-value-detail">{{ listIPPublicStr }}</span>
        </nz-row></nz-col
      >
    </nz-row>
    <nz-row style="background-color: #e2e2e9">
      <nz-col nzSpan="12">
        <nz-row style="padding: 12px 0 12px 0">
          <span class="text-label customSpan" style="width: 35%"
            >Loại ổ cứng:</span
          >
          <span
            *ngIf="instancesModel.volumeType == 0"
            class="text-value-detail customSpan"
            >HDD</span
          >
          <span
            *ngIf="instancesModel.volumeType == 1"
            class="text-value-detail customSpan"
            >SSD</span
          >
        </nz-row>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-row style="padding: 12px 0 12px 0">
          <span class="text-label" style="width: 35%">IP LAN:</span>
          <span class="text-value-detail">{{ listIPLanStr }}</span>
        </nz-row></nz-col
      >
    </nz-row>
    <nz-row>
      <nz-col nzSpan="12">
        <nz-row style="padding: 12px 0 12px 0">
          <span class="text-label customSpan" style="width: 35%"
            >Băng thông trong nước:</span
          >
          <span class="text-value-detail customSpan"
            >{{ instancesModel.bttn || '' }}{{ ' Mbps' }}</span
          >
        </nz-row>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-row style="padding: 12px 0 12px 0">
          <span class="text-label" style="width: 35%">Băng thông quốc tế:</span>
          <span class="text-value-detail"
            >{{ instancesModel.btqt }}{{ ' Mbps' }}</span
          >
        </nz-row></nz-col
      >
    </nz-row>
    <nz-row style="background-color: #e2e2e9">
      <nz-col nzSpan="12">
        <nz-row style="padding: 12px 0 12px 0">
          <span class="text-label customSpan" style="width: 35%"
            >Ngày khởi tạo:</span
          >
          <span class="text-value-detail customSpan">{{
            instancesModel.createdDate | date : 'dd/MM/yyyy'
          }}</span>
        </nz-row>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-row style="padding: 12px 0 12px 0">
          <span class="text-label" style="width: 35%">Ngày hết hạn:</span>
          <span class="text-value-detail"
            >{{ instancesModel.expiredDate | date : 'dd/MM/yyyy' }}
          </span>
        </nz-row></nz-col
      >
    </nz-row>
  </div>
</nz-card>
<one-portal-blockstorage-detail
  *ngIf="checkPermission"
  [instancesId]="id"
  [isDetail]="true"
></one-portal-blockstorage-detail>
<one-portal-network-detail
  *ngIf="checkPermission"
  [instancesId]="id"
  [isDetail]="true"
></one-portal-network-detail>
