<page-header [breadcrumb]="breadcrumb" [extra]="extra" [content]="content" [action]="action" title="{{ 'project.note123' | i18n }}">
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="iconTemplate">
      <nz-breadcrumb-item><a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/app-smart-cloud/project']">Quản lý VPC</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ 'project.note23' | i18n }}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #iconTemplate><one-portal-svg-icon [icon]="'icon_breadcrumb'"></one-portal-svg-icon></ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (valueChanged)="onRegionChange($event)"></region-select-dropdown>
    </div>
  </ng-template>
  <ng-template #extra>
    <button *ngIf="data?.type == 'VPC'" nz-button nzType="primary" (click)="extend()" nzSize="large">
      <img style="padding-right: 10px;" src="assets/imgs/extend.png" alt="" />
      <span class="button-text-primary">Gia hạn</span>
    </button>
    <button *ngIf="data?.type == 'VPC' && isAdjust" nz-button nzType="primary" (click)="edit()" nzSize="large">
      <img style="padding-right: 10px;" src="assets/imgs/edit-1.svg" alt="" />
      <span class="button-text-primary">Điều chỉnh</span>
    </button>
  </ng-template>
  <ng-template #content>
    <h3 style="display: none;">.</h3>
  </ng-template>
</page-header>
<nz-card class="text-label" nzTitle="" style="border-radius: 8px;">
  <div style="margin-bottom: 20px">
    <span class="text-card-header">{{ 'project.note24' | i18n }}</span>

    <div nz-row [nzGutter]="24" class="info-project" >
      <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
        <div>
          <div nz-row [nzGutter]="24" class="row-white-bg content-items-center">
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
              <span class="label-fontsize">Loại dự án:</span>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
              <span class="label-fontsize font-bold ">{{ data?.type == 'VPC' ? ('project.note4' | i18n) : ('project.note5' | i18n)}}</span>
            </div>
          </div>
          <div nz-row [nzGutter]="24" class="row-gray-bg content-items-center">
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
              <span class="label-fontsize">Trạng thái:</span>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
              <span class="label-fontsize font-bold">{{data?.resourceStatus}}</span>
            </div>
          </div>
          <div nz-row [nzGutter]="24" class="row-white-bg content-items-center">
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
              <span class="label-fontsize">Gói Load Balancer SDN:</span>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
              <span class="label-fontsize font-bold ">{{data?.type == 'VPC' ? (data?.loadbalancerOfferName==null ? '-' : data?.loadbalancerOfferName) : '-' }}</span>
            </div>
          </div>
          <div nz-row [nzGutter]="24" class="row-gray-bg content-items-center">
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
              <span class="label-fontsize">Ngày khởi tạo:</span>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
              
              <span class="label-fontsize font-bold">{{data?.type == 'VPC'  ? ( data?.createDate | date : 'HH:mm:ss dd/MM/yyyy ') : '-' }}</span>
            </div>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
        <div class="" style="margin-left:20px">
          <div nz-row [nzGutter]="24" class="row-white-bg content-items-center" >
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
              <span class="label-fontsize">Tên dự án:</span>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
              <span class="label-fontsize font-bold">{{ data?.displayName }}</span>
            </div>
          </div>
          <div nz-row [nzGutter]="24" class="row-gray-bg content-items-center">
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
              <span class="label-fontsize">Dải IP Kết nối Internet:</span>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
              <span class="label-fontsize font-bold">{{data?.type == 'VPC' ? (data?.publicNetworkAddress=="" ? '-' : data?.publicNetworkAddress) :'-'}}</span>
            </div>
          </div>
          <div nz-row [nzGutter]="24" class="row-white-bg content-items-center">
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
              <span class="label-fontsize">Gói VPN Site to Site:</span>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
              <span class="label-fontsize font-bold">{{data?.type == 'VPC' ? (data?.vpnSiteToSiteOfferName==null ? '-' : data?.vpnSiteToSiteOfferName)  :'-'}}</span>
            </div>
          </div>
          <div nz-row [nzGutter]="24" class="row-gray-bg content-items-center">
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
              <span class="label-fontsize">Ngày hết hạn:</span>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12">
              <span class="label-fontsize font-bold">{{data?.type == 'VPC'  ? ( data?.expireDate | date : ' HH:mm:ss dd/MM/yyyy ') : '-'}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-description">
      <label for="description" class="label-fontsize pb-3">Mô tả</label>
      <textarea name="description" id="description" class="row-gray-bg textbox-radius-lg" rows="3" readonly>{{data?.description}}</textarea>
    </div>
    


    <!-- <div nz-row>
      <div style="font-weight: bold;margin-right: 20px">{{ 'project.note30' | i18n }}:</div>
      <div>{{ data?.type == 'VPC' ? ('project.note4' | i18n) : ('project.note5' | i18n)}}</div>
    </div> -->
  </div>
  <!-- <div nz-row>
    <div style="margin-right: 20px">{{ 'project.note19' | i18n }}:</div>
    <div style="font-weight: bold;">{{ data?.displayName }}</div>
  </div> -->
  <!-- <div *ngIf="data?.type == 'VPC'" nz-row>
    <div style="margin-right: 20px">{{ 'project.note25' | i18n }}:</div>
    <div style="font-weight: bold;">{{ data?.loadBalancerPackageName }}</div>
  </div>
  <div  nz-row>
    <div style="margin-right: 20px">{{ 'project.note26' | i18n }}:</div>
    <div style="font-weight: bold;">{{ data?.vpnSiteToSiteOfferName }}</div>
  </div> -->
  <!-- <div nz-row>
    <div style="margin-right: 20px">{{ 'app.service.description' | i18n }}:</div>
    <div style="font-weight: bold;">{{ data?.description }}</div>
  </div> -->
</nz-card>
<nz-card class="text-label" nzTitle="" style="border-radius: 8px;">
  <div style="margin-bottom: 20px">
    <span class="text-card-header">{{ 'project.note27' | i18n }}</span>
  </div>
  <nz-row *ngIf="data?.type == 'VPC'" style="margin-bottom: 30px;text-align: center" class="percent_vpc">
    <div nz-col nzSpan="4"><nz-progress [nzPercent]= percentCpu nzType="circle" [nzWidth]="180"  [nzStrokeWidth]="15"></nz-progress><h3 style="margin-top: 14px;">CPU</h3></div>
    <div nz-col nzSpan="4"><nz-progress [nzPercent]= percentRam nzType="circle" [nzWidth]="180"  [nzStrokeWidth]="15"></nz-progress><h3 style="margin-top: 14px;">RAM (GB)</h3></div>
    <div nz-col nzSpan="4"><nz-progress [nzPercent]= percentHHD nzType="circle" [nzWidth]="180"  [nzStrokeWidth]="15"></nz-progress><h3 style="margin-top: 14px;">HDD (GB)</h3></div>
    <div nz-col nzSpan="4"><nz-progress [nzPercent]= percentSSD nzType="circle" [nzWidth]="180"  [nzStrokeWidth]="15"></nz-progress><h3 style="margin-top: 14px;">SSD (GB)</h3></div>
    <div nz-col nzSpan="4"><nz-progress [nzPercent]= percentIPFloating nzType="circle" [nzWidth]="180"  [nzStrokeWidth]="15"></nz-progress><h3 style="margin-top: 14px;">IP FLOATING</h3></div>
    <div nz-col nzSpan="4"><nz-progress [nzPercent]= percentBackup nzType="circle" [nzWidth]="180"  [nzStrokeWidth]="15"></nz-progress><h3 style="margin-top: 14px;">BACKUP (GB)</h3></div>
  </nz-row>
  <nz-table [nzData]="listOfData" [nzLoading]="loading" [nzFrontPagination]="false">
    <thead>
    <tr>
      <th>{{ 'project.note28' | i18n }}</th>
      <th>{{ 'project.note29' | i18n }}</th>
      <th>{{ 'volume.used' | i18n }}</th>
      <th>{{ 'volume.remaining' | i18n }}</th>
    </tr>
    </thead>
    <tbody>
    <!-- <tr *ngFor="let item of listOfData">
      <td>{{ item.name }}</td>
      <td>{{ item.total }}</td>
      <td>{{ item.used }}</td>
      <td>{{ item.remain }}</td>
    </tr> -->
    <tr>
      <td>CPU(vCPU)</td>
      <td>{{totalLimit?.quotavCpu}} vcpu</td>
      <td>{{totalUsed?.cpu}} vcpu</td>
      <td>{{totalLimit?.quotavCpu-totalUsed?.cpu}} vcpu</td>
    </tr>

    <tr >
      <td>RAM (GB)</td>
      <td>{{totalLimit?.quotaRamInGb}} GB</td>
      <td>{{totalUsed?.ram}} GB</td>
      <td>{{totalLimit?.quotaRamInGb-totalUsed?.ram}} GB</td>
    </tr>
    <tr >
      <td>HDD (GB)</td>
      <td>{{totalLimit?.quotaHddInGb}} GB</td>
      <td>{{totalUsed?.hdd}} GB</td>
      <td>{{totalLimit?.quotaHddInGb-totalUsed?.hdd}} GB</td>
    </tr>
    <tr >
      <td>SSD (GB)</td>
      <td>{{totalLimit?.quotaSSDInGb}} GB</td>
      <td>{{totalUsed?.ssd}} GB</td>
      <td>{{totalLimit?.quotaSSDInGb-totalUsed?.ssd}} GB</td>
    </tr>
    <tr  *ngIf="catalogStatus['backup-volume']">
      <td>Dung lượng Backup Volume/VN(GB)</td>
      <td>{{totalLimit?.quotaBackupVolumeInGb}} GB</td>
      <td>{{totalUsed?.backup}} GB</td>
      <td>{{totalLimit?.quotaBackupVolumeInGb-totalUsed?.backup}} GB</td>
    </tr>
    <tr  *ngIf="catalogStatus['ip']">
      <td>Số lượng IP Floating</td>
      <td>{{totalLimit?.quotaIpFloatingCount}}</td>
      <td>{{totalUsed?.ipFloatingCount}}</td>
      <td>{{totalLimit?.quotaIpFloatingCount-totalUsed?.ipFloatingCount}}</td>
    </tr>
    <tr *ngIf="catalogStatus['ip']">
      <td>Số lượng IP Public</td>
      <td>{{totalLimit?.quotaIpPublicCount}}</td>
      <td>{{totalUsed?.ipPublicCount}}</td>
      <td>{{totalLimit?.quotaIpPublicCount-totalUsed?.ipPublicCount}}</td>
    </tr>
    <tr *ngIf="catalogStatus['ipv6']">
      <td>Số lượng IPv6</td>
      <td>{{totalLimit?.quotaIpv6Count}}</td>
      <td>{{totalUsed?.ipv6Count}}</td>
      <td>{{totalLimit?.quotaIpv6Count-totalUsed?.ipv6Count}}</td>
    </tr>
    <tr >
      <td>Số lượng Network</td>
      <td>{{totalLimit?.quotaNetworkCount}}</td>
      <td>{{totalUsed?.networkCount}}</td>
      <td>{{totalLimit?.quotaNetworkCount-totalUsed?.networkCount}}</td>
    </tr>
    <tr >
      <td>Số lượng Security Group</td>
      <td>{{totalLimit?.quotaSecurityGroupCount}}</td>
      <td>{{totalUsed?.securityGroupCount}}</td>
      <td>{{totalLimit?.quotaSecurityGroupCount-totalUsed?.securityGroupCount}}</td>
    </tr>
    <tr >
      <td>Số lượng Router</td>
      <td>{{totalLimit?.quotaRouterCount}}</td>
      <td>{{totalUsed?.routerCount}}</td>
      <td>{{totalLimit?.quotaRouterCount-totalUsed?.routerCount}}</td>
    </tr>
    <tr *ngIf="catalogStatus['loadbalancer-sdn']">
      <td>Số lượng Load Balancer</td>
      <td>{{totalLimit?.quotaLoadBalancerSDNCount}}</td>
      <td>{{totalUsed?.loadBalancerSdnCount}}</td>
      <td>{{totalLimit?.quotaLoadBalancerSDNCount-totalUsed?.loadBalancerSdnCount}}</td>
    </tr>
    <tr *ngIf="catalogStatus['file-storage']">
      <td>Dung lượng File System (GB)</td>
      <td>{{totalLimit?.quotaShareInGb}} GB</td>
      <td>{{totalUsed?.quotaShareInGb}} GB</td>
      <td>{{totalLimit?.quotaShareInGb-totalUsed?.quotaShareInGb}} GB</td>
    </tr>
    <tr *ngIf="catalogStatus['file-storage-snapshot']" >
      <td>Dung lượng File System Snapshot (GB)</td>
      <td>{{totalLimit?.quotaShareSnapshotInGb}} GB</td>
      <td>{{totalUsed?.quotaShareSnapshotInGb}} GB</td>
      <td>{{totalLimit?.quotaShareSnapshotInGb-totalUsed?.quotaShareSnapshotInGb}} GB</td>
    </tr>

    <tr *ngIf="catalogStatus['volume-snapshot-hdd']">
      <td>Dung lượng Snapshot HDD (GB)</td>
      <td>{{totalLimit?.quotaVolumeSnapshotHddInGb}} GB</td>
      <td>{{totalUsed?.volumeSnapshotHddInGb}} GB</td>
      <td>{{totalLimit?.quotaVolumeSnapshotHddInGb-totalUsed?.volumeSnapshotHddInGb}} GB</td>
    </tr>
    <tr *ngIf="catalogStatus['volume-snapshot-ssd']">
      <td>Dung lượng Snapshot SSD (GB)</td>
      <td>{{totalLimit?.quotaVolumeSnapshotSsdInGb}} GB</td>
      <td>{{totalUsed?.volumeSnapshotSsdInGb}} GB</td>
      <td>{{totalLimit?.quotaVolumeSnapshotSsdInGb-totalUsed?.volumeSnapshotSsdInGb}} GB</td>
    </tr>

      <tr *ngFor="let gpu of totalGpu" >
        <td *ngIf="catalogStatus['vm-gpu']">Số lượng GPU (Type - {{gpu?.gpuType}})</td>
        <td *ngIf="catalogStatus['vm-gpu']">{{gpu?.totalLimitGpu}}</td>
        <td *ngIf="catalogStatus['vm-gpu']">{{gpu?.totalUsedGpu}}</td>
        <td *ngIf="catalogStatus['vm-gpu']">{{gpu?.totalLimitGpu-gpu?.totalUsedGpu}}</td>
      </tr>

   
    
    </tbody>
  </nz-table>
</nz-card>
