<page-header [breadcrumb]="breadcrumb" [action]="action" [title]="'Danh sách Policies'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Trang chủ</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-smart-cloud/policy']">Polices</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="onRegionChange($event)"></region-select-dropdown>
      <project-select-dropdown [regionId]="regionId" (valueChanged)="projectChange($event)"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-card class="custom-card">
  <span class="title-card">Thông tin Policy</span>
  <br>
  <div class="root-filter">
    <div class="filter-1">
      <h3 style="display: flex; align-items: center; margin-right:10px">Loại policy:</h3>
      <br>
      <nz-select [(ngModel)]="selectedStatus" nzSize="large" style="width: 170px">
        <nz-option *ngFor="let p of listPolicyType" [nzValue]="p.value" [nzLabel]="p.label"></nz-option>
      </nz-select>
    </div>
    <div class="filter-2">
      <nz-input-group style="margin-right: 8px; width: 40%;" [nzPrefix]="suffixIconSearch"
                      nzSize="large">
        <input name="name" nz-input placeholder="Tìm kiếm" [ngModel]="searchValue"
               (ngModelChange)="changeSearch($event)"/>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <img src="assets/imgs/search.svg" alt="" style="cursor: pointer" nz-tooltip="Tìm kiếm" (click)="search()"/>
      </ng-template>
      <nz-select [(ngModel)]="selectedAction" (nzOpenChange)="selectAction($event)" nzSize="large"
                 style="width: 90px; margin-right: 10px;margin-left: 10px;">
        <nz-option *ngFor="let p of listAction" [nzValue]="p.value" [nzLabel]="p.label"></nz-option>
      </nz-select>
      <button style="border: none;" nz-button (click)="reload()" nzSize="large">
        <img style="margin-top: -4px" src="assets/imgs/refresh.svg" alt=""/>
      </button>
      <button
        style="border: none;"
        nz-button
        (click)="deletePolicy()"
        nzSize="large"
      >
        <img style="margin-top: -4px" src="assets/imgs/trash.svg"/>
      </button>
      <button nz-button nzType="primary" (click)="createPolicy()" nzSize="large">
        <img style="padding-right: 10px;" src="assets/imgs/add-circle.svg" alt=""/>
        <span class="button-text-primary">Tạo mới</span>
      </button>
    </div>
  </div>
  <!-- Bảng-->
  <nz-table #rowSelectionTable [nzLoading]="loading" [nzFrontPagination]="false" nzShowPagination nzShowSizeChanger
            [nzData]="listOfData"
            [nzTotal]="total" [nzPageSize]="size" (nzPageSizeChange)="onPageSizeChange($event)"
            (nzPageIndexChange)="onPageIndexChange($event)">
    <thead>
    <tr>
      <th nzWidth="40px"></th>
      <th nzWidth="20px"></th>
      <th>Tên</th>
      <th>Type</th>
      <th>Mô tả</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of listOfData">
      <tr>
        <td>
          <nz-radio-group [(ngModel)]="radioValue">
            <label nz-radio [nzValue]="item.name"></label>
          </nz-radio-group>
        </td>
        <td [nzExpand]="expandSet.has(item.name)" (nzExpandChange)="onExpandChange(item.name, $event)"></td>
        <td (click)="detail(item.name)" style="color: #248FCC">{{ item.name }}</td>
        <td (click)="detail(item.name)">{{ item.type }}</td>
        <td (click)="detail(item.name)">{{ item.description }}</td>
      </tr>
      <tr [nzExpand]="expandSet.has(item.name)">
        <div class="json-viewer-bg">
          <button (click)="copyText(item)" style="z-index: 1;position: absolute; right: 20px; top: 21px;">
            <span nz-icon nzType="copy" nzTheme="outline"></span> Copy JSON
          </button>
          <ngx-json-viewer [json]="item" style="position: relative;"></ngx-json-viewer>
        </div>


      </tr>
    </ng-container>
    </tbody>
  </nz-table>
  <nz-modal [(nzVisible)]="isVisibleDelete" nzTitle="Xóa [name] Policy"
            nzOkText="Đồng ý" nzCancelText="Hủy"
            (nzOnCancel)="handleCancel()"
            (nzOnOk)="deleteHandlePolicy()">
    <ng-container *nzModalContent>
      <nz-alert nzType="warning" nzShowIcon
                nzMessage="Bạn đang thực hiện xóa [name] policy. Hành động này không thể được hoàn tác"></nz-alert>
      <br>
      <p><b>Để thực hiện Xóa Policy, vui lòng nhập tên Policy để xác nhận</b></p>

      <input nz-input placeholder="Nhập tên policy" [(ngModel)]="nameDelete" type="text"/>
      <br/>
    </ng-container>
  </nz-modal>
</nz-card>


