<div>
    <div style="margin-right: auto;margin-bottom: 5px;">
        <div nz-row class="filters">
            <!-- <nz-select style="margin-right: 10px;" class="search" nzSize="large" nzMode="multiple" [nzShowArrow]="true"
                (ngModelChange)="onChangePartitions($event)" nzPlaceHolder="Chọn partitions"
                [(ngModel)]="listOfSelectedValue">
                <nz-option *ngFor="let item of partitions" [nzLabel]="item" [nzValue]="item"></nz-option>
            </nz-select>
            <nz-range-picker [nzPlaceHolder]="['Ngày bắt đầu', 'Ngày kết thúc']" class="search" [nzShowTime]="true" [(ngModel)]="date"
                (ngModelChange)="onChangeDate($event)" nzSize="large">
            </nz-range-picker> -->
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="4" [nzXl]="4" style="margin-right: 20px;">
                <nz-select nzAllowClear [(ngModel)]="listOfSelectedValue" (ngModelChange)="onChangePartitions($event)" nzMode="multiple" [nzShowArrow]="true"
                    [nzPlaceHolder]="'kafka.topic.message-partition' | i18n" class="w-100" nzSize="large">
                    <nz-option *ngFor="let item of partitions" 
                        [nzValue]="item" [nzLabel]="item">
                    </nz-option>
                </nz-select>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6">
                <nz-range-picker [(ngModel)]="date" (ngModelChange)="onChangeDate($event)"
                    nzSize="large" nzFormat="dd/MM/yyyy" [nzPlaceHolder]="['kafka.topic.message-start-date' | i18n, 'kafka.topic.message-end-date' | i18n]">
                </nz-range-picker>
            </div>
        </div>
    </div>


    <nz-table #virtualTable [nzBordered]="true" [nzData]="messages" [nzFrontPagination]="false" nzTableLayout="fixed">
        <thead>
            <tr>
                <th>Offset</th>
                <th>Partition</th>
                <th>Key</th>
                <th>Value</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of virtualTable.data">
                <td>{{ data.offset }}</td>
                <td>{{ data.partition }}</td>
                <td nzEllipsis nz-tooltip nzTooltipPlacement="top" [nzTooltipTitle]="data.key">{{ data.key }}</td>
                <td nzEllipsis nz-tooltip nzTooltipPlacement="top" [nzTooltipTitle]="data.value">{{ data.value }}</td>
                <td>{{ data.timestamp | date: 'dd/MM/yyyy HH:mm'}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>