.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
  border-radius: 8px;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


[nz-button]{
  height: 40px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
}

.tbl-acl {
  margin-top: 20px;
}

nz-table.tbl-acl th {
  background-color: #E2EEFC;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; 
  letter-spacing: 0.1px;
}

[nz-icon] {
  font-size: 20px;
  color: #0074CC;
}

::ng-deep .ant-pagination-item-active {
  font-weight: 500;
  background: #0066B0;
  border-color: #0066B0;
}

::ng-deep .ant-pagination-item-active a {
  color: #ffffff;
}

::ng-deep .ant-pagination-item  {
  border-radius: 8px;
}

.breadcrumb{
  justify-content: space-between;
  margin: 15px;
}

.search {
  border-radius: 8px;
  width: 300px;
  height: 40px;
}

.w-100 {
  width: 100%;
}

.filters nz-input-group,
::ng-deep .filters .ant-select-selector,
.filters nz-range-picker {
  border-radius: 8px !important;
}

.filters {
  margin-bottom: 20px;
}