<page-header [breadcrumb]="breadcrumb" [action]="action" [title]="'wan.label.ip.wan.management' | i18n">
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="separatorTemplate">
      <nz-breadcrumb-item><a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a></nz-breadcrumb-item>
<!--      <nz-breadcrumb-item>Dịch vụ hạ tầng</nz-breadcrumb-item>-->
      <nz-breadcrumb-item>Networks</nz-breadcrumb-item>
      <nz-breadcrumb-item>{{'wan.alert.ip.wan' | i18n}}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #separatorTemplate
      ><img src="assets/imgs/arrow-square-right.svg" alt="" />
    </ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (regionChange)="onRegionChanged($event)" (valueChanged)="onRegionChange($event)"></region-select-dropdown>
      <project-select-dropdown #projectCombobox [regionId]="region"
                               (valueChanged)="projectChange($event)"
                               (userChanged)="projectChange($event)"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <nz-card style="border-radius: 8px;">
    <span class="text-card-header">{{'wan.nofitacation.ip.wan.list' | i18n}}</span>
    <nz-row nzJustify="space-between" style="margin-top: 20px;">
      <nz-col nzSpan="16">
        <nz-input-group [nzPrefix]="prefixIconSearch"
                        nzSize="large"
                        style="width: 300px;">
          <input name="name"
                 nz-input
                 placeholder="{{'wan.label.ip.wan.search' | i18n}}"
                 [(ngModel)]="value"
                 (input)="onInputChange($event.target['value'])"/>
        </nz-input-group>
        <ng-template #prefixIconSearch>
          <img src="assets/imgs/search.svg" alt="" style="cursor: pointer" nz-tooltip="{{'app.button.search' | i18n}}"/>
        </ng-template>
      </nz-col>
      <nz-col nzSpan="8" style="flex:none;">
        <one-portal-create-wan [region]="region" [project]="project" (onOk)="handleOkCreateWan()" />
      </nz-col>
    </nz-row>
    <nz-table #fixTable
              style="margin-top: 24px;"
              nzShowPagination
              [nzData]="response?.records"
              [nzPageSize]="response?.pageSize"
              (nzPageSizeChange)="onPageSizeChange($event)"
              [nzPageIndex]="response?.currentPage"
              (nzPageIndexChange)="onPageIndexChange($event)"
              [nzTotal]="response?.totalCount"
              [nzFrontPagination]="false"
              [nzLoading]="isLoading">
      <thead>
      <tr>
        <th>{{'wan.label.wan.name' | i18n}}</th>
        <th>{{'wan.alert.ip.wan.address' | i18n}}</th>
        <th>Network</th>
        <th>{{'app.instances' | i18n}}</th>
        <th>{{'app.text.operation' | i18n}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of fixTable.data">
        <td>{{ data.wanName }}</td>
        <td>{{ data.ipAddress }}</td>
        <td>{{ data.subnetAddress }}</td>
        <td>
          <div *ngIf="data.attachedVmName == null">
            -
          </div>
          <div *ngIf="data.attachedVmName !- null">{{ data.attachedVmName }}</div>
        </td>
        <td style="display: flex;">
          <div *ngIf="data.attachedVmName != undefined || data.attachedVmName != null">
            <one-portal-detach-wan [region]="region"
                                   [project]="project"
                                   [idWan]="data.id"
                                   [addressWan]="data.ipAddress"
                                   [instance]="data.attachedVmName"
                                   (onOk)="handleOkDetach()"/>
          </div>
          <div *ngIf="data.attachedVmName == undefined || data.attachedVmName == null">
            <one-portal-attach-wan [region]="region"
                                   [project]="project"
                                   [idWan]="data.id"  (onOk)="handleOkAttach()"/>
          </div>
          <one-portal-delete-wan [region]="region"
                                 [project]="project"
                                 [idWan]="data.id"
                                 [addressWan]="data.ipAddress"
                                 (onOk)="handleOkDelete()" />
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
</nz-content>
