<div class="container">
    <div class="mx-5">
      <button nz-button nz-popover nzType="default" nzShape="round" (click)="openFormCreateRole()">
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        Thêm mới quyền
      </button>
    </div>
  
    <div class="my-5">
      <nz-table  #basicTable [nzOuterBordered]="true" [nzData]="listOfData">
        <thead >
          <tr >
            <th [nzAlign]="'center'" nzWidth="10%">Số thứ tự</th>
            <th [nzAlign]="'center'" nzWidth="20%">Tên quyền</th>
            <th >Quyền</th>
            <th [nzAlign]="'center'" nzWidth="10%">Thao tác</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let data of basicTable.data; let i = index">
            <td [nzAlign]="'center'"> {{i + 1}}</td>
            <td [nzAlign]="'center'">{{ data.name }}</td>
            <td>{{ data.age }}</td>
            <td [nzAlign]="'center'">
              <button nz-button nz-tooltip nzTooltipTitle="Chỉnh sửa" nzType="primary" (click)="updateRole()" ><span nz-icon nzType="edit" nzTheme="outline"></span></button>
              <button nz-button nz-tooltip nzTooltipTitle="Xóa quyền" nzType="primary" (click)="deleteRole()" nzDanger ><span nz-icon nzType="delete" nzTheme="outline"></span></button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>