<nz-header>
  <nz-col nzSpan="24" style="display: flex; flex-direction: column;">
    <nz-row nzJustify="space-between" nzAlign="middle">
      <nz-breadcrumb nz-page-header-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>
          Dịch vụ
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a routerLink="/app-smart-cloud/security-group">Security group</a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-space>
        <nz-select *nzSpaceItem nzShowSearch nzAllowClear nzPlaceHolder="Khu vực"
                   [(ngModel)]="selectedValueArea" style="border: 1px solid #D9D9D9; width: 113px; height: 32px">
          <nz-option *ngFor="let item of optionsArea" [nzLabel]="item.name" [nzValue]="item"></nz-option>
        </nz-select>
        <nz-select *nzSpaceItem nzShowSearch nzAllowClear nzPlaceHolder="Dự án"
                   [(ngModel)]="selectedValueProject" style="border: 1px solid #D9D9D9; width: 113px; height: 32px">
          <nz-option *ngFor="let item of optionsProject" [nzLabel]="item.name" [nzValue]="item"></nz-option>
        </nz-select>
      </nz-space>
    </nz-row>
    <h4>Security group</h4>
  </nz-col>
</nz-header>
<nz-content>
  <nz-card>
    <div class="title">Danh sách Security Group</div>
    <nz-row style="margin-bottom: 16px">
      <nz-col nzSpan="4">
        <div class="label">Chọn Security group</div>
      </nz-col>
      <nz-col nzSpan="14">
        <nz-space [nzSize]="24">
          <nz-select
            *nzSpaceItem
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a security"
            [(ngModel)]="selectedValue"
            (ngModelChange)="onSecurityGroupChange()"
          >
            <nz-option *ngFor="let item of options" [nzValue]="item" nzLabel="{{ item.name }}"></nz-option>
          </nz-select>
          <div *nzSpaceItem>
            <button *ngIf="!!selectedValue" nz-button nzType="primary" nzDanger
                    class="button-delete" (click)="showModal()">Xoá Security Group
            </button>
          </div>
          <one-portal-delete-security-group [isVisible]="isVisible"
                                            [condition]="conditionSearch"
                                            [id]="selectedValue.id"
                                            (onCancel)="handleCancel()"
                                            (onOk)="handleOk()">
          </one-portal-delete-security-group>
        </nz-space>
      </nz-col>
      <nz-col nzSpan="6">
        <nz-row nzJustify="end">
          <button nz-button nzType="primary"
                  class="button-add"
                  routerLink="/app-smart-cloud/create-security-group">Thêm mới Security group
          </button>
        </nz-row>
      </nz-col>
    </nz-row>
    <nz-row style="margin-bottom: 16px">
      <nz-col nzSpan="4">
        <div class="label">Mô tả</div>
      </nz-col>
      <nz-col>
        <div class="label">{{selectedValue?.description || ''}}</div>
      </nz-col>
    </nz-row>
    <one-portal-inbound-list></one-portal-inbound-list>
    <one-portal-list-outbound></one-portal-list-outbound>
    <nz-row>
      <section class="code-box-meta markdown">
        <div class="code-box-title">
          Quản lý Gắn/Gỡ Security Group
        </div>
        <div class="code-box-description">
          <nz-table #basicTable
                    [nzData]="[]"
                    nzShowSizeChanger
                    [nzFrontPagination]="false"
                    [nzTotal]="100"
                    [nzPageSize]="50"
                    [nzPageIndex]="1"
          >
            <thead>
            <tr>
              <th nzAlign="center" class="text-th">Tên máy ảo</th>
              <th nzAlign="center" class="text-th">Trạng thái</th>
              <th nzAlign="center" class="text-th">Trạng thái tác vụ</th>
              <th nzAlign="center" class="text-th">IP LAN</th>
              <th nzAlign="center" class="text-th">IP Public</th>
              <th nzAlign="center" class="text-th" style="width: 216px; ">Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td nzAlign="center"></td>
              <td nzAlign="center"></td>
              <td nzAlign="center"></td>
              <td nzAlign="center"></td>
              <td nzAlign="center"></td>
              <td nzAlign="center">
                <button nz-button nzType="primary" nzDanger class="button-delete">Gỡ</button>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </section>
    </nz-row>
  </nz-card>
</nz-content>
