.icon-region {
  margin-top: 15px;
}

.infra-label {
  text-align: center;
  font-size: 14px;
}

.w-50 {
  width: 50%;
}

.w-70 {
  width: 70%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.flex-style {
  display: flex;
}

.padtop-30 {
  padding-top: 30px;
}

.marbot-0 {
  margin-bottom: 0px;
}

.selected-infra {
  border: 1px solid #2f54eb;
}

.image-infra {
  padding: 5px 5px 5px 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input,
textarea,
.border-card,
.border-button {
  border-radius: 8px;
}

.price-card {
  border: 1px solid #B2DEFF;
}

small {
  font-size: 14px;
}

.price-style {
  position: relative;
  float: right;
  font-weight: 600;
  font-size: 16px;
}

.price-color {
  color: #0066b3;
  font-weight: 600;
  width: 100%;
  font-size: 16px;
  text-align: right;
}

.unit-color {
  color: #4c4f67;
}

.divider-style {
  margin-top: 10px;
  margin-bottom: 10px;
}

.price-panel {
  background-color: #cce9ff;
  border-radius: 8px;
}

.total-color {
  color: #ea3829;
  font-weight: 600;
  width: 100%;
  font-size: 16px;
  text-align: right;
}

.icon-color {
  color: #0066b3;
}

.delete-icon {
  color: #ea3829;
}

.required-color {
  color: rgba(252, 16, 16, 1);
}

::ng-deep .ant-card-head {
  min-height: 48px;
  margin-bottom: -1px;
  padding: 0 24px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border-radius: 2px 2px 0 0;
  border: none;
}

::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 8px;
}

::ng-deep .ant-input-affix-wrapper {
  border-radius: 8px;
}

::ng-deep .alain-default__content nz-input-group {
  width: 100%;
}

.box-duration nz-input-number {
  width: 100%;
  border-radius: 8px;
  margin-left: 0px;
}

.box-duration ::ng-deep .ant-input-number-handler-wrap {
  margin-right: 3px;
}

.tooltip-icon {
  margin-left: 5px;
  margin-bottom: 2px;
  height: 18px;
}

.remove-btn {
  position: relative;
  float: right;
  height: fit-content;
  margin-top: 38px;
}

.borderless {
  border: none;
}

.default-pack {
  cursor: not-allowed;
  background-color: #F5F5F5;
  border-color: #D9D9D9;
  color: #B8B8B8;
}

.small-description {
  position: relative;
}

.scroll {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

label, span {
  font-size: 16px;
}

.weight-600 {
  font-weight: 600;
}

.group-border {
  border: 1px dashed #0066b3;
  border-radius: 8px;
  padding: 24px 8px 0px 8px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5a5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8d8;
}

[nz-carousel-content] {
  text-align: center;
  height: 260px;
  line-height: 260px;
  color: #fff;
  overflow: hidden;
}

.carousel-div {
  overflow:hidden;
  -webkit-mask: linear-gradient(90deg,#0000,#000 6% 94%,#0000)
}

.item {
  padding: 10px;
  box-sizing: border-box;
}

.pack-item {
  min-height: 180px;
  background-color: #ffffff;
  background-size: cover !important;
  border: 1px solid #E2E2E9;
  border-radius: 4px;
  padding: 1px;
  width: 100%;
  /* width: 220px; */
}

.item-header {
  background-color: #E6F3FC;
  border-bottom: 1px solid #E2E2E9;
  text-align: center;
  min-height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item-name {
  font-size: 18px;
  color: #0066B3;
  font-family: Inter;
  font-weight: bolder;
}

.item-price {
  border-top: 1px solid #E2E2E9;
  width: 150px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

.price {
  width: 50%;
  height: 100%;
  color: #2B2D3B;
  line-height: normal;
  padding: 10px 0;
}

.item-body {
  background-color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  min-height: 68px;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  padding: 20px;
  cursor: pointer;
}

.choose .item-price,
.choose .item-name,
.choose .price,
.choose .item-header,
.choose .unit-price {
  background-color: #0066B3 !important;
  color: white !important;
}

.choose .item-body {
  font-weight: bold;
}

.unit-price {
  font-size: 14px;
  color: #6C7093;
  font-weight: normal;
}

.myPoint {
  list-style-type: none;
  text-align: center;
  padding: 12px;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;
}

.myPoint li {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #035DED;
  padding: 4px;
  margin: 0 3px;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: 0.4s;
}

.myPoint li.active {
  background: #035DED;
  transform: scale(1.2);
}

.info-icon {
  padding-left: 10px;
}

.price-card {
  border: 1px solid #B2DEFF;
  border-radius: 8px;
}

.summary-info {
  text-align: left;
  font-size: 16px;
}

/* dark theme */
[data-theme='dark'] :host ::ng-deep .w-85 {
  width: 85% !important;
}

[data-theme='dark'] :host ::ng-deep .item-header {
  background-color: #141414;
  border-bottom: 1px solid #E2E2E9;
  text-align: center;
  min-height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

[data-theme='dark'] :host ::ng-deep .item-body {
  background-color: #141414;
  width: 100%;
  text-align: center;
  min-height: 68px;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  padding: 20px;
  cursor: pointer;
}

[data-theme='dark'] :host ::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 8px;
}

[data-theme='dark'] :host ::ng-deep .default-pack {
  cursor: not-allowed;
  background-color: #262626;
  border-color: #434343;
  color: #686868;
}

[data-theme='dark'] :host ::ng-deep .price {
  width: 50%;
  height: 100%;
  color: #929292;
  line-height: normal;
  padding: 10px 0;
}

[data-theme='dark'] :host ::ng-deep .ant-input-affix-wrapper {
  border-radius: 8px;
}

[data-theme='dark'] :host ::ng-deep label, span, input, p {
  font-size: 16px;
}

[data-theme='dark'] :host ::ng-deep .price-panel {
  background-color: #262626;
  border-radius: 8px;
}

[data-theme='dark'] :host ::ng-deep .unit-color {
  color: #DCDCDC;
}

/* compact theme */
[data-theme='compact'] :host ::ng-deep .w-85 {
  width: 85% !important;
}

[data-theme='compact'] :host ::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 8px;
  font-size: 14px;
}

[data-theme='compact'] :host ::ng-deep .ant-input-affix-wrapper {
  border-radius: 8px;
}

[data-theme='compact'] :host ::ng-deep label, span, input, p {
  font-size: 14px;
}
