<page-header [breadcrumb]="breadcrumb"
             [action]="action"
             [title]="'Quản lý Load Balancer'" xmlns="http://www.w3.org/1999/html">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Trang chủ</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Dịch vụ hạ tầng
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/load-balancer/list">Load Balancer</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               (userChanged)="projectChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <nz-card>
    <ng-container [ngSwitch]="isBegin">
      <ng-container *ngSwitchCase="false">
        <nz-row nzJustify="space-between">
          <nz-col nzSpan="12">
            <span class="text-card-header">Danh sách Load Balancer</span>
          </nz-col>
          <nz-col nzSpan="12" style="flex:none;">
            <nz-input-group style="width: 350px; margin-right: 15px;" [nzPrefix]="prefixIconSearch" nzSize="large">
              <input name="name"
                     nz-input
                     [(ngModel)]="value"
                     (input)="onInputChange($event.target['value'])"
                     placeholder="Tìm kiếm theo tên, IP Address ..."/>
            </nz-input-group>
            <ng-template #prefixIconSearch>
              <img src="assets/imgs/search.svg" alt="" style="cursor: pointer" nz-tooltip="Tìm kiếm"/>
            </ng-template>
            <button nz-button nzType="primary" nzSize="large" (click)="navigateToCreate(typeVPC)">
              <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/add-circle.svg" alt=""/>
              <span class="button-text-primary">Tạo mới Load Balancer</span>
            </button>
          </nz-col>
        </nz-row>
        <nz-table #fixedTable
                  style="margin-top: 20px;"
                  nzShowPagination
                  [nzData]="response?.records || []"
                  [nzPageSize]="response?.pageSize"
                  (nzPageSizeChange)="onPageSizeChange($event)"
                  [nzPageIndex]="response?.currentPage"
                  (nzPageIndexChange)="onPageIndexChange($event)"
                  [nzTotal]="response?.totalCount"
                  [nzFrontPagination]="false"
                  [nzLoading]="isLoading">
          <thead>
          <tr>
            <th nzLeft>Tên Load Balancer</th>
            <th nzBreakWord>VIP Address
              <img nz-popover [nzPopoverContent]="'Virtual IP là IP private  dùng để giao tiếp với các Member'"
                   nzPopoverPlacement="bottom" style="margin-bottom: 4px; margin-left: 5px;"
                   src="assets/imgs/pajamas_question.svg" alt="" />
            </th>
            <th nzBreakWord>Internet Floating
              <img nz-popover [nzPopoverContent]="'Internet IP là IP Public được cấp cho Load Balancer để tiếp nhận các request từ ngoài Internet'"
                   nzPopoverPlacement="bottom" style="margin-bottom: 4px; margin-left: 5px;"
                   src="assets/imgs/pajamas_question.svg" alt="" />
            </th>
            <th nzBreakWord>Trạng thái tác vụ
              <img nz-popover [nzPopoverContent]="'Nếu trạng thái hiển thị là ERROR, thông thường là do Load Balancer health check phát hiện ra có member bị error trong Pool của Load Balancer.'"
                   nzPopoverPlacement="bottom" style="margin-bottom: 4px; margin-left: 5px;"
                   src="assets/imgs/pajamas_question.svg" alt="" />
            </th>
            <th nzBreakWord>Trạng thái hoạt động</th>
            <th nzBreakWord>Ngày tạo</th>
            <th nzBreakWord>Ngày hết hạn</th>
            <th nzBreakWord>Gói dịch vụ</th>
            <th nzBreakWord>Thao tác</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of fixedTable.data">
            <td nzLeft>
              <span *ngIf="data.provisioningStatus === 'ERROR'">{{ data.name }}</span>
              <span *ngIf="data.provisioningStatus != 'ERROR'">
                <a [routerLink]="'/app-smart-cloud/load-balancer/detail/' + data.id">{{ data.name }}</a>
              </span>
            </td>
            <td nzBreakWord>{{ data.ipAddress }}</td>
            <td nzBreakWord>{{ data.floatingIPAddress }}</td>
            <td nzBreakWord>{{ data.provisioningStatus }}</td>
            <td nzBreakWord>
              <span *ngIf="data.status === 'KHOITAO'">{{ loadBalancerStatus?.get(data.status) }}</span>
              <span *ngIf="data.status === 'HUY'">{{ loadBalancerStatus?.get(data.status) }}</span>
            </td>
            <td nzBreakWord>{{ data.createDate | date: 'dd/MM/yyyy' }}</td>
            <td  nzBreakWord>{{ data.expiredDate | date: 'dd/MM/yyyy' }}</td>
            <td nzBreakWord></td>
            <td nzBreakWord>
              <span *ngIf="data.operatingStatus === 'ERROR'">
                <span style="color: #0066B3; margin-right: 10px; cursor: pointer;" nz-icon nzType="delete"
                      nzTheme="outline" nz-popover
                      [nzPopoverContent]="'Xóa'"
                      nzPopoverPlacement="bottom"></span>
              </span>
              <span *ngIf="data.operatingStatus === 'ONLINE'">
                <span nz-icon
                      style="color: #0066B3; margin-right: 10px; cursor: pointer;"
                      nzType="plus" nzTheme="outline"
                      nz-popover
                      [nzPopoverContent]="'Tạo Listener'"
                      nzPopoverPlacement="bottom"></span>
                <span *ngIf="typeVPC == 1">
                  <span nz-icon
                        style="color: #0066B3; margin-right: 10px; cursor: pointer;"
                        nzType="edit" nzTheme="outline"
                        nz-popover
                        [nzPopoverContent]="'Chỉnh sửa'"
                        nzPopoverPlacement="bottom" (click)="navigateToUpdateVpc(data.id)"></span>
                </span>
                <span *ngIf="typeVPC == 0">
                  <one-portal-update-load-balancer-normal [loadBalancer]="data" [region]="region" [project]="project" (onOk)="handleUpdateNoVpcOk()" />
                </span>
                <one-portal-delete-load-balancer [idLoadBalancer]="data.id"
                                                 [nameLoadBalancer]="data.name" [region]="region" [project]="project" (onOk)="handleDeleteOk()"/>
              </span>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <result>
          <nz-row>
            <nz-col class="text-center" style="width: 100%">
              <img src="/assets/imgs/load-balancer-blank.png" alt="" />
            </nz-col>
          </nz-row>
          <nz-row style="margin-top: 20px">
            <nz-col class="text-center" style="width: 100%">
              <span class="text-intro-title" style="color: #0066b3">Load Balancer<br>Dịch vụ cân bằng tải</span>
            </nz-col>
          </nz-row>
          <nz-row style="margin-top: 20px">
            <nz-col class="text-center" style="width: 100%">
                <span class="text-intro-desc">Đối với dự án VPC, quý khách có thể mua kèm dịch vụ Load Balancer tại dịch vụ bổ sung
                                              Đối với dự án thường, quý khách có thể khởi tạo Load Balancer tại đây.</span>
            </nz-col>
          </nz-row>
          <button style="margin-top: 20px" nz-button [nzType]="'primary'" (click)="navigateToCreate(typeVPC)" nzSize="large">
            <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/cloud-plus-bold.svg" alt="" />
            Tạo mới Load Balancer
          </button>
        </result>
      </ng-container>
    </ng-container>
  </nz-card>
<!--  <nz-card *ngIf="typeVPC == 0"> &lt;!&ndash;&#45;&#45; Type normal&#45;&#45;!&ndash;&gt;-->
<!--    <ng-container [ngSwitch]="isBegin">-->
<!--      <ng-container *ngSwitchCase="false">-->
<!--        <nz-row nzJustify="space-between">-->
<!--          <nz-col nzSpan="12">-->
<!--            <span class="text-card-header">Danh sách Load Balancer</span>-->
<!--          </nz-col>-->
<!--          <nz-col nzSpan="12" style="flex:none;">-->
<!--            <nz-input-group style="width: 350px; margin-right: 15px;" [nzPrefix]="prefixIconSearch" nzSize="large">-->
<!--              <input name="name"-->
<!--                     nz-input-->
<!--                     [(ngModel)]="value"-->
<!--                     (input)="onInputChange($event.target['value'])"-->
<!--                     placeholder="Tìm kiếm theo tên, IP Address ..."/>-->
<!--            </nz-input-group>-->
<!--            <ng-template #prefixIconSearch>-->
<!--              <img src="assets/imgs/search.svg" alt="" style="cursor: pointer" nz-tooltip="Tìm kiếm"/>-->
<!--            </ng-template>-->
<!--            <button nz-button nzType="primary" nzSize="large" (click)="navigateToCreate(typeVPC)">-->
<!--              <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/add-circle.svg" alt=""/>-->
<!--              <span class="button-text-primary">Tạo mới Load Balancer</span>-->
<!--            </button>-->
<!--          </nz-col>-->
<!--        </nz-row>-->
<!--        <nz-table #fixedTable-->
<!--                  style="margin-top: 20px;"-->
<!--                  nzShowPagination-->
<!--                  [nzData]="response?.records || []"-->
<!--                  [nzPageSize]="response?.pageSize"-->
<!--                  (nzPageSizeChange)="onPageSizeChange($event)"-->
<!--                  [nzPageIndex]="response?.currentPage"-->
<!--                  (nzPageIndexChange)="onPageIndexChange($event)"-->
<!--                  [nzTotal]="response?.totalCount"-->
<!--                  [nzFrontPagination]="false"-->
<!--                  [nzLoading]="isLoading">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th nzLeft>Tên Load Balancer</th>-->
<!--            <th nzBreakWord>VIP Address-->
<!--              <img nz-popover [nzPopoverContent]="'Virtual IP là IP private  dùng để giao tiếp với các Member'"-->
<!--                   nzPopoverPlacement="bottom" style="margin-bottom: 4px; margin-left: 5px;"-->
<!--                   src="assets/imgs/pajamas_question.svg" alt="" />-->
<!--            </th>-->
<!--            <th nzBreakWord>Internet Floating-->
<!--              <img nz-popover [nzPopoverContent]="'Internet IP là IP Public được cấp cho Load Balancer để tiếp nhận các request từ ngoài Internet'"-->
<!--                   nzPopoverPlacement="bottom" style="margin-bottom: 4px; margin-left: 5px;"-->
<!--                   src="assets/imgs/pajamas_question.svg" alt="" />-->
<!--            </th>-->
<!--            <th nzBreakWord>Trạng thái tác vụ-->
<!--              <img nz-popover [nzPopoverContent]="'Nếu trạng thái hiển thị là ERROR, thông thường là do Load Balancer health check phát hiện ra có member bị error trong Pool của Load Balancer.'"-->
<!--                   nzPopoverPlacement="bottom" style="margin-bottom: 4px; margin-left: 5px;"-->
<!--                   src="assets/imgs/pajamas_question.svg" alt="" />-->
<!--            </th>-->
<!--            <th nzBreakWord>Trạng thái hoạt động</th>-->
<!--            <th nzBreakWord>Ngày tạo</th>-->
<!--            <th nzBreakWord>Ngày hết hạn</th>-->
<!--            <th nzBreakWord>Gói dịch vụ</th>-->
<!--            <th nzBreakWord>Thao tác</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr *ngFor="let data of fixedTable.data">-->
<!--            <td nzLeft>-->
<!--              <span *ngIf="data.provisioningStatus === 'ERROR'">{{ data.name }}</span>-->
<!--              <span *ngIf="data.provisioningStatus != 'ERROR'">-->
<!--                <a [routerLink]="'/app-smart-cloud/load-balancer/detail/' + data.id">{{ data.name }}</a>-->
<!--              </span>-->
<!--            </td>-->
<!--            <td nzBreakWord>{{ data.ipVIP }}</td>-->
<!--            <td nzBreakWord>{{ data.floatingIPAddress }}</td>-->
<!--            <td nzBreakWord>{{ data.provisioningStatus }}</td>-->
<!--            <td nzBreakWord>-->
<!--              <span *ngIf="data.status === 'KHOITAO'">{{ loadBalancerStatus?.get(data.status) }}</span>-->
<!--              <span *ngIf="data.status === 'HUY'">{{ loadBalancerStatus?.get(data.status) }}</span>-->
<!--            </td>-->
<!--            <td nzBreakWord>{{ data.createDate | date: 'dd/MM/yyyy' }}</td>-->
<!--            <td  nzBreakWord>{{ data.expiredDate | date: 'dd/MM/yyyy' }}</td>-->
<!--            <td nzBreakWord></td>-->
<!--            <td nzBreakWord>-->
<!--              <span *ngIf="data.operatingStatus === 'ERROR'">-->
<!--                <span style="color: #0066B3; margin-right: 10px; cursor: pointer;" nz-icon nzType="delete"-->
<!--                      nzTheme="outline" nz-popover-->
<!--                      [nzPopoverContent]="'Xóa'"-->
<!--                      nzPopoverPlacement="bottom"></span>-->
<!--              </span>-->
<!--              <span *ngIf="data.operatingStatus === 'ONLINE'">-->
<!--                <span nz-icon-->
<!--                      style="color: #0066B3; margin-right: 10px; cursor: pointer;"-->
<!--                      nzType="plus" nzTheme="outline"-->
<!--                      nz-popover-->
<!--                      [nzPopoverContent]="'Tạo Listener'"-->
<!--                      nzPopoverPlacement="bottom"></span>-->
<!--                <span nz-icon nzType="arrows-alt" nzTheme="outline"-->
<!--                      style="color: #0066B3; margin-right: 10px; cursor: pointer;"-->
<!--                      nz-popover-->
<!--                      [nzPopoverContent]="'Điều chỉnh'"-->
<!--                      nzPopoverPlacement="bottom">-->
<!--                </span>-->
<!--                <span nz-icon-->
<!--                      style="color: #0066B3; margin-right: 10px; cursor: pointer;"-->
<!--                      nzType="edit" nzTheme="outline"-->
<!--                      nz-popover-->
<!--                      [nzPopoverContent]="'Chỉnh sửa'"-->
<!--                      nzPopoverPlacement="bottom"></span>-->
<!--                <one-portal-delete-load-balancer [idLoadBalancer]="data.id"-->
<!--                                                 [nameLoadBalancer]="data.name" [region]="region" [project]="project" (onOk)="handleDeleteOk()"/>-->
<!--              </span>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </nz-table>-->
<!--      </ng-container>-->
<!--      <ng-container *ngSwitchDefault>-->
<!--        <result>-->
<!--          <nz-row>-->
<!--            <nz-col class="text-center" style="width: 100%">-->
<!--              <img src="/assets/imgs/load-balancer-blank.png" alt="" />-->
<!--            </nz-col>-->
<!--          </nz-row>-->
<!--          <nz-row style="margin-top: 20px">-->
<!--            <nz-col class="text-center" style="width: 100%">-->
<!--              <span class="text-intro-title" style="color: #0066b3">Load Balancer<br>Dịch vụ cân bằng tải</span>-->
<!--            </nz-col>-->
<!--          </nz-row>-->
<!--          <nz-row style="margin-top: 20px">-->
<!--            <nz-col class="text-center" style="width: 100%">-->
<!--                <span class="text-intro-desc">Đối với dự án VPC, quý khách có thể mua kèm dịch vụ Load Balancer tại dịch vụ bổ sung-->
<!--                                              Đối với dự án thường, quý khách có thể khởi tạo Load Balancer tại đây.</span>-->
<!--            </nz-col>-->
<!--          </nz-row>-->
<!--          <button style="margin-top: 20px" nz-button [nzType]="'primary'" (click)="navigateToCreate(typeVPC)" nzSize="large">-->
<!--            <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/cloud-plus-bold.svg" alt="" />-->
<!--            Tạo mới Load Balancer-->
<!--          </button>-->
<!--        </result>-->
<!--      </ng-container>-->
<!--    </ng-container>-->
<!--  </nz-card>-->
</nz-content>
