<page-header [breadcrumb]="breadcrumb" [title]="'Thanh toán dịch vụ'">
  <!-- breadcrumb -->
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Trang chủ</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Cluster
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-kubernetes']">Danh sách cluster</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Khởi tạo cluster</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>

<div nz-row [nzGutter]="16">
  <div nz-col [nzSpan]="16" class="gutter-row">

    <nz-card class="border-card">
      <h3>Thông tin khách hàng</h3>

      <nz-table [nzBordered]="false" [nzTemplateMode]="true">
        <tbody>
          <tr>
            <td class="w-30">Tên khách hàng</td>
            <td class="description-content">Nguyễn Văn A</td>
          </tr>
          <tr>
            <td class="w-30">Số điện thoại</td>
            <td class="description-content">0123 456 789</td>
          </tr>
          <tr>
            <td class="w-30">Email</td>
            <td class="description-content">anv@gmail.com</td>
          </tr>
          <tr>
            <td class="w-30">Địa chỉ</td>
            <td class="description-content">Hà Nội</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>

    <nz-card>
      <h3>Thông tin dịch vụ</h3>
      <nz-table>
        <thead>
          <tr>
            <th>Dịch vụ</th>
            <th>Đơn giá (VND)</th>
            <th>Thời hạn (tháng)</th>
            <th>Số lượng</th>
            <th>Số tiền (VND)</th>
          </tr>
        </thead>
      </nz-table>
    </nz-card>

    <nz-card>
      <label nz-checkbox [(ngModel)]="isAgreeWithTerm">
        <span>Đồng ý với <a routerLink="" target="_blank">Điều khoản đăng ký dịch vụ</a></span>
      </label>
    </nz-card>
  </div>

  <!-- payment -->
  <div nz-col [nzSpan]="8" class="gutter-row">
    <nz-affix [nzOffsetTop]="48">
      <nz-card class="border-card">
        <div>
          <h3>Thông tin thanh toán</h3>

          <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="12">
              <div class="mt-3 ml-3"><span>Tổng tiền:</span></div>
            </div>

            <div nz-col [nzSpan]="12">
              <div class="price-style price-color mt-3 mr-3">1.000.000 VNĐ</div>
              <div class="price-style unit-color mr-3">VNĐ/tháng</div>
            </div>
          </div>

          <nz-divider class="divider-style"></nz-divider>

          <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="12">
              <div class="mt-3 ml-3"><span>VAT(10%):</span></div>
            </div>

            <div nz-col [nzSpan]="12">
              <div class="price-style price-color mt-3 mr-3">200.000 VNĐ</div>
              <div class="price-style unit-color mr-3">VNĐ/tháng</div>
            </div>
          </div>

          <nz-divider class="divider-style"></nz-divider>

          <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="12">
              <div class="mt-3 ml-3" style="display: flex;">
                <span nz-icon>
                  <svg width="24px" height="24px" viewBox="0 0 64 64" stroke-width="3" stroke="#ff0000" fill="none">
                    <path d="M46.84,15.43l1,3a4.43,4.43,0,0,0,1.75,2.31l2.53,1.7a4.47,4.47,0,0,1,1.66,5.37l-1,2.43a4.46,4.46,0,0,0,0,3.35l1,2.37a4.47,4.47,0,0,1-1.54,5.32L50,42.92a4.44,4.44,0,0,0-1.7,2.41l-.81,2.84a4.46,4.46,0,0,1-4.67,3.23l-2.43-.2a4.41,4.41,0,0,0-3.18,1l-2.34,1.89a4.47,4.47,0,0,1-5.65,0l-2-1.64a4.45,4.45,0,0,0-2.84-1H20.82a4.45,4.45,0,0,1-4.35-3.46l-.64-2.72A4.44,4.44,0,0,0,14,42.51L11.84,41a4.45,4.45,0,0,1-1.69-5.21l1-2.74a4.44,4.44,0,0,0,0-3.09l-.9-2.4A4.46,4.46,0,0,1,12,22.28l2.37-1.53a4.48,4.48,0,0,0,1.88-2.55l.7-2.52a4.47,4.47,0,0,1,4.69-3.25l2.24.19a4.48,4.48,0,0,0,3.19-1l2.13-1.72a4.48,4.48,0,0,1,5.67,0l1.86,1.56a4.44,4.44,0,0,0,3.2,1l2.35-.17A4.47,4.47,0,0,1,46.84,15.43Z"/>
                    <circle cx="26.44" cy="24.08" r="3.77"/>
                    <circle cx="37.94" cy="39.92" r="3.77"/>
                    <line x1="41.71" y1="22.19" x2="21.85" y2="42.06"/>
                  </svg>
                </span>
                <span class="ml-1">Khuyến mãi</span>
              </div>
            </div>

            <div nz-col [nzSpan]="12">
              <button nz-button nzType="text" class="borderless price-style" (click)="handleChooseDiscount()">
                <span>Chọn hoặc nhập mã</span>
              </button>
            </div>
          </div>

          <nz-divider class="divider-style"></nz-divider>

          <div nz-row [nzGutter]="8" class="mt-5 price-panel">
            <div nz-col [nzSpan]="12">
              <div class="mt-3 ml-3"><span>Tổng thanh toán</span></div>
              <div class="mt-1 ml-3 mb-3 unit-color"><i>(Đã bao gồm 10% VAT)</i></div>
            </div>
            <div nz-col [nzSpan]="12">
              <div class="price-style total-color mt-3 mr-3">2.500.000 VNĐ</div>
              <div class="price-style unit-color mr-3">VNĐ/tháng</div>
            </div>
          </div>

          <div class="mt-5">
            <button nz-button nzType="primary" nzBlock (click)="onSubmitPayment()">
              <ng-container *ngIf="isSubmitting; else paymentIconTpl">
                <span nz-icon [nzType]="'loading'"></span>
                </ng-container>
                <ng-template #paymentIconTpl>
                  <span nz-icon>
                    <svg viewBox="64 64 896 896" focusable="false">
                      <path
                        d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-32 464H528V448h320v128zm-268-64a40 40 0 1080 0 40 40 0 10-80 0z" />
                    </svg>
                  </span>
                </ng-template>
              Thanh toán
            </button>
          </div>

          <div class="mt-5">
            <button nz-button nzType="text" nzBlock class="borderless" (click)="goBack()">
              <span nz-icon nzType="left" nzTheme="outline"></span>Quay lại
            </button>
          </div>
        </div>
      </nz-card>
    </nz-affix>
  </div>
</div>
