<nz-modal [(nzVisible)]="isVisible" nzTitle="Xóa {{ items.length }} User Groups"
          (nzOnCancel)="handleCancel()" nzCentered>
  <div *nzModalTitle>
    <div class="text-h5"><b>{{ 'app.user-group.deleteMany.title' | i18n }} {{ items.length }} User Groups</b></div>
  </div>
  <div *nzModalContent>
    <nz-alert
      nzShowIcon
      nzType="warning"
      [nzDescription]="('app.user-group.deleteMany.des' | i18n) + ' ' + items.length + ' ' + ('app.user-group.deleteMany.des2' | i18n)">
    </nz-alert>
    <p class="text-p" style="margin-top: 5px"><b>{{ 'app.user-group.deleteMany.confirm' | i18n }}</b></p>
    <input nz-input [(ngModel)]="value" (ngModelChange)="onInputChange()" type="text"/>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()" class="button-cancel">{{ 'app.button.cancel' | i18n }}
    </button>
    <button nz-button nzType="primary" (click)="handleOk()"
            [nzLoading]="isLoading"
            class="button-ok">{{ 'app.button.confirm' | i18n }}
    </button>
  </div>
</nz-modal>
