<page-header
  [breadcrumb]="breadcrumb"
  [action]="action"
  [title]="'Chỉnh sửa SSL Cert'"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="separatorTemplate">
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>{{
          'app.breadcrumb.infrastructure.service' | i18n
        }}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/app-smart-cloud/waf']">WAF</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>Chỉnh sửa SSL Cert</nz-breadcrumb-item>
      <ng-template #iconTemplate><one-portal-svg-icon [icon]="'icon_breadcrumb'"></one-portal-svg-icon></ng-template>
    </nz-breadcrumb>
    <ng-template #separatorTemplate
      ><img src="assets/imgs/arrow-square-right.svg" alt="" />
    </ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
    </div>
  </ng-template>
</page-header>
<div>
  <nz-card style="border-radius: 8px">
    <h2 class="custom-title">Thông tin SSL Cert</h2>
    <form nz-form nzLayout="vertical" [formGroup]="form">
      <nz-form-item>
        <div class="text-label">
          <span
            >Certificate Upload Method (<span class="text-red">*</span
            >)</span
          >
          <img
            nz-popover
            nzPopoverPlacement="bottom"
            style="margin-left: 5px"
            src="assets/imgs/pajamas_question.svg"
            alt=""
          />
        </div>
        <nz-form-control
          nzDisableAutoTips
          [nzErrorTip]="nameErrorTpl"
          style="margin-top: 10px; margin-bottom: 10px;"
        >
        <nz-select
        class="input-select-custom"
        [(ngModel)]="uploadMethod"
        [ngModelOptions]="{ standalone: true }" 
        (ngModelChange)="handleChangeMethod($event)"
      >
        <nz-option
          *ngFor="let data of uploadMethodList"
          [nzLabel]="data.label"
          [nzValue]="data.value"
        ></nz-option>
      </nz-select>
        </nz-form-control>
        <span *ngIf="uploadMethod == '1'" class="text-desc">Tải lên chứng chỉ (bao gồm nội dung chứng chỉ, private key, nội dung CA...) do cơ quan cấp chứng chỉ cấp và tự động phân tích</span>
        <span *ngIf="uploadMethod == '2'" class="text-desc">Nhập nội dung chứng chỉ dạng pem, private key và CA content</span>
      </nz-form-item>
      <nz-form-item>
        <div class="text-label d-block" style="width: 100%">
          <span
            >Certificate Name (<span class="text-red">*</span
            >)</span
          >
          <img
            nz-popover
            nzPopoverPlacement="bottom"
            style="margin-left: 5px"
            src="assets/imgs/pajamas_question.svg"
            alt=""
          />
        </div>
        <nz-form-control
          nzDisableAutoTips
          [nzErrorTip]="nameErrorTpl"
          style="margin-top: 10px"
        >
          <input
            class="input-custom"
            appTrim
            nz-input
            placeholder="Nhập tên chứng chỉ"
            formControlName="certName"
            [maxlength]="50"
          />
          <ng-template #nameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">{{
              'Tên chứng chỉ không được để trống' | i18n
            }}</ng-container>
            <ng-container *ngIf="control.hasError('pattern')">{{
              'Tên chứng chỉ không đúng định dạng' | i18n
            }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item> 
      <nz-form-item *ngIf="uploadMethod == '1'">
        <div class="text-label">
          <div style="margin-bottom: 10px;">
            <span
            >Certificate File Upload (<span class="text-red">*</span
            >)</span
          >
          <nz-upload
              style="margin-left: 5px"
              [nzFileList]="fileList"
              [nzShowUploadList]="false"
              (nzChange)="handleChange($event)"
            >
              <button nz-button>
                <span nz-icon nzType="upload"></span> 
                Tải lên
              </button>
            </nz-upload>
          </div>
          <div *ngIf="fileList.length > 0" class="uploaded-files">
            <p *ngFor="let file of fileList">{{ file.name }}</p>
          </div>
          <span class="text-desc">Mỗi tệp không vượt quá 44kb. Định dạng tệp có thể tải lên: .pem, .key, .crt.</span>
        </div>
      </nz-form-item>  
      <nz-form-item *ngIf="uploadMethod == '2'">
        <div class="text-label d-block" style="width: 100%">
          <span
            >Certificate Content (<span class="text-red">*</span
            >)</span
          >
        </div>
        <nz-form-control
          nzDisableAutoTips
          [nzErrorTip]="certificateErrorTpl"
          style="margin-top: 10px"
        >
        <textarea
        [placeholder]="'Nhập nội dung chứng chỉ (chỉ hỗ trợ mã pem)'"
        formControlName="certificate"
        rows="4"
        nz-input
      ></textarea>
      <ng-template #certificateErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Nội dung chứng chỉ không được để trống</ng-container>
      </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="uploadMethod == '2'">
        <div class="text-label d-block" style="width: 100%">
          <span
            >Private Key (<span class="text-red">*</span
            >)</span
          >
        </div>
        <nz-form-control
          nzDisableAutoTips
          [nzErrorTip]="privateKeyErrorTpl"
          style="margin-top: 10px;"
        >
        <textarea
        [placeholder]="'Nhập private key (Chỉ hỗ trợ mã pem)'"
        formControlName="privateKey"
        rows="4"
        nz-input
      ></textarea>
      <ng-template #privateKeyErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Private key không được để trống</ng-container>
      </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="uploadMethod == '2'">
        <div class="text-label d-block" style="width: 100%">
          <span
            >CA Content</span
          >
        </div>
        <nz-form-control
          nzDisableAutoTips
          style="margin-top: 10px"
        >
        <textarea
        [placeholder]="'Nhập CA Content (Chỉ hỗ trợ mã pem). Lưu ý: Nếu không có CA, có thể có nguy cơ máy khách không được tin cậy'"
        rows="4"
        nz-input
      ></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <div class="text-label">
          <span
            >Remarks</span
          >
        </div>
        <nz-form-control
          nzDisableAutoTips
          [nzErrorTip]="nameErrorTpl"
          style="margin-top: 10px"
        >
        <input
        class="input-custom"
        appTrim
        nz-input
        placeholder="Nhập remarks"
        formControlName="remarks"
        [maxlength]="50"
      />
        </nz-form-control>
      </nz-form-item> 
      <div class="d-flex justify-content-end">
        <button nz-button [routerLink]="['/app-smart-cloud/waf/ssl-cert']">
          <img
            style="padding-right: 10px; margin-top: -4px"
            src="assets/imgs/cancel.svg"
            alt=""
          />{{ 'app.button.cancel' | i18n }}
        </button>
        <button
          nz-button
          (click)="handleEdit()"
          [disabled]="form.invalid"
          [nzLoading]="isLoading"
          nzType="primary"
        >
          <img
          *ngIf="isLoading === false"
            style="padding-right: 10px; margin-top: -4px"
            src="assets/imgs/confirm.svg"
            alt=""
          />
          {{ 'app.button.confirm' | i18n }}
        </button>
      </div>
    </form>
  </nz-card>
</div>
<div
  class="text-right"
  style="
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  "
></div>
