<page-header [breadcrumb]="breadcrumb" [action]="action"
             [title]="'Điều chỉnh File Storage'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item [routerLink]="'/'">Trang chủ</nz-breadcrumb-item>
      <nz-breadcrumb-item>Dịch vụ hạ tầng</nz-breadcrumb-item>
      <nz-breadcrumb-item>File Storage</nz-breadcrumb-item>
      <nz-breadcrumb-item [routerLink]="'/app-smart-cloud/file-storage/file-system/list'">File System
      </nz-breadcrumb-item>
      <nz-breadcrumb-item [routerLink]="'/app-smart-cloud/file-storage/file-system/create'">Điều chỉnh File Storage
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               (userChanged)="userChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <nz-row nzGutter="24">
    <nz-col nzSpan="16">
      <nz-card style="border-radius: 8px;">
        <span class="text-card-header">Thông tin File Storage</span>
      </nz-card>
      <nz-card style="border-radius: 8px;">
        <span class="text-card-header">Thông tin điều chỉnh</span>
      </nz-card>
    </nz-col>
    <nz-col nzSpan="8">
      <nz-card style="border-radius: 8px;">
        <span class="text-card-header">Chi phí ước tính</span>
      </nz-card>
    </nz-col>
  </nz-row>
</nz-content>
