.flex-style {
  display: flex;
}

.marbot-5 {
  margin-bottom: 5px;
}

.mbot-24 {
  margin-bottom: 24px;
}

.mleft-16 {
  margin-left: 16px;
}

.center-align {
  text-align: center;
}

.header-table {
  background-color: #E2EEFC;
}

p {
  font-size: 16px;
}

.w-100 {
  width: 100%;
}

.w-25 {
  width: 25%;
}

.padleft-24 {
  padding-left: 24px;
}

.padright-24 {
  padding-right: 24px;
}

.primary-color {
  color: #0066b3;
}

.delete-color {
  color: #ea3829;
}

input, .border-button {
  border-radius: 10px;
}

::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 10px;
}

.borderless {
  border: none;
}

.align-center {
  text-align: center;
}

img {
  border-radius: 4px;
}

.description-title {
  font-weight: 600;
  font-size: 32px;
  color: #0066B3;
  margin-bottom: 0;
}

.description-content {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  color: #6C757D;
}

.bg-button {
  background-color: #0066B3;
}

