.flex-style {
  display: flex;
  margin-bottom: 5px;
}

.mbot-24 {
  margin-bottom: 24px;
}

.mleft-16 {
  margin-left: 16px;
}

.center-align {
  text-align: center;
}

.header-table {
  background-color: #E2EEFC;
}

.w-100 {
  width: 100%;
}

.w-25 {
  width: 25%;
}

.icon-color {
  color: #0066b3;
}

.delete-icon {
  color: #ea3829;
}

input, .border-button {
  border-radius: 4px;
}

.borderless {
  border: none;
}

img {
  border-radius: 4px;
}

.description-title {
  font-weight: 600;
  font-size: 18px;
}

.description-content {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

