<nz-card id="kafka-config">
    <fieldset class="custom-legend">
        <legend>{{ 'kafka.overview.config' | i18n }}</legend>
        <div class="table-info" nz-row>
            <div nz-col [nzSpan]="12">
                <nz-table #basicTable nzTableLayout="fixed" [nzShowPagination]="false" [nzData]="['']">
                    <tbody>
                        <tr>
                            <td class="config-label">{{ 'app.kafka.name' | i18n }}</td>
                            <td><b>{{itemDetail.serviceName}}</b></td>
                        </tr>
                        <tr>
                            <td class="config-label">{{'app.service.creation-date' | i18n}}</td>
                            <td><b>{{ itemDetail.createdDate | date: 'dd/MM/yyyy' }}</b></td>
                        </tr>
                        <tr>
                            <td class="config-label">{{'app.service.expiration-date' | i18n}}</td>
                            <td style="color: #ea3829"><b>{{ itemDetail.expiryDate | date: 'dd/MM/yyyy' }}</b></td>
                        </tr>
                        <tr>
                            <td class="config-label">{{'app.service.package' | i18n}}</td>
                            <td><b>{{this.itemDetail.offerName}}</b></td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-table #basicTable nzTableLayout="fixed" [nzShowPagination]="false" [nzData]="['']">
                    <tbody>
                        <tr>
                            <td class="config-label">Broker</td>
                            <td><b>3</b></td>
                        </tr>
                        <tr>
                            <td class="config-label">CPU</td>
                            <td><b>{{itemDetail.cpu}} vCPU</b></td>
                        </tr>
                        <tr>
                            <td class="config-label">RAM</td>
                            <td><b>{{itemDetail.ram}} GB</b></td>
                        </tr>
                        <tr>
                            <td class="config-label">SSD</td>
                            <td><b>{{itemDetail.storage}} GB</b></td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </fieldset>
</nz-card>
<nz-card id="endpoint-config">
    <fieldset class="custom-legend mb-5">
        <legend>{{ 'kafka.overview.enpoint' | i18n }}</legend>
        <div class="copy-btn">
            <button nz-button nzType="default" nzTooltipTitle="Copy" nzTooltipPlacement="top" nz-tooltip class="btn-copy"
                (click)="handleCopy()">
                <img src="assets/imgs/icon_copy1.svg" alt="" style="cursor: pointer"/>
            </button>
        </div>
        <div class="table-info">
            <ng-container *ngIf="infoConnection">
                <nz-table nzTableLayout="fixed" [nzShowPagination]="false" [nzData]="['']">
                    <tbody>
                        <tr>
                            <td class="config-label">Bootstrap server</td>
                            <td><b>{{infoConnection.bootstrapServer}}</b></td>
                        </tr>
                        <tr>
                            <td class="config-label">Sasl Mechanism</td>
                            <td><b>{{infoConnection.saslMechanism}}</b></td>
                        </tr>
                        <tr>
                            <td class="config-label">Security Protocol</td>
                            <td><b>{{infoConnection.securityProtocol}}</b></td>
                        </tr>
                        <tr>
                            <td class="config-label">Sasl Jaas Config</td>
                            <td><b>{{infoConnection.saslJaasConfig}}</b></td>
                        </tr>
                    </tbody>
                </nz-table>
            </ng-container>

        </div>
    </fieldset>
</nz-card>
<nz-card id="brokers-config">
    <fieldset class="custom-legend mb-5">
        <legend>{{ 'kafka.overview.brokers' | i18n }}</legend>
        <div class="table-info">
            <ng-container *ngIf="brokerConfigs">
                <nz-table nzTableLayout="fixed" [nzShowPagination]="false" [nzData]="['']">
                    <tbody>
                        <tr *ngFor="let item of brokerConfigs">
                            <td class="config-label">
                                <div>
                                    {{item.configName}}
                                    <img
                                        style="margin-left: 10px"
                                        [nzTooltipTitle]="item.description" nzTooltipPlacement="rightTop" nz-tooltip
                                        src="assets/imgs/pajamas_question.svg"
                                        alt=""
                                    />
                                </div>
                            </td>
                            <td><b>{{item.configValue}}</b></td>
                        </tr>
                    </tbody>
                </nz-table>
            </ng-container>

        </div>
    </fieldset>
</nz-card>