.table-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-icon {
  color: #989bb3;
  display: flex;
  font-size: 20px;
  padding: 0.833px;
  justify-content: center;
  align-items: center;
}

/* nz-input-group {
  height: 40px;
  padding: 8px 12px;
  border-radius: 8px;
  width: 300px;
  border: 1px solid #e2e2e9;
}

.ant-input-affix-wrapper > input.ant-input {
  font-size: 16px;
} */

.ant-dropdown-menu-item-selected {
  background-color: unset;
}

.btn-create {
  height: 40px;
  background-color: #0066b0;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
}

nz-table#credentials th {
  background-color: #e2eefc;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.table-filter nz-input-group[nzsearch] {
  border-radius: 8px;
  width: 300px;
  height: 40px;
}

[nz-icon] {
  font-size: 20px;
}

@media only screen and (min-width: 1440px) {
  .img-pwd {
      margin-right: 16px !important;
  }
}

.err-service {
  border-color: #EA3829 !important;
  box-shadow: 0 0 0 2px #ff4d4f33;
}

.err-msg{
  font-size: 14px;
  line-height: 1.5715;
  color: #EA3829;
}

::ng-deep .ant-modal-body {
  padding-bottom: 10px !important;
}

::ng-deep .ant-alert {
  padding: 8px 0px 8px 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

::ng-deep .ant-alert-content {
  text-align: left;
}

.custom {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.25);
}