.table-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#credentials-table th {
  background-color: #2f54eb;
  color: #ffff;
}

.search-icon {
  color: #989bb3;
  display: flex;
  width: 20px;
  height: 20px;
  padding: 0.833px;
  justify-content: center;
  align-items: center;
}

/* nz-input-group {
  height: 40px;
  padding: 8px 12px;
  border-radius: 8px;
  width: 300px;
  border: 1px solid #e2e2e9;
}

.ant-input-affix-wrapper > input.ant-input {
  font-size: 16px;
} */
