<nz-card>
    <ng-container *ngIf="tabStatus === showListCredentials">
        <div class="table-filter mb-5">
            <nz-input-group nzSearch [nzPrefix]="prefixIconButton">
                <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="stringSearch"
                    (keyup.enter)="getCredentials()" />
            </nz-input-group>
            <ng-template #prefixIconButton>
                <img src="assets/imgs/search.svg" alt="" style="cursor: pointer" nz-tooltip="Tìm kiếm" />
            </ng-template>
            <button class="btn-create" nz-button nzType="primary" (click)="changeTabStatus(1)">
                <span nz-icon nzType="plus" nzTheme="outline"></span>
                Tạo mới
            </button>
        </div>
    
        <nz-table id="credentials" #basicTable [nzData]="credentials" nzShowSizeChanger
            [nzFrontPagination]="false" nzShowPagination [nzTotal]="total" [nzPageIndex]="page" [nzPageSize]="size"
            (nzPageSizeChange)="changeSize($event)" nzTableLayout="fixed" (nzPageIndexChange)="changePage($event)">
            <thead>
                <tr>
                    <th nzWidth="5%">STT</th>
                    <th>Tài khoản</th>
                    <th>Mật khẩu</th>
                    <th>Ngày tạo</th>
                    <th style="text-align: center;" nzWidth="10%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ data.username }}</td>
                    <td>**********</td>
                    <td>{{ data.createdDate }}</td>
                    <td style="text-align: center;">
                        <img src="assets/imgs/change-password.svg" alt="" style="cursor: pointer; margin-right: 16px" (click)="updatePassword(data)"
                        nz-tooltip="Đổi mật khẩu" />
                        
                        <img src="assets/imgs/forgot-password.svg" alt="" style="cursor: pointer; margin-right: 16px" (click)="forgotPassword(data)"
                        nz-tooltip="Quên mật khẩu" />

                        <img src="assets/imgs/trash1.svg" alt="" style="cursor: pointer; margin-right: 16px" (click)="deleteUser(data)" 
                        nz-tooltip="Xóa" />
                    </td>
                </tr>
            </tbody>
        </nz-table>

    </ng-container>
    
    <one-portal-credential-action *ngIf="tabStatus === showCreateCredential || tabStatus === showUpdatePassword || tabStatus === showForgotPassword" (closeFormEvent)="onCloseForm()" [serviceOrderCode]="serviceOrderCode"></one-portal-credential-action>
    
    <nz-modal [(nzVisible)]="isVisibleOtpModal" [nzTitle]="titleOtpModal" [nzContent]="contentOtpModal" nzMaskClosable="false"
        [nzFooter]="null" (nzOnCancel)="closeOtpModal()">
      </nz-modal>
      <ng-template #titleOtpModal>
        <h5 nz-typography>Đổi mật khẩu tài khoản: <span style="color: #f46a6a;">{{currentUserName}}</span>
        </h5>
      </ng-template>
      <ng-template #contentOtpModal>
        <div class="text-center" nz-typography>
          <p class="mb-3 text-center">{{titleOtp}} </p>
          <p class="mb-3 text-center">Xin vui lòng nhập mã xác thực OTP</p>
          <input style="width: 240px;" class="mb-3" nz-input type="text" [ngModel]="inputOtpCode"
            (keypress)="onKeyPressOtp($event)" (paste)="onPasteOTP($event)" (ngModelChange)="changeOtp($event)">
          <p class="mb-5 text-center">Bạn chưa nhận được mã ? <a (click)="requestResendOtp()">Gửi
              lại OTP</a></p>
          <button style="width: 120px;" nz-button nzType="primary" (click)="verifyOtp()"> Xác nhận
          </button>
        </div>
      </ng-template>
</nz-card>