<page-header
[breadcrumb]="breadcrumb" [title]="'app.vpns2s-resize' | i18n"
[action]="action"

>
<ng-template #breadcrumb>
  <nz-breadcrumb [nzSeparator]="separatorTemplate">
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item> {{ 'app.breadcrumb.infrastructure.service' | i18n }} </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <a [routerLink]="['/app-smart-cloud/vpn-site-to-site/manage']">VPN site to site</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>{{'app.vpns2s-resize' | i18n}}</nz-breadcrumb-item>
  </nz-breadcrumb>
    <ng-template #separatorTemplate
      ><img src="assets/imgs/arrow-square-right.svg" alt="" />
    </ng-template>
</ng-template>
<ng-template #action>
  <div class="alain-custom-action text-right">
    <share-users-combobox [isDisable]="true"></share-users-combobox>
    <region-select-dropdown [isDetail]="true"
      (valueChanged)="regionChanged($event)"
    ></region-select-dropdown>
    <project-select-dropdown [isDetail]="true"
      (valueChanged)="projectChanged($event)"
      (userChanged)="projectChanged($event)"
      [regionId]="region"
    ></project-select-dropdown>
  </div>
</ng-template>
</page-header>
<nz-row nzGutter="24" class="body-form">
    <nz-col nzSpan="16" class="left-content">
        <nz-card class="left-content-card">
            <span class="text-card-header">{{'app.information' | i18n}} VPN site to site</span>

            <nz-row nzGutter="16" class="pt-5">
              <nz-col nzSpan="12">
                <span class="text-label">{{'app.manage.site.to.site.name.package' | i18n}}: </span>
                <span class="text-value-detail">{{vpn?.offerName}}</span>
              </nz-col>
              <nz-col nzSpan="12">
                <span class="text-label">{{'app.service.expiration-date' | i18n}}: </span>
                <span class="text-value-detail">{{ vpn?.bandwidth }}</span>
              </nz-col>
            </nz-row>

            <div nz-row class="mb-md pt-5" style="margin-bottom: 0 !important;">
                <div nz-col nzSpan="11">
                <nz-form-label nzRequired>{{'app.vpns2s-resize.duration' | i18n}}</nz-form-label>
                <nz-form-item>
                    <nz-form-control nzDisableAutoTips>
                    <nz-input-number class="input-number-element"
                    [disabled]="true"
                    [(ngModel)]="numberMonth"
                        style="width:100%;"
                        (ngModelChange)="caculator($event)"
                        nzMin="1"
                        nzMax="100"
                        nzStep="1"
                        nzSize="large"/>
                    </nz-form-control>
                </nz-form-item>
                </div>
                <div nz-col nzSpan="12" style="margin-left: 15px">
                <p  style="margin-top: 39px; font-size: 16px;">{{'app.vpns2s-resize.use-date' | i18n}}: {{dateString | date:'dd/MM/yyyy'}}</p>
                </div>
            </div>
            <div nz-col class="title-pading-left">
                <p class="red-text">{{'app.service.expiration-date' | i18n}}: {{ expiredDate | date : 'dd/MM/yyyy' }}</p>
            </div>
        </nz-card>
        <nz-card class="left-content-card">
            <span class="text-card-header">{{'app.adjust.info' | i18n}}</span>
            <div class="header-content">{{'app.vpns2s-extend.header' | i18n}}</div>
            <nz-table
                #ajaxTable3
                nzShowSizeChanger
                [nzFrontPagination]="false"
                [nzData]="offerDatas"
                [nzLoading]="loading"
                (nzQueryParams)="getOffers()"
            >
                <thead>
                <tr>
                    <th nzLeft>{{'app.manage.site.to.site.name.package' | i18n}}</th>
                    <th>Bandwidth (MB/S)</th>
                    <th>{{'app.vpns2s-extend.price' | i18n}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of ajaxTable3.data" (click)="selectOffer($event, data)">
                    <td nzLeft id="offer-title-{{data.Id}}" offer-id="{{data.Id}}">
                    {{ data.OfferName }}
                    </td>
                    <td nzLeft>
                    {{ data.Bandwidth }}
                    </td>
                    <td nzRight nzAlign="right">
                    {{ data.Price | number }}
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </nz-card>
        <one-portal-guide-formula></one-portal-guide-formula>
    </nz-col>
    <nz-col nzSpan="8">
        <nz-affix [nzOffsetTop]="72">
          <nz-card class="right-form">
            <div class="right-title">
                  <span class="text-card-header">{{'app.estimated.cost' | i18n}}</span>
            </div>
            <nz-row style="margin-bottom: 10px" nzGutter="16">
              <nz-col nzSpan="16">
                <span class="text-value">{{ 'app.cost.vat' | i18n }}</span>
              </nz-col>
              <nz-col class="text-right" nzSpan="8">
                <span
                  class="text-value"
                  style="color: #0066b3"
                  nzAlign="right"
                  *ngIf="vatDisplay == null || vatDisplay < 0"
                  >0 VND</span
                >
                <span
                  class="text-value"
                  style="color: #0066b3"
                  nzAlign="right"
                  *ngIf="vatDisplay === 0"
                  >0 VND</span
                > 
                <span
                  class="text-value"
                  style="color: #0066b3"
                  nzAlign="right"
                  *ngIf="vatDisplay != undefined && vatDisplay > 0"
                >
                  {{ vatDisplay | number }} VND
                </span>
              </nz-col>
            </nz-row>
            <nz-row class="right-form-content-total" nzGutter="16" >
              <nz-col nzSpan="16">
                <span class="text-label">{{ 'app.total.payment' | i18n }}</span><br />
                <span class="text-note-italicized">({{ 'app.include.vat' | i18n : {vat: vatPer} }})</span>
              </nz-col>
              <nz-col class="text-right" nzSpan="8">
                <span class="text-value vat-money" nzAlign="right">
                  {{ totalincludesVAT | number }}
                  VND
                </span>
              </nz-col>
            </nz-row>
            <nz-row>
              <nz-col style="width: 100%" class="text-right">
                <button
                  style="width: 100%"
                  nz-button
                  nzSize="large"
                  nzType="primary"
                  [disabled]="!isEnable"
                  (click)="extend()"
                >
                  <span nz-icon nzType="wallet" nzTheme="outline"></span>
                  {{ 'app.button.create' | i18n }}
                </button>
              </nz-col>
            </nz-row>
          </nz-card>
        </nz-affix>
    </nz-col>
</nz-row>