<ng-container *ngIf="itemDetail">
   <page-header [breadcrumb]="breadcrumb" [title]="'Nâng cấp dịch vụ Kafka'">
      <ng-template #breadcrumb>
          <nz-breadcrumb>
              <nz-breadcrumb-item>
                  <a [routerLink]="['/']">Trang chủ</a>
              </nz-breadcrumb-item>
              <nz-breadcrumb-item>
                  <a [routerLink]="['/app-kafka']">Kafka</a>
              </nz-breadcrumb-item>
              <nz-breadcrumb-item>
                  Nâng cấp dịch vụ Kafka
              </nz-breadcrumb-item>
          </nz-breadcrumb>
      </ng-template>
   </page-header>
   
   <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="16" class="form-new">
          <form nz-form [formGroup]="myform" nzLayout="horizontal" nzLabelAlign="left">
   
              <nz-card class="border-card">
                  <h3><b>Các gói dịch vụ</b></h3>
                  <span nzType="secondary" style="color: #6C757D;">
                      <b>Lưu ý: </b> Khách hàng có thể tăng, giảm cấu hình vCPU, RAM tùy ý. Đối với ổ cứng SSD, chỉ có thể
                      tăng hoặc sử dụng bằng mức dung lượng. Do đó, khi tiến hành nâng cấp dịch vụ khách hàng cần chọn mức
                      cấu hình cao hơn hoặc bằng với mức cấu hình hiện tại của dung lượng SSD.
                  </span>
                  <nz-tabset nzCentered style="margin-top: 15px;">
                      <nz-tab nzTitle="Gói cấu hình sẵn" (nzClick)="clicktab()">
                          <ng-template nz-tab>
                              <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="listOfServicePack"
                                  class="carousel-div">
                                  <div *nguCarouselDef="let item;" class="item">
                                      <div class="pack-item" [ngClass]="{ 'choose': item===chooseitem}"
                                          (click)="handleChoosePack(item)">
                                          <div class="item-header">
                                              <div class="item-name">
                                                  <span>{{item.servicePackName}}</span>
                                                  <div class="item-price">
                                                      <div class="price">
                                                          <span>{{ item.price | CustomCurrency }}</span><br>
                                                          <span class="unit-price">đ/tháng</span>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="item-body">
                                              {{item.broker}} Broker - {{item.cpu}} VCPU / <br>
                                              {{item.ram}}GB RAM / <br>
                                              {{item.storage}}GB SDD
                                          </div>
                                      </div>
                                  </div>
                                  <ul class="myPoint" NguCarouselPoint>
                                      <li *ngFor="let j of myCarousel.pointNumbers"
                                          [class.active]="j === myCarousel.activePoint" (click)="myCarousel.moveTo(j)">
                                      </li>
                                  </ul>
                              </ngu-carousel>
                          </ng-template>
                      </nz-tab>
   
                      <nz-tab nzTitle="Cấu hình tùy chọn">
                          <div nz-row class="customize-config">
   
                              <div nz-col [nzSpan]="5">
                                  <nz-form-item>
                                      <nz-form-label [nzSm]="24" [nzXs]="24">Số Broker</nz-form-label>
                                      <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng nhập số lượng Broker">
                                          <input nz-input type="number" formControlName="broker" id="broker" autofocus nzSize="large" />
                                      </nz-form-control>
                                  </nz-form-item>
                              </div>
   
                              <div nz-col [nzSpan]="5">
                                  <nz-form-item>
                                      <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired>vCPU</nz-form-label>
                                      <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng nhập giá trị vCpu">
                                          <input nz-input type="number" formControlName="vCpu" id="vCpu" autofocus nzSize="large" />
                                      </nz-form-control>
                                  </nz-form-item>
                              </div>
      
                              <div nz-col [nzSpan]="5" class="config-suffix">
                                  <nz-form-item>
                                      <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired>RAM</nz-form-label>
                                      <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng nhập giá trị Ram">
                                          <nz-input-group nzSuffix="(GB)" nzSize="large">
                                              <input nz-input type="number" formControlName="ram" id="ram" autofocus />
                                          </nz-input-group>
                                      </nz-form-control>
                                  </nz-form-item>
                              </div>
      
                              <div nz-col [nzSpan]="5" class="config-suffix">
                                  <nz-form-item>
                                      <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired>Dung lượng SSD</nz-form-label>
                                      <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng nhập giá trị Storage">
                                          <nz-input-group nzSuffix="(GB)" nzSize="large">
                                              <input nz-input type="number" formControlName="storage" id="storage" autofocus />
                                          </nz-input-group>
                                      </nz-form-control>
                                  </nz-form-item>
                              </div>
      
                              
                          </div>
   
                      </nz-tab>
                  </nz-tabset>
   
                  <nz-form-item>
                      <nz-form-label [nzXs]="24" [nzSm]="24" nzRequired>Thời hạn sử dụng (tháng)</nz-form-label>
                      <nz-form-control [nzXs]="24" [nzSm]="5" nzErrorTip="Vui lòng nhập thời hạn sử dụng">
                          <input nz-input type="number" formControlName="usageTime" id="usageTime" autofocus nzSize="large" (change)="onChangeUsageTime()" />
                      </nz-form-control>
                  </nz-form-item>
              </nz-card>
   
          </form>
      </div>
   
      <!-- payment -->
      <div nz-col [nzSpan]="8">
          <nz-card class="price-card">
              <h3><b>Thành tiền</b></h3>
              <div nz-row [nzGutter]="8">
                  <div nz-col [nzSpan]="12">
                      <div class="label-price">Chi phí vCPU</div>
                      <div class="label-quantity">300.000 đồng x 3 cái</div>
                  </div>
                  <div nz-col [nzSpan]="12">
                      <div class="value-price">1.000.000 VNĐ</div>
                      <div class="unit-total">VNĐ/tháng</div>
                  </div>
              </div>
              <nz-divider class="divider-style"></nz-divider>
              <div nz-row [nzGutter]="8">
                  <div nz-col [nzSpan]="12">
                      <div class="label-price">Chi phí RAM</div>
                      <div class="label-quantity">300.000 đồng x 3 cái</div>
                  </div>
                  <div nz-col [nzSpan]="12">
                      <div class="value-price">1.000.000 VNĐ</div>
                      <div class="unit-total">VNĐ/tháng</div>
                  </div>
              </div>
              <nz-divider class="divider-style"></nz-divider>
              <div nz-row [nzGutter]="8">
                  <div nz-col [nzSpan]="12">
                      <div class="label-price">Chi phí Storage</div>
                      <div class="label-quantity">300.000 đồng x 3 cái</div>
                  </div>
                  <div nz-col [nzSpan]="12">
                      <div class="value-price">1.000.000 VNĐ</div>
                      <div class="unit-total">VNĐ/tháng</div>
                  </div>
              </div>
              <nz-divider class="divider-style"></nz-divider>
              <div nz-row [nzGutter]="8">
                  <div nz-col [nzSpan]="18">
                      <div class="label-price">Thời hạn sử dụng</div>
                      <div class="label-usage-time">
                          <label>- Ngày bắt đầu sử dụng: </label>
                          <span>{{ itemDetail.createdDate | date : 'dd/MM/yyyy' }}</span>
                      </div>
                      <div class="label-usage-time">
                          <label>- Ngày hết hạn: </label>
                          <span>{{ expiryDate | date : 'dd/MM/yyyy' }}</span>
                      </div>
                  </div>
                  <div nz-col [nzSpan]="6">
                      <div class="value-usage-time">{{ usageTime }} tháng</div>
                  </div>
              </div>
              <nz-divider class="divider-style"></nz-divider>
   
              <div nz-row [nzGutter]="8" class="mt-5 price-panel">
                  <div nz-col [nzSpan]="12">
                      <div class="label-price">Thành tiền</div>
                      <div class="label-quantity"><i>(Đã bao gồm 10% VAT)</i></div>
                  </div>
                  <div nz-col [nzSpan]="12">
                      <div class="value-price total-price">3.000.000 VNĐ</div>
                      <div class="unit-total">VNĐ/tháng</div>
                  </div>
              </div>
   
              <div nz-row class="mt-5" [nzGutter]="16" nzJustify="center">
                  <div nz-col [nzSpan]="12">
                      <button nz-button nzType="default" nzBlock (click)="backToList()">
                          <img
                              style="padding-right: 10px; margin-top: -4px"
                              src="assets/imgs/cancel.svg"
                              alt=""
                          />
                          <b>Hủy</b>
                      </button>
                  </div>
   
                  <div nz-col [nzSpan]="12">
                      <button nz-button nzType="primary" nzBlock [disabled]="myform.invalid" (click)="onSubmitPayment()">
                          <img
                              style="padding-right: 10px; margin-top: -4px; height: 20px;"
                              src="assets/imgs/upgrade-white.svg"
                              alt=""
                          />
                          <b>Nâng cấp</b>
                      </button>
                  </div>
              </div>
          </nz-card>
      </div>
   </div>
</ng-container>