<!-- <li nz-menu-item (click)="openModal()">{{'app.delete' | i18n}}</li> -->
<!-- <img nz-popover src="assets/imgs/add.svg" alt="" nzPopoverPlacement="bottom"
    style="cursor: pointer; margin-right: 5px; margin-top: 2px;" [nzPopoverContent]="'Associated domains'"
    (click)="openModal()"> -->
<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="null"
    (nzOnCancel)="handleCancel()">
    <ng-template #modalTitle>
        <h4>
            <b>{{'Associated domains'}}</b>
        </h4>
    </ng-template>
    <ng-template #modalContent>
        <div class="text-label py-2">
            <span>Certificate Name: {{sslCertData.name}}</span>
        </div>
        <div class="text-label py-2">
            <span>Authorized Domain(s): {{sslCertData.subjectAlternativeNames.join(", ")}}</span>
        </div>
        <div class="text-label py-2">
            <span>Certificate Type: {{sslCertData.certType}}</span>
        </div>
        <div class="text-label py-2">
            Chọn domains
        </div>
        <form nz-form [formGroup]="form">
            <nz-form-item>
                <nz-form-control style="margin-top: 10px; margin-bottom: 10px;">
                    <nz-select nzMode="multiple" [nzPlaceHolder]="
            'Chọn domains'
          " [nzShowSearch]="true" nzSize="large" formControlName="listDomainIds">
                        <nz-option *ngFor="let data of sslCertData?.subjectAlternativeNames" [nzLabel]="data"
                            [nzValue]="data"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </form>
        <div class="d-flex justify-content-end">
            <button nz-button (click)="handleCancel()">
                <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/cancel.svg" alt="" />{{
                'app.button.cancel' | i18n }}
            </button>
            <button nz-button nzType="primary" (click)="handleOk()" [disabled]="form.invalid" [nzLoading]="isLoading">
                <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/confirm.svg" alt="" />
                {{ 'app.button.confirm' | i18n }}
            </button>
        </div>
    </ng-template>
</nz-modal>