<div style="display: flex; flex-direction: column">
  <span class="text-card-header mb-4">{{'app.list' |i18n}} IPsec Policies</span>
  <nz-row class="d-flex justify-content-between">
    <nz-col>
      <nz-input-group
        [nzPrefix]="prefixIconSearch"
        nzSize="large"
        style="width: 300px"
      >
        <input
          nz-input
          [(ngModel)]="value"
          [placeholder]="'app.file.system.placeholder.search' |i18n"
          #searchBox (keyup.enter)="search(searchBox.value)" (ngModelChange)="searchDelay.next(false)"
        />
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <img
          src="assets/imgs/search.svg"
          alt=""      
        />
      </ng-template>
    </nz-col>
    <nz-col>
      <button
        [routerLink]="[
          '/app-smart-cloud/vpn-site-to-site/ipsec-policies/create'
        ]"
        nz-button
        nzType="primary"
        nzSize="large"
      >
        <i nz-icon nzType="plus"></i>
        <span class="button-text-primary">{{'app.label.create' |i18n}} IPsec Policy</span>
      </button>
    </nz-col>
  </nz-row>
</div>
<nz-table
  #fixedTable
  style="margin-top: 20px"
  [nzData]="response?.records"
  [nzPageSize]="response?.pageSize"
  (nzPageSizeChange)="onPageSizeChange($event)"
  [nzPageIndex]="response?.currentPage"
  (nzPageIndexChange)="onPageIndexChange($event)"
  [nzTotal]="response?.totalCount"
  [nzFrontPagination]="false"
  [nzLoading]="isLoading"
>
  <thead>
    <tr>
      <th>{{'form.account.name' |i18n}}</th>
      <th>VPN Connection</th>
      <th>Authorization algorithm</th>
      <th>Encryption algorithm</th>
      <th>PFS</th>
      <th nzAlign="center">{{'app.action-history.operation' |i18n}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of fixedTable.data; index as i">
      <td>
        <a
          [routerLink]="['/app-smart-cloud/vpn-site-to-site/ipsec-policies/' + data.id]"
          >{{ data.name }}</a
        >
      </td>
      <td>{{ data.authorizationAlgorithm }}</td>
      <td>{{ data.authorizationAlgorithm }}</td>
      <td>{{ data.encryptionAlgorithm }}</td>
      <td>{{ data.perfectForwardSecrecy }}</td>
      <td>
        <div class="d-flex gap-2 justify-content-center align-items-center">
          <img
          style="cursor: pointer; margin-right: 16px"
          src="assets/imgs/edit-2.svg"
            nzTheme="outline"
            [routerLink]="[
              '/app-smart-cloud/vpn-site-to-site/ipsec-policies/edit/' + data.id
            ]"
            [nzPopoverContent]="'app.manage.site.to.site.edit' |i18n"
            nz-popover
            nzPopoverPlacement="bottom"
          />
          <one-portal-delete-ipsec-policies [region]="region"
          [project]="project"
          [ipsecpolicyid]="data.id"
          [nameIpsecPolicy]="data.name"
          (onOk)="handleOkDelete()"></one-portal-delete-ipsec-policies>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
