<div class="determine-wrap p-b-0">
  <nz-alert nzCloseable nzMessage="After confirming the transfer, the funds will be directly deposited into the other party's account and cannot be returned." nzType="info"></nz-alert>
  <nz-descriptions class="m-t-20">
    <nz-descriptions-item nzTitle="Payment account">ant-design@alipay.com</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Receiving account">test@example.com</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Recipient Name">Alex</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Amount">$ 500</nz-descriptions-item>
  </nz-descriptions>
  <nz-divider></nz-divider>
  <form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label nzFor="password" nzRequired [nzSm]="8" [nzXs]="24">Payment password</nz-form-label>
      <nz-form-control nzErrorTip="Payment password" [nzSm]="14" [nzXs]="24">
        <nz-input-group>
          <input type="password" formControlName="password" nz-input />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row>
      <nz-form-control [nzOffset]="6" [nzSpan]="14">
        <button nz-button nzType="primary" (click)="submit()">Submit</button>
        <button class="m-l-10" nz-button nzType="default" (click)="previous.emit()">Prev</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
