<page-header [breadcrumb]="breadcrumb" [action]="action" [title]="'app.user-detail.addPolicies' | i18n">
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="iconTemplate">
      <nz-breadcrumb-item><a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-smart-cloud/users']">{{"app.breadcrumb.account"|i18n}}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-smart-cloud/users']">IAM</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-smart-cloud/users']">Users</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-smart-cloud/users/detail/' + userName]">{{ 'app.users.detail' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item> {{ 'app.user-detail.addPolicies' | i18n }} </nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #iconTemplate><one-portal-svg-icon [icon]="'icon_breadcrumb'"></one-portal-svg-icon></ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (regionChange)="onRegionChanged($event)" (valueChanged)="onRegionChange($event)"></region-select-dropdown>
      <project-select-dropdown [regionId]="regionId" (valueChanged)="onProjectChange($event)"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>

<one-portal-attach-permission-policy [isCreate]="false" [userName]="userName"
  (listGroupNames)="onChangeGroupNames($event)"
  (listPolicyNames)="onChangePolicyNames($event)"></one-portal-attach-permission-policy>

<div nz-row [nzGutter]="24">
  <div class="text-right p-0 m-b-0 d-flex " nz-col nzSpan="24" style="justify-content:end">
    <button nz-button style="color: var(--Primary-1, #0066b3)" (click)="navigateToDetail()">
      <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/arrow-left-2.svg" alt="" />
      <span>{{ 'app.button.back' | i18n }}</span>
    </button>
    <button nz-button nzType="primary" (click)="addPolicies()" class="btn-add">
      <one-portal-svg-icon [icon]="'icon_add'" class="icon-svg icon-padding-right"></one-portal-svg-icon>
      <!-- <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/add-circle.svg" alt="" /> -->
      <span>{{ 'app.user-detail.addPolicies' | i18n }}</span>
    </button>
  </div>
</div>