<page-header>
  <nz-breadcrumb style="width: 50%; float: left">
    <nz-breadcrumb-item>Home</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="['/app-smart-cloud/users']">Users</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="['/app-smart-cloud/users/detail/' + id]"
        >Chi tiết User</a
      >
    </nz-breadcrumb-item>
    <nz-breadcrumb-item> Thêm Policies </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="text-right">
    <region-select-dropdown
      (valueChanged)="onRegionChange($event)"
    ></region-select-dropdown>
    <project-select-dropdown
      [regionId]="regionId"
      (valueChanged)="onProjectChange($event)"
    ></project-select-dropdown>
  </div>
  <div><h2>Thêm Policies</h2></div>
</page-header>

<nz-card [nzBordered]="false">
  <span class="title-card">Chọn kiểu gán Permissions cho User</span>
  <nz-row nzGutter="16" style="margin-top: 10px">
    <nz-radio-group
      style="width: 100%; display: inline-flex"
      name="selectedPasswordOrSSHkey"
    >
      <nz-col nzXs="24" nzMd="8">
        <nz-card
          [ngStyle]="{
            'background-color': activeBlockAddUsertoGroup
              ? '#e6f7ff'
              : '#fcfcfc',
            height: '130px'
          }"
        >
          <nz-card-meta
            [nzAvatar]="nzAvatarselected1"
            [nzTitle]="nzTitleselected1"
            [nzDescription]="nzDescriptionselected1"
          >
            <ng-template #nzAvatarselected1>
              <input
                type="radio"
                [checked]="activeBlockAddUsertoGroup"
                (click)="initAddUsertoGroup()"
              />
            </ng-template>
            <ng-template #nzTitleselected1>
              <b>Thêm User vào Group</b>
            </ng-template>
            <ng-template #nzDescriptionselected1>
              <ellipsis
                >Thêm người dùng vào nhóm hiện có hoặc tạo nhóm mới. Nên sử dụng
                nhóm để quản lý quyền của người dùng theo chức năng công
                việc.</ellipsis
              >
            </ng-template>
          </nz-card-meta>
        </nz-card></nz-col
      >
      <nz-col nzXs="24" nzMd="8">
        <nz-card
          [ngStyle]="{
            'background-color': activeBlockCopyPolicies ? '#e6f7ff' : '#fcfcfc',
            height: '130px'
          }"
        >
          <nz-card-meta
            [nzAvatar]="nzAvatarselected2"
            [nzTitle]="nzTitleselected2"
            [nzDescription]="nzDescriptionselected2"
          >
            <ng-template #nzAvatarselected2>
              <input
                type="radio"
                [checked]="activeBlockCopyPolicies"
                (click)="initCopyPolicies()"
              />
            </ng-template>
            <ng-template #nzTitleselected2>
              <b>Sao chép Policies </b>
            </ng-template>
            <ng-template #nzDescriptionselected2>
              <ellipsis>
                Sao chép tất cả tư cách thành viên nhóm, policies được quản lý
                đỉnh kèm từ người dùng hiện có.</ellipsis
              >
            </ng-template>
          </nz-card-meta>
        </nz-card>
      </nz-col>
      <nz-col nzXs="24" nzMd="8">
        <nz-card
          [ngStyle]="{
            'background-color': activeBlockAttachPolicies
              ? '#e6f7ff'
              : '#fcfcfc',
            height: '130px'
          }"
        >
          <nz-card-meta
            [nzAvatar]="nzAvatarselected3"
            [nzTitle]="nzTitleselected3"
            [nzDescription]="nzDescriptionselected3"
          >
            <ng-template #nzAvatarselected3>
              <input
                type="radio"
                [checked]="activeBlockAttachPolicies"
                (click)="initAttachPolicies()"
              />
            </ng-template>
            <ng-template #nzTitleselected3>
              <b>Đính kèm Policies trực tiếp</b>
            </ng-template>
            <ng-template #nzDescriptionselected3>
              <ellipsis>
                Đính kèm policies được quản lý trực tiếp cho người
                dùng.</ellipsis
              >
            </ng-template>
          </nz-card-meta>
        </nz-card>
      </nz-col>
    </nz-radio-group>
  </nz-row>
</nz-card>

<nz-card
  *ngIf="activeBlockAddUsertoGroup"
  [nzBordered]="false"
  nzTitle="Thông tin Groups"
>
  <form nz-form>
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }">
      <div
        nz-col
        [nzLg]="10"
        [nzMd]="10"
        [nzSm]="24"
        [nzXl]="10"
        [nzXs]="24"
        [nzXXl]="10"
      >
        <nz-form-item>
          <nz-row style="width: 100%">
            <nz-col style="width: 60%">
              <nz-form-control>
                <input
                  name="name"
                  nz-input
                  placeholder="Tìm kiếm tên, thời gian tạo ..."
                  [ngModel]="searchParam"
                  (ngModelChange)="changeSearch($event)"
                />
              </nz-form-control>
            </nz-col>
            <nz-form-control>
              <button nz-button [nzType]="'primary'" (click)="getData()">
                <i nz-icon nzType="search"></i>
                Search
              </button>
            </nz-form-control>
          </nz-row>
        </nz-form-item>
      </div>
      <div
        class="text-right p-0 m-b-0"
        nz-col
        [nzLg]="14"
        [nzMd]="14"
        [nzSm]="24"
        [nzXl]="14"
        [nzXs]="24"
        [nzXXl]="14"
      >
        <button
          class="m-r-8"
          nz-button
          nzType="default"
          style="background-color: white"
          (click)="navigateToCreate()"
        >
          <img style="margin-bottom: 4px" src="assets/imgs/undo.png" alt="" />
        </button>
        <button
          class="m-r-8"
          class="bg-success border-success"
          nz-button
          nzType="primary"
          (click)="navigateToCreate()"
        >
          <i nz-icon nzType="plus"></i>
          Tạo mới
        </button>
      </div>
    </div>
  </form>
  <ng-container>
    <ng-container>
      <nz-table
        #rowSelectionTable
        nzShowSizeChanger
        [nzFrontPagination]="false"
        [nzData]="listOfGroups"
        [nzLoading]="loading"
        [nzTotal]="total"
        [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="getData()"
        (nzPageSizeChange)="getData()"
      >
        <thead>
          <tr>
            <th style="width: 20px"></th>
            <th>Tên Group</th>
            <th>Số lượng User</th>
            <th>Attached policies</th>
            <th>Thời gian tạo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listOfGroups">
            <td>
              <label
                nz-checkbox
                [ngModel]="isUseIPv6"
                [ngModelOptions]="{ standalone: true }"
              ></label>
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.numberUsers }}</td>
            <td>{{ item.attachedPolicies }}</td>
            <td>{{ item.createdTime }}</td>
          </tr>
        </tbody>
      </nz-table>
    </ng-container>
  </ng-container>
</nz-card>

<nz-card
  *ngIf="activeBlockCopyPolicies"
  [nzBordered]="false"
  nzTitle="Thông tin Users"
>
  <form nz-form>
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }">
      <div
        nz-col
        [nzLg]="10"
        [nzMd]="10"
        [nzSm]="24"
        [nzXl]="10"
        [nzXs]="24"
        [nzXXl]="10"
      >
        <nz-form-item>
          <nz-row style="width: 100%">
            <nz-col style="width: 60%">
              <nz-form-control>
                <input
                  name="name"
                  nz-input
                  placeholder="Tìm kiếm tên, thời gian tạo ..."
                  [ngModel]="searchParam"
                  (ngModelChange)="changeSearch($event)"
                />
              </nz-form-control>
            </nz-col>
            <nz-form-control>
              <button
                nz-button
                [nzType]="'primary'"
                (click)="getCopyUserPlicies()"
              >
                <i nz-icon nzType="search"></i>
                Search
              </button>
            </nz-form-control>
          </nz-row>
        </nz-form-item>
      </div>
      <div
        class="text-right p-0 m-b-0"
        nz-col
        [nzLg]="14"
        [nzMd]="14"
        [nzSm]="24"
        [nzXl]="14"
        [nzXs]="24"
        [nzXXl]="14"
      >
        <button
          class="m-r-8"
          nz-button
          nzType="default"
          style="background-color: white"
          (click)="navigateToCreate()"
        >
          <img style="margin-bottom: 4px" src="assets/imgs/undo.png" alt="" />
        </button>
      </div>
    </div>
  </form>
  <ng-container>
    <ng-container>
      <nz-table
        #rowSelectionTable
        nzShowSizeChanger
        [nzFrontPagination]="false"
        [nzData]="listOfUsers"
        [nzLoading]="loading"
        [nzTotal]="total"
        [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="getCopyUserPlicies()"
        (nzPageSizeChange)="getCopyUserPlicies()"
      >
        <thead>
          <tr>
            <th style="width: 20px"></th>
            <th>Tên User</th>
            <th>Groups</th>
            <th>Attached policies</th>
            <th>Thời gian tạo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listOfUsers">
            <td>
              <label
                nz-checkbox
                [ngModel]="isUseIPv6"
                [ngModelOptions]="{ standalone: true }"
              ></label>
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.groups }}</td>
            <td>{{ item.attachedPolicies }}</td>
            <td>{{ item.createdTime }}</td>
          </tr>
        </tbody>
      </nz-table>
    </ng-container>
  </ng-container>
</nz-card>

<nz-card
  *ngIf="activeBlockAttachPolicies"
  [nzBordered]="false"
  nzTitle="Thông tin Permissions policies"
>
  <form nz-form>
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }">
      <div
        nz-col
        [nzLg]="6"
        [nzMd]="6"
        [nzSm]="24"
        [nzXl]="6"
        [nzXs]="24"
        [nzXXl]="6"
      >
        <nz-form-item>
          <nz-form-label [nzFor]="">Loại Policy:</nz-form-label>
          <nz-form-control>
            <nz-select
              [ngModel]="typePolicy"
              [nzPlaceHolder]="'Tất cả các loại'"
              [nzShowSearch]="false"
              (ngModelChange)="changeFilterStatus($event)"
            >
              <nz-option
                *ngFor="let i of filterStatus"
                [nzLabel]="i.text"
                [nzValue]="i.value"
              />
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div
        nz-col
        [nzLg]="10"
        [nzMd]="10"
        [nzSm]="24"
        [nzXl]="10"
        [nzXs]="24"
        [nzXXl]="10"
      >
        <nz-form-item>
          <nz-row style="width: 100%">
            <nz-col style="width: 60%">
              <nz-form-control>
                <input
                  name="name"
                  nz-input
                  placeholder="Tìm kiếm tên, thời gian tạo ..."
                  [ngModel]="searchParam"
                  (ngModelChange)="changeSearch($event)"
                />
              </nz-form-control>
            </nz-col>
            <nz-form-control>
              <button
                nz-button
                [nzType]="'primary'"
                (click)="getPermissionPolicies()"
              >
                <i nz-icon nzType="search"></i>
                Search
              </button>
            </nz-form-control>
          </nz-row>
        </nz-form-item>
      </div>
      <div
        class="text-right p-0 m-b-0"
        nz-col
        [nzLg]="8"
        [nzMd]="8"
        [nzSm]="24"
        [nzXl]="8"
        [nzXs]="24"
        [nzXXl]="8"
      >
        <button
          class="m-r-8"
          nz-button
          nzType="default"
          style="background-color: white"
          (click)="navigateToCreate()"
        >
          <img style="margin-bottom: 4px" src="assets/imgs/undo.png" alt="" />
        </button>
        <button
          class="m-r-8"
          class="bg-success border-success"
          nz-button
          nzType="primary"
          (click)="navigateToCreate()"
        >
          <i nz-icon nzType="plus"></i>
          Tạo mới
        </button>
      </div>
    </div>
  </form>
  <ng-container>
    <ng-container>
      <nz-table
        #rowSelectionTable
        nzShowSizeChanger
        [nzFrontPagination]="false"
        [nzData]="listOfpolicies"
        [nzLoading]="loading"
        [nzTotal]="total"
        [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="getPermissionPolicies()"
        (nzPageSizeChange)="getPermissionPolicies()"
      >
        <thead>
          <tr>
            <th style="width: 20px"></th>
            <th>Tên Policy</th>
            <th>Type</th>
            <th>Attached entities</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listOfpolicies">
            <td>
              <label
                nz-checkbox
                [ngModel]="isUseIPv6"
                [ngModelOptions]="{ standalone: true }"
              ></label>
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.attachedEntities }}</td>
          </tr>
        </tbody>
      </nz-table>
    </ng-container>
  </ng-container>
</nz-card>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 24 }">
  <div
    class="text-right p-0 m-b-0"
    nz-col
    [nzLg]="24"
    [nzMd]="24"
    [nzSm]="24"
    [nzXl]="24"
    [nzXs]="24"
    [nzXXl]="24"
  >
    <button
      class="m-r-8"
      nz-button
      nzType="default"
      style="background-color: #9c9c9c; color: white"
      (click)="navigateToDetail()"
    >
      Quay lại
    </button>
    <button
      class="m-r-8"
      nz-button
      nzType="primary"
      (click)="navigateToCreate()"
    >
      Thêm policies
    </button>
  </div>
</div>
