.inner-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
}

.search {
    border-radius: 8px;
    width: 300px;
    height: 40px;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-create {
    height: 40px;
    background-color: #0066B0;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
}

::ng-deep .ant-btn-primary {
    border-color: #0066B0;
}

.tbl-acl {
    margin-top: 20px;
}

nz-table.tbl-acl th {
    background-color: #E2EEFC;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

[nz-icon] {
    font-size: 20px;
}

.search-icon {
    color: #989BB3;
}

::ng-deep .ant-pagination-item-active {
    font-weight: 500;
    background: #0066B0;
    border-color: #0066B0;
}

::ng-deep .ant-pagination-item-active a {
    color: #ffffff;
}

::ng-deep .ant-pagination-item {
    border-radius: 8px;
}

.footer-btn {
    float: right;
}

.cancel-btn {
    margin-right: 10px;
    height: 40px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    color: #0066B3;
    border-color: #0066B3;
}

.exclamation-icon {
    padding-left: 10px;
}

.topic-radio {
    width: 100%;
    margin-bottom: 8px;
    text-align: center;
}

.exact-lbl {
    width: 50%;
}

.prefixed-lbl {
    width: 50%;
    margin-right: 0px;
    border-color: #8A8886;
}

::ng-deep .ant-select-selector {
    border-radius: 4px !important;
}

::ng-deep .ant-input {
    border-radius: 4px !important;
}

.text-center {
    text-align: center;
}

.img-edit {
    width: 24px;
    height: 24px;
}

