<img nz-popover src="assets/imgs/edit-2.svg" alt=""
     nzPopoverPlacement="bottom"
     (click)="showModal()"
     style="cursor: pointer; margin-left: 5px; margin-top: 2px;"
     [nzPopoverContent]="'app.text.edit' | i18n" />
<nz-modal [(nzVisible)]="isVisible"
          (nzOnCancel)="handleCancel()" nzMark="false">
  <div *nzModalTitle>
    <span class="text-modal-title">{{ 'app.backup.volume.title.modal.update' | i18n }}</span>
  </div>
  <div *nzModalContent style="padding-top: 0; padding-bottom: 0">
    <form nz-form [formGroup]="validateForm" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzFor="nameBackup">
          <div style="margin-top: 15px;">
            <span>{{ 'app.backup.volume.name' | i18n }} (<span style="color: rgba(252, 16, 16, 1); ">*</span>)</span>
            <img nz-popover
                 [nzPopoverContent]="'app.backup.vm.tooltip.name' | i18n"
                 nzPopoverPlacement="bottom" style="margin-left: 5px;"
                 src="assets/imgs/pajamas_question.svg" alt="" />
          </div>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips [nzErrorTip]="nameErrorTpl">
          <input #backupVolumeInputName nz-input
                 class="input-custom"
                 formControlName="nameBackup"
                 (keydown.enter)="focusOkButton($event)"
                 [placeholder]="'app.input.name' | i18n" [maxLength]="50"/>
          <ng-template #nameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">{{ 'validation.info.required' | i18n }}</ng-container>
            <ng-container *ngIf="control.hasError('pattern')">{{ 'validation.file.system.name.pattern' | i18n }}</ng-container>
            <ng-container *ngIf="control.hasError('maxLength')">{{ 'volume.notification.input.name.maxLength' | i18n }}</ng-container>
            <ng-container *ngIf="control.hasError('duplicateName')">{{ 'validation.exist.name' | i18n: {name: 'File System'} }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="description">
          <div class="label">
            <span>{{ 'app.service.description' | i18n }}</span>
          </div>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips [nzErrorTip]="descriptionErrorTpl">
                    <textarea nz-input
                              formControlName="description"
                              [placeholder]="'app.input.des' | i18n"
                              [maxLength]="255"
                              [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
          <ng-template #descriptionErrorTpl let-control>
            <ng-container *ngIf="control.hasError('maxlength')">{{ 'app.description.maxLength.255' | i18n }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div *nzModalFooter style="padding-left: 8px; padding-right: 8px;">
    <button nz-button nzType="default" (click)="handleCancel()" class="button-cancel">
      <span nz-icon nzType="close" nzTheme="outline"></span>{{ 'app.button.cancel' | i18n }}
    </button>
    <button nz-button nzType="primary" [disabled]="!validateForm.valid" (click)="handleOk()"
            [nzLoading]="isLoading"
            class="button-ok">
      <span nz-icon nzType="check" nzTheme="outline"></span>{{ 'app.button.confirm' | i18n }}
    </button>
  </div>
</nz-modal>
