<nz-card style="border-radius: 8px" [nzBordered]="false">
  <div style="margin-bottom: 20px">
    <span class="text-card-header">Block Storage</span>
  </div>
  <div *ngIf="isDetail" style="width: 100%; margin-bottom: 10px">
    <nz-alert
      nzType="warning"
      [nzDescription]="nzDescriptionWarning06"
      nzShowIcon
    ></nz-alert>
    <ng-template #nzDescriptionWarning06>
      <div>
        Quý khách hàng lưu ý, trường hợp khi kiểm tra bên trong máy ảo hiển thị
        loại ổ cứng là Hard Disk Drive (HDD) tuy nhiên trong thực tế máy ảo đã
        được lưu trữ tại phân vùng SSD để đảm bảo tối đa hiệu năng và tốc độ
        truy xuất.
      </div>
    </ng-template>
  </div>
  <div class="ant-table">
    <nz-table
      [nzData]="listOfDataBlockStorage"
      [nzLoading]="loading"
      [nzShowPagination]="false"
    >
      <thead>
        <tr>
          <th>Loại ổ cứng</th>
          <th>Tên Volume</th>
          <th>Dung lượng (GB)</th>
          <th>Trạng thái Volume</th>
          <th>Kiểu Volume</th>
        </tr>
      </thead>
      <tbody class="ant-table-tbody">
        <tr *ngFor="let data of listOfDataBlockStorage">
          <td>
            <label *ngIf="data.volumeType == 'ssd'"> SSD </label>
            <label *ngIf="data.volumeType == 'hdd'"> HDD </label>
          </td>
          <td nzLeft>
            <a
              nz-tooltip
              nzTooltipTitle="Xem chi tiết"
              nzTooltipPlacement="bottom"
              [routerLink]="'/app-smart-cloud/volume/detail/' + data.id"
              >{{ data.name }}</a
            >
          </td>
          <td>
            {{ data.sizeInGB }}
          </td>
          <td *ngIf="data.status == 'KHOITAO'" style="color: #52c41a">
            KHỞI TẠO
          </td>
          <td>
            <div *ngIf="data.bootable">
              <i nz-icon nzType="hdd"></i>
              VOLUME ROOT
            </div>
            <div *ngIf="!data.bootable">
              <img
                style="width: 8%; height: 8%"
                src="assets/imgs/attach_volume.png"
                alt=""
              />
              VOLUME GẮN THÊM
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>
