<nz-card
  [nzBordered]="false"
  nzTitle="
Block Storage"
>
  <div *ngIf="isDetail" style="width: 100%; margin-bottom: 10px;">
    <nz-alert
      nzType="warning"
      [nzMessage]="nzDescriptionWarning06"
      nzShowIcon
    ></nz-alert>
    <ng-template #nzDescriptionWarning06>
      <div>
        Quý khách hàng lưu ý, trường hợp khi kiểm tra bên trong máy ảo hiển thị
        loại ổ cứng là Hard Disk Drive (HDD) tuy nhiên trong thực tế máy ảo đã
        được lưu trữ tại phân vùng SSD để đảm bảo tối đa hiệu năng và tốc độ
        truy xuất.
      </div>
    </ng-template>
  </div>
  <div class="ant-table">
    <nz-table
      [nzData]="listOfDataBlockStorage"
      [nzLoading]="loading"
      [nzShowPagination]="false"
    >
      <thead>
        <tr>
          <th>Loại ổ cứng</th>
          <th>Tên Volume</th>
          <th>Dung lượng (GB)</th>
          <th>Trạng thái Volume</th>
          <th>Kiểu Volume</th>
          <th>Giá theo tháng (VNĐ)</th>
        </tr>
      </thead>
      <tbody class="ant-table-tbody">
        <tr *ngFor="let data of listOfDataBlockStorage">
          <td>
            <label *ngIf="data.volumeType == 'ssd'"> SSD </label>
            <label *ngIf="data.volumeType == 'hdd'"> HDD </label>
          </td>
          <td>
            <label class="text-blue">
              {{ data.name }}
            </label>
          </td>
          <td>
            <label>
              {{ data.sizeInGB }}
            </label>
          </td>
          <td>
            <label *ngIf="data.status == 'KHOITAO'" style="color: #52c41a">
              KHỞI TẠO
            </label>
          </td>
          <td>
            <label *ngIf="data.bootable">
              <i nz-icon nzType="hdd"></i>
              VOLUME ROOT
            </label>
            <label *ngIf="!data.bootable">
              <img
                style="width: 8%; height: 8%"
                src="assets/imgs/attach_volume.png"
                alt=""
              />
              VOLUME GẮN THÊM
            </label>
          </td>
          <td>
            <label>
              {{ data.price }}
            </label>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>
