<page-header [breadcrumb]="breadcrumb"
             [action]="action"
             [title]="'app.backup.package.breadcrumb.extend'|i18n">
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="iconTemplate">
      <nz-breadcrumb-item><a [routerLink]="'/'">{{ 'app.breadcrumb.home' | i18n }}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.breadcrumb.infrastructure.service' | i18n }}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="'/app-smart-cloud/backup/packages'">{{ 'app.backup.package.breadcrumb.management'|i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="'/app-smart-cloud/backup/packages/detail/' + idBackupPackage">{{ 'app.backup.package.breadcrumb.detail'|i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/backup/packages">{{ 'app.backup.package.breadcrumb.extend'|i18n }}</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #iconTemplate>
      <one-portal-svg-icon [icon]="'icon_breadcrumb'"></one-portal-svg-icon>
    </ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               (userChanged)="userChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <form nz-form [formGroup]="validateForm" nzLayout="vertical">
    <nz-row nzGutter="24">
      <nz-col nzSpan="16">
        <nz-card style="border-radius: 8px;">
          <span class="text-card-header">{{'app.backup.package.information'|i18n}}</span>
          <nz-form-item>
            <nz-form-label style="margin-top: 25px;">
                <span>{{'app.backup.package.name'|i18n}}</span>
            </nz-form-label>
            <nz-form-control>
              <input nz-input [value]="packageBackupModel.packageName" [disabled]="true" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>
                <span>{{'app.backup.package.storage'|i18n}}</span>
            </nz-form-label>
            <nz-form-control>
              <input nz-input [value]="packageBackupModel.sizeInGB" [disabled]="true" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>
                <span>{{'app.backup.package.description'|i18n}}</span>
            </nz-form-label>
            <nz-form-control>
          <textarea nz-input *ngIf="packageBackupModel.description != undefined"
                    [value]="packageBackupModel.description" [disabled]="true">
          </textarea>
              <textarea nz-input *ngIf="packageBackupModel.description == undefined" [disabled]="true">
          </textarea>
            </nz-form-control>
          </nz-form-item>
        </nz-card>
        <nz-card style="bottom: 8px;">
          <span class="text-card-header">{{'app.extension.info'|i18n}}</span>
          <nz-row nzGutter="24" style="margin-top: 25px;">
            <nz-col nzSpan="12">
              <span class="text-label"
                    *ngIf="orderItem?.orderItemPrices?.length > 0">{{'app.backup.package.create.date'|i18n}}: {{ orderItem?.orderItemPrices[0]?.createdDate | date: 'dd/MM/yyyy' }}</span>
            </nz-col>
            <nz-col nzSpan="12">
              <span class="text-label"
                    *ngIf="orderItem?.orderItemPrices?.length > 0">{{'app.backup.package.expire.date'|i18n}}:  {{ orderItem?.orderItemPrices[0]?.expiredDate | date: 'dd/MM/yyyy' }}</span>
            </nz-col>
          </nz-row>
          <nz-form-item>
            <nz-form-label nzFor="time">
              <div class="label" style="margin-top: 15px;">
                <span>{{'app.months.for.extend'|i18n}}</span>
                <img nz-popover [nzPopoverContent]="'app.placeholder.backup.package.time'|i18n"
                     nzPopoverPlacement="bottom" style="margin-left: 5px;"
                     src="assets/imgs/pajamas_question.svg" alt="" />
              </div>
            </nz-form-label>
            <nz-form-control>
              <nz-input-number formControlName="time"
                               nzSize="large"
                               style="width: 100%; margin-left: 0;"
                               [nzMin]="1"
                               [nzMax]="100"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>
              <div style="color: rgba(252, 16, 16, 1);">
                <span>{{'app.expected.expiry.date'|i18n}}: {{ estimateExpiredDate | date: 'dd/MM/yyyy' }}</span>
              </div>
            </nz-form-label>
          </nz-form-item>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-card style="border-radius: 8px;">
          <span class="text-card-header">{{'app.estimated.cost'|i18n}}</span>
          <nz-table>
            <tr class="text-label">
              <td>{{'app.cost.a.month'|i18n}}</td>
              <td nzAlign="right">
                <b
                  *ngIf="orderItem?.orderItemPrices?.length > 0">{{ orderItem?.orderItemPrices[0].unitPrice.amount }} {{ orderItem?.orderItemPrices[0].unitPrice.currency }}</b>
                <b *ngIf="orderItem?.orderItemPrices?.length <= 0">0 VND</b>
              </td>
            </tr>
            <tr>
              <td></td>
              <td nzAlign="right">VND/{{'app.month'|i18n}}</td>
            </tr>
            <tr class="text-label">
              <td>{{'app.service.price-title'|i18n}}</td>
              <td nzAlign="right" style="color: #EA3829;">
                <b
                  *ngIf="orderItem != undefined">{{ orderItem?.totalPayment?.amount }} {{ orderItem?.totalPayment?.currency }}</b>
                <b *ngIf="orderItem == undefined">0 VND</b>
              </td>
            </tr>
            <tr class="text-label">
              <td><i>({{'app.include.vat'|i18n:{vat: 10} }})</i></td>
              <td nzAlign="right">VND/{{'app.month'|i18n}}</td>
            </tr>
          </nz-table>
          <button class="btn-extend" [disabled]="!validateForm.valid" (click)="submitForm()">
            <div style="color: white;line-height: 24px; word-wrap: break-word">
              <span nz-icon nzType="wallet" nzTheme="outline"></span>
              {{'app.extend'|i18n}}
            </div>
          </button>
        </nz-card>
      </nz-col>
    </nz-row>
  </form>
</nz-content>
