<nz-header>
  <nz-col nzSpan="24" style="display: flex; flex-direction: column;">
    <nz-row nzJustify="space-between" nzAlign="middle">
      <nz-breadcrumb nz-page-header-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>
          Dịch vụ
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a routerLink="/app-smart-cloud/backup-vm">Backup VM</a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-space>
        <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
        <project-select-dropdown (valueChanged)="projectChanged($event)"
                                 [regionId]="region"></project-select-dropdown>
      </nz-space>

    </nz-row>
    <h4>Danh sách Backup VM</h4>
    <nz-row nzAlign="middle" style="margin-top:5px">
      <nz-space [nzSize]="24">
        <div *nzSpaceItem>
          <nz-select [(ngModel)]="selectedValue"
                     (ngModelChange)="onChange($event)"
                     nzPlaceHolder="Tất cả trạng thái">
            <nz-option *ngFor="let item of status" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
          </nz-select>
        </div>
        <div *nzSpaceItem>
          <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
            <input [(ngModel)]="value" (input)="onInputChange($event.target['value'])" type="text" nz-input
                   placeholder="Tìm kếm tên, dung lượng, volume ..."/>
          </nz-input-group>
          <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSearch (click)="getListBackupVM()">
              <span nz-icon nzType="search" nzTheme="outline"></span>
              Search
            </button>
          </ng-template>
        </div>
      </nz-space>
    </nz-row>
  </nz-col>
</nz-header>

<nz-content>
  <nz-card>
    <nz-table #tableBackupVM
              [nzData]="collection.records"
              nzShowSizeChanger
              [nzFrontPagination]="false"
              [nzTotal]="collection.totalCount"
              [nzPageSize]="collection.pageSize"
              [nzPageIndex]="collection.currentPage"
              [nzLoading]="isLoading"
              (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
      <tr>
        <th nzAlign="center" class="text-th">Tên</th>
        <th nzAlign="center" class="text-th">VM gốc</th>
        <th nzAlign="center" class="text-th">Dung luợng</th>
        <th nzAlign="center" class="text-th">Thời gian tạo</th>
        <th nzAlign="center" class="text-th">Trạng thái</th>
        <th nzAlign="center" class="text-th">Trạng thái tác vụ</th>
        <th nzAlign="center" class="text-th" style="width: 216px;">Thao tác</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of tableBackupVM.data">
        <td nzAlign="center"><a (click)="navigateToDetail(data.id)">{{ data.name }}</a></td>
        <td nzAlign="center"> {{ data.instanceName }}</td>
        <td nzAlign="center">{{ data.size }}</td>
        <td nzAlign="center">{{ data.creationDate | date: "HH:mm:ss - dd/MM/yyyy" }}</td>
        <td nzAlign="center">
          <div class="status" [ngSwitch]="data.status">
            <span class="available" *ngSwitchCase="'AVAILABLE'">
              Hoạt động
            </span>
            <span class="suspended" *ngSwitchCase="'SUSPENDED'">
              Tạm dừng
            </span>
            <span class="available" *ngSwitchCase="'CREATING'">
              Đang khởi tạo
            </span>
            <span class="suspended" *ngSwitchCase="'DELETING'">
              Đang xoóa
            </span>
          </div>
        </td>
        <td nzAlign="center">
          <span *ngIf="data.serviceStatus === 'KHOITAO'">
            -
          </span>
          <span *ngIf="data.serviceStatus !== 'KHOITAO'">{{ data.serviceStatus }}</span>
        </td>
        <td nzAlign="center">
          <div [ngSwitch]="data.status">
            <div *ngSwitchCase="'AVAILABLE'">
              <button
                nz-button
                [nzType]="'primary'"
                nz-dropdown
                style="width: 100px"
                [nzDropdownMenu]="opMenu">
                <span>Restore</span> <i nz-icon nzType="down"></i>
              </button>
              <nz-dropdown-menu #opMenu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item (click)="navigateToRestore(data.id)" >Restore</li>
                  <li nz-menu-item (click)="showModalDelete()">Xóa</li>
                  <one-portal-delete-backup-vm [isVisible]="isVisibleDelete"
                                               [isLoading]="isLoading"
                                               (onCancel)="handleCancelDelete()"
                                               (onOk)="handleOkDelete(data.id)"/>
                </ul>
              </nz-dropdown-menu>

            </div>
            <div *ngSwitchCase="'SUSPENDED'">
              <button
                nz-button
                nzType="primary"
                nzDanger
                style="width: 100px" (click)="showModalDelete()">Xóa
              </button>
              <one-portal-delete-backup-vm [isVisible]="isVisibleDelete"
                                           [isLoading]="isLoading"
                                           (onCancel)="handleCancelDelete()"
                                           (onOk)="handleOkDelete(data.id)"/>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>

  </nz-card>
</nz-content>
