<page-header
  [content]="content"
  [breadcrumb]="breadcrumb"
  [action]="action"
  [title]="'Lịch sử thao tác'"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Home</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Action History</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown
        (valueChanged)="onRegionChange($event)"
      ></region-select-dropdown>
      <project-select-dropdown
        [regionId]="regionId"
        (valueChanged)="projectChange($event)"
      ></project-select-dropdown>
    </div>
  </ng-template>

  <ng-template #content>
    <div nz-row class="mb-md">
      <div nz-col nzSpan="18">
        <div class="row">
          <div class="col-md-4" style="display: flex">
            <h4
              style="margin-left: 0px; align-items: center; margin-right: 10px"
            >
              Thao tác:
            </h4>
            <nz-input-group nzCompact>
              <nz-select [(ngModel)]="selectedAction" nzSize="large">
                <nz-option
                  *ngFor="let p of actionData"
                  [nzValue]="p"
                  [nzLabel]="p"
                ></nz-option>
              </nz-select>
            </nz-input-group>
          </div>
          <div class="col-md-4" style="display: flex">
            <h4
              style="margin-left: 30px; align-items: center; margin-right: 10px"
            >
              Loại dịch vụ:
            </h4>
            <nz-input-group nzCompact>
              <nz-select [(ngModel)]="selectedAction" nzSize="large">
                <nz-option
                  *ngFor="let p of actionData"
                  [nzValue]="p"
                  [nzLabel]="p"
                ></nz-option>
              </nz-select>
            </nz-input-group>
          </div>
          <div class="col-md-4" style="display: flex">
            <se-container style="margin-left: 30px">
              <nz-range-picker [nzFormat]="dateFormat" [(ngModel)]="dateRange" (ngModelChange)="onChangeDateRange()" />
            </se-container>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</page-header>
<nz-card>
  <!-- Bảng-->
  <nz-table
    #rowSelectionTable
    [nzFrontPagination]="false"
    nzShowPagination
    nzShowSizeChanger
    [nzData]="listOfActionHistory"
    [nzTotal]="total"
    [(nzPageSize)]="pageSize"
    [(nzPageIndex)]="pageNumber"
    (nzPageSizeChange)="getData()"
    (nzPageIndexChange)="getData()"
    [nzScroll]="{ x: '100%', y: '55vh' }"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>Thao tác</th>
        <th>Loại dịch vụ</th>
        <th>Tên dịch vụ</th>
        <th>Thời gian</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listOfActionHistory">
        <td>{{ item.eventID }}</td>
        <td>{{ item.eventName }}</td>
        <td>{{ item.resourceType }}</td>
        <td>{{ item.summary }}</td>
        <td>{{ item.createdTime | date : 'dd/MM/yyyy HH:mm:ss' }}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
