<page-header
  [breadcrumb]="breadcrumb"
  [title]="'app.breadcrumb.action-history' | i18n"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{"app.breadcrumb.home" | i18n}}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>{{"app.breadcrumb.action-history" | i18n}}</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>

<nz-card style="border-radius: 4px">
  <nz-row style="margin-bottom: 20px">
    <nz-col style="width: 100%">
      <nz-range-picker
        style="border-radius: 8px"
        nzSize="large"
        [nzFormat]="dateFormat"
        [(ngModel)]="dateRange"
        (ngModelChange)="onChangeDateRange()"
      />

      <nz-input-group
        style="margin-left: 10px; width: 30%; border-radius: 8px"
        [nzPrefix]="prefixIconSearch"
        nzSize="large"
      >
        <input
          name="name"
          nz-input
          [placeholder]="'app.action-history.search' | i18n"
          [(ngModel)]="searchParam"
          (keyup.enter)="getData()"
        />
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <img
          src="assets/imgs/search.svg"
          alt=""
          style="cursor: pointer"
          [nz-tooltip]="'app.button.search' | i18n"
          (click)="doSearch()"
        />
      </ng-template>
    </nz-col>
  </nz-row>
  <nz-table
    #rowSelectionTable
    [nzFrontPagination]="false"
    nzShowPagination
    nzShowSizeChanger
    [nzData]="listOfActionHistory"
    [nzTotal]="total"
    [(nzPageSize)]="pageSize"
    [(nzPageIndex)]="pageNumber"
    (nzPageSizeChange)="getData()"
    (nzPageIndexChange)="getData()"
    [nzScroll]="{ x: '100%', y: '55vh' }"
    [nzLoading]="isLoading"
  >
    <thead>
      <tr>
        <th>{{"app.action-history.operation-account" | i18n}}</th>
        <th>{{"app.action-history.operation" | i18n}}</th>
        <th>{{"app.action-history.serviceType" | i18n}}</th>
        <th>{{"app.action-history.serviceName" | i18n}}</th>
        <th>{{"app.action-history.region" | i18n}}</th>
        <th>{{"app.action-history.information" | i18n}}</th>
        <th>{{"app.action-history.date" | i18n}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listOfActionHistory">
        <td>{{ item.actor }}</td>
        <td>{{ item.eventName }}</td>
        <td>{{ item.resourceType }}</td>
        <td>{{ item.resourceName }}</td>
        <td>{{ item.regionText }}</td>
        <td>{{ item.additionalInfo }}</td>
        <td>{{ item.createdTime | date : 'HH:mm:ss dd/MM/yyyy' }}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
