<page-header
  [breadcrumb]="breadcrumb"
  [title]="'app.object.storage.create' | i18n"
  [action]="action"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="separatorTemplate">
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item
        ><a [routerLink]="['/app-smart-cloud/object-storage']"
          >Object Storage</a
        ></nz-breadcrumb-item
      >
      <nz-breadcrumb-item>
        {{ 'app.object.storage.create' | i18n }}
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #separatorTemplate
      ><img src="assets/imgs/arrow-square-right.svg" alt="" />
    </ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown
      [isAdvance]="true"
      (valueChanged)="onRegionChange($event)"
        (regionChange)="onRegionChanged($event)"
      ></region-select-dropdown>
    </div>
  </ng-template>
</page-header>

<form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'">
  <nz-row nzGutter="24">
    <nz-col nzSpan="16">
      <nz-card style="border-radius: 8px" [nzBordered]="false">
        <div style="margin-bottom: 20px">
          <span class="text-card-header">{{
            'app.object.storage.info' | i18n
          }}</span>
        </div>
        <nz-form-item>
          <nz-form-label nzFor="name"
            >{{ 'app.capacity' | i18n }} - GB (<span class="text-red">*</span
            >)</nz-form-label
          >
          <nz-form-control>
            <nz-input-number
              style="width: 100%; margin-left: 0px"
              [nzMin]="minStorage"
              [nzStep]="stepStorage"
              [nzMax]="maxStorage"
              [(ngModel)]="objectStorageCreate.quota"
              (ngModelChange)="changeCapacity($event)"
              [ngModelOptions]="{ standalone: true }"
              nzSize="large"
            ></nz-input-number>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="name">{{ 'app.note' | i18n }}</nz-form-label>
          <nz-form-control>
            <nz-textarea-count [nzMaxCharacterCount]="250">
              <textarea
                rows="4"
                maxlength="250"
                [(ngModel)]="objectStorageCreate.note"
                [ngModelOptions]="{ standalone: true }"
                [placeholder]="'volume.tooltip.description' | i18n"
                nz-input
              ></textarea>
            </nz-textarea-count>
          </nz-form-control>
        </nz-form-item> 
      </nz-card>
      <one-portal-service-usage-period [nameService]="'file-system'" (valueChanged)="onChangeTime($event)"/>
    </nz-col>
    <nz-col nzSpan="8">
      <nz-affix>
        <nz-card style="border-radius: 8px" class="card-border">
          <div style="margin-bottom: 20px">
            <span class="text-card-header">{{
              'app.estimated.cost' | i18n
            }}</span>
          </div>
          <div style="margin-bottom: 10px">
            <span class="text-value"> {{ 'app.capacity' | i18n }} </span><br />
            <span class="text-label">{{ objectStorageCreate.quota }} GB</span>
          </div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <!-- <nz-row
          style="
            margin-bottom: 10px;
            border-top: 2px solid #f0f0f0;
            padding-top: 10px;
          "
          nzGutter="16"
        >
          <nz-col nzSpan="16">
            <span class="text-value">
              {{ 'app.monthly.price' | i18n }}
            </span>
          </nz-col>
          <nz-col class="text-right" nzSpan="8">
            <span class="text-value" style="color: #0066b3" nzAlign="right">
              {{ totalAmount / numberMonth | number }} VND
            </span>
          </nz-col>
        </nz-row> -->
          <nz-row class="right-form-content-month" nzGutter="16">
            <nz-col nzSpan="16">
              <span class="text-value">{{
                'app.cost.n.month' | i18n : { numberMonth: numberMonth }
              }}</span>
            </nz-col>
            <nz-col class="text-right" nzSpan="8">
              <span class="text-value month-money" nzAlign="right">
                <span
                  *ngIf="orderObject?.orderItemPrices?.length <= 0"
                  class="text-value"
                  style="color: #0066b3"
                  nzAlign="right"
                  >0 VNĐ</span
                >
                <span
                  *ngIf="orderObject?.orderItemPrices?.length > 0"
                  class="text-value"
                  style="color: #0066b3"
                  nzAlign="right"
                >
                  {{
                    orderObject?.orderItemPrices[0].totalAmount.amount | number
                  }}
                  {{ orderObject?.orderItemPrices[0].totalAmount.currency }}
                </span>
              </span>
            </nz-col>
          </nz-row>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <nz-row style="margin-bottom: 10px" nzGutter="16">
            <nz-col nzSpan="16">
              <span class="text-value">{{ 'app.cost.vat' | i18n }}</span>
            </nz-col>
            <nz-col class="text-right" nzSpan="8">
              <span
                class="text-value"
                style="color: #0066b3"
                nzAlign="right"
                *ngIf="orderObject == null"
                >0 VND</span
              >
              <span
                class="text-value"
                style="color: #0066b3"
                nzAlign="right"
                *ngIf="orderObject != undefined"
              >
                {{ orderObject?.totalVAT?.amount | number }}
                {{ orderObject?.totalVAT?.currency }}
              </span>
            </nz-col>
          </nz-row>
          <nz-row
            style="
              margin-bottom: 20px;
              background-color: #cce9ff;
              padding: 16px 0 16px 0;
              border-radius: 8px;
            "
            nzGutter="16"
          >
            <nz-col nzSpan="16">
              <span class="text-label">{{ 'app.total.payment' | i18n }}</span
              ><br />
              <span class="text-note-italicized"
                >({{ 'app.include.vat' | i18n : { vat: '10' } }})</span
              >
            </nz-col>
            <nz-col class="text-right" nzSpan="8">
              <span class="text-value" style="color: #ea3829" nzAlign="right">
                {{ totalincludesVAT | number }}
                VND
              </span>
            </nz-col>
          </nz-row>
          <nz-row>
            <nz-col style="width: 100%" class="text-right">
              <button
                style="width: 100%"
                nz-button
                nzSize="large"
                nzType="primary"
                (click)="create()"
              >
                <span nz-icon nzType="wallet" nzTheme="outline"></span>
                {{ 'app.button.create' | i18n }}
              </button>
            </nz-col>
          </nz-row>
        </nz-card>
      </nz-affix>
    </nz-col>
  </nz-row>
</form>
<one-portal-popup-list-error
    [isVisible]="isVisiblePopupError"
    [errorList]="errorList"
    (onCancel)="closePopupError()" />