<ng-container *ngIf="itemDetail">
    <page-header [breadcrumb]="breadcrumb" [title]="('app.kafka.edit-title' | i18n) + ': ' + this.itemDetail.serviceName">
        <ng-template #breadcrumb>
            <nz-breadcrumb>
                <nz-breadcrumb-item>
                    <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    <a [routerLink]="['/app-kafka']">Kafka</a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    {{ 'app.text.edit' | i18n }}
                </nz-breadcrumb-item>
            </nz-breadcrumb>
        </ng-template>
    </page-header>
    
    <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="24" class="form-new">
            <form nz-form [formGroup]="myform" nzLayout="horizontal" nzLabelAlign="left">
    
                <nz-card class="border-card">
                    <h3>{{ 'app.service.general-info' | i18n }}</h3>
                    <div nz-row [nzGutter]="24">
                        <div nz-col [nzSpan]="12">
                            <nz-form-item class="mt-4">
                                <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired>{{ 'app.kafka.name' | i18n }}</nz-form-label>
                                <nz-form-control [nzErrorTip]="kafkaErrorTpl">
                                    <nz-input-group class="w-100" nzSize="large">
                                        <input nz-input type="text" [placeholder]="'app.kafka.name-placeholder' | i18n"
                                            formControlName="serviceName" id="serviceName" autofocus />
                                    </nz-input-group>
                                </nz-form-control>
                                <ng-template #kafkaErrorTpl let-control>
                                    <ng-container *ngIf="control.hasError('required')">
                                      <div>{{ 'validation.service.name-required' | i18n }}</div>
                                    </ng-container>
                                    <ng-container *ngIf="control.hasError('minlength') || control.hasError('maxlength')">
                                      <div>{{ 'validation.service.name-length' | i18n }}</div>
                                    </ng-container>
                                    <ng-container *ngIf="control.hasError('pattern')">
                                      <div>{{ 'validation.service.name-pattern' | i18n }}</div>
                                    </ng-container>
                                </ng-template>
                            </nz-form-item>
                        </div>
    
                        <div nz-col [nzSpan]="12">
                            <nz-form-item class="mt-4">
                                <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired>{{ 'app.kafka.version' | i18n}}</nz-form-label>
                                <nz-form-control [nzErrorTip]="'validation.service.version-required' | i18n">
                                    <nz-select formControlName="version" *ngFor="let data of listOfKafkaVersion"
                                        [nzPlaceHolder]="'app.kafka.version-placeholder' | i18n" nzSize="large">
                                        <nz-option [nzValue]="data.helmVersion"
                                            [nzLabel]="data.apacheKafkaVersion"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
    
                    <nz-form-item>
                        <nz-form-label [nzSm]="24" [nzXs]="24">{{ 'app.service.description' | i18n }}</nz-form-label>
                        <nz-form-control nzErrorTip="">
                            <nz-textarea-count [nzMaxCharacterCount]="500">
                                <textarea formControlName="description" nz-input [placeholder]="'app.service.description' | i18n"
                                    [nzAutosize]="{ minRows: 5, maxRows: 12 }" nzSize="large"></textarea>
                            </nz-textarea-count>
                        </nz-form-control>
                    </nz-form-item>
                    
                    <nz-form-item>
                        <nz-form-control [nzSpan]="24">
                            <div class="footer-btn">
                                <button nz-button (click)="backToList()" style="margin-right: 16px;">
                                    <img
                                        style="margin-top: -4px"
                                        src="assets/imgs/arrow-left-3.svg"
                                        alt=""
                                    />{{ 'app.text.go-back' | i18n }}
                                </button>
                                <button nz-button nzType="primary" (click)="updateKafka()">
                                    <img
                                        style="padding-right: 10px; margin-top: -4px"
                                        src="assets/imgs/confirm.svg"
                                        alt=""
                                    />{{ 'app.button.confirm' | i18n }}
                                </button>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                </nz-card>
            </form>
        </div>
    </div>
</ng-container>