<page-header [breadcrumb]="breadcrumb"
             [action]="action"
             [title]="('app.vlan.note1' |i18n)" xmlns="http://www.w3.org/1999/html">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>{{ 'app.breadcrumb.home' | i18n }}</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        VLAN
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/vlan/network/list">{{ 'app.vlan.note1' | i18n }}</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               (userChanged)="projectChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <nz-card>
    <nz-row nzJustify="space-between">
      <nz-col nzSpan="16">
        <nz-input-group [nzPrefix]="prefixIconSearch"
                        nzSize="large"
                        style="width: 300px;">
          <input name="name"
                 nz-input
                 placeholder="{{ 'volume.tooltip.title.filter.img' | i18n }}"
                 [(ngModel)]="value"
                 (input)="onInputChange($event.target['value'])"/>
        </nz-input-group>
        <ng-template #prefixIconSearch>
          <img src="assets/imgs/search.svg" alt="" style="cursor: pointer" nz-tooltip="{{ 'volume.tooltip.title.filter.img' | i18n }}"/>
        </ng-template>
      </nz-col>
      <nz-col nzSpan="8" style="flex:none;">
        <button nz-button nzType="primary" nzSize="large" (click)="navigateToCreateNetwork()">
          <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/add-circle.svg" alt=""/>
          <span class="button-text-primary">{{ 'app.vlan.note4' | i18n }}</span>
        </button>
      </nz-col>
    </nz-row>
    <nz-table #fixtable
              style="margin-top: 15px;"
              nzShowPagination
              [nzData]="response?.records"
              [nzPageSize]="response?.pageSize"
              (nzPageSizeChange)="onPageSizeChange($event)"
              [nzPageIndex]="response?.currentPage"
              (nzPageIndexChange)="onPageIndexChange($event)"
              [nzTotal]="response?.totalCount"
              [nzFrontPagination]="false"
              [nzLoading]="isLoading">
      <thead>
      <tr>
        <th>{{ 'app.vlan.note3' | i18n }}</th>
        <th>{{ 'app.vlan.note2' | i18n }}</th>
        <th>{{ 'app.payment.status' | i18n }}</th>
        <th>{{ 'app.action-history.operation' | i18n }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of fixtable.data">
        <td><a [routerLink]="'/app-smart-cloud/vlan/network/detail/' + data.id">{{data.name}}</a></td>
        <td>{{data.subnetAddressRequired}}</td>
        <td>{{data.status}}</td>
        <td>
          <div *ngIf="data.name.includes('pri_network')">
            <img nz-popover src="assets/imgs/edit-2.svg" alt=""
                 nzPopoverPlacement="bottom"
                 style="cursor: pointer; margin-right: 16px; opacity: 0.5; pointer-events: none; filter: grayscale(100%);"
                 [nzPopoverContent]="'Chỉnh sửa'" disabled="true"/>
            <img src="assets/imgs/delete.svg" style="height: 20px; cursor: pointer;opacity: 0.5; pointer-events: none; filter: grayscale(100%);"
                 nz-popover
                 [nzPopoverContent]="'Xóa'"
                 nzPopoverPlacement="bottom" disabled="true"/>
          </div>
          <div *ngIf="!data.name.includes('pri_network')">
            <one-portal-vlan-edit [region]="region"
                                  [project]="project"
                                  [id]="data.id"
                                  [nameNetwork]="data.name"
                                  (onOk)="handleOkEdit()" />
            <one-portal-delete-vlan [region]="region"
                                    [project]="project"
                                    [id]="data.id"
                                    [nameNetwork]="data.name"
                                    (onOk)="handleOkDelete()" />
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
</nz-content>
