<nz-content>
  <nz-card>
    <nz-row nzJustify="space-between">
      <nz-col nzSpan="16">
        <nz-select [(ngModel)]="selectedValue"
                   nzSize="large"
                   style="margin-right: 10px; width: 200px;"
                   (ngModelChange)="onChange($event)"
                   nzPlaceHolder="{{ 'volume.placeholder.filter.status' | i18n }}"
                   nzTooltipTitle="{{ 'volume.tooltip.title.filter.status' | i18n }}"
                   nzTooltipPlacement="bottom"
                   nz-tooltip>
          <nz-option *ngFor="let item of options" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
        </nz-select>
        <nz-input-group style="width: 300px;"
                        [nzPrefix]="prefixIconSearch"
                        nzSize="large">
          <input name="name"
                 nz-input
                 placeholder="{{ 'waf.domain.placeholder.filter.name' | i18n }}"
                 [(ngModel)]="value"
                 (input)="changeInputChange($event)"
                 (keydown.enter)="onEnter($event)" />
        </nz-input-group>
        <ng-template #prefixIconSearch>
          <img src="assets/imgs/search.svg" alt="" />
        </ng-template>
      </nz-col>
      <nz-col nzSpan="8" style="flex:none;">
        <button nz-button
                nzType="primary"
                nzSize="large"
                (click)="navigateToCreateWaf()">
          <img style="padding-right: 10px; margin-top: -4px"
               src="assets/imgs/add-circle.svg"
               alt="" />
          <span class="button-text-primary">{{ 'waf.button.create' | i18n }}</span>
        </button>
        <button nz-button 
                nzType="primary"
                nzSize="large"
                (click)="navigateToAddDomain()">
          <img style="padding-right: 10px; margin-top: -4px"
               src="assets/imgs/add-circle.svg"
               alt="" />
          <span class="button-text-primary">{{ 'waf.domain.button.create' | i18n }}</span>
        </button>
      </nz-col>
    </nz-row>
    <nz-table #fixedTable
              style="margin-top: 20px;"
              nzShowSizeChanger
              [nzData]="response?.records"
              [nzPageSize]="response?.pageSize" 
              (nzPageSizeChange)="onPageSizeChange($event)"
              [nzPageIndex]="response?.currentPage"
              (nzPageIndexChange)="onPageIndexChange($event)"
              [nzTotal]="response?.totalCount"
              [nzFrontPagination]="false"
              [nzLoading]="isLoading">
      <thead>
      <tr>
        <th nzWidth="60px"></th>
        <th nzLeft>{{ 'waf.domain.table.title.domain' | i18n }}</th>
        <th nzBreakWord>{{ 'waf.domain.table.title.ip' | i18n }}</th>
        <th nzBreakWord 
          nzTooltipTitle="{{ 'Quý khách vui lòng chủ động CNAME để sử dụng dịch vụ' }}"
          nzTooltipPlacement="top"
          nz-tooltip>
          {{ 'waf.domain.table.title.cname' | i18n }}
        </th>
        <th nzBreakWord>{{ 'waf.domain.table.title.https' | i18n }}</th>
        <th nzBreakWord>{{ 'waf.table.title.package' | i18n }}</th>
        <th nzBreakWord>{{ 'waf.table.title.name' | i18n }}</th>
        <th nzBreakWord>{{ 'waf.domain.table.title.status' | i18n }}</th>
        <th nzBreakWord>{{ 'waf.domain.table.title.status.cdn' | i18n }}</th>
        <th nzBreakWord>{{ 'waf.domain.table.title.action' | i18n }}</th>
      </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of fixedTable.data">
          <tr>
            <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)" ></td>
            <td style="max-width: 300px;"  nzLeft>{{ data.domain }}</td>
            <td style="max-width: 200px;"  nzBreakWord nzAlign="left">{{ data.ipPublic }}</td>
            <td style="max-width: 200px;"  nzBreakWord nzAlign="left">{{ data.cName }} 
              <img *ngIf="data.cName" nz-popover src="assets/imgs/copy1.svg" alt="" nzPopoverPlacement="bottom" (click)="copy(data.cName)"
                style="cursor: pointer; margin-right: 5px; margin-top: 2px;" [nzPopoverContent]="copySuccess ? ('app.bucket.detail.copied' | i18n) : ('app.bucket.detail.copy' | i18n)" />
            </td>
            <td nzBreakWord nzAlign="left">{{ data.sslCertId ? 'ENABLE' : 'DISABLE' }}</td>
            <td style="max-width: 200px;"  nzBreakWord nzAlign="left">{{ data.offerName }}</td>
            <td style="max-width: 200px;"  nzBreakWord nzAlign="left">{{ data.wafPackageName }}</td>
            <ng-container  *ngIf="data.status | ServiceStatusPipe as statusModel">
              <td
                  nzBreakWord
                  nzAlign="left"
                  [ngStyle]="{color: statusModel.color}">{{ statusModel.status }}
              </td>
            </ng-container>
            <td nzBreakWord
                nzAlign="left"
                [ngStyle]="{color: (data.resouceStatus | CDNStatusPipe).color}">{{ (data.resouceStatus | CDNStatusPipe).status }}
            </td>
            <td nzBreakWord nzAlign="center">
              <div>
                  <one-portal-edit-domain [canClick]="data.status=='ACTIVE'" [domainData]="data" (onOk)="handleOkUpdate()"></one-portal-edit-domain>
                  <one-portal-http-setting [canClick]="data.status=='ACTIVE'" [domainData]="data" (onOk)="handleOkUpdate()" [listSslCert]="listSslCert" (onOkCreateSsl)="onOkCreateSslCert()"></one-portal-http-setting>
                <img nz-dropdown
                  [nzDropdownMenu]="opMenu"
                  src="assets/imgs/more1.svg" alt="" style="cursor: pointer;" /> 
                <nz-dropdown-menu #opMenu="nzDropdownMenu">
                  <ul nz-menu>
                    <li (click)="onExpandChange(data.id, true)"  nz-menu-item [nzDisabled]="data.status!='ACTIVE'">{{'waf.domain.policies' | i18n}}</li>
                    <one-portal-disable-policy [canClick]="data.status=='ACTIVE' && data.someSwitchesOn" [domainData]="data" (onOk)="handleOkUpdate()"></one-portal-disable-policy>
                    <one-portal-delete-domain [canClick]="data.status=='ACTIVE'" [domainData]="data" (onOk)="handleOkUpdate()"></one-portal-delete-domain>
                    <!-- <li nz-menu-item>{{'waf.domain.policies' | i18n}}</li>
                    <li nz-menu-item>{{'waf.domain.policies.disable' | i18n}}</li>
                    <li nz-menu-item>{{'waf.domain.delete' | i18n}}</li> -->
                  </ul>
                </nz-dropdown-menu>
              </div>
            </td>
          </tr>
          <tr [nzExpand]="expandSet.has(data.id)">
            <div nz-row [nzGutter]="[16, 24]">
              <div nz-col class="gutter-row" [nzSpan]="6"  *ngIf="data.packagePolicies?.ipGeoBlock">
                <div class="inner-box">
                  <nz-switch [nzDisabled]="data.status!='ACTIVE'" [ngModel]="data.sysDomainInfoVO.blockSwitch == 'ON'" (ngModelChange)="changePolicy($event,'blockSwitch', data)"></nz-switch> IP / Geo Block
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="6" *ngIf="data.packagePolicies?.ddos">
                <div class="inner-box">
                  <nz-switch [nzDisabled]="data.status!='ACTIVE'" [ngModel]="data.sysDomainInfoVO.dmsDefendSwitch == 'ON'" (ngModelChange)="changePolicy($event,'dmsDefendSwitch', data)"></nz-switch> DDos Protection
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="6" *ngIf="data.packagePolicies?.waf">
                <div class="inner-box">
                  <nz-switch [nzDisabled]="data.status!='ACTIVE'" [ngModel]="data.sysDomainInfoVO.wafDefendSwitch == 'ON'" (ngModelChange)="changePolicy($event,'wafDefendSwitch', data)"></nz-switch> WAF
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="6" *ngIf="data.packagePolicies?.threatIntelligence">
                <div class="inner-box">
                  <nz-switch [nzDisabled]="data.status!='ACTIVE'" [ngModel]="data.sysDomainInfoVO.intelligenceSwitch == 'ON'" (ngModelChange)="changePolicy($event,'intelligenceSwitch', data)"></nz-switch> Threat Intelligence
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="6" *ngIf="data.packagePolicies?.rateLimit">
                <div class="inner-box">
                  <nz-switch [nzDisabled]="data.status!='ACTIVE'" [ngModel]="data.sysDomainInfoVO.rateLimitSwitch == 'ON'" (ngModelChange)="changePolicy($event,'rateLimitSwitch', data)"></nz-switch> Rate Limiting
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="6" *ngIf="data.packagePolicies?.customRules">
                <div class="inner-box">
                  <nz-switch [nzDisabled]="data.status!='ACTIVE'" [ngModel]="data.sysDomainInfoVO.customizeRuleSwitch == 'ON'" (ngModelChange)="changePolicy($event,'customizeRuleSwitch', data)"></nz-switch> Custom Rules
                </div>
              </div>
              <div nz-col class="gutter-row" [nzSpan]="6" *ngIf="data.packagePolicies?.whiteList">
                <div class="inner-box">
                  <nz-switch [nzDisabled]="data.status!='ACTIVE'" [ngModel]="data.sysDomainInfoVO.whitelistSwitch == 'ON'" (ngModelChange)="changePolicy($event,'whitelistSwitch', data)"></nz-switch> Whitelist
                </div>
              </div>
            </div>
          </tr>
        </ng-container>
      
      </tbody>
    </nz-table>
  </nz-card>
</nz-content>
                  

