nz-card {
  border-radius: 8px;
}

.filter-div {
  display: flex;
  margin-bottom: 24px;
}

.search-filter {
  padding-left: 10px;
}

.btn-sync {
  width: 40px;
  border-color: #E2E2E9;
}

.icon-general {
  font-size: 20px;
}

.mleft-16 {
  margin-left: 16px;
}

.center-align {
  text-align: center;
}

.header-table {
  background-color: #E2EEFC;
}

.w-100 {
  width: 100%;
}

input,
.border-button,
::ng-deep .ant-select-selector {
  border-radius: 8px !important;
}

.align-center {
  text-align: center;
}

.description-title {
  font-weight: 600;
  font-size: 32px;
  color: #0066B3;
  margin-bottom: 0;
}

.description-content {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  color: #6C757D;
}

.mtop-15 {
  margin-top: 65px;
}

.btn-create {
  font-size: 20px;
  vertical-align: middle;
}

.img-edit {
  width: 24px;
  height: 24px;
}