<page-header [breadcrumb]="breadcrumb" [action]="action" [title]=" !isShowIntroductionPage ? ('app.kafka.list' | i18n) : ''">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-kafka']">Kafka</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="!isShowIntroductionPage">{{ 'app.kafka.list' | i18n }}</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  
  <!-- action -->
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown
        (valueChanged)="onRegionChange($event)"
      ></region-select-dropdown>
      <project-select-dropdown
        [regionId]="regionId"
        (valueChanged)="onProjectChange($event)"
      ></project-select-dropdown>
    </div>
  </ng-template>
</page-header>

<nz-content *ngIf="!isShowIntroductionPage; else introducePageTpl">
  <nz-card>
    <!-- filter -->
    <div class="filter-div" nz-row>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="4" [nzXl]="4">
        <nz-select nzAllowClear [(ngModel)]="serviceStatus" (ngModelChange)="handleChange()"
          [nzPlaceHolder]="'app.service.status' | i18n" class="w-100" nzSize="large">
          <nz-option *ngFor="let item of listOfStatusKafka" [nzValue]="item.id"
            [nzLabel]="item.statusName"></nz-option>
        </nz-select>
      </div>

      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" class="search-filter">
        <nz-input-group nzSearch nzSize="default" [nzPrefix]="prefixButton" class="w-100" nzSize="large">
          <input [(ngModel)]="keySearch" (keyup.enter)="handleChange()" type="text" nz-input
            [placeholder]="'app.service.search' | i18n" />
        </nz-input-group>
        <ng-template #prefixButton>
          <img src="assets/imgs/search.svg" alt="" style="cursor: pointer" [nz-tooltip]="'app.service.search-text' | i18n" />
        </ng-template>
      </div>

      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" style="padding-left: 10px;">
        <button nz-button nzType="default" class="btn-sync" (click)="handleChange()">
          <span nz-icon nzType="sync" nzTheme="outline" class="icon-general"></span>
        </button>
      </div>

      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="8" style="text-align: right;">
        <button nz-button nzType="primary" routerLink="create" class="btn-create">
          <span nz-icon nzType="plus" nzTheme="outline" style="font-size: 20px; vertical-align: middle;">
          </span>
          {{ 'app.service.create' | i18n }}
        </button>
      </div>
    </div>

    <!-- table -->
    <nz-table #kafkaTable [nzData]="listOfKafka" nzShowSizeChanger [nzFrontPagination]="false" [nzTotal]="total"
      [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzPageSizeChange)="changeSize($event)"
      (nzPageIndexChange)="changePage($event)" [nzScroll]="{ x: '1100px' }" [nzLoading]="loading">
      <thead>
        <tr>
          <th nzWidth="5%" nzAlign="center">{{ 'app.service.order-number' | i18n }}</th>
          <th nzWidth="13%">{{ 'app.kafka.name' | i18n }}</th>
          <th nzWidth="10%">{{ 'app.text.version' | i18n }}</th>
          <th nzWidth="12%">{{ 'app.text.status' | i18n }}</th>
          <th nzWidth="15%">Endpoint</th>
          <th nzWidth="20%">{{ 'app.text.package' | i18n }}</th>
          <th nzWidth="15%">{{ 'app.text.creation-time' | i18n }}</th>
          <th nzWidth="10%" nzAlign="center">{{ 'app.text.operation' | i18n }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of kafkaTable.data; let i = index">
          <td nzAlign="center">{{ i + 1 }}</td>
          <td> <a [routerLink]="[item.serviceOrderCode ]">{{ item.serviceName }}</a></td>
          <td>{{ item.apacheKafkaVersion }}</td>
          <td>
            <ng-container *ngIf="item.status | status2ColorPipe as status">
              <span [ngStyle]="{color: status.color}">{{status.status}}</span>
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="item.endPoint">
              <ng-container *ngFor="let item of item.endPoint.split(';')">
                <span>{{ item }}</span> <br>
              </ng-container>
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="item.servicePackName">{{ item.servicePackName}} / <br></ng-container>
            {{ item.cpu }} vCPU / {{ item.ram}} RAM / {{ item.storage }} GB Storage
          </td>
          <td>{{ item.createdDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
          <td nzAlign="center">
            <img src="assets/imgs/edit-kafka.svg" alt="" style="cursor: pointer; margin-right: 16px;" [routerLink]="'extend/' + item.serviceOrderCode"
              [nz-tooltip]="'app.text.edit' | i18n" class="img-edit" />
            <img src="assets/imgs/upgrade.svg" alt="" style="cursor: pointer; margin-right: 16px" [routerLink]="'upgrade/' + item.serviceOrderCode"
              [nz-tooltip]="'app.text.upgrade' | i18n" />
            <img src="assets/imgs/trash1.svg" alt="" style="cursor: pointer;" [nz-tooltip]="'app.text.delete' | i18n" (click)="showDeleteConfirm(item)" />
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- Modal Detele -->
    <nz-modal
      [(nzVisible)]="isVisibleDelete"
      [nzTitle]="'app.kafka.delete-title' | i18n"
      (nzOnCancel)="handleCancelDelete()"
      nzKeyboard="false"
      nzMaskClosable="false"
    >
      <div *nzModalContent>
        <h3 style="text-align: center;">{{ 'app.kafka.delete-content-1' | i18n }} <br> <b>{{ currentKafka.serviceName }}</b> ? <br>
          {{ 'app.kafka.delete-content-2' | i18n }}
        </h3>
        <div style="justify-content: center;display: flex;">
          <div nz-col nzSpan="16" style="min-height: 65px; margin-top: 15px;">
            <nz-input-group nzSize="large" [nzSuffix]="prefixTemplate" [ngClass]="{ 'err-service': isErrorCheckDelete }">
              <input  nzSize="large" type="text" style="border-radius: 8px;"
              nz-input [(ngModel)]="serviceNameDelete" (ngModelChange)="checkServiceNameDel()" [placeholder]="'app.kafka.name-placeholder' | i18n" />
            </nz-input-group>
            <!-- <div class="err-msg">{{msgError}}</div> -->
            <ng-template #prefixTemplate >
              <span nz-icon *ngIf="isErrorCheckDelete" style="font-size: 20px;" nzType="exclamation-circle" nzTheme="twotone" [nzTwotoneColor]="'#ff4d4f'"></span>
              <span nz-icon *ngIf="!isErrorCheckDelete && !isInitModal" style="font-size: 20px;" nzType="check-circle" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></span>
            </ng-template>
          </div>
        </div>
      </div>
      <div *nzModalFooter>
        <button nz-button (click)="handleCancelDelete()" style="margin-right: 10px;">
            <img
                style="padding-right: 10px; margin-top: -4px"
                src="assets/imgs/cancel.svg"
                alt=""
            />{{ 'app.button.cancel' | i18n }}
        </button>
        <button nz-button nzType="primary" (click)="handleOkDelete()" [disabled]="isErrorCheckDelete || isInitModal">
            <img
                style="padding-right: 10px; margin-top: -4px"
                src="assets/imgs/confirm.svg"
                alt=""
            />{{ 'app.button.confirm' | i18n }}
        </button>
      </div>  
    </nz-modal>
  </nz-card>
</nz-content>
<ng-template #introducePageTpl>
  <nz-content>
    <nz-card>
      <div class="intro">
        <div>
          <img width="415px" height="188px" src="assets/imgs/kafka-service.png" alt="" />
        </div>

        <h3 class="description-title">VNPT Message Streaming for Kafka</h3>

        <div class="mt-3 description-content">
          <span>
            {{ 'app.kafka.intro-text' | i18n }}
          </span>
        </div>

        <div class="mleft-16 mtop-15">
          <button nz-button nzType="primary" routerLink="create" class="border-button">
            {{ 'app.kafka.init' | i18n }}
          </button>
        </div>
      </div>
    </nz-card>
  </nz-content>
</ng-template>
