<page-header [breadcrumb]="breadcrumb"
             [action]="action"
             [title]="'volume.breadcrumb.extend'|i18n" xmlns="http://www.w3.org/1999/html">
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="iconTemplate">
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.breadcrumb.infrastructure.service' | i18n}}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.breadcrumb.block.storage' | i18n}}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/volumes">{{ 'volume.title' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/volume/detail/{{idVolume}}">{{'volume.title.detail'|i18n}}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>{{'volume.breadcrumb.extend'|i18n}}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #iconTemplate><one-portal-svg-icon [icon]="'icon_breadcrumb'"></one-portal-svg-icon></ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               (userChanged)="userChangeProject($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
  <button class="button-cancel"
          (click)="navigateEditVolume(volumeInfo.id)"
          nz-button nzType="primary">
    <img src="assets/imgs/edit-1.svg" alt=""
         style="cursor: pointer; width: 20px; height: 20px; margin-bottom: 3px;" />
    <span style="margin-left: 5px; margin-top: 3px;">{{ 'app.button.resize' | i18n }}</span>
  </button>
</page-header>
<nz-content>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="showModalConfirmRenew()" nzLayout="vertical">
  <nz-row [nzGutter]="24">
    <nz-col nzSpan="16">
      <nz-card [nzLoading]="isLoading" style="border-radius: 8px;">
        <span class="text-card-header">{{'volume.detail.title'|i18n}}</span>
        <nz-descriptions [nzColumn]="2" style="margin-top: 20px;">
          <nz-descriptions-item [nzTitle]="titleName">
            <span class="text-label"><b>{{volumeInfo?.name}}</b></span>
          </nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="titleType">
            <span *ngIf="volumeInfo?.volumeType === 'hdd'" class="text-label"><b>{{'volume.hdd'|i18n}}</b></span>
            <span *ngIf="volumeInfo?.volumeType === 'ssd'" class="text-label"><b>{{ 'volume.hdd'|i18n }}</b></span>
          </nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="titleStorage">
            <span class="text-label"><b>{{ volumeInfo?.sizeInGB }} GB</b></span>
          </nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="titleIOPS">
              <span class="text-label">
                <b>{{ volumeInfo?.iops }}</b>
              </span>
          </nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="titleStatus">
            <span *ngIf="volumeInfo?.status === 'KHOITAO'" class="text-label"><b>{{ volumeStatus?.get(volumeInfo?.status) }}</b></span>
            <span *ngIf="volumeInfo?.status === 'ERROR'" class="text-label"><b>{{ volumeStatus?.get(volumeInfo?.status) }}</b></span>
            <span *ngIf="volumeInfo?.status === 'SUSPENDED'" class="text-label"><b>{{ volumeStatus?.get(volumeInfo?.status) }}</b></span>
          </nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="titleAttachInstance">
            <span *ngIf="volumeInfo?.attachedInstances?.length > 0" class="text-label"><b>{{ convertString(listVMs) }}</b></span>
            <span *ngIf="volumeInfo?.attachedInstances?.length <= 0" class="text-label"><b>{{ 'volume.notification.no.instance'|i18n }}</b></span>
          </nz-descriptions-item>
<!--          <nz-descriptions-item [nzTitle]="titleVolumeType">-->
<!--            <span class="text-label"><b>{{ volumeInfo?.bootable ? 'Volume root' : 'Volume gắn thêm' }}</b></span>-->
<!--          </nz-descriptions-item>-->
        </nz-descriptions>

        <ng-template #titleName>
          <span class="text-label">{{ 'volume.table.title.name.volume'|i18n }}:</span>
        </ng-template>
        <ng-template #titleType>
          <span class="text-label">{{ 'volume.table.title.type.volume' |i18n}}:</span>
        </ng-template>
        <ng-template #titleStorage>
          <span class="text-label">{{ 'volume.table.title.storage'|i18n }}:</span>
        </ng-template>
        <ng-template #titleIOPS>
          <span class="text-label">{{ 'volume.table.title.iops'|i18n }}:</span>
        </ng-template>
        <ng-template #titleStatus>
          <span class="text-label">{{ 'volume.table.title.status.volume'|i18n }}:</span>
        </ng-template>
        <ng-template #titleAttachInstance>
          <span class="text-label">{{ 'volume.table.title.attach.instance'|i18n }}:</span>
        </ng-template>
        <ng-template #titleDescription>
          <span class="text-label">{{ 'volume.table.title.description'|i18n }}:</span>
        </ng-template>
        <div>
          <label class="text-label" nz-checkbox [nzChecked]="volumeInfo?.isEncryption" nzDisabled style="font-size: 16px;">{{ 'volume.info.type.encrypt'|i18n }}</label>
        </div>
        <div style="margin-top: 15px;">
          <label  class="text-label" nz-checkbox [nzChecked]="volumeInfo?.isMultiAttach" nzDisabled style="font-size: 16px;">{{ 'volume.info.type.multiAttach'|i18n }}</label>
        </div>

        <div style="margin-top: 15px;">
          <nz-descriptions>
            <nz-descriptions-item [nzTitle]="titleDescription">
              <span class="text-label">{{ volumeInfo?.description }}</span>
            </nz-descriptions-item>
          </nz-descriptions>
        </div>

      </nz-card>
      <nz-card style="border-radius: 8px;">
        <span class="text-card-header">{{ 'app.extension.info'|i18n }}</span>
        <nz-row nzJustify="space-between" style="margin-top: 15px;">
          <nz-col>
            <nz-form-label>
              <span style="color: #EA3829">{{ 'app.service.creation-date'|i18n }}: {{volumeInfo?.creationDate | date: 'dd/MM/yyyy'}} </span>
            </nz-form-label>
          </nz-col>
          <nz-col nzSpan="12">
            <nz-form-label>
              <span style="color: #EA3829">{{ 'app.service.expiration-date'|i18n }}:  {{volumeInfo?.expirationDate | date: 'dd/MM/yyyy'}}</span>
            </nz-form-label>
          </nz-col>
        </nz-row>
        <nz-form-item style="margin-top: 10px;">
          <nz-form-label nzFor="time">
            <div class="label">
              <span>{{ 'app.months.for.extend'|i18n }}</span>
              (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="dateErrorTpl">
            <nz-input-number style="width:100%; margin-left: 0;" nzAutoFocus class="input-custom" formControlName="time" nzMin="1" nzMax="100" nzStep="1"/>
            <ng-template #dateErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')||control.hasError('max') || control.hasError('min') || control.hasError('pattern')">
                {{'volume.input.time' |i18n}}
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-row>
          <nz-col>
            <nz-form-label>
              <span style="color: #F50000;">{{ 'app.expected.expiry.date'|i18n }}: {{ estimateExpireDate | date: 'dd/MM/yyyy'}} </span>
            </nz-form-label>
          </nz-col>
        </nz-row>
      </nz-card>
    </nz-col>
    <nz-col nzSpan="8">
      <nz-card style="border-radius: 8px">
        <div style="margin-bottom: 20px">
          <span class="text-card-header">{{ 'app.estimated.cost' | i18n }}</span>
        </div>
        <div class="text-value">{{ 'app.volume.name'|i18n }}</div>
        <div style="margin-top: 10px" class="text-label">
          {{ volumeInfo?.name }}
        </div>
        <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
        <div class="text-value">{{ 'volume.table.title.type.volume'|i18n }}</div>
        <div style="margin-top: 10px" class="text-label">
          <span *ngIf="volumeInfo?.volumeType == 'hdd'">{{ 'volume.hdd'|i18n }}</span>
          <span *ngIf="volumeInfo?.volumeType == 'ssd'">{{ 'volume.ssd'|i18n }}</span>
        </div>
        <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
        <div class="text-value">{{ 'volume.storage.volume'|i18n }}</div>
        <div style="margin-top: 10px" class="text-label">{{ volumeInfo?.sizeInGB }} GB</div>
        <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
        <div class="text-value">{{ 'volume.table.title.iops'|i18n }}</div>
        <div style="margin-top: 10px" class="text-label">{{ volumeInfo?.iops }}</div>
        <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
        <nz-row style="margin-bottom: 10px" nzGutter="16">
          <nz-col nzSpan="16">
            <span class="text-value">{{'app.cost.a.month'|i18n}}</span>
          </nz-col>
          <nz-col class="text-right" nzSpan="8">
              <span *ngIf="orderItem?.orderItemPrices?.length <= 0" class="text-value" style="color: #0066b3"
                    nzAlign="right">
              0 VND
            </span>
            <span *ngIf="orderItem?.orderItemPrices?.length > 0" class="text-value" style="color: #0066b3"
                  nzAlign="right">
              {{ orderItem?.orderItemPrices[0].unitPrice.amount | number: '1.0-0' }} {{ orderItem?.orderItemPrices[0].unitPrice.currency }}
            </span>
          </nz-col>
        </nz-row>
        <nz-row style="
            margin-bottom: 20px;
            background-color: #cce9ff;
            padding: 16px 0 16px 0;
            border-radius: 8px;
          " nzGutter="16">
          <nz-col nzSpan="16">
            <span class="text-label">{{ 'app.total.payment'|i18n }}</span><br />
            <span class="text-note-italicized">({{ 'app.include.vat'|i18n:{vat: '10'} }})</span>
          </nz-col>
          <nz-col class="text-right" nzSpan="8">
              <span *ngIf="orderItem == undefined" class="text-value" style="color: #ea3829" nzAlign="right">
              0 VND
            </span>
            <span *ngIf="orderItem != undefined" class="text-value" style="color: #ea3829" nzAlign="right">
              {{ orderItem?.totalPayment?.amount | number: '1.0-0' }} {{ orderItem?.totalPayment?.currency }}
            </span>
          </nz-col>
        </nz-row>
        <nz-row>
          <nz-col style="width: 100%">
            <button style="width: 100%" nz-button nzSize="large" nzType="primary" (click)="navigateToPaymentSummary()"
                    [disabled]="validateForm.invalid">
              <img src="assets/imgs/wallet.svg" style="margin-right: 5px; padding-bottom: 5px;"/>
              <span [style.color]="validateForm.invalid ? 'gray' : 'white'">{{ 'app.extend'|i18n }}</span>
            </button>
          </nz-col>
        </nz-row>
      </nz-card>
    </nz-col>
  </nz-row>
  </form>
</nz-content>
