<page-header [breadcrumb]="breadcrumb"
             [action]="action"
             [title]="title">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Home</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Dịch vụ</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="'/app-smart-cloud/volumes'">
          Volume
        </a></nz-breadcrumb-item>
    </nz-breadcrumb>

  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
    <div>
      <div nz-col nzSpan="4">
        <button class="button-edit" style="background-color: #061178"
                (click)="navigateEditVolume(volumeInfo.id)"
                nz-button nzType="primary">
          <i nz-icon [nzType]="'edit'"></i>Chỉnh sửa
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template #title>
    <nz-row>
      <nz-col nzSpan="8">
          <span nz-icon
                nzType="arrow-left"
                nzTheme="outline"
                [routerLink]="'/app-smart-cloud/volume/detail/' + idVolume"
                style="margin-right: 10px;"></span>
        Gia hạn Volume
      </nz-col>
    </nz-row>
  </ng-template>
</page-header>
<nz-content>
  <nz-card nzTitle="Thông tin Volume" [nzLoading]="isLoading">
    <nz-descriptions [nzColumn]="2">
      <nz-descriptions-item [nzTitle]="titleName">{{volumeInfo?.name}}</nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="titleType">{{volumeInfo?.volumeType}}</nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="titleStorage">{{volumeInfo?.sizeInGB}}</nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="titleIOPS">{{volumeInfo?.iops}}</nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="titleStatus">
        <span *ngIf="volumeInfo.status === 'KHOITAO'"
              style="color: #6abe39">{{ volumeStatus.get(volumeInfo.status)}}</span>
        <span *ngIf="volumeInfo.status === 'ERROR'"
              style="color: #FF3333">{{ volumeStatus.get(volumeInfo.status)}}</span>
        <span *ngIf="volumeInfo.status === 'SUSPENDED'"
              style="color: #FF7C33">{{ volumeStatus.get(volumeInfo.status)}}</span>
      </nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="titleAttachInstance">
        <span *ngIf="listVMs.length > 0">{{listVMs}}</span>
        <span *ngIf="listVMs.length <= 0">Không có máy ảo</span>
      </nz-descriptions-item>
      <nz-descriptions-item [nzTitle]="titleVolumeType">
        <b>{{ volumeInfo.bootable ? 'Volume root' : 'Volume gắn thêm' }}</b></nz-descriptions-item>
    </nz-descriptions>
    <ng-template #titleName>
      <span><b>Tên Volume:</b></span>
    </ng-template>
    <ng-template #titleType>
      <span><b>Loại Volume:</b></span>
    </ng-template>
    <ng-template #titleStorage>
      <span><b>Dung lượng:</b></span>
    </ng-template>
    <ng-template #titleIOPS>
      <span><b>IOPS:</b></span>
    </ng-template>
    <ng-template #titleStatus>
      <span><b>Trạng thái Volume:</b></span>
    </ng-template>
    <ng-template #titleAttachInstance>
      <span><b>Gán vào máy ảo:</b></span>
    </ng-template>
    <ng-template #titleVolumeType>
      <span><b>Kiểu Volume:</b></span>
    </ng-template>
    <div>
      <label nz-checkbox [nzChecked]="volumeInfo?.isEncryption" nzDisabled>Mã hóa Volume</label>
    </div>
    <div style="margin-top: 15px;">
      <label nz-checkbox [nzChecked]="volumeInfo?.isMultiAttach" nzDisabled>Gắn nhiều máy ảo</label>
    </div>
  </nz-card>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="showModalConfirmRenew()" nzLayout="vertical">
    <nz-card nzTitle="Thông tin gia hạn">
      <nz-row nzGutter="24">
        <nz-col nzSpan="12">
          <span><b>Ngày cấp dịch vụ:</b> {{volumeInfo?.creationDate | date: 'dd/MM/yyyy'}} </span>
        </nz-col>
        <nz-col nzSpan="12">
          <span><b>Ngày hết hạn: </b> {{volumeInfo?.expirationDate | date: 'dd/MM/yyyy'}}</span>
        </nz-col>
      </nz-row>
      <nz-form-item >
        <nz-form-label nzFor="time">
          <div class="label" style="margin-top: 15px;">
            <span><b>Số tháng cần gia hạn thêm</b></span>
            <span style="color: rgba(252, 16, 16, 1); "> *</span>
          </div>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips [nzErrorTip]="dateErrorTpl">
          <nz-input-number
            style="width:100%;"
            formControlName="time"
            id="time"
            nzMin="1"
            nzMax="100"
            nzStep="1"/>
          <ng-template #dateErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Vui lòng nhập số lớn hơn 0 và nhỏ hơn 100</ng-container>
            <ng-container *ngIf="control.hasError('max')">Vui lòng nhập số lớn hơn 0 và nhỏ hơn 100</ng-container>
            <ng-container *ngIf="control.hasError('min')">Vui lòng nhập số lớn hơn 0 và nhỏ hơn 100</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-row nzGutter="24">
        <nz-col nzSpan="12">
          <span style="color: #F50000;"><b>Ngày hết hạn dự kiến:</b> {{ estimateExpireDate | date: 'dd/MM/yyyy'}} </span>
        </nz-col>
      </nz-row>
    </nz-card>
    <nz-card nzTitle="Thành tiền" [nzExtra]="extraTemplate">
      <nz-table>
        <tr>
          <td>Chi phí volume (1 tháng)</td>
          <td nzAlign="right" *ngIf="orderItem == undefined">0 VND</td>
          <td nzAlign="right"
              *ngIf="orderItem != undefined">{{orderItem?.totalAmount?.amount}} {{orderItem?.totalAmount?.currency}}</td>
        </tr>
        <tr>
          <td>Thành tiền (Đã bao gồm 10% VAT)</td>
          <td nzAlign="right" *ngIf="orderItem == undefined">0 VND</td>
          <td nzAlign="right"
              *ngIf="orderItem != undefined">{{orderItem?.totalPayment?.amount}} {{orderItem?.totalPayment?.currency}}</td>
        </tr>
      </nz-table>
      <nz-form-item nzAlign="bottom" nzJustify="end" style="margin-top: 24px; margin-bottom: 0;">
        <nz-space nzSize="middle">
          <button *nzSpaceItem nz-button nzType="default" class="button-back" (click)="goBack()">Quay lại</button>
          <nz-form-control *nzSpaceItem>
            <button nz-button
                    nzType="primary"
                    [nzLoading]="isLoading"
                    class="button-create"
                    [disabled]="!validateForm.valid"
            >Gia hạn
            </button>
            <nz-modal [(nzVisible)]="isVisibleConfirmRenew" nzTitle="Gia hạn"
                      (nzOnCancel)="handleCancel()" nzCentered>
              <div *nzModalTitle>
                <p class="text-h5"><b>Gia hạn</b></p>
              </div>
              <div *nzModalContent>

                <p class="text-p" style="margin-top: 5px">Quý khách chắc chắn muốn gia hạn dịch vụ này?</p>
              </div>
              <div *nzModalFooter>
                <button nz-button nzType="default" (click)="handleCancel()" class="button-cancel">Hủy
                </button>
                <button nz-button nzType="primary" (click)="handleOk()"
                        [nzLoading]="isLoadingRenew"
                        class="button-ok">Đồng ý
                </button>
              </div>
            </nz-modal>
          </nz-form-control>
        </nz-space>
      </nz-form-item>
    </nz-card>
    <ng-template #extraTemplate>
      <a>More</a>
    </ng-template>
  </form>
</nz-content>
