<page-header [breadcrumb]="breadcrumb"
             [title]="title">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Home</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Dịch vụ hạ tầng
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Block Storage
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/volumes">Quản lý Volume</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/volume/detail/{{volumeId}}">Chi tiết Volume</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Điều chỉnh dung lượng Volume</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               (userChanged)="userChangeProject($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
  <ng-template #title>
    <!--          <span nz-icon-->
    <!--                nzType="arrow-left"-->
    <!--                nzTheme="outline"-->
    <!--                [routerLink]="'/app-smart-cloud/volume/detail/' + this.volumeId"-->
    <!--                style="margin-right: 10px;"></span>-->
    Điều chỉnh dung lượng Volume
  </ng-template>
</page-header>
<nz-content>
  <form nz-form [formGroup]="validateForm" nzLayout="vertical">
    <nz-card>
      <span class="text-card-header">Thông tin Volume</span>
      <nz-descriptions [nzColumn]="2" style="margin-top: 20px;">
        <nz-descriptions-item [nzTitle]="titleName">
          <span class="text-label"><b>{{volumeInfo?.name}}</b></span>
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="titleType">
          <span *ngIf="volumeInfo?.volumeType === 'hdd'" class="text-label"><b>HDD</b></span>
          <span *ngIf="volumeInfo?.volumeType === 'ssd'" class="text-label"><b>SSD</b></span>
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="titleStorage">
          <span class="text-label"><b>{{ volumeInfo?.sizeInGB }} GB</b></span>
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="titleIOPS">
              <span class="text-label">
                <b>{{ volumeInfo?.iops }}</b>
              </span>
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="titleStatus">
          <span *ngIf="volumeInfo?.status === 'KHOITAO'" class="text-label"><b>{{ volumeStatus?.get(volumeInfo?.status) }}</b></span>
          <span *ngIf="volumeInfo?.status === 'ERROR'" class="text-label"><b>{{ volumeStatus?.get(volumeInfo?.status) }}</b></span>
          <span *ngIf="volumeInfo?.status === 'SUSPENDED'" class="text-label"><b>{{ volumeStatus?.get(volumeInfo?.status) }}</b></span>
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="titleAttachInstance">
          <span *ngIf="volumeInfo?.attachedInstances?.length > 0" class="text-label"><b>{{ listVMs }}</b></span>
          <span *ngIf="volumeInfo?.attachedInstances?.length <= 0" class="text-label"><b>Không có máy ảo</b></span>
        </nz-descriptions-item>
<!--        <nz-descriptions-item [nzTitle]="titleVolumeType">-->
<!--          <b>{{ volumeInfo?.bootable ? 'Volume root' : 'Volume gắn thêm' }}</b></nz-descriptions-item>-->
      </nz-descriptions>
      <div style="margin-top: 15px;">
        <nz-descriptions>
          <nz-descriptions-item [nzTitle]="titleDescription">
            <span class="text-label"><b>{{ volumeInfo?.description }}</b></span>
          </nz-descriptions-item>
        </nz-descriptions>
      </div>
      <ng-template #titleDescription>
        <span class="text-label">Mô tả:</span>
      </ng-template>
      <ng-template #titleName>
        <span class="text-label">Tên Volume:</span>
      </ng-template>
      <ng-template #titleType>
        <span class="text-label">Loại Volume:</span>
      </ng-template>
      <ng-template #titleStorage>
        <span class="text-label">Dung lượng:</span>
      </ng-template>
      <ng-template #titleIOPS>
        <span class="text-label">IOPS:</span>
      </ng-template>
      <ng-template #titleStatus>
        <span class="text-label">Trạng thái Volume:</span>
      </ng-template>
      <ng-template #titleAttachInstance>
        <span class="text-label">Gắn vào máy ảo:</span>
      </ng-template>
      <ng-template #titleVolumeType>
        <span class="text-label">Kiểu Volume:</span>
      </ng-template>
      <div style="margin-top: 15px;">
        <label class="text-label" nz-checkbox [nzChecked]="volumeInfo?.isEncryption" nzDisabled>Mã hóa Volume</label>
      </div>
      <div style="margin-top: 15px;">
        <label class="text-label" nz-checkbox [nzChecked]="volumeInfo?.isMultiAttach" nzDisabled>Gắn nhiều máy ảo</label>
      </div>
    </nz-card>
    <nz-card>
      <span class="text-card-header">Thông tin điều chỉnh</span>
      <nz-form-item style="margin-top: 20px;">
        <nz-form-label>
          <div>
            <span>Tổng dung lượng Volume của VPC: {{ sizeInCloudProject?.cloudProject?.quotaHddInGb }}GB</span>
          </div>
        </nz-form-label>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>
          <div>
            <span>Đã dùng: {{ sizeInCloudProject?.cloudProjectResourceUsed?.hdd }}GB</span>
          </div>
        </nz-form-label>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>
          <div>
            <span>Còn lại: {{ sizeInCloudProject?.cloudProject?.quotaHddInGb - sizeInCloudProject?.cloudProject?.quotaHddInGb }}GB</span>
          </div>
        </nz-form-label>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="storage">
          <div class="label">
            <span>Dung lượng tăng thêm</span>
            (<span style="color: rgba(252, 16, 16, 1); ">*</span>) - GB
          </div>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips [nzErrorTip]="storageErrorTpl">
          <nz-input-number formControlName="storage" appAutofocus
                           id="storage"
                           class="input-custom"
                           style="width: 100%;"
                           nzAutoFocus
                           [nzMin]="volumeInfo?.sizeInGB"
                           [nzStep]="1"/>
          <ng-template #storageErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Vui lòng nhập dung lượng của gói Backup
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nzAlign="bottom" nzJustify="end">
        <nz-space nzSize="large">
          <button *nzSpaceItem nz-button nzType="default" class="button-cancel">
            <span nz-icon nzType="close" nzTheme="outline"></span>Hủy</button>
          <nz-form-control *nzSpaceItem>
            <button nz-button nzType="primary" [disabled]="!validateForm.valid"
                    class="button-ok" (click)="showConfirmResize()">
              <span nz-icon nzType="check" nzTheme="outline" ></span>Điều chỉnh</button>
            <nz-modal [(nzVisible)]="isVisibleConfirm" nzTitle="Xác nhận thay đổi Volume" nzTabScrollList="true"
                      (nzOnCancel)="handleCancelResize()" nzCentered>
              <div *nzModalTitle>
                <span class="text-modal-title">Xác nhận thay đổi Volume</span>
              </div>
              <div *nzModalContent>

                <div>
                  <b style="text-align: center">Quý khách chắn chắn muốn thực hiện điều chỉnh dung lượng Volume?</b>
                </div>

              </div>
              <div *nzModalFooter style="padding-left: 8px; padding-right: 8px;">
                <button nz-button nzType="default" (click)="handleCancelResize()" class="button-cancel">
                  <span nz-icon nzType="close" nzTheme="outline"></span>Hủy
                </button>
                <button nz-button nzType="primary"
                        (click)="handleOkResize()"
                        [nzLoading]="isLoadingConfirm"
                        class="button-ok">
                  <span nz-icon nzType="check" nzTheme="outline"></span>Xác nhận
                </button>
              </div>
            </nz-modal>
          </nz-form-control>
        </nz-space>
      </nz-form-item>
    </nz-card>
  </form>
</nz-content>
