<!--<span style="color: #0066B3; margin-right: 10px; cursor: pointer;" nz-icon nzType="delete"-->
<!--      nzTheme="outline" nz-popover-->
<!--      nzPopoverContent="{{'app.user-group.deleteMany.title' | i18n}}-->
<!--"-->
<!--      nzPopoverPlacement="bottom" (click)="showModal()"></span>-->
<img src="assets/imgs/delete.svg" style="width: 28px;height: 28px; cursor: pointer;"
     nz-tooltip nzTooltipTitle="{{'app.delete' | i18n}}" nzTooltipPlacement="bottom"
     (click)="showModal()"/>
<nz-modal [(nzVisible)]="isVisible"
          nzCentered
          [nzTitle]="modalTitle"
          [nzContent]="modalContent"
          [nzFooter]="null"
          (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>
    <span class="text-modal-title">{{'ip.floating.label.attach' | i18n}}</span>
  </ng-template>
  <ng-template #modalContent>
    <form [formGroup]="validateForm"  nz-form nzLayout="vertical">
      <nz-alert nzType="warning"
                nzDescription="{{('ip.floating.alert.remove.ip.address' | i18n) + ip}}"
                nzShowIcon
                style="margin-bottom: 24px;">
      </nz-alert>
      <nz-form-item>
        <nz-form-label>
          <div>
            <span>{{'ip.floating.alert.remove' | i18n}}</span>
          </div>
        </nz-form-label>
        <nz-form-control>
          <input nz-input
                 class="input-custom"
                 formControlName="ip"
                 (ngModelChange)="changeInput()"
                 [ngModelOptions]="{ standalone: true }"
                 placeholder="{{ip}}" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nzAlign="bottom" nzJustify="center">
        <nz-space nzSize="middle">
<!--          <button *nzSpaceItem nz-button nzType="default" (click)="handleCancel()" class="button-back">{{'app.button.cancel' | i18n}}</button>-->
<!--          <nz-form-control *nzSpaceItem>-->
<!--            <button nz-button nzType="primary" [nzLoading]="isLoading" class="button-new" (click)="handleOk()" [disabled]="disableSubmit">{{'app.button.confirm' | i18n}}</button>-->
<!--          </nz-form-control>-->

          <button nz-button (click)="handleCancel()">
            <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/cancel.svg" alt="" />{{'app.button.cancel' | i18n}}
          </button>
          <button nz-button nzType="primary" (click)="handleOk()" [disabled]="disableSubmit">
            <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/confirm.svg" alt="" />{{'app.button.confirm' | i18n}}
          </button>
        </nz-space>
      </nz-form-item>
    </form>
  </ng-template>
</nz-modal>
