<page-header
  [breadcrumb]="breadcrumb"
  [action]="action"
  [title]="'app.vpn.service-create' |i18n"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="separatorTemplate">
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.breadcrumb.infrastructure.service' | i18n }}   
      </nz-breadcrumb-item>
      <nz-breadcrumb-item
        ><a [routerLink]="['/app-smart-cloud/vpn-site-to-site']"
          >VPN site to site</a
        ></nz-breadcrumb-item
      >
      <nz-breadcrumb-item>{{'app.vpn.service-create' |i18n}}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #separatorTemplate
      ><img src="assets/imgs/arrow-square-right.svg" alt="" />
    </ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown
      (regionChange)="onRegionChanged($event)"
      (valueChanged)="onRegionChange($event)"
    ></region-select-dropdown>
    <project-select-dropdown
      [regionId]="region"
      (valueChanged)="onProjectChange($event)"
      (userChanged)="userChangeProject($event)"
    ></project-select-dropdown>
    </div>
  </ng-template>
</page-header>

<div nz-row [nzGutter]="16">
  <div nz-col [nzSpan]="17" class="gutter-row">
    <nz-card style="border-radius: 8px">
      <h2 class="custom-title">{{'app.information' |i18n}} VPN Service</h2>
      <form [formGroup]="form" nz-form [nzLayout]="'vertical'">
        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="24" class="gutter-row">
            <nz-form-item>
              <nz-form-control [nzErrorTip]="nameErrorTpl">
                <nz-form-label nzFor="name">
                  <div style="margin-top: 15px">
                    <span>{{'form.account.name' |i18n}}</span>
                    (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                    <img
                      nz-popover
                      [nzPopoverContent]="
                         'app.vpn.service-create.name.tooltip' |i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
                  </div>
                </nz-form-label>
                <input
                  nz-input
                  type="text"
                  required
                  appTrim
                  [maxlength]="50"
                  placeholder="Nhập tên"
                  formControlName="name"
                  class="input-custom"
                />
                <ng-template #nameErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')"
                    >{{'app.vpn.service-create.name.alert1' |i18n}}</ng-container
                  >
                  <ng-container *ngIf="control.hasError('pattern')"
                    >{{'app.vpn.service-create.name.tooltip' |i18n}}</ng-container
                  >
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="24" class="gutter-row">
            <nz-form-item>
              <nz-form-control>
                <nz-form-label nzFor="name">
                  <div style="margin-top: 15px">
                    <span>Router</span>
                    (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                    <img
                      nz-popover
                      [nzPopoverContent]="
                        'app.vpn.service-create.router.tooltip' |i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
                  </div>
                </nz-form-label>
                <input
                  nz-input
                  type="text"
                  required
                  [placeholder]="routerName"
                  [disabled]="true"
                  class="input-custom"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div>
          <nz-alert
            nzBanner
            [nzMessage]="vpnServiceMessage"
          ></nz-alert>
          <ng-template #vpnServiceMessage>
            <div class="text-label">{{'app.vpn.service-create.message.alert1' |i18n}}</div>
            <div class="text-label">{{'app.vpn.service-create.message.alert2' |i18n}}</div>
          </ng-template>
        </div>
      </form>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="7" class="gutter-row">
    <nz-card style="border-radius: 8px" class="card-border">
      <h2 class="custom-title">{{'app.config.parameters' |i18n}}</h2>
      <div style="overflow: auto; margin-bottom: 16px">
        <div style="margin-bottom: 12px">
          <h3 class="custom-subtitle">{{'form.account.name' |i18n}}</h3>
          <span class="text-break">{{ form.value.name }}</span>
        </div>
        <div style="margin-bottom: 12px">
          <h3 class="custom-subtitle">Router</h3>
          <span>{{ routerName }}</span>
        </div>
      </div>
      <button
        (click)="handleCreate()"
        nz-button
        nzType="primary"
        style="
          border: none;
          width: 100%;
          display: flex;
          align-items: center;
          gap: 5px;
          justify-content: center;
        "
        nzSize="large"
        [disabled]="form.invalid"
        [nzLoading]="isLoading"
      >
        <img src="assets/imgs/wallet.svg" alt="" />
        <span class="button-text-primary">Khởi tạo</span>
      </button>
    </nz-card>
  </div>
</div>
<div
  class="text-right"
  style="
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  "
></div>
