<page-header [extra]="extra" [content]="content" [breadcrumb]="breadcrumb" [action]="action"
             [title]="title">
  <ng-template #title>
    <span nz-icon
          nzType="arrow-left"
          nzTheme="outline"
          [routerLink]="'/app-smart-cloud/instances/instances-detail/' + instanceId"
          style="margin-right: 10px;"></span>
    Danh sách Allow Address Pair
  </ng-template>
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Home</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>Dịch vụ</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="'/app-smart-cloud/instances/instances-detail/' + instanceId">VM</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>

      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>

  <ng-template #content>
    <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
      <input nz-input
             placeholder="Tìm kiếm IP Address"
             [(ngModel)]="value"
             type="text"
             nzSize="default"
             style="width: 400px;"
             (input)="onInputChange($event.target['value'])"/>
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzSize="default" nzTooltipTitle="Tìm kiếm tên" nzTooltipPlacement="bottom" nz-tooltip class="button-search" (click)="search()" style="cursor: pointer;">
        <span nz-icon nzType="setting" nzTheme="outline" style="margin-right: 5px;"></span>
        Search
      </button>
    </ng-template>
  </ng-template>

  <ng-template #extra>
    <button nz-button nzTooltipTitle="Tạo mới" nzTooltipPlacement="bottom" nz-tooltip class="button-create" nzSize="default" (click)="showModalCreate()" style="cursor: pointer;">
      <span nz-icon nzType="plus" nzTheme="outline" style="margin-right: 5px;"></span>
      Tạo mới
    </button>
    <create-allow-address-pair [isVisible]="isVisibleCreate"
                               [isLoading]="isLoading"
                               [region]="region"
                               [project]="project"
                               [userId]="userId"
                               [portId]="portId"
                               (onCancel)="handleCloseCreate()"
                               (onOk)="handleOkCreate()"/>
  </ng-template>


</page-header>
<nz-content>
  <nz-card>
    <nz-table #fixedTable
              [nzScroll]="{ x: '1000px', y: '240px' }"
              [nzData]="collection.records"
              nzShowSizeChanger
              [nzFrontPagination]="false"
              [nzLoading]="isLoading"
              [nzShowPagination]="false">
      <thead>
      <tr>
        <th nzAlign="center" nzLeft>IP Address/CIDR</th>
        <th nzAlign="center" >MAC Address</th>
        <th nzAlign="center" style="width: 216px;">Thao tác</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of fixedTable.data">
        <td nzAlign="center" nzLeft>{{ data.ipAddress }}</td>
        <td nzAlign="center" nzBreakWord>{{ data.macAddress }}</td>
        <td nzAlign="center" nzBreakWord>
          <button nz-button nzType="primary" nzDanger
                  class="button-delete"
                  (click)="showModalDelete()">
            Xoá
          </button>
          <delete-allow-address-pair [isVisible]="isVisibleDelete"
                                     [isLoading]="isLoading"
                                     (onCancel)="handleCancelDelete()"
                                     (onOk)="handleOkDelete(data)"
          ></delete-allow-address-pair>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
</nz-content>
