<nz-header>
    <nz-col nzSpan="24" style="display: flex; flex-direction: column;">
        <nz-row nzJustify="space-between" nzAlign="middle">
            <nz-breadcrumb nz-page-header-breadcrumb>
                <nz-breadcrumb-item>Home</nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    Dịch vụ
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    <a routerLink="/">VM</a>
                </nz-breadcrumb-item>
            </nz-breadcrumb>
            <nz-space>
                <!--                <nz-select *nzSpaceItem nzShowSearch nzAllowClear nzPlaceHolder="Khu vực"-->
                <!--                           [(ngModel)]="selectedValueArea"-->
                <!--                           style="border: 1px solid #D9D9D9; width: 113px; height: 32px">-->
                <!--                    <nz-option *ngFor="let item of optionsArea" [nzLabel]="item.name" [nzValue]="item"></nz-option>-->
                <!--                </nz-select>-->
                <!--                <nz-select *nzSpaceItem nzShowSearch nzAllowClear nzPlaceHolder="Dự án"-->
                <!--                           [(ngModel)]="selectedValueProject"-->
                <!--                           style="border: 1px solid #D9D9D9; width: 113px; height: 32px">-->
                <!--                    <nz-option *ngFor="let item of optionsProject" [nzLabel]="item.name" [nzValue]="item"></nz-option>-->
                <!--                </nz-select>-->
                <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
                <project-select-dropdown></project-select-dropdown>
            </nz-space>

        </nz-row>
        <h4>Danh sách Allow Address Pair</h4>
        <nz-row nzJustify="space-between" nzAlign="middle">
            <div style="margin-top: 20px;">
                <input nz-input placeholder="Tìm kiếm IP Address" [(ngModel)]="value" type="text"
                       style="width: 396px; height: 40px;" (input)="onInputChange($event.target['value'])"/>
                <!--            <span nz-icon nzType="setting" nzTheme="outline"></span>-->
                <button class="button-search" (click)="search()">
                    <span nz-icon nzType="setting" nzTheme="outline" style="margin-right: 5px;"></span>
                    Search
                </button>
            </div>
            <div style="margin-top: 20px;">
                <nz-space>
                    <button nz-button (click)="showModalCreate()">
                        <span nz-icon nzType="plus" nzTheme="outline" style="margin-right: 12px;"></span>
                        Tạo mới
                    </button>
                    <one-portal-create-allow-address-pair [isVisible]="isVisibleCreate" (onCancel)="closeModalCreate()" (onOk)="handleCreate($event)"/>
                </nz-space>
            </div>
        </nz-row>
    </nz-col>
</nz-header>
<nz-content style="margin-top: 10px">
    <nz-card>
        <div class="code-box-description">
            <nz-table #tablePair
                      [nzData]="listPairInfo"
                      nzShowSizeChanger
                      [nzFrontPagination]="false"
                      [nzTotal]="listPairInfo.length"
                      [nzPageSize]="10"
                      [nzPageIndex]="1"
            >
                <thead>
                <tr>
                    <th nzAlign="center" class="text-th">IP Address/CIDR</th>
                    <th nzAlign="center" class="text-th">MAC Address</th>
                    <th nzAlign="center" class="text-th" style="width: 216px;">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of tablePair.data">
                    <td nzAlign="center">{{ data.ipAddress }}</td>
                    <td nzAlign="center">{{ data.macAddress }}</td>
                    <td nzAlign="center">
                        <button nz-button nzType="primary" nzDanger class="button-delete" (click)="showModalDelete()">
                            Xoá
                        </button>
                        <one-portal-delete-allow-address-pair [formDeletePair]="formDeleteOrCreate"
                                                              [isVisible]="isVisibleDelete"
                                                              (onCancel)="handleCancelDelete()"
                                                              (onOk)="handleOkDelete(data)"
                        ></one-portal-delete-allow-address-pair>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </nz-card>
</nz-content>
