<page-header [breadcrumb]="breadcrumb" [action]="action" [title]="'Gia hạn VPC'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a [routerLink]="['/']">Trang chủ</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/app-smart-cloud/vpc']">Quản lý VPC</a></nz-breadcrumb-item>
      <nz-breadcrumb-item> Gia hạn VPC</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (valueChanged)="onRegionChange($event)"></region-select-dropdown>
    </div>
  </ng-template>
</page-header>
<!---------------FORM-------------->
<form nz-form [formGroup]="form" [nzLayout]="'vertical'">
  <nz-row nzGutter="24">
    <nz-col nzSpan="16">
      <nz-card class="text-label" nzTitle="" style="border-radius: 8px;">
      <div style="margin-bottom: 20px">
        <span class="text-card-header">Thông tin VPC</span>
      </div>
      <div nz-row>
        <div nz-col nzSpan="5">Tên VPC:</div>
        <div nz-col nzSpan="7" style="font-weight: bold;">{{data?.displayName}}</div>
        <div nz-col nzSpan="5">Gói Load Balancer:</div>
        <div nz-col nzSpan="7" style="font-weight: bold;">NONE</div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="5">Mô tả:</div>
        <div nz-col nzSpan="7" style="font-weight: bold;">{{data?.description}}</div>
        <div nz-col nzSpan="5">Ngày cấp dịch vụ:</div>
        <div nz-col nzSpan="7" style="font-weight: bold;">{{data?.createDate}}</div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="5">Ngày hết hạn:</div>
        <div nz-col nzSpan="7" style="font-weight: bold;">{{data?.expireDate}}</div>
      </div>
      </nz-card>
      <nz-card class="text-label" nzTitle="" style="border-radius: 8px;">
        <div style="margin-bottom: 20px">
          <span class="text-card-header">Thông tin tài nguyên</span>
        </div>
        <nz-row style="margin-bottom: 21px;text-align: center">
          <div nz-col nzSpan="4"><nz-progress [nzPercent]= percentBackup nzType="circle" [nzWidth]="140" [nzStrokeWidth]="13"></nz-progress><h3 style="margin-top: 14px;">CPU</h3></div>
          <div nz-col nzSpan="4"><nz-progress [nzPercent]= percentRam nzType="circle" [nzWidth]="140" [nzStrokeWidth]="13"></nz-progress><h3 style="margin-top: 14px;">RAM (GB)</h3></div>
          <div nz-col nzSpan="4"><nz-progress [nzPercent]= percentHHD nzType="circle" [nzWidth]="140" [nzStrokeWidth]="13"></nz-progress><h3 style="margin-top: 14px;">HHD (GB)</h3></div>
          <div nz-col nzSpan="4"><nz-progress [nzPercent]= percentSSD nzType="circle" [nzWidth]="140" [nzStrokeWidth]="13"></nz-progress><h3 style="margin-top: 14px;">SSD (GB)</h3></div>
          <div nz-col nzSpan="4"><nz-progress [nzPercent]= percentIPFloating nzType="circle" [nzWidth]="140" [nzStrokeWidth]="13"></nz-progress><h3 style="margin-top: 14px;">IP FLOATING</h3></div>
          <div nz-col nzSpan="4"><nz-progress [nzPercent]= percentBackup nzType="circle" [nzWidth]="140" [nzStrokeWidth]="13"></nz-progress><h3 style="margin-top: 14px;">BACKUP (GB)</h3></div>
        </nz-row>
        <nz-table [nzData]="listOfData" [nzFrontPagination]="false" [nzLoading]="loading">
          <thead>
          <tr>
            <th>Tên tài nguyên</th>
            <th>Tổng hạn mức</th>
            <th>Đã dùng</th>
            <th>Còn lai</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of listOfData">
            <td>{{item?.name}}</td>
            <td>{{item?.total}}</td>
            <td>{{item?.used}}</td>
            <td>{{item?.remain}}</td>
          </tr>
          </tbody>
        </nz-table>
      </nz-card>
      <nz-card class="text-label" nzTitle="" style="border-radius: 8px;">
        <div style="margin-bottom: 20px">
          <span class="text-card-header">Thông tin gia hạn</span>
        </div>
        <nz-row style="margin-bottom: 15px">
          <div nz-col nzSpan="5">Ngày cấp dịch vụ:</div>
          <div nz-col nzSpan="19" style="font-weight: bold;">{{ today | date : 'dd/MM/yyyy' }}</div>
        </nz-row>
        <nz-row style="margin-bottom: 15px">
          <div nz-col nzSpan="5">Ngày hết hạn dự kiến:</div>
          <div nz-col nzSpan="19" style="font-weight: bold;">{{ expiredDate | date : 'dd/MM/yyyy' }}</div>
        </nz-row>
        <nz-form-item style="margin-bottom: 5px">
          <nz-form-label
          >Thời hạn sử dụng (<span class="text-red">*</span>) -
            Tháng
          </nz-form-label
          >
          <nz-form-control>
            <nz-row>
              <nz-input-number style="width: 100%; margin-left: -1px; margin-bottom: 5px;" [nzMin]="1" [nzMax]="100" [nzStep]="1"
                               formControlName="numOfMonth" (ngModelChange)="onChangeTime()"
                               nzSize="large"></nz-input-number>
            </nz-row>
          </nz-form-control>

          <div class="text-custom-time" style="color: red;">
            Ngày hết hạn: {{ expiredDate | date : 'dd/MM/yyyy' }}
          </div>
        </nz-form-item>
      </nz-card>
    </nz-col>

    <!---------------CARD-THÀNH TIỀN-------------->
    <nz-col nzSpan="8">
      <nz-card style="border-radius: 8px;" [nzLoading]="loadingCalculate">
        <div style="margin-bottom: 20px">
          <p class="text-card-header">Thành tiền</p>
        </div>
        <nz-table>
          <tr class="text-label">
            <td>Chi phí VPC</td>
            <td style="color: #0066B3;" nzAlign="right">
              <b>{{totalAmount || 0}} VNĐ</b>
            </td>
          </tr>
          <tr class="text-label">
            <td><i>({{this.form.controls['numOfMonth'].value || 0}} tháng)</i></td>
            <td nzAlign="right">VNĐ/tháng</td>
          </tr>
          <tr class="text-label">
            <td>Thành tiền</td>
            <td nzAlign="right" style="color: #EA3829;">
              <b>{{totalPayment || 0}} VNĐ</b>
            </td>
          </tr>
          <tr class="text-label">
            <td><i>(Đã bao gồm 10% VAT)</i></td>
            <td nzAlign="right">VNĐ/tháng</td>
          </tr>
        </nz-table>
        <button class="button-create" nz-button nzSize="large" nzType="primary" (click)="extendVpc()"
                [disabled]="form.invalid">
          <span nz-icon nzType="wallet" nzTheme="outline"></span>
          <span style="color: {{form.invalid ? 'gray' : 'white'}}">Thanh toán</span>
        </button>
      </nz-card>
    </nz-col>
  </nz-row>
</form>





