.text-bold{
  font-weight: 700;
}

.disabled {
  pointer-events: none;
}

.network-border{
  background-color: #989BB3;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
}
