<div style="display: flex; flex-direction: column">
  <span class="text-card-header mb-4">{{'app.list' |i18n}} VPN Connections</span>
  <nz-row class="d-flex justify-content-between">
    <nz-col>
      <nz-input-group
        [nzPrefix]="prefixIconSearch"
        nzSize="large"
        style="width: 300px"
      >
        <input
          nz-input
          [placeholder]="'app.file.system.placeholder.search' |i18n"
          [(ngModel)]="value"
          #searchBox (keyup.enter)="search(searchBox.value)" (ngModelChange)="searchDelay.next(false)"
        />
      </nz-input-group>
      <ng-template #prefixIconSearch>
        <img
          src="assets/imgs/search.svg"
          alt=""       
        />
      </ng-template>
    </nz-col>
    <nz-col>
      <button *ngIf="isCreatePermission"
        [routerLink]="[
          '/app-smart-cloud/vpn-site-to-site/vpn-connection/create'
        ]"
        class="highlight-button"
        nz-button
        nzType="primary"
        nzSize="large"
      >
        <i nz-icon nzType="plus"></i>
        <span class="button-text-primary">{{'app.label.create' |i18n}} VPN Connection</span>
      </button>
    </nz-col>
  </nz-row>
</div>
<nz-table
#fixedTable
style="margin-top: 20px"
[nzData]="response"
[nzPageSize]="responseData?.pageSize"
nzShowSizeChanger
[nzPageSizeOptions]="[pageSizeFixed, 10, 20, 30, 40, 50]"
(nzPageSizeChange)="onPageSizeChange($event)"
[nzPageIndex]="responseData?.currentPage"
(nzPageIndexChange)="onPageIndexChange($event)"
[nzTotal]="responseData?.totalCount"
[nzFrontPagination]="false"
[nzLoading]="isLoading"
nzTableLayout="fixed"
>
  <thead>
    <tr>
      <th>Name</th>
      <th>Local</th>
      <th>Remote</th>
      <th>VPN Service</th>
      <th>IKE Policy</th>
      <th>IPsec Policy</th>
      <th>{{'app.payment.status' |i18n}}</th>
      <th style="width: 100px" nzAlign="center">{{'app.action-history.operation' |i18n}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of fixedTable.data">
      <td class="text-hidden" title="{{ data.name }}">
        <a
          [routerLink]="[
            '/app-smart-cloud/vpn-site-to-site/vpn-connection/' + data.id
          ]"
          >{{ data.name }}</a
        >
      </td>
      <td>
        <div style="transform: translateX(13px)">{{ data.localGateway }}</div>
        <!-- <div class="network-border" *ngFor="let data of data.localNetwork">
          {{ data }}
        </div> -->
        <ul
          *ngIf="data.localNetwork.length > 0"
          nz-menu
          [nzMode]="'vertical'"
          class="custom-menu"
          [nzSelectable]="false"
        >
          <li nz-submenu [nzTitle]="data.firstNetWork" class="custom-menu-item">
            <ul class="custom-icon" *ngFor="let data of data.localNetwork">
              <li nz-menu-item>{{ data }}</li>
            </ul>
          </li>
        </ul>
        <div
          *ngIf="data.localNetwork.length === 0"
          class="custom-menu-firstNetWork"
        >
          {{ data.firstNetWork }}
        </div>
      </td>
      <td>
        <div style="transform: translateX(13px)">{{ data.remoteGateway }}</div>
        <div class="network-border" *ngFor="let data of data.remoteNetwork">
          {{ data }}
        </div>
      </td>
      <td class="text-hidden" title="{{ data.vpnService }}">
        {{ data.vpnService }}
      </td>
      <td class="text-hidden" title="{{ data.ikepolicy }}">{{ data.ikepolicy }}</td>
      <td class="text-hidden" title="{{ data.ipSecPolicy }}">{{ data.ipSecPolicy }}</td>
      <td>
        {{
          data.status === 'PENDING_CREATE'
            ? 'Pending Create'
            : data.status === 'DOWN' && 'Down'
        }}
      </td>
      <td>
        <div class="d-flex gap-2 justify-content-center align-items-center">
          <img *ngIf="('vpnsitetosites:VPNUpdateVpnConnection' | IsPermissionPipe)"
            [ngStyle]="{
              filter:
                data.status === 'PENDING_CREATE'
                  ? 'invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%)'
                  : ''
            }"
            [class.disabled]="data.status === 'PENDING_CREATE'"
            style="cursor: pointer; margin-right: 16px"
            src="assets/imgs/edit-2.svg"
            [routerLink]="[
              '/app-smart-cloud/vpn-site-to-site/vpn-connection/edit/' + data.id
            ]"
            [nzPopoverContent]="'app.manage.site.to.site.edit' |i18n"
            nz-popover
            nzPopoverPlacement="bottom"
          />
          <one-portal-delete-vpn-connection *ngIf="('vpnsitetosites:VPNDeleteVpnConnection' | IsPermissionPipe)"
            [region]="region"
            [project]="project"
            [vpnconnectionid]="data.id"
            [nameVpnconnection]="data.name"
            (onOk)="handleOkDelete()"
          ></one-portal-delete-vpn-connection>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
