<page-header
  *ngIf="hasOS"
  [breadcrumb]="breadcrumb"
  [action]="action"
  [title]="'app.s3.key.list' | i18n"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="separatorTemplate">
      <nz-breadcrumb-item
        ><a [routerLink]="['/']">{{
          'app.breadcrumb.home' | i18n
        }}</a></nz-breadcrumb-item
      >
      <nz-breadcrumb-item>{{'app.breadcrumb.infrastructure.service' | i18n }}</nz-breadcrumb-item>
      <nz-breadcrumb-item>Object Storage</nz-breadcrumb-item>
      <nz-breadcrumb-item
        ><a (click)="navigateToS3Key()"
          >S3 Key</a
        ></nz-breadcrumb-item
      >
    </nz-breadcrumb>
    <ng-template #separatorTemplate
      ><img src="assets/imgs/arrow-square-right.svg" alt="" />
    </ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown
        (valueChanged)="onRegionChange($event)"
        (regionChange)="onRegionChanged($event)"
      ></region-select-dropdown>
      <div style="visibility: hidden">
        <project-select-dropdown
          #projectCombobox
          (valueChanged)="projectChanged($event)"
          (userChanged)="projectChanged($event)"
          [regionId]="region"
        ></project-select-dropdown>
    </div>
    </div>
  </ng-template>
</page-header>

<nz-card *ngIf="hasOS" class="text-label">

    <div
      class="d-flex justify-content-between"
    >
      <nz-input-group
        style="margin-right: 8px; border-radius: 8px"
        [nzPrefix]="suffixIconSearch"
        nzSize="large"
      >
        <input
        [(ngModel)]="value"
        #searchBox (keyup.enter)="search(searchBox.value)" (ngModelChange)="searchDelay.next(false)"
          name="name"
          nz-input
          [placeholder]="'app.s3.key.search' | i18n"
        />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <img
          src="assets/imgs/search.svg"
          alt=""
          style="cursor: pointer"
          [nz-tooltip]="'app.button.search' | i18n"
        />
      </ng-template>
      <button *ngIf="isPermissionCreate" nz-button nzType="primary" (click)="createS3Key()" nzSize="large">
        <img
          style="padding-right: 10px"
          src="assets/imgs/add-circle.svg"
          alt=""
        />
        <span class="button-text-primary">{{
          'app.s3.key.create' | i18n
        }}</span>
      </button>
  </div>
  <!-- Bảng-->
<!--  <nz-table-->
<!--    #rowSelectionTable style="margin-top: 24px" nzShowPagination nzShowSizeChanger-->
<!--    [nzData]="listOfS3Key" [nzPageSize]="size"-->
<!--    (nzPageSizeChange)="onPageSizeChange($event)" (nzPageIndexChange)="onPageIndexChange($event)"-->
<!--    [nzTotal]="total" [nzLoading]="isLoading"-->
<!--  >-->
    <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="listOfS3Key" style="margin-top: 24px"
              [nzTotal]="total" [nzPageSize]="size" nzTableLayout="fixed" (nzPageSizeChange)="onPageSizeChange($event)" [nzFrontPagination]="false" [nzPageIndex]="index"
              (nzPageIndexChange)="onPageIndexChange($event)" [nzLoading]="isLoading">
    <thead>
      <tr>
        <th style="width: 75px;">STT</th>
        <th>AccessKey</th>
        <th>SecretKey</th>
        <th style="width: 120px;">User</th>
        <th style="width: 105px;">{{ 'app.text.operation' | i18n }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of rowSelectionTable.data; index as i">
        <td>{{ (index-1)*size + i + 1}}</td>
        <td>
          <nz-row nzJustify="space-between">
            <nz-col>
              <div>{{ item.accessKey }}</div>
            </nz-col>
            <nz-col>
              <img src="assets/imgs/icon_copy1.svg" alt="" style="cursor: pointer" nz-tooltip="Copy"
                (click)="copyText(item.accessKey)" />
            </nz-col>
          </nz-row>
        </td>
        <td>
          <nz-row nzJustify="space-between">
            <nz-col>
              <div>{{ item.secretKey }}</div>
            </nz-col>
            <nz-col>
              <img src="assets/imgs/icon_copy1.svg" alt="" style="cursor: pointer" nz-tooltip="Copy"
                (click)="copyText(item.secretKey)" />
            </nz-col>
          </nz-row>
        </td>
        <td title="{{ item.subUser }}" style="overflow: hidden;
        font-weight: normal;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 50px;">{{ item.subUser }}</td>
        <td>
          <div>
            <!---Tạo lại------>
            <span
              *ngIf="('objectstorages:OSGenerateS3Key' | IsPermissionPipe)"
              style="color: #0066b3; margin-right: 10px; cursor: pointer"
              [nz-tooltip]="'app.recreate' | i18n"
              nz-icon
              nzType="reload"
              nzTheme="outline"
              (click)="openModelRecreate(item)"
            ></span>
            <!----Xóa---->
            <img
              *ngIf="('objectstorages:OSDeleteS3Key' | IsPermissionPipe)"
              src="assets/imgs/delete.svg"
              alt=""
              (click)="openModelDelete(item.accessKey)"
              style="cursor: pointer; margin-right: 16px"
              nz-tooltip="{{ 'app.delete' | i18n }}"
            />
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<div *ngIf="hasOS == undefined || hasOS == null"></div>
<one-portal-object-storage *ngIf="hasOS == false"></one-portal-object-storage>

<!--Tạo mới-->
<nz-modal
  (nzOnCancel)="isVisibleCreate = false"
  [(nzVisible)]="isVisibleCreate"
  [nzTitle]="'app.s3.key.create' | i18n"
>
  <ng-container *nzModalContent>
    <div class="text-label mb-2">
      {{ 'app.s3.key.choose' | i18n }} (<span class="text-red">*</span>)
    </div>
    <nz-select
      nzSize="large"
      [nzLoading]="loadingDropdown"
      [nzDisabled]="disableDropdown"
      style="width: 100%; border-radius: 8px"
      [nzPlaceHolder]="'-- ' + ('app.s3.key.choose' | i18n) + ' --'"
      [(ngModel)]="userCreate.subUserId"
    >
      <nz-option
        *ngFor="let i of listUser"
        [nzLabel]="i.subUserId"
        [nzValue]="i.subUserId"
      />
    </nz-select>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelCreate()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />{{ 'app.button.cancel' | i18n }}
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="createSecretKey()"
      [nzLoading]="isLoadingCreateS3key"
    >
      <img
        *ngIf="isLoadingCreateS3key === false"
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />{{ 'app.button.confirm' | i18n }}
    </button>
  </div>
</nz-modal>

<!--Xóa-->
<nz-modal
  [(nzVisible)]="isVisibleDelete"
  [nzTitle]="'app.s3.key.delete.confirm' | i18n"
  (nzOnCancel)="isVisibleDelete = false"
>
  <ng-container *nzModalContent>
    <nz-alert
      nzType="warning"
      [nzDescription]="alert"
      nzShowIcon
      style="margin-bottom: 10px"
    ></nz-alert>
    <ng-template #alert>
      <span class="text-label">{{ 'app.s3.key.delete.alert' | i18n }}</span>
    </ng-template>
    <span class="text-label">{{ 'app.s3.key.delete.des' | i18n }}</span>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelDelete()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />{{ 'app.button.cancel' | i18n }}
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="deleteSecretKey()"
      [nzLoading]="isLoadingDelete"
    >
      <img
        *ngIf="isLoadingDelete === false"
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />{{ 'app.button.confirm' | i18n }}
    </button>
  </div>
</nz-modal>

<!--Tạo lại-->
<nz-modal
  [(nzVisible)]="isVisibleReCreate"
  [nzTitle]="'app.s3.key.recreate.confirm' | i18n"
  (nzOnCancel)="isVisibleReCreate = false"
>
  <ng-container *nzModalContent>
    <nz-alert
      nzType="warning"
      [nzDescription]="alert"
      nzShowIcon
      style="margin-bottom: 10px"
    ></nz-alert>
    <ng-template #alert>
      <span class="text-label">{{ 'app.s3.key.recreate.alert' | i18n }}</span>
    </ng-template>
    <span class="text-label">{{ 'app.s3.key.recreate.des' | i18n }}</span>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelReCreate()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />{{ 'app.button.cancel' | i18n }}
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="generateS3Key()"
      [nzLoading]="isLoadingCreateS3key"
    >
      <img
        *ngIf="isLoadingCreateS3key === false"
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />{{ 'app.button.confirm' | i18n }}
    </button>
  </div>
</nz-modal>
