<page-header
  [breadcrumb]="breadcrumb"
  [action]="action"
  [title]="'app.vpn.connection-create' | i18n"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="separatorTemplate">
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.breadcrumb.infrastructure.service' | i18n }}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item
        ><a [routerLink]="['/app-smart-cloud/vpn-site-to-site']"
          >VPN site to site</a
        ></nz-breadcrumb-item
      >
      <nz-breadcrumb-item>{{
        'app.vpn.connection-create' | i18n
      }}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #separatorTemplate
      ><img src="assets/imgs/arrow-square-right.svg" alt="" />
    </ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown
        (valueChanged)="onRegionChange($event)"
        (regionChange)="onRegionChanged($event)"
      ></region-select-dropdown>
      <project-select-dropdown #projectCombobox
        [regionId]="region"
        (valueChanged)="onProjectChange($event)"
        (userChanged)="userChangeProject($event)"
      ></project-select-dropdown>
    </div>
  </ng-template>
</page-header>

<div nz-row [nzGutter]="16">
  <div nz-col [nzSpan]="17" class="gutter-row">
    <nz-card style="border-radius: 8px">
      <h2 class="custom-title">
        {{ 'app.information' | i18n }} VPN Connection
      </h2>
      <form [formGroup]="form" nz-form [nzLayout]="'vertical'">
        <div nz-row [nzGutter]="16">
          <div nz-col [nzSpan]="12" class="gutter-row">
            <nz-form-item>
              <nz-form-control [nzErrorTip]="nameErrorTpl">
                <nz-form-label nzFor="name">
                    <span>Name&nbsp;</span>
                    (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                    <img
                      nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                      [nzPopoverContent]="
                        'app.vpn.connection-create.name.tooltip' | i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
                </nz-form-label>
                <input
                  nz-input
                  type="text"
                  required
                  appTrim
                  appAutoFocus
                  [maxlength]="50"
                  [placeholder]="'app.input.name' | i18n"
                  formControlName="name"
                  class="input-custom"
                />
                <ng-template #nameErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">{{
                    'app.vpns2s.name.error.tooltip' | i18n
                  }}</ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">{{
                    'app.vpn.connection-create.name.alert1' | i18n
                  }}</ng-container>
                   <ng-container *ngIf="control.hasError('duplicateName')">Tên VPN Connection đã tồn tại. Vui lòng nhập tên khác</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" class="gutter-row">
            <nz-form-item>
              <nz-form-control>
                <nz-form-label nzFor="name">
                    <span>IPsec Policy&nbsp;</span>
                    (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                    <img
                      nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                      [nzPopoverContent]="
                        'app.vpn.connection-create.ipsec.tooltip' | i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
                </nz-form-label>
                <nz-select
                  [(ngModel)]="selectedIpsecPolicy"
                  formControlName="ipsecpolicyId"
                  [ngModelOptions]="{ standalone: true }"
                  class="input-select-custom"
                  [nzLoading]="isLoadingIpsecPolicy"
                  (ngModelChange)="onIpsecPolicyChange($event)"
                  [nzDisabled]="disableIpsecpolicy"
                >
                  <nz-option
                    *ngFor="let data of ipsecPoliciesList"
                    [nzLabel]="data.label"
                    [nzValue]="data.value"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" class="gutter-row">
            <nz-form-item>
              <nz-form-control>
                <nz-form-label nzFor="name">
                    <span>VPN Service&nbsp;</span>
                    (<span style="color: rgba(252, 16, 16, 1)">*</span>)

                    <img
                      nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                      [nzPopoverContent]="
                        'app.vpn.connection-create.vpnservice.tooltip' | i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
                </nz-form-label>
                <nz-select
                  [(ngModel)]="selectedVpnService"
                  formControlName="vpnServiceId"
                  class="input-select-custom"
                  [nzLoading]="isLoadingVpnService"
                  [nzDisabled]="disableVpnService"
                >
                  <nz-option
                    *ngFor="let data of vpnServiceList"
                    [nzLabel]="data.label"
                    [nzValue]="data.value"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" class="gutter-row">
            <nz-form-item>
              <nz-form-control [nzErrorTip]="peerRemoteIdErrorTpl">
                <nz-form-label nzFor="name">
                    <span>Peer Remote IP VPN Gateway&nbsp;</span>
                    (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                    <img
                      nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                      [nzPopoverContent]="
                        'app.vpn.connection-create.peerIP.tooltip' | i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
                </nz-form-label>
                <input
                  nz-input
                  type="text"
                  required
                  [placeholder]="
                    'app.vpn.connection-create.peerIP.input' | i18n
                  "
                  formControlName="peerRemoteIp"
                  class="input-custom"
                />
                <ng-template #peerRemoteIdErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">{{
                    'app.vpns2s.name.error.tooltip' | i18n
                  }}</ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">{{
                    'app.vpn.connection-create.peerIP.alert2' | i18n
                  }}</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" class="gutter-row">
            <nz-form-item>
              <nz-form-control>
                <nz-form-label nzFor="name">
                    <span>Local Endpoint Group&nbsp;</span>
                    (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                    <img
                      nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                      [nzPopoverContent]="
                        'app.vpn.connection-create.local.tooltip' | i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
                </nz-form-label>
                <nz-select
                  formControlName="localEndpointGroup"
                  [(ngModel)]="selectedLocalEndpointGroup"
                  [ngModelOptions]="{ standalone: true }"
                  class="input-select-custom"
                  [nzLoading]="isLoadingEndpointGroup"
                  (ngModelChange)="onLocalEndpointGroupChange($event)"
                  [nzDisabled]="disableEndpointGroup"
                >
                  <nz-option
                    *ngFor="let data of localEndpointGroupList"
                    [nzLabel]="data.label"
                    [nzValue]="data.value"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" class="gutter-row">
            <nz-form-item>
              <nz-form-control [nzErrorTip]="peerIdErrorTpl">
                <nz-form-label nzFor="name">
                    <span>Peer ID VPN Connections&nbsp;</span>
                    (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                    <img
                      nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                      [nzPopoverContent]="
                        'app.vpn.connection-create.peerId.tooltip' | i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
                </nz-form-label>
                <input
                  nz-input
                  type="text"
                  required
                  [placeholder]="
                    'app.vpn.connection-create.peerID.input' | i18n
                  "
                  formControlName="peerId"
                  class="input-custom"
                />
                <ng-template #peerIdErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">{{
                    'app.vpns2s.name.error.tooltip' | i18n
                  }}</ng-container>
                  <ng-container *ngIf="control.hasError('invalidHost')">{{
                    'app.vpn.connection-create.peerId.alert2' | i18n
                  }}</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" class="gutter-row">
            <nz-form-item>
              <nz-form-control>
                <nz-form-label nzFor="name">
                    <span>IKE Policy&nbsp;</span>
                    (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                    <img
                      nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                      [nzPopoverContent]="
                        'app.vpn.connection-create.ike.tooltip' | i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
                </nz-form-label>
                <nz-select
                  formControlName="ikepolicyId"
                  [(ngModel)]="selectedIkePolicy"
                  [ngModelOptions]="{ standalone: true }"
                  class="input-select-custom"
                  [nzLoading]="isLoadingIkePolicy"
                  (ngModelChange)="onIkePolicyChange($event)"
                  [nzDisabled]="disableIkepolicy"
                >
                  <nz-option
                    *ngFor="let data of ikePoliciesList"
                    [nzLabel]="data.label"
                    [nzValue]="data.value"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" class="gutter-row">
            <nz-form-item>
              <nz-form-control>
                <nz-form-label nzFor="name">
                    <span> Remote Endpoint Group&nbsp;</span>
                    (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                    <img
                      nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                      [nzPopoverContent]="
                        'app.vpn.connection-create.remote.tooltip' | i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
                </nz-form-label>
                <nz-select
                  formControlName="remoteEndpointGroup"
                  [(ngModel)]="selectedRemoteEndpointGroup"
                  [ngModelOptions]="{ standalone: true }"
                  class="input-select-custom"
                  [nzLoading]="isLoadingEndpointGroup"
                  (ngModelChange)="onRemoteEndpointGroupChange($event)"
                  [nzDisabled]="disableEndpointGroup"
                >
                  <nz-option
                    *ngFor="let data of remoteEndpointGroupList"
                    [nzLabel]="data.label"
                    [nzValue]="data.value"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12" class="gutter-row">
            <nz-form-item>
              <nz-form-control [nzErrorTip]="preShareKeyErrorTpl">
                <nz-form-label nzFor="name">
                    <span>Pre - Shared Key (PSK) string&nbsp;</span>
                    (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                    <img
                      nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                      [nzPopoverContent]="
                        'app.vpn.connection-create.prekey.tooltip' | i18n
                      "
                      nzPopoverPlacement="bottom"
                      style="margin-left: 5px"
                      src="assets/imgs/pajamas_question.svg"
                      alt=""
                    />
                </nz-form-label>
                  <input
                    nz-input
                    type="text"
                    required
                    appTrim
                    [placeholder]="
                      'app.vpn.connection-create.prekey.input' | i18n
                    "
                    formControlName="preSharedKey"
                    class="input-custom"
                  />
                <ng-template #preShareKeyErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">{{
                    'app.vpns2s.name.error.tooltip' | i18n
                  }}</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </nz-card>

    <nz-card style="border-radius: 8px">
      <h2 class="custom-title">
        {{ 'app.information' | i18n }} Optional Parameter
      </h2>
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item>
            <nz-form-control>
              <nz-form-label nzFor="name">
                  <span>Maximum Transmission Unit size for the connection&nbsp;</span>
                  (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                  <img
                    nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                    [nzPopoverContent]="
                      'app.vpn.connection-create.maxtrans.tooltip' | i18n
                    "
                    nzPopoverPlacement="bottom"
                    style="margin-left: 5px"
                    src="assets/imgs/pajamas_question.svg"
                    alt=""
                  />
              </nz-form-label>

              <input
                nz-input
                type="text"
                value="1500"
                [disabled]="true"
                class="input-custom"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item>
            <nz-form-control>
              <nz-form-label nzFor="name">
                  <span>Dead peer detection actions&nbsp;</span>
                  (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                  <img
                    nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                    [nzPopoverContent]="
                      'app.vpn.connection-create.deadpeer.tooltip' | i18n
                    "
                    nzPopoverPlacement="bottom"
                    style="margin-left: 5px"
                    src="assets/imgs/pajamas_question.svg"
                    alt=""
                  />
              </nz-form-label>
              <input
                nz-input
                type="text"
                value="hold"
                [disabled]="true"
                class="input-custom"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item>
            <nz-form-control>
              <nz-form-label nzFor="name">
                  <span>Dead peer detection interval&nbsp;</span>
                  (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                  <img
                    nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                    [nzPopoverContent]="
                      'app.vpn.connection-create.deadpeer.interval.tooltip'
                        | i18n
                    "
                    nzPopoverPlacement="bottom"
                    style="margin-left: 5px"
                    src="assets/imgs/pajamas_question.svg"
                    alt=""
                  />
              </nz-form-label>
              <input
                nz-input
                type="text"
                value="30"
                [disabled]="true"
                class="input-custom"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item>
            <nz-form-control>
              <nz-form-label nzFor="name">
                  <span>Dead peer detection timeout&nbsp;</span>
                  (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                  <img
                    nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                    [nzPopoverContent]="
                      'app.vpn.connection-create.deadpeer.timeout.tooltip'
                        | i18n
                    "
                    nzPopoverPlacement="bottom"
                    style="margin-left: 5px"
                    src="assets/imgs/pajamas_question.svg"
                    alt=""
                  />
              </nz-form-label>
              <input
                nz-input
                type="text"
                value="120"
                [disabled]="true"
                class="input-custom"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item>
            <nz-form-control>
              <nz-form-label nzFor="name">
                  <span>Initiator state&nbsp;</span>
                  (<span style="color: rgba(252, 16, 16, 1)">*</span>)
                  <img
                    nz-popover [nzPopoverOverlayStyle]="{ maxWidth: '400px' }"
                    [nzPopoverContent]="
                      'app.vpn.connection-create.initstate.tooltip' | i18n
                    "
                    nzPopoverPlacement="bottom"
                    style="margin-left: 5px"
                    src="assets/imgs/pajamas_question.svg"
                    alt=""
                  />
              </nz-form-label>
              <input
                nz-input
                type="text"
                value="bi-directional"
                [disabled]="true"
                class="input-custom"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="7" class="gutter-row">
    <nz-card style="border-radius: 8px" class="card-border">
      <h2 class="custom-title">{{ 'app.config.parameters' | i18n }}</h2>
      <div style="margin-bottom: 50px">
        <div style="margin-bottom: 12px">
          <h3 class="custom-subtitle">Name</h3>
          <span class="text-break text-label">{{ form.value.name }}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">IKE Policy</h3>
          <span class="text-break text-label">{{ selectedIkePolicyName }}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">IPsec Policy</h3>
          <span class="text-break text-label">{{ selectedIpsecPolicyName }}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">VPN Service</h3>
          <span class="text-break text-label">{{ selectedVpnServiceName }}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Peer Remote IP VPN Gateway</h3>
          <span class="text-label text-break">{{ form.value.peerRemoteIp }}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Peer ID VPN Connections</h3>
          <span class="text-label text-break">{{ form.value.peerId }}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Local System Subnet</h3>
          <span class="text-label text-break">{{ selectedLocalEndpointGroupName }}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Remote Local Subnet</h3>
          <span class="text-label text-break">{{ selectedRemoteEndpointGroupName }}</span>
        </div>
        <div style="margin-bottom: 20px">
          <h3 class="custom-subtitle">Pre - Shared Key (PSK) string</h3>
          <span class="text-label text-break">{{ form.value.preSharedKey }}</span>
        </div>
      </div>
      <button
        (click)="handleCreate()"
        nz-button
        nzType="primary"
        class="highlight-button-form"
        style="
          border: none;
          width: 100%;
          display: flex;
          align-items: center;
          gap: 5px;
          justify-content: center;
        "
        nzSize="large"
        [nzLoading]="isLoading"
        [disabled]="form.invalid"
      >
        <img src="assets/imgs/wallet.svg" alt="" />
        <span class="button-text-primary">{{
          'app.button.create' | i18n
        }}</span>
      </button>
    </nz-card>
  </div>
</div>
<div
  class="text-right"
  style="
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  "
></div>
