<ng-container *ngIf="detailCluster; else loadingTpl">
  <ng-container *ngIf="!isEditMode; else submitModeTpl">
    <button nz-button nzType="primary" (click)="onEditCluster()" class="mb-3">Điều chỉnh</button>
  </ng-container>
  <ng-template #submitModeTpl>
    <button nz-button nzType="primary" (click)="onEditCluster()" class="mb-3">Xác nhận</button>
    <button nz-button nzType="primary" nzDanger (click)="onCancelEdit()" class="mb-3">Hủy bỏ</button>
  </ng-template>

  <!-- Thông tin chung -->
  <nz-card class="border-card">
    <h3>Thông tin chung</h3>
    <div nz-row>
      <div nz-col [nzSpan]="24" class="detailtable">
        <nz-table [nzTemplateMode]="true" nzBordered>
          <tbody>
            <tr>
              <td class="w-50">
                <div nz-row>
                  <div nz-col [nzSpan]="8">
                    Tên cluster
                  </div>
                  <div nz-col [nzSpan]="16" class="description-info">
                    <ng-container *ngIf="!isEditMode; else editClusterNameTpl">
                      {{detailCluster.clusterName}}
                    </ng-container>
                    <ng-template #editClusterNameTpl>
                      <input type="text" nz-input [value]="upgradeClusterName" (input)="onEditClusterName($event.target.value)" />
                    </ng-template>
                  </div>
                </div>
              </td>
              <td class="w-50">
                <div nz-row>
                  <div nz-col [nzSpan]="8">
                    Phiên bản Kubernetes
                  </div>
                  <div nz-col [nzSpan]="16" class="description-info">
                    {{detailCluster.currentVersion}}
                    <button nz-button nzType="text" (click)="handleShowModalUpgradeVersion()" class="action-icon borderless"
                      nzTooltipTitle="Nâng cấp" nzTooltipPlacement="top" nz-tooltip>
                        <span nz-icon>
                          <svg viewBox="64 64 896 896" focusable="false"><path d="M868 545.5L536.1 163a31.96 31.96 0 00-48.3 0L156 545.5a7.97 7.97 0 006 13.2h81c4.6 0 9-2 12.1-5.5L474 300.9V864c0 4.4 3.6 8 8 8h60c4.4 0 8-3.6 8-8V300.9l218.9 252.3c3 3.5 7.4 5.5 12.1 5.5h81c6.8 0 10.5-8 6-13.2z" /></svg>
                        </span>
                    </button>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <!-- <td class="w-50"><row-data [value]="detailCluster.apiEndpoint" [label]="'API Endpoint'"></row-data></td> -->
              <td class="w-50">
                <div nz-row>
                  <div nz-col [nzSpan]="8">
                    API Endpoint
                  </div>
                  <div nz-col [nzSpan]="16" class="description-info">
                    <ng-container *ngIf="detailCluster.apiEndpoint?.length <= 30; else truncateEndpointTpl">
                      {{detailCluster.apiEndpoint}}
                    </ng-container>
                    <ng-template #truncateEndpointTpl>
                      <span nz-popover nzPopoverTitle="API Endpoint"
                        [nzPopoverContent]="apiEnpointTpl"
                        nzPopoverPlacement="bottom">
                        {{detailCluster.apiEndpoint | truncateLabel}}
                      </span>

                      <ng-template #apiEnpointTpl>
                        <div style="width: fit-content">{{detailCluster.apiEndpoint}}</div>
                      </ng-template>
                    </ng-template>

                    <button nz-button nzType="text" (click)="handleCopyAPIEndpoint()" class="action-icon borderless"
                      nzTooltipTitle="Sao chép" nzTooltipPlacement="top" nz-tooltip>
                      <span nz-icon nzType="copy" nzTheme="outline"></span>
                    </button>
                  </div>
                </div>
              </td>
              <td class="w-50"><row-data [value]="detailCluster.orderCode" [label]="'Mã đơn hàng'"></row-data></td>
            </tr>

            <tr>
              <td class="w-50"><row-data [value]="detailCluster.createdDate | date: 'dd/MM/yyyy'" [label]="'Ngày khởi tạo'"></row-data></td>
              <td class="w-50"><row-data
                [value]="(detailCluster.createdDate | calculateDate : detailCluster.usageTime) | date: 'dd/MM/yyyy'"
                [label]="'Ngày hết hạn'" [type]="'danger'"></row-data></td>
            </tr>

            <tr>
              <td class="w-50">
                <div nz-row>
                  <div nz-col [nzSpan]="8">Trạng thái</div>
                  <div nz-col [nzSpan]="16">
                    <ng-container *ngIf="detailCluster.serviceStatus | status2ColorPipe as status">
                      <span [ngStyle]="{color: status.color, 'font-weight': 600}">{{status.status}}</span>
                    </ng-container>
                  </div>
                </div>
              </td>
              <td class="w-50"><row-data [value]="detailCluster.description" [label]="'Mô tả'"></row-data></td>
            </tr>

            <tr>
              <td class="w-50">
                <div nz-row>
                  <div nz-col [nzSpan]="8">Cấu hình</div>
                  <div nz-col [nzSpan]="16">
                    <span class="description-info">
                      <a (click)="handleViewKubeConfig()">{{detailCluster.clusterName}}.Kubeconfig</a>
                    </span>
                    <button nz-button nzType="text" (click)="handleDownloadKubeConfig()" class="action-icon borderless"
                      nzTooltipTitle="Tải file cấu hình" nzTooltipPlacement="top" nz-tooltip>
                      <span nz-icon class="primary-color">
                        <svg viewBox="64 64 896 896" focusable="false">
                          <path d="M505.7 661a8 8 0 0012.6 0l112-141.7c4.1-5.2.4-12.9-6.3-12.9h-74.1V168c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v338.3H400c-6.7 0-10.4 7.7-6.3 12.9l112 141.8zM878 626h-60c-4.4 0-8 3.6-8 8v154H214V634c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v198c0 17.7 14.3 32 32 32h684c17.7 0 32-14.3 32-32V634c0-4.4-3.6-8-8-8z" />
                        </svg>
                      </span>
                    </button>
                    <button nz-button nzType="text" (click)="handleSyncClusterInfo()" class="action-icon borderless"
                      nzTooltipTitle="Sao chép" nzTooltipPlacement="top" nz-tooltip (click)="handleCopyKubeConfig()">
                      <span nz-icon nzType="copy" nzTheme="outline"></span>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-card>

  <!-- testing -->
  <nz-card class="border-card">
    <h3></h3>
    <div formArrayName="workerGroup" *ngFor="let control of listFormWorkerGroupUpgrade.controls; let i = index;">
      <ng-container [formGroupName]="i">
        <div nz-row>
          <div nz-col [nzSpan]="24" class="detailtable">
            <nz-table [nzTemplateMode]="true" nzBordered>
              <tbody>
                <tr>
                  <td class="w-50">
                    <div nz-row>
                      <div nz-col [nzSpan]="8">Tên nhóm worker</div>
                      <div nz-col [nzSpan]="16" class="description-info">
                        <ng-container *ngIf="!isEditMode; else editWorkerGroupNameTpl">
                          {{item.workerGroupName}}
                        </ng-container>
                        <ng-template #editWorkerGroupNameTpl>
                          <input nz-input type="text" />
                        </ng-template>
                      </div>
                    </div>
                  </td>
                  <td class="w-50"><row-data [value]="item.minimumNode" [label]="'Tổng số node'"></row-data></td>
                </tr>

                <tr>
                  <td class="w-50"><row-data value="{{item.cpu}} vCPU/{{item.ram}} GB" [label]="'Cấu hình'"></row-data></td>
                  <td class="w-50"><row-data [value]="item.volumeSize" [label]="'Ổ cứng (GB)'"></row-data></td>
                </tr>

                <tr>
                  <td class="w-50">
                    <div nz-row>
                      <div nz-col [nzSpan]="8">Auto scale</div>
                      <div nz-col [nzSpan]="16" class="description-info">
                        <ng-container *ngIf="item.autoScaling; else noScaleTpl">
                          Min Node: {{item.minimumNode}} - Max Node: {{item.maximumNode}}
                          <button nz-button nzType="text" (click)="handleChangeScaleNode(item)" class="action-icon borderless"
                            nzTooltipTitle="Chỉnh sửa" nzTooltipPlacement="top" nz-tooltip>
                            <span nz-icon nzType="edit" nzTheme="outline"></span>
                          </button>
                        </ng-container>
                        <ng-template #noScaleTpl>
                          Tắt
                        </ng-template>
                      </div>
                    </div>
                  </td>

                  <td class="w-50"><row-data [value]="item.autoHealing == true ? 'Bật' : 'Tắt'"
                    [label]="'Auto healing'"></row-data></td>
                </tr>
              </tbody>
            </nz-table>
          </div>
          <ng-container *ngIf="i != (detailCluster.workerGroup.length - 1)">
            <nz-divider nzDashed></nz-divider>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </nz-card>

  <!-- Thông tin worker group -->
  <nz-card class="border-card">
    <h3>Thông tin worker group</h3>
    <ng-container *ngIf="detailCluster.workerGroup.length > 0; else workerlessTpl">
      <ng-container *ngFor="let item of detailCluster.workerGroup; let i=index;">
        <div nz-row>
          <div nz-col [nzSpan]="24" class="detailtable">
            <nz-table [nzTemplateMode]="true" nzBordered>
              <tbody>
                <tr>
                  <td class="w-50">
                    <div nz-row>
                      <div nz-col [nzSpan]="8">Tên nhóm worker</div>
                      <div nz-col [nzSpan]="16" class="description-info">
                        <ng-container *ngIf="!isEditMode; else editWorkerGroupNameTpl">
                          {{item.workerGroupName}}
                        </ng-container>
                        <ng-template #editWorkerGroupNameTpl>
                          <input nz-input type="text" />
                        </ng-template>
                      </div>
                    </div>
                  </td>
                  <td class="w-50"><row-data [value]="item.minimumNode" [label]="'Tổng số node'"></row-data></td>
                </tr>

                <tr>
                  <td class="w-50"><row-data value="{{item.cpu}} vCPU/{{item.ram}} GB" [label]="'Cấu hình'"></row-data></td>
                  <td class="w-50"><row-data [value]="item.volumeSize" [label]="'Ổ cứng (GB)'"></row-data></td>
                </tr>

                <tr>
                  <td class="w-50">
                    <div nz-row>
                      <div nz-col [nzSpan]="8">Auto scale</div>
                      <div nz-col [nzSpan]="16" class="description-info">
                        <ng-container *ngIf="item.autoScaling; else noScaleTpl">
                          Min Node: {{item.minimumNode}} - Max Node: {{item.maximumNode}}
                          <button nz-button nzType="text" (click)="handleChangeScaleNode(item)" class="action-icon borderless"
                            nzTooltipTitle="Chỉnh sửa" nzTooltipPlacement="top" nz-tooltip>
                            <span nz-icon nzType="edit" nzTheme="outline"></span>
                          </button>
                        </ng-container>
                        <ng-template #noScaleTpl>
                          Tắt
                        </ng-template>
                      </div>
                    </div>
                  </td>

                  <td class="w-50"><row-data [value]="item.autoHealing == true ? 'Bật' : 'Tắt'"
                    [label]="'Auto healing'"></row-data></td>
                </tr>
              </tbody>
            </nz-table>
          </div>
          <ng-container *ngIf="i != (detailCluster.workerGroup.length - 1)">
            <nz-divider nzDashed></nz-divider>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #workerlessTpl>
      <nz-empty [nzNotFoundContent]="contentTpl">
        <ng-template #contentTpl>
          Không có thông tin nhóm worker
        </ng-template>
      </nz-empty>
    </ng-template>
  </nz-card>

  <!-- Thông tin network -->
  <nz-card class="border-card">
    <h3>Thông tin network</h3>
    <div nz-row>
      <div nz-col [nzSpan]="24" class="detailtable">
        <nz-table [nzTemplateMode]="true" nzBordered>
          <tbody>
            <tr>
              <td class="w-50"><row-data [value]="detailCluster.networkType | network2label" [label]="'Loại network'"></row-data></td>
              <td class="w-50"><row-data [value]="detailCluster.cidr" [label]="'Pod CIDR'"></row-data></td>
            </tr>

            <tr>
              <td class="w-50"><row-data [value]="vpcNetwork" [label]="'Mạng VPC'"></row-data></td>
              <td class="w-50"><row-data [value]="detailCluster.subnet" [label]="'Subnet'"></row-data></td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-card>

  <!-- Thông tin volume -->
  <nz-card class="border-card">
    <h3>Thông tin volume</h3>
    <div nz-row>
      <div nz-col [nzSpan]="24" class="detailtable">
        <nz-table [nzTemplateMode]="true" nzBordered>
          <tbody>
            <tr>
              <td class="w-50">
                <div nz-row>
                  <div nz-col [nzSpan]="8">Loại</div>
                  <div nz-col [nzSpan]="16" class="description-info">
                    <ng-container *ngIf="!isEditMode; else editVolumeTypeTpl">
                      {{detailCluster.volumeCloudType == 'hdd' ? 'HDD' : 'SSD'}}
                    </ng-container>
                    <ng-template #editVolumeTypeTpl>
                      <nz-radio-group [(ngModel)]="upgradeVolumeType">
                        <label nz-radio nzValue="hdd">HDD</label>
                        <label nz-radio nzValue="sdd">SDD</label>
                      </nz-radio-group>
                    </ng-template>
                  </div>
                </div>
              </td>

              <td class="w-50">
                <div nz-row>
                  <div nz-col [nzSpan]="8">Quota (GB)</div>
                  <div nz-col [nzSpan]="16" class="description-info">
                    <ng-container *ngIf="!isEditMode; else editVolumeSizeTpl">
                      {{detailCluster.volumeCloudSize}}
                    </ng-container>
                    <ng-template #editVolumeSizeTpl>
                      <input type="text" nz-input [value]="upgradeVolumeCloudSize" (keypress)="isNumber($event)"
                        (input)="onChangeVolumeSize($event.target.value)" />
                    </ng-template>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-card>

</ng-container>

<ng-template #loadingTpl>
  loading ...
</ng-template>

<!-- modal upgrade -->
<nz-modal [(nzVisible)]="showModalUpgradeVersion" nzTitle="Nâng cấp phiên bản" (nzOnCancel)="handleCancelShowModalUpgrade()">
  <div *nzModalContent>
    <ng-container *ngIf="detailCluster.upgradeVersion?.length > 0; else noAvailableVersionTpl">
      <p class="description-info">Lưu ý: Chỉ có thể nâng cấp phiên bản, không thực hiện việc hạ phiên bản.</p>
      <p>Để tránh phát sinh vấn đề trong quá trình xử lý, chỉ nâng cấp phiên bản lần lượt theo thứ tự.</p>
      <div>
        <nz-select nzPlaceHolder="Chọn phiên bản nâng cấp" [(ngModel)]="upgradeVersionCluster" class="w-100">
          <nz-option *ngFor="let item of listOfK8sVersion" [nzLabel]="item.k8sVersion" [nzValue]="item.k8sVersion"
          [nzDisabled]="item.k8sVersion | checkUpgradeVersion : detailCluster.upgradeVersion"></nz-option>
        </nz-select>
      </div>
    </ng-container>
    <ng-template #noAvailableVersionTpl>
      Bạn đang sử dụng phiên bản <b>{{detailCluster.currentVersion}}</b> mới nhất
    </ng-template>
  </div>
  <div *nzModalFooter>
    <ng-container *ngIf="detailCluster.upgradeVersion?.length > 0; else noAvailableVersionFooterTpl">
      <button nz-button nzType="default" (click)="handleCancelShowModalUpgrade()">Hủy bỏ</button>
      <button nz-button nzType="primary" (click)="handleUpgadeVersionCluster()"
      [nzLoading]="isUpgradingVersion" [disabled]="upgradeVersionCluster == null || upgradeVersionCluster == undefined">Xác nhận</button>
    </ng-container>
    <ng-template #noAvailableVersionFooterTpl>
      <button nz-button nzType="default" (click)="handleCancelShowModalUpgrade()">Đóng</button>
    </ng-template>
  </div>
</nz-modal>

<!-- modal view kubeconfig -->
<nz-modal [(nzVisible)]="showModalKubeConfig" [nzTitle]="viewKubeConfigTitle"
  [nzContent]="viewKubeConfigBodyTpl" [nzFooter]="viewKubeConfigFooterTpl" (nzOnCancel)="handleCancelModalViewKubeConfig()">
  <ng-template #viewKubeConfigTitle>
    <div>
      <label>Cluster {{detailCluster.clusterName}} Kubenetes Config</label>
      <div class="modal-btn">
        <button nz-button nzType="text" class="borderless" (click)="handleCopyKubeConfig()" style="height: fit-content;"
          nzTooltipTitle="Sao chép" nzTooltipPlacement="top" nz-tooltip>
          <span nz-icon nzType="copy" nzTheme="outline" class="primary-color"></span>
        </button>
        <button nz-button nzType="text" class="borderless" (click)="handleDownloadKubeConfig()" style="height: fit-content;"
          nzTooltipTitle="Tải file cấu hình" nzTooltipPlacement="top" nz-tooltip>
          <span nz-icon class="primary-color">
            <svg viewBox="64 64 896 896" focusable="false">
              <path d="M505.7 661a8 8 0 0012.6 0l112-141.7c4.1-5.2.4-12.9-6.3-12.9h-74.1V168c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v338.3H400c-6.7 0-10.4 7.7-6.3 12.9l112 141.8zM878 626h-60c-4.4 0-8 3.6-8 8v154H214V634c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v198c0 17.7 14.3 32 32 32h684c17.7 0 32-14.3 32-32V634c0-4.4-3.6-8-8-8z" />
            </svg>
          </span>
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #viewKubeConfigBodyTpl>
    <div class="modal-view">
      <pre>{{yamlString}}</pre>
    </div>
  </ng-template>

  <ng-template #viewKubeConfigFooterTpl>
    <button nz-button nzType="primary" (click)="handleCancelModalViewKubeConfig()">
      <span nz-icon nzType="check" nzTheme="outline"></span>
      Đóng
    </button>
  </ng-template>
</nz-modal>
