<page-header [breadcrumb]="breadcrumb" [action]="action"
             [title]="'app.backup.vm.create.button'|i18n">
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="iconTemplate">
      <nz-breadcrumb-item><a [routerLink]="['/']">{{ 'app.breadcrumb.home'|i18n }}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ 'app.breadcrumb.infrastructure.service'|i18n }}</nz-breadcrumb-item>
      <nz-breadcrumb-item>Backup</nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="'/app-smart-cloud/backup-vm'">{{ 'app.backup.vm.breadcrumb'|i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ 'app.backup.vm.create.button'|i18n }}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #iconTemplate>
      <one-portal-svg-icon [icon]="'icon_breadcrumb'"></one-portal-svg-icon>
    </ng-template>
  </ng-template>

  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (regionChange)="onRegionChanged($event)"
                              (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown #projectCombobox (valueChanged)="projectChanged($event)"
                               (userChanged)="userChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <nz-row nzGutter="24">
    <nz-col nzSpan="16">
      <nz-card style="border-radius: 8px;">
        <span class="text-card-header">{{ 'app.backup.vm.ìnformation'|i18n }}</span>
        <form nz-form [formGroup]="validateForm" nzLayout="vertical">
          <nz-row nzGutter="24" style="margin-top: 25px;">
            <nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>
                  <span>{{ 'app.table.backup.vm.name'|i18n }} (<span style="color:#FF0000;">*</span>)</span>
                  <img nz-popover
                       [nzPopoverContent]="'app.backup.vm.tooltip.name'|i18n"
                       nzPopoverPlacement="bottom" style="margin-left: 5px;"
                       src="assets/imgs/pajamas_question.svg" alt="" />
                </nz-form-label>
                <nz-form-control nzDisableAutoTips [nzErrorTip]="nameBackupError">
                  <input nz-input class="input-custom"
                         appAutofocus
                         formControlName="backupName"
                         [placeholder]="'app.backup.vm.create.placeholder'|i18n"
                         [maxlength]="50" />
                  <ng-template #nameBackupError let-control>
                    <ng-container *ngIf="control.hasError('required')">{{ 'app.backup.vm.create.name.required'|i18n }}
                    </ng-container>
                    <ng-container
                      *ngIf="control.hasError('duplicateName')">{{ 'app.backup.vm.create.name.duplicateName'|i18n }}
                    </ng-container>
                    <ng-container *ngIf="control.hasError('pattern')">{{ 'app.backup.vm.create.name.pattern'|i18n }}
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="12">

              <nz-form-item>
                <nz-form-label>
                  <span>{{ 'app.instances.name'|i18n }} (<span style="color:#FF0000;">*</span>)</span>
                  <img nz-popover
                       [nzPopoverContent]="'app.backup.vm.tooltip.vm'|i18n"
                       nzPopoverPlacement="bottom" style="margin-left: 5px;"
                       src="assets/imgs/pajamas_question.svg" alt="" />
                </nz-form-label>
                <nz-form-control nzDisableAutoTips [nzErrorTip]="instanceError">
                  <nz-select (ngModelChange)="onSelectedInstance($event)"
                             [nzPlaceHolder]="'volume.modal.attach.title'|i18n"
                             nzSize="large"
                             [nzLoading]="isLoadingInstance"
                             [nzDisabled]="isLoadingInstance"
                             [(ngModel)]="instanceSelected"
                             formControlName="instanceId">
                    <nz-option *ngFor="let i of listInstances" [nzValue]="i.id" [nzLabel]="i.name"></nz-option>
                  </nz-select>
                  <ng-template #instanceError let-control>
                    <ng-container
                      *ngIf="control.hasError('required')">{{ 'volume.notification.input.select.vm'|i18n }}
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col nzSpan="12">

              <nz-form-item>
                <nz-form-label>
                  <span>{{ 'app.info.backup.vm.storage.flavor'|i18n }}</span>
                </nz-form-label>
                <nz-form-control>
                  <nz-input-group nzAddOnAfter="GB" style="width: 100%;">
                    <input nz-input class="input-custom" [value]="instance?.storage" [disabled]="true" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </nz-col>

            <nz-col nzSpan="12">

              <nz-form-item>
                <nz-form-label>
                  <span>{{ 'app.instances.OS'|i18n }}</span>
                </nz-form-label>
                <nz-form-control>
                  <input nz-input class="input-custom" [value]="instance?.imageName" [disabled]="true" />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col nzSpan="12">
              <nz-row nzGutter="24">
                <nz-col nzSpan="16">
                  <span class="text-label">{{ 'app.backup.vm.bought'|i18n }}</span>
                </nz-col>
                <nz-col nzSpan="8" style="text-align: end;">
                  <span class="text-label" *ngIf="projectDetail == undefined || projectDetail == null">0 GB</span>
                  <span class="text-label"
                        *ngIf="projectDetail != undefined">{{ projectDetail?.cloudProject.quotaBackupVolumeInGb }}
                    GB</span>
                </nz-col>
              </nz-row>
              <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
              <nz-row nzGutter="24">
                <nz-col nzSpan="16">
                  <span class="text-label">{{ 'app.backup.package.storage.used'|i18n }}</span>
                </nz-col>
                <nz-col nzSpan="8" style="text-align: end;">
                  <span class="text-label" *ngIf="projectDetail == undefined || projectDetail == null">0 GB</span>
                  <span class="text-label"
                        *ngIf="projectDetail != undefined">{{ projectDetail?.cloudProjectResourceUsed?.backup }}
                    GB</span>
                </nz-col>
              </nz-row>
              <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
              <nz-row nzGutter="24">
                <nz-col nzSpan="16">
                  <span class="text-label">{{ 'app.backup.package.storage.remaining'|i18n }}</span>
                </nz-col>
                <nz-col nzSpan="8" style="text-align: end;">
                  <span class="text-label" *ngIf="projectDetail == undefined || projectDetail == null">0 GB</span>
                  <span class="text-label"
                        *ngIf="projectDetail != undefined">{{ projectDetail?.cloudProject?.quotaBackupVolumeInGb - projectDetail?.cloudProjectResourceUsed?.backup }}
                    GB</span>
                </nz-col>
              </nz-row>
            </nz-col>
            <nz-col nzSpan="12">
              <nz-form-item style="padding-top: 10px;">
                <nz-form-label>
                  <span>Security Group</span>
                  <img nz-popover
                       [nzPopoverContent]="'app.backup.vm.tooltip.security.group'|i18n"
                       nzPopoverPlacement="bottom" style="margin-left: 5px;"
                       src="assets/imgs/pajamas_question.svg" alt="" />
                </nz-form-label>
                <nz-form-control>
                  <nz-select formControlName="securityGroupToBackupIds"
                             nzSize="large"
                             [(ngModel)]="securityGroupSelected"
                             [nzPlaceHolder]="'Security Group'"
                             [nzShowSearch]="false"
                             nzMode="multiple"

                             [nzLoading]="isLoading">
                    <nz-option *ngFor="let i of securityGroups"
                               [nzLabel]="i.name"
                               [nzValue]="i.id" [nzDisabled]="i.name.toUpperCase() === 'DEFAULT'" />
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="24">
            <nz-col nzSpan="12" style="top: 10px;">
              <nz-form-item>
                <nz-form-label>
                  <span>{{ 'app.info.backup.vm.description'|i18n }}</span>
                </nz-form-label>
                <nz-form-control>
                  <nz-textarea-count [nzMaxCharacterCount]="255">
                    <textarea nz-input
                              class="input-custom"
                              [maxlength]="255"
                              [nzAutosize]="{ minRows: 4, maxRows: 7 }"
                              [placeholder]="'app.input.des'|i18n"
                              formControlName="description"></textarea>
                  </nz-textarea-count>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzSpan="12">
              <nz-form-item *ngIf="volumeAttachments.length > 0" style="margin-top: 10px;">
                <nz-form-label>
                  <span>{{ 'app.info.backup.vm.external.volume'|i18n }}</span>
                  <img nz-popover
                       [nzPopoverContent]="'app.backup.vm.tooltip.volume.attach'|i18n"
                       nzPopoverPlacement="bottom" style="margin-left: 5px;"
                       src="assets/imgs/pajamas_question.svg" alt="" />
                </nz-form-label>
                <nz-form-control>
                  <nz-select formControlName="volumeToBackupIds"
                             nzSize="large"
                             [nzPlaceHolder]="'app.info.backup.vm.external.volume'|i18n"
                             [nzShowSearch]="false"
                             nzMode="multiple"
                             [nzLoading]="isLoading" (ngModelChange)="onSelectedVolume($event)">
                    <nz-option *ngFor="let i of volumeAttachments"
                               [nzLabel]="i.name"
                               [nzValue]="i.id" />
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <div
            *ngIf="(instance?.storage + sizeOfVlAttach) > (projectDetail?.cloudProject.quotaBackupVolumeInGb - projectDetail?.cloudProjectResourceUsed.backup)">
            <nz-alert nzType="warning"
                      [nzMessage]="titleMessage"
                      nzShowIcon></nz-alert>
            <ng-template #titleMessage>
              <span
                style="color: #FF0000;">{{
                  'app.backup.vm.alert.storage.vpc'|i18n:
                    { storage: (instance?.storage + sizeOfVlAttach) }
                }} <a
                  [routerLink]="'/app-smart-cloud/project/detail/' + project">{{ projectName }}</a> {{ 'schedule.backup.alert.storage.vpc1'|i18n }}</span>
            </ng-template>
          </div>
        </form>
      </nz-card>
    </nz-col>
    <nz-col nzSpan="8">
      <nz-affix [nzOffsetTop]="72">
        <nz-card class="border-card">
          <span class="text-card-header">{{ 'app.config.parameters'|i18n }}</span>
          <div style="margin-top: 10px" class="text-value">{{ 'app.table.backup.vm.name'|i18n }}</div>
          <div style="margin-top: 10px" class="text-label">
            {{ validateForm.controls.backupName.value }}
          </div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <div style="margin-top: 10px" class="text-value">{{ 'app.instances.name'|i18n }}</div>
          <div style="margin-top: 10px" class="text-label">{{ instance?.name }}</div>
          <div style="margin-top: 10px" class="text-label">{{ 'app.info.backup.vm.storage.flavor'|i18n }}
            : {{ instance?.storage }}GB
          </div>
          <nz-divider style="margin: 10px 0" nzType="horizontal" *ngIf="volumeAttachSelected.length > 0"></nz-divider>
          <div style="margin-top: 10px" class="text-value"
               *ngIf="volumeAttachSelected.length > 0">{{ 'app.info.backup.vm.external.volume'|i18n }}
          </div>
          <div style="margin-top: 10px" class="text-label"
               *ngFor="let data of volumeAttachSelected">{{ data?.name }}  {{ data?.sizeInGB }} GB
          </div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <div style="margin-top: 10px" class="text-value">{{ 'app.info.backup.vm.total.storage'|i18n }}</div>
          <div style="margin-top: 10px" class="text-label">
            <span>{{ instance?.storage + sizeOfVlAttach }} GB</span>
          </div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <div style="margin-top: 10px" class="text-value">{{ 'app.backup.vm.storage.remaining'|i18n }}</div>
          <div style="margin-top: 10px"
               class="text-label">{{ projectDetail?.cloudProject?.quotaBackupVolumeInGb - projectDetail?.cloudProjectResourceUsed?.backup }}
            GB
          </div>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <nz-row>
            <nz-col style="width: 100%">
              <button style="width: 100%" nz-button nzSize="large" nzType="primary" (click)="createBackupVmNormal()"
                      [nzLoading]="isLoading"
                      [disabled]="validateForm.invalid || ((instance?.storage + sizeOfVlAttach) > (projectDetail?.cloudProject.quotaBackupVolumeInGb - projectDetail?.cloudProjectResourceUsed.backup))">
                <img src="assets/imgs/wallet.svg" style="margin-right: 5px; padding-bottom: 5px;" alt="" />
                <span [style.color]="validateForm.invalid ? 'gray' : 'white'">{{ 'app.button.create' | i18n }}</span>
              </button>
            </nz-col>
          </nz-row>
        </nz-card>
      </nz-affix>
    </nz-col>
  </nz-row>
</nz-content>
