<span class="titlecard-custom">{{ 'app.set.bucket.cors' | i18n }}</span>
<div style="margin-top: 20px; margin-bottom: 10px" class="text-label">
  <span>{{ 'app.bucket.cors.intro' | i18n }}</span>
</div>
<div class="d-flex justify-content-between">
  <nz-input-group
    style="margin-right: 8px; width: 25%; border-radius: 8px"
    [nzPrefix]="prefixIconSearch"
    nzSize="large"
  >
    <input
      name="name"
      nz-input
      [placeholder]="'app.button.search' | i18n"
      [(ngModel)]="value"
      #searchBox
      (keyup.enter)="search(searchBox.value)"
      (ngModelChange)="searchDelay.next(false)"
    />
  </nz-input-group>
  <ng-template #prefixIconSearch>
    <img src="assets/imgs/search.svg" alt="" (click)="searchBucketCors()" />
  </ng-template>
  <button *ngIf="isCreateBucketCORSPermission" nz-button nzType="primary" (click)="modalCreate()">
    <img
      style="padding-right: 10px; margin-top: -4px"
      src="assets/imgs/add-circle.svg"
      alt=""
    />
    <span>{{ 'app.create.bucket.cors' | i18n }}</span>
  </button>
</div>
<nz-table
  style="margin-top: 10px"
  #rowSelectionTable
  nzShowSizeChanger
  [nzFrontPagination]="false"
  [nzData]="listBucketCors"
  [nzTotal]="total"
  [(nzPageIndex)]="pageNumber"
  [(nzPageSize)]="pageSize"
  (nzPageIndexChange)="searchBucketCors()"
  (nzPageSizeChange)="searchBucketCors()"
  nzTableLayout="fixed"
  [nzLoading]="loading"
>
  <thead>
    <tr>
      <th [nzWidth]="300">Domain</th>
      <th [nzWidth]="300">Allow Methods</th>
      <th [nzWidth]="300">Allow Headers</th>
      <th [nzWidth]="300">Access Control Max Age</th>
      <th [nzWidth]="300">{{ 'app.text.operation' | i18n }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of listBucketCors">
      <tr>
        <td>
          {{ item.allowedOrigins.join(', ') }}
        </td>
        <td>{{ item.allowedMethods.join(', ') }}</td>
        <td>{{ item.allowedHeaders.join(', ') }}</td>
        <td>{{ item.maxAgeSeconds }}</td>
        <td nzRight>
          <img
          *ngIf="('objectstorages:OSUpdateBucketCORS' | IsPermissionPipe)"
            src="assets/imgs/edit-2.svg"
            alt=""
            (click)="modalUpdate(item)"
            style="cursor: pointer; margin-right: 16px"
            [nz-tooltip]="'app.text.edit' | i18n"
          />
          <img
          *ngIf="('objectstorages:OSDeleteBucketCORS' | IsPermissionPipe)"
            src="assets/imgs/delete.svg"
            alt=""
            (click)="modalDelete(item)"
            style="cursor: pointer; margin-right: 16px"
            [nz-tooltip]="'app.text.delete' | i18n"
          />
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>

<!-- Create -->
<nz-modal
  [(nzVisible)]="isVisibleCreate"
  [nzTitle]="'app.create.bucket.cors' | i18n"
  (nzOnCancel)="handleCancelCreate()"
>
  <form nz-form [formGroup]="form">
    <ng-container *nzModalContent>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="domainErrorTpl">
          <div class="text-label">Domain (<span class="text-red">*</span>)</div>
          <input
            style="margin-top: 5px"
            class="input-custom"
            nz-input
            placeholder=""
            [maxlength]="253"
            [(ngModel)]="domain"
            [ngModelOptions]="{ standalone: true }"
            formControlName="domain"
            (keydown)="preventWhitespace($event)"
          />
          <ng-template #domainErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">{{
              'app.bucket.cors.domain.require' | i18n
            }}</ng-container>
            <ng-container *ngIf="control.hasError('pattern')">{{
              'validation.domain.pattern' | i18n
            }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <div class="text-label">Allowed Method</div>
      <div style="display: flex">
        <div style="flex: 1">
          <label
            class="text-label"
            nz-checkbox
            [(ngModel)]="get"
            [ngModelOptions]="{ standalone: true }"
            >GET</label
          >
        </div>
        <div class="text-center" style="flex: 1">
          <label
            class="text-label"
            nz-checkbox
            [(ngModel)]="post"
            [ngModelOptions]="{ standalone: true }"
            >POST</label
          >
        </div>
        <div class="text-right" style="flex: 1">
          <label
            class="text-label"
            nz-checkbox
            [(ngModel)]="put"
            [ngModelOptions]="{ standalone: true }"
            >PUT</label
          >
        </div>
      </div>
      <div style="display: flex; margin-bottom: 16px">
        <div style="flex: 1">
          <label
            class="text-label"
            nz-checkbox
            [(ngModel)]="delete"
            [ngModelOptions]="{ standalone: true }"
            >DELETE</label
          >
        </div>
        <div class="text-center" style="flex: 1">
          <label
            class="text-label"
            nz-checkbox
            [(ngModel)]="head"
            [ngModelOptions]="{ standalone: true }"
            >HEAD</label
          >
        </div>
        <div style="flex: 1"></div>
      </div>
      <div class="text-label">
        Allowed Headers<img
          style="margin-left: 5px"
          src="assets/imgs/ei_plus.svg"
          alt=""
          (click)="addHeaderName()"
        />
      </div>
      <div *ngFor="let item of listHeaderName">
        <div style="display: flex">
          <div style="flex: 9">
            <input
              style="margin-bottom: 8px"
              [ngStyle]="{
                border: item.name.includes(' ') ? '1px solid #ff4d4f' : ''
              }"
              class="input-custom"
              nz-input
              placeholder="Header name"
              [(ngModel)]="item.name"
              [ngModelOptions]="{ standalone: true }"
              (keydown)="preventWhitespace($event)"
            />
            <div
              style="color: #ff4d4f; margin-top: -8px"
              *ngIf="item.name.includes(' ')"
            >
              {{ 'validation.header.name.pattern' | i18n }}
            </div>
          </div>
          <div
            style="margin-left: 10px"
            class="d-flex align-items-center justify-content-end"
          >
            <img
              style="cursor: pointer"
              src="assets/imgs/trash1.svg"
              [nz-tooltip]="'app.text.delete' | i18n"
              alt=""
              (click)="delelteHeaderName(item.id)"
            />
          </div>
        </div>
      </div>
      <nz-form-item>
        <nz-form-control>
          <div style="margin-top: 16px" class="text-label">
            Access Control Max Age
          </div>
          <nz-input-number
            style="width: 100%; margin-left: 0px; margin-top: 5px"
            nzSize="large"
            [nzMax]="2147483647"
            [(ngModel)]="bucketCorsCreate.maxAgeSeconds"
            [ngModelOptions]="{ standalone: true }"
            (keydown)="onKeyDown($event)"
          />
        </nz-form-control>
      </nz-form-item>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button (click)="handleCancelCreate()">
        <img
          style="padding-right: 10px; margin-top: -4px"
          src="assets/imgs/cancel.svg"
          alt=""
        />{{ 'app.button.cancel' | i18n }}
      </button>
      <button
        nz-button
        nzType="primary"
        [nzLoading]="isLoadingCreate"
        (click)="handleOkCreate()"
        [disabled]="form.invalid"
      >
        <img
          *ngIf="isLoadingCreate === false"
          style="padding-right: 10px; margin-top: -4px"
          src="assets/imgs/confirm.svg"
          alt=""
        />{{ 'app.button.confirm' | i18n }}
      </button>
    </div>
  </form>
</nz-modal>

<!-- Delete -->
<nz-modal
  [(nzVisible)]="isVisibleDelete"
  [nzTitle]="'app.delete.cors' | i18n"
  (nzOnCancel)="handleCancelDelete()"
>
  <ng-container *nzModalContent>
    <div>{{ 'app.alert.delete.cors' | i18n }}</div>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelDelete()">
      <img
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/cancel.svg"
        alt=""
      />{{ 'app.button.cancel' | i18n }}
    </button>
    <button
      nz-button
      nzType="primary"
      [nzLoading]="isLoadingDelete"
      (click)="handleOkDelete()"
    >
      <img
        *ngIf="isLoadingDelete === false"
        style="padding-right: 10px; margin-top: -4px"
        src="assets/imgs/confirm.svg"
        alt=""
      />
      {{ 'app.button.confirm' | i18n }}
    </button>
  </div>
</nz-modal>

<!-- Update -->
<nz-modal
  [(nzVisible)]="isVisibleUpdate"
  [nzTitle]="('app.text.edit' | i18n) + ' Bucket CORS'"
  (nzOnCancel)="handleCancelUpdate()"
>
  <form nz-form [formGroup]="form">
    <ng-container *nzModalContent>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="domainErrorTpl">
          <div class="text-label">Domain (<span class="text-red">*</span>)</div>
          <input
            style="margin-top: 5px"
            class="input-custom"
            nz-input
            placeholder=""
            [(ngModel)]="domain"
            [ngModelOptions]="{ standalone: true }"
            formControlName="domain"
          />
          <ng-template #domainErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">{{
              'app.bucket.cors.domain.require' | i18n
            }}</ng-container>
            <ng-container *ngIf="control.hasError('pattern')">{{
              'validation.domain.pattern' | i18n
            }}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <div class="text-label">Allowed Method</div>
      <div style="display: flex">
        <div style="flex: 1">
          <label
            class="text-label"
            nz-checkbox
            [(ngModel)]="get"
            [ngModelOptions]="{ standalone: true }"
            >GET</label
          >
        </div>
        <div class="text-center" style="flex: 1">
          <label
            class="text-label"
            nz-checkbox
            [(ngModel)]="post"
            [ngModelOptions]="{ standalone: true }"
            >POST</label
          >
        </div>
        <div class="text-right" style="flex: 1">
          <label
            class="text-label"
            nz-checkbox
            [(ngModel)]="put"
            [ngModelOptions]="{ standalone: true }"
            >PUT</label
          >
        </div>
      </div>
      <div style="display: flex; margin-bottom: 16px">
        <div style="flex: 1">
          <label
            class="text-label"
            nz-checkbox
            [(ngModel)]="delete"
            [ngModelOptions]="{ standalone: true }"
            >DELETE</label
          >
        </div>
        <div class="text-center" style="flex: 1">
          <label
            class="text-label"
            nz-checkbox
            [(ngModel)]="head"
            [ngModelOptions]="{ standalone: true }"
            >HEAD</label
          >
        </div>
        <div style="flex: 1"></div>
      </div>
      <div class="text-label">
        Allowed Headers<img
          style="margin-left: 5px"
          src="assets/imgs/ei_plus.svg"
          alt=""
          (click)="addHeaderName()"
        />
      </div>
      <div *ngFor="let item of listHeaderName">
        <div style="display: flex">
          <div style="flex: 9">
            <input
              style="margin-bottom: 8px"
              class="input-custom"
              nz-input
              [ngModelOptions]="{ standalone: true }"
              placeholder="Header name"
              [(ngModel)]="item.name"
            />
          </div>
          <div
            style="margin-left: 10px"
            class="d-flex align-items-center justify-content-end"
          >
            <img
              style="cursor: pointer"
              src="assets/imgs/trash1.svg"
              [nz-tooltip]="'app.text.delete' | i18n"
              alt=""
              (click)="delelteHeaderName(item.id)"
            />
          </div>
        </div>
      </div>
      <nz-form-item>
        <nz-form-control>
          <div style="margin-top: 16px" class="text-label">
            Access Control Max Age
          </div>
          <nz-input-number
            style="width: 100%; margin-left: 0px; margin-top: 5px"
            [ngModelOptions]="{ standalone: true }"
            nzSize="large"
            [nzMax]="2147483647"
            [(ngModel)]="maxAgeSeconds"
            (keydown)="onKeyDown($event)"
          />
        </nz-form-control>
      </nz-form-item>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button (click)="handleCancelUpdate()">
        <img
          style="padding-right: 10px; margin-top: -4px"
          src="assets/imgs/cancel.svg"
          alt=""
        />{{ 'app.button.cancel' | i18n }}
      </button>
      <button
        nz-button
        nzType="primary"
        [nzLoading]="isLoadingUpdate"
        [disabled]="form.invalid"
        (click)="handleOkUpdate()"
      >
        <img
          *ngIf="isLoadingUpdate === false"
          style="padding-right: 10px; margin-top: -4px"
          src="assets/imgs/confirm.svg"
          alt=""
        />{{ 'app.button.confirm' | i18n }}
      </button>
    </div>
  </form>
</nz-modal>
