<page-header
  [breadcrumb]="breadcrumb"
  [action]="action"
  [title]="'Xem chi tiết IPsec Policy'"
>
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Trang chủ</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-smart-cloud/schedule/snapshot/list']"
          >Dịch vụ hạ tầng</a
        >
      </nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/app-smart-cloud/vpn-site-to-site/manage']"
        >VPN site to site</a
      ></nz-breadcrumb-item>
      <nz-breadcrumb-item>Xem chi tiết IPsec Policy</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown
        (valueChanged)="onRegionChange($event)"
      ></region-select-dropdown>
      <project-select-dropdown
        [regionId]="region"
        (valueChanged)="onProjectChange($event)"
      ></project-select-dropdown>
    </div>
  </ng-template>
</page-header>

<div nz-row [nzGutter]="16">
  <div nz-col [nzSpan]="24" class="gutter-row">
    <nz-card style="border-radius: 8px;">
      <h2 class="custom-title">Thông tin IPsec Policy</h2>
      <form nz-form [nzLayout]="'vertical'">
        <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control>
            <nz-form-label nzFor="name" nzRequired>Name</nz-form-label>
            <input
              nz-input
              type="text"
              value="{{ipsecPolicy?.name}}"  [disabled]="true"
            />
            
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control>
            <nz-form-label nzRequired >Authorization Algorithm</nz-form-label>
            <input
              nz-input
              type="text"
              value="{{ipsecPolicy?.
                authorizationAlgorithm}}"  [disabled]="true"
            />
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control nzErrorTip="File System không đuợc để trống!">
            <nz-form-label nzFor="name" nzRequired>Encryption Mode</nz-form-label>
            <input
            nz-input
            type="text"
            value="{{ipsecPolicy?.
              encapsulationMode}}"  [disabled]="true"
          />
            
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control>
            <nz-form-label nzFor="name" nzRequired >Encryption Algorithm</nz-form-label>
            <input
            nz-input
            type="text"
            value="{{ipsecPolicy?.
              encryptionAlgorithm}}"  [disabled]="true"
          />
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control nzErrorTip="File System không đuợc để trống!">
            <nz-form-label nzFor="name" nzRequired>Lifetime Units</nz-form-label>
            <input
            nz-input
            type="text"
            value="{{ipsecPolicy?.
              lifetimeUnit}}"  [disabled]="true"
          />
            
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control>
            <nz-form-label nzFor="name" nzRequired >Lifetime Value</nz-form-label>
            <input
            nz-input
            type="text"
            value="{{ipsecPolicy?.
              lifetimeValue}}"  [disabled]="true"
          />
            
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control nzErrorTip="File System không đuợc để trống!">
            <nz-form-label nzFor="name" nzRequired>Perfect Forward Secrecy</nz-form-label>
            <input
            nz-input
            type="text"
            value="{{ipsecPolicy?.
              perfectForwardSecrecy}}"  [disabled]="true"
          />
          </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" class="gutter-row">
          <nz-form-item >
            <nz-form-control>
            <nz-form-label nzFor="name" nzRequired >Transform Protocol</nz-form-label>
            <input
            nz-input
            type="text"
            value="{{ipsecPolicy?.
              transformProtocol}}"  [disabled]="true"
          />
          </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      </form>
    </nz-card>
  </div>
</div>
<div
  class="text-right"
  style="
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  "
>
</div>
