<page-header [breadcrumb]="breadcrumb"
             [action]="action" [title]="'app.breadcrumb.list.backup.volume'|i18n">
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="iconTemplate">
      <nz-breadcrumb-item><a [routerLink]="'/'">{{ 'app.breadcrumb.home'|i18n }}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ 'app.breadcrumb.infrastructure.service'|i18n }}</nz-breadcrumb-item>
      <nz-breadcrumb-item>Backup</nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ 'volume.title.breadcrumb.backup.volume'|i18n }}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #iconTemplate>
      <one-portal-svg-icon [icon]="'icon_breadcrumb'"></one-portal-svg-icon>
    </ng-template>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (regionChange)="onRegionChanged($event)" (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown #projectCombobox [regionId]="region"
                               (valueChanged)="projectChanged($event)"
                               (userChanged)="projectChanged($event)"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content>
  <nz-card>
    <ng-container [ngSwitch]="isBegin">
      <ng-container *ngSwitchCase="false">
        <nz-row nzJustify="space-between">
          <nz-col nzSpan="16">
            <nz-select [(ngModel)]="statusSelected"
                       nzSize="large"
                       style="margin-right: 10px; width: 170px;"
                       (ngModelChange)="onChange($event)"
                       nzPlaceHolder="{{ 'app.backup.volume.search.status.tooltip' | i18n }}">
              <nz-option *ngFor="let item of status" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
            </nz-select>
            <nz-input-group style="width: 300px;" [nzPrefix]="prefixIconSearch" nzSize="large">
              <input name="name"
                     nz-input
                     [(ngModel)]="value"
                     (input)="onChange($event)"
                     (keydown.enter)="onEnter($event)"
                     placeholder="{{ 'app.backup.volume.search.tooltip' | i18n }}" />
            </nz-input-group>
            <ng-template #prefixIconSearch>
              <img
                src="assets/imgs/search.svg"
                alt=""
                style="cursor: pointer"
                nz-tooltip="{{ 'volume.tooltip.title.filter.img' | i18n }}" />
            </ng-template>
          </nz-col>
          <nz-col nzSpan="8" style="flex:none;">
            <button *ngIf="isCreateOrder" nz-button nzType="primary" nzSize="large" (click)="navigateToCreate()">
              <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/add-circle.svg" alt="" />
              <span class="button-text-primary">{{ 'app.backup.volume.btn.create' | i18n }}</span>
            </button>
          </nz-col>
        </nz-row>
        <nz-table #fixedTable
                  style="margin-top: 20px;"
                  [nzData]="response?.records"
                  nzShowSizeChanger
                  [nzFrontPagination]="false"
                  [nzTotal]="response?.totalCount"
                  [nzPageSize]="response?.pageSize"
                  [nzPageIndex]="response?.currentPage"
                  [nzLoading]="isLoading"
                  (nzPageSizeChange)="onPageSizeChange($event)"
                  (nzPageIndexChange)="onPageIndexChange($event)">

          <thead>
          <tr>
            <th>{{'app.backup.volume.name'|i18n}}</th>
            <th>{{'app.backup.volume.root'|i18n}}</th>
            <th>{{'app.info.backup.vm.total.storage'|i18n}} (GB)</th>
            <th *ngIf="typeVpc == 0">{{'app.backup.volume.backup.package'|i18n}}</th>
            <th>{{'app.service.creation-date'|i18n}}</th>
            <th>{{'app.service.expiration-date'|i18n}}</th>
            <th>{{'app.text.status'|i18n}}</th>
            <!--            <th>Trạng thái tác vụ</th>-->
            <th>{{'app.text.operation'|i18n}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of fixedTable.data">
            <td><a [routerLink]="'/app-smart-cloud/backup-volume/detail/' + data.id">{{ data.name }}</a></td>
            <td>{{ data.volumeName }}</td>
            <td nzAlign="right">{{ data.size }}</td>
            <td *ngIf="typeVpc == 0">{{ data.backupPackageName }}</td>
            <td>{{ data.creationDate | date: 'dd/MM/yyyy' }}</td>
            <td *ngIf="data.status == 'CREATING'"></td>
            <td *ngIf="data.status != 'CREATING'">{{ data.expirationDate | date: 'dd/MM/yyyy' }}</td>
            <ng-container *ngIf="data.status | ServiceStatusPipe as statusModel">
              <td *ngIf="data.status != 'SUSPENDED'" nzBreakWord nzAlign="left" [ngStyle]="{color: statusModel.color}">{{statusModel.status}}</td>
              <td *ngIf="data.status == 'SUSPENDED'" nzBreakWord nzAlign="left" [ngStyle]="{color: statusModel.color}">
                <span nz-popover
                      style="cursor: pointer;">
                      <img src="assets/imgs/warning-message.svg" alt="" style="cursor: pointer; margin-bottom: 4px;"
                           nzTooltipTitle="{{ getSuspendedReason(data.suspendReason) }}"
                           nzTooltipPlacement="bottom"
                           nz-tooltip>
                  {{ statusModel.status }}</span>
              </td>
            </ng-container>
            <td>
              <div *ngIf="data.status == 'AVAILABLE'">
                <!--- chỉnh sửa---!--->
                <one-portal-update-backup-volume *ngIf="('backup:VolumeBackupUpdate' | IsPermissionPipe)" [region]="region"
                                                 [project]="project"
                                                 [idBackupVolume]="data.id"
                                                 [backupName]="data.name"
                                                 [backupVolume]="data"
                                                 (onOk)="handleOkUpdate()"/>

                <!--Restore----!--->
                <img *ngIf="('backup:VolumeBackupRestore' | IsPermissionPipe)" src="assets/imgs/rotate-right.svg" alt=""
                     style="cursor: pointer; margin-left: 5px; width: 21px; height: 20px;"
                     nz-popover nzPopoverPlacement="bottom"
                     [nzPopoverContent]="'Restore'" (click)="navigateToRestore(data.id)"/>
                <!--Xóa----!--->
                <one-portal-delete-backup-volume *ngIf="('backup:Delete' | IsPermissionPipe)" [region]="region"
                                                 [project]="project"
                                                 [idBackup]="data.id"
                                                 [backupName]="data.name"
                                                 (onOk)="handleOkDelete()"/>
              </div>
              <div *ngIf="data.status == 'ERROR'">
              <!--Xóa----!--->
              <one-portal-delete-backup-volume *ngIf="('backup:Delete' | IsPermissionPipe)" [region]="region"
                                               [project]="project"
                                               [idBackup]="data.id"
                                               [backupName]="data.name"
                                               (onOk)="handleOkDelete()"/>
              </div>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <result>
          <nz-row>
            <nz-col class="text-center" style="width: 100%">
              <img src="assets/imgs/backupvm-blank.png" alt="" />
            </nz-col>
          </nz-row>
          <nz-row style="margin-top: 20px">
            <nz-col class="text-center" style="width: 100%">
              <span class="text-intro-title" style="color: #0066b3">{{ 'app.backup.volume.title.intro' | i18n }}</span>
            </nz-col>
          </nz-row>
          <nz-row style="margin-top: 20px">
            <nz-col class="text-center" style="width: 100%">
              <span class="text-intro-desc">{{ 'app.backup.volume.intro.description' | i18n }}</span>
            </nz-col>
          </nz-row>
          <button *ngIf="isCreateOrder" style="margin-top: 20px" nz-button [nzType]="'primary'" (click)="navigateToCreate()" nzSize="large">
            <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/cloud-plus-bold.svg" alt="" />
            {{ 'app.backup.volume.button.create' | i18n }}
          </button>
        </result>
      </ng-container>
    </ng-container>
  </nz-card>
</nz-content>
