<nz-card>
  <ng-container>
    <ng-container>
      <nz-row nzJustify="center">
        <img
          src="/assets/imgs/volume.png"
          width="450"
          height="450"
          alt="blank-security-group"
        />
      </nz-row>
      <nz-row nzJustify="center">
        <div class="text-title">
          <h1 style="text-align: center; margin-top: 12px">
            VPN site to site <br />
            Cho phép các mạng tại các vị trí khác nhau giao tiếp với nhau
          </h1>
        </div>
      </nz-row>
      <nz-row nzJustify="center">
        <div
          class="text-subtitle"
          style="max-width: 885px; text-wrap: normal; text-align: center"
        >
          VPN site to site cung cấp một kênh kết nối an toàn giữ các vị trí vật
          lý hoặc mạng máy tính khác nhau. Cho phéo các vị trí đia lý khác nhau
          truy cập vào tài nguyên nội bộ.
        </div>
      </nz-row>
      <nz-row nzJustify="center">
        <button
          style="text-align: center; margin-top: 10px"
          nz-button
          nzType="primary"
          [routerLink]="'/app-smart-cloud/volume/create'"
        >
          Tạo mới VPN site to site
        </button>
      </nz-row>
    </ng-container>
  </ng-container>
</nz-card>
