<page-header [breadcrumb]="breadcrumb" [title]="'app.users.listgroup' | i18n">
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="iconTemplate">
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-smart-cloud/iam/user-group']">{{ "app.breadcrumb.account"|i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-smart-cloud/iam/user-group']">IAM</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.users.groups' | i18n }}
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #iconTemplate>
      <one-portal-svg-icon [icon]="'icon_breadcrumb'"></one-portal-svg-icon>
    </ng-template>
  </ng-template>
</page-header>
<nz-content>
  <nz-card>
    <div nz-row [nzGutter]="24" style="margin-bottom:20px">
      <div nz-col [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXl]="12" [nzXs]="24" [nzXXl]="12">
        <nz-input-group style="width: 300px;" [nzPrefix]="prefixIconSearch" nzSize="large" class="custom-input"
                        [(ngModel)]="value" (keydown.enter)="this.getData()" (ngModelChange)="searchDelay.next(false)">
          <input name="name" nz-input [placeholder]="'app.users.search' | i18n" />
        </nz-input-group>
        <ng-template #prefixIconSearch>
          <img src="assets/imgs/search.svg" alt="" style="cursor: pointer" />
        </ng-template>
      </div>
      <div nz-col [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXl]="12" [nzXs]="24" [nzXXl]="12" class="text-right d-flex"
           style="align-items: center;justify-content: end;">
        <img style="cursor: pointer;"
             src="assets/imgs/refresh.svg" alt="" (click)="refresh()" />
        <img src="assets/imgs/delete.svg" alt=""
             style="cursor: pointer; width: 34px; height: 34px; margin-left: 10px; margin-right: 10px;"
             nz-popover
             [nzPopoverContent]="'app.delete' | i18n"
             nzPopoverPlacement="bottom" (click)="showModalDelete()" id="activeDelete"
             [ngClass]="setOfCheckedId.size>0 ?'activeDelete':''" />
        <button nz-button nzType="primary" nzSize="large" (click)="navigateToCreate()">
          <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/add_white.svg" alt="" />
          <span class="button-text-primary">{{ "app.users.create.group" | i18n }}</span>
        </button>
      </div>
    </div>

    <nz-table #rowSelectionTable
              nzShowSizeChanger
              [nzScroll]="{ x: '100%', y: '55vh' }"
              [nzData]="collection?.records"
              (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
              [nzLoading]="loading"
              [nzFrontPagination]="false"
              [nzTotal]="collection?.totalCount"
              [nzPageSize]="collection?.pageSize"
              [nzPageIndex]="collection?.currentPage">
      <thead>
      <tr>
        <th [nzChecked]="checked"
            [nzIndeterminate]="indeterminate"
            nzLabel="Select all"
            [nzWidth]="'50px'"
            (nzCheckedChange)="onAllChecked($event)" nzLeft></th>
        <th>{{ "app.create-user.nameGroup" | i18n }}</th>
        <th>{{ "app.iam-dashboard.numberOfUser" | i18n }}</th>
        <th>{{ "app.create-user.createDate" | i18n }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td [nzChecked]="setOfCheckedId.has(data.name)" (nzCheckedChange)="onItemChecked(data.name, $event)">
        </td>
        <td>
          <a nz-tooltip [nzTooltipTitle]="'app.view.detail'|i18n" nzTooltipPlacement="bottom"
             [routerLink]="'/app-smart-cloud/iam/user-group/' + data.name">{{ data.name }}</a>
        </td>
        <td nzAlign="right">{{ data.userOfGroup }}</td>
<!--        <td *ngIf="data.parent === null" nzBreakWord></td>-->
        <!-- <td *ngIf="data.parent !== null" nzBreakWord>{{ data.parent }}</td> -->
        <td>{{ data.createdDate | date: 'dd/MM/yyyy - HH:mm:ss' }}</td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
</nz-content>
<ng-container *ngIf="deleteList.length == 1; else elseBlock">
  <one-portal-delete-one-user-group [isVisible]="!!deleteList.length" [nameGroup]="deleteList"
                                    (onCancel)="handleCancelDelete()" (onOk)="handleOkDelete()" />
</ng-container>
<ng-template #elseBlock>
  <one-portal-delete-user-group [isVisible]="!!deleteList.length" [items]="deleteList" (onCancel)="handleCancelDelete()"
                                (onOk)="handleOkDelete()" />
</ng-template>
