<page-header [breadcrumb]="breadcrumb" [title]="false">
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="separatorTemplate">
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item> Billing </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'app.payment.payment' | i18n }}
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #separatorTemplate
      ><img src="assets/imgs/arrow-square-right.svg" alt="" />
    </ng-template>
  </ng-template>
</page-header>

<nz-card *ngIf="paymentSuccess" class="customCard">
  <div class="text-center">
    <img
      style="margin-bottom: 10px"
      src="assets/imgs/check-circle.png"
      alt=""
    />
    <br />
    <span style="font-weight: 600; font-size: 20px; color: #52c41a">{{
      'app.payment.success' | i18n
    }}</span>
    <br />
    <span>{{ 'app.payment.paymentCode' | i18n }}: </span
    ><span>{{ paymentCode }}</span>
    <span> - {{ 'app.payment-detail.totalAmount' | i18n }}: </span
    ><span>{{ payment.totalAmount | number : '1.0-0' }} VND</span> <br />
    <span> {{ 'app.payment-detail.paymentMethod' | i18n }}: Online</span>
  </div>
</nz-card>

<nz-card *ngIf="!paymentSuccess" class="customCard">
  <div class="text-center">
    <img
      style="margin-bottom: 10px"
      src="assets/imgs/close-circle.png"
      alt=""
    />
    <br />
    <span style="font-weight: 600; font-size: 20px; color: #ff4d4f">{{
      'app.payment.fail' | i18n
    }}</span>
    <br />
    <span>{{ 'app.order.fail.notify' | i18n }}</span> <br />
    <span style="color: #ff4d4f"
      >{{ 'app.reason' | i18n }}: {{ causeOfFail }}</span
    >
  </div>
</nz-card>
