<nz-row nzJustify="space-between" style="margin-bottom: 15px;">
  <nz-col nzSpan="16">
    <nz-input-group [nzPrefix]="prefixIconSearch"
                    nzSize="large"
                    style="width: 300px;">
      <input name="name"
             nz-input placeholder="Tìm kiếm"
             [(ngModel)]="valuePort"
             (input)="onInputChangePort($event.target['value'])" />
    </nz-input-group>
    <ng-template #prefixIconSearch>
      <img src="assets/imgs/search.svg" alt="" style="cursor: pointer" nz-tooltip="Tìm kiếm" />
    </ng-template>
  </nz-col>
  <nz-col nzSpan="8" style="flex:none;">
    <!--            <button nz-button nzType="primary" nzSize="large" (click)="navigateToCreatePort()">-->
    <!--              <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/add-circle.svg" alt="" />-->
    <!--              <span class="button-text-primary">Tạo mới Port</span>-->
    <!--            </button>-->
    <one-portal-vlan-create-port [region]="region"
                                 [project]="project"
                                 [networkId]="idNetwork"
                                  [networkCloudId]="networkCloudId"
                                 (onOk)="handleOkCreatePort()" />
  </nz-col>
</nz-row>
<nz-table #fixTablePort
          nzShowPagination
          [nzData]="responsePort?.records"
          [nzTotal]="responsePort?.totalCount"
          (nzPageSizeChange)="onPageSizeChangePort($event)"
          [nzPageIndex]="responsePort?.currentPage"
          (nzPageIndexChange)="onPageIndexChangePort($event)"
          [nzFrontPagination]="false"
          [nzLoading]="isLoading">
  <thead>
  <tr>
    <th>Tên Port</th>
    <th>Fixed IPs</th>
    <th>MAC Address</th>
    <th>Attached Device</th>
    <th>Trạng thái</th>
    <th>Gắn vào máy ảo</th>
    <th>Thao tác</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let index of fixTablePort.data">
    <td>{{ index.name }}</td>
    <td>{{ index.fixedIPs }}</td>
    <td>{{ index.macAddress }}</td>
    <td>{{ index.attachedDevice }}</td>
    <td>{{ index.status }}</td>
    <td>
      <div *ngIf="(index.instanceName)">
        {{ index.instanceName }}
      </div>
      <div *ngIf="!(index.instanceName)">
        -
      </div>
    </td>
    <td *ngIf="!index.attachedDevice.includes('network:dhcp')">
      <div style="display: flex;">
        <div *ngIf="!(index.instanceName)">
          <one-portal-attach-port [region]="region"
                                  [project]="project"
                                  [id]="index.id"
                                  (onOk)="handleOkAttach()"/>
        </div>
        <div *ngIf="(index.instanceName)">
          <one-portal-detach-port [region]="region"
                                  [project]="project"
                                  [id]="index.id"
                                  (onOk)="handleOkDetach()"/>
        </div>
        <one-portal-delete-port [region]="region"
                                [project]="project"
                                [id]="index.id"
                                (onOk)="handleOkDeletePort()"/>
      </div>

    </td>
    <td *ngIf="index.attachedDevice.includes('network:dhcp')">
      <div *ngIf="!(index.instanceName)" >
                <span style="margin-right: 10px; color: #E6E6E6; cursor: not-allowed;" nz-icon nzType="plus"
                      nzTheme="outline"></span>
        <span style="margin-right: 20px; color: #E6E6E6; cursor: not-allowed;"
              nz-icon nzType="delete" nzTheme="outline"></span>
      </div>
      <div *ngIf="(index.instanceName)">
                <span style="margin-right: 10px; color: #E6E6E6; cursor: not-allowed;" nz-icon nzType="close"
                      nzTheme="outline"></span>
        <span style="margin-right: 20px; color: #E6E6E6; cursor: not-allowed;"
              nz-icon nzType="delete" nzTheme="outline"></span>
      </div>
    </td>
  </tr>
  </tbody>
</nz-table>
