<nz-row nzJustify="space-between" style="margin-bottom: 15px;">
  <nz-col nzSpan="16">
    <nz-input-group [nzPrefix]="prefixIconSearch"
                    nzSize="large"
                    style="width: 300px;">
      <input name="name"
             nz-input placeholder="{{ 'volume.tooltip.title.filter.img' | i18n }}"
             [(ngModel)]="valuePort"
             (input)="onInputChangePort($event.target['value'])" />
    </nz-input-group>
    <ng-template #prefixIconSearch>
      <img src="assets/imgs/search.svg" alt="" style="cursor: pointer"
           nz-tooltip="{{ 'volume.tooltip.title.filter.img' | i18n }}" />
    </ng-template>
  </nz-col>
  <nz-col nzSpan="8" style="flex:none;">
    <!--            <button nz-button nzType="primary" nzSize="large" (click)="navigateToCreatePort()">-->
    <!--              <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/add-circle.svg" alt="" />-->
    <!--              <span class="button-text-primary">Tạo mới Port</span>-->
    <!--            </button>-->
    <one-portal-vlan-create-port [region]="region"
                                 [project]="project"
                                 [networkId]="idNetwork"
                                 [networkCloudId]="networkCloudId"
                                 (onOk)="handleOkCreatePort()" />
  </nz-col>
</nz-row>
<nz-table #fixTablePort
          nzShowSizeChanger
          [nzData]="responsePort?.records"
          [nzTotal]="responsePort?.totalCount"
          (nzPageSizeChange)="onPageSizeChangePort($event)"
          [nzPageIndex]="responsePort?.currentPage"
          (nzPageIndexChange)="onPageIndexChangePort($event)"
          [nzFrontPagination]="false"
          [nzLoading]="isLoading">
  <thead>
  <tr>
    <th>{{ 'app.vlan.note67' | i18n }}</th>
    <th>Fixed IPs</th>
    <th>{{ 'app.vlan.note68' | i18n }}</th>
    <th>{{ 'app.vlan.note69' | i18n }}</th>
    <th>{{ 'app.payment.status' | i18n }}</th>
    <th>{{ 'volume.table.title.attach.instance' | i18n }}</th>
    <th>{{ 'app.action-history.operation' | i18n }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let index of fixTablePort.data">
    <td>{{ index.name }}</td>
    <td>
      <span *ngFor="let ip of index.fixedIPs; let last = last">
        {{ ip }}<br *ngIf="!last">
      </span></td>
    <td>{{ index.macAddress }}</td>
    <td>{{ index.attachedDevice }}</td>
    <td>{{ index.status }}</td>
    <td>
      <div *ngIf="(index.instanceName)">
        {{ index.instanceName }}
      </div>
      <div *ngIf="!(index.instanceName)">
        -
      </div>
    </td>
    <td *ngIf="!(index.attachedDevice.includes('network:dhcp')
    || index.attachedDevice.includes('octavia')
    || index.attachedDevice.includes('snat')
    || index.attachedDevice.includes('interface'))">
      <div style="display: flex;">
        <div *ngIf="!(index.instanceName)">
          <one-portal-attach-port [region]="region"
                                  [project]="project"
                                  [id]="index.id"
                                  (onOk)="handleOkAttach()" />
        </div>
        <div *ngIf="(index.instanceName)">
          <one-portal-detach-port [region]="region"
                                  [project]="project"
                                  [id]="index.id"
                                  (onOk)="handleOkDetach()" />
        </div>
        <one-portal-delete-port [region]="region"
                                [project]="project"
                                [id]="index.id"
                                [portName]="index.fixedIPs.join(',')"
                                [attach]="index.instanceName"
                                (onOk)="handleOkDeletePort()" />
      </div>

    </td>
    <td *ngIf="index.attachedDevice.includes('network:dhcp')
    || index.attachedDevice.includes('octavia')
    || index.attachedDevice.includes('snat')
    || index.attachedDevice.includes('interface')">
      <div *ngIf="!(index.instanceName)">
        <img src="assets/imgs/add.svg"
             style="height: 20px; cursor: pointer;opacity: 0.5; pointer-events: none; filter: grayscale(100%); margin-right: 5px;"
             nz-popover
             nzPopoverContent="{{ 'app.attach' | i18n }}"
             nzPopoverPlacement="bottom" disabled="true" />
        <img src="assets/imgs/delete.svg"
             style="height: 28px; width: 28px; cursor: pointer;opacity: 0.5; pointer-events: none; filter: grayscale(100%);"
             nz-popover
             nzPopoverContent="{{ 'app.delete' | i18n }}"
             nzPopoverPlacement="bottom" disabled="true" />
      </div>
      <div *ngIf="(index.instanceName)">
        <img src="assets/imgs/cancel.svg"
             style="height: 20px; cursor: pointer;opacity: 0.5; pointer-events: none; filter: grayscale(100%); margin-right: 5px;"
             nz-popover
             nzPopoverContent="{{ 'app.detach' | i18n }}"
             nzPopoverPlacement="bottom" disabled="true" />
        <img src="assets/imgs/delete.svg"
             style="height: 28px; width: 28px; cursor: pointer;opacity: 0.5; pointer-events: none; filter: grayscale(100%);"
             nz-popover
             nzPopoverContent="{{ 'app.delete' | i18n }}"
             nzPopoverPlacement="bottom" disabled="true" />
      </div>
    </td>
  </tr>
  </tbody>
</nz-table>
