<div class="title">
    <ng-container *ngIf="activatedTab === showCreateCredential">
        {{'kafka.user.create' | i18n}}
    </ng-container>
    <ng-container *ngIf="activatedTab === showUpdatePassword">
        {{'kafka.user.change-password' | i18n}}
    </ng-container>
    <ng-container *ngIf="activatedTab === showForgotPassword">
        {{'kafka.user.create-new-password' | i18n}}
    </ng-container>
</div>
<form nz-form nzLabelWrap [nzNoColon]="false" [formGroup]="validateForm" nzLabelAlign="left" (ngSubmit)="submitForm()">
    <nz-form-item *ngIf="activatedTab !== showForgotPassword">
       
        <nz-form-label nzRequired [nzSpan]="4" nzFor="username"> {{'kafka.user.username' | i18n}}</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="8" [nzErrorTip]="usernameErrorTpl">
            <input nz-input formControlName="username" id="username" [placeholder]="'kafka.user.username-pld' | i18n"
                (ngModelChange)="validateUsername()" nzSize="large"/>
            <ng-template #usernameErrorTpl let-control>
                <p *ngIf="control.invalid">
                    {{ usernameError }}
                </p>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="activatedTab === showUpdatePassword">
       
        <nz-form-label nzRequired [nzSpan]="4" nzFor="oldPassword">{{'kafka.password-old' | i18n}}</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="8" [nzErrorTip]="oldPwdErrorTpl" nzSize="large">
            <nz-input-group [nzSuffix]="suffixPwdTpl" nzSize="large">
                <input nz-input [type]="oldPasswordVisible ? 'text' : 'password'" id="oldPassword"
                    formControlName="oldPassword" (ngModelChange)="validateOldPassword()"
                    [placeholder]="'kafka.password-old-pld' | i18n" />
                <ng-template #suffixPwdTpl>
                    <span nz-icon nzTheme="outline" (click)="oldPasswordVisible = !oldPasswordVisible"
                        [nzType]="oldPasswordVisible ? 'eye-invisible' : 'eye'"></span>
                </ng-template>
            </nz-input-group>

            <ng-template #oldPwdErrorTpl let-control>
                <p *ngIf="control.invalid">
                    {{ oldPasswordError }}
                </p>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>       
        <nz-form-label nzRequired [nzSpan]="4" nzFor="password">{{ pwdTplString }}</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="8" [nzErrorTip]="pwdErrorTpl">
            <nz-input-group [nzSuffix]="suffixPwdTpl" nzSize="large">
                <input nz-input [type]="passwordVisible ? 'text' : 'password'" id="password" formControlName="password"
                    (ngModelChange)="validatePassword()" placeholder="Nhập {{ pwdTplString | lowercase }}" />
                <ng-template #suffixPwdTpl>
                    <span nz-icon nzTheme="outline" (click)="passwordVisible = !passwordVisible"
                        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"></span>
                </ng-template>
            </nz-input-group>

            <ng-template #pwdErrorTpl let-control>
                <p *ngIf="control.invalid">
                    {{ passwordError }}
                </p>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>   
        <nz-form-label nzRequired [nzSpan]="4" nzFor="checkPassword">{{'kafka.password-confirm' | i18n}}</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="8" [nzErrorTip]="checkPasswordErrorTpl">
            <nz-input-group [nzSuffix]="suffixRePwdTpl" nzSize="large">
                <input nz-input [type]="repasswordVisible ? 'text' : 'password'" formControlName="checkPassword"
                    (ngModelChange)="validateCheckPassword()" id="checkPassword"
                    placeholder="Nhập lại {{ pwdTplString | lowercase }}" />
                <ng-template #suffixRePwdTpl>
                    <span nz-icon nzTheme="outline" (click)="repasswordVisible = !repasswordVisible"
                        [nzType]="repasswordVisible ? 'eye-invisible' : 'eye'"></span>
                </ng-template>
            </nz-input-group>
            <ng-template #checkPasswordErrorTpl let-control>
                <p *ngIf="control.invalid">
                    {{ checkPasswordError }}
                </p>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="create-area">
        <div nz-col [nzSpan]="4"></div>
        <nz-form-control [nzSpan]="8">
            <button nz-button (click)="cancel($event)" style="margin-right: 16px;">
                <img
                    style="padding-right: 10px; margin-top: -4px"
                    src="assets/imgs/cancel.svg"
                    alt=""
                />{{ 'app.button.cancel' | i18n }}
            </button>
            <button nz-button nzType="primary" [disabled]="!validateForm.valid">
                <img
                    style="padding-right: 10px; margin-top: -4px"
                    src="assets/imgs/confirm.svg"
                    alt=""
                />
                <ng-container *ngIf="activatedTab === showCreateCredential">
                    {{ 'app.service.create' | i18n }}
                </ng-container>
                <ng-container *ngIf="activatedTab === showUpdatePassword">
                    {{'app.button.edit' | i18n}}
                </ng-container>
                <ng-container *ngIf="activatedTab === showForgotPassword">
                    {{'app.button.confirm' | i18n}}
                </ng-container>
            </button>
        </nz-form-control>
    </nz-form-item>
</form>