.create-area {
  text-align: right;
}

nz-input-group {
  width: 100%;
}

.btn-close {
  color: #0066b3;   
  border-color: #0066b3;
}

.btn-confirm
{
  background-color: #0066b0;
  color: #fff;
}

.btn-confirm[disabled]{
    color: rgba(0, 0, 0, 0.25);
    background-color: #d9d9d9;
}

button {
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
}

h2 {
  font-weight: 600;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}