<nz-content>
  <form nz-form [formGroup]="validateForm" nzLayout="vertical">
    <nz-card style="border-radius: 8px;">
      <span class="text-card-header">Thông tin Volume</span>
      <nz-form-item>
        <nz-form-label nzFor="name">
          <div style="margin-top: 15px;">
            <span>Tên Volume</span>
            (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
            <span nz-icon nzType="question-circle"
                  nzTheme="outline"
                  nz-popover
                  [nzPopoverContent]="'Tên volume. Không bao gồm ký tự đặc biệt, dấu cách, tiếng Việt.'"
                  nzPopoverPlacement="bottom"></span>
          </div>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips [nzErrorTip]="nameErrorTpl">
          <input nz-input
                 class="input-custom"
                 formControlName="name"
                 [placeholder]="'Nhập tên Volume'" [maxLength]="70"/>
          <ng-template #nameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Vui lòng nhập tên Volume</ng-container>
            <ng-container *ngIf="control.hasError('pattern')">Không bao gồm ký tự đặc biệt, dấu cách, dấu tiếng
              Việt
            </ng-container>
            <ng-container *ngIf="control.hasError('maxLength')">Tối đa 70 ký tự</ng-container>
            <ng-container *ngIf="control.hasError('duplicateName')">Tên Volume đã tồn tại, vui lòng nhập tên Volume khác</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <div style="display: flex;">
          <nz-switch formControlName="isSnapshot" (ngModelChange)="onSwitchSnapshot()" nzCheckedChildren="ON"
                     nzUnCheckedChildren="OFF"></nz-switch>
          <span style="margin-left: 10px; margin-top: 1px;">Tạo từ Snapshot</span>
          <span nz-icon nzType="question-circle" style="margin-left: 5px; margin-top: 5px;"
                nzTheme="outline"
                nz-popover
                [nzPopoverContent]="'Quý khách có thể tạo volume mới hoặc tạo từ một bản snapshot'"
                nzPopoverPlacement="bottom"></span>
        </div>
      </nz-form-item>
      <div *ngIf="isInitSnapshot === true">
        <nz-form-item *ngIf="isInitSnapshot">
          <nz-form-label nzFor="snapshot">
            <div class="label">
              <span>Chọn Snapshot</span>
              <span style="color: rgba(252, 16, 16, 1); ">*</span>
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="snapshotErrorTpl">
            <nz-select nzSize="default"
                       formControlName="snapshot"
                       id="snapshot"
                       [nzPlaceHolder]="'-Chọn Snapshot-'"
                       [nzShowSearch]="false"
                       [(ngModel)]="snapshotSelected"
                       (ngModelChange)="snapshotSelectedChange($event)"
                       style="width: 100%;">
              <nz-option *ngFor="let item of snapshotList" [nzLabel]="item.label.toString()"
                         [nzValue]="item.value"></nz-option>
              <ng-template #snapshotErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Vui lòng chọn Snapshot</ng-container>
              </ng-template>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <nz-form-item>
        <nz-form-label nzFor="volumeType">
          <div class="label">
            <span>Chọn loại volume</span>
            <span style="color: rgba(252, 16, 16, 1); "> *</span>
            <span nz-icon nzType="question-circle"
                  nzTheme="outline"
                  nz-popover
                  [nzPopoverContent]="'Loại volume, đối với từng loại mức IOPS và các tính năng sẽ khác nhau'"
                  nzPopoverPlacement="bottom"></span>
          </div>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips>
          <nz-radio-group [(ngModel)]="selectedValueRadio"
                          (ngModelChange)="onChangeStatus()"
                          formControlName="radio"
                          [disabled]="isInitSnapshot">
            <div style="display: flex;">
              <div nz-radio nzValue="hdd"
                   [ngStyle]="{'background-color': selectedValueRadio === 'hdd' ? '#e6f7ff' : '#fcfcfc'}"
                   style="padding: 10px;border: thin; border-radius: 5px;">
                <h3><b>HDD</b></h3>
                Lựa chọn tốt hơn nếu bạn đang đối phó với các bản sao lưu dữ liệu, lưu trữ dữ liệu hoặc khối lượng
                công việc chuyên sâu thông lượng
              </div>
              <div nz-radio nzValue="ssd"
                   [ngStyle]="{'background-color': selectedValueRadio === 'ssd' ? '#e6f7ff' : '#fcfcfc'}"
                   style="padding: 10px;border: thin; border-radius: 5px;">
                <h3><b>SSD</b></h3>
                Lựa chọn tốt hơn nếu bạn đang đối phó với các bản sao lưu dữ liệu, lưu trữ dữ liệu hoặc khối lượng
                công việc chuyên sâu thông lượng
              </div>
            </div>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="storage">
          <div style="margin-top: 15px;">
            <span>Dung lượng </span>
            (<span style="color: rgba(252, 16, 16, 1); ">*</span>) - GB
            <span nz-icon nzType="question-circle"
                  nzTheme="outline"
                  nz-popover
                  [nzPopoverContent]="'Dung lượng Volume tối thiểu là 1'"
                  nzPopoverPlacement="bottom"></span>
          </div>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips [nzErrorTip]="storageErrorTpl">
          <nz-input-number formControlName="storage"
                           id="storage"
                           class="input-custom"
                           style="width: 100%;"
                           [nzMin]="1" [nzStep]="1"></nz-input-number>
          <ng-template #storageErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Vui lòng nhập dung lượng</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>
          <span>{{ iops }}</span>
        </nz-form-label>
      </nz-form-item>
      <label nz-checkbox formControlName="isEncryption">Mã hóa Volume</label>
      <span nz-icon nzType="question-circle"
            nzTheme="outline"
            nz-popover
            [nzPopoverContent]="'Mã hóa volume để tăng tính bảo mật đọc, ghi cho volume'"
            nzPopoverPlacement="bottom"></span>
      <br>
      <label nz-checkbox style="margin-top: 10px;" formControlName="isMultiAttach">Gắn nhiều máy ảo</label>
      <span nz-icon nzType="question-circle"
            nzTheme="outline"
            nz-popover
            [nzPopoverContent]="'Volume có thể gắn đồng thời vào nhiều máy ảo khác nhau. Nếu chọn volume multi attach thì không thể chọn mã hóa volume'"
            nzPopoverPlacement="bottom"></span>
      <nz-form-item style="margin-top: 10px;">
        <nz-form-label nzFor="instanceName">
          <div class="label">
            <span>Chọn máy ảo</span>
            <span nz-icon nzType="question-circle" style="margin-left: 5px;"
                  nzTheme="outline"
                  nz-popover
                  [nzPopoverContent]="'Chọn máy ảo để gắn volume'"
                  nzPopoverPlacement="bottom"></span>
          </div>
        </nz-form-label>
        <nz-form-control>
          <nz-select nzSize="default"
                     formControlName="instanceId"
                     id="instanceId"
                     [nzPlaceHolder]="'-Chọn máy ảo-'"
                     [nzShowSearch]="false"
                     [(ngModel)]="instanceSelected"
                     (ngModelChange)="instanceSelectedChange($event)"
                     style="width: 100%;">
            <nz-option *ngFor="let item of listInstances" [nzLabel]="item.name"
                       [nzValue]="item.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="description">
          <div class="label">
            <span>Mô tả</span>
          </div>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips [nzErrorTip]="descriptionErrorTpl">
              <textarea nz-input formControlName="description" id="description" [maxLength]="700"
                        [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
          <ng-template #descriptionErrorTpl let-control>
            <ng-container *ngIf="control.hasError('maxlength')">Cho phép nhập tối đa 700 kí tự</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nzAlign="bottom" nzJustify="end">
        <nz-space nzSize="large">
          <button *nzSpaceItem nz-button nzType="default" class="button-cancel" (click)="clear()">
            <span nz-icon nzType="close" nzTheme="outline"></span>Hủy</button>
          <nz-form-control *nzSpaceItem>
            <button nz-button nzType="primary" [disabled]="!validateForm.valid"
                    class="button-ok" (click)="showConfirmCreate()">
              <span nz-icon nzType="check" nzTheme="outline" ></span>Tạo mới</button>
            <nz-modal [(nzVisible)]="isVisibleCreate" nzTitle="Xác nhận khởi tạo Volume" nzTabScrollList="true"
                      (nzOnCancel)="handleCancelCreate()" nzCentered>
              <div *nzModalTitle>
                <p class="text-h5"><b>Xác nhận khởi tạo Volume</b></p>
              </div>
              <div *nzModalContent>

                <div>
                  <b style="text-align: center">Quý khách chắn chắn muốn thực hiện khởi tạo Volume?</b>
                </div>

              </div>
              <div *nzModalFooter style="padding-left: 8px; padding-right: 8px;">
                <button nz-button nzType="default" (click)="handleCancelCreate()" class="button-cancel">
                  <span nz-icon nzType="close" nzTheme="outline"></span>Hủy
                </button>
                <button nz-button nzType="primary"
                        (click)="handleOkCreate()"
                        [nzLoading]="isLoadingCreate"
                        class="button-ok">
                  <span nz-icon nzType="check" nzTheme="outline"></span>Xác nhận
                </button>
              </div>
            </nz-modal>
          </nz-form-control>
        </nz-space>
      </nz-form-item>
    </nz-card>
  </form>
</nz-content>
