<img src="assets/imgs/add.svg" style="height: 20px; cursor: pointer;margin-right: 5px;"
     nz-popover
     [nzPopoverContent]="'Gắn'"
     nzPopoverPlacement="bottom" disabled="true" (click)="showModalAttach()"/>
<nz-modal [(nzVisible)]="isVisibleAttach" nzTitle="Gán Port"
          (nzOnCancel)="handleCancelAttach()" nzMask="false">
  <div *nzModalTitle>
    <span class="text-modal-title">Gắn Port</span>
  </div>
  <div *nzModalContent>
    <nz-form-label>Chọn máy ảo</nz-form-label>
    <nz-select nzSize="default"
               [nzLoading]="isLoadingAttach"
               [nzPlaceHolder]="'-Chọn máy ảo-'"
               [(ngModel)]="instanceSelected"
               (ngModelChange)="instanceChange($event)"
               nzShowSearch
               style="width: 300px;">
      <nz-option *ngFor="let item of listVm" [nzLabel]="item.name"
                 [nzValue]="item.cloudId"></nz-option>
    </nz-select>
    <div *ngIf="isSelected" style="color: red;">Vui lòng chọn máy ảo</div>
  </div>
  <div *nzModalFooter style="padding-left: 8px; padding-right: 8px;">
    <button nz-button nzType="default" (click)="handleCancelAttach()" class="button-cancel">
      <span nz-icon nzType="close" nzTheme="outline"></span>Hủy
    </button>
    <button nz-button nzType="primary"
            (click)="handleOkAttach()"
            [nzLoading]="isLoadingAttach"
            class="button-ok">
      <span nz-icon nzType="check" nzTheme="outline"></span>Xác nhận
    </button>
  </div>
</nz-modal>
