<page-header [action]="action" [title]="'Tạo Policy'">
  <ng-template #action>
    <div class="text-right">
      <region-select-dropdown (valueChanged)="onRegionChange($event)"></region-select-dropdown>
      <project-select-dropdown [regionId]="regionId" (valueChanged)="projectChange($event)"></project-select-dropdown>
    </div>
  </ng-template>
  <nz-steps [nzCurrent]="currentStep" style="width: 55%; margin: 0 auto;">
    <nz-step nzTitle="Bước 1" nzDescription="Thiết lập Permission policies" style="width:900px"></nz-step>
    <nz-step nzTitle="Bước 2" nzDescription="Review and Create"></nz-step>
  </nz-steps>
</page-header>
<ng-container [ngSwitch]="currentStep">
  <ng-container *ngSwitchCase=0>
    <!--BƯỚC 1-->
    <nz-card>
      <div nz-row class="mb-md">
        <div nz-col nzSpan="18">
          <h3>Policy editor</h3>
          <p style="color: #888;">Thêm quyền bằng cách chọn dịch vụ,hành động,tài nguyên và điều kiện hoặc xây dựng câu
            lệnh
            bằng trình soạn thảo JSON</p>
        </div>
        <div nz-col nzSpan="6">
          <div class="text-right" style="display: flex;align-items: center;justify-content: flex-end;height: 100%;">
            <button (click)="visualOption(1)" nz-button nzType="primary" style="
            border: none;
            background-color: {{isVisual ? 'blue' : 'gray'}};
          ">Visual
            </button>
            <button (click)="visualOption(2)" nz-button nzType="primary" style="
            border: none;
            background-color: {{isVisual ? 'gray' : 'blue'}};
          ">Json
            </button>
          </div>
        </div>
      </div>
    </nz-card>
    <ng-container [ngSwitch]="isVisual">
      <ng-container *ngSwitchCase=true>
        <!--màn visual-->
        <nz-card *ngFor="let serviceItem of serviceArray" style="position: relative;">
          <button (click)="deleteService(serviceItem)" nz-button nzType="default"
                  style="z-index: 1;position: absolute; right: 30px; top: 30px;">
            <i nz-icon nzType="delete"></i><span nz-icon nzType="reload" nzTheme="outline"></span>
          </button>
          <nz-collapse [nzGhost]="true">
            <nz-collapse-panel
              [nzHeader]="serviceItem.serviceName || 'Chọn dịch vụ'"
              [nzActive]="false">
              <div style=" display: flex; align-items: center; justify-content: space-between;">
                <p *ngIf="!serviceItem.isVisualTablePermiss" style="color: #888;">Chỉ định những hành động có thể thực
                  hiện trên các tài
                  nguyên cụ thể trong một dịch vụ</p>
                <p *ngIf="serviceItem.isVisualTablePermiss" style="color: #888;">Chỉ định permission polices cho dịch
                  vụ</p>
                <!--                              {{JSON.stringify(serviceArray)}}-->
              </div>
              <div *ngIf="serviceItem.serviceId === null">
                <h3>Chọn dịch vụ</h3>
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="--Chọn dịch vụ--"
                           [(ngModel)]="serviceItem.serviceId"
                           (ngModelChange)="selectService($event, serviceItem)" style="width: 100%">
                  <nz-option *ngFor="let sv of listServiceAvaiable" [nzLabel]="sv.serviceName" [nzValue]="sv.serviceId">
                  </nz-option>
                </nz-select>
              </div>
              <nz-table
                *ngIf="serviceItem.isVisualTablePermiss"
                #rowSelectionTable
                [nzData]="serviceItem.permissions"
                [nzFrontPagination]="false"
                style="margin-top: 20px;"
              >
                <thead>
                <tr>
                  <th
                    [(nzChecked)]="serviceItem.checked"
                    [nzIndeterminate]="serviceItem.indeterminate"
                    (nzCheckedChange)="onAllChecked(serviceItem.serviceId ,$event)"
                  ></th>
                  <th>Permission policies</th>
                  <th>Mô tả</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of rowSelectionTable.data">
                  <td [nzChecked]="setOfCheckedId.has(data.id)"
                      (nzCheckedChange)="onItemChecked(serviceItem.serviceId ,data, $event)"></td>
                  <td>{{ data.name }}</td>
                  <td>{{ data.description }}</td>
                </tr>
                </tbody>
              </nz-table>
            </nz-collapse-panel>
          </nz-collapse>
        </nz-card>

        <!--button thêm perrmisstion-->
        <nz-card>
          <button (click)="addService()" nz-button nzType="primary" style="
            border: none;
            background-color: gray;
          ">Thêm Permission policies
          </button>
        </nz-card>
      </ng-container>

      <!--      json-->
      <ng-container *ngSwitchCase=false>
        <nz-card>
          <json-editor
            [options]="optionJsonEditor"
            formControlName="myinput"
            [data]=""
          ></json-editor>
        </nz-card>
      </ng-container>
    </ng-container>
  </ng-container>


  <ng-container *ngSwitchCase=1>
    <!--    Bước 2-->
    <nz-card>
      <h2>Thông tin của policy</h2>
      <hr style="opacity: 0.5px;">
      <h3 style=" font-weight: normal; margin-top: 20px">Tên của policy<span nz-typography nzType="danger"
                                                                             style="color: red">*</span></h3>
      <nz-form-item>
        <nz-form-control>
          <textarea nz-input [nzAutosize]="{ minRows: 1 }" placeholder="Nhập tên của policy" style="width: 100%"
                    formControlName="description"></textarea>
        </nz-form-control>
      </nz-form-item>
      <h3 style=" font-weight: normal; margin-top: 20px">Mô tả</h3>
      <nz-form-item>
        <nz-form-control>
          <textarea nz-input [nzAutosize]="{ minRows: 3 }" placeholder="Nhập mô tả" style="width: 100%"
                    formControlName="description"></textarea>
        </nz-form-control>
      </nz-form-item>
    </nz-card>
    <nz-card>
      <h2>Thông tin của permissions được xác định trong policy</h2>
      <hr style="opacity: 0.5px; margin-bottom: 25px">
      <nz-input-group nzSearch nzSize="default" [nzAddOnAfter]="suffixButton" style="margin-bottom: 20px;">
        <input #searchBox type="text" nz-input placeholder="Tìm kiến tên..." style="width: 350px"/>
        <ng-template #suffixButton>
          <button nz-button [nzType]="'primary'" nzSearch (click)="search(searchBox.value)">
            <i nz-icon nzType="search"></i>
            Tim kiếm
          </button>
        </ng-template>
      </nz-input-group>
      <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="listOfPermissionSelected"
                [nzTotal]="2" [nzPageSize]="6" (nzPageSizeChange)="onPageSizeChange($event)"
                (nzPageIndexChange)="onPageIndexChange($event)">
        <thead>
        <tr>
          <th>Permissions policies</th>
          <th>Mô tả</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of listOfPermissionSelected">
          <td>{{ data.name }}</td>
          <td>{{ data.description }}</td>
        </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </ng-container>
</ng-container>


<div class="text-right" style="display: flex;align-items: center;justify-content: flex-end;height: 100%;">
  <button *ngIf="currentStep==1" (click)="setStep(0)" nz-button nzType="primary" style="
            border: none;
            background-color: gray;
          ">Trở lại
  </button>
  <button *ngIf="currentStep==1" (click)="createPolicy()" nz-button nzType="primary" style="
            border: none;
          ">Xác nhận
  </button>
  <button *ngIf="currentStep!=1" (click)="goBack()" nz-button nzType="primary" style="
            border: none;
            background-color: gray;
          ">Quay lại
  </button>
  <button *ngIf="currentStep!=1" (click)="setStep(1)" nz-button nzType="primary" style="
            border: none;
          ">Tiếp tục
  </button>
</div>

<!--model xác nhận tạo-->
<nz-modal [(nzVisible)]="isVisibleCreate" nzTitle="Xác nhận tạo policy"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleCreate()"
          nzOkText="Xác nhận" nzCancelText="Hủy bỏ">
  <ng-container *nzModalContent>
    <h3 style="font-weight: normal;">Quý khách có chắc chắn muốn tạo policy này?</h3>
  </ng-container>
</nz-modal>
