<page-header [breadcrumb]="breadcrumb" [action]="action" [title]="'Gia hạn dịch vụ: ' + detailCluster?.clusterName">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Trang chủ</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-kubernetes']">Container</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-kubernetes']">Danh sách cluster</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Gia hạn dịch vụ: <ng-container *ngIf="detailCluster"><b>{{detailCluster?.clusterName}}</b></ng-container>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>

  <!-- action -->
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="onRegionChange($event)" [isDetail]="true"></region-select-dropdown>
      <project-select-dropdown [regionId]="regionId" (valueChanged)="onProjectChange($event)"
        [isDetail]="true"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
