<form nz-form [formGroup]="validateForm" nzLayout="vertical">
  <nz-row nzGutter="24">
    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzFor="ruleType">
          <div class="name-rule">
            <span>{{ 'app.cluster.select-rule' | i18n }}</span>
            (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
          </div>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="'cluster.validate.required' | i18n">
          <nz-select
            id="rule"
            nzSize="large"
            formControlName="rule"
            nzPlaceHolder="Custom UDP Rule"
            (ngModelChange)="ruleChange($event)">
            <nz-option *ngFor="let data of rulesList"
                       nzValue="{{ data.value }}" nzLabel="{{ data.label }}"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="ruleValue === 'other-IPv4'">
        <nz-form-label nzFor="protocol">
          <div class="name-rule">
            <span>{{ 'app.cluster.input-protocol' | i18n }}</span>
            (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
          </div>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips [nzErrorTip]="protocolErrorTpl">
          <nz-input-number style="margin-left: 0; width: 100%;"  [nzStep]="1"
                           formControlName="protocol" id="protocol" class="input-custom" />
          <ng-template #protocolErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required') ||  control.hasError('invalidIntegerInRange') || control.hasError('pattern') || control.hasError('invalidNumber')">
              {{ 'cluster.validate.length.rule-1' | i18n }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="ruleValue === 'icmp-IPv4'">
        <nz-form-label nzFor="portRangeMin">
          <div class="name-rule">
            <span>Code</span>
            (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
          </div>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips [nzErrorTip]="codeErrorTpl">
          <nz-input-number style="margin-left: 0; width: 100%;"  [nzStep]="1" formControlName="code" id="code" class="input-custom" />
          <ng-template #codeErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required') || control.hasError('invalidIntegerInRange') || control.hasError('pattern')">
              {{ 'cluster.validate.length.rule-1' | i18n }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="ruleValue === 'icmp-IPv4'">
        <nz-form-label nzFor="portRangeMax">
          <div class="name-rule">
            <span>Type</span>
            (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
          </div>
        </nz-form-label>
        <nz-form-control nzDisableAutoTips [nzErrorTip]="typeErrorTpl">
          <nz-input-number style="margin-left: 0; width: 100%;" [nzStep]="1" formControlName="type" id="type" class="input-custom" />
          <ng-template #typeErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required') || control.hasError('invalidIntegerInRange') || control.hasError('pattern') || control.hasError('portMismatch') || control.hasError('invalidNumber')">
              {{ 'cluster.validate.length.rule-2' | i18n }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <div *ngIf="!['icmp-IPv4', 'other-IPv4', '-IPv4-', 'tcp-IPv4-80', 'tcp-IPv4-443', 'tcp-IPv4-22',
      'tcp-IPv4-3389', 'icmp-IPv4-', 'tcp-IPv4-3306'].includes(ruleValue)">
        <nz-form-item>
          <nz-form-label nzFor="portType">
            <div class="name-rule">
              <span>{{ 'app.cluster.input-open-port' | i18n }}</span>
              (<span style="color: rgba(252, 16, 16, 1);">*</span>)
            </div>
          </nz-form-label>
          <nz-form-control [nzErrorTip]="'app.cluster.input-open-port' | i18n">
            <nz-select
              id="port_type"
              nzSize="large"
              formControlName="portType"
              [nzPlaceHolder]="'app.cluster.input-open-port' | i18n"
              (ngModelChange)="portTypeChange($event)"
            >
              <nz-option nzValue="Port" nzLabel="Port"></nz-option>
              <nz-option nzValue="PortRange" nzLabel="Port Range"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="portType === 'Port'">
          <nz-form-label nzFor="portRangeMin">
            <div class="name-rule">
              <span>{{ 'app.cluster.input-port' | i18n }}</span>
              (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="portErrorTpl">
            <nz-input-number style="margin-left: 0; width: 100%;"
                             formControlName="portRangeMin"
                             [nzMin]="1"
                             class="input-custom"
                             (change)="portChange($event.target['value'])" nzAutoFocus (keydown.enter)="focusOkButton($event)"/>

            <ng-template #portErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')
              || control.hasError('invalid')
              || control.hasError('pattern')
              || control.hasError('outOfRange')
              || control.hasError('invalidNumber')">
                {{ 'cluster.validate.from-port' | i18n }}
              </ng-container>

            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="portType === 'PortRange'">
          <nz-form-label nzFor="portRangeMin">
            <div class="name-rule">
              <span>From Port</span>
              (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="portRangeMinErrorTpl">
            <nz-input-number style="margin-left: 0; width: 100%;"
                             class="input-custom"
                             formControlName="portRangeMin"
                             [nzStep]="1"
                             id="portRangeMin" nzAutoFocus (ngModelChange)="updatePortRangeValidator()" />
            <ng-template #portRangeMinErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required') || control.hasError('invalid') || control.hasError('pattern') || control.hasError('outOfRange')|| control.hasError('invalidNumber') ">
                {{ 'cluster.validate.from-port' | i18n }}
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="portType === 'PortRange'">
          <nz-form-label nzFor="portRangeMax">
            <div class="name-rule">
              <span>To Port</span>
              (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="portRangeMaxErrorTpl">
            <nz-input-number style="margin-left: 0; width: 100%;"
                             class="input-custom"
                              [nzStep]="1"
                             formControlName="portRangeMax" />
            <ng-template #portRangeMaxErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required') || control.hasError('invalid') || control.hasError('pattern') ||  control.hasError('outOfRange') || control.hasError('portMismatch') || control.hasError('invalidNumber')">
                {{ 'cluster.validate.to-port' | i18n }}
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </nz-col>
    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzFor="remoteType">
          <div class="name-rule">
            <span>{{ 'app.cluster.input-remote' | i18n }}</span>
            (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
          </div>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="'cluster.validate.required' | i18n">
          <nz-select
            id="remoteType"
            nzSize="large"
            formControlName="remoteType"
            nzPlaceHolder="Custom UDP Rule"
            (ngModelChange)="remoteTypeChange($event)">
            <nz-option *ngFor="let data of remotesList"
                       nzValue="{{ data.value }}" nzLabel="{{ data.label }}"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <div *ngIf="remoteType === 'CIDR'">
        <nz-form-item>
          <nz-form-label nzFor="remoteIpPrefix">
            <div class="name-rule">
              <span>{{ 'app.cluster.input-remote-ip' | i18n }}</span>
              (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="remoteIpErrorTpl">
            <input nz-input class="input-custom" formControlName="remoteIpPrefix" (keydown.enter)="focusOkButton($event)"/>
            <ng-template #remoteIpErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required') || control.hasError('invalidIp') || control.hasError('invalidSubnetMask')">
                {{ 'cluster.validate.ip' | i18n }}
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div *ngIf="remoteType === 'SecurityGroup'">
        <nz-form-item>
          <nz-form-label nzFor="securityGroupId">
            <div class="name-rule">
              <span>{{ 'app.choose.security.group' | i18n }}</span>
              (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
            </div>
          </nz-form-label>
          <nz-form-control [nzErrorTip]="'cluster.validate.required' | i18n">
            <nz-select nzSize="large"
                       id="securityGroupId"
                       formControlName="securityGroupId"
                       [nzPlaceHolder]="'app.choose.security.group' | i18n">
              <nz-option *ngFor="let data of listSecurityGroup"
                         nzValue="{{ data.id }}" nzLabel="{{ data.name }}"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="etherType">
            <div class="name-rule">
              <span>{{ 'app.cluster.input-ether-type' | i18n }}</span>
              (<span style="color: rgba(252, 16, 16, 1); ">*</span>)
            </div>
          </nz-form-label>
          <nz-form-control [nzErrorTip]="'cluster.validate.required' | i18n">
            <nz-select nzSize="large"
                       id="etherType"
                       formControlName="etherType"
                       [nzPlaceHolder]="'app.cluster.input-ether-type' | i18n">
              <nz-option nzValue="ipv4" nzLabel="IPV4"></nz-option>
              <nz-option nzValue="ipv6" nzLabel="IPV6"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

    </nz-col>
  </nz-row>

  <nz-form-item nzAlign="bottom" nzJustify="center">
    <nz-space nzSize="middle">
      <button *nzSpaceItem nz-button nzType="default" (click)="goBack()" class="button-back">
        <span nz-icon nzType="close" nzTheme="outline"></span>
        {{ 'app.button.cancel' | i18n }}
      </button>
      <nz-form-control *nzSpaceItem>
        <button nz-button nzType="primary" [nzLoading]="isLoading"
                class="button-create" [disabled]="!validateForm.valid" (click)="doCreate()">
          <span nz-icon nzType="check" nzTheme="outline"></span>
          {{ 'app.button.confirm' | i18n }}
        </button>
      </nz-form-control>
    </nz-space>
  </nz-form-item>
</form>
