<page-header [action]="action" [title]="'SSH Key'">
  <ng-template #action>
    <div class="text-right">
      <region-select-dropdown (valueChanged)="onRegionChange($event)"></region-select-dropdown>
      <project-select-dropdown [regionId]="regionId" (valueChanged)="projectChange($event)"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>

<nz-card>
  <ng-container [ngSwitch]="isBegin">
    <ng-container *ngSwitchCase=false><!--  màn khởi tạo-->
      <h2>Danh sách SSH Key</h2>
      <div nz-row class="mb-md">
        <div nz-col nzSpan="12">
          <div class="text-left">
            <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
              <input #searchBox type="text" nz-input placeholder="Tìm kiến keypair" style="width: 350px"/>
            </nz-input-group>
            <ng-template #suffixButton>
              <button nz-button nzType="primary" nzSize="large" nzSearch (click)="search(searchBox.value)">
                <span nz-icon nzType="setting" nzTheme="outline"></span>
                Tim kiếm
              </button>
            </ng-template>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <div class="text-right">
            <button nzSize="large" (click)="createKey()" nz-button nzType="primary" style="
            border: 1px solid #52c41a;
            border-radius: 2px;
            background-color: #52c41a;
          ">+ Tạo mới
            </button>
          </div>
        </div>
      </div>
      <!--  Bảng-->
      <nz-table #rowSelectionTable [nzFrontPagination]="false" nzShowPagination nzShowSizeChanger [nzData]="listOfData"
                [nzTotal]="total" [nzPageSize]="size" (nzPageSizeChange)="onPageSizeChange($event)"
                (nzPageIndexChange)="onPageIndexChange($event)">
        <thead>
        <tr>
          <th>Tên keypaird</th>
          <th>Finger print</th>
          <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of listOfData">
          <td (click)="detailKey(data)">{{ data.name }}</td>
          <td>{{ data.fingerprint }}</td>
          <td>
            <button (click)="deleteKey(data)" nz-button nzType="primary" nzDanger style="border-radius: 13%">
              Xóa
            </button>
          </td>
          <nz-modal [(nzVisible)]="isVisibleDelete" nzTitle="Bạn có đồng ý xóa keypair này?"
                    (nzOnCancel)="handleCancel()"
                    (nzOnOk)="handleOk(data.id)">
            <ng-container *nzModalContent></ng-container>
          </nz-modal>
        </tr>
        </tbody>
      </nz-table>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <nz-result [nzIcon]="customIcon" nzTitle="SSH KEY - Ổ Khóa truy cập dịch vụ"
                 nzSubTitle="Dịch vụ hỗ trợ người dùng xác thực dịch vụ một cách bảo mật, an toàn tuyệt đối">
        <ng-template #customIcon>
          <img src="assets/imgs/ssh-key.png" alt="Custom Icon">
        </ng-template>
        <div nz-result-extra>
          <button (click)="createKey()" nz-button nzType="primary">Khởi tạo ngay</button>
        </div>
      </nz-result>
    </ng-container>
  </ng-container>

  <!-- tạo mới -->
  <nz-form-control>
    <form nz-form [formGroup]="form" (ngSubmit)="submitForm()" [nzLayout]="'vertical'">
      <nz-modal [(nzVisible)]="isVisibleCreate" nzTitle="Tạo mới Keypair" [nzOkDisabled]="form.invalid"
                (nzOnCancel)="handleCancel()"
                (nzOnOk)="handleCreate()" [nzStyle]="modalStyle" nzOkText="Xác nhận"
                nzCancelText="Hủy bỏ">
        <ng-container *nzModalContent>
          <nz-tabset (nzSelectedIndexChange)="onTabchange($event)">
            <nz-tab nzTitle="Tạo SSH Key mới">
              <div class="mb-5 mt-5 pt-3 pb-3" style="
              border-style: solid;
              border-color: #0493fa;
              background-color: #d6eeff;
            ">
                <Space>
                <span class="mt-2 mb-2 ml-3 mr-1" nz-icon nzType="info-circle" nzTheme="fill"
                      style="color: blue"></span>
                  Private key sẽ được gửi vào email khách hàng đăng ký tài khoản.
                  Quý khách lưu ý giữ private key này an toàn bảo mật cho server.
                </Space>
              </div>
              <h4>
                Tên key pair
                <span nz-typography nzType="danger" style="color: red">*</span>
              </h4>
              <nz-input-group>
                <nz-form-item>
                  <nz-form-control
                    nzErrorTip="Tên keypair không được chứa ký tự đặc biệt, chữ cái phải trong bảng tiếng anh">
                    <textarea nz-input [nzAutosize]="{ minRows: 1 }" placeholder="Vui lòng nhập thông tin"
                              maxlength="20" formControlName="keypair_name_1"></textarea>
                  </nz-form-control>
                </nz-form-item>
              </nz-input-group>
            </nz-tab>
            <nz-tab nzTitle="Nhập key có sẵn">
              <div class="mb-5 mt-5 pt-3 pb-3" style="
              border-style: solid;
              border-color: #0493fa;
              background-color: #d6eeff;
            ">
                <Space>
                <span class="mt-2 mb-2 ml-3 mr-1" nz-icon nzType="info-circle" nzTheme="fill"
                      style="color: blue"></span>
                  Private key sẽ được gửi vào email khách hàng đăng ký tài khoản.
                  Quý khách lưu ý giữ private key này an toàn bảo mật cho server.
                </Space>
              </div>
              <h4>
                Tên key pair
                <span nz-typography nzType="danger" style="color: red">*</span>
              </h4>
              <nz-input-group>
                <nz-form-item>
                  <nz-form-control
                    nzErrorTip="Tên keypair không được chứa ký tự đặc biệt, chữ cái phải trong bảng tiếng anh">
                    <textarea nz-input [nzAutosize]="{ minRows: 1 }" placeholder="Vui lòng nhập thông tin"
                              maxlength="20" formControlName="keypair_name_2"></textarea>
                  </nz-form-control>
                </nz-form-item>
              </nz-input-group>
              <h4 style="padding-top: 20px">
                Tên Public Key
                <span nz-typography nzType="danger" style="color: red">*</span>
              </h4>
              <nz-input-group>
                <nz-form-item>
                  <nz-form-control
                    nzErrorTip="Trường dữ liệu không thể bỏ trống">
                    <textarea formControlName="public_key" nz-input [nzAutosize]="{ minRows: 3 }"
                              placeholder="Nhập public key"></textarea>
                  </nz-form-control>
                </nz-form-item>
              </nz-input-group>
            </nz-tab>
          </nz-tabset>
        </ng-container>
      </nz-modal>
    </form>
  </nz-form-control>

  <!-- chi tiết  -->
  <nz-modal [(nzVisible)]="isVisibleDetail" nzTitle="Chi tiết Key pair" (nzOnCancel)="handleCancel()" [nzOkText]="null"
            nzCancelText="Quay lại" [nzStyle]="modalStyle">
    <ng-container *nzModalContent>
      <h4>Tên key pair:</h4>
      <p>{{ data.name }}</p>
      <h4>Public key:</h4>
      <p>{{ data.publicKey }}</p>
    </ng-container>
  </nz-modal>
</nz-card>
