<page-header [breadcrumb]="breadcrumb" [action]="action"
             title="{{'keypair.title' | i18n}}">
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="iconTemplate">
      <nz-breadcrumb-item><a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ 'app.breadcrumb.infrastructure.service' | i18n }}</nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/app-smart-cloud/keypair']">{{ 'keypair.title' | i18n }}</a></nz-breadcrumb-item>
      <ng-template #iconTemplate><one-portal-svg-icon [icon]="'icon_breadcrumb'"></one-portal-svg-icon></ng-template>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (regionChange)="onRegionChanged($event)" (valueChanged)="onRegionChange($event)"></region-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-card>
  <div class="d-flex justify-content-between">
    <div *ngIf="!isBegin" nz-row class="mb-md">
      <nz-input-group style="margin-right: 8px; width: 100%;border-radius: 8px" [nzPrefix]="suffixIconSearch"
                      nzSize="large">
        <input #searchBox (keyup.enter)="search(searchBox.value)" [(ngModel)]="searchKey" (ngModelChange)="searchDelay.next(false)" name="name" nz-input placeholder="{{'menu.search' | i18n}}" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <img src="assets/imgs/search.svg" alt="" style="cursor: pointer"/>
      </ng-template>
    </div>

    <button *ngIf="!isBegin" (click)="createKey()" nz-button nzType="primary">
      <img style="padding-right: 10px;" src="assets/imgs/add-circle.svg" alt="" />
      <span class="button-text-primary">{{'keypair.title.create' | i18n}}</span>
    </button>
  </div>

  <ng-container [ngSwitch]="isBegin">
    <ng-container *ngSwitchCase=false><!--  màn khởi tạo-->
      <!--      <h2>Danh sách SSH Key</h2>-->

      <!--  Bảng-->
      <nz-table #rowSelectionTable [nzFrontPagination]="false" nzShowPagination nzShowSizeChanger [nzData]="listOfData"
                [nzTotal]="total" [nzPageSize]="size" (nzPageSizeChange)="onPageSizeChange($event)" [nzPageIndex]="index"
                (nzPageIndexChange)="onPageIndexChange($event)" [nzLoading]="loading">
        <thead>
        <tr>
          <th>{{'keypair.title.name' | i18n}}</th>
          <th>Finger Print</th>
          <th>{{'app.text.operation' | i18n}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of listOfData">
          <td>
            <a nz-tooltip nzTooltipTitle="{{'app.view.detail' | i18n}}" nzTooltipPlacement="bottom"
               (click)="detailKey(data)">{{ data.name }}</a>
          </td>
          <td>{{ data.fingerprint }}</td>
          <td>
            <!----Xóa---->
            <img src="assets/imgs/delete.svg" style="width: 28px;height: 28px; cursor: pointer;"
                 nz-tooltip nzTooltipTitle="{{'app.delete' | i18n}}" nzTooltipPlacement="bottom"
                 (click)="deleteKey(data)"/>
          </td>
        </tr>
        <nz-modal [(nzVisible)]="isVisibleDelete" nzTitle="{{'keypair.title.remove' | i18n:{nameDelete:nameDelete} }}"
                  (nzOnCancel)="handleCancel(null)">
          <ng-container *nzModalContent>
            <div class="text-label" style="margin-bottom: 3px; margin-top: 10px">{{'keypair.des.remove' | i18n:{nameDelete:nameDelete} }}</div>
            <input nz-input nzSize="large" style="margin-left: -3px" placeholder="{{nameDelete}}" (keydown.enter)="enterDelete(data.id)"
                   [(ngModel)]="nameDeleteInput" [ngModelOptions]="{ standalone: true }" type="text" />
          </ng-container>
          <div *nzModalFooter>
            <button nz-button (click)="handleCancel(null)">
              <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/cancel.svg" alt="" />{{'app.button.cancel' | i18n}}
            </button>
            <button nz-button nzType="primary" (click)="handleDelete(data.id)"
                    [disabled]="nameDeleteInput !== nameDelete">
              <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/confirm.svg" alt="" />{{'app.button.confirm' | i18n}}
            </button>
          </div>
        </nz-modal>
        </tbody>
      </nz-table>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <nz-card>
        <nz-row nzJustify="center" style="margin-top: 30px;">
          <img src="assets/imgs/ssh-key.png" width="400" height="300" alt="blank-security-group">
        </nz-row>
        <nz-row nzJustify="center" style="margin-top: 40px">
          <div class="text-title">
            <h1 style="font-size: 32px; color: #0066B3; text-align: center; margin-bottom: 0;"><b>KEYPAIR</b></h1>
            <h1 style="font-size: 32px; color: #0066B3;"><b>{{'keypair.title.lazy' | i18n}}</b></h1>
          </div>
        </nz-row>
        <nz-row nzJustify="center">
          <div class="text-subtitle" style="margin-top: 5px; max-width: 710px; text-wrap: normal; color: #6C757D">{{'keypair.des.lazy' | i18n}}
          </div>
        </nz-row>
        <nz-row nzJustify="center" style="margin: 50px 0 20px 0">
          <button (click)="createKey()" style="text-align: center" nz-button nzType="primary">{{'keypair.title.init' | i18n}}</button>
        </nz-row>
      </nz-card>
    </ng-container>
  </ng-container>

  <!-- tạo mới -->
  <nz-form-control>
    <form #myForm="ngForm" nz-form [formGroup]="form" (ngSubmit)="submitForm()" [nzLayout]="'vertical'">
      <nz-modal [(nzVisible)]="isVisibleCreate" nzTitle="{{'keypair.title.create' | i18n}}" (nzOnCancel)="handleCancel(myForm)">
        <ng-container *nzModalContent>
          <nz-tabset (nzSelectedIndexChange)="onTabchange($event, myForm)" nzSize="large">
            <nz-tab nzTitle="{{'app.label.create' | i18n}}">
              <nz-form-item>
                <nz-alert nzType="warning" nzMessage="{{'keypair.title.note1' | i18n}}" nzShowIcon></nz-alert>
                <div class="text-label" style="margin-bottom: 3px; margin-top: 10px">{{'keypair.title.name' | i18n}} (<span
                  class="text-red">*</span>)
                  <img
                    style="margin-left: 4px"
                    nz-tooltip="{{'keypair.title.note2' | i18n}}"
                    src="assets/imgs/pajamas_question.svg"
                  /></div>
                <nz-input-group>
                  <nz-form-item>
                    <nz-form-control
                      nzErrorTip="{{'keypair.title.note2' | i18n}}">
                      <input nz-input nzSize="large" placeholder="{{'keypair.title.name.press' | i18n}}" formControlName="keypair_name_1" (keydown.enter)="enterCreate(myForm)"
                             type="text" maxlength="50" />
                    </nz-form-control>
                  </nz-form-item>
                </nz-input-group>
              </nz-form-item>
            </nz-tab>
            <nz-tab nzTitle="{{'keypair.title.key.press' | i18n}}">
              <nz-form-item>
                <nz-alert nzType="warning" nzMessage="{{'keypair.title.note3' | i18n}}
                  của quý khách." nzShowIcon [ngStyle]="{'font-size.px':fontSize}"></nz-alert>
              </nz-form-item>
              <div class="text-label" style="margin-bottom: 3px; margin-top: 10px">{{'keypair.title.name' | i18n}} (<span
                class="text-red">*</span>)
                <img
                  style="margin-left: 4px"
                  nz-tooltip="{{'keypair.title.note2' | i18n}}"
                  src="assets/imgs/pajamas_question.svg"
                /></div>
              <nz-input-group>
                <nz-form-item>
                  <nz-form-control
                    nzErrorTip="{{'keypair.title.note2' | i18n}}">
                    <input nz-input nzSize="large" placeholder="{{'keypair.title.name.press' | i18n}}" formControlName="keypair_name_2" (keydown.enter)="enterCreate(myForm)"
                           type="text" maxlength="50" />
                  </nz-form-control>
                </nz-form-item>
              </nz-input-group>
              <div class="text-label" style="margin-bottom: 3px; margin-top: 10px">Public Key (<span
                class="text-red">*</span>)
              </div>
              <nz-input-group>
                <nz-form-item>
                  <nz-form-control
                    nzErrorTip="{{'keypair.title.empty' | i18n}}">
                    <textarea nzSize="large" formControlName="public_key" nz-input [nzAutosize]="{ minRows: 3 }" (keydown.enter)="enterCreate(myForm)"
                              placeholder="{{'keypair.public.key.press' | i18n}}"></textarea>
                  </nz-form-control>
                </nz-form-item>
              </nz-input-group>
            </nz-tab>
          </nz-tabset>
        </ng-container>
        <div *nzModalFooter>
          <button nz-button (click)="handleCancel(myForm)">
            <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/cancel.svg" alt=""/>{{'app.button.cancel' | i18n}}
          </button>
          <button nz-button nzType="primary" (click)="handleCreate(myForm)" [disabled]="form.invalid">
            <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/confirm.svg" alt="" />{{'app.button.confirm' | i18n}}
          </button>
        </div>
      </nz-modal>
    </form>
  </nz-form-control>

  <!-- chi tiết  -->
  <nz-modal [(nzVisible)]="isVisibleDetail" nzTitle="{{'app.detail' | i18n}} Keypair" (nzOnCancel)="handleCancel(null)"
            [nzOkText]="null"
            nzCancelText="{{'app.button.back' | i18n}}" [nzStyle]="modalStyle">
    <ng-container *nzModalContent>
      <div class="text-label" style="font-weight: bold;">{{'keypair.title.name' | i18n}}:</div>
      <p class="text-label">{{ data.name }}</p>
      <h4 class="text-label" style="font-weight: bold;">Public key:</h4>
      <p class="text-label">{{ data.publicKey }}</p>
    </ng-container>
  </nz-modal>
</nz-card>
