<app-dashboard-v1 [headerInfo]="headerInfo"></app-dashboard-v1>
<div class="detail-volume">
  <h3>Chi tiết dịch vụ</h3>
  <hr>
  <br>

  <nz-table [nzTemplateMode]=true style="border: none;">
    <tbody>
    <tr>
      <td style="border-bottom: none;">
        <img nz-image
             width="200px"
             height="200px"
             nzSrc="'apps/app-smart-cloud/src/assets/tmp/img/icon_cycle.png'"
             alt=""
        />
      </td>
      <td style="border-bottom: none;"></td>
    </tr>
    </tbody>
  </nz-table>

</div>

