<one-portal-header
  title="Volume"
  [path]="['Home', 'Dịch vụ', 'Volume']"
  [regionId]="region"
  (onProjectChanged)="projectChanged($event)" (onRegionChanged)="regionChanged($event)"
/>
<nz-content>
  <nz-card>
    <nz-row nzJustify="center">
      <img src="/assets/imgs/volume.png" width="450" height="450" alt="blank-security-group">
    </nz-row>
    <nz-row nzJustify="center" style="margin-top: -12px">
      <div class="text-title">
        <h1>Volume</h1>
        <h1>Lưu trữ ổ đĩa máy chủ</h1>
      </div>
    </nz-row>
    <nz-row nzJustify="center">
      <div class="text-subtitle" style="max-width: 885px; text-wrap: normal; text-align: center;">Dịch vụ cung cấp lưu trữ dạng Block cho máy chủ được thiết kế phân nhiều loại để đáp ứng nhiều ứng dụng đòi hỏi về mặt thông lượng hoặc dung lượng.</div>
    </nz-row>
    <nz-row nzJustify="center">
      <button style="text-align: center; margin-top: 10px" nz-button nzType="primary" [routerLink]="'/app-smart-cloud/volume/create'">Khởi tạo ngay</button>
    </nz-row>
  </nz-card>
</nz-content>
