<page-header [breadcrumb]="breadcrumb" [action]="action" [title]="('project.note3' | i18n)">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/app-smart-cloud/vpc']">{{ 'project.note1' | i18n }}</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ 'project.note3' | i18n }}</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <share-users-combobox></share-users-combobox>
      <region-select-dropdown (valueChanged)="onRegionChange($event)"></region-select-dropdown>
    </div>
  </ng-template>
</page-header>
<!---------------FORM-------------->
<form nz-form [formGroup]="form" [nzLayout]="'vertical'">
  <nz-row nzGutter="24">
    <nz-col nzSpan="16">
      <!---------------CARD-THÔNG TIN VPC-------------->
      <nz-card class="text-label" nzTitle="" style="border-radius: 8px;">
        <div style="margin-bottom: 20px">
          <span class="text-card-header">{{ 'project.note24' | i18n }}</span>
        </div>
        <nz-form-item>
          <nz-form-label>{{ 'project.note19' | i18n }}(<span class="text-red">*</span>)<img
            style="margin-left: 10px"
            nz-tooltip="{{ 'project.note16' | i18n }}"
            src="assets/imgs/pajamas_question.svg"
            alt=""
          /></nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="{{ 'project.note33' | i18n }}" style="width: 100%"
                   formControlName="name">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>{{ 'app.service.description' | i18n }}</nz-form-label>
          <nz-form-control>
          <textarea maxlength="255" nz-input [nzAutosize]="{ minRows: 3 }" placeholder="{{ 'volume.tooltip.input.description' | i18n }}" style="width: 100%"
                    formControlName="description"></textarea>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>{{ 'project.note35' | i18n }}(<span class="text-red">*</span>)
            <img style="margin-left: 10px" nz-tooltip="{{ 'project.note34' | i18n }}"
                 src="assets/imgs/pajamas_question.svg" alt="" /></nz-form-label>
          <nz-radio-group [(ngModel)]="vpcType" [ngModelOptions]="{standalone: true}"
                          (ngModelChange)="calculate(null)" nzSize="large">
            <nz-row [nzGutter]="{ xs: 24, sm: 24, md: 24, lg: 24 }" style="margin-top: 10px">
              <nz-col [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXl]="12" [nzXs]="24">
                <nz-card style="border-radius: 4px" [nzAlign]="'middle'" [ngStyle]="{
                      border: activeNoneVpc
                    ? '1px solid #0066B3'
                    : '1px solid #DADADA',
                    height: cardHeight,
                  }">
                  <nz-row nzGutter="16">
                    <nz-col nzSpan="20">
                      <nz-card-meta [nzAvatar]="nzAvatarselectedHDDorSSD1" [nzTitle]="nzTitleselectedHDDorSSD1"
                                    [nzDescription]="nzDescriptionselectedHDDorSSD1">
                        <ng-template #nzAvatarselectedHDDorSSD1>
                          <label nz-radio nzValue="0">
                          </label>
                        </ng-template>
                        <ng-template #nzTitleselectedHDDorSSD1>
                          <b>{{ 'project.note5' | i18n }}</b>
                        </ng-template>
                        <ng-template #nzDescriptionselectedHDDorSSD1>
                          <ellipsis class="text-custom">
                            {{ 'project.note36' | i18n }}
                          </ellipsis>
                        </ng-template>
                      </nz-card-meta>
                    </nz-col
                    >
                    <nz-col style="
                      display: flex;
                      align-items: center;
                      margin-top: -24px;
                    " [ngStyle]="{ height: cardHeight,}"
                            nzSpan="4"
                    >
                    </nz-col>
                  </nz-row>
                </nz-card>
              </nz-col>
              <nz-col [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXl]="12" [nzXs]="24">
                <nz-card style="border-radius: 4px" [nzAlign]="'middle'" [ngStyle]="{
                      border: activeVpc
                    ? '1px solid #0066B3'
                    : '1px solid #DADADA',
                    height: cardHeight,
                  }">
                  <nz-row nzGutter="16">
                    <nz-col nzSpan="20">
                      <nz-card-meta [nzAvatar]="nzAvatarselectedHDDorSSD2" [nzTitle]="nzTitleselectedHDDorSSD2"
                                    [nzDescription]="nzDescriptionselectedHDDorSSD2">
                        <ng-template #nzAvatarselectedHDDorSSD2>
                          <label nz-radio nzValue="1"></label>
                        </ng-template>
                        <ng-template #nzTitleselectedHDDorSSD2>
                          <b>{{ 'project.note4' | i18n }}</b>
                        </ng-template>
                        <ng-template #nzDescriptionselectedHDDorSSD2>
                          <ellipsis class="text-custom">
                            {{ 'project.note37' | i18n }}
                          </ellipsis>
                        </ng-template>
                      </nz-card-meta>
                    </nz-col>
                    <nz-col
                      style="
                      display: flex;
                      align-items: center;
                      margin-top: -24px;
                    "
                      [ngStyle]="{
                          height: cardHeight,
                        }"
                      nzSpan="4"
                    >
                    </nz-col>
                  </nz-row>
                </nz-card>
              </nz-col>
            </nz-row>
          </nz-radio-group>
        </nz-form-item>
        <div *ngIf="vpcType == '1'">
          <nz-tabset nzCentered nzSize="large" (nzSelectChange)="changeTab($event)">
            <nz-tab nzTitle="{{ 'config.package' | i18n }}">
              <ngu-carousel #myCarouselFlavor
                            [inputs]="carouselTileConfig"
                            [dataSource]="listOfferFlavors"
              >
                <ngu-tile
                  *nguCarouselDef="let item; index as i; let ani = animate"
                  [@slider]="ani"
                >
                  <div
                    style="cursor: pointer"
                    (click)="onInputFlavors(item.id,item.offerName);"
                    [id]="'flavor_' + item.id"
                  >
                    <nz-row>
                      <nz-col
                        style="padding-bottom: 5px"
                        class="newClassFlavor text-center"
                        [class.initialClassFlavor]="
                        selectedElementFlavor === 'flavor_' + item.id
                      "
                      >
                        <div style="position: relative;">
                        <span
                          class="nameFlavor"
                          [class.initialNameFlavor]="
                            selectedElementFlavor === 'flavor_' + item.id
                          "
                        >{{ item.offerName }}</span
                        >
                          <div style="margin-top: -16px">
                            <img
                              style="width: 100px"
                              [src]="
                              selectedElementFlavor === 'flavor_' + item.id
                                ? 'assets/imgs/line2.svg'
                                : 'assets/imgs/line.svg'
                            "
                              alt=""
                            />
                          </div>
                          <span class="priceFlavor">{{
                              item.price.fixedPrice.amount | number:'1.0-0':'en-US'
                            }}</span
                          ><span> {{"app.payment-detail.month" | i18n}}</span>
                        </div>
                        <div style="z-index: 1;position: absolute; right: -5px; top: -5px;">
                          <img src="assets/imgs/mostpop.svg">
                        </div>
                        <div
                          style="width: 40px;height: 20px;background-color: red;border-radius: 5px;z-index: 1;position: absolute; right: 1%; top: 62%;">
                          <span style="color: whitesmoke">-30%</span>
                        </div>
                      </nz-col>
                    </nz-row>
                    <nz-row>
                      <nz-col
                        style="width: 100%; padding-top: 5px"
                        [class.flavor-footer-active]="
                        selectedElementFlavor === 'flavor_' + item.id
                      "
                        [class.flavor-footer]="
                        selectedElementFlavor != 'flavor_' + item.id
                      "
                      >
                        <div>
                          <p>{{ item.description }}</p>
                        </div>
                      </nz-col>
                    </nz-row>
                  </div>
                </ngu-tile>

                <ul class="myPoint" NguCarouselPoint>
                  <li
                    *ngFor="let i of myCarouselFlavor?.pointNumbers"
                    [class.active]="i === myCarouselFlavor?.activePoint"
                    (click)="myCarouselFlavor?.moveTo(i)"
                  ></li>
                </ul>
              </ngu-carousel>
            </nz-tab>
            <nz-tab nzTitle="{{ 'custom.config.package' | i18n }}">
              <div class="ant-table">
                <table>
                  <thead class="ant-table-thead">
                  <tr>
                    <th>{{ 'app.resource' | i18n }}</th>
                    <th>{{ 'app.payment-detail.quantity' | i18n }}</th>
                    <th>{{ 'app.money.price' | i18n }}</th>
                  </tr>
                  </thead>
                  <tbody class="ant-table-tbody">
                  <tr>
                    <td width="60%">
                      VCPU (<span class="text-red">*</span>)
                      <nz-slider
                        [nzMin]="1"
                        [nzMax]="1000"
                        [(ngModel)]="vCPU"
                        (ngModelChange)="calculate(null)"
                        [ngModelOptions]="{standalone: true}"
                      ></nz-slider>
                    </td>
                    <td width="20%">
                      <nz-input-number [(ngModel)]="vCPU"
                                       (keydown)="checkPossiblePress($event)"
                                       (ngModelChange)="calculate(null)"
                                       [ngModelOptions]="{standalone: true}"
                                       [nzMin]="1" [nzMax]="1000" [nzStep]="1" nzSize="large"></nz-input-number>
                    </td>
                    <td width="20%">
                      <div class="text-right">2.000.000 VND</div>
                      <div class="text-right" style="opacity: 0.5;">100.000 VND</div>
                    </td>
                  </tr>
                  <tr>
                    <td width="60%">
                      RAM (GB) (<span class="text-red">*</span>)
                      <nz-slider
                        [nzMin]="1"
                        [nzMax]="1000"
                        [(ngModel)]="ram"
                        (ngModelChange)="calculate(null)"
                        [ngModelOptions]="{standalone: true}"
                      ></nz-slider>
                    </td>
                    <td width="20%">
                      <nz-input-number [(ngModel)]="ram"
                                       (keydown)="checkPossiblePress($event)"
                                       (ngModelChange)="calculate(null)"
                                       [ngModelOptions]="{standalone: true}"
                                       [nzMin]="1" [nzStep]="1" nzSize="large"></nz-input-number>
                    </td>
                    <td width="20%">
                      <div class="text-right">2.000.000 VND</div>
                      <div class="text-right" style="opacity: 0.5;">100.000 VND</div>
                    </td>
                  </tr>
                  <tr>
                    <td width="60%">
                      {{"volume.table.title.storage" | i18n}} HHD (GB)
                      <nz-slider
                        [nzMin]="1"
                        [nzMax]="1000"
                        [(ngModel)]="hhd"
                        [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="calculate(null)"
                      ></nz-slider>
                    </td>
                    <td width="20%">
                      <nz-input-number [(ngModel)]="hhd"
                                       (keydown)="checkPossiblePress($event)"
                                       (ngModelChange)="calculate(null)"
                                       [ngModelOptions]="{standalone: true}"
                                       [nzMin]="1" [nzStep]="1" nzSize="large"></nz-input-number>
                    </td>
                    <td width="20%">
                      <div class="text-right">2.000.000 VND</div>
                      <div class="text-right" style="opacity: 0.5;">100.000 VND</div>
                    </td>
                  </tr>
                  <tr>
                    <td width="60%">
                      {{"volume.table.title.storage" | i18n}} SSD (GB)
                      <nz-slider
                        [nzMin]="1"
                        [nzMax]="1000"
                        [(ngModel)]="ssd"
                        (ngModelChange)="calculate(null)"
                        [ngModelOptions]="{standalone: true}"
                      ></nz-slider>
                    </td>
                    <td width="20%">
                      <nz-input-number [(ngModel)]="ssd"
                                       (keydown)="checkPossiblePress($event)"
                                       [ngModelOptions]="{standalone: true}"
                                       (ngModelChange)="calculate(null)"
                                       [nzMin]="1" [nzStep]="1" nzSize="large"></nz-input-number>
                    </td>
                    <td width="20%">
                      <div class="text-right">2.000.000 VND</div>
                      <div class="text-right" style="opacity: 0.5;">100.000 VND</div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </nz-tab>
          </nz-tabset>
          <nz-row style="margin-top: 20px;margin-bottom: 10px;" nzGutter="16">
            <nz-col nzLg="24" nzMd="12" nzSm="24">
              <nz-form-item style="margin-bottom: 5px">
                <nz-form-label
                >{{"time.used" | i18n}} (<span class="text-red">*</span>) -
                  {{"app.month" | i18n}}
                </nz-form-label
                >
                <nz-form-control>
                  <nz-row>
                    <nz-input-number style="width: 50%; margin-left: -1px" [nzMin]="1" [nzMax]="100" [nzStep]="1"
                                     (keydown)="checkPossiblePress($event)"
                                     formControlName="numOfMonth" (ngModelChange)="onChangeTime()"
                                     nzSize="large"></nz-input-number>
                    <div class="text-custom-time" style="display: flex; margin-left: 20px;align-items: center;">
                      {{"volume.table.title.create.date" | i18n}}: {{ today | date : 'dd/MM/yyyy' }}
                    </div>
                  </nz-row>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <div class="text-custom-time" style="color: red;">
            {{"volume.table.title.expire.date" | i18n}}: {{ expiredDate | date : 'dd/MM/yyyy' }}
          </div>
        </div>
      </nz-card>
      <div *ngIf="vpcType == '1'">
        <!---------------CARD-NW-------------->
        <nz-card style="border-radius: 8px">
          <div style="margin-bottom: 20px"><span class="text-card-header">Networks</span></div>
          <div class="ant-table">
            <table>
              <td style="width:50%">
                <nz-form-item>
                  <nz-form-label>{{"app.order-detail.quantity" | i18n}} Network</nz-form-label>
                  <nz-form-control>
                    <nz-input-number style="width: 90%; margin-left: -1px" [nzMin]="0" [nzStep]="1"
                                     (keydown)="checkPossiblePress($event)"
                                     [(ngModel)]="numberNetwork" (ngModelChange)="calculate(null)"
                                     [ngModelOptions]="{ standalone: true }" nzSize="large"></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label>{{"project.note40" | i18n}} (<span class="text-red">*</span>)</nz-form-label>
                  <nz-form-control>
                    <nz-input-group nzCompact>
                      <nz-select nzSize="large" [nzLoading]="loadingIpConnectInternet"
                                 [nzDisabled]="disableIpConnectInternet"
                                 style="width: 90%; margin-left: -1px;border-radius: 10px;"
                                 nzPlaceHolder="--{{'project.note40' | i18n}}--"
                                 formControlName="ipConnectInternet" (nzOpenChange)="openIpSubnet()">
                        <nz-option *ngFor="let i of listIpConnectInternet" [nzLabel]="i.displayName"
                                   [nzValue]="i.networkId +'--'+ i.displayName" />
                      </nz-select>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td style="width:50%">
                <nz-form-item>
                  <nz-form-label>{{"app.order-detail.quantity" | i18n}} Router</nz-form-label>
                  <nz-form-control>
                    <nz-input-number style="width: 90%; margin-left: -1px" [nzMin]="0" [nzStep]="1"
                                     (keydown)="checkPossiblePress($event)"
                                     [(ngModel)]="numberRouter" (ngModelChange)="calculate(null)"
                                     [ngModelOptions]="{ standalone: true }" nzSize="large"></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-label>{{"app.order-detail.quantity" | i18n}} Security Group</nz-form-label>
                  <nz-form-control>
                    <nz-input-number style="width: 90%; margin-left: -1px" [nzMin]="0" [nzStep]="1"
                                     (keydown)="checkPossiblePress($event)"
                                     [(ngModel)]="numberSecurityGroup" (ngModelChange)="calculate(null)"
                                     [ngModelOptions]="{ standalone: true }" nzSize="large"></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </td>
            </table>
          </div>
          <div *ngIf="selectIndexTab == 0">
            <nz-form-item *ngIf="openIPType == true">
              <nz-form-label>{{"project.note41" | i18n}} (<span class="text-red">*</span>)
                <img
                  style="margin-left: 10px"
                  nz-tooltip="{{'project.note41' | i18n}}"
                  src="assets/imgs/pajamas_question.svg"
                  alt=""
                /></nz-form-label>
              <nz-form-control>
                <nz-input-group nzCompact>
                  <nz-select nzSize="large" [nzLoading]="false" [nzDisabled]="false"
                             style="width: 95%; margin-left: -1px;border-radius: 10px;"
                             nzPlaceHolder="--{{'project.note41' | i18n}}--"
                             formControlName="ipType" (nzOpenChange)="calculate(null)">
                    <nz-option *ngFor="let i of listIpType" [nzLabel]="i.label"
                               [nzValue]="i.value" />
                  </nz-select>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div *ngIf="selectIndexTab == 1">
            <nz-row>
              <nz-form-item style="width: 80%">
                <nz-form-label>{{"app.order-detail.quantity" | i18n}} IP Floating</nz-form-label>
                <nz-form-control>
                  <nz-input-number style="width: 96%; margin-left: -1px" [nzMin]="0" [nzStep]="1"
                                   (keydown)="checkPossiblePress($event)"
                                   [(ngModel)]="numberIpFloating" (ngModelChange)="calculate(null)"
                                   [ngModelOptions]="{ standalone: true }" nzSize="large"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item style="width: 20%">
                <nz-form-label style="text-align: right">{{"app.service.price-title" | i18n}} ({{"app.payment-detail.month" | i18n}})</nz-form-label>
                <nz-form-control>
                  <div class="centered">
                    <p class="text-custom-price" style="width: 90%;">
                      {{ price.IpFloating }} <span style="color: black;">đ</span>
                    </p>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </nz-row>
            <nz-row>
              <nz-form-item style="width: 80%">
                <nz-form-label>{{"app.order-detail.quantity" | i18n}} IP Public</nz-form-label>
                <nz-form-control>
                  <nz-input-number style="width: 96%; margin-left: -1px" [nzMin]="0" [nzStep]="1"
                                   (keydown)="checkPossiblePress($event)"
                                   [(ngModel)]="numberIpPublic" (ngModelChange)="calculate(null)"
                                   [ngModelOptions]="{ standalone: true }" nzSize="large"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item style="width: 20%">
                <nz-form-label style="text-align: right">{{"app.service.price-title" | i18n}} ({{"app.payment-detail.month" | i18n}})</nz-form-label>
                <nz-form-control>
                  <div class="centered">
                    <p class="text-custom-price" style="width: 90%;">
                      {{ price.IpPublic }} <span style="color: black;">đ</span>
                    </p>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </nz-row>
            <nz-row>
              <nz-form-item style="width: 80%">
                <nz-form-label>{{"app.order-detail.quantity" | i18n}} IPv6</nz-form-label>
                <nz-form-control>
                  <nz-input-number style="width: 96%; margin-left: -1px" [nzMin]="0" [nzStep]="1"
                                   (keydown)="checkPossiblePress($event)"
                                   [(ngModel)]="numberIpv6" (ngModelChange)="calculate(null)"
                                   [ngModelOptions]="{ standalone: true }" nzSize="large"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item style="width: 20%">
                <nz-form-label style="text-align: right">{{"app.service.price-title" | i18n}} ({{"app.payment-detail.month" | i18n}})</nz-form-label>
                <nz-form-control>
                  <div class="centered">
                    <p class="text-custom-price" style="width: 90%;">
                      {{ price.IpV6 }} <span style="color: black;">đ</span>
                    </p>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </nz-row>
          </div>
          <p>{{"project.note43" | i18n}}</p>
        </nz-card>

        <!---------------CARD-BACKUP-------------->
        <nz-card style="border-radius: 8px">
          <div style="margin-bottom: 20px"><span class="text-card-header">Backup</span></div>
          <div *ngIf="!activeBackup">
            <button style="height: 32px" nz-button nzType="default" (click)="initBackup()">
              <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/add.svg" alt="" />{{"app.bonus" | i18n}} Backup
            </button>
          </div>
          <div *ngIf="activeBackup">
            <div class="ant-table">
              <table>
                <td style="width:80%">
                  <nz-form-item>
                    <nz-form-label>{{"volume.table.title.storage" | i18n}} Backup Volume/VM (GB)</nz-form-label>
                    <nz-form-control>
                      <nz-input-number style="width: 96%; margin-left: -1px" [nzMin]="0" [nzStep]="20"
                                       (keydown)="checkPossiblePress($event)"
                                       [(ngModel)]="numberBackup" (ngModelChange)="calculate(null)"
                                       [ngModelOptions]="{ standalone: true }" nzSize="large"></nz-input-number>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td style="width:20%">
                  <nz-form-item>
                    <nz-form-label style="text-align: right">{{"app.service.price-title" | i18n}} ({{"app.payment-detail.month" | i18n}})</nz-form-label>
                    <nz-form-control>
                      <div class="centered">
                        <p class="text-custom-price" style="width: 90%;">
                          {{ price.backup }} <span style="color: black;">đ</span>
                        </p>
                      </div>
                    </nz-form-control>
                  </nz-form-item>
                </td>
              </table>
            </div>
          </div>
          <nz-alert class="ant-alert-warning-custom" (click)="initBackup()" nzType="warning"
                    nzDescription="{{'project.note47' | i18n}}" nzShowIcon></nz-alert>
        </nz-card>

        <!---------------CARD-LOAD_BALANCER-------------->
        <nz-card style="border-radius: 8px">
          <div style="margin-bottom: 20px"><span class="text-card-header">Load Balancer</span></div>
          <div *ngIf="!activeLoadBalancer">
            <button style="height: 32px" nz-button nzType="default" (click)="initLoadBalancer()">
              <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/add.svg" alt="" />{{"app.bonus" | i18n}} Load
              Balancer
            </button>
          </div>
          <div *ngIf="activeLoadBalancer">
            <div class="ant-table">
              <table>
                <td style="width:40%">
                  <nz-form-item>
                    <nz-form-label>{{"app.order-detail.quantity" | i18n}}{{"app.order-detail.quantity" | i18n}} Load Balancer</nz-form-label>
                    <nz-form-control>
                      <nz-input-number style="width: 90%; margin-left: -1px" [nzMin]="0" [nzStep]="1"
                                       (keydown)="checkPossiblePress($event)"
                                       [(ngModel)]="numberLoadBalancer" (ngModelChange)="calculate(null)"
                                       [ngModelOptions]="{ standalone: true }" nzSize="large"></nz-input-number>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td style="width:40%">
                  <nz-form-item>
                    <nz-form-label>{{'project.note49' | i18n}}</nz-form-label>
                    <nz-form-control>
                      <nz-input-group nzCompact>
                        <nz-select nzSize="large" [nzLoading]="false" [nzDisabled]="false"
                                   style="width: 90%; margin-left: -1px;border-radius: 10px;"
                                   nzPlaceHolder="--{{'project.note49' | i18n}}--"
                                   formControlName="loadBalancerId" (nzOpenChange)="calculate(null)">
                          <nz-option *ngFor="let i of listLoadbalancer" [nzLabel]="i.offerName"
                                     [nzValue]="i.id" />
                        </nz-select>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td style="width:20%">
                  <nz-form-item>
                    <nz-form-label style="text-align: right">{{"app.service.price-title" | i18n}} ({{"app.payment-detail.month" | i18n}})</nz-form-label>
                    <nz-form-control>
                      <div class="centered">
                        <p class="text-custom-price" style="width: 90%;">
                          {{ price.loadBalancer }} <span style="color: black;">đ</span>
                        </p>
                      </div>
                    </nz-form-control>
                  </nz-form-item>
                </td>
              </table>
            </div>
          </div>
          <nz-alert class="ant-alert-warning-custom" (click)="initLoadBalancer()" nzType="warning"
                    nzDescription="{{'project.note48' | i18n}}"
                    nzShowIcon></nz-alert>
        </nz-card>

        <!---------------CARD-FILE STORAGE-------------->
        <nz-card style="border-radius: 8px">
          <div style="margin-bottom: 20px"><span class="text-card-header">File Storage</span></div>
          <div *ngIf="!activeFileStorage">
            <button style="height: 32px" nz-button nzType="default" (click)="initFileStorage()">
              <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/add.svg" alt="" />{{"app.bonus" | i18n}} File Storage
            </button>
          </div>
          <div *ngIf="activeFileStorage">
            <div class="ant-table">
              <table>
                <td style="width:40%">
                  <nz-form-item>
                    <nz-form-label>{{"volume.table.title.storage" | i18n}} File System (GB)</nz-form-label>
                    <nz-form-control>
                      <nz-row>
                        <nz-input-number style="width: 90%;margin-left: -1px" [nzMin]="0" [nzStep]="1"
                                         (keydown)="checkPossiblePress($event)"
                                         [(ngModel)]="numberFileSystem" (ngModelChange)="calculate(null)"
                                         [ngModelOptions]="{ standalone: true }" nzSize="large"></nz-input-number>
                      </nz-row>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td style="width:40%">
                  <nz-form-item>
                    <nz-form-label>{{"volume.table.title.storage" | i18n}} File System Scnapsshot (GB)</nz-form-label>
                    <nz-form-control>
                      <nz-row>
                        <nz-input-number style="width: 90%; margin-left: -1px" [nzMin]="1" [nzMax]="100" [nzStep]="1"
                                         (keydown)="checkPossiblePress($event)"
                                         [(ngModel)]="numberFileScnapsshot" (ngModelChange)="calculate(null)"
                                         [ngModelOptions]="{ standalone: true }" nzSize="large"></nz-input-number>
                      </nz-row>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td style="width:20%">
                  <nz-form-item>
                    <nz-form-label style="text-align: right">{{"app.service.price-title" | i18n}} ({{"app.payment-detail.month" | i18n}})</nz-form-label>
                    <nz-form-control>
                      <div class="centered">
                        <p class="text-custom-price" style="width: 90%;">
                          {{ price.fileStorage | number }} <span style="color: black;">đ</span>
                        </p>
                      </div>
                    </nz-form-control>
                  </nz-form-item>
                </td>
              </table>
            </div>
          </div>
          <nz-alert class="ant-alert-warning-custom" (click)="initFileStorage()" nzType="warning"
                    nzDescription="{{'project.note44' | i18n}}"
                    nzShowIcon></nz-alert>
        </nz-card>
        <!---------------CARD-SITE-TO-SITE-------------->
        <nz-card style="border-radius: 8px">
          <div style="margin-bottom: 20px"><span class="text-card-header">VPC site to site</span></div>
          <div *ngIf="!activeSiteToSite">
            <button style="height: 32px" nz-button nzType="default" (click)="initVpnSiteToSite()">
              <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/add.svg" alt="" />{{"app.bonus" | i18n}} VPC site to
              site
            </button>
          </div>
          <div *ngIf="activeSiteToSite">
            <div class="ant-table">
              <table>
                <td style="width:80%">
                  <nz-form-item>
                    <nz-form-label>{{'project.note45' | i18n}}</nz-form-label>
                    <nz-form-control>
                      <nz-select nzSize="large" [nzLoading]="false" [nzDisabled]="false"
                                 style="width: 96%;border-radius: 10px;"
                                 nzPlaceHolder="--{{'project.note45' | i18n}}--"
                                 formControlName="siteToSiteId" (nzOpenChange)="calculate(null)">
                        <nz-option *ngFor="let i of listSiteToSite" [nzLabel]="i.offerName"
                                   [nzValue]="i.id" />
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td style="width:20%">
                  <nz-form-item>
                    <nz-form-label style="text-align: right">{{"app.service.price-title" | i18n}} ({{"app.payment-detail.month" | i18n}})</nz-form-label>
                    <nz-form-control>
                      <div class="centered">
                        <p class="text-custom-price" style="width: 90%;">
                          {{ price.siteToSite }} <span style="color: black;">đ</span>
                        </p>
                      </div>
                    </nz-form-control>
                  </nz-form-item>
                </td>
              </table>
            </div>
          </div>
          <nz-alert class="ant-alert-warning-custom" (click)="initVpnSiteToSite()" nzType="warning"
                    nzDescription="{{'project.note46' | i18n}}" nzShowIcon></nz-alert>
        </nz-card>
      </div>
      <!--      <div *ngIf="vpcType == '0'">-->
      <!--        &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;CARD-SUPPORT&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
      <!--        <nz-card style="border-radius: 8px">-->
      <!--          <div style="margin-bottom: 20px"><span class="text-card-header">Trợ giúp</span></div>-->
      <!--          <div class="link-container text-label">-->
      <!--            <a>Giới thiệu về dự án VPC của VNPT Cloud</a>-->
      <!--            <a>Giới thiệu về dự án thường</a>-->
      <!--            <a>Hướng dẫn sử dụng khởi tạo dự án VPC</a>-->
      <!--            <a>Hướng dẫn sử dụng khởi tạo dự án thường</a>-->
      <!--            <a>Đọc thêm về các dịch vụ liên quan</a>-->
      <!--          </div>-->
      <!--        </nz-card>-->
      <!--      </div>-->
    </nz-col>

    <!---------------CARD-THÀNH TIỀN-------------->
    <nz-col nzSpan="8">
      <nz-card style="border-radius: 8px" [nzLoading]="loadingCalculate">
        <div style="margin-bottom: 20px">
          <span class="text-card-header">{{'app.estimated.cost' | i18n}}</span>
        </div>
        <div class="text-value">{{'project.note19' | i18n}}</div>
        <div style="margin-top: 10px" class="text-label">{{ this.form.controls['name'].value }}</div>
        <div *ngIf="vpcType == '1'">
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <div *ngIf="selectIndexTab == 1">
            <!--        Gói cấu hình sẵn-->
            <div class="text-value">{{'custom.config.package' | i18n}}</div>
            <nz-row style="display: flex;justify-content: space-between;">
              <div style="margin-top: 10px" class="text-label">{{'app.payment-detail.quantity' | i18n}} vCPU:</div>
              <div style="margin-top: 10px" class="text-label">{{ vCPU }}</div>
            </nz-row>
            <nz-row style="display: flex;justify-content: space-between;">
              <div style="margin-top: 10px" class="text-label">{{'app.payment-detail.quantity' | i18n}} RAM:</div>
              <div style="margin-top: 10px" class="text-label">{{ ram }}</div>
            </nz-row>
            <nz-row style="display: flex;justify-content: space-between;">
              <div style="margin-top: 10px" class="text-label">{{'app.payment-detail.quantity' | i18n}} HHD:</div>
              <div style="margin-top: 10px" class="text-label">{{ hhd }}GB</div>
            </nz-row>
            <nz-row style="display: flex;justify-content: space-between;">
              <div style="margin-top: 10px" class="text-label">{{'app.payment-detail.quantity' | i18n}} SSD:</div>
              <div style="margin-top: 10px" class="text-label">{{ ssd }}GB</div>
            </nz-row>
            <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          </div>
          <!--        Gói cấu tùy chọn-->
          <div *ngIf="selectIndexTab == 0">
            <div class="text-value">{{'config.package' | i18n}}</div>
            <div style="margin-top: 10px" class="text-label">{{ selectPackge }}</div>
            <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          </div>
          <!--        Dịch vụ bổ sung-->
          <div class="text-value">{{'service.bonus' | i18n}}</div>
          <!--        <div style="margin-top: 10px" class="text-label"></div>-->
          <nz-row style="display: flex;justify-content: space-between;">
            <div style="margin-top: 10px" class="text-label">Backup:</div>
            <div style="margin-top: 10px" class="text-label">{{ numberBackup }}GB</div>
          </nz-row>
          <nz-row style="display: flex;justify-content: space-between;">
            <div style="margin-top: 10px" class="text-label">Load Balancer:</div>
            <div style="margin-top: 10px" class="text-label">{{ numberFileSystem }}</div>
          </nz-row>
          <nz-row style="display: flex;justify-content: space-between;">
            <div style="margin-top: 10px" class="text-label">File Storage:</div>
            <div style="margin-top: 10px" class="text-label">{{ numberFileSystem }}GB</div>
          </nz-row>
          <nz-divider style="margin: 10px 0" nzType="horizontal"></nz-divider>
          <nz-row style="margin-bottom: 10px" nzGutter="16">
            <nz-col nzSpan="16">
              <span class="text-value">{{'app.service.cost' | i18n}} {{ this.form.controls['numOfMonth'].value || 0 }} {{'app.month' | i18n}}</span>
            </nz-col>
            <nz-col class="text-right" nzSpan="8">
            <span class="text-value" style="color: #0066b3" nzAlign="right">
              {{ totalAmount }}
              VND
            </span>
            </nz-col>
          </nz-row>
          <nz-row style="
            margin-bottom: 20px;
            background-color: #cce9ff;
            padding: 16px 0 16px 0;
            border-radius: 8px;
          " nzGutter="16">
            <nz-col nzSpan="16">
              <span class="text-label">{{'app.total.payment' | i18n}}</span><br />
              <span class="text-note-italicized">({{'app.payment-detail.vat' | i18n}})</span>
            </nz-col>
            <nz-col class="text-right" nzSpan="8">
              <span class="text-value" style="color: #ea3829" nzAlign="right">{{ totalPayment }}  VND</span>
            </nz-col>
          </nz-row>
        </div>
        <nz-row>
          <nz-col style="width: 100%">
            <button style="width: 100%" nz-button nzSize="large" nzType="primary" (click)="createIpPublic()"
                    [ngStyle]="{'margin-top.px': vpcType === '0' ? 15 : 0}"
                    [disabled]="(vpcType == '1' && (form.invalid || (selectIndexTab == 0 && (selectedElementFlavor == null || form.controls['ipType'].value == ''))))
                     || (vpcType == '0' && this.form.controls['name'].value == '')">
              <span nz-icon nzType="wallet" nzTheme="outline"></span>
              <span [style.color]="(vpcType == '1' && (form.invalid || (selectIndexTab == 0 && (selectedElementFlavor == null || form.controls['ipType'].value == ''))))
                     || (vpcType == '0' && this.form.controls['name'].value == '') ? 'gray' : 'white'">{{'app.button.create' | i18n}}</span>
            </button>
          </nz-col>
        </nz-row>
      </nz-card>
    </nz-col>
  </nz-row>
</form>





