<page-header [breadcrumb]="breadcrumb" [title]="'Tạo mới Bucket'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item
        ><a [routerLink]="['/']">Trang chủ</a></nz-breadcrumb-item
      >
      <nz-breadcrumb-item> Bucket </nz-breadcrumb-item>
      <nz-breadcrumb-item> Tạo mới Bucket </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>
<form nz-form [formGroup]="form" [nzLayout]="'vertical'">
  <nz-row nzGutter="24">
    <nz-col nzSpan="16">
      <nz-card style="border-radius: 8px" [nzBordered]="false">
        <div style="margin-bottom: 20px">
          <span class="text-card-header">Thông tin Bucket</span>
        </div>
        <nz-row nzGutter="16">
          <nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzFor="name"
                >Tên Bucket (<span class="text-red">*</span>)</nz-form-label
              >

              <nz-form-control nzDisableAutoTips [nzErrorTip]="nameErrorTpl">
                <nz-row>
                  <nz-col nzSpan="24">
                    <input
                      class="input-custom"   
                      nz-input
                      formControlName="name"
                      id="name"
                      placeholder="Nhập tên Bucket"
                      maxlength="50"
                      minlength="1"
                    />
                  </nz-col>
                </nz-row>
                <ng-template #nameErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')"
                    >Vui lòng nhập thông tin</ng-container
                  >
                  <ng-container *ngIf="control.hasError('pattern')"
                    >Tên gồm 50 ký tự viết liền không dấu cách và không chứa ký
                    tự đặc biệt</ng-container
                  >
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
        </nz-row>
        <br />
        <nz-row nzGutter="16">
          <nz-form-label
            >Chọn loại Volume (<span class="text-red">*</span>)</nz-form-label
          >
        </nz-row>
        <nz-radio-group
          style="width: 100%; display: inline-flex"
          name="selectedHDDorSSD"
        >
          <nz-row
            [nzGutter]="{ xs: 24, sm: 24, md: 24, lg: 24 }"
            style="margin-top: 10px"
            ><nz-col
              [nzLg]="12"
              [nzMd]="12"
              [nzSm]="24"
              [nzXl]="12"
              [nzXs]="24"
            >
              <nz-card
                style="border-radius: 4px"
                [nzAlign]="'middle'"
                [ngStyle]="{
                      border: activePrivate
                    ? '1px solid #0066B3'
                    : '1px solid #DADADA',
                    height: cardHeight,
                  }"
              >
                <nz-row nzGutter="16">
                  <nz-col nzSpan="20">
                    <nz-card-meta
                      [nzAvatar]="nzAvatarselectedHDDorSSD1"
                      [nzTitle]="nzTitleselectedHDDorSSD1"
                      [nzDescription]="nzDescriptionselectedHDDorSSD1"
                    >
                      <ng-template #nzAvatarselectedHDDorSSD1>
                        <input
                          style="cursor: pointer"
                          type="radio"
                          [checked]="activeBlockHDD"
                          (click)="initHDD()"
                        />
                      </ng-template>
                      <ng-template #nzTitleselectedHDDorSSD1>
                        <b>HDD</b>
                      </ng-template>
                      <ng-template #nzDescriptionselectedHDDorSSD1>
                        <ellipsis class="text-custom">
                          Lựa chọn tốt hơn nếu bạn đang đối phó với các bản sao
                          lưu dữ liệu, lưu trữ dữ liệu hoặc khối lượng công việc
                          chuyên sâu thông lượng
                        </ellipsis>
                      </ng-template>
                    </nz-card-meta></nz-col
                  >
                  <nz-col
                    style="
                      display: flex;
                      align-items: center;
                      margin-top: -24px;
                    "
                    [ngStyle]="{
                        height: cardHeight,
                      }"
                    nzSpan="4"
                  >
                    <img
                      [src]="
                        activePrivate
                          ? 'assets/imgs/hdd-svgrepo-com-active.svg'
                          : 'assets/imgs/hdd-svgrepo-com.svg'
                      "
                      alt=""
                    />
                  </nz-col>
                </nz-row>
              </nz-card>
            </nz-col>
            <nz-col [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXl]="12" [nzXs]="24">
              <nz-card
                style="border-radius: 4px"
                [nzAlign]="'middle'"
                [ngStyle]="{
                    border: activePublic
                    ? '1px solid #0066B3'
                    : '1px solid #DADADA',
                    height: cardHeight,
                  }"
              >
                <nz-row nzGutter="16">
                  <nz-col nzSpan="20"
                    ><nz-card-meta
                      [nzAvatar]="nzAvatarselectedHDDorSSD2"
                      [nzTitle]="nzTitleselectedHDDorSSD2"
                      [nzDescription]="nzDescriptionselectedHDDorSSD2"
                    >
                      <ng-template #nzAvatarselectedHDDorSSD2>
                        <input
                          type="radio"
                          style="cursor: pointer"
                          [checked]="activeBlockSSD"
                          (click)="initSSD()"
                        />
                      </ng-template>
                      <ng-template #nzTitleselectedHDDorSSD2>
                        <b>SSD</b>
                      </ng-template>
                      <ng-template #nzDescriptionselectedHDDorSSD2>
                        <ellipsis class="text-custom"
                          >Lựa chọn tốt hơn cho khối lượng công việc phân tích
                          dữ liệu hoặc chơi game
                        </ellipsis>
                      </ng-template>
                    </nz-card-meta>
                  </nz-col>
                  <nz-col
                    style="
                      display: flex;
                      align-items: center;
                      margin-top: -24px;
                    "
                    [ngStyle]="{
                          height: cardHeight,
                        }"
                    nzSpan="4"
                  >
                    <img
                      [src]="
                        activePublic
                          ? 'assets/imgs/ssd-svgrepo-com-active.svg'
                          : 'assets/imgs/ssd-svgrepo-com.svg'
                      "
                      alt=""
                    />
                  </nz-col>
                </nz-row>
              </nz-card> </nz-col
          ></nz-row>
        </nz-radio-group>
      </nz-card>
    </nz-col>
    <nz-col nzSpan="8">
      <nz-card style="border-radius: 8px">
        <div style="margin-bottom: 20px">
          <span class="text-card-header">Thông số cấu hình</span>
        </div>
        <nz-row style="margin-bottom: 10px" nzGutter="16">
          <span class="text-label"> Tên Bucket </span>
        </nz-row>
        <nz-row style="margin-bottom: 10px" nzGutter="16">
          <span class="text-value"> bucket 01 </span>
        </nz-row>
        <nz-row style="margin-bottom: 10px" nzGutter="16">
          <span class="text-label"> Thiết lập ACL </span>
        </nz-row>
        <nz-row style="margin-bottom: 10px" nzGutter="16">
          <span class="text-value"> private </span>
        </nz-row>
      </nz-card>
    </nz-col>
  </nz-row>
</form>
