<page-header [breadcrumb]="breadcrumb" [title]="'Tạo mới Bucket'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item
        ><a [routerLink]="['/']">Trang chủ</a></nz-breadcrumb-item
      >
      <nz-breadcrumb-item> Bucket </nz-breadcrumb-item>
      <nz-breadcrumb-item> Tạo mới Bucket </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>
<form nz-form [formGroup]="form" [nzLayout]="'vertical'">
  <nz-row nzGutter="24">
    <nz-col nzSpan="16">
      <nz-card style="border-radius: 8px" [nzBordered]="false">
        <div style="margin-bottom: 20px">
          <span class="text-card-header">Thông tin Bucket</span>
        </div>
        <div style="margin-bottom: 20px" class="text-label">
          Tên Bucket chỉ được phép dùng các ký tự chữ thường a-z các ký tự số 0
          -9 dấu gạch ngang (-) và dấu chấm (.), tối thiểu 3 ký tự và tối đa 63
          ký tự
        </div>
        <nz-row nzGutter="16">
          <nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzFor="name"
                >Tên Bucket (<span class="text-red">*</span>)</nz-form-label
              >

              <nz-form-control nzDisableAutoTips [nzErrorTip]="nameErrorTpl">
                <nz-row>
                  <nz-col nzSpan="24">
                    <input
                      class="input-custom"
                      nz-input
                      formControlName="name"
                      id="name"
                      placeholder="Nhập tên Bucket"
                      maxlength="50"
                      minlength="1"
                    />
                  </nz-col>
                </nz-row>
                <ng-template #nameErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')"
                    >Vui lòng nhập thông tin</ng-container
                  >
                  <ng-container *ngIf="control.hasError('pattern')"
                    >Tên Bucket không hợp lệ</ng-container
                  >
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
        </nz-row>
        <span class="titlecard-custom">Thiết lập Access Control List</span>
        <nz-radio-group
          style="width: 100%; display: inline-flex"
          name="selectedHDDorSSD"
        >
          <nz-row nzGutter="24" style="margin-top: 10px"
            ><nz-col
              [nzLg]="12"
              [nzMd]="12"
              [nzSm]="24"
              [nzXl]="12"
              [nzXs]="24"
            >
              <nz-card
                style="border-radius: 4px"
                [nzAlign]="'middle'"
                [ngStyle]="{
                      border: activePrivate
                    ? '1px solid #0066B3'
                    : '1px solid #DADADA',
                    height: cardHeight,
                  }"
              >
                <nz-card-meta
                  [nzAvatar]="nzAvatarselected"
                  [nzTitle]="nzTitleselected"
                  [nzDescription]="nzDescriptionselected"
                >
                  <ng-template #nzAvatarselected>
                    <input
                      style="cursor: pointer"
                      type="radio"
                      [checked]="activePrivate"
                      (click)="initPrivate()"
                    />
                  </ng-template>
                  <ng-template #nzTitleselected>
                    <b>Private</b>
                  </ng-template>
                  <ng-template #nzDescriptionselected>
                    <ellipsis class="text-custom">
                      Chỉ những người dùng có quyền mới được truy cập
                    </ellipsis>
                  </ng-template>
                </nz-card-meta>
              </nz-card>
            </nz-col>
            <nz-col [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXl]="12" [nzXs]="24">
              <nz-card
                style="border-radius: 4px"
                [nzAlign]="'middle'"
                [ngStyle]="{
                    border: activePublic
                    ? '1px solid #0066B3'
                    : '1px solid #DADADA',
                    height: cardHeight,
                  }"
              >
                <nz-card-meta
                  [nzAvatar]="nzAvatarselected2"
                  [nzTitle]="nzTitleselected2"
                  [nzDescription]="nzDescriptionselected2"
                >
                  <ng-template #nzAvatarselected2>
                    <input
                      type="radio"
                      style="cursor: pointer"
                      [checked]="activePublic"
                      (click)="initPublic()"
                    />
                  </ng-template>
                  <ng-template #nzTitleselected2>
                    <b>Public</b>
                  </ng-template>
                  <ng-template #nzDescriptionselected2>
                    <ellipsis class="text-custom"
                      >Tất cả mọi người đều có thể truy cập thông tin của
                      Bucket, không ảnh hưởng đến quyền của object. Bucket
                      public nhưng nếu object private thì cũng không truy cập
                      được từ bên ngoài
                    </ellipsis>
                  </ng-template>
                </nz-card-meta>
              </nz-card>
            </nz-col></nz-row
          >
        </nz-radio-group>
      </nz-card>
    </nz-col>
    <nz-col nzSpan="8">
      <nz-card style="border-radius: 8px">
        <div style="margin-bottom: 20px">
          <span class="text-card-header">Thông số cấu hình</span>
        </div>
        <nz-row style="margin-bottom: 10px" nzGutter="16">
          <nz-col>
            <span class="text-label"> Tên Bucket </span>
          </nz-col>
        </nz-row>
        <nz-row style="margin-bottom: 10px" nzGutter="16">
          <nz-col>
            <span class="text-value"> bucket 01 </span>
          </nz-col>
        </nz-row>
        <nz-row style="margin-bottom: 10px" nzGutter="16">
          <nz-col>
            <span class="text-label"> Thiết lập ACL </span>
          </nz-col>
        </nz-row>
        <nz-row style="margin-bottom: 10px" nzGutter="16">
          <nz-col>
            <span class="text-value"> private </span>
          </nz-col>
        </nz-row>
        <nz-row>
          <nz-col style="width: 100%" class="text-right">
            <button
              style="width: 100%"
              nz-button
              nzSize="large"
              nzType="primary"
              (click)="save()"
              [disabled]="form.invalid"
            >
              <span nz-icon nzType="wallet" nzTheme="outline"></span>
              <span [style.color]="form.invalid ? 'gray' : 'white'"
                >Khởi tạo</span
              >
            </button>
          </nz-col>
        </nz-row>
      </nz-card>
    </nz-col>
  </nz-row>
</form>
