<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nzLayout="vertical">
  <nz-card>
    <nz-row nzGutter="24">
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="name">
            <div class="label">
              <span>{{'schedule.backup.label.name' | i18n}}</span>
              <span style="color: rgba(252, 16, 16, 1); "> *</span>
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="nameErrorTpl">
            <input style="border-radius: 8px;" nz-input class="input-custom" formControlName="name" id="name"/>
            <ng-template #nameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">{{'validation.info.required' | i18n}}</ng-container>
              <ng-container *ngIf="control.hasError('pattern')">{{'schedule.backup.validate1' | i18n}}</ng-container>
              <ng-container *ngIf="control.hasError('invalidCharacters')">{{'schedule.backup.validate2' | i18n}}</ng-container>
              <ng-container *ngIf="control.hasError('duplicateName')">{{'schedule.backup.validate3' | i18n}}</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="maxBackup">
            <div class="label">
              <span>{{'schedule.backup.number.save' | i18n}}</span>
              <span style="color: rgba(252, 16, 16, 1); "> *</span>
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="nameErrorTpl">
            <input nz-input class="input-custom" type="number" formControlName="maxBackup" id="maxBackup" min="1" step="1"
                   style="width: 100%;border-radius: 8px;"/>
            <ng-template #nameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">{{'validation.info.required' | i18n}}</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="backupPackage">
            <div class="label">
              <span>{{'app.backup.volume.backup.package' | i18n}}</span>
              <span style="color: rgba(252, 16, 16, 1); "> *</span>
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="backupPackageErrorTpl">
            <nz-select
              formControlName="backupPackage" id="backupPackage"
              nzSize="large"
              nzPlaceHolder="{{'app.backup.volume.backup.package' | i18n}}"
              [nzShowSearch]="false">
              <nz-option
                *ngFor="let i of backupPackages"
                [nzLabel]="i.packageName"
                [nzValue]="i.id"/>
            </nz-select>
            <ng-template #backupPackageErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">{{'validation.info.required' | i18n}}</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="description">
            <div class="label">
              <span>Mô tả</span>
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="descriptionErrorTpl">
            <textarea style="border-radius: 8px;" nz-input formControlName="description" id="description"
                      [nzAutosize]="{ minRows: 6, maxRows: 6 }"></textarea>
            <ng-template #descriptionErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">{{'validation.info.required' | i18n}}</ng-container>
              <ng-container *ngIf="control.hasError('maxlength')">{{'schedule.backup.validate4' | i18n}}
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzFor="instanceId">
            <div class="label">
              <span>{{'schedule.backup.volume.select' | i18n}}</span>
              <span style="color: rgba(252, 16, 16, 1); "> *</span>
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="nameErrorTpl">
            <nz-select formControlName="volumeId"
                       nzSize="large"
                       nzPlaceHolder="{{'schedule.backup.volume.select' | i18n}}"
                       [nzShowSearch]="false"
                       (ngModelChange)="selectInstanceChange($event)">
              <nz-option *ngFor="let i of listVolume"
                         [nzLabel]="i.name"
                         [nzValue]="i.id"></nz-option>
            </nz-select>
            <ng-template #nameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">{{'validation.info.required' | i18n}}</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="backupMode">
            <div class="label">
              <span>{{'schedule.backup.mode' | i18n}}</span>
              <span style="color: rgba(252, 16, 16, 1); "> *</span>
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="backupModeErrorTpl">
            <nz-select
              formControlName="backupMode" id="backupMode"
              nzSize="large"
              nzPlaceHolder="{{'schedule.backup.mode' | i18n}}"
              [nzShowSearch]="false"
              (ngModelChange)="modeChange($event)">
              <nz-option
                *ngFor="let i of mode"
                [nzLabel]="i.label"
                [nzValue]="i.value"/>
            </nz-select>
            <ng-template #backupModeErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">{{'validation.info.required' | i18n}}</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="times">
            <div class="label">
              <span>{{'app.cluster.action-time' | i18n}}</span>
              <span style="color: rgba(252, 16, 16, 1); "> *</span>
            </div>
          </nz-form-label>
          <nz-form-control nzDisableAutoTips [nzErrorTip]="timeErrorTpl">
            <nz-time-picker formControlName=times
                            id="times"
                            class="input-custom"
                            nzPlaceHolder="{{'schedule.backup.time.select' | i18n}}"
                            style="width: 100%"></nz-time-picker>
            <ng-template #timeErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">{{'validation.info.required' | i18n}}</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <div *ngIf="modeType === '4'">
          <nz-form-item>
            <nz-form-label nzFor="months">
              <div class="label">
                <span>{{'app.number.of.month.executed' | i18n}}</span>
                <span style="color: rgba(252, 16, 16, 1); "> *</span>
              </div>
            </nz-form-label>
            <nz-form-control nzDisableAutoTips [nzErrorTip]="monthsErrorTpl">
              <input nz-input type="number"
                     style="width:100%;"
                     class="input-custom"
                     formControlName="months"
                     id="months"
                     min="1"
                     max="24"
                     step="1"/>
              <ng-template #monthsErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">{{'schedule.backup.0.to.24' | i18n}}</ng-container>
                <ng-container *ngIf="control.hasError('max')">{{'schedule.backup.0.to.24' | i18n}}</ng-container>
                <ng-container *ngIf="control.hasError('min')">{{'schedule.backup.0.to.24' | i18n}}</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="date">
              <div class="label">
                <span>{{'app.execution.date' | i18n}}</span>
                <span style="color: rgba(252, 16, 16, 1); "> *</span>
              </div>
            </nz-form-label>
            <nz-form-control nzDisableAutoTips [nzErrorTip]="dateErrorTpl">
              <input nz-input type="number"
                     style="width:100%;"
                     class="input-custom"
                     formControlName="date"
                     id="date"
                     min="1"
                     max="31"
                     step="1"/>
              <ng-template #dateErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">{{'schedule.backup.0.to.31' | i18n}}</ng-container>
                <ng-container *ngIf="control.hasError('max')">{{'schedule.backup.0.to.31' | i18n}}</ng-container>
                <ng-container *ngIf="control.hasError('min')">{{'schedule.backup.0.to.31' | i18n}}</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div *ngIf="modeType === '3'">
          <nz-form-item>
            <nz-form-label nzFor="numberOfWeek">
              <div class="label">
                <span>{{'app.number.of.week.executed' | i18n}}</span>
                <span style="color: rgba(252, 16, 16, 1); "> *</span>
              </div>
            </nz-form-label>
            <nz-form-control nzDisableAutoTips>
              <nz-select
                formControlName="numberOfWeek" id="numberOfWeek"
                nzSize="large"
                nzPlaceHolder="{{'app.number.of.week.executed' | i18n}}"
                [nzShowSearch]="false"
                [(ngModel)]="numberOfWeekChangeSelected"
                (ngModelChange)="numberOfWeekChange($event)">
                <nz-option
                  *ngFor="let i of numberOfWeek"
                  [nzLabel]="i.label"
                  [nzValue]="i.value"/>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="daysOfWeek">
              <div class="label">
                <span>{{'schedule.backup.day.select' | i18n}}</span>
                <span style="color: rgba(252, 16, 16, 1); "> *</span>
              </div>
            </nz-form-label>
            <nz-form-control nzDisableAutoTips [nzErrorTip]="daysOfWeekErrorTpl">
              <nz-select
                formControlName="daysOfWeek" id="daysOfWeek"
                nzSize="large"
                nzPlaceHolder="{{'schedule.backup.day.select' | i18n}}"
                [nzShowSearch]="false">
                <nz-option
                  *ngFor="let i of daysOfWeek"
                  [nzLabel]="i.label"
                  [nzValue]="i.value"/>
              </nz-select>
              <ng-template #daysOfWeekErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">{{'schedule.backup.press.date' | i18n}}</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div *ngIf="modeType === '2'">
          <nz-form-item>
            <nz-form-label nzFor="daysOfWeekMultiple">
              <div class="label">
                <span>{{'schedule.backup.day.select' | i18n}}</span>
                <span style="color: rgba(252, 16, 16, 1); "> *</span>
              </div>
            </nz-form-label>
            <nz-form-control nzDisableAutoTips [nzErrorTip]="daysOfWeekErrorTpl">
              <nz-select
                formControlName="daysOfWeekMultiple" id="daysOfWeekMultiple"
                nzMode="multiple"
                nzSize="large"
                nzPlaceHolder="{{'schedule.backup.day.select' | i18n}}"
                [nzShowSearch]="false">
                <nz-option
                  *ngFor="let i of daysOfWeek"
                  [nzLabel]="i.label"
                  [nzValue]="i.value"/>
              </nz-select>
              <ng-template #daysOfWeekErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">{{'schedule.backup.press.date' | i18n}}</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </nz-col>
    </nz-row>
    <nz-form-item nzAlign="bottom" nzJustify="end" style="margin-top: 30px">
      <nz-space nzSize="middle">
        <button *nzSpaceItem nz-button nzType="default" (click)="goBack()" class="button-back">Quay
          lại
        </button>
        <nz-form-control *nzSpaceItem>
          <button nz-button [nzLoading]="isLoading" nzType="primary"
                  class="button-create" [disabled]="!validateForm.valid">Xác nhận
          </button>
        </nz-form-control>
      </nz-space>
    </nz-form-item>
  </nz-card>
</form>
