@import '@delon/theme/index';

.title-card {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
}

.customModal {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 14px;
}

nz-form-label.ant-form-item-label {
  font-weight: 500;
}

.nameField {
  color: rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.fieldColor {
  color: #2f54eb;
}

.button-text {
  color: #fff;
  /* Body/16px - SemiBold */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
}
