<page-header [breadcrumb]="breadcrumb" [title]="'app.users.listUser' | i18n">
  <ng-template #breadcrumb>
    <nz-breadcrumb [nzSeparator]="iconTemplate">
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">{{ 'app.breadcrumb.home' | i18n }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-smart-cloud/users']">{{"app.breadcrumb.account"|i18n}}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/app-smart-cloud/users']">IAM</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item> Users </nz-breadcrumb-item>
    </nz-breadcrumb>
    <ng-template #iconTemplate><one-portal-svg-icon [icon]="'icon_breadcrumb'"></one-portal-svg-icon></ng-template>
  </ng-template>
</page-header>

<nz-card style="border-radius: 4px">
  <div style="margin-bottom: 20px" nz-row [nzGutter]="24">
    <div class="text-right p-0 m-b-0 d-flex " style="justify-content: space-between; align-items: center;" nz-col nzSpan="24">
      <div>
        <nz-input-group style="margin-right: 8px;" [nzPrefix]="prefixIconSearch" nzSize="large">
          <input name="name" nz-input [placeholder]="'app.users.search' | i18n" [ngModel]="searchParam"
            (ngModelChange)="searchDelay.next(false)" (keydown.enter)="getData()"/>
        </nz-input-group>
        <ng-template #prefixIconSearch>
          <img src="assets/imgs/search.svg" alt="" style="cursor: pointer"/>
        </ng-template>
      </div>
      <div class="d-flex">
        <button style="border: none" nz-button (click)="reloadTable()">
          <img style="" src="assets/imgs/refresh.svg" alt="" />
        </button>
        <button style="border: none; align-items: center;" class="d-flex" nz-button (click)="showModal()" id="activeDelete"
          [ngClass]="setOfCheckedName.size>0 ?'activeDelete':''">
          <one-portal-svg-icon [icon]="'icon_trash'" class="icon-svg"></one-portal-svg-icon>
        </button>
        <button nz-button nzType="primary" (click)="navigateToCreate()" class="btn-add">
          <one-portal-svg-icon [icon]="'icon_add'" class="icon-svg icon-padding-right"></one-portal-svg-icon>
          <span>{{"app.users.button.create.user" | i18n}}</span>
        </button>
      </div>

    </div>
  </div>
  <nz-table #rowSelectionTable nzShowSizeChanger [nzScroll]="{ x: '100%', y: '55vh' }" [nzFrontPagination]="false"
    [nzData]="listOfCurrentPageData" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" [nzLoading]="loading"
    [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="getData()"
    (nzPageSizeChange)="getData()">
    <thead>
      <tr>
        <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" nzLabel="Select all" [nzWidth]="'50px'"
          (nzCheckedChange)="onAllChecked($event)" nzLeft></th>
        <th>{{"app.users.nameUser" | i18n}}</th>
        <th>{{"app.users.group" | i18n}}</th>
        <th>{{"app.users.createDate" | i18n}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listOfCurrentPageData; let i = index">
        <td [nzChecked]="setOfCheckedName.has(item.userName)" (nzCheckedChange)="onItemChecked(item.userName, $event)"
          nzLeft></td>
        <td nzLeft>
          <a nz-tooltip [nzTooltipTitle]="'app.view.detail'|i18n" nzTooltipPlacement="bottom"
            [routerLink]="'/app-smart-cloud/users/detail/' + item.userName">{{ item.userName }}</a>
        </td>
        <td style="color: #248fcc">{{ item.userGroups.length }}</td>
        <td>{{ item.createdDate | date : 'HH:mm:ss dd/MM/yyyy' }}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<nz-modal [(nzVisible)]="isVisibleDelete" [nzTitle]="nameModal" (nzOnCancel)="handleCancelDelete()">
  <ng-container *nzModalContent>
    <nz-alert style="margin-bottom: 20px" nzType="warning" [nzDescription]="customTemplateMessageDelete"
      nzShowIcon></nz-alert>
    <ng-template #customTemplateMessageDelete>
      <div>
        {{ 'app.users.deleteUser.title' | i18n }} <span> {{ userDelete }} </span>
      </div>
      <div>
        {{ 'app.users.deleteUser.des' | i18n }}
      </div>
      <div>{{ 'app.users.deleteUser.desAll2' | i18n }}</div>
    </ng-template>

    <span class="text-label">{{ 'app.users.deleteUser.input' | i18n }}</span>
    <nz-form-control>
      <input class="input-custom" name="name" nz-input [(ngModel)]="codeVerify" />
    </nz-form-control>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelDelete()">
      <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/cancel.svg" alt="" />{{ 'app.button.cancel' |
      i18n }}
    </button>
    <button nz-button nzType="primary" (click)="handleOkDelete()">
      <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/confirm.svg" alt="" />
      {{ 'app.button.confirm' | i18n }}
    </button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleDeleteUsers" [nzTitle]="nameModal" (nzOnCancel)="handleCancelDeleteUsers()">
  <ng-container *nzModalContent>
    <nz-alert style="margin-bottom: 20px" nzType="warning" [nzDescription]="customTemplateMessageDeleteUsers"
      nzShowIcon></nz-alert>
    <ng-template #customTemplateMessageDeleteUsers>
      <div>
        {{ 'app.users.deleteUser.titleAll' | i18n }}<span>{{ setOfCheckedName.size }}</span> User
      </div>
      <div>
        {{ 'app.users.deleteUser.desAll' | i18n }}
      </div>
      <div>{{ 'app.users.deleteUser.desAll2' | i18n }}</div>
    </ng-template>
    <span class="text-label">{{ 'app.users.deleteUser.inputAll' | i18n }}</span>
    <nz-form-control>
      <input class="input-custom" name="name" nz-input [(ngModel)]="codeVerify" />
    </nz-form-control>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button (click)="handleCancelDeleteUsers()">
      <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/cancel.svg" alt="" />
      Hủy
    </button>
    <button nz-button nzType="primary" (click)="handleOkDeleteUsers()">
      <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/confirm.svg" alt="" />
      Xác nhận
    </button>
  </div>
</nz-modal>
