@import '@delon/theme/index';

.title-card {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
}

.customModal {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 14px;
}

nz-form-label.ant-form-item-label {
  font-weight: 500;
}

.nameField {
  color: rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.fieldColor {
  color: #248fcc;
}

.button-text {
  color: #fff;
  /* Body/16px - SemiBold */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
}

.lable-custom {
  color: #6c7093;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
}

.custom-text {
  //styleName: Body/16px - Bold;
  color: #2B2D3B;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
}
