<button style="
    border: none;
    background-color: transparent;
    margin-left: -30px;
    cursor: pointer;
  " class="button-delete" (click)="showModal()">
  <img src="assets/imgs/bin.svg" alt="" class="icon-image" style="cursor: pointer" />
</button>
<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()">
  <div *nzModalTitle>
    <span class="text-modal-title">Xóa Security Group {{ nameSG }}</span>
  </div>
  <div *nzModalContent>
    <span class="text-label">Đế thực hiện xoá Security Group {{ nameSG }}, vui lòng nhập tên Security Group để xác nhận.</span>
    <input nz-input
           class="input-custom"
           style="margin-top: 10px;"
           [ngModel]="value"
           (ngModelChange)="onChangeInput($event)"
           [placeholder]="'Nhập tên Security Group'"/>
    <span *ngIf="isInput" style="color: red; margin-top: 10px;" >Vui lòng nhập đúng tên Security Group</span>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()" class="button-cancel">
      <span nz-icon nzType="close" nzTheme="outline"></span>Hủy
    </button>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isLoading" class="button-ok">
      <span nz-icon nzType="check" nzTheme="outline"></span>Xác nhận
    </button>
  </div>
</nz-modal>
