<page-header [breadcrumb]="breadcrumb"
             [action]="action"
             [title]="'Danh sách Volume'" xmlns="http://www.w3.org/1999/html">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Trang chủ</nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Dịch vụ hạ tầng
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        Block Storage
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a routerLink="/app-smart-cloud/volumes">Volume</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <div class="alain-custom-action text-right">
      <region-select-dropdown (valueChanged)="regionChanged($event)"></region-select-dropdown>
      <project-select-dropdown (valueChanged)="projectChanged($event)"
                               (userChanged)="projectChanged($event)"
                               [regionId]="region"></project-select-dropdown>
    </div>
  </ng-template>
</page-header>
<nz-content *ngIf="typeVPC == 0">
  <nz-card>
    <ng-container [ngSwitch]="isBegin">
      <ng-container *ngSwitchCase="false">
        <nz-row nzJustify="space-between">
          <nz-col nzSpan="16">
            <nz-select [(ngModel)]="selectedValue"
                       nzSize="large"
                       style="margin-right: 10px; width: 170px;"
                       (ngModelChange)="onChange($event)"
                       nzPlaceHolder="Tất cả trạng thái"
                       nzTooltipTitle="Tìm kiếm theo trạng thái"
                       nzTooltipPlacement="bottom"
                       nz-tooltip>
              <nz-option *ngFor="let item of options" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
            </nz-select>
            <nz-input-group
              style="width: 300px;"
              [nzPrefix]="prefixIconSearch"
              nzSize="large">
              <input
                name="name"
                nz-input
                [(ngModel)]="value"
                (input)="onInputChange($event.target['value'])"
                placeholder="Tìm kiếm tên ..."/>
            </nz-input-group>
            <ng-template #prefixIconSearch>
              <img
                src="assets/imgs/search.svg"
                alt=""
                style="cursor: pointer"
                nz-tooltip="Tìm kiếm"/>
            </ng-template>
          </nz-col>
          <nz-col nzSpan="8" style="flex:none;">
            <button
              nz-button
              nzType="primary"
              nzSize="large"
              (click)="navigateToCreateVolume()">
              <img
                style="padding-right: 10px; margin-top: -4px"
                src="assets/imgs/add-circle.svg"
                alt=""/>
              <span class="button-text-primary">Tạo mới Volume</span>
            </button>
          </nz-col>
        </nz-row>
        <nz-table #fixedTable
                  style="margin-top: 20px;"
                  nzShowPagination
                  [nzData]="response?.records || []"
                  [nzPageSize]="response?.pageSize"
                  (nzPageSizeChange)="onPageSizeChange($event)"
                  [nzPageIndex]="response?.currentPage"
                  (nzPageIndexChange)="onPageIndexChange($event)"
                  [nzTotal]="response?.totalCount"
                  [nzFrontPagination]="false"
                  [nzLoading]="isLoading">
          <thead>
          <tr>
            <th nzLeft>Tên Volume</th>
            <th nzBreakWord>Dung lượng (GB)</th>
            <th nzBreakWord>IOPS</th>
            <th nzBreakWord>Trạng thái Volume</th>
            <th nzBreakWord>Trạng thái tác vụ</th>
            <th nzBreakWord>Máy ảo</th>
            <th nzBreakWord>Thao tác</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of fixedTable.data">
            <td nzLeft><a [routerLink]="'/app-smart-cloud/volume/detail/' + data.id">{{data.name}}</a></td>
            <td nzBreakWord>{{data.sizeInGB}}</td>
            <td nzBreakWord>
              <div *ngIf="data.iops == null">200</div>
              <div *ngIf="data.iops != null">{{data.iops}}</div>
            </td>
            <td nzBreakWord>
              <div class="status" [ngSwitch]="data.status">
                                <span class="available" *ngSwitchCase="'KHOITAO'">
                                            Đang hoạt động
                                          </span>
                <span class="available" *ngSwitchCase="'CREATING'">
                                            Đang khởi tạo
                                          </span>
                <span class="suspended" *ngSwitchCase="'SUSPENDED'">
                                            Tạm dừng
                                          </span>
                <span class="suspended" *ngSwitchCase="'ERROR'">
                                            Lỗi
                                          </span>
                <span class="suspended" *ngSwitchCase="'DELETING'">
                                            Đang xóa
                                          </span>
              </div>
            </td>
            <td nzBreakWord>{{ data.serviceStatus }}</td>
            <td nzBreakWord>
              <div *ngIf="data.attachedInstances == null || data.attachedInstances.length <= 0">-</div>
              <div *ngIf="data.attachedInstances != null || data.attachedInstances.length > 0">
                <div *ngFor="let index of data.attachedInstances">{{index.instanceName}}</div>
              </div>
            </td>
            <td nzBreakWord>
              <div>
                <one-portal-attach-volume [region]="region"
                                          [project]="project"
                                          [volumeId]="data.id"
                                          [multiple]="data.isMultiAttach"
                                          [instanceInVolume]="data.attachedInstances"
                                          (onOk)="handleOkAttachVm()" />
                <one-portal-detach-volume [region]="region"
                                          [project]="project"
                                          [volumeId]="data.id"
                                          [isMultiple]="data.isMultiAttach"
                                          [instanceInVolume]="data.attachedInstances"
                                          (onOk)="handleOkDetachVm()"/>
                <span style="color: #0066B3; margin-right: 10px; cursor: pointer;" nz-icon nzType="calendar"
                      nzTheme="outline" nz-popover
                      [nzPopoverContent]="'Tạo Backup'"
                      nzPopoverPlacement="bottom" (click)="navigateToCreateBackup(data.id, data.creationDate, data.expirationDate, data.name)"></span>
                <one-portal-delete-volume [region]="region"
                                          [project]="project"
                                          [volumeId]="data.id"
                                          [volumeName]="data.name"
                                          (onOk)="handleOkDelete()"/>
                <span style="color: #0066B3;" class="more" nz-icon nzType="more" nzTheme="outline" nz-dropdown
                      [nzDropdownMenu]="opMenu"></span>
                <nz-dropdown-menu #opMenu="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item (click)="navigateToCreateScheduleBackup(data.id)">Tạo lịch Backup</li>
                    <li nz-menu-item (click)="navigateToCreateScheduleSnapshot()">Tạo lịch Snapshot</li>
                    <one-portal-update-volume [region]="region" [project]="project" [volume]="data" (onOk)="handleOkUpdate()"/>
                  </ul>
                </nz-dropdown-menu>
              </div>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <result>
          <nz-row>
            <nz-col class="text-center" style="width: 100%">
              <img src="/assets/imgs/volume.png" alt="" />
            </nz-col>
          </nz-row>
          <nz-row style="margin-top: 20px">
            <nz-col class="text-center" style="width: 100%">
              <span class="text-intro-title" style="color: #0066b3">Volume<br>Lưu trữ ổ đĩa máy chủ</span>
            </nz-col>
          </nz-row>
          <nz-row style="margin-top: 20px">
            <nz-col class="text-center" style="width: 100%">
                <span class="text-intro-desc">Dịch vụ cung cấp lưu trữ dạng Block cho máy chủ được thiết kế phân nhiều
                loại để đáp ứng nhiều ứng dụng đòi hỏi về mặt thông lượng hoặc dung lượng.</span>
            </nz-col>
          </nz-row>
          <button style="margin-top: 20px" nz-button [nzType]="'primary'" (click)="navigateToCreate()" nzSize="large">
            <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/cloud-plus-bold.svg" alt="" />
            Khởi tạo Volume
          </button>
        </result>
      </ng-container>
    </ng-container>
  </nz-card>
</nz-content>
<nz-content *ngIf="typeVPC == 1">
    <nz-card>
      <ng-container [ngSwitch]="isBegin">
        <ng-container *ngSwitchCase="false">
          <nz-row nzJustify="space-between">
            <nz-col nzSpan="16">
              <nz-select [(ngModel)]="selectedValue"
                         nzSize="large"
                         style="margin-right: 15px;"
                         (ngModelChange)="onChange($event)"
                         nzPlaceHolder="Tất cả trạng thái"
                         nzTooltipTitle="Tìm kiếm theo trạng thi"
                         nzTooltipPlacement="bottom"
                         nz-tooltip>
                <nz-option *ngFor="let item of options" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
              </nz-select>
              <nz-input-group
                style="width: 300px;"
                [nzPrefix]="prefixIconSearch"
                nzSize="large">
                <input
                  name="name"
                  nz-input
                  [(ngModel)]="value"
                  (input)="onInputChange($event.target['value'])"
                  placeholder="Tìm kiếm tên ..."/>
              </nz-input-group>
              <ng-template #prefixIconSearch>
                <img
                  src="assets/imgs/search.svg"
                  alt=""
                  style="cursor: pointer"
                  nz-tooltip="Tìm kiếm"/>
              </ng-template>
            </nz-col>
            <nz-col nzSpan="8" style="flex:none;">
              <button
                nz-button
                nzType="primary"
                nzSize="large"
                (click)="navigateToCreateVolumeVPC()">
                <img
                  style="padding-right: 10px; margin-top: -4px"
                  src="assets/imgs/add-circle.svg"
                  alt=""/>
                <span class="button-text-primary">Tạo mới Volume</span>
              </button>
            </nz-col>
          </nz-row>
          <nz-table #fixedTable2
                    style="margin-top: 20px;"
                    nzShowSizeChanger
                    [nzData]="response?.records"
                    [nzPageSize]="response?.pageSize"
                    (nzPageSizeChange)="onPageSizeChange($event)"
                    [nzPageIndex]="response?.currentPage"
                    (nzPageIndexChange)="onPageIndexChange($event)"
                    [nzTotal]="response?.totalCount"
                    [nzFrontPagination]="false"
                    [nzLoading]="isLoading">
            <thead>
            <tr>
              <th nzLeft>Tên Volume</th>
              <th nzBreakWord>Loại Volume</th>
              <th nzBreakWord>Dung lượng (GB)</th>
              <th nzBreakWord>IOPS</th>
              <th nzBreakWord>Trạng thái</th>
              <th nzBreakWord>Trạng thái tác vụ</th>
              <th nzBreakWord>Máy ảo</th>
              <th nzBreakWord>Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let i of fixedTable2.data">
              <td nzLeft><a [routerLink]="'/app-smart-cloud/volume/detail/' + i.id">{{i.name}}</a></td>
              <td nzBreakWord>{{i.volumeType}}</td>
              <td nzBreakWord>{{i.sizeInGB}}</td>
              <td nzBreakWord>
                <div *ngIf="i.iops == null">200</div>
                <div *ngIf="i.iops != null">{{i.iops}}</div>
              </td>
              <td nzBreakWord>
                <div class="status" [ngSwitch]="i.status">
                                <span class="available" *ngSwitchCase="'KHOITAO'">
                                            Đang hoạt động
                                          </span>
                  <span class="available" *ngSwitchCase="'CREATING'">
                                            Đang khởi tạo
                                          </span>
                  <span class="suspended" *ngSwitchCase="'SUSPENDED'">
                                            Tạm dừng
                                          </span>
                  <span class="suspended" *ngSwitchCase="'ERROR'">
                                            Lỗi
                                          </span>
                  <span class="suspended" *ngSwitchCase="'DELETING'">
                                            Đang xóa
                                          </span>
                </div>
              </td>
              <td nzBreakWord>{{ i.serviceStatus }}</td>
              <td nzBreakWord>
                <div *ngIf="i.instanceName == null">-</div>
                <div *ngIf="i.instanceName != null">{{i.instanceName}}</div>
              </td>
              <td>
                <div>
                  <one-portal-attach-volume [region]="region"
                                            [project]="project"
                                            [volumeId]="i.id"
                                            (onOk)="handleOkAttachVm()" />
<!--                  <div *ngIf="i.isMultiAttach == true"></div> -->
                  <one-portal-detach-volume [region]="region"
                                            [project]="project"
                                            [volumeId]="i.id"
                                            [isMultiple]="i.isMultiAttach"
                                            (onOk)="handleOkDetachVm()"/>
                  <span style="color: #0066B3; margin-right: 10px; cursor: pointer;" nz-icon nzType="calendar"
                        nzTheme="outline" nz-popover
                        [nzPopoverContent]="'Tạo Backup'"
                        nzPopoverPlacement="bottom" (click)="navigateToCreateBackup(i.id, i.creationDate, i.expirationDate, i.name)"></span>
                  <one-portal-delete-volume [region]="region"
                                            [project]="project"
                                            [volumeId]="i.id"
                                            (onOk)="handleOkDelete()"/>
                  <span style="color: #0066B3;" class="more" nz-icon nzType="more" nzTheme="outline" nz-dropdown
                        [nzDropdownMenu]="opMenu"></span>
                  <nz-dropdown-menu #opMenu="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item (click)="navigateToCreateScheduleBackup(i.id)">Tạo lịch backup</li>
                      <li nz-menu-item (click)="navigateToCreateScheduleSnapshot()">Tạo lịch Snapshot</li>
                      <one-portal-update-volume [region]="region" [project]="project" [volume]="i" (onOk)="handleOkUpdate()"/>
                    </ul>
                  </nz-dropdown-menu>
                </div>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <result>
            <nz-row>
              <nz-col class="text-center" style="width: 100%">
                <img src="/assets/imgs/volume.png" alt="" />
              </nz-col>
            </nz-row>
            <nz-row style="margin-top: 20px">
              <nz-col class="text-center" style="width: 100%">
                <span class="text-intro-title" style="color: #0066b3">Volume<br>Lưu trữ ổ đĩa máy chủ</span>
              </nz-col>
            </nz-row>
            <nz-row style="margin-top: 20px">
              <nz-col class="text-center" style="width: 100%">
                <span class="text-intro-desc">Dịch vụ cung cấp lưu trữ dạng Block cho máy chủ được thiết kế phân nhiều
                loại để đáp ứng nhiều ứng dụng đòi hỏi về mặt thông lượng hoặc dung lượng.</span>
              </nz-col>
            </nz-row>
            <button style="margin-top: 20px" nz-button [nzType]="'primary'" (click)="navigateToCreate()" nzSize="large">
              <img style="padding-right: 10px; margin-top: -4px" src="assets/imgs/cloud-plus-bold.svg" alt="" />
              Khởi tạo Volume
            </button>
          </result>
        </ng-container>
      </ng-container>
    </nz-card>
</nz-content>

